<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-icon size="sm" name="fas fa-users"/> Usuarios
        </div>
      </q-card-section>
    </q-card>
    <br>
    <div class="row q-col-gutter-sm">
      <div v-if="can('structure-view')" class="col-xs-12 col-sm-6 col-md-4">
        <q-card class="my-card bg-secondary" >
          <q-card-section class="text-white" >
            <q-item clickable v-ripple  @click.native="$router.push('/structure').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-network-wired"  style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Estructura</div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div v-if="can('users-view')" class="col-xs-12 col-sm-6 col-md-4">
        <q-card  class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple  @click.native="$router.push('/admin/users').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-users"  style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Creación de Usuarios</div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div v-if="can('roles-view')" class="col-xs-12 col-sm-6 col-md-4">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white">
            <q-item clickable v-ripple  @click.native="$router.push('/admin/profiles').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-address-book" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Roles y Permisos </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div v-if="can('positions-view')" class="col-xs-12 col-sm-6 col-md-4">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white">
            <q-item clickable v-ripple  @click.native="$router.push('/positions').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-briefcase" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Puestos </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>
      <div v-if="can('assistant-view')" class="col-xs-12 col-sm-6 col-md-4">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple  @click.native="$router.push('/admin/assistants').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="people_alt"  style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Asistentes</div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple  @click.native="$router.push('/admin/logbook').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-book"  style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Bitacora</div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>
