<template>
  <div class="q-gutter-md">
    <q-card>
      <q-card-section>
        <div class="row">
          <div class="col-12 text-h6" align="center">
            <q-icon size="sm" name="fas fa-satellite-dish" /> API Central
          </div>
        </div>
      </q-card-section>
    </q-card>
    <q-card>
      <q-card-section>
        <div class="q-pa-md">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="q-pl-xl">
                <p class="text-center">
                  Token: {{ token }} <br> <br>
                  Estatus: {{messageCentralAPI}} <br>
                </p>
                <p class="text-center" v-if="expirationToken != null">
                  Emisión del Token: {{emitionToken}} <br>
                  Expiración del Token: {{expirationToken}} <br>
                  Token asignado a: {{userToken}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>
    <Available/>
  </div>
</template>

<script>
import * as CentralAPIService from 'src/services/CentralAPIService';
import Available from 'src/components/centralapi/partials/Available';

export default {
  components: {
    Available
  },
  data() {
    return {
      token: '',
      messageCentralAPI: '',
      expirationToken: '',
      emitionToken: '',
      userToken: '',
      data: [],
      entities: [],
      entity: '',
    };
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val);
      },
    },
    config: {
      get() {
        return this.$store.state.config;
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      },
    },
  },
  created() {
    CentralAPIService.get().then((data) => {
      this.data = data
      this.messageCentralAPI = data.message.message;
      this.token = data.token;
      this.expirationToken = data.message.days_expiration_token;
      this.emitionToken = data.message.accessRequest.token_date;
      this.userToken = data.message.accessRequest.name;
    });
    CentralAPIService.getEntities().then((data) => {
      this.entities = data
    });
    const catalogsConfiguration = {
      users: true,
      people: true,
      cat_doc_types: true,
      cat_recep_meds: true,
      cat_priorities: true,
      cat_to_docs: true,
    };
    console.log(this.user);
    this.$store.commit('reception/reset');
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
  },
  methods: {
  }
};
</script>
