<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-icon size="sm" name="fas fa-cogs"/> Configuración Interna
        </div>
      </q-card-section>
    </q-card>
    <br>
    <q-card flat>
      <q-tabs
        v-model="tab"
          dense
          active-color="black"
          indicator-color="black"
          align="justify"
          narrow-indicator
          class="text-grey shadow-2"
      >
        <q-tab name="dashboard" label="Dashboard" />
        <q-separator vertical />
        <q-tab name="movements" label="Lista de documentos" />
      </q-tabs>

      <q-separator />

      <!-- Dashboard -->
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="dashboard">
          <div class="q-gutter-md">
            <!-- Enviados -->
            <q-card flat bordered>
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 q-ml-md q-pt-md text-subtitle1">
                  <h5>Documentos Enviados</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-2 q-mt-sm">
                  <q-input dense outlined v-model="modelEnviados.from" mask="##/##/####" label="Fecha Inicial" class="q-ma-md">
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-2 q-mt-sm">
                  <q-input dense outlined v-model="modelEnviados.to" mask="##/##/####" label="Fecha Final" class="q-ma-md">
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-3 q-mt-lg">
                  <q-btn color="secondary" icon="event" label="Rango de búsqueda">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date v-model="modelEnviados" :options="optionsFn" mask="DD/MM/YYYY" first-day-of-week="0" range>
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Cerrar" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-btn>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 q-mt-md">
                  <apexchart width="100%" height="250px" type="bar" :options="chartOptions" :series="series" ref="realtimeChart"></apexchart>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 q-mt-md">
                  <q-card flat class="my-card">
                    <q-card-section>
                      <div class="text-h5 text-center">Total</div>
                    </q-card-section>
                    <q-card-section>
                      <div class="text-h4 text-center">{{ total }}</div>
                    </q-card-section>
                  </q-card>
                </div>
              </div>
            </q-card>
            <!-- Recibidos -->
            <q-card flat bordered>
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 q-ml-md q-pt-md text-subtitle1">
                  <h5>Documentos Recibidos</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-2 q-mt-sm">
                    <q-input dense outlined v-model="modelRecibidos.from" mask="##/##/####" label="Fecha Inicial" class="q-ma-md">
                    </q-input>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-2 q-mt-sm">
                    <q-input dense outlined v-model="modelRecibidos.to" mask="##/##/####" label="Fecha Final" class="q-ma-md">
                    </q-input>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-3 q-mt-lg">
                    <q-btn color="secondary" icon="event" label="Rango de búsqueda">
                      <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                        <q-date v-model="modelRecibidos" :options="optionsFn" mask="DD/MM/YYYY" first-day-of-week="0" range>
                          <div class="row items-center justify-end">
                            <q-btn v-close-popup label="Cerrar" color="primary" flat />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-btn>
                  </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 q-mt-md">
                  <apexchart width="100%" height="250px" type="bar" :options="chartOptionsR" :series="seriesR" ref="realtimeChartR"></apexchart>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 q-mt-md">
                  <q-card flat class="my-card">
                    <q-card-section>
                      <div class="text-h5 text-center">Total</div>
                    </q-card-section>
                    <q-card-section>
                      <div class="text-h4 text-center">{{ totalR }}</div>
                    </q-card-section>
                  </q-card>
                </div>
              </div>
            </q-card>
            <div class="row">
            </div>
          </div>
        </q-tab-panel>

        <!-- Movimientos -->
        <q-tab-panel name="movements">
          <q-card flat bordered >
            <q-btn class="float-left q-mt-sm q-ml-sm" flat size="md" @click="filtersDialog=true" color="primary" icon="filter_alt" />
            <q-table
              :data="data"
              :columns="columns"
              separator="vertical"
              :pagination.sync="pagination"
              :loading="loading"
              @request="onRequest"
              :filter="search"
            >
              <template v-slot:top-right>
                <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </template>
              <template v-slot:body="props">
                <q-tr :props="props" class="cursor-pointer">
                  <q-td key="acronimoOrigen" :props="props">
                    {{ props.row.acronimoOrigen }}
                  </q-td>
                  <q-td key="acronimoDestino" :props="props">
                    {{ props.row.acronimoDestino }}
                  </q-td>
                  <q-td key="folio" :props="props">
                    {{ props.row.folio }}
                  </q-td>
                  <q-td key="status" :props="props">
                    {{ props.row.status_id == 1 ? 'Entregado':'No entregado' }}
                  </q-td>
                  <!-- <q-td key="actions" :props="props">
                    <q-btn-group>
                      <q-btn round size="sm" color="primary" icon="feedback" @click="info(props.row)"/>
                    </q-btn-group>
                  </q-td> -->
                </q-tr>
              </template>
              <template v-slot:no-data="{ }">
                <div class="full-width row flex-center q-gutter-sm">
                  <q-icon size="2em" name="sentiment_dissatisfied" />
                  <span>
                    No se encontraron resultados
                  </span>
                </div>
              </template>
            </q-table>
          </q-card>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
    <q-dialog v-model="filtersDialog">
      <q-card>
        <q-card-section>
          <div class="text-h6">
            <q-icon size="sm" name="filter_alt"/>
            Filtros
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section class="q-pt-none">
          <div class="row q-col-gutter-lg q-mt-none">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <q-select
                outlined
                :options="statusOption"
                v-model="status"
                label="Estatus"
              />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <q-select
                outlined
                :options="priorityOption"
                v-model="priority"
                label="Prioridad"
              />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <q-input outlined v-model="dateCreation" mask="date" label="Fecha de creación">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date v-model="dateCreation" first-day-of-week="0">
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Cerrar" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <q-input outlined v-model="dateCommitment" mask="date" label="Fecha compromiso">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date v-model="dateCommitment" first-day-of-week="0">
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Cerrar" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Aplicar" color="primary" v-close-popup/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <Available/>
    <q-dialog v-model="infoDialog">
      <q-card style="width: 800px; max-width: 80vw;">
        {{ affair }}
        <q-card-actions align="right">
          <q-btn flat label="Reintentar" color="primary" v-close-popup v-if="affair.status_id == 2" @click="retry(affair.id)"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts';
import * as StatisticsService from 'src/services/admin/ApiCentralStatisticsService';
import Available from 'src/components/centralapi/partials/Available';

export default {
  components: {
    apexchart: VueApexCharts, Available
  },
  mounted() {
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
  },
  data() {
    return {
      affair: {},
      infoDialog: false,
      tableDialog: false,
      filtersDialog: false,
      date: '',
      modelEnviados: {},
      modelRecibidos: {},
      tab: 'dashboard',
      docOptions: [ // opciones
        'Documentos enviados sin responder', 'Documentos recibidos sin responder'
      ],
      docUnit: [
        'Unidad 1',
        'Unidad 2',
        'Unidad 3',
        'Unidad 4',
        'Unidad 5',
      ],
      docStatus: 'Documentos enviados sin responder',
      unitStatus: 1,
      docIn: '1523',
      docFail: '2',
      docNoSend: '1',
      gSort: 'desc',
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: ''
      },
      loading: false,
      search: '',
      columns: [ // tabla de movimientos
        { name: 'acronimoOrigen', align: 'center', label: 'Entidad/Salida', field: 'acronimoOrigen', sortable: true },
        { name: 'acronimoDestino', align: 'center', label: 'Entidad/Destino', field: 'acronimoDestino', sortable: true },
        { name: 'folio', align: 'center', label: 'Folio', field: 'folio' },
        { name: 'status', align: 'center', label: 'Estatus', field: 'status' },
        // { name: 'actions', align: 'center', label: 'Acciones', field: 'id' },
      ],
      data: [],
      chartOptions: {},
      series: [],
      chartOptionsR: {},
      seriesR: [],
      chartOptions1: { // información de la opción 1
        chart: {
          type: 'bar',
          zoom: {
            enabled: false
          }
        },
        xaxis: { // grafica principal
          categories: []
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        colors: ['#621132', '#B28E5C', '#D4C19C'],
      },
      series1: [
        { // urgente para todas las dependencias
          name: 'Urgente',
          data: []
        },
        { // normal para todas las dependencias
          name: 'Alta',
          data: []
        },
        { // baja para todas las dependencias
          name: 'Baja',
          data: []
        },
      ],
      chartOptions2: { // información de la opción 2
        chart: {
          type: 'bar',
          zoom: {
            enabled: false
          }
        },
        xaxis: {
          categories: []
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        colors: ['#621132', '#B28E5C', '#D4C19C'],
      },
      series2: [
        {
          name: 'Urgente',
          data: []
        },
        {
          name: 'Alta',
          data: []
        },
        {
          name: 'Baja',
          data: []
        },
      ],
      total: 0,
      totalR: 0,
      chartOptions3: { // grafica 3
        chart: {
          type: 'bar',
          zoom: {
            enabled: false
          }
        },
        xaxis: {
          categories: ['Creación', 'Compromiso']
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        colors: ['#621132', '#B28E5C', '#D4C19C'],
      },
      series3: [
        {
          name: 'Urgente',
          data: [8, 1]
        },
        {
          name: 'Normal',
          data: [21, 5]
        },
        {
          name: 'Baja',
          data: [15, 10]
        },
      ],
      chartOptions4: { // grafica 4
        chart: {
          type: 'donut',
          zoom: {
            enabled: false
          }
        },
        xaxis: {
          categories: ['Documentos Internos']
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        colors: ['#621132', '#B28E5C', '#D4C19C'],
        labels: ['Urgente', 'Alta', 'Baja'],
        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                total: {
                  showAlways: true,
                  show: true
                }
              }
            }
          }
        },
      },
      series4: [5, 16, 10],
      statusOption: ['Enviado', 'Leído', 'Finalizado', 'Rechazado'],
      status: '',
      priorityOption: [
        'Baja', 'Normal', 'Urgente'
      ],
      priority: '',
      dateCreation: '',
      dateCommitment: '',
      optionsFn(date) {
        const newDate = new Date()
        const year = newDate.getFullYear()
        const month = (newDate.getMonth() + 1)
        const day = `${newDate.getDate() >= 9 ? '' : '0'}${newDate.getDate()}`
        const today = `${year}/${month}/${day}`;
        return date <= today
      },
    }
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
  },
  created() {
    StatisticsService.getApiCentralStatistics({ params: { fcIni: this.modelEnviados.from, fcFin: this.modelEnviados.to, type: 2 } })
      .then((data) => {
        data.data.forEach((element) => {
          this.chartOptions1.xaxis.categories.push(element.acronym)
        });
        data.data.forEach((element) => {
          this.series1[0].data.push(element.urgente);
        });
        data.data.forEach((element) => {
          this.series1[1].data.push(element.alta);
        });
        data.data.forEach((element) => {
          this.series1[2].data.push(element.baja);
        });
        this.chartOptions = this.chartOptions1
        this.series = this.series1
        this.total = data.total
      })
      .catch(() => {
        this.$q.loading.hide();
      });
    StatisticsService.getApiCentralStatistics({ params: { fcIni: this.modelEnviados.from, fcFin: this.modelEnviados.to, type: 1 } })
      .then((data) => {
        data.data.forEach((element) => {
          this.chartOptions2.xaxis.categories.push(element.acronym)
        });
        data.data.forEach((element) => {
          this.series2[0].data.push(element.urgente);
        });
        data.data.forEach((element) => {
          this.series2[1].data.push(element.alta);
        });
        data.data.forEach((element) => {
          this.series2[2].data.push(element.baja);
        });
        this.chartOptionsR = this.chartOptions2
        this.seriesR = this.series2
        this.totalR = data.total
      })
      .catch(() => {
        this.$q.loading.hide();
      });
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
    const catalogsConfiguration = { units: true };
    this.$q.loading.show();
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      this.$q.loading.hide();
    });
  },
  methods: {
    updateChar() {
      console.log('check')
      if (this.docStatus === this.docOptions[0]) {
        this.chartOptions = this.chartOptions1
        this.series = this.series1
      } else if (this.docStatus === this.docOptions[1]) {
        this.chartOptions = this.chartOptions2
        this.series = this.series2
      }
    },
    openDialog(event, chart, config) {
      console.log(event, chart, config)
      this.tableDialog = true
    },
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination
      const { search } = this
      this.loading = true
      StatisticsService.getDataDocuments({ params: { page, rowsPerPage, search } }).then((results) => {
        this.data = results.data
        this.pagination.rowsPerPage = results.per_page
        this.pagination.page = results.current_page
        this.pagination.rowsNumber = results.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
    info(affair) {
      this.affair = affair
      this.infoDialog = true
    },
    retry(id) {
      this.$q.loading.show();
      StatisticsService.retryAffair({}, id).then(() => {
        this.$q.loading.hide();
      }).catch(() => {
        this.$q.loading.hide();
      }).finally(() => {
        this.onRequest({
          pagination: this.pagination,
          filter: undefined
        })
      });
    }
  },
  watch: {
    modelEnviados(value) {
      // console.log(value);
      StatisticsService.getApiCentralStatistics({ params: { fcIni: value.from, fcFin: value.to, type: 2 } })
        .then((data) => {
          this.chartOptions1.xaxis.categories = []
          this.series1[0].data = []
          this.series1[1].data = []
          this.series1[2].data = []
          data.data.forEach((element) => {
            this.chartOptions1.xaxis.categories.push(element.acronym)
          });
          data.data.forEach((element) => {
            this.series1[0].data.push(element.urgente);
          });
          data.data.forEach((element) => {
            this.series1[1].data.push(element.alta);
          });
          data.data.forEach((element) => {
            this.series1[2].data.push(element.baja);
          });

          this.chartOptions = this.chartOptions1
          this.series = this.series1
          this.total = data.total
          this.$refs.realtimeChart.updateSeries(
            [
              {
                data: this.series1[0].data,
              },
              {
                data: this.series1[1].data,
              },
              {
                data: this.series1[2].data,
              },
            ],
            false,
            true
          );
          this.$refs.realtimeChart.updateOptions(
            {
              xaxis: {
                categories: this.chartOptions1.xaxis.categories
              },
            }
          );
        })
        .catch(() => {
          this.$q.loading.hide();
        });
    },
    modelRecibidos(value) {
      // console.log(value);
      StatisticsService.getApiCentralStatistics({ params: { fcIni: value.from, fcFin: value.to, type: 1 } })
        .then((data) => {
          this.chartOptions2.xaxis.categories = []
          this.series2[0].data = []
          this.series2[1].data = []
          this.series2[2].data = []
          data.data.forEach((element) => {
            this.chartOptions2.xaxis.categories.push(element.acronym)
          });
          data.data.forEach((element) => {
            this.series2[0].data.push(element.urgente);
          });
          data.data.forEach((element) => {
            this.series2[1].data.push(element.alta);
          });
          data.data.forEach((element) => {
            this.series2[2].data.push(element.baja);
          });

          this.chartOptionsR = this.chartOptions2
          this.seriesR = this.series2
          this.totalR = data.total
          this.$refs.realtimeChartR.updateSeries(
            [
              {
                data: this.series2[0].data,
              },
              {
                data: this.series2[1].data,
              },
              {
                data: this.series2[2].data,
              },
            ],
            false,
            true
          );
          this.$refs.realtimeChartR.updateOptions(
            {
              xaxis: {
                categories: this.chartOptions2.xaxis.categories
              },
            }
          );
        })
        .catch(() => {
          this.$q.loading.hide();
        });
    },
    unitStatus(value) {
      console.log(value)
    }
  },
}
</script>
