<template>
  <div class="q-gutter-md">
    <q-card>
      <q-card-section align="center">
        <div class="row" >
          <div class="col-11 text-h6">
            <q-icon size="sm" name="fab fa-leanpub"/> Histórico
          </div>
        </div>
      </q-card-section>
    </q-card>
    <Historical/>
  </div>
</template>

<script>
import Historical from './Table';

export default {
  components: {
    Historical,
  },
  beforeCreate() {
    this.$urlActual = '/historical';
    console.log('urlActual', this.$urlActual)
  },
}
</script>
