<template>
  <div>
    <q-table
      :data="data"
      :columns="columns"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      :filter="search"
      :visible-columns="visibleColumns"
    >
      <template v-slot:top-right>
        <q-btn flat round color="primary" icon="refresh" @click="onRequest({
          pagination: pagination,
          filter: undefined
        })"/>
      </template>

      <template v-slot:top-left>
        <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:body="props" >
        <q-tr :props="props" style="cursor: pointer">
          <q-td key="subject" :props="props" @click="$router.push(`internal-affair/${props.row.id}/edit`)">
            {{ props.row.subject }}
          </q-td>
          <q-td key="folio" :props="props" @click="$router.push(`internal-affair/${props.row.id}/edit`)">
            {{ props.row.folio }}
          </q-td>
          <q-td key="controlfolio" :props="props" @click="redirectEdit(props.row.id, props.row.affair_type)">
            {{ props.row.controlfolio }}
          </q-td>
          <q-td key="document_date" :props="props" @click="$router.push(`internal-affair/${props.row.id}/edit`)">
            {{ props.row.created_date }}
          </q-td>
          <q-td key="status" :props="props" @click="$router.push(`internal-affair/${props.row.id}/edit`)">
            {{ props.row.affair_status }}
          </q-td>
          <q-td auto-width>
            <q-btn-group flat>
              <q-btn v-if="(props.row.affair_status_id === 1)" flat round size="md" @click="editOffice(props.row.id)" color="primary" icon="description">
                <q-tooltip>Editar</q-tooltip>
              </q-btn>
              <q-btn v-if="(props.row.affair_status_id > 2)" flat round size="sm" @click="render(props.row.id)" color="primary" icon="fas fa-eye">
                <q-tooltip>Ver asunto</q-tooltip>
              </q-btn>
            </q-btn-group>
          </q-td>
        </q-tr>
      </template>
      <template v-slot:no-data="{ }">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span>
            No se encontraron resultados
          </span>
        </div>
      </template>
    </q-table>
    <q-dialog v-model="officeDialog" full-height full-width>
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import * as BoxesService from 'src/services/global/BoxesService';
import * as UploadFileService from 'src/services/global/UploadFileService';

export default {
  mounted() {
    // get initial data from server (1st page)
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
  },
  data() {
    return {
      officeDialog: false,
      affairId: '',
      data: [],
      visibleColumns: ['subject', 'folio', 'controlfolio', 'document_date', 'status', 'actions'],
      loading: false,
      gSort: 'desc',
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: '',
        sortBy: ''
      },
      search: '',
      columns: [
        { name: 'subject', align: 'center', label: 'Asunto', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
        { name: 'folio', align: 'center', label: 'Folio', field: 'folio', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
        { name: 'document_date', align: 'center', label: 'Fecha de Creación', field: 'document_date', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
        { name: 'status', align: 'center', label: 'Estatus', field: 'status', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
        { name: 'actions', align: 'center', label: '', field: 'actions' },
      ],
      src: '',
    };
  },
  methods: {
    onRequest(props) {
      const { page, rowsPerPage, sortBy } = props.pagination
      const { search } = this
      this.loading = true
      const positionId = window.sessionStorage.getItem('position_id');
      if (sortBy === 'document_date' || sortBy === 'status' || sortBy === 'subject' || sortBy === 'folio') {
        this.gSort = (this.gSort === 'asc') ? 'desc' : 'asc'
      }
      BoxesService.historical({ params: { page, rowsPerPage, search, sortBy, order: this.gSort, position_id: positionId } }).then((pagination) => {
        this.data = pagination.data
        this.pagination.rowsPerPage = pagination.per_page
        this.pagination.page = pagination.current_page
        this.pagination.rowsNumber = pagination.total
        this.pagination.sortBy = pagination.sortBy
        this.loading = false
      }).catch((err) => {
        console.log(err)
        this.loading = false
      });
    },
    render(id) {
      UploadFileService.showFile(id).then((file) => {
        this.src = window.URL.createObjectURL(new Blob([file.data]));
        this.officeDialog = true;
      }).catch((err) => {
        console.log(err)
      })
    },
    showHistory(affairChainId) {
      this.affairChainId = affairChainId
      this.historyDialog = true
    },
    renderOffice(id) {
      this.affairId = id
      this.officeDialog = true
    },
  },
};
</script>
