<template>
  <q-card style="width: 700px; max-width: 80vw; height: 490px;">
    <q-card-section class="row items-center">
      <q-icon name="timeline" color="primary" :size="'lg'"/>
      <span class="q-ml-md text-h6">Seguimiento</span>
      <q-space />
      <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
    </q-card-section>

    <template>
      <div class="q-pa-md">
        <q-item>
          <q-item-section avatar>
            <q-icon color="primary" name="send" />
          </q-item-section>

          <q-item-section class="q-ml-md text-subtitle2">Remitente: {{ form.from.position_name }}
            <q-item-label caption>{{ form.from.full_name }}</q-item-label>
          </q-item-section>
        </q-item>
      </div>
    </template>

    <q-card-section class="scroll q-px-xl">
      <q-tree
        :nodes="turnLogdata.turns"
        node-key="label"
        default-expand-all
      >

        <template v-slot:default-header="prop">
          <div class="row items-center">
            <q-icon :name="prop.node.status_id === 3 ? 'done':prop.node.status_id === 2 ?
            'pending':prop.node.status_id === 4 ? 'border_color':prop.node.status_id === 1 ?
            'contact_support':prop.node.status_id === 5 ? 'block':prop.node.status_id === 6 ?
            'cancel':''" color='primary' size="28px" class="q-mr-sm" />
            <div class="text-weight-bold">{{ prop.node.label }}</div>
          </div>
        </template>

        <template v-slot:default-body="prop">
          <div v-for="event in prop.node.events" :key="event.id">
            <span>{{ event.name }}</span>
            <span class="text-caption">
                : {{ new Date(event.created_at).getDate() }}/{{ (new Date(event.created_at).getMonth()+1) }}/{{ new Date(event.created_at).getFullYear() }}
                a las: {{ new Date(event.created_at).getHours() }}:{{ (new Date(event.created_at).getMinutes()).toString().length === 1 ? `0${(new Date(event.created_at).getMinutes()).toString()}` : new Date(event.created_at).getMinutes()}}
            </span>
            <div v-if="event.name === 'Rechazado'">
              <span>Razón de Rechazo: {{event.reject_reason}}</span>
            </div>
          </div>
          <!-- <div v-if="prop.node.status_id == 5">
            <span>Razón de Rechazo: {{prop.node.reject_reason}}</span>
          </div> -->
        </template>
      </q-tree>
    </q-card-section>
  </q-card>
</template>

<script>
import * as TurnService from 'src/services/TurnService';

export default {
  props: {
    form: Array,
  },
  data() {
    return {
      turnLogdata: {},
    }
  },
  created() {
    const { id } = this.$route.params;
    this.$q.loading.show();
    TurnService.getLog(id).then((data) => {
      this.turnLogdata = data
      this.$q.loading.hide();
    }).catch((err) => {
      this.$q.loading.hide();
      console.log(err)
    })
  }
}
</script>
