<template>
  <div>
    <!-- {{annexes}} -->
    <q-card-section>
      <q-card bordered flat>
        <q-card-section style="height: 45vh" class="scroll">
          <q-item v-for="annexe in annexes " :key="annexe.id">
            <q-item-section side>
              <q-avatar rounded size="48px">
                <img v-if="annexe.filetype === 'pdf'" src="~assets/img/pdf.png"  alt=""/>
                <img v-if="annexe.filetype === 'zip'" src="~assets/img/zip.png"  alt=""/>
                <img v-if="annexe.filetype === 'rar'" src="~assets/img/rar.png"  alt=""/>
                <img v-if="annexe.filetype === 'doc'" src="~assets/img/word.png"  alt=""/>
                <img v-if="annexe.filetype === 'xls'" src="~assets/img/excel.png"  alt=""/>
                <img v-if="annexe.filetype === 'ppt'" src="~assets/img/ppt.png"  alt=""/>
                <img v-if="annexe.filetype === 'docx'" src="~assets/img/word.png"  alt=""/>
                <img v-if="annexe.filetype === 'xlsx'" src="~assets/img/excel.png"  alt=""/>
                <img v-if="annexe.filetype === 'pptx'" src="~assets/img/ppt.png"  alt=""/>
                <img v-if="annexe.filetype === 'odt'" src="~assets/img/low.png"  alt=""/>
                <img v-if="annexe.filetype === 'ods'" src="~assets/img/loe.png"  alt=""/>
                <img v-if="annexe.filetype === 'odp'" src="~assets/img/lop.png"  alt=""/>
              </q-avatar>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{annexe.originalname}}</q-item-label>
            </q-item-section>
            <q-item-section side>
              <div class="text-grey-8 q-gutter-xs">
                <q-btn v-if="annexe.filetype === 'pdf'" class="gt-xs" size="12px" flat dense round icon="fas fa-eye" @click="renderpdf(annexe.id)"/>
                <q-btn class="gt-xs" size="12px" flat dense round icon="fas fa-download" @click="descargaFile(annexe.id, annexe.originalname)"/>
                <q-btn v-if="affairStatusId < 3" class="gt-xs" size="12px" flat dense round icon="delete" @click="deleteFile(annexe.id)"/>
              </div>
            </q-item-section>
          </q-item>
        </q-card-section>
      </q-card>
    </q-card-section>

    <q-separator></q-separator>

    <q-card-section v-if="affairStatusId < 3 ">
      <div class="row">
        <div class="col-10">
          <q-file v-model="annexeFile" outlined use-chips accept=".pdf, .zip, .rar, .odt, .ods, .odp, .doc, .xls, .ppt, .docx, .xlsx, .pptx" label="Archivo" multiple counter :max-total-size="totalMaxSize" @rejected="excedido()">
            <template v-slot:append>
              <q-btn round dense flat icon="scanner"/>
            </template>
          </q-file>
        </div>
        <div class="col-2">
          <q-btn v-if="can('document-attach')" flat label="Adjuntar" color="primary" @click="addAnnexe()" />
        </div>
      </div>
      <br>
    </q-card-section>
    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import * as AttachedFileService from 'src/services/AttachedFileService';
import { notifyAlert } from 'src/utils/notify';

export default {
  props: {
    affairStatusId: Number,
    numAttached: Number,
    attachedFiles: Array
  },
  data() {
    return {
      annexeFile: [],
      annexes: [],
      src: '',
      officeDialog: false,
      totalMaxSize: 10485760,
    }
  },
  computed: {
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  methods: {
    addAnnexe() {
      const { id } = this.$route.params;
      const formData = new FormData();
      const current = this.$route.path
      console.log(current)
      const expression = '/output-affair/([^ ]*)/office'
      const regex = new RegExp(expression);
      // formData.append('document', this.annexeFile);
      formData.append('affair_id', id);
      if (this.annexeFile.length > 0) {
        for (let i = 0; i < this.annexeFile.length; i += 1) {
          // formData.append('document[' + i + ']', this.annexeFile[i])
          formData.append(`document[${i}]`, this.annexeFile[i])
        }
      }
      this.$q.loading.show();
      // this.$emit('sum-attached');
      AttachedFileService.upload(formData).then(() => {
        // this.$q.notify('Se ha subido el documento correctamente');
        if (current.match(regex)) {
          this.$q.notify({
            icon: 'announcement',
            type: 'warning',
            position: 'bottom',
            multiLine: true,
            message: 'Los archivos adjuntos, quedarán resguardados en la plataforma del control de gestión y asociados a este mismo documento. <br>Es responsabilidad del usuario que genera el documento y adjunta los archivos, entregarlos al destinario(s) de forma física o digital.',
            html: true,
            timeout: 9000,
            actions: [
              { label: 'Entendido', color: 'white', handler: () => { /* ... */ } }
            ]
          });
        }
        this.$q.notify({
          icon: 'cloud_upload',
          color: 'positive',
          position: 'top-right',
          textColor: 'white',
          message: 'Se ha subido el documento correctamente',
        });
        this.annexeFile = [];
        AttachedFileService.fileAnnexes(id).then((data) => {
          this.annexes = data.annexes
          // this.$props.numAttached = data.cant
          // this.$emit('sum-attached', data.cant);
          this.$emit('sum-attached', data.cant);
        }).catch((err) => {
          console.log(err)
        })
      }).catch((err) => {
        this.$q.notify({
          icon: 'cloud_upload',
          color: 'warning',
          position: 'top-right',
          textColor: 'white',
          message: err.response.data.message,
        });
        this.annexeFile = [];
      }).finally(() => {
        this.$q.loading.hide();
      })
    },
    renderpdf(id) {
      this.src = `${this.$axios.defaults.baseURL}/api/attached-files/show/${id}/attached_file`;
      this.officeDialog = true;
    },
    deleteFile(fileId) {
      const { id } = this.$route.params;
      this.$q.loading.show();
      AttachedFileService.destroy(fileId).then(() => {
        this.$q.notify('Se ha eliminado el documento correctamente');
        AttachedFileService.fileAnnexes(id).then((data) => {
          this.annexes = data.annexes
          // this.$props.numAttached = data.cant
          this.$emit('sum-attached', data.cant);
        }).catch((err) => {
          console.log(err)
        })
      }).catch((err) => {
        console.log(err)
      }).finally(() => {
        this.$q.loading.hide();
      })
    },
    descargaFile(id, name) {
      console.log(id)
      AttachedFileService.getCompresedFile(id).then((data) => {
        // console.log(data, type);
        // const fileName = `${name} .${type}`;
        const fileName = name;
        const fileURL = window.URL.createObjectURL(new Blob([data]));
        const fileLink = document.createElement('a');
        fileLink.href = fileURL;
        fileLink.setAttribute('download', fileName);
        document.body.appendChild(fileLink);
        fileLink.click();
      }).catch((err) => {
        console.log(err)
      })
    },
    maxsize() {
      const size = this.user.permissions.filter((obj) => obj === 'document-attached-50mb')
      const maxsize = size.length > 0 ? '52428800' : '10485760'
      this.totalMaxSize = maxsize
    },
    excedido() {
      const msg = (this.totalMaxSize === '52428800') ? 'Peso maximo excedido, 50MB como maximo' : 'Peso maximo excedido, 10MB como maximo'
      notifyAlert(msg)
    }
  },
  created() {
    const { id } = this.$route.params;
    console.log(id);
    if (id === undefined) {
      this.annexes = this.attachedFiles
    } else {
      this.$q.loading.show();
      this.maxsize()
      const catalogsConfiguration = {
        units: true,
        position: true,
        cat_doc_types: true,
        cat_recep_meds: true,
        cat_priorities: true,
      };
      this.$q.loading.show();
      this.$store
        .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
        .then(() => {
          this.$q.loading.hide();
        });
      AttachedFileService.fileAnnexes(id).then((data) => {
        this.annexes = data.annexes
        // this.$props.numAttached = data.cant
        console.log(data)
        // this.$props.numAttached = 2
        this.$emit('sum-attached', data.cant);
        this.$q.loading.hide();
      }).catch((err) => {
        console.log(err)
        this.$q.loading.hide();
      })
    }
  }
}
</script>
