<template>
  <div>
    <!-- {{from}} -->
    <div class="row q-col-gutter-sm">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <q-card flat>
          <div class="text-h6">
            <q-btn class="float-right" round size="sm" @click="dialogSender=true;" outline color="primary" icon="fas fa-plus"/>
          </div>
          <div class="row q-col-gutter-sm q-mt-sm">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="text-h6 q-ml-md">
                <q-icon size="sm" color="primary" name="mail"/> Agregar remitente
              </div>
              <q-card
                flat
                bordered
                class="row q-col-gutter-sm q-mt-md q-py-md q-ml-md items-center"
                v-for="(user) in toSenders"
                :key="user.id">
                <div class="col-10">
                  <div class="row">
                    <div class="col-3 text-center" @mouseover="user.hover = true">
                      <q-avatar size="30px">
                        <img src="~assets/img/harry.png" alt="">
                      </q-avatar>
                    </div>
                    <div class="col-7 text-subtitle1">
                      {{ `${user.full_name} / ${user.unit}` }}
                    </div>
                  </div>
                </div>
                <q-btn round dense flat icon="close" v-if="(!user.signed)" @click="Delete(user.id)"/>
              </q-card>
            </div>
          </div>
        </q-card>
      </div>
    </div>
    <q-dialog v-model="dialogSender" persistent>
      <q-card style="width: 450px">
        <q-card-section class="q-pb-none">
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="mail"/> Agregar destino
          </div>
        </q-card-section>
        <q-separator/>
        <q-card-section class="q-pt-none">
          <q-form
            ref="sendersForm"
          >
            <q-select clearable v-model="peopleSender.user" class="q-mt-lg"
              :loading="loadingResponsible"
              outlined
              option-value="id"
              option-label="full_name"
              :options="ResponsibleOptions"
              use-input
              hide-selected
              fill-input
              label="Persona"
              @filter="searchResponsible"
              @input="peopleSender.position_id == peopleSender.user.position_id"
              :rules="[$rules.required($i18n.t('requiredInput'))]"
            />
          </q-form>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn color="primary" label="Cancelar" @click="Cancel()"/>
          <q-btn color="primary" label="Agregar" @click="Add()"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { notifyError } from 'src/utils/notify';
import * as CatalogService from 'src/services/admin/CatalogService';
// import * as UnitService from 'src/services/admin/catalogs/UnitService';

export default {
  name: 'SendTo',
  props: {
    toSenders: Array,
    reply: Boolean,
    from: String
  },
  data() {
    return {
      submitting: false,
      ResponsibleOptions: [],
      loadingResponsible: false,
      PositionOptions: [],
      InitialPositionOptions: [],
      loadingPosition: false,
      UnitsOptions: [],
      InitialUnitsOptions: [],
      loadingUnits: false,
      dialogSender: false,
      optionDialog: '',
      peopleSender: {
        id: '',
        user: '',
        full_name: '',
        entity: '',
        unit: '',
        position_name: '',
        position_id: '',
        hover: false,
        position: '',
      },
    }
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
  },
  created() {
    this.getAllResponsibles()
    this.ResponsibleOptions = this.$refs.InitialResponsibleOptions
  },
  methods: {
    Add() {
      this.$refs.sendersForm.validate().then((valid) => {
        const idArraySender = this.toSenders.map((obj) => obj.id)

        this.peopleSender.id = this.peopleSender.user.id
        this.peopleSender.full_name = this.peopleSender.user.full_name
        this.peopleSender.position_id = (this.peopleSender.position.id) ? this.peopleSender.position.id : this.peopleSender.user.position_id
        const unitName = this.catalogs.units.find((unidad) => unidad.id === this.peopleSender.user.cat_unit_id);
        this.peopleSender.unit = unitName.name
        if (valid) {
          if (idArraySender.includes(this.peopleSender.id)) {
            notifyError('Usuario repetido')
          } else {
            this.toSenders.push({ ...this.peopleSender })
          }
          this.submitting = false;
          this.dialogSender = false
          this.peopleSender.entity = ''
          this.peopleSender.unit = ''
          this.peopleSender.user = ''
          this.peopleSender.id = ''
          this.peopleSender.position = ''
          this.peopleSender.position_id = ''
        }
        console.log('sender', this.toSenders)
      })
    },
    Cancel() {
      this.dialogSender = false
      this.getAllResponsibles()
      this.ResponsibleOptions = this.$refs.InitialResponsibleOptions
      this.peopleSender.entity = ''
      this.peopleSender.unit = ''
      this.peopleSender.user = ''
      this.peopleSender.id = ''
      this.peopleSender.position = ''
    },
    Delete(id) {
      // console.log(id);
      if (id >= 1) {
        const index = this.toSenders.findIndex((x) => x.id === id);
        this.toSenders.splice(index, 1)
        this.id -= 1
      }
    },
    searchResponsible(val, update) {
      const stringOptions = this.InitialResponsibleOptions
      update(() => {
        const needle = val.toLowerCase()
        this.ResponsibleOptions = stringOptions.filter((v) => v.full_name.toLowerCase().indexOf(needle) > -1)
      })
    },
    getAllResponsibles() {
      CatalogService.getResponsible(0).then((people) => {
        this.InitialResponsibleOptions = people
        // console.log(this.InitialResponsibleOptions);
        const id = this.toSenders.map((obj) => obj.position_id).pop()
        const positionId = parseInt(window.sessionStorage.getItem('position_id'), 10);
        if (this.$route.params.id !== undefined) {
          this.InitialResponsibleOptions = people.filter((obj) => obj.position_id !== id)
          if (this.$props.from === 'replyInternalAffair') {
            this.InitialResponsibleOptions = people.filter((obj) => obj.position_id !== positionId)
          }
          this.ResponsibleOptions = this.InitialResponsibleOptions
          return
        }
        if (this.$props.from === 'internalAffair') {
          this.InitialResponsibleOptions = people.filter((obj) => obj.position_id !== positionId)
        }
        // console.log(this.ResponsibleOptions);
        this.ResponsibleOptions = this.InitialResponsibleOptions
        this.loadingResponsible = false;
      })
    },
  },
}
</script>
