<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-btn
                flat
                round
                color="primary"
                icon="fas fa-arrow-left"
                @click="$router.back()"
              >
                <q-tooltip>Volver</q-tooltip>
              </q-btn>
          <q-icon size="sm" name="fas fa-folder"/> Consulta de Carpeta
        </div>
      </q-card-section>
    </q-card>
    <br/>
    <q-card>
      <div>
        <q-splitter
          v-model="splitterModel"
          style="height: 400px"
        >

          <template v-slot:before>
            <div class="q-pa-md">
              <q-tree
                :nodes="simple"
                node-key="label"
                selected-color="primary"
                :selected.sync="selected"
                default-expand-all
              />
            </div>
          </template>

          <template v-slot:after>
            <q-tab-panels
              v-model="selected"
              animated
              transition-prev="jump-up"
              transition-next="jump-up"
            >
              <q-tab-panel name="Dirección Ejecutiva">
                <div class="text-h4 q-mb-md">DE Carpetas</div>
                <div class="q-mt-md q-gutter-md">
                  <q-btn padding="xs" color="secondary"  @click.native="$router.push('/archive/FolderQuery/files').catch(err => {})" size="xl" icon="folder">
                     <q-badge color="red" floating transparent>
                        4
                      </q-badge>
                    <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                      Carpeta 1
                    </q-tooltip>
                  </q-btn>
                  <q-btn padding="xs" color="secondary" size="xl" icon="folder">
                      <q-badge color="red" floating transparent>
                          59
                        </q-badge>
                      <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                        Carpeta 1
                      </q-tooltip>
                    </q-btn>
                  <q-btn padding="xs" color="secondary" size="xl" icon="folder">
                    <q-badge color="red" floating transparent>
                        87
                      </q-badge>
                    <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                      Carpeta 1
                    </q-tooltip>
                  </q-btn>
                </div>
              </q-tab-panel>

              <q-tab-panel name="Dirección Adjunta de Administración">
                <div class="text-h4 q-mb-md">DAA Carpetas</div>
                 <div class="q-mt-md q-gutter-md">
                  <q-btn padding="xs" color="secondary" size="xl" icon="folder">
                     <q-badge color="red" floating transparent>
                        4
                      </q-badge>
                    <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                      Carpeta 1
                    </q-tooltip>
                  </q-btn>
                  <q-btn padding="xs" color="secondary" size="xl" icon="folder">
                      <q-badge color="red" floating transparent>
                          59
                        </q-badge>
                      <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                        Carpeta 2
                      </q-tooltip>
                    </q-btn>
                  <q-btn padding="xs" color="secondary" size="xl" icon="folder">
                    <q-badge color="red" floating transparent>
                        87
                      </q-badge>
                    <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                      Carpeta 3
                    </q-tooltip>
                  </q-btn>
                </div>
              </q-tab-panel>

              <q-tab-panel name="Dirección Adjunta de Asuntos Jurídicos">
                <div class="text-h4 q-mb-md">DAAJ Carpetas</div>
                <div class="q-mt-md q-gutter-md">
                  <q-btn padding="xs" color="secondary" size="xl" icon="folder">
                     <q-badge color="red" floating transparent>
                        4
                      </q-badge>
                    <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                      Carpeta 1
                    </q-tooltip>
                  </q-btn>
                  <q-btn padding="xs" color="secondary" size="xl" icon="folder">
                      <q-badge color="red" floating transparent>
                          59
                        </q-badge>
                      <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                        Carpeta 2
                      </q-tooltip>
                    </q-btn>
                  <q-btn padding="xs" color="secondary" size="xl" icon="folder">
                    <q-badge color="red" floating transparent>
                        87
                      </q-badge>
                    <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                      Carpeta 3
                    </q-tooltip>
                  </q-btn>
                </div>
              </q-tab-panel>

              <q-tab-panel name="Dirección Adjunta de Competitividad">
                <div class="text-h4 q-mb-md">DAC Carpetas</div>
                 <div class="q-mt-md q-gutter-md">
                  <q-btn padding="xs" color="secondary" size="xl" icon="folder">
                     <q-badge color="red" floating transparent>
                        21
                      </q-badge>
                    <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                      Carpeta 1
                    </q-tooltip>
                  </q-btn>
                  <q-btn padding="xs" color="secondary" size="xl" icon="folder">
                      <q-badge color="red" floating transparent>
                          78
                        </q-badge>
                      <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                        Carpeta 2
                      </q-tooltip>
                    </q-btn>
                  <q-btn padding="xs" color="secondary" size="xl" icon="folder">
                    <q-badge color="red" floating transparent>
                        64
                      </q-badge>
                    <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                      Carpeta 3
                    </q-tooltip>
                  </q-btn>
                </div>
              </q-tab-panel>

              <q-tab-panel name="Dirección Adjunta de Administración de Proyectos">
                <div class="text-h4 q-mb-md">DAC Carpetas</div>
                 <div class="q-mt-md q-gutter-md">
                  <q-btn padding="xs" color="secondary" size="xl" icon="folder">
                     <q-badge color="red" floating transparent>
                        70
                      </q-badge>
                    <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                      Carpeta 1
                    </q-tooltip>
                  </q-btn>
                  <q-btn padding="xs" color="secondary" size="xl" icon="folder">
                      <q-badge color="red" floating transparent>
                          32
                        </q-badge>
                      <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                        Carpeta 2
                      </q-tooltip>
                    </q-btn>
                  <q-btn padding="xs" color="secondary" size="xl" icon="folder">
                    <q-badge color="red" floating transparent>
                        96
                      </q-badge>
                    <q-tooltip content-class="bg-primary" content-style="font-size: 16px" :offset="[10, 10]">
                      Carpeta 3
                    </q-tooltip>
                  </q-btn>
                </div>
              </q-tab-panel>

            </q-tab-panels>
          </template>
        </q-splitter>
      </div>

    </q-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      splitterModel: 50,
      selected: 'Dirección Ejecutiva',
      simple: [
        {
          label: 'INFOTEC',
          children: [
            {
              label: 'Dirección Ejecutiva',
              icon: 'fas fa-project-diagram'
            },
            {
              label: 'Dirección Adjunta de Administración',
              icon: 'fas fa-project-diagram'
            },
            {
              label: 'Dirección Adjunta de Administración de Proyectos',
              icon: 'fas fa-project-diagram'
            },
            {
              label: 'Dirección Adjunta de Asuntos Jurídicos',
              icon: 'fas fa-project-diagram'
            },
            {
              label: 'Dirección Adjunta de Competitividad',
              icon: 'fas fa-project-diagram'
            }
          ]
        }
      ]
    }
  }
}
</script>
