<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-btn
                flat
                round
                color="primary"
                icon="fas fa-arrow-left"
                @click="$router.back()"
              >
                <q-tooltip>Volver</q-tooltip>
              </q-btn>
          <q-icon size="sm" name="far fa-file"/> Documentos en la Carpeta
        </div>
      </q-card-section>
    </q-card>
    <br/>
  <!-- <q-card>
    <div class="q-pa-md">
      <q-list bordered separator>
        <q-item clickable v-ripple>
          <q-item-section>
            <q-item-label overline>Documento 1</q-item-label>
            <q-item-label>Información</q-item-label>
          </q-item-section>
        </q-item>

       <q-item clickable v-ripple>
          <q-item-section>
            <q-item-label overline>Documento 2</q-item-label>
            <q-item-label>Información</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>
            <q-item-label overline>Documento 3</q-item-label>
            <q-item-label>Información</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-card> -->
  </div>
</template>
