<template>
  <div>
    <div class="text-h6 q-ml-md">
      <q-icon size="sm" color="primary" name="fas fa-paperclip"/> Adjuntar archivos
    </div>
    <br/>
    <div class="row q-col-gutter-sm">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <q-file outlined use-chips v-model="affairFile" label="Documento">
          <template v-slot:append>
            <q-icon name="attachment" color="primary" />
          </template>
        </q-file>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <q-file outlined multiple use-chips v-model="annexedFile" label="Anexos">
          <template v-slot:append>
            <q-icon name="attachment" color="primary" />
          </template>
        </q-file>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      affairFile: null,
      annexedFile: null,
    }
  }
}
</script>
