<template>
  <div>
    <div class="row q-col-gutter-sm">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <q-card flat>
          <div class="text-h6">
            <q-btn class="float-right" round size="sm" @click="dialogPeople=true" outline color="primary" icon="fas fa-plus"/>
          </div>
          <div class="row q-col-gutter-sm q-mt-sm">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="text-h6 q-ml-md">
                <q-icon size="sm" color="primary" name="mail"/> Delegar a
              </div>
              <div
                class="row q-col-gutter-sm q-mt-sm items-center"
                v-for="(user) in forUser"
                :key="user.id">
                <div class="col-10">
                  <div class="row">
                    <div class="col-3 text-center" @mouseover="user.hover = true">
                      <q-avatar size="30px">
                        <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                      </q-avatar>
                    </div>
                    <div class="col-7 text-subtitle1">
                      {{ `${user.position.name}/${user.user.name}` }}
                    </div>
                  </div>
                  <q-menu
                    v-model="user.hover"
                    max-width="350px"
                    anchor="center middle"
                    self="center middle">
                    <q-item>
                      <q-item-section>
                        <div class="row items-center q-my-sm">
                          <div class="col-4" @mouseleave="user.hover = false">
                            <q-avatar size="52px">
                              <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                            </q-avatar>
                          </div>
                          <div class="col-8 text-h6">
                            {{ `${user.position.name}/${user.user.name}` }}
                          </div>
                        </div>
                        <div class="text-subtitle2 q-my-sm">
                          {{ user.unit.name }}
                        </div>
                        <div>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam eos, distinctio omnis perspiciatis corrupti, modi inventore atque unde doloribus eius ipsa sint ipsam deserunt, dolore in architecto temporibus est culpa.
                        </div>
                      </q-item-section>
                    </q-item>
                  </q-menu>
                </div>
                <q-btn class="col-2" round flat icon="close" @click="Delete(user.id)"/>
              </div>
            </div>
          </div>
          <q-dialog v-model="dialogPeople">
            <q-card style="width: 450px">
              <q-card-section class="q-pb-none">
                <div class="text-h6">Agregar persona</div>
              </q-card-section>
              <q-card-section>
                <q-select
                  outlined
                  square
                  class="q-my-sm"
                  v-model="people.unit"
                  option-value="id"
                  option-label="name"
                  :options="catalogs.units"
                  label="Unidad"
                  @input="filterPositions"
                  @clear="() => {(PositionOptions = []), (instruction.position_id = null);}"
                  :rules="[$rules.required($i18n.t('requiredInput'))]"/>
                <q-select
                  clearable
                  :loading="loadingPosition"
                  :disable="PositionOptions.length <= 0 || loadingPosition"
                  outlined
                  square
                  class="q-my-sm"
                  v-model="people.position"
                  option-value="id"
                  option-label="name"
                  :options="PositionOptions"
                  label="Puesto"
                  @input="filterResponsible"
                  @clear="() => {(ResponsibleOptions = []), (instruction.people_id = null);}"
                  :rules="[$rules.required($i18n.t('requiredInput'))]" />
                <q-select
                  clearable
                  :loading="loadingResponsible"
                  :disable="ResponsibleOptions.length <= 0 || loadingResponsible"
                  outlined
                  square
                  class="q-my-sm"
                  v-model="people.user"
                  option-value="id"
                  option-label="full_name"
                  :options="ResponsibleOptions"
                  label="Persona"/>
                <q-btn color="primary" label="Agregar" @click="Add()" v-close-popup/>
              </q-card-section>
            </q-card>
          </q-dialog>
        </q-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <q-card flat>
          <div class="text-h6">
            <q-btn class="float-right" round size="sm" @click="dialogPeopleCcp=true" outline color="primary" icon="fas fa-plus"/>
          </div>
          <div class="row q-col-gutter-sm q-mt-sm">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="text-h6 q-ml-md">
                <q-icon size="sm" color="primary" name="fas fa-copy"/> Con copia para
              </div>
              <div
                class="row q-col-gutter-sm q-mt-sm items-center"
                v-for="(user) in ccp"
                :key="user.id">
                <div class="col-10">
                  <div class="row">
                    <div class="col-3 text-center" @mouseover="user.hover = true">
                      <q-avatar size="30px">
                        <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                      </q-avatar>
                    </div>
                    <div class="col-7 text-subtitle1">
                      {{ `${user.position.name}/${user.user.name}` }}
                    </div>
                  </div>
                  <q-menu
                    v-model="user.hover"
                    max-width="350px"
                    anchor="center middle"
                    self="center middle">
                    <q-item>
                      <q-item-section>
                        <div class="row items-center q-my-sm">
                          <div class="col-4" @mouseleave="user.hover = false">
                            <q-avatar size="52px">
                              <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                            </q-avatar>
                          </div>
                          <div class="col-8 text-h6">
                            {{ `${user.position.name}/${user.user.name}` }}
                          </div>
                        </div>
                        <div class="text-subtitle2 q-my-sm">
                          {{ user.unit.name }}
                        </div>
                        <div>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam eos, distinctio omnis perspiciatis corrupti, modi inventore atque unde doloribus eius ipsa sint ipsam deserunt, dolore in architecto temporibus est culpa.
                        </div>
                      </q-item-section>
                    </q-item>
                  </q-menu>
                </div>
                <q-btn class="col-2" round flat icon="close" @click="DeleteCcp(user.id)"/>
              </div>
            </div>
          </div>
          <q-dialog v-model="dialogPeopleCcp">
            <q-card style="width: 450px">
              <q-card-section class="q-pb-none">
                <div class="text-h6">Agregar persona</div>
              </q-card-section>
              <q-card-section>
                <q-select
                  outlined
                  square
                  class="q-my-sm"
                  v-model="people.unit"
                  option-value="id"
                  option-label="name"
                  :options="catalogs.units"
                  label="Unidad"
                  @input="filterPositions"
                  @clear="() => {(PositionOptions = []), (instruction.position_id = null);}"
                  :rules="[$rules.required($i18n.t('requiredInput'))]"/>
                <q-select
                  clearable
                  :loading="loadingPosition"
                  :disable="PositionOptions.length <= 0 || loadingPosition"
                  outlined
                  square
                  class="q-my-sm"
                  v-model="people.position"
                  option-value="id"
                  option-label="name"
                  :options="PositionOptions"
                  label="Puesto"
                  @input="filterResponsible"
                  @clear="() => {(ResponsibleOptions = []), (instruction.people_id = null);}"
                  :rules="[$rules.required($i18n.t('requiredInput'))]" />
                  {{ unit }}
                <q-select
                  clearable
                  :loading="loadingResponsible"
                  :disable="ResponsibleOptions.length <= 0 || loadingResponsible"
                  outlined
                  square
                  class="q-my-sm"
                  v-model="people.user"
                  option-value="id"
                  option-label="full_name"
                  :options="ResponsibleOptions"
                  label="Persona"/>
                <q-btn color="primary" label="Agregar" @click="AddCcp()" v-close-popup/>
              </q-card-section>
            </q-card>
          </q-dialog>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
import * as CatalogService from 'src/services/admin/CatalogService';

export default {
  data() {
    return {
      ResponsibleOptions: [],
      InitialResponsibleOptions: [],
      loadingResponsible: false,
      PositionOptions: [],
      InitialPositionOptions: [],
      loadingPosition: false,
      dialogPeople: false,
      dialogPeopleCcp: false,
      people: {
        forccp: '',
        unit: '',
        position: '',
        user: '',
        id: '',
        hover: false,
      },
      forUser: [],
      ccp: [],
      id: 1,
      idCcp: 1,
    }
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  methods: {
    Add() {
      this.people.id = this.id
      this.forUser.push({ ...this.people })
      this.people.unit = ''
      this.people.position = ''
      this.people.user = ''
      this.id += 1
    },
    AddCcp() {
      this.people.id = this.idCcp;
      this.ccp.push({ ...this.people })
      this.people.forccp = ''
      this.people.unit = ''
      this.people.position = ''
      this.people.user = ''
      this.idCcp += 1
    },
    Delete(id) {
      if (id >= 1) {
        const index = this.forUser.findIndex((x) => x.id === id);
        this.forUser.splice(index, 1)
        this.id -= 1
      }
    },
    DeleteCcp(id) {
      if (this.idCcp >= 1) {
        const index = this.ccp.findIndex((x) => x.id === id);
        this.ccp.splice(index, 1)
        this.idCcp -= 1
      }
    },
    filterResponsible(position) {
      if (position != null) {
        this.people_id = '';
        this.loadingResponsible = true;
        CatalogService.getResponsible(position.id).then((people) => {
          this.InitialResponsibleOptions = people;
          this.ResponsibleOptions = this.InitialResponsibleOptions;
          this.loadingResponsible = false;
        })
      }
    },
    filterPositions(unit) {
      if (unit != null) {
        this.position_id = '';
        this.loadingPosition = true;
        CatalogService.getPositions(unit.id).then((position) => {
          this.InitialPositionOptions = position;
          this.PositionOptions = this.InitialPositionOptions;
          this.loadingPosition = false;
        })
      }
    }
  }
}
</script>
