<template>
  <q-dialog v-model="avaiableDialog">
      <q-card style="width: 450px">
        <q-card-section class="q-pb-none">
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="far fa-check-square"/> Disponibilidad
          </div>
        </q-card-section>
        <q-separator/>
        <q-card-section>
            <div class="col-12">
              <p>El servicio de documentos externos digitales, no esta disponible por el momento. Consulte a su adminstrador.</p>
            </div>
            <q-btn color="primary" label="Enterado" v-close-popup/>
          </q-card-section>
      </q-card>
    </q-dialog>
</template>

<script>
import * as CentralAPIService from 'src/services/CentralAPIService';

export default {
  components: {
  },
  data() {
    return {
      avaiableDialog: false,
    }
  },
  mounted() {
    CentralAPIService.get().then((data) => {
      console.log(data.success)
      if (!data.success || !data.message.success) {
        this.avaiableDialog = true
      }
    }).catch((err) => {
      console.log(err)
      this.avaiableDialog = true
    });
  },
};
</script>
