<template>
  <div>
    <q-avatar size="175px">
      <img src="" alt="" />
      <q-btn
        round
        size="1rem"
        color="primary"
        class="absolute-bottom-right"
        icon="photo_camera"
        @click="editProfilePicture = true"
      >
        <q-tooltip
          class="bg-primary"
          anchor="center right"
          self="center left"
          :offset="[10, 10]"
        >
          Cambiar foto de perfil
        </q-tooltip>
      </q-btn>
    </q-avatar>
    <div>
      <q-dialog v-model="editProfilePicture">
        <q-card class="q-pa-md">
          <q-card-section>
            <div class="text-h6 text-center">Cambiar foto del perfil</div>
          </q-card-section>

          <q-card-section align="center">
            <q-btn
              type="file"
              flat
              size="1.5rem"
              round
              color="primary"
              icon="add"
            />
          </q-card-section>

          <q-card-actions align="center">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn
              flat
              disabled
              label="Guardar"
              color="primary"
              v-close-popup
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      editProfilePicture: false,
    };
  },
  created() {
    console.log('algo se ha creado');
  },
  updated() {
    console.log('algo se ha actualizado');
  },
};
</script>
