<template>
  <div style="width:100%;height:100vh;">
    <q-card class="column full-height" >
      <iframe title="collabora" id="collabora-online-viewer" name="collabora-online-viewer" style="width:100%;height:100%;position:absolute;">
      </iframe>
    </q-card>
    <div style="display: none">
      <form enctype="multipart/form-data" method="post" target="collabora-online-viewer" id="collabora-submit-form">
        <input name="access_token" type="hidden" id="access-token"/>
        <input type="submit" value="" />
      </form>
    </div>
  </div>
</template>

<script>
import * as DataService from 'src/services/TokenService';
import { notifySuccess, notifyAlert } from 'src/utils/notify';
import * as AffairReceptionService from 'src/services/receipt/AffairReceptionService';

export default {
  props: {
    affairId: Number
  },
  data() {
    return {
      form2: ''
    }
  },
  methods: {
    store() {
      const { id } = this.$route.params
      AffairReceptionService.update({ draft: false, check: false }, id).then(() => {
        notifySuccess('Asunto enviado');
        this.$router.push('/outbox');
      }).catch((err) => {
        console.log(err)
        notifyAlert();
      })
    },
  },
  created() {
    console.log(this.affairId)
    this.$q.loading.show();
    DataService.getToken(this.affairId).then((data) => {
      this.form2 = data;
      document.getElementById('access-token').value = this.form2.token.token
      const formElem = document.getElementById('collabora-submit-form');
      formElem.action = `${data.url}WOPISrc=${process.env.COLLAB_BASE_URL}/api/wopi/files/${this.form2.token.file_id}`
      formElem.submit();
      this.$q.loading.hide();
    }).catch(() => {
      this.$q.loading.hide();
    });
  },
}
</script>
