<template>
<q-card style="width: 100%">
    <q-item>
      <q-btn
          flat
          round
          color="primary"
          icon="fas fa-arrow-left"
          @click="$router.back()"
        >
          <q-tooltip>Volver</q-tooltip>
        </q-btn>
      <q-item-section avatar>
          <q-icon size="md" name="fas fa-users"/>
      </q-item-section>
      <q-item-section>
        <q-item-label>Registro de Usuarios </q-item-label>
        <q-item-label caption>
          Ingrese los siguientes campos
        </q-item-label>
      </q-item-section>
    </q-item>
    <q-separator />
    <div class="q-pa-sm">
      <q-card-section>
        <q-form ref="formUserPeople" @submit.prevent="() => {}">
          <div class="row q-col-gutter-x-sm q-col-gutter-y-lg">
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-input square outlined disable v-model="user.entity" label="Entidad"/>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-input :rules="[$rules.required($i18n.t('requiredInput'))]" v-model="form.username" square outlined label="Usuario" />
              </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-input :rules="[$rules.required($i18n.t('requiredInput'))]" type="password" v-model="form.password" square outlined label="Contraseña" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-input :rules="[$rules.required($i18n.t('requiredInput'))]" v-model="form.name" square outlined label="Nombre(s)" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-input :rules="[$rules.required($i18n.t('requiredInput'))]" v-model="form.last_name" square outlined label="Apellido Paterno" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-input :rules="[$rules.required($i18n.t('requiredInput'))]" v-model="form.second_lastname" square outlined label="Apellido Materno" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-input :rules="[(val) => !!val || 'Este campo es obligatorio', isValidEmail]"  v-model="form.email" square outlined label="Correo electrónico"/>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-input :rules="[(val) => !!val || 'Este campo es obligatorio', isValidPhone]"  v-model="form.phone" square outlined label="Teléfono" mask="(##)-########"/>
            </div>
              <div class="col-xs-12 col-sm-12 col-md-4">
              <q-select clearable outlined v-model="form.profile_id" option-value="id" option-label="name"
                emit-value :rules="[$rules.required($i18n.t('requiredInput'))]" map-options :options="catalogs.profiles" label="Rol de Usuario" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-input  v-model="form.curp" :rules="[(val) => !!val || 'Este campo es obligatorio', isValidCurp ]"  @input="textToUpperCurp" square outlined label="CURP" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-input  v-model="form.rfc" :rules="[(val) => !!val || 'Este campo es obligatorio', isValidRFC]"  @input="textToUpperRFC" square outlined label="RFC" />
            </div>
          </div>
        </q-form>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
        <q-btn flat @click="store()" label="Guardar" color="primary" />
      </q-card-actions>
    </div>
</q-card>
</template>

<script>
import { notifySuccess, notifyAlert } from 'src/utils/notify';
import * as UserService from 'src/services/admin/UserService';

export default {
  data() {
    return {
      form: {
        username: '',
        password: '',
        profile_id: '',
        name: '',
        last_name: '',
        second_lastname: '',
        email: '',
        phone: '',
        position_id: '',
        curp: '',
        rfc: '',
      },
    };
  },
  created() {
    const catalogsConfiguration = { profiles: true, user_projects: true, units: true, people: true, users: true, position: true };
    this.$q.loading.show();
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      this.$q.loading.hide();
    });
    this.form.username.value = null;
    this.form.password.value = null;
  },
  methods: {
    textToUpperCurp(val) {
      this.form.curp = val.toUpperCase()
    },
    textToUpperRFC(val) {
      this.form.rfc = val.toUpperCase()
    },
    isValidEmail(val) {
      const emailPattern = /^(?=[a-zA-Z0-9@.%+-]{6,254}$)[a-zA-Z0-9.%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || 'Debe ingresar un correo válido';
    },
    isValidPhone(val) {
      const phonePattern = /^\(?(\d{2})\)?[-]?(\d{4})[-]?(\d{4})$/;
      return phonePattern.test(val) || 'Debe ingresar un número válido 55-12345678';
    },
    isValidCurp(val) {
      const curp = val.toUpperCase();
      const curpPattern = /^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$/;
      return curpPattern.test(curp) || 'Debe ingresar un CURP válido';
    },
    isValidRFC(val) {
      const rfc = val.toUpperCase();
      const rfcpPattern = /^([A-ZÑ&]{3,4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$/;
      return rfcpPattern.test(rfc) || 'Debe ingresar un RFC válido';
    },
    store() {
      this.$refs.formUserPeople.validate().then((valid) => {
        if (valid) {
          const form = { ...this.form };
          UserService.store(form).then(() => {
            notifySuccess();
            this.$router.push('/admin/users');
          }).catch((err) => {
            notifyAlert('Información duplicada, favor de verificar.');
            console.log(err)
          })
        }
      })
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
};
</script>
