<template>
<q-card style="width: 100%">
  <div class="q-pa-sm">
    <q-card-section>
      <div class="row q-col-gutter-sm">
        <template>
            <span style="margin: 30px 0 10px 0">Selecciona los permisos para el usuario {{info.name}} {{info.last_name}} {{info.second_lastname}}</span>
            <q-card class="my-card col-xs-12 col-sm-12 col-md-12">
                <q-card-section>
                    <div class="col-xs-12 col-sm-12 col-md-12" v-for="item in modules.items" :key="item.id">
                       <q-banner rounded class="bg-grey-3">
                        <q-item-label>Modulo de la aplicación: {{item.name}} </q-item-label>
                       </q-banner>

                        <div class="row ">
                            <div
                            v-for="permission in item.permissions"
                            :key="permission.id"
                            class="col-lg-4 q-pa-sm"
                            >
                            <q-checkbox
                                :val="permission.id"
                                :disable="!canEdit"
                                v-model="form.permissions"
                                :label="permission.name"
                            />
                            </div>
                        </div>
                    <div class="q-px-sm"></div>
                    <div class="q-pa-md q-gutter-md">
                      <q-linear-progress
                        :key="size"
                        :size="size"
                        :value="progress"
                        color="primary"
                      />
                    </div>
                    </div>
                </q-card-section>
            </q-card>
        </template>

      </div>
    </q-card-section>
    <q-card-actions align="right">
      <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
      <q-btn flat @click="update()" label="Guardar" color="primary" v-if="canEdit"/>
    </q-card-actions>
  </div>
</q-card>
</template>

<script>
import * as PeopleService from 'src/services/PeopleService';
import * as ModulesService from 'src/services/admin/catalogs/ModulesService';
import * as CatalogService from 'src/services/admin/CatalogService';
import { notifySuccess, notifyError } from 'src/utils/notify'

export default {
  async created() {
    // get initial data -> modules permissions
    this.$q.loading.show();
    await this.getModules()
    await this.setProfileData()
    this.$q.loading.hide();
    const { id } = this.$route.params
    const type = sessionStorage.getItem('type')
    CatalogService.getUserInfo(id, type).then((res) => {
      console.log(res)
      this.info = res
    })
  },
  data() {
    return {
      size: 'xs',
      progress: 1.0,
      modules: [],
      info: '',
      form: {
        name: '',
        key: '',
        permissions: [],
      }
    };
  },

  methods: {
    update() {
      const form = { ...this.form };
      const { id } = this.$route.params
      PeopleService.updatePermissions(form, id).then(() => {
        notifySuccess()
        // this.$router.push('/admin/users')
        setTimeout(() => window.location.reload(), 500);
      }).catch(() => {
        notifyError()
      })
    },
    async getModules() {
      await ModulesService.index().then((modules) => {
        this.modules = modules
      }).catch(() => {
        notifyError()
      })
    },
    setProfileData() {
      const { id } = this.$route.params
      PeopleService.getPermissions(id).then((response) => {
        console.log(response)
        this.form.permissions = response.map((permission) => permission.permission_id)
      }).catch(() => {
        notifyError();
      });
    },
  },
  computed: {
    canEdit: {
      get() {
        return this.canShow('roles-edit');
      }
    }
  },
};
</script>
