<template>
  <div>
    <br/>
    <q-table
      :data="data"
      :columns="columns"
      row-key="name"
      separator="vertical"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      :filter="search"
      binary-state-sort
      :visible-columns="visibleColumns"
    >
    <template v-slot:top-left>
        <q-select
          v-model="visibleColumns"
          multiple
          outlined
          dense
          options-dense
          :display-value="$q.lang.table.columns"
          emit-value
          map-options
          :options="columns"
          option-value="name"
          options-cover
          style="min-width: 150px"
        />
      </template>
     <template v-slot:top-right>
        <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props" >
          <q-td key="last_name" :props="props">
            {{ props.row.last_name }}
          </q-td>
          <q-td key="second_lastname" :props="props">
            {{ props.row.second_lastname }}
          </q-td>
          <q-td key="name" :props="props">
            {{ props.row.name }}
          </q-td>
          <q-td key="email" :props="props">
            {{ props.row.email }}
          </q-td>
          <q-td key="actions" :props="props">
            <q-btn-group>
              <q-btn v-if="can('users-edit')" round size="sm" @click="editUser(props.row.id)" color="primary" icon="fas fa-edit"/>
              <q-btn round size="sm" @click="permissionsUser(props.row.id)" color="warning" icon="fas fa-user-lock"/>
              <!-- <q-btn v-if="can('users-delete')" round size="sm" @click="confirmDelete = true; deleteOption=props.row.id" color="negative" icon="fas fa-trash"/> -->
            </q-btn-group>
          </q-td>
          <q-td key="remember_token" :props="props" :class="((props.row.remember_token != null ) ? 'bg-green text-white' : '')">
            {{ (props.row.remember_token != null ) ? "Conectado" : "No conectado"}}
          </q-td>
          <q-td key="status" :props="props">
            <q-toggle v-model="props.row.is_active" @input="activeUser(props.row.is_active, props.row.id)" />
          </q-td>
        </q-tr>
      </template>
      <template v-slot:no-data="{ }">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span>
            No se encontraron resultados
          </span>
        </div>
      </template>
    </q-table>
    <q-dialog v-model="confirmDelete" persistent>
      <q-card>
        <q-card-section class="row items-center">
            <span class="q-ml-sm">¿Seguro que desea eliminar este registro?</span>
            </q-card-section>
            <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup/>
            <q-btn flat label="Eliminar" color="red"  v-close-popup @click="deleteUser(deleteOption);"/>
            </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { notifyError, notifySuccess } from 'src/utils/notify';
import * as UserService from 'src/services/admin/UserService';
import * as PeopleService from 'src/services/PeopleService';

export default {
  components: {
  },
  mounted() {
    // get initial data from server (1st page)
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
  },
  data() {
    return {
      data: [],
      visibleColumns: ['last_name', 'second_lastname', 'name', 'email', 'actions', 'remember_token', 'status'],
      loading: false,
      deleteOption: '',
      confirmDelete: false,
      pagination: {
        page: 1,
        rowsPerPage: 6,
        rowsNumber: ''
      },
      sortable: 'asc',
      search: '',
      separator: 'vertical',
      columns: [
        {
          name: 'last_name', align: 'center', label: 'Primer apellido', field: 'last_name', sortable: false
        },
        {
          name: 'second_lastname', align: 'center', label: 'Segundo apellido', field: 'second_lastname', sortable: false
        },
        {
          name: 'name', align: 'center', label: 'Nombre', field: 'name', sortable: false
        },
        {
          name: 'email', align: 'center', label: 'Correo electrónico', field: 'email', sortable: false
        },
        {
          name: 'actions', align: 'center', label: 'Acciones', field: 'id'
        },
        {
          name: 'remember_token', align: 'center', label: 'Activo', field: 'remember_token', sortable: false, searchable: true
        },
        {
          name: 'status', align: 'center', label: 'Estatus', field: 'id'
        },
      ],
    };
  },
  computed: {
    canEdit: {
      get() { return this.canShow('users-edit') }
    },
    canView: {
      get() { return this.canShow('users-view') }
    },
    canDelete: {
      get() { return this.canShow('users-delete') }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  methods: {
    editUser(id) {
      this.$router.push(`/admin/users/${id}/edit`)
    },
    permissionsUser(id) {
      this.$router.push(`/admin/users/${id}/permission`)
    },
    deleteUser(id) {
      this.loading = true
      PeopleService.destroy(id).then(() => {
        UserService.destroy({ params: { id } }).then(() => {
          // This is intentional
        })
        notifySuccess()
        this.onRequest({
          pagination: this.pagination,
          filter: undefined
        }).catch(() => {
          notifyError()
        }).finally(() => {
          this.loading = false
          this.confirmDelete = false
          this.deleteOption = null
        })
      })
    },
    activeUser(status, id) {
      const form = {
        is_active: status
      }
      console.log(form)
      this.$q.loading.show();
      UserService.update(form, id).then(() => {
        notifySuccess()
        this.$q.loading.hide();
      }).catch(() => {
        notifyError()
        this.$q.loading.hide();
      })
    },
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination
      const { search } = this
      const { sortable } = this
      this.loading = true
      UserService.index({ params: { page, rowsPerPage, search, sortable } }).then((pagination) => {
        this.data = pagination.data
        this.pagination.rowsPerPage = pagination.per_page
        this.pagination.page = pagination.current_page
        this.pagination.rowsNumber = pagination.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
  },
};
</script>
