<template>
  <div>
    <q-card-section>
      <q-btn glossy rounded size="sm" class="q-ml-sm float-right" @click="delegate = true, answer = false, reject = false, viewInfo = false" color="primary" icon="fas fa-directions">
        <q-tooltip>Delegar</q-tooltip>
      </q-btn>
      <q-btn glossy rounded size="sm" class="q-ml-sm float-right" @click="reject = true, answer = false, delegate = false, viewInfo = false" color="primary" icon="fas fa-times">
        <q-tooltip>Rechazar</q-tooltip>
      </q-btn>
      <q-btn glossy rounded size="sm" class="q-ml-sm float-right" @click="viewInfo = false, answer = true, reject = false, delegate = false" color="primary" icon="fas fa-reply">
        <q-tooltip>Responder</q-tooltip>
      </q-btn>
      <q-btn glossy rounded size="sm" class="q-ml-sm float-right" @click="trace = true" color="primary" icon="timeline">
          <q-tooltip>Seguimiento</q-tooltip>
        </q-btn>
      <q-btn glossy rounded size="sm" class="q-ml-sm float-right" @click="render()" color="primary" icon="fas fa-eye">
        <q-tooltip>Visualizar oficio</q-tooltip>
      </q-btn>
    </q-card-section>
    <br>
    <q-card>
      <!-- RESPUESTA DE OFICIO -->
      <div class="q-pa-sm" v-if="answer == true">
        <q-card-section>
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="fas fa-reply"/> Respuesta
          </div>
          <q-separator spaced/>
          <div class="row q-col-gutter-sm">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-input filled v-model="date" mask="date" :rules="['date']" label="Fecha de respuesta">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date v-model="date" disable first-day-of-week="0">
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Cerrar" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-input outlined v-model="newFolio" label="Folio de respuesta" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-input outlined v-model="users.name" label="Remitente" disable />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-input v-model="reception.name" square outlined label="Asunto (Opcional)"/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-select outlined v-model="reception.recep_med_id"
                :options="catalogs.cat_priorities"
                option-value="id"
                option-label="name"
                emit-value
                :rules="[(val) => !!val || 'Este campo es obligatorio']"
                map-options
                label="Prioridad"
              />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-input v-if="route == false" v-model="users.nameTo" square outlined label="En respuesta a" disable />
              <q-input v-if="route == true" outlined v-model="attentionRoute" label="Ruta de atención" disable />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <q-input v-model="defaultAnswer" type="textarea" square outlined label="Respuesta"/>
            </div>
          </div>
          <q-checkbox v-model="route" />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat @click="answer = false, viewInfo = true" label="Cancelar" color="primary" v-close-popup />
          <q-btn flat @click="submitAnswer()" label="Enviar" color="primary" />
        </q-card-actions>
      </div>
      <!-- RECHAZO DE OFICIO -->
      <div class="q-pa-sm" v-if="reject == true">
        <q-card-section>
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="fas fa-times"/> Rechazar Oficio
          </div>
          <q-separator spaced/>
          <q-input outlined clearable v-model="newFolio" label="Razón de rechazo" />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat @click="reject = false, viewInfo = true" label="Cancelar" color="primary" v-close-popup />
          <q-btn flat @click="rejectAffair()" label="Rechazar" color="primary" />
        </q-card-actions>
      </div>
      <q-separator/>
      <!-- DELEGACIÓN DE OFICIO (VOLANTES) -->
      <div class="q-pa-sm" v-if="delegate == true">
        <Delegate/>
        <q-card-actions align="right">
          <q-btn flat @click="delegate = false, viewInfo = true" label="Cancelar volante" color="primary" v-close-popup />
        </q-card-actions>
      </div>
      <q-separator/>
      <!-- VISUALIZAR INFORMACIÓN DE OFICIO -->
      <q-expansion-item
        v-model="viewInfo"
        expand-separator
        icon="far fa-file-alt"
        label="Información de oficio"
      >
        <q-card>
          <q-card-section>
            <div class="q-pa-sm">
              <q-card-section >
                <div class="row q-col-gutter-sm">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <q-select disable outlined v-model="reception.doc_type_id"
                      :options="catalogs.cat_doc_types"
                      option-value="id"
                      option-label="name"
                      emit-value
                      map-options label="Tipo de documento"
                    />
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3" v-if="reception.doc_type_id == '5'">
                    <q-input disable outlined v-model="reception.especDoctype"
                          label="Especifique el tipo" />
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <q-input disable filled v-model="reception.recep_date"  mask="date" :rules="['date']"
                              label="Fecha de Recepción">
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                            <q-date v-model="reception.recep_date"  first-day-of-week="0">
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Cerrar" color="primary" flat />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <q-input disable filled v-model="reception.recep_hour"  mask="time" :rules="['time']"
                              label="Hora de  Recibido">
                      <template v-slot:append>
                        <q-icon name="access_time" class="cursor-pointer">
                          <q-popup-proxy transition-show="scale" transition-hide="scale">
                            <q-time v-model="reception.recep_hour" >
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Cerrar" color="primary" flat />
                              </div>
                            </q-time>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3" v-if="reception.doc_type_id != '5'">
                    <q-input disable filled v-model="reception.document_date" mask="date" :rules="['date']" label="Fecha del Oficio">
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                            <q-date v-model="reception.document_date" first-day-of-week="0">
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Cerrar" color="primary" flat />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                </div>
                <br>
                <div class="row q-col-gutter-sm" >
                  <div class="col-xs-12 col-sm-6 col-md-4" v-if="reception.doc_type_id != '5'">
                    <q-input disable outlined v-model="reception.folio_id" square
                    label="Num. Folio" />
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-8" v-if="reception.doc_type_id != '5'">
                      <q-input disable outlined v-model="reception.name"
                          label="Remitente" />
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4" v-if="reception.doc_type_id != '5'">
                      <q-select disable outlined v-model="reception.recep_med_id"
                        :options="catalogs.cat_recep_meds"
                        option-value="id"
                        option-label="name"
                        emit-value
                        map-options label="Medio de Recepción"
                      />
                    </div>
                  <div class="col-xs-12 col-sm-6 col-md-4" v-if="reception.doc_type_id != '5'">
                      <q-select disable outlined v-model="reception.priority"
                        :options="catalogs.cat_priorities"
                        option-value="id"
                        option-label="name"
                        emit-value
                        map-options label="Prioridad"
                      />
                    </div>
                  <div class="col-xs-12 col-sm-6 col-md-4" v-if="reception.doc_type_id != '5'">
                    <q-input disable filled v-model="reception.document_date_attention" mask="date" :rules="['date']" label="Fecha de Atención">
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                            <q-date v-model="reception.document_date_attention" first-day-of-week="0">
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Cerrar" color="primary" flat />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-12" v-if="reception.doc_type_id != '5'">
                    <q-input disable v-model="reception.affair" square outlined label="Asunto"/>
                  </div>
                  <div class="col-12">
                    <q-input disable square outlined type="textarea" v-model="reception.description" label="Descripción" />
                  </div>
                </div>
              </q-card-section>
              <q-card-section >
                <div class="row q-col-gutter-sm justify-center">
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <q-field outlined :value="text" bottom-slots label="Oficio" stack-label :dense="dense">
                      <template v-slot:prepend>
                        <q-icon name="fas fa-eye" class="cursor-pointer" size="xs" />
                      </template>
                      <template v-slot:append>
                        <q-icon name="fas fa-download" class="cursor-pointer" size="xs"/>
                      </template>
                    </q-field>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <q-field outlined :value="text" bottom-slots label="Anexos" stack-label :dense="dense">
                      <template v-slot:prepend>
                        <q-icon name="fas fa-eye" class="cursor-pointer" size="xs"/>
                      </template>
                      <template v-slot:append>
                        <q-icon name="fas fa-download" class="cursor-pointer" size="xs"/>
                      </template>
                    </q-field>
                  </div>
                </div>
              </q-card-section>
            </div>
          </q-card-section>
        </q-card>
      </q-expansion-item>
      <q-dialog v-model="view" full-height>
        <div style="min-width: 65vw;" ref="viewer"></div>
      </q-dialog>
    </q-card>
    <q-dialog v-model="trace">
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="q-pb-none">
          <div class="text-h6">Seguimiento del oficio</div>
        </q-card-section>
        <q-card-section class="absolute-top-right">
          <q-select
            v-model="step"
            map-options
            emit-value
            option-label="name"
            option-value="id"
            outlined
            :options="routeOptions"
            :rules="[(val) => !!val || 'Este campo es obligatorio']" />
        </q-card-section>
        <q-stepper
          v-model="step"
          ref="stepper"
          color="primary"
          vertical
        >
          <q-step
            :name="1"
            title="Envio de oficio"
            caption="Enviado: 07/06/2021"
            icon="send"
            :done="step > 1"
          >
            <q-stepper-navigation class="row">
              <div class="col-3 text-center">
                <q-avatar size="50px">
                  <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                </q-avatar>
              </div>
              <div class="col-7 text-subtitle1 q-ml-sm">
                Persona 1/Puesto 1
              </div>
            </q-stepper-navigation>
          </q-step>

          <q-step
            :name="2"
            title="Instrucción 1"
            caption="Recibido: 07/06/2021"
            icon="assignment"
            :done="step > 2"
          >
            <q-stepper-navigation class="row">
              <div class="col-3 text-center">
                <q-avatar size="50px">
                  <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                </q-avatar>
              </div>
              <div class="col-7 text-subtitle1 q-ml-sm">
                Persona 2/Puesto 2
              </div>
            </q-stepper-navigation>
          </q-step>

          <q-step
            :name="3"
            title="Instrucción 2"
            caption="Pendiente"
            icon="assignment"
            :done="step > 3"
          >
            <q-stepper-navigation class="row">
              <div class="col-3 text-center">
                <q-avatar size="50px">
                  <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                </q-avatar>
              </div>
              <div class="col-7 text-subtitle1 q-ml-sm">
                Persona 3/Puesto 3
              </div>
            </q-stepper-navigation>
          </q-step>

          <q-step
            :name="4"
            title="instrucción 3"
            caption="Pendiente"
            icon="assignment"
            :done="step > 3"
          >
            <q-stepper-navigation class="row">
              <div class="col-3 text-center">
                <q-avatar size="50px">
                  <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                </q-avatar>
              </div>
              <div class="col-7 text-subtitle1 q-ml-sm">
                Persona 3/Puesto 3
              </div>
            </q-stepper-navigation>
          </q-step>
        </q-stepper>
      </q-card>
    </q-dialog>
    <q-dialog v-model="isFileShow" full-height >
      <q-card style="width: 50vw;">
        <q-card-section class="full-height">
            <q-pdfviewer
            v-model="isFileShow"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
            />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { notifySuccess } from 'src/utils/notify';
import Delegate from './Delegate.vue';

export default {
  components: { Delegate },
  data() {
    return {
      src: null,
      step: 1,
      routeOptions: [
        {
          id: 1,
          name: 'Ruta de atención 1'
        },
        {
          id: 2,
          name: 'Ruta de atención 2'
        },
        {
          id: 3,
          name: 'Ruta de atención 3'
        }
      ],
      trace: false,
      originFolio: 'DE-02-2233',
      date: '2021/06/04',
      newFolio: '',
      defaultAnswer: 'En respuesta al oficio N° DE-02-2233, ',
      attentionRoute: 'Atención de oficio de proyectos',
      route: false,
      answer: false,
      view: false,
      viewInfo: true,
      reject: false,
      delegate: false,
      rejectReason: '',
      users: {
        name: 'Karen Hortensia Gutiérrez Torres',
        nameTo: 'Federico Christian González Waite'
      },
      requiresAnswer: false,
      isFileShow: false,
    }
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    config: {
      get() {
        return this.$store.state.config
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  created() {
    const positionId = window.sessionStorage.getItem('position_id');
    const catalogsConfiguration = {
      users: true,
      people: true,
      units: true,
      position: true,
      entities: true,
      cat_doc_types: true,
      cat_recep_meds: true,
      cat_priorities: true,
      position_id: positionId,
      cat_to_docs: true,
    };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
  },
  methods: {
    submitAnswer() {
      this.$q.loading.show();
      notifySuccess('Respuesta de oficio enviada correctamente');
      this.$q.loading.hide();
      this.$router.push('/');
    },
    rejectAffair() {
      this.$q.loading.show();
      notifySuccess('Oficio rechazado con éxito');
      this.$q.loading.hide();
      this.$router.push('/');
    },
    render() {
      this.src = `${this.$axios.defaults.baseURL}/api/files/1/show/template`;
      this.isFileShow = true;
    }
  }
}
</script>
