<template>
  <q-form ref="delegationForm" @submit.prevent="() => {}">
    <q-card-section>
      <div class="text-h6">
        <q-icon size="md" color="primary" name="mdi-card-bulleted-outline"/> Volante de correspondencia
      </div>
    </q-card-section>
    <q-card-section>
      <div class="row q-col-gutter-sm">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <q-input v-model="reception.folio_id" square outlined
            :rules="[(val) => !!val || 'Este campo es obligatorio']"
            label="N° Folio"
          />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
          <q-input filled v-model="reception.document_date" mask="date" :rules="['date']" label="Fecha de volante">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                  <q-date v-model="reception.document_date" today-btn first-day-of-week="0">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Cerrar" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
          <q-select
            class="q-mb-sm"
            clearable
            outlined
            v-model="attention_type_id"
            option-value="id"
            option-label="name"
            map-options
            emit-value
            :options="catalogs.cat_attention_types"
            label="Tipo de atención"
            :rules="[$rules.required($i18n.t('requiredInput'))]"
          />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
          <q-input v-if="attention_type_id == '1'" filled v-model="reception.document_date" mask="date" :rules="['date']" label="Fecha límite de respuesta">
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                  <q-date v-model="reception.document_date" today-btn first-day-of-week="0">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Cerrar" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
      </div>
      <br/>
      <div class="row q-col-gutter-sm">
        <div class="col-xs-12 col-sm-12 col-md-9">
          <q-input v-model="reception.name" square outlined label="Asunto"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
          <q-select outlined v-model="reception.priority"
            :options="catalogs.cat_priorities"
            option-value="id"
            option-label="name"
            emit-value
            :rules="[(val) => !!val || 'Este campo es obligatorio']"
            map-options label="Prioridad"
          />
        </div>
      </div>
      <br/>
      <div class="row q-col-gutter-sm">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <q-input type="textarea" v-model="reception.description" square outlined label="Descripción"/>
        </div>
      </div>
    </q-card-section>
    <br/>
    <q-separator/>
    <q-card-section>
      <DocumentCard/>
    </q-card-section>
    <div v-if="sendDirect == true">
      <br/>
      <q-separator/>
      <q-card-section>
        <People/>
      </q-card-section>
      <q-separator/>
    </div>
    <br/>
    <div v-if="endDelegation == true" align="right">
      <q-btn flat @click="sendDirect = false, endDelegation = false" label="Cancelar" color="primary" v-close-popup />
      <q-btn flat @click="delegateAffair()" label="Delegar" color="primary" />
    </div>
    <q-card-actions align="right">
      <q-fab
          v-model="fabRight"
          vertical-actions-align="right"
          color="primary"
          glossy
          icon="keyboard_arrow_left"
          label="Acciones"
          direction="left"
        >
        <q-fab-action label-position="right" color="secondary" @click="dialogRoute=true, sendDirect=false, endDelegation=false" icon="fas fa-clipboard-list" label="Asignar ruta de atención" />
        <q-fab-action v-model="sendDirect" label-position="right" color="green-8" @click="sendDirect=true, endDelegation=true" icon="mail" label="Delegar directo a destinatarios" />

      </q-fab>
      <q-dialog v-model="dialogRoute">
        <q-card>
          <q-card-section class="q-pb-none">
            <div class="text-h6">Ruta de atención</div>
          </q-card-section>
          <q-card-section>
            <q-form ref="routeForm">
              <q-select
                outlined
                v-model="route"
                multiple
                use-chips
                stack-label
                :options="routeOptions"
                :rules="[(val) => !!val || 'Este campo es obligatorio']" />
            </q-form>
          </q-card-section>
          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Crear nueva ruta de atención" @click="$router.push('/attention-route/create-to-send');" color="primary"  />
            <q-btn flat label="Enviar" @click="send()" color="positive" />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-card-actions>
    <br/>
  </q-form>
</template>

<script>
import { notifySuccess } from 'src/utils/notify';
import People from './partials/People.vue';
import DocumentCard from './partials/DocumentCard.vue';

export default {
  components: { People, DocumentCard },
  data() {
    return {
      requiresAnswer: false,
      fabRight: false,
      dialogRoute: false,
      route: null,
      routeOptions: ['Ruta de atención 1', 'Ruta de atención 2', 'Ruta de atención 3'],
      sendDirect: false,
      endDelegation: false,
      attention_type_id: '',
    }
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    config: {
      get() {
        return this.$store.state.config
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  created() {
    const catalogsConfiguration = {
      users: true,
      people: true,
      units: true,
      position: true,
      entities: true,
      cat_doc_types: true,
      cat_recep_meds: true,
      cat_priorities: true,
      cat_to_docs: true,
      cat_attention_types: true,
    };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
  },
  methods: {
    delegateAffair() {
      this.$q.loading.show();
      notifySuccess('Oficio delegado con éxito');
      this.$q.loading.hide();
      this.$router.push('/');
    },
    sendAffair() {
      this.sendDirect = true;
    },
    saveDraft() {
      this.$q.loading.show();
      notifySuccess('Se guardo el Oficio correctamente en borradores');
      this.$q.loading.hide();
      this.$router.push('/draftsTrades');
    },
    send() {
      this.$refs.routeForm.validate().then((valid) => {
        if (valid) {
          this.$q.loading.show();
          setTimeout(() => {
            notifySuccess('Se ha enviado correctamente');
            this.$router.push('/');
            this.$q.loading.hide();
          }, 500)
        }
      });
    }
  }
}
</script>
