<template>
  <q-card style="width: 100%">
    <q-item>
    <q-btn
      flat
      round
      color="primary"
      icon="fas fa-arrow-left"
      @click.native="$router.push('/admin/cat/templates').catch(err => {})"
    >
      <q-tooltip>Volver</q-tooltip>
    </q-btn>
    <q-item-section avatar>
        <q-icon size="md" name="fas fa-passport"/>
    </q-item-section>
    <q-item-section>
      <q-item-label>Crear plantilla</q-item-label>
      <q-item-label caption>
        Ingrese los siguientes valores
      </q-item-label>
    </q-item-section>
    <q-btn
          flat
          round
          color="primary"
          icon="fa fa-question-circle"
          @click="useVar = true"
        >
          <q-tooltip
            anchor="center right"
            self="center left"
            :offset="[10, 10]"
          >
            Información Variables
          </q-tooltip>
      </q-btn>
  </q-item>
  <q-separator />
  <div class="q-pa-sm">
    <q-card-section>
      <q-form ref="form" @submit.prevent="() => {}" class="q-gutter-lg">
        <div class="row q-col-gutter-md">
          <div class="col-xs-12 col-sm-10 col-md-5 q-mb-sm">
            <q-input v-model="form.name" square outlined label="Nombre" :rules="[$rules.required($i18n.t('requiredInput'))]"/>
          </div>
          <div class="col-xs-12 col-sm-10 col-md-5 q-mb-sm">
            <q-input v-model="form.acronym" square outlined label="Acronimo" maxlength="155" :rules="[$rules.required($i18n.t('requiredInput'))]"/>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 q-mb-sm">
            <q-checkbox v-model="form.global" label="Global" />
          </div>
          <div class="col-12 q-mb-sm">
            <q-select
              label="Tipo de documento"
              outlined
              map-options
              emit-value
              v-model="form.cat_doc_types_id"
              option-value="id"
              option-label="name"
              :options="catalogs.cat_doc_types"
              :rules="[$rules.required($i18n.t('requiredInput'))]"
            />
          </div>
          <div class="col-12 q-mb-sm">
            <q-select
              v-if="!form.global"
              label="Unidad administrativa"
              outlined
              multiple
              use-chips
              map-options
              emit-value
              v-model="form.unit_ids"
              option-value="id"
              option-label="name"
              :options="catalogs.units"
              :rules="[$rules.required($i18n.t('requiredInput'))]"
            />
          </div>
          <div class="col-12">
            <q-input square outlined type="textarea" v-model="form.phrase" label="Leyenda encargado" />
          </div>
        </div>
      </q-form>
    </q-card-section>
    <q-card-actions align="right">
      <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
      <q-btn flat @click="store()" label="Guardar" color="primary" />
    </q-card-actions>
    </div>
    <q-dialog v-model="useVar" full-width>
      <q-card>
        <q-card-section class="bg-primary text-white row items-center row items-center">
          <q-icon name="fa fa-question-circle" color="secondary" :size="'lg'"/>
          <span class="q-ml-md text-h6">Información Variables</span>
          <q-space />
          <q-btn class="items-right" icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-separator />

        <q-card-section class="scroll">
          <p>Las variables que se pueden agregar son las siguientes (ejemplo):</p>
          <div class="row justify-center">
            <q-img
              :src="url"
              spinner-color="white"
              style="height: 500px; max-width: 800px"
            />
          </div>
          <div class="row justify-center">
            <q-btn push color="primary" :label="label_img" @click="refresh" />
          </div>
          <p>Nota: Recuerde que las variables deben ir entre llaves </p>
          <ul>
            <li><strong>${AREA_REMITENTE}</strong> El área a la que pertenece el creador del documento</li>
            <li><strong>${NOMBRE_REMITENTE}</strong> El nombre del remitente</li>
            <li><strong>${PUESTO_REMITENTE}</strong> El nombre del puesto de remitente</li>
            <li><strong>${AREA_SUPERIOR}</strong> El área superior a la que pertenece el creador del documento</li>
            <li><strong>${FECHA}</strong> La fecha del documento</li>
            <li><strong>${FOLIO}</strong> El folio que se le asigna al enviar el documento</li>
            <li><strong>${FOLIO_CONTROL}</strong> El folio de control interno que se asigna creador del documento</li>
            <li><strong>${AREA_DESTINO}</strong> El área al que pertenece el destinatario</li>
            <li><strong>${NOMBRE_DESTINO}</strong> El nombre del destinatario</li>
            <li><strong>${PUESTO_DESTINO}</strong> El nombre del puesto del destinatario</li>
            <li><strong>${LEYENDA_ENCARGADO}</strong> Leyenda que autoriza o informa la firma de un encargado de puesto</li>
          </ul>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-card>
</template>

<script>
import * as DataService from 'src/services/admin/catalogs/TemplateService';
import { notifySuccess, notifyAlert } from 'src/utils/notify';
import { cleanStr } from 'boot/customFunctions';

export default {
  data() {
    return {
      form: {
        name: '',
        unit_ids: [],
        phrase: '',
        acronym: '',
        global: false,
        cat_doc_types_id: '',
      },
      useVar: false,
      url: 'variables2.png',
      label_img: 'Generar Plantilla',
    };
  },
  created() {
    const catalogsConfiguration = { units: true, cat_doc_types: true };
    this.$q.loading.show();
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      this.$q.loading.hide();
    });
  },
  methods: {
    refresh() {
      if (this.label_img === 'Generar Plantilla') {
        this.label_img = 'Regresar a plantilla'
        this.url = 'variables.png'
      } else {
        this.label_img = 'Generar Plantilla'
        this.url = 'variables2.png'
      }
    },
    store() {
      this.$refs.form.validate().then((valid) => {
        if (valid) {
          this.$q.loading.show();
          if (this.form.global) {
            this.form.unit_ids = []
          }
          DataService.store(this.form).then(() => {
            notifySuccess('Se ha creado la plantilla correctamente');
            this.$q.loading.hide();
            this.$router.push('/admin/cat/templates');
          }).catch((err) => {
            this.$q.loading.hide();
            notifyAlert(err)
          })
        }
      })
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    nameD() {
      return this.form.name
    },
    phraseD() {
      return this.form.phrase
    }
  },
  watch: {
    nameD(cad) {
      this.form.name = cleanStr(cad)
    },
    phraseD(cad) {
      this.form.phrase = cleanStr(cad)
    }
  },
};
</script>
