<template>
<q-card style="width: 100%">
  <q-item>
    <q-btn
      flat
      round
      color="primary"
      icon="fas fa-arrow-left"
      @click.native="$router.push('/admin/cat/templates').catch(err => {})"
    >
      <q-tooltip>Volver</q-tooltip>
    </q-btn>
    <q-item-section avatar>
        <q-icon size="md" name="fas fa-passport"/>
    </q-item-section>
    <q-item-section>
      <q-item-label>Editar tipo de documento</q-item-label>
      <q-item-label caption>
        Ingrese los siguientes valores
      </q-item-label>
    </q-item-section>
    <q-btn
          flat
          round
          color="primary"
          icon="fa fa-question-circle"
          @click="useVar = true"
        >
          <q-tooltip
            anchor="center right"
            self="center left"
            :offset="[10, 10]"
          >
            Información Variables
          </q-tooltip>
      </q-btn>
  </q-item>
  <q-separator />
  <div class="q-pa-sm">
    <q-card-section>
      <div class="row q-col-gutter-sm">
        <div class="col-xs-12 col-sm-10 col-md-5 q-mb-sm">
            <q-input v-model="form.name" square outlined label="Nombre" maxlength="155" :rules="[$rules.required($i18n.t('requiredInput'))]"/>
          </div>
        <div class="col-xs-12 col-sm-10 col-md-5 q-mb-sm">
            <q-input v-model="form.acronym" square outlined label="Acronimo" maxlength="155" :rules="[$rules.required($i18n.t('requiredInput'))]"/>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 q-mb-sm">
            <q-checkbox v-model="form.global" label="Global" />
          </div>
          <div class="col-12 q-mb-sm">
            <q-select
              label="Tipo de documento"
              outlined
              map-options
              emit-value
              v-model="form.cat_doc_types_id"
              option-value="id"
              option-label="name"
              :options="catalogs.cat_doc_types"
              :rules="[$rules.required($i18n.t('requiredInput'))]"
            />
          </div>
          <div class="col-12 q-mb-sm">
            <q-select
              v-if="!form.global"
              label="Unidad administrativa"
              outlined
              multiple
              use-chips
              map-options
              emit-value
              v-model="form.unit_ids"
              option-value="id"
              option-label="name"
              :options="catalogs.units"
              :rules="[$rules.required($i18n.t('requiredInput'))]"
            />
          </div>
          <div class="col-12">
            <q-input square outlined type="textarea" v-model="form.phrase" label="Leyenda encargado" />
          </div>
      </div>
    </q-card-section>
    <div style="width:100%;height:100vh;">
      <q-card class="column full-height" >
        <iframe title="collabora" id="collabora-online-viewer" name="collabora-online-viewer" style="width:100%;height:100%;position:absolute;">
        </iframe>
      </q-card>
      <div style="display: none">
        <form enctype="multipart/form-data" method="post" target="collabora-online-viewer" id="collabora-submit-form">
          <input name="access_token" type="hidden" id="access-token"/>
          <input type="submit" value="" />
        </form>
      </div>
    </div>
    <q-card-actions align="right">
      <q-btn flat @click.native="$router.push('/admin/cat/templates').catch(err => {})" label="Cancelar" color="primary" />
      <q-btn flat @click="update()" label="Guardar" color="primary" />
    </q-card-actions>
  </div>

  <q-dialog v-model="confirmDialog" persistent>
    <q-card>
      <q-card-section class="row items-center">
        <q-avatar icon="signal_wifi_off" color="primary" text-color="white" />
        <span class="q-ml-sm">¿Desea guardar los cambios del documento?</span>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="Guardar" @click="saveExit()" color="primary" v-close-popup />
        <q-btn flat label="No guardar" @click="save=false;$router.back()" color="primary" v-close-popup />
        <q-btn flat label="Cancelar" color="primary" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>

  <q-dialog v-model="useVar" full-width>
    <q-card>
      <q-card-section class="bg-primary text-white row items-center row items-center">
        <q-icon name="fa fa-question-circle" color="secondary" :size="'lg'"/>
        <span class="q-ml-md text-h6">Información Variables</span>
        <q-space />
        <q-btn class="items-right" icon="close" flat round dense v-close-popup />
      </q-card-section>

      <q-separator />

      <q-card-section class="scroll">
        <p>Las variables que se pueden agregar son las siguientes (ejemplo):</p>
        <div class="row justify-center">
          <q-img
            :src="url"
            spinner-color="white"
            style="height: 500px; max-width: 800px"
          />
        </div>
        <div class="row justify-center">
          <q-btn push color="primary" :label="label_img" @click="refresh" />
        </div>
        <p>Nota: Recuerde que las variables deben ir entre llaves </p>
        <ul>
          <li><strong>${AREA_REMITENTE}</strong> El área a la que pertenece el creador del documento</li>
          <li><strong>${NOMBRE_REMITENTE}</strong> El nombre del remitente</li>
          <li><strong>${PUESTO_REMITENTE}</strong> El nombre del puesto de remitente</li>
          <li><strong>${AREA_SUPERIOR}</strong> El área superior a la que pertenece el creador del documento</li>
          <li><strong>${FECHA}</strong> La fecha del documento</li>
          <li><strong>${FOLIO}</strong> El folio que se le asigna al enviar el documento</li>
          <li><strong>${FOLIO_CONTROL}</strong> El folio de control interno que se asigna creador del documento</li>
          <li><strong>${AREA_DESTINO}</strong> El área al que pertenece el destinatario</li>
          <li><strong>${NOMBRE_DESTINO}</strong> El nombre del destinatario</li>
          <li><strong>${PUESTO_DESTINO}</strong> El nombre del puesto del destinatario</li>
          <li><strong>${LEYENDA_ENCARGADO}</strong> Leyenda que autoriza o informa la firma de un encargado de puesto</li>
        </ul>
      </q-card-section>
    </q-card>
  </q-dialog>
</q-card>
</template>

<script>
import * as DataService from 'src/services/admin/catalogs/TemplateService';
import { notifySuccess, notifyError } from 'src/utils/notify';
import { cleanStr } from 'boot/customFunctions';

export default {
  data() {
    return {
      form: {
        name: '',
        phrase: '',
        acronym: '',
        unit_ids: [],
        global: false,
        file_id: '',
        cat_doc_types_id: ''
      },
      docModified: false,
      confirmDialog: false,
      save: true,
      useVar: false,
      url: 'variables2.png',
      label_img: 'Generar Documento',
    };
  },
  created() {
    const catalogsConfiguration = { contracts: true, units: true, cat_doc_types: true };
    const { id } = this.$route.params
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      // This is intentional
    });
    DataService.edit(id).then((data) => {
      this.form = data;
      document.getElementById('access-token').value = data.token
      const formElem = document.getElementById('collabora-submit-form');
      formElem.action = `${data.url}WOPISrc=${process.env.COLLAB_BASE_URL}/api/wopi/files/${data.file_id}`
      formElem.submit();
      window.addEventListener('message', (e) => {
        const dataCollab = JSON.parse(e.data)
        if (dataCollab.MessageId === 'Doc_ModifiedStatus') {
          this.docModified = dataCollab.Values.Modified
        }
      })
    }).catch(() => {
    })
  },
  methods: {
    refresh() {
      if (this.label_img === 'Generar Documento') {
        this.label_img = 'Regresar a plantilla'
        this.url = 'variables.png'
      } else {
        this.label_img = 'Generar Documento'
        this.url = 'variables2.png'
      }
    },
    update() {
      this.$q.loading.show();
      const { id } = this.$route.params
      if (this.form.global) {
        this.form.unit_ids = []
      }
      const form = { ...this.form };
      const wn = document.getElementById('collabora-online-viewer').contentWindow;
      const message = JSON.stringify({
        MessageId: 'Action_Save',
        SendTime: Date.now(),
        Values: {
          DontTerminateEdit: true,
          DontSaveIfUnmodified: true,
          Notify: false,
          ExtendedData: '',
        }
      })
      wn.postMessage(message, '*')
      DataService.update(form, id).then(() => {
        notifySuccess('Se ha actualizado la plantilla correctamente');
        this.$q.loading.hide();
        this.$router.push('/admin/cat/templates');
      }).catch((err) => {
        this.$q.loading.hide();
        notifyError(err.response.data.message)
      })
    },
    cancel() {
      if (this.docModified) {
        this.confirmDialog = true
      } else {
        this.$router.back();
      }
    },
    saveExit() {
      const wn = document.getElementById('collabora-online-viewer').contentWindow;
      const message = JSON.stringify({
        MessageId: 'Action_Save',
        SendTime: Date.now(),
        Values: {
          DontTerminateEdit: true,
          DontSaveIfUnmodified: true,
          Notify: false,
          ExtendedData: '',
        }
      })
      wn.postMessage(message, '*')
      this.$router.back();
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    disabled: {
      get() { return !this.canShow('catalogs-edit') }
    },
    canEdit() {
      return !this.disabled;
    },
    nameD() {
      return this.form.name
    },
    phraseD() {
      return this.form.phrase
    }
  },
  watch: {
    nameD(cad) {
      this.form.name = cleanStr(cad)
    },
    phraseD(cad) {
      this.form.phrase = cleanStr(cad)
    }
  },
  beforeDestroy() {
    if (this.docModified) {
      const wn = document.getElementById('collabora-online-viewer').contentWindow;
      const message = JSON.stringify({
        MessageId: 'Action_Save',
        SendTime: Date.now(),
        Values: {
          DontTerminateEdit: true,
          DontSaveIfUnmodified: true,
          Notify: false,
          ExtendedData: '',
        }
      })
      wn.postMessage(message, '*')
    }
  }
};
</script>
