<template>
  <div class="q-gutter-md">
    <q-card>
      <q-card-section align="center">
        <div class="row">
          <div class="col-11 text-h6" >
            <q-icon size="sm" name="far fa-id-card" /> Mi Perfil
          </div>
        </div>
      </q-card-section>
    </q-card>
    <q-card>
      <q-card-section>
        <div class="q-pa-md">
          <div class="row">
            <div class="col-12 col-md-5 text-center">
              <q-avatar  id="avatar" size="175px">
                <q-btn round size="md" @click="isShowDialogFile = true" color="secondary" class="avatar-btn absolute all-pointer-events cursor-pointer"  icon="fas fa-pen"  style="top: -10px; left: 0px;z-index:9"/>
                <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
                <q-img v-if="!user.file_id" src="~assets/img/user.png" style="max-width: 200px;"/>
              </q-avatar>
            </div>
            <div class="col-12 col-md-5">
                <q-list>
                  <q-item>
                    <q-item-section>
                      <div class="text-weight-bolder">Nombre</div>
                      <div caption
                        >{{ user.name }} {{ user.last_name }}
                        {{ user.second_lastname }}</div
                      >
                    </q-item-section>
                  </q-item>

                  <q-item>
                    <q-item-section>
                      <div class="text-weight-bolder" >Puesto asignado</div>
                      <div caption>{{ user.position }}</div>
                    </q-item-section>
                  </q-item>
                  <q-item>
                    <q-item-section>
                      <div class="text-weight-bolder">Email</div>
                      <div caption>{{ user.email }}</div>
                    </q-item-section>
                    <q-item-section>
                      <q-btn flat round color="primary" icon="edit" @click="editEmail = true, edit()"/>
                    </q-item-section>
                  </q-item>

                  <q-item>
                    <q-item-section>
                      <div class="text-weight-bolder">Teléfono</div>
                      <div caption mask="(##) #### - ####">{{ user.phone }}</div>
                    </q-item-section>
                    <q-item-section >
                      <q-btn flat round color="primary" icon="edit" @click="editPhone = true, edit()"/>
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
            </div>
        </div>
      </q-card-section>
    </q-card>
    <q-card>
      <q-card-section align="center">

        <p class="text-h6 aling">{{ user.name + " " + user.last_name + ' ' + user.second_lastname}}</p>
        <q-tabs
          v-model="tab"
          dense
          active-color="black"
          indicator-color="black"
          align="justify"
          narrow-indicator
          class="text-grey shadow-2"
        >
          <q-tab name="history" label="Mi historia" />
          <q-separator vertical />
          <q-tab name="positionHistory" label="Historia del puesto" />
          <q-separator vertical />
          <q-tab name="security" label="Seguridad" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tabs" animated>
          <q-tab-panel name="history">
            <HistoryTable />
          </q-tab-panel>
          <q-tab-panel name="positionHistory">
            <PositionHistory />
          </q-tab-panel>
          <q-tab-panel name="security">
            <div>
              <p style="font-size: 1.25rem">Contraseña</p>
              <p>Cambia la contraseña de tu usuario</p>
              <q-btn
                color="primary"
                label="Cambiar"
                @click="editPasswordDialog = true"
              />
            </div>
            <q-dialog v-model="editPasswordDialog">
              <q-card>
                 <EditPassword :editPasswordDialog="editPasswordDialog" />
              </q-card>
            </q-dialog>
          </q-tab-panel>
        </q-tab-panels>
      </q-card-section>
    </q-card>
     <q-dialog v-model="editEmail" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Actualizar correo electrónico</div>
        </q-card-section>
        <q-form ref="form" @submit.prevent="() => {}">
          <q-card-section>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-input outlined v-model="form.email"
                     label="Email" type="email"
                     :rules="[(val) => !!val || 'Este campo es obligatorio', isValidEmail]" />
            </div>
          </q-card-section>
        </q-form>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Guardar" @click="update()" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="editPhone" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          {{ this.user_id }}
          <div class="text-h6">Actualizar numero de teléfono 10 dígitos</div>
        </q-card-section>
        <q-form ref="form" @submit.prevent="() => {}">
          <q-card-section>
            <div class="col-xs-12 col-sm-12 col-md-6">
            <q-input :rules="[(val) => !!val || 'Este campo es obligatorio', isValidPhone]"
              v-model="form.phone" square outlined label="Teléfono" mask="(##)-########"/>
          </div>
          </q-card-section>
        </q-form>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Guardar" @click="update()" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="isShowDialogFile">
      <UploadImage v-on:uploaded="(file) => setImage(file)" module="user_img" fileType="img" />
    </q-dialog>
  </div>
</template>

<script>
import { notifySuccess } from 'src/utils/notify';
import UploadImage from 'components/global/UploadImage';
import * as PeopleService from 'src/services/PeopleService';
// import * as StructureService from 'src/services/StructureService';
import HistoryTable from './partials/HistoryTable';
import PositionHistory from './partials/PositionHistory.vue';
import EditPassword from './partials/EditPassword';

export default {
  components: {
    HistoryTable,
    PositionHistory,
    EditPassword,
    UploadImage,
  },
  data() {
    return {
      data: [],
      form: {
        email: '',
        phone: ''
      },
      isShowDialogFile: false,
      editPasswordDialog: false,
      editProfilePicture: false,
      editEmail: false,
      editPhone: false,
      tabs: 'history',
      user_id: ''
    };
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val);
      },
    },
    config: {
      get() {
        return this.$store.state.config;
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      },
    },
    user: {
      get() {
        return this.$store.state.user.information;
      },
    },
  },
  created() {
    const catalogsConfiguration = {
      users: true,
      people: true,
      cat_doc_types: true,
      cat_recep_meds: true,
      cat_priorities: true,
      cat_to_docs: true,
    };
    console.log(this.user);
    this.$store.commit('reception/reset');
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
  },
  beforeCreate() {
    this.$urlActual = '/profile';
    console.log('urlActual', this.$urlActual);
    this.$store.commit('reception/reset');
    this.active = this.$urlActual;
    console.log('active: ', this.active);
  },
  updated() {
    console.log('something has been updated')
  },
  methods: {
    setImage(file) {
      this.isShowDialogFile = false;
      const form = { file_id: file.id };
      this.$store.dispatch('user/setFileUser', form);
    },
    isValidEmail(val) {
      const emailPattern = /^(?=[a-zA-Z0-9@.%+-]{6,254}$)[a-zA-Z0-9.%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || 'Debe ingresar un correo válido ejemplo@ejemplo.com';
    },
    isValidPhone(val) {
      const phonePattern = /^\(?(\d{2})\)?[-]?(\d{4})[-]?(\d{4})$/;
      return phonePattern.test(val) || 'Debe ingresar un número válido 55-12345678';
    },
    edit() {
      const id = this.user.user_id;
      console.log(id);
      PeopleService.edit(id).then((data) => {
        this.form = data;
        console.log(data);
        this.$q.loading.hide();
      }).catch(() => {
        this.$q.loading.hide();
      })
    },
    update() {
      this.$refs.form.validate().then((valid) => {
        if (valid) {
          const form = { ...this.form };
          const id = this.user.user_id;
          PeopleService.update(form, id).then(() => {
            notifySuccess();
            this.editEmail = false;
            this.editPhone = false;
            this.$router.go();
          }).catch((err) => {
            console.log(err)
          })
        }
      })
    },
  }
};
</script>
