<style scoped>
.mayus {
    text-transform: uppercase;
}
</style>
<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-icon size="sm" name="mdi-file-plus-outline"/> Generación de Documentos
        </div>
      </q-card-section>
    </q-card>
    <br>
    <q-card>
      <div class="q-pa-sm">
        <q-card-section>
          <SendTo
            :toPeople="toPeople"
            :ccpPeople="ccpPeople"
            :from="from"
          />
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <q-form ref="form" @submit.prevent="() => {}">
            <q-card-section>
              <div class="row q-col-gutter-x-sm q-col-gutter-y-lg">
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <q-select outlined v-model="form.cat_doc_id"
                    @input="filterResults($event)"
                    :options="catalogs.cat_doc_types"
                    option-value="id"
                    option-label="name"
                    emit-value
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                    map-options
                    label="Tipo de documento"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <q-select outlined v-model="form.template_id"
                            :options="this.filtertemplates"
                            option-value="id"
                            option-label="name"
                            emit-value
                            :rules="[(val) => !!val || 'Este campo es obligatorio']"
                            map-options
                            label="Plantilla de documento"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <q-input outlined v-model="docummnetDate" mask="date" :rules="['date']" label="Fecha del Oficio">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date v-model="docummnetDate" first-day-of-week="0" :options="optionsFn">
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Cerrar" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <q-input outlined v-model="commitmentDate" mask="date" :rules="['date']" label="Fecha Compromiso">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date v-model="commitmentDate" first-day-of-week="0" :options="optionsCommit">
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Cerrar" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                  <q-select outlined v-model="form.cat_priorities_id"
                    :options="catalogs.cat_priorities"
                    option-value="id"
                    option-label="name"
                    emit-value
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                    map-options
                    label="Prioridad"
                  />
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                  <q-input
                    class="mayus"
                    v-model="form.folio_control"
                    outlined
                    label="Folio/Control Interno"
                    maxlength="255"
                  />
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                  <q-toggle
                    v-model="form.require_response"
                    checked-icon="check"
                    color="green"
                    label="Requiere Respuesta"
                    unchecked-icon="clear"
                  />
                </div>
                <div class="col-12">
                  <q-select
                    label="Palabras clave"
                    outlined
                    v-model="form.key_words"
                    use-input
                    use-chips
                    multiple
                    hide-dropdown-icon
                    input-debounce="0"
                    new-value-mode="add-unique"
                  />
                </div>
                <div class="col-12">
                  <q-input
                    v-model="form.subject"
                    outlined
                    label="Asunto"
                    maxlength="255"
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                  />
                </div>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="text-h6">
                <q-separator spaced/>
                <q-icon size="sm" color="primary" name="far fa-comments"/> Comentarios
              </div>
              <br>
              <div class="row q-col-gutter-sm">
                <div bottom-slots class=" col-xs-12 col-sm-11 col-md-11">
                  <Comments
                    @addComment="addComment"
                    :commentary="commentsArray"
                  />
                </div>
                <div class="col-xs-12 col-sm-1 col-md-1">
                  <q-btn v-if="commentsArray.writedComment !== ''" round dense flat @click="addComment()" icon="send" />
                </div>
              </div>
              <q-list>
                <q-item
                  clickable
                  v-ripple
                  v-for="item in items"
                  :key="item.id"
                  :item="item"
                >
                  <q-item-section>
                    <q-item-label>
                      <div class="q-mt-sm q-mb-xs text-subtitle2">
                        {{ user.name }} {{ user.last_name }} {{ user.second_lastname }} / {{ user.position }}
                      </div>
                    </q-item-label>
                    <div class="q-mt-sm q-mb-xs text-subtitle1">
                      <q-chat-message
                        :text="[item.comment]"
                        avatar="~assets/img/user.png"
                        text-color="white"
                        bg-color="secondary"
                      />
                    </div>
                    <q-item-label caption>
                      Enviado: {{ day }}/{{ month }}/{{ year }}
                      a las: {{ hour }}:{{ minutes }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-section>
            <q-card-section>
              <Signatures
              :toSenders="toSenders"
              :from="from"
              />
              <br/>
            </q-card-section>
          </q-form>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn @click="sendAffair()" flat label="Siguiente" color="primary" />
        </q-card-actions>
      </div>
    </q-card>
    <q-dialog v-model="errorDate">
      <q-card>
        <q-card-section class="bg-negative text-white row items-center q-pb-none">
          <div class="text-h6">Fecha invalida</div>
        </q-card-section>
        <q-card-section>
          La fecha de compromiso debe ser igual o posterior que la fecha del documento
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>

const today = new Date();

import { notifySuccess, /* notifyError, */ notifyAlert } from 'src/utils/notify';
import { cleanStr, enableDate } from 'boot/customFunctions';
import * as InternalAffairService from 'src/services/InternalAffairService';
import SendTo from 'src/components/global/SendTo'
import moment from 'moment';
import Comments from './partials/Comments';
import Signatures from './partials/Signatures';

moment().format();

export default {
  components: { Comments, SendTo, Signatures },
  data() {
    return {
      form: {
        document_date: '',
        commitment_date: '',
        template_id: '',
        cat_doc_id: '',
        cat_priorities_id: '',
        subject: '',
        require_response: true,
        status_id: 1,
        folio_control: '',
        key_words: [],
      },
      commentsArray: {
        writedComment: '',
      },
      filtertemplates: [],
      items: [],
      itemId: 0,
      day: today.getDate(),
      month: today.getMonth(),
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      toPeople: [],
      ccpPeople: [],
      toSenders: [],
      from: 'internalAffair',
      generateFolio: false,
      errorDate: false,
      holidaysArr: [],
      docummnetDate: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
      commitmentDate: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
    }
  },
  beforeRouteLeave(to, from, next) {
    const url = to.path
    const expression = 'internal-affair/([^ ]*)/office'
    const regex = new RegExp(expression);
    if (!url.match(regex)) {
      if (!window.confirm('¿Estás seguro de salir?')) {
        return;
      }
    }
    next();
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    folioControlD() {
      return this.form.folio_control
    },
    subjectD() {
      return this.form.subject
    }
  },
  created() {
    const positionId = window.sessionStorage.getItem('position_id');
    const catalogsConfiguration = {
      units: true,
      position: true,
      cat_doc_types: true,
      cat_recep_meds: true,
      cat_priorities: true,
      cat_holidays: true,
      cat_templates: true,
      position_id: positionId,
    };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
  },
  watch: {
    docummnetDate(cad) {
      if (this.validateDate(cad) === false && !this.can('send-Holiday')) {
        this.docummnetDate = ''
      } else {
        this.docummnetDate = cad
      }
    },
    commitmentDate(cad) {
      if (this.validateDate(cad) === false && !this.can('send-Holiday')) {
        this.commitmentDate = ''
      } else {
        this.commitmentDate = cad
      }
    },
    folioControlD(cad) {
      this.form.folio_control = cleanStr(cad)
    },
    subjectD(cad) {
      this.form.subject = cleanStr(cad)
    }
  },
  methods: {
    filterResults(val) {
      const templates = this.catalogs.cat_templates
      this.filtertemplates = []
      this.form.template_id = null
      let key = 0
      for (let i = 0; i < templates.length; i += 1) {
        if (templates[i].cat_doc_types_id === val) {
          this.filtertemplates[key] = templates[i]
          key += 1
        }
      }
      console.log(this.filtertemplates)
    },
    validateDate(cad) {
      const holidays = this.$store.state.catalogs.cat_holidays;
      const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
      const valid = (arr.includes(cad)) ? false : cad
      return valid
    },
    optionsFn(date) {
      const holidays = this.catalogs.cat_holidays;
      date = enableDate(this.user.permissions, holidays, date)
      return date !== false;
    },
    optionsCommit(date) {
      const todayCalendar = new Date(date)
      const todayCommit = new Date()
      const holidays = this.catalogs.cat_holidays;
      const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
      date = (arr.includes(date)) ? false : date
      date = enableDate(this.user.permissions, holidays, date)
      return date !== false && todayCalendar >= todayCommit
    },
    addComment() {
      if (this.commentsArray.writedComment !== '') {
        this.items.push({ comment: this.commentsArray.writedComment, id: this.itemId })
        this.commentsArray.writedComment = '';
        this.itemId += 1;
      }
    },
    sendAffair() {
      // const permissionArr = this.user.permissions;
      let daysDiff = '';
      if (!this.can('send-Holiday')) {
        const holidays = this.catalogs.cat_holidays;
        const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
        const validDocDate = arr.includes(this.docummnetDate)
        const validComDate = arr.includes(this.commitmentDate)
        if (validDocDate) {
          notifyAlert('La fecha no es valida');
          this.docummnetDate = ''
          return
        }
        if (validComDate) {
          notifyAlert('La fecha no es valida');
          this.commitmentDate = ''
          return
        }
      }
      if (!this.can('send-Weekend')) {
        const dateObjD = new Date(this.docummnetDate)
        this.docummnetDate = (dateObjD.getDay() === 0 || dateObjD.getDay() === 6) ? '' : this.docummnetDate
        const dateObjC = new Date(this.commitmentDate)
        this.commitmentDate = (dateObjC.getDay() === 0 || dateObjC.getDay() === 6) ? '' : this.commitmentDate
        if (this.docummnetDate === '' || this.commitmentDate === '') {
          notifyAlert('La fecha no es valida');
          return
        }
      }

      this.form.document_date = this.docummnetDate;
      this.form.commitment_date = this.commitmentDate;
      const docDate = moment(this.form.document_date);
      const comDate = moment(this.form.commitment_date);

      daysDiff = comDate.diff(docDate, 'days');
      // console.log(daysDiff);

      if (daysDiff >= 0) {
        const receiverCheck = this.toPeople.length > 0
        if (!receiverCheck) {
          notifyAlert('Sin destinatraio');
        } else {
          this.$refs.form.validate().then((valid) => {
            if (valid && receiverCheck) {
              const form = { ...this.form,
                comments: this.items,
                participation: { to: [...this.toPeople], ccp: [...this.ccpPeople], sender: [...this.toSenders] },
                position_id: window.sessionStorage.getItem('position_id'),
                is_attendant: window.sessionStorage.getItem('is_attendant'),
                from_user_id: this.$store.state.user.information.from_user_id
              };
              this.$q.loading.show();
              console.log(form)
              InternalAffairService.store(form).then((data) => {
                notifySuccess();
                this.$q.loading.hide();
                this.$router.push(`/internal-affair/${data.affair.id}/office`);
              }).catch((error) => {
                console.log(error.response);
                notifyAlert(error.response.data.message)
                this.$q.loading.hide();
              })
            }
          });
        }
      } else if (this.docummnetDate === '') {
        notifyAlert('La fecha no es valida, ya que es un día feriado')
      } else if (this.commitmentDate === '') {
        notifyAlert('La fecha no es valida, ya que es un día feriado')
      } else {
        this.errorDate = true;
      }
    },
  },
}

</script>

<style lang="sass" scoped>
</style>
