<template>
  <div>
    <q-card class="row q-mb-md justify-between">
      <q-card-actions>
        <q-btn
          flat
          round
          color="primary"
          icon="fas fa-arrow-left"
          @click="$router.back()"
        >
          <q-tooltip>Volver</q-tooltip>
      </q-btn>
        <span class="q-ml-md text-h6">{{ form.folio || 'Folio no generado' }} / {{form.subject}}</span>
      </q-card-actions>
      <q-card-actions>
        <q-btn
          v-if="(form.affair_status_id === 9 && form.is_sender && form.pendingSigns === 0)"
          flat
          @click="DialogFinishSignature=true"
          icon="send"
          color="primary">
          <q-tooltip>Enviar documento</q-tooltip>
        </q-btn>
        <q-btn
          v-if="(form.affair_status_id === 9 && !form.is_sender && !form2.signed)"
          flat
          @click="Dialogsignature=true"
          icon="send"
          color="primary">
          <q-tooltip>Firmar documento</q-tooltip>
        </q-btn>
        <q-btn v-if="form.affair_status_id !== 8 && form.is_sender" flat round size="sm" @click="cancelDialog=true, affairId = form.id, typeAffair = form.affair_type" color="primary" icon="fas fa-ban">
          <q-tooltip>Cancelar</q-tooltip>
        </q-btn>
        <q-btn
          v-if="form.affair_status_id === 2"
          flat
          @click="collabHistory()"
          icon="fab fa-slideshare"
          color="primary">
          <q-tooltip>Seguimiento Colaborativo</q-tooltip>
        </q-btn>
        <q-btn
          v-if="(form.affair_status_id === 1  && form.is_sender) || (form.affair_status_id === 9 && form.is_sender && form.file.filetype === 'docx')"
          flat
          @click="edit()"
          icon="description"
          color="primary">
          <q-tooltip>Editar documento</q-tooltip>
        </q-btn>
        <q-btn
          v-if="(form.affair_status_id === 3 || form.affair_status_id === 4) && form.is_sender"
          flat
          @click="$router.push(`/internal-affair/${form.id}/repair`)"
          icon="broken_image"
          color="primary">
          <q-tooltip>Documento corrupto</q-tooltip>
        </q-btn>
        <q-btn
          v-if="form.affair_status_id === 1 && can('document-collaborate')"
          flat
          @click="convertCollabora()"
          icon="groups"
          color="primary">
          <q-tooltip>Documento Colaborativo</q-tooltip>
        </q-btn>
        <q-btn
          v-if="form.affair_status_id === 2"
          flat
          @click="$router.push(`/collabora/${form.id}/edit`)"
          icon="groups"
          color="primary">
          <q-tooltip>Documento Colaborativo</q-tooltip>
        </q-btn>
        <q-btn
          v-if="form.affair_status_id > 2 && form.file.filetype !== 'docx'"
          flat
          size="sm"
          @click="render(form.id)"
          icon="fas fa-eye"
          color="primary">
          <q-tooltip>Ver asunto</q-tooltip>
        </q-btn>
        <q-btn
          flat
          size="sm"
          @click="actionsDialog=true"
          icon="timeline"
          color="primary">
          <q-tooltip>Seguimiento</q-tooltip>
        </q-btn>
        <q-btn flat round size="sm" @click="history(form.id, form.affair_type)" color="primary" icon="history">
          <q-tooltip>Historia</q-tooltip>
        </q-btn>
        <q-btn
          v-if="(form.affair_status_id > 2 && form.affair_status_id != 5 && form.turn.status_id != 1 && form.turn.status_id != 'read' && form.affair_status_id != 8) && !form.is_sender"
          flat
          size="sm"
          @click="turnDialog=true"
          icon="forward"
          color="primary">
          <q-tooltip>Turnar</q-tooltip>
        </q-btn>
        <q-btn
          v-if="(form.affair_status_id > 2 && form.turn.status_id == 1 && form.affair_status_id != 8) && !form.is_sender"
          flat
          size="sm"
          @click="accept()"
          icon="check"
          color="primary">
          <q-tooltip>Aceptar turno</q-tooltip>
        </q-btn>
        <q-btn
          v-if="(form.affair_status_id > 2 && form.turn.status_id == 1 && form.affair_status_id != 8) && !form.is_sender"
          flat
          size="sm"
          @click="reject()"
          icon="close"
          color="primary">
          <q-tooltip>Rechazar turno</q-tooltip>
        </q-btn>
        <q-btn
          v-if="(form.affair_status_id > 2 && form.turn.status_id != 1 && form.affair_status_id != 8) && !form.is_sender && form.turn.structure_id != form.participation.structure_id"
          flat
          size="sm"
          @click="backTurn()"
          icon="done_all"
          color="primary">
          <q-tooltip>Terminar turno</q-tooltip>
        </q-btn>
        <q-btn
          v-if="(form.require_response == true && form.affair_status_id > 2 && form.turn.status_id != 1 && !form.participation.reply && form.affair_status_id != 8) && !form.is_sender"
          flat
          size="sm"
          @click="$router.push(`/internal-affair/${form.id}/reply`)"
          icon="reply"
          color="primary">
          <q-tooltip>Responder</q-tooltip>
        </q-btn>
        <!-- <q-btn
          v-if="form.affair_status_id == 5 && form.is_sender"
          flat
          size="sm"
          @click="toHistorical()"
          icon="inventory"
          color="primary">
          <q-tooltip>Mandar a historico</q-tooltip>
        </q-btn> -->
        <q-btn v-if="form.affair_status_id === 7" flat icon="event" color="primary">
          <q-tooltip>Programar envio</q-tooltip>
        </q-btn>
      </q-card-actions>
    </q-card>
    <q-card>
      <q-tabs
        v-model="tab"
        dense
        active-color="black"
        indicator-color="black"
        align="justify"
        narrow-indicator
        class="text-grey shadow-2"
      >
        <q-tab name="general_information" label="Información general" />
        <q-separator vertical />
        <q-tab name="annexes" label="Archivos adjuntos">
          <q-badge color="red" text-color="white" floating align="top" style="right: -23px;">
            {{ num_attached }}
          </q-badge>
        </q-tab>
        <q-separator vertical />
        <q-tab name="comments" label="Comentarios" />
      </q-tabs>
      <q-separator />

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="general_information" class="q-pa-lg">
          <div class="row q-mb-md relative-position">
            <q-btn class="absolute-top-right" @click="editDestiny()" v-if="form.affair_status_id === 1 || ( form.affair_status_id === 9 && form.is_sender)" flat icon="fas fa-edit" size="sm" color="primary">
              <q-tooltip>Editar destinatarios</q-tooltip>
            </q-btn>
            <div class="col-12 col-md-6 col-sm-6">
              <p class="text-weight-bold">De:</p>
              <q-item>
                <q-item-section avatar >
                  <q-avatar size="35px">
                    <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ form.from.position_name }}</q-item-label>
                  <q-item-label caption>{{ form.from.full_name }}</q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </div>
          <div class="row q-mb-md relative-position" >
            <q-btn class="absolute-top-right" @click="editSenders()" v-if="(form.is_sender && form.pendingSigns !== 0 && form.affair_status_id !== 8) || form.affair_status_id === 1"  flat icon="fas fa-edit" size="sm" color="primary">
              <q-tooltip>Editar remitentes</q-tooltip>
            </q-btn>
            <div class="col-12 col-md-6 col-sm-6">
              <p class="text-weight-bold">Remitentes:</p>
              <q-item
                v-for="(user) in form.senders"
                :key="user.id">
                <q-item-section avatar >
                  <q-avatar size="35px">
                    <img src="~assets/img/woman.png" alt="">
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ user.position_name }}</q-item-label>
                  <q-item-label caption>{{ user.full_name }}</q-item-label>
                  <q-item-label class="text-indigo" v-if="user.signed==true">Documento Firmado</q-item-label>
                </q-item-section>
                <q-item-section side>
                </q-item-section>
              </q-item>
            </div>
          </div>
          <div class="row q-mb-md">
            <div class="col-12 col-md-6 col-sm-6">
              <p class="text-weight-bold">Para:</p>
              <q-item
                v-for="(user) in form.to"
                :key="user.id">
                <q-item-section avatar >
                  <q-avatar size="35px">
                    <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ user.position_name }}</q-item-label>
                  <q-item-label caption>{{ user.full_name }}</q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <div class="col-12 col-md-6 col-sm-6">
              <p class="text-weight-bold">Cc</p>
              <q-item
                v-for="(user) in form.ccp"
                :key="user.id">
                <q-item-section avatar >
                  <q-avatar size="35px">
                    <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ user.position_name }}</q-item-label>
                  <q-item-label caption>{{ user.full_name }}</q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </div>
          <q-separator inset />
          <div class="row q-my-md q-pr-xl relative-position">
            <q-btn class="absolute-top-right" @click="editAffair()" v-if="form.affair_status_id === 1 || (form.affair_status_id === 9 && form.is_sender)" flat icon="fas fa-edit" size="sm" color="primary">
              <q-tooltip>Editar asunto</q-tooltip>
            </q-btn>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Fecha de creación<noframes></noframes></q-item-label>
                <q-item-label>{{ new Date(form.creation_date).getDate() }}/{{ (new Date(form.creation_date).getMonth()+1) }}/{{ new Date(form.creation_date).getFullYear() }}
                  a las: {{ new Date(form.creation_date).getHours() }}:{{ (new Date(form.creation_date).getMinutes()).toString().length === 1 ? `0${(new Date(form.creation_date).getMinutes()).toString()}` : new Date(form.creation_date).getMinutes()}}
                  </q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Fecha del documento</q-item-label>
                <q-item-label>{{ new Date(form.document_date).getDate() }}/{{ (new Date(form.document_date).getMonth()+1) }}/{{ new Date(form.document_date).getFullYear() }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Fecha compromiso</q-item-label>
                <q-item-label>{{ new Date(form.commitment_date).getDate() }}/{{ (new Date(form.commitment_date).getMonth()+1) }}/{{ new Date(form.commitment_date).getFullYear() }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Fecha de envío</q-item-label>
                <q-item-label v-if="form.sent_date">{{ new Date(form.sent_date).getDate() }}/{{ (new Date(form.sent_date).getMonth()+1) }}/{{ new Date(form.sent_date).getFullYear() }}
                </q-item-label>
                <q-item-label v-if="!form.sent_date">El asunto no ha sido enviado
                </q-item-label>
              </q-item-section>
            </q-item>
          </div>
          <div class="row q-my-md q-pr-xl">
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Folio</q-item-label>
                <q-item-label>{{ form.folio || 'Folio no generado' }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Tipo de documento</q-item-label>
                <q-item-label>{{ form.doc_type_name }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold"
                  >Prioridad</q-item-label
                >
                <q-item-label>{{ form.priority_name }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Estatus</q-item-label>
                <q-item-label>{{ form.affair_status }}</q-item-label>
              </q-item-section>
            </q-item>
          </div>
          <div class="q-my-md">
            <q-item class="col-4">
              <q-item-section>
                <q-item-label class="text-weight-bold">Palabras clave</q-item-label>
                <q-item-label>{{ form.key_words.join(", ") }}</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-weight-bold"
                  >Folio/Control Interno</q-item-label
                >
                <q-item-label
                  >{{ form.folio_control }}</q-item-label
                >
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-weight-bold"
                  >Asunto</q-item-label
                >
                <q-item-label
                  >{{ form.subject }}</q-item-label
                >
              </q-item-section>
            </q-item>
          </div>
        </q-tab-panel>
        <q-tab-panel v-if="can('document-attach')" name="annexes" class="q-pa-lg">
          <DocumentCard :affairStatusId="form.affair_status_id" :numAttached="num_attached" v-on:sum-attached="sumAttached"/>
        </q-tab-panel>
        <q-tab-panel v-if="can('document-comment')"  name="comments">
          <Chat />
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
    <q-dialog v-model="historyDialog" >
      <History :affairId="affairId"
      :typeAffair="typeAffair"/>
    </q-dialog>
    <q-dialog v-model="cancelDialog" >
      <Cancel :affairId="affairId" :typeAffair='typeAffair' v-on:reload-table='recargaTabla'/>
    </q-dialog>
    <q-dialog v-model="destinyDialog" persistent>
      <q-card style="width: 900px; max-width: 80vw;">
        <q-card-section>
          <SendTo
            :toPeople="toPeople"
            :ccpPeople="ccpPeople"
          />
          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Guardar" @click="updateDestiny()" color="primary" />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="sendersDialog" persistent>
      <q-card style="width: 900px; max-width: 80vw;">
        <q-card-section>
          <Signatures
            :toSenders="toSenders"
          />
          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Guardar" @click="updateSenders()" color="primary" />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="affairDialog" persistent>
      <q-card style="width: 900px; max-width: 80vw;">
        <q-card-section class="row items-center">
          <q-icon name="fas fa-edit" color="primary" :size="'lg'"/>
          <span class="q-ml-md text-h6">Editar</span>
        </q-card-section>
        <q-card-section>
          <div class="row q-col-gutter-sm">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-input outlined v-model="formAffair.document_date" mask="date" :rules="['date']" label="Fecha del Oficio">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date v-model="formAffair.document_date" first-day-of-week="0" :options="optionsFn">
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Cerrar" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-input outlined v-model="formAffair.commitment_date" mask="date" :rules="['date']" label="Fecha Compromiso">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date v-model="formAffair.commitment_date" first-day-of-week="0" :options="optionsFn">
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Cerrar" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-select outlined v-model="formAffair.cat_priorities_id"
                :options="catalogs.cat_priorities"
                option-value="id"
                option-label="name"
                emit-value
                :rules="[(val) => !!val || 'Este campo es obligatorio']"
                map-options label="Prioridad"
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-input
                v-model="formAffair.folio_control"
                outlined
                label="Folio/control Interno"
                maxlength="255"
              />
            </div>
            <div class="col-12">
              <q-select
                label="Palabras clave"
                :readonly="readonly"
                outlined
                v-model="formAffair.key_words"
                use-input
                use-chips
                multiple
                hide-dropdown-icon
                input-debounce="0"
                new-value-mode="add-unique"
              />
            </div>
            <div class="col-12">
              <q-input
                v-model="formAffair.subject"
                outlined
                label="Asunto"
                maxlength="255"
                :rules="[(val) => !!val || 'Este campo es obligatorio']"
              />
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Guardar" @click="updateAffair()" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="actionsDialog" >
      <Actions
      :form="this.form"
      />
    </q-dialog>
    <q-dialog v-model="turnDialog" >
      <Turn />
    </q-dialog>
    <q-dialog v-model="rejecTurnDialog" >
      <RejectReason
        :turnId="form.turn.id"
      />
    </q-dialog>
    <q-dialog v-model="trace" >
      <q-card style="width: 700px; max-width: 80vw; height: 490px;">
        <q-card-section class="row items-center">
          <q-icon name="fab fa-slideshare" color="primary" :size="'lg'"/>
          <span class="q-ml-md text-h6">Seguimiento Colaborativo</span>
          <q-space />
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
        </q-card-section>
        <q-card-section class="scroll q-px-xl">
          <q-tree
            node-key="id"
            :nodes="collabHistoryArray"
          >
            <template v-slot:default-header="prop">
              <div class="row items-center">
                <div class="text-weight-bold">{{ prop.node.full_name }}
                  <br>
                  <span class="text-caption" :class="(prop.node.deleted_at === null) ? 'text-green' : 'text-red' ">
                  {{ (prop.node.deleted_at === null) ? "Colaborando" : "Finalizado" }}
                  <br>
                  Desde {{prop.node.created_date}} {{ (prop.node.deleted_at === null) ?  '' : `hasta ${setDate(prop.node.deleted_at)}` }}
                  </span>
                </div>
              </div>
            </template>

          </q-tree>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="Dialogsignature">
      <q-card>
        <q-card-section class="row items-center">
          <template>
            <div>
              <div class="text-h6">
                <q-icon size="sm" color="primary" name="fas fa-file-signature"/> Ingresar datos para realizar firma electrónica - eFirma
              </div>
              <br/>
              <div class="row q-col-gutter-md">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <q-input
                    v-model="signAs"
                    outlined
                    label="Firma como:"
                    placeholder="Presidente, Tesorero, Director etc"
                    maxlength="255"
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <q-file
                    v-model="cerFile.files[0]"
                    :rules="[val => !!val || 'Este campo es requerido']"
                    label="Certificado (cer)"
                    outlined
                    accept=".cer"
                    @input="checkCer"
                  >
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>
                  </q-file>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <q-file
                  v-model="keyFile.files[0]"
                  :rules="[val => !!val || 'Este campo es requerido']"
                  label="Clave privada (key)"
                  outlined
                  accept=".key"
                  >
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>
                  </q-file>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <q-input v-model="passwordPrivateKey" outlined :type="isPwd ? 'password' : 'text'">
                    <template v-slot:append>
                      <q-icon
                        :name="isPwd ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        @click="isPwd = !isPwd"
                      />
                    </template>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <q-input v-model="rfc" disable :rules="[val => !!val || 'Este campo es requerido']" square outlined label="RFC"/>
                </div>
              </div>
            </div>
          </template>
        </q-card-section>
        <q-card-actions align="right">
          <!-- <q-btn flat label="No firmar" @click="noFirmar()" color="primary" /> -->
          <q-btn flat label="Cancelar" color="primary" v-close-popup/>
          <q-btn @click="signProcess()" label="Aceptar" color="green" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="DialogFinishSignature">
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="row items-center" >
          <template>
            <div>
              <div class="text-h6">
                <q-icon size="sm" color="primary" name="fas fa-file-signature"/> Finaliza el envio
              </div>
              <br>
              <div class="text-body1" >Todos los remitentes han firmado. <br> ¿Quieres finalizar el envio?</div>
              <br/>
            </div>
          </template>
        </q-card-section>
        <q-card-actions align="right">
          <!-- <q-btn flat label="No firmar" @click="noFirmar()" color="primary" /> -->
          <q-btn flat label="Cancelar" color="primary" v-close-popup/>
          <q-btn @click="FinishSigning()" label="Aceptar" color="green" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
const today = new Date();
import { notifySuccess, notifyAlert } from 'src/utils/notify';
import { cleanStr, enableDate } from 'boot/customFunctions';
import moment from 'moment';
import Pusher from 'pusher-js';
import * as InternalAffairService from 'src/services/InternalAffairService';
import * as UploadFileService from 'src/services/global/UploadFileService';
import * as AffairParticipationService from 'src/services/AffairParticipationService';
import * as TurnService from 'src/services/TurnService';
import * as ChecksignService from 'src/services/ChecksignService';
import * as DataService from 'src/services/TokenService';
import * as AttachedFileService from 'src/services/AttachedFileService';
import SendTo from 'src/components/global/SendTo';
import Chat from 'src/components/global/Chat'
import History from 'src/components/global/History';
import Cancel from 'src/components/global/Cancel';
import RejectReason from 'src/components/global/RejectReason';
import Actions from './partials/Actions';
import DocumentCard from './partials/DocumentCard';
import Turn from './partials/Turn';
import Signatures from './partials/Signatures';

const Blowfish = require('egoroof-blowfish');

export default {
  components: { SendTo, DocumentCard, Chat, Actions, Turn, History, Cancel, Signatures, RejectReason },
  mounted() {
    const pusher = new Pusher('c2b99d6e93b037588e88', { cluster: 'us2' })
    pusher.subscribe('channel-notification')
    pusher.bind('NotificationsEvent', (data) => {
      this.$q.loading.show('Actualizando información');
      if (data.type === 'document-editing') {
        const { id } = this.$route.params
        this.reload(id)
      }
      this.$q.loading.hide();
    }, this)
  },
  data() {
    return {
      tab: 'general_information',
      form: {},
      form2: {},
      destinyDialog: false,
      sendersDialog: false,
      affairDialog: false,
      officeDialog: false,
      actionsDialog: false,
      cancelDialog: false,
      turnDialog: false,
      rejecTurnDialog: false,
      Dialogsignature: false,
      DialogFinishSignature: false,
      toPeople: [],
      ccpPeople: [],
      toSenders: [],
      formAffair: {
        document_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        commitment_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        cat_priorities_id: '',
        subject: '',
        folio_control: '',
        key_words: [],
      },
      src: null,
      historyDialog: false,
      trace: false,
      collabHistoryArray: [],
      affairId: '',
      typeAffair: '',
      cerFile: {
        files: []
      },
      keyFile: {
        files: []
      },
      passwordPrivateKey: '',
      rfc: '',
      isPwd: true,
      checksignKey: [],
      serial: '',
      signAs: '',
      num_attached: '',
    };
  },
  methods: {
    optionsFn(date) {
      const holidays = this.catalogs.cat_holidays;
      date = enableDate(this.user.permissions, holidays, date)
      return date !== false;
    },
    setDate(date) {
      return moment(date).format('D-M-Y h:mm:ss')
    },
    edit() {
      const { id } = this.$route.params;
      this.$router.push(`/internal-affair/${id}/office`)
    },
    convertCollabora() {
      const { id } = this.$route.params;
      this.$q.loading.show();
      InternalAffairService.update({ affair_status_id: 2 }, id).then(() => {
        notifySuccess('Documento Colaborativo');
        this.$q.loading.hide();
        this.$router.push(`/collabora/${id}/edit`);
      }).catch((error) => {
        notifyAlert(error.response.data.message)
        this.$q.loading.hide();
        notifyAlert();
      })
    },
    history(affairId, typeAffair) {
      this.affairId = affairId
      this.typeAffair = typeAffair
      this.historyDialog = true
    },
    editDestiny() {
      this.toPeople = [...this.form.to]
      this.ccpPeople = [...this.form.ccp]
      this.destinyDialog = true
    },
    editSenders() {
      this.toSenders = [...this.form.senders]
      this.sendersDialog = true
    },
    updateDestiny() {
      const { id } = this.$route.params;
      if (this.toPeople.length > 0) {
        this.$q.loading.show();
        AffairParticipationService.update({ to: this.toPeople, ccp: this.ccpPeople }, id).then(() => {
          this.destinyDialog = false
          this.reload(id)
          notifySuccess('Destinatario(s) actualizado(s)')
        })
      } else {
        notifyAlert('Sin destinatraio');
      }
      this.$q.loading.hide();
    },
    updateSenders() {
      const { id } = this.$route.params;
      this.$q.loading.show();
      const form = { senders: this.toSenders }
      AffairParticipationService.update(form, id).then(() => {
        this.sendersDialog = false
        this.$q.loading.hide();
        this.reload(id)
        notifySuccess('Remitente(s) actualizado(s)')
      })
    },
    editAffair() {
      this.formAffair.document_date = this.form.document_date
      this.formAffair.commitment_date = this.form.commitment_date
      this.formAffair.cat_priorities_id = this.form.cat_priorities_id
      this.formAffair.subject = this.form.subject
      this.formAffair.folio_control = this.form.folio_control
      this.formAffair.key_words = this.form.key_words
      this.formAffair.position_id = window.sessionStorage.getItem('position_id');
      this.affairDialog = true
    },
    updateAffair() {
      if (!this.can('send-Holiday')) {
        const holidays = this.catalogs.cat_holidays;
        const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
        const validDocDate = arr.includes(this.formAffair.document_date.substring(0, 10).replace(/-/g, '/'))
        const validComDate = arr.includes(this.formAffair.commitment_date.substring(0, 10).replace(/-/g, '/'))

        if (validDocDate) {
          notifyAlert('La fecha no es valida');
          this.formAffair.document_date = ''
          return
        }
        if (validComDate) {
          notifyAlert('La fecha no es valida');
          this.formAffair.commitment_date = ''
          return
        }
      }
      if (!this.can('send-Weekend')) {
        const dateObjD = new Date(this.formAffair.document_date)
        this.formAffair.document_date = (dateObjD.getDay() === 0 || dateObjD.getDay() === 6) ? '' : this.formAffair.document_date
        const dateObjC = new Date(this.formAffair.commitment_date)
        this.formAffair.commitment_date = (dateObjC.getDay() === 0 || dateObjC.getDay() === 6) ? '' : this.formAffair.commitment_date
        if (this.formAffair.document_date === '' || this.formAffair.commitment_date === '') {
          notifyAlert('La fecha no es valida');
          return
        }
      }

      const { id } = this.$route.params;
      this.$q.loading.show();
      InternalAffairService.update({ ...this.formAffair }, id).then(() => {
        this.reload(id);
      }).catch(() => {
        notifyAlert();
      }).finally(() => {
        this.affairDialog = false
        this.$q.loading.hide();
      });
    },
    accept() {
      this.$q.loading.show();
      const { id } = this.$route.params;
      const form = { status_id: 4 };
      TurnService.update(form, this.form.turn.id).then(() => {
        notifySuccess()
        this.reload(id)
        this.$q.loading.hide();
      }).catch(() => {
        this.$q.loading.hide();
      })
    },
    reject() {
      this.rejecTurnDialog = true
    },
    backTurn() {
      this.$q.loading.show();
      const form = { status_id: 3 };
      TurnService.update(form, this.form.turn.id).then(() => {
        notifySuccess()
        this.$router.back()
        this.$q.loading.hide();
      }).catch(() => {
        this.$q.loading.hide();
      })
    },
    // toHistorical() {
    //   const { id } = this.$route.params;
    //   this.$q.loading.show();
    //   InternalAffairService.toHistorical({}, id).then(() => {
    //     this.$router.back();
    //     this.$q.loading.hide();
    //   }).catch(() => {
    //     notifyAlert();
    //     this.$q.loading.hide();
    //   })
    // },
    render(id) {
      UploadFileService.showFile(id).then((file) => {
        this.src = window.URL.createObjectURL(new Blob([file.data]));
        this.officeDialog = true;
      }).catch((err) => {
        console.log(err)
      })
    },
    reload(id) {
      const attendant = window.sessionStorage.getItem('is_attendant')
      const pid = (attendant) ? window.sessionStorage.getItem('position_id') : this.$store.state.user.information.position_id;
      InternalAffairService.edit({ params: { position_id: pid } }, id).then((data) => {
        this.form = data;
      })
    },
    recargaTabla() {
      this.cancelDialog = false
      this.form.affair_status_id = 8
    },
    collabHistory() {
      this.trace = true
      this.$q.loading.show();
      const { id } = this.$route.params
      InternalAffairService.collabHistory({ affair_status_id: 1 }, id).then((response) => {
        console.log(response.collaborators)
        this.collabHistoryArray = response.collaborators
        this.$q.loading.hide();
      }).catch((err) => {
        console.log(err)
      })
    },
    checkCer() {
      const cerData = {
        codigo: '',
        mensaje: '',
        rfc: '',
        serial: '',
      }
      /* eslint-disable */
      PKI.SAT.FielUtil.leeCertificado(this.cerFile, (errCode, result) => {
        console.log(errCode)
        if (errCode !== 0) {
          cerData.codigo = 400;
          cerData.mensaje = PKI.SAT.FielUtil.obtenMensajeError(errCode);
          console.log(cerData.mensaje)
          return;
        }
        cerData.codigo = 200;
        cerData.rfc = result.getRFC();
        cerData.serial = result.getSerialNumberHex();
        this.rfc = cerData.rfc
        this.serial = cerData.serial
      });
    },
    FinishSigning() {
      const { id } = this.$route.params
      const positionId = window.sessionStorage.getItem('position_id');
      this.$q.loading.show('Firmando y enviado el documento');
      InternalAffairService.update({ affair_status_id: 3, position_id: positionId }, id).then(() => {
        notifySuccess('Documento enviado');
        this.$q.loading.hide();
        this.$router.push('/outbox');
      }).catch(() => {
        this.$q.loading.hide();
        notifyAlert();
      })
    },
    signProcess() {
      const { id } = this.$route.params
      this.$q.loading.show({ message: 'Firmando y enviado el documento' });
      let signData = {
        codigo: '',
        mensaje: '',
        chainSigned: '',
      }
      let fielData = {
        key: this.keyFile,
        pass: this.passwordPrivateKey,
        cer: this.cerFile,
        rfc: this.rfc
      }
      ChecksignService.getChecksignKey().then((data) => {
        this.checksignKey = data;
        let idVinculo = Object.values(this.checksignKey)[1].id;
        const ek = Object.values(this.checksignKey)[1].ek;
        const time = Object.values(this.checksignKey)[1].timestamp
        const bf = new Blowfish(ek, Blowfish.MODE.ECB, Blowfish.PADDING.NULL);
        const serialEncoded = bf.encode(this.serial); // serial test
        let serialBase64 = btoa(serialEncoded);
        let cadena = `|| ${this.form2.entity} | ${this.form2.doc_type} | ${this.form.folio} `
        if (this.form.folio_control) {
          cadena = `${cadena}| ${this.form.folio_control} `
        }
        cadena = `${cadena}| ${this.form2.position.full_name} | ${this.form2.position.position_name} | ${fielData.rfc} | No. de paginas numPage | ${time} ||`
        PKI.SAT.FielUtil.validaFiel(fielData.key, fielData.pass, fielData.cer,function(errCode, result) {
          if(errCode != 0) {
            signData.codigo = 400;
            signData.mensaje = PKI.SAT.FielUtil.obtenMensajeError(errCode);
            notifyAlert(signData.mensaje)
            return;
          }

          PKI.SAT.FielUtil.firmaCadena(fielData.key, fielData.pass, cadena, function(errCode, firma) {
            if(errCode != 0) {
              signData.codigo = 400;
              signData.mensaje = PKI.SAT.FielUtil.obtenMensajeError(errCode);
              return;
            }

            signData.codigo = 200;
            signData.mensaje = "Se ha firmado correctamente";
            signData.chainSigned = firma
            let Efirma = firma
            let rfc = fielData.rfc

            ChecksignService.postChecksign({ params: { idVinculo, serialBase64, cadena, Efirma, rfc }}).then((data) => {
              notifySuccess('Documento firmado');
              const attendant = window.sessionStorage.getItem('is_attendant')
              const positionId = (attendant) ? window.sessionStorage.getItem('position_id') : this.$store.state.user.information.position_id;
              InternalAffairService.updateSenders({ signAs: this.signAs, efirma: firma, cadena: cadena, url: data.checksignResponse.url_verificacion, form_folio: this.form.folio, position_id: positionId }, id).then(() => {
                notifySuccess('Asunto enviado');
                this.$router.push('/')
                this.$q.loading.hide();
              }).catch((err) => {
                notifyAlert(err.response.data.message);
                console.log(err)
                // notifyError();
              })
            }).catch((err) => {
              console.log(err)
              notifyError();
            })
          }.bind(this));
        }.bind(this));
        this.Dialogsignature = false
        this.$q.loading.hide();
      }).catch((error) => {
        console.log('There was an error: ', error);
        this.$q.loading.hide();
      }).finally(() => {
        //this.$router.push('/')
      });
    },
    sumAttached(n) {
      this.num_attached = n;
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    folioControlD() {
      return this.formAffair.folio_control
    },
    subjectD() {
      return this.formAffair.subject
    }
  },
  watch: {
    folioControlD(cad) {
      this.formAffair.folio_control = cleanStr(cad)
    },
    subjectD(cad) {
      this.formAffair.subject = cleanStr(cad)
    }
  },
  created() {
    const view_annexes = window.sessionStorage.getItem('view_annexes')
    this.tab = (view_annexes) ? 'annexes': 'general_information';
    sessionStorage.removeItem('view_annexes');
    const { id } = this.$route.params
    const catalogsConfiguration = {
      units: true,
      position: true,
      cat_priorities: true,
      cat_holidays: true,
    };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        const positionId = window.sessionStorage.getItem('position_id');
        InternalAffairService.edit({ params: { position_id: positionId } }, id).then((data) => {
          this.form = data;
          this.$q.loading.hide();
        }).catch(() => {
          this.$q.loading.hide();
        });
        const attendant = window.sessionStorage.getItem('is_attendant')
        const tempid = (attendant) ? window.sessionStorage.getItem('position_id') : this.$store.state.user.information.position_id;
        DataService.getTokenSender({ params: { position_id: tempid } }, id).then((data) => {
        this.form2 = { ...data };
        })
      });
    AttachedFileService.fileAnnexes(id).then((data) => {
      // this.annexes = data.annexes
      this.num_attached = data.cant
      console.log(data);
      //this.$emit('sum-attached', this.$props.numAttached);
    }).catch((err) => {
      console.log(err)
    })
  }
};
</script>
