<template>
  <div style="width:100%;height:100vh;">
    <q-card class="row q-mb-md justify-between">
      <q-card-section class="row items-center">
        <template>
          <div>
            <div class="text-h6">
              <q-icon size="sm" color="primary" name="fas fa-file-signature"/> Ingresar datos para realizar firma electrónica - eFirma
            </div>
            <br/>
            <div class="row q-col-gutter-md">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <q-file
                  v-model="cerFile.files[0]"
                  :rules="[val => !!val || 'Este campo es requerido']"
                  label="Certificado (cer)"
                  outlined
                  accept=".cer"
                  @input="checkCer"
                >
                  <template v-slot:prepend>
                    <q-icon name="attach_file" />
                  </template>
                </q-file>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <q-file
                v-model="keyFile.files[0]"
                :rules="[val => !!val || 'Este campo es requerido']"
                label="Clave privada (key)"
                outlined
                accept=".key"
                >
                  <template v-slot:prepend>
                    <q-icon name="attach_file" />
                  </template>
                </q-file>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <q-input v-model="passwordPrivateKey" outlined :type="isPwd ? 'password' : 'text'">
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd = !isPwd"
                    />
                  </template>
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <q-input v-model="rfc" disable :rules="[val => !!val || 'Este campo es requerido']" square outlined label="RFC"/>
              </div>
            </div>
          </div>
        </template>
      </q-card-section>
      <q-card-actions align="right">
        <!-- <q-btn flat label="No firmar" @click="noFirmar()" color="primary" /> -->
        <q-btn flat label="Cancelar" color="primary" @click="$router.back()"/>
        <q-btn @click="signProcess()" label="Aceptar" color="green" />
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>

import * as DataService from 'src/services/TokenService';
import * as ChecksignService from 'src/services/ChecksignService';
import { notifySuccess, notifyError, notifyAlert } from 'src/utils/notify';
import * as InternalAffairService from 'src/services/InternalAffairService';

const Blowfish = require('egoroof-blowfish');

export default {
  computed: {
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    folioBis() {
      return this.selectedToBis.folio
    }
  },
  data() {
    return {
      form2: {
        token: ''
      },
      Dialogsignature: false,
      cerFile: {
        files: []
      },
      keyFile: {
        files: []
      },
      passwordPrivateKey: '',
      rfc: '',
      name: '',
      isPwd: true,
      checksignKey: [],
      serial: '',
      unit: '',
      unitAcronym: '',
      entityAcronym: '',
      folioBisOptions: [],
      src: null,
    }
  },
  methods: {
    checkCer() {
      const cerData = {
        codigo: '',
        mensaje: '',
        rfc: '',
        serial: '',
      }
      /* eslint-disable */
      PKI.SAT.FielUtil.leeCertificado(this.cerFile, (errCode, result) => {
        console.log(errCode)
        if (errCode !== 0) {
          cerData.codigo = 400;
          cerData.mensaje = PKI.SAT.FielUtil.obtenMensajeError(errCode);
          console.log(cerData.mensaje)
          return;
        }
        let name = result.getSubjectString().substring(1)
        this.name = name.substring(name.indexOf('=') + 1, name.indexOf('/'))
        cerData.codigo = 200;
        cerData.rfc = result.getRFC();
        cerData.serial = result.getSerialNumberHex();
        this.rfc = cerData.rfc
        this.serial = cerData.serial
      });
    },
    signProcess() {
      // if (this.rfc != this.user.rfc) {
      //   notifyAlert('El rfc de la efirma no coincide con el del remitente');
      //   return
      // }
      const { id } = this.$route.params
      this.$q.loading.show('Firmando y enviado el documento');
      const type = (this.form2.senders >= 1) ? 'toSign' : false;
      let signData = {
        codigo: '',
        mensaje: '',
        chainSigned: '',
      }
      let fielData = {
        key: this.keyFile,
        pass: this.passwordPrivateKey,
        cer: this.cerFile,
        rfc: this.rfc
      }
      ChecksignService.getChecksignKey().then((data) => {
        this.checksignKey = data;
        let idVinculo = Object.values(this.checksignKey)[1].id;
        const ek = Object.values(this.checksignKey)[1].ek;
        const time = Object.values(this.checksignKey)[1].timestamp
        const bf = new Blowfish(ek, Blowfish.MODE.ECB, Blowfish.PADDING.NULL);
        const serialEncoded = bf.encode(this.serial); // serial test
        let serialBase64 = btoa(serialEncoded);
        let cadena = `|| ${this.form2.entity} | ${this.form2.doc_type} | ${this.form2.folio} `
        if (this.form2.folio_control) {
          cadena = `${cadena}| ${this.form2.folio_control} `
        }
        cadena = `${cadena}| ${this.name} | ${this.form2.position.position_name} | ${fielData.rfc} | No. de paginas numPage | ${this.form2.document_date} ||`
        PKI.SAT.FielUtil.validaFiel(fielData.key, fielData.pass, fielData.cer,function(errCode, result) {
          if(errCode != 0) {
            signData.codigo = 400;
            signData.mensaje = PKI.SAT.FielUtil.obtenMensajeError(errCode);
            notifyAlert(signData.mensaje)
            this.$q.loading.hide();
            return;
          }

          PKI.SAT.FielUtil.firmaCadena(fielData.key, fielData.pass, cadena, function(errCode, firma) {
            if(errCode != 0) {
              signData.codigo = 400;
              signData.mensaje = PKI.SAT.FielUtil.obtenMensajeError(errCode);
              this.$q.loading.hide();
              return;
            }

            signData.codigo = 200;
            signData.mensaje = "Se ha firmado correctamente";
            signData.chainSigned = firma
            let Efirma = firma
            let rfc = fielData.rfc

            ChecksignService.postChecksign({ params: { idVinculo, serialBase64, cadena, Efirma, rfc }}).then((data) => {
              notifySuccess('Documento firmado');
              const positionId = window.sessionStorage.getItem('position_id');
              InternalAffairService.repair({ type: type, affair_status_id: 3, efirma: firma, cadena: cadena, url: data.checksignResponse.url_verificacion, form_folio: { ...this.formFolio }, position_id: positionId }, id).then(() => {
                notifySuccess('Asunto enviado');
                this.$router.push('/outbox')
                this.$q.loading.hide()
              }).catch((err) => {
                this.$q.loading.hide();
                console.log(err)
                notifyError();
              })
            }).catch((err) => {
              console.log(err)
              this.$q.loading.hide();
              notifyError();
            })
          }.bind(this));
        }.bind(this));
        this.Dialogsignature = false
      }).catch((error) => {
        console.log('There was an error: ', error);
        this.$q.loading.hide();
      }).finally(() => {
      });
    },
    noFirmar() {
      const { id } = this.$route.params
      this.$q.loading.show('Firmando y enviado el documento');
      const wn = document.getElementById('collabora-online-viewer').contentWindow;
      const message = JSON.stringify({
        MessageId: 'Action_Save',
        SendTime: Date.now(),
        Values: {
          DontTerminateEdit: true,
          DontSaveIfUnmodified: true,
          Notify: false,
          ExtendedData: '',
        }
      })
      wn.postMessage(message, '*')
      const positionId = window.sessionStorage.getItem('position_id');
      InternalAffairService.repair({ affair_status_id: 3,  form_folio: { ...this.formFolio }, position_id: positionId }, id).then(() => {
        notifySuccess('Asunto enviado');
        this.$q.loading.hide();
      }).catch((err) => {
        console.log(err)
        notifyError();
      })
      this.Dialogsignature = false
      this.$router.push('/')
        
    },
  },
  created() {
    const { id } = this.$route.params
    this.$q.loading.show();
    DataService.getToken(id).then((data) => {
      this.form2 = { ...data };
      this.$q.loading.hide();
    }).catch(() => {
      this.$q.loading.hide();
    });
  },
}
</script>
