<style scoped>
.mayus {
    text-transform: uppercase;
}
</style>
<template>
  <div>
    <q-card class="row q-mb-md justify-between">
      <q-card-actions>
        <q-btn flat @click="$router.back()" icon="arrow_back" color="primary">
          <q-tooltip>Regresar</q-tooltip>
        </q-btn>
        <span class="q-ml-md text-h6">Respuesta a {{ folio }} - {{ subject }}</span>
      </q-card-actions>
      <q-card-actions>
      </q-card-actions>
    </q-card>
    <q-card>
      <div class="q-pa-sm">
        <q-card-section>
          <SendTo
            :toPeople="toPeople"
            :ccpPeople="ccpPeople"
            :reply="true"
            :from="from"
          />
          <br/>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <q-form ref="form" @submit.prevent="() => {}">
            <q-card-section>
              <div class="row q-col-gutter-x-sm q-col-gutter-y-lg">
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <q-select outlined v-model="form.cat_doc_types_id"
                   @input="filterResults($event)"
                    :options="catalogs.cat_doc_types"
                    option-value="id"
                    option-label="name"
                    emit-value
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                    map-options
                    label="Tipo de documento"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <q-select outlined v-model="form.template_id"
                            :options="this.filtertemplates"
                            option-value="id"
                            option-label="name"
                            emit-value
                            :rules="[(val) => !!val || 'Este campo es obligatorio']"
                            map-options
                            label="Plantilla de documento"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <q-input outlined v-model="form.document_date" mask="date" :rules="['date']" label="Fecha del Oficio">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date v-model="form.document_date" first-day-of-week="0" :options="optionsFn">
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Cerrar" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <q-input outlined v-model="form.commitment_date" mask="date" :rules="['date']" label="Fecha Compromiso">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date v-model="form.commitment_date" first-day-of-week="0" :options="optionsFn">
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Cerrar" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                  <q-select outlined v-model="form.cat_priorities_id"
                    :options="catalogs.cat_priorities"
                    option-value="id"
                    option-label="name"
                    emit-value
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                    map-options
                    label="Prioridad"
                  />
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                  <q-input
                    class="mayus"
                    v-model="form.folio_control"
                    outlined
                    label="Folio/Control Interno"
                    maxlength="255"
                  />
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                  <q-toggle
                    v-model="form.require_response"
                    checked-icon="check"
                    color="green"
                    label="Requiere Respuesta"
                    unchecked-icon="clear"
                  />
                </div>
                <div class="col-12">
                  <q-select
                    label="Palabras clave"
                    outlined
                    v-model="form.key_words"
                    use-input
                    use-chips
                    multiple
                    hide-dropdown-icon
                    input-debounce="0"
                    new-value-mode="add-unique"
                  />
                </div>
                <div class="col-12">
                  <q-input
                    v-model="form.subject"
                    outlined
                    label="Asunto"
                    maxlength="255"
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                  />
                </div>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="text-h6">
                <q-separator spaced/>
                <q-icon size="sm" color="primary" name="far fa-comments"/> Comentarios
              </div>
              <br>
              <div class="row q-col-gutter-sm">
                <div bottom-slots class=" col-xs-12 col-sm-11 col-md-11">
                  <Comments
                    @addComment="addComment"
                    :commentary="commentsArray"
                  />
                </div>
                <div class="col-xs-12 col-sm-1 col-md-1">
                  <q-btn v-if="commentsArray.writedComment !== ''" round dense flat @click="addComment()" icon="send" />
                </div>
              </div>
              <q-list>
                <q-item
                  clickable
                  v-ripple
                  v-for="item in items"
                  :key="item.id"
                  :item="item"
                >
                  <q-item-section>
                    <q-item-label>
                      <div class="q-mt-sm q-mb-xs text-subtitle2">
                        {{ user.name }} {{ user.last_name }} {{ user.second_lastname }} / {{ user.position }}
                      </div>
                    </q-item-label>
                    <div class="q-mt-sm q-mb-xs text-subtitle1">
                      <q-chat-message
                        :text="[item.comment]"
                        avatar="~assets/img/user.png"
                        text-color="white"
                        bg-color="secondary"
                      />
                    </div>
                    <q-item-label caption>
                      Enviado: {{ day }}/{{ month }}/{{ year }}
                      a las: {{ hour }}:{{ minutes }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-section>
          </q-form>
        </q-card-section>
        <!-- {{ structure_id }} -->
        <q-card-actions align="right">
          <q-btn @click="sendAffair()" flat label="Siguiente" color="primary" />
        </q-card-actions>
      </div>
    </q-card>
  </div>
</template>

<script>
const today = new Date();
import { notifySuccess, notifyAlert } from 'src/utils/notify';
import { cleanStr, enableDate } from 'boot/customFunctions';
import * as InternalAffairService from 'src/services/InternalAffairService';
import SendTo from 'src/components/global/SendTo'
import Comments from './partials/Comments';

export default {
  components: { Comments, SendTo },
  data() {
    return {
      form: {
        document_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        commitment_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        cat_doc_types_id: '',
        cat_priorities_id: '',
        subject: '',
        template_id: '',
        require_response: false,
        status_id: 1,
        folio_control: '',
        key_words: [],
      },
      commentsArray: {
        writedComment: '',
      },
      filtertemplates: [],
      items: [],
      itemId: 0,
      day: today.getDate(),
      month: today.getMonth(),
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      toPeople: [],
      ccpPeople: [],
      from: 'replyInternalAffair',
      folio: '',
      subject: '',
      structure_id: '',
    }
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    folioControlD() {
      return this.form.folio_control
    },
    subjectD() {
      return this.form.subject
    }
  },
  watch: {
    folioControlD(cad) {
      this.form.folio_control = cleanStr(cad)
    },
    subjectD(cad) {
      this.form.subject = cleanStr(cad)
    }
  },
  methods: {
    filterResults(val) {
      const templates = this.catalogs.cat_templates
      this.filtertemplates = []
      this.form.template_id = null
      let key = 0
      for (let i = 0; i < templates.length; i += 1) {
        if (templates[i].cat_doc_types_id === val) {
          this.filtertemplates[key] = templates[i]
          key += 1
        }
      }
      console.log(this.filtertemplates)
    },
    optionsFn(date) {
      const holidays = this.catalogs.cat_holidays;
      date = enableDate(this.user.permissions, holidays, date)
      return date !== false;
    },
    addComment() {
      if (this.commentsArray.writedComment !== '') {
        this.items.push({ comment: this.commentsArray.writedComment, id: this.itemId })
        this.commentsArray.writedComment = '';
        this.itemId += 1;
      }
    },
    sendAffair() {
      const { id } = this.$route.params
      const receiverCheck = this.toPeople.length > 0

      if (!this.can('send-Holiday')) {
        const holidays = this.catalogs.cat_holidays;
        const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
        const validDocDate = arr.includes(this.form.document_date.substring(0, 10).replace(/-/g, '/'))
        const validComDate = arr.includes(this.form.commitment_date.substring(0, 10).replace(/-/g, '/'))

        if (validDocDate) {
          notifyAlert('La fecha no es valida');
          this.form.document_date = ''
          return
        }
        if (validComDate) {
          notifyAlert('La fecha no es valida');
          this.form.commitment_date = ''
          return
        }
      }
      if (!this.can('send-Weekend')) {
        const dateObjD = new Date(this.form.document_date)
        this.form.document_date = (dateObjD.getDay() === 0 || dateObjD.getDay() === 6) ? '' : this.form.document_date
        const dateObjC = new Date(this.form.commitment_date)
        this.form.commitment_date = (dateObjC.getDay() === 0 || dateObjC.getDay() === 6) ? '' : this.form.commitment_date
        if (this.form.document_date === '' || this.form.commitment_date === '') {
          notifyAlert('La fecha no es valida');
          return
        }
      }

      if (!receiverCheck) {
        notifyAlert('Sin destinatraio');
      }
      this.$refs.form.validate().then((valid) => {
        if (valid && receiverCheck) {
          const form = {
            ...this.form,
            comments: this.items,
            participation: {
              to: [...this.toPeople],
              ccp: [...this.ccpPeople]
            },
            is_reply: true,
            structure_id: this.structure_id,
            origin_affair_id: id,
            position_id: window.sessionStorage.getItem('position_id')
          };
          this.$q.loading.show();
          console.log(form)
          InternalAffairService.store(form).then((data) => {
            notifySuccess();
            this.$q.loading.hide();
            this.$router.push(`/internal-affair/${data.affair.id}/office`);
          }).catch((err) => {
            // console.log(data);
            notifyAlert(err.response.data.message);
            if (err.response.data.type === 'cancelled') {
              this.$router.push('/outbox');
            }
            this.$q.loading.hide();
          })
        }
      });
    },
  },
  created() {
    const { id } = this.$route.params
    const positionId = window.sessionStorage.getItem('position_id');
    const catalogsConfiguration = {
      units: true,
      position: true,
      cat_doc_types: true,
      cat_templates: true,
      cat_recep_meds: true,
      cat_priorities: true,
      cat_holidays: true,
      position_id: positionId,
    };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        InternalAffairService.getReplydata({ params: { position_id: positionId } }, id).then((data) => {
          data.to_reply.position = { id: data.to_reply.position_id }
          data.to_reply.user = { position_id: data.to_reply.position_id }
          this.toPeople.push(data.to_reply);
          // const user = data.to_reply
          // this.toPeople.push(user);
          this.folio = data.folio
          this.subject = data.subject
          this.form.subject = data.subject
          // this.form.folio_control = data.folio_control
          this.structure_id = data.structure_id
          this.$q.loading.hide();
        }).catch(() => {
          this.$q.loading.hide();
        });
      });
  },
}

</script>

<style lang="sass" scoped>
</style>
