<template>
  <div>
    <q-table
      :data="data"
      :columns="columns"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      :filter="search"
      :visible-columns="visibleColumns"
    >
      <template v-slot:top-right>
        <q-btn flat round color="primary" icon="refresh" @click="onRequest({
          pagination: pagination,
          filter: undefined
        })"/>
      </template>

      <template v-slot:top-left>
        <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:body="props" @click="$router.push(`output-affair/${props.row.id}/edit`)">
        <q-tr :props="props" style="cursor: pointer">
          <q-td key="subject" :props="props" @click="$router.push(`output-affair/${props.row.id}/edit`)">
            {{ props.row.subject }}
          </q-td>
          <q-td key="folio" :props="props" @click="$router.push(`output-affair/${props.row.id}/edit`)">
            {{ props.row.folio }}
          </q-td>
          <q-td key="status" :props="props" @click="$router.push(`output-affair/${props.row.id}/edit`)">
          <q-item>
          <q-item-section>
            {{ (props.row.affair_status == 'Respondido' ? 'Contestado' : props.row.affair_status) }}
            <div class="q-ma-sm row justify-between">
              <div class="col justify-center">
                <q-icon
                  name="circle"
                  :class="{
                    'text-deep-purple' : props.row.affair_status == 'Guardado',
                    'text-cyan' : props.row.affair_status === 'Colaborativo',
                    'text-green' : props.row.affair_status === 'Enviado',
                    'text-yellow' : props.row.affair_status === 'Leído',
                    'text-red' : props.row.affair_status === 'Respondido',
                  }"
                />
              </div>
            </div>
          </q-item-section>
          </q-item>
          </q-td>
          <q-td auto-width>
            <q-btn-group flat>
              <q-btn flat round size="sm" @click="history(props.row.id, props.row.affair_type)" color="primary" icon="history">
                <q-tooltip>Historia</q-tooltip>
              </q-btn>
              <q-btn v-if="(props.row.affair_status_id === 1)" flat round size="md" @click="editOffice(props.row.id)" color="primary" icon="description">
                <q-tooltip>Editar</q-tooltip>
              </q-btn>
              <q-btn v-if="(props.row.affair_status_id === 2)" flat round size="md" @click="edit($router.push(`collabora/${props.row.id}/edit/`))" color="primary" icon="groups">
                <q-tooltip>Editar</q-tooltip>
              </q-btn>
              <q-btn v-if="(props.row.affair_status_id > 2)" flat round size="sm" @click="render(props.row.id)" color="primary" icon="fas fa-eye">
                <q-tooltip>Ver asunto</q-tooltip>
              </q-btn>
              <q-btn
                flat round size="sm"
                @click="AttachedFiles(props.row.id)"
                icon="attach_file"
                color="primary"
              >
                <q-badge
                  color="red"
                  text-color="white"
                  floating
                  >{{ props.row.total_attached.cant}}
                </q-badge>
                <q-tooltip>Archivos adjuntos</q-tooltip>
              </q-btn>
            </q-btn-group>
          </q-td>
        </q-tr>
      </template>
      <template v-slot:no-data="{ }">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span>
            No se encontraron resultados
          </span>
        </div>
      </template>
    </q-table>
    <q-dialog v-model="historyDialog" >
      <History :affairId="affairId"
      :typeAffair="typeAffair"/>
    </q-dialog>
    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;" >
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import * as UploadFileService from 'src/services/global/UploadFileService';
import History from 'components/global/History';
import * as BoxesService from 'src/services/global/BoxesService';

export default {
  components: { History },
  mounted() {
    // get initial data from server (1st page)
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
  },
  data() {
    return {
      affairId: '',
      data: [],
      visibleColumns: ['subject', 'folio', 'status', 'actions'],
      loading: false,
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: ''
      },
      search: '',
      columns: [
        { name: 'subject', align: 'center', label: 'Asunto' },
        { name: 'folio', align: 'center', label: 'Folio', field: 'folio', sortable: false },
        { name: 'status', align: 'center', label: 'Estatus', field: 'status', sortable: false },
        { name: 'actions', align: 'center', label: '', field: 'actions' },
      ],
      src: '',
      officeDialog: false,
      historyDialog: false,
      typeAffair: ''
    };
  },
  methods: {
    editOffice(id) {
      this.$router.push(`output-affair/${id}/office/`)
    },
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination
      const { search } = this
      this.loading = true
      const positionId = window.sessionStorage.getItem('position_id');
      BoxesService.externalOutbox({ params: { page, rowsPerPage, search, position_id: positionId } }).then((pagination) => {
        this.data = pagination.data
        this.pagination.rowsPerPage = pagination.per_page
        this.pagination.page = pagination.current_page
        this.pagination.rowsNumber = pagination.total
        this.loading = false
      }).catch((err) => {
        console.log(err)
        this.loading = false
      });
    },
    render(id) {
      UploadFileService.showFile(id).then((file) => {
        this.src = window.URL.createObjectURL(new Blob([file.data]));
        this.officeDialog = true;
      }).catch((err) => {
        console.log(err)
      })
    },
    history(affairId, typeAffair) {
      this.affairId = affairId
      this.typeAffair = typeAffair
      this.historyDialog = true
    },
    AttachedFiles(affairId) {
      this.$router.push(`output-affair/${affairId}/edit`)
      sessionStorage.removeItem('view_annexes');
      sessionStorage.setItem('view_annexes', 'annexes');
    }
  },
};
</script>

<style>

</style>
