<template>
  <div>
    <q-table
      :data="data"
      :columns="columns"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      :filter="search"
      :visible-columns="visibleColumns"
      dense
      no-data-label="I didn't find anything for you"
      no-results-label="The filter didn't uncover any results"
      wrap-cells
      binary-state-sort
    >
      <template v-slot:top-right>
        <q-btn flat round color="primary" icon="refresh" @click="onRequest({
          pagination: pagination,
          filter: undefined
        })"/>
      </template>

      <template v-slot:top-left>
        <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:no-data="{ }">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span>
            No se encontraron resultados
          </span>
        </div>
      </template>

      <template v-slot:body="props" >
        <q-tr :props="props" style="cursor: pointer">
          <q-td key="destiny" :props="props" @click="redirectEdit(props.row.id, props.row.affair_type)">
            {{ props.row.destiny.length > 20 ? props.row.destiny.slice(0,20):props.row.destiny }} {{ props.row.total_destiny > 1 ? `...${props.row.total_destiny - 1}`:'' }}
          </q-td>
          <q-td key="subject" :props="props" @click="redirectEdit(props.row.id, props.row.affair_type)">
            {{ props.row.subject }}
          </q-td>
          <q-td key="folio" :props="props" @click="redirectEdit(props.row.id, props.row.affair_type)">
            {{ props.row.folio }}
          </q-td>
          <q-td key="controlfolio" :props="props" @click="redirectEdit(props.row.id, props.row.affair_type)">
            {{ props.row.controlfolio }}
          </q-td>
          <q-td key="document_date" :props="props" @click="redirectEdit(props.row.id, props.row.affair_type)">
            {{ props.row.created_date.slice(0, -3) }}
          </q-td>
          <q-td key="priority" :props="props">
            {{ props.row.priority }}
          </q-td>
          <q-td key="status" :props="props" @click="redirectEdit(props.row.id, props.row.affair_type)">
          <q-item>
          <q-item-section>
            {{ setStatus(props.row) }}
            <div class="q-ma-sm row justify-between">
              <div class="col justify-center">
                <q-icon
                  name="circle"
                  :class="{
                    'text-deep-purple' : props.row.affair_status == 'Guardado',
                    'text-cyan' : props.row.affair_status === 'Colaborativo',
                    'text-green' : props.row.affair_status === 'Enviado',
                    'text-yellow' : props.row.affair_status === 'Leído',
                    'text-red' : props.row.affair_status === 'Respondido',
                    'text-indigo' : props.row.affair_status === 'Pendiente',
                    'text-teal' : props.row.affair_status === 'Firmado' && (props.row.affair_status_id === 3 || props.row.affair_status_id === 9),
                    'text-lime' : props.row.affair_status === 'Pendiente de firma' && props.row.affair_status_id !== 8,
                    'text-black' : props.row.affair_status_id === 8,
                  }"
                />
              </div>
            </div>
          </q-item-section>
          </q-item>
          </q-td>
          <q-td auto-width>
            <q-btn-group flat>
              <q-btn v-if="(props.row.affair_status_id === 2)" :class="{'text-amber-6 ' : props.row.total_colabs.activos != 0, 'text-blue-10' : props.row.total_colabs.activos === 0,}" @click="collabHistory(props.row.id), getData(props.row.id)" flat round size="sm" icon="fab fa-slideshare">
                <q-tooltip>Seguimiento colaborativo</q-tooltip>
              </q-btn>
              <q-btn flat round size="sm" @click="history(props.row.id, props.row.affair_type)" color="primary" icon="history">
                <q-tooltip>Historia</q-tooltip>
              </q-btn>
              <q-btn v-if="(props.row.affair_status_id === 1 || (props.row.affair_status_id === 9 && props.row.affair_status === 'Pendiente' && props.row.file.filetype === 'docx'))" flat round size="md" @click="editOffice(props.row.id, props.row.affair_type)" color="primary" icon="description">
                <q-tooltip>Editar</q-tooltip>
              </q-btn>
              <q-btn v-if="(props.row.affair_status_id === 2)" flat round size="md" @click="editCollabora(props.row.id, props.row.affair_type)" color="primary" icon="groups">
                <q-tooltip>Editar</q-tooltip>
              </q-btn>
              <q-btn v-if="(props.row.affair_status_id > 2 && props.row.file.filetype !== 'docx')" flat round size="sm" @click="render(props.row.id)" color="primary" icon="fas fa-eye">
                <q-tooltip>Ver asunto</q-tooltip>
              </q-btn>
              <q-btn
                flat round size="sm"
                @click="AttachedFiles(props.row.id)"
                icon="attach_file"
                color="primary"
              >
                <q-badge
                  color="red"
                  text-color="white"
                  floating
                  >{{ props.row.total_attached.cant}}
                </q-badge>
                <q-tooltip>Archivos adjuntos</q-tooltip>
              </q-btn>
            </q-btn-group>
          </q-td>
        </q-tr>
      </template>
    </q-table>
    <q-dialog v-model="historyDialog" >
      <History :affairId="affairId"
      :typeAffair="typeAffair"/>
    </q-dialog>
    <q-dialog v-model="collabCheckDialog" >
      <q-card style="width: 850px; max-width: 80vw;">
        <q-card-section class="bg-primary text-white row items-center row items-center">
          <q-icon name="fab fa-slideshare" color="secondary" :size="'lg'"/>
          <span class="q-ml-md text-h6">{{data.titulo}}</span>
          <q-space />
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
        </q-card-section>
        <q-separator />
        <q-card-section>
          <div class="">
            <q-card  flat bordered >
              <q-card-section horizontal>
                <q-card-section class="q-pt-xs">
                  <div>
                    <q-card-section class="row items-center">
                      <q-icon name="timeline" color="primary" :size="'lg'"/>
                      <span class="q-ml-md text-h6">Seguimiento Colaborativo</span>
                    </q-card-section>
                    <q-card-section class="scroll q-px-xl">
                      <q-tree
                        node-key="id"
                        :nodes="collabHistoryArray"
                      >
                        <template v-slot:default-header="prop">
                          <div class="row items-center">
                            <div class="text-weight-bold">{{ prop.node.full_name }}
                              <br>
                              <span class="text-caption" :class="(prop.node.deleted_at === null) ? 'text-green' : 'text-red' ">
                              {{ (prop.node.deleted_at === null) ? "Colaborando" : "Finalizado" }}
                              <br>
                              Desde {{prop.node.created_date}} {{ (prop.node.deleted_at === null) ?  '' : `hasta ${setDate(prop.node.deleted_at)}` }}
                              </span>
                            </div>
                          </div>
                        </template>

                      </q-tree>
                    </q-card-section>
                  </div>
                </q-card-section>
              </q-card-section>
              <q-separator />
            </q-card>
          </div>
        </q-card-section>
        <q-card-section>
          <div class="">
            <q-card  flat bordered >
              <q-card-section horizontal>
                <q-card-section class="q-pt-xs">
                  <div>
                    <div class="text-text-body2 q-mt-sm q-mb-xs"># Total de colaboradores: {{data.total}}</div>
                    <div class="text-text-body2 q-mt-sm q-mb-xs"># Colaboradores activos: {{data.activos}}</div>
                    <div class="text-text-body2 q-mt-sm q-mb-xs"># Colaboraciones finalizadas: {{data.terminado}}</div>
                    <div class="text-text-body2 q-mt-sm q-mb-xs"># Sin aceptar colaboracion: {{data.pendiente}}</div>
                  </div>
                </q-card-section>
              </q-card-section>
              <q-separator />
            </q-card>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="actionsDialog" >
      <q-card style="width: 700px; max-width: 80vw; height: 490px;">
        <q-card-section class="row items-center">
          <q-icon name="timeline" color="primary" :size="'lg'"/>
          <span class="q-ml-md text-h6">Seguimiento</span>
          <q-space />
          <q-btn class="items-right" icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section class="scroll q-px-xl">
          <q-tree
            :nodes="turnLogdata.turns"
            node-key="label"
            default-expand-all
          >
            <template v-slot:default-header="prop">
              <div class="row items-center">
                <q-icon :name="prop.node.status_id === 3 ? 'done':prop.node.status_id === 2 ? 'pending':prop.node.status_id === 4 ? 'border_color':prop.node.status_id === 1 ? 'contact_support':prop.node.status_id === 5 ? 'block':prop.node.status_id === 6 ? 'cancel':''" color='primary' size="28px" class="q-mr-sm" />
                <div class="text-weight-bold">{{ prop.node.label }}</div>
              </div>
            </template>

            <template v-slot:default-body="prop">
              <div v-for="event in prop.node.events" :key="event.id">
                <span>{{ event.name }}</span>
                <span class="text-caption">
                    : {{ new Date(event.created_at).getDate() }}/{{ (new Date(event.created_at).getMonth()+1) }}/{{ new Date(event.created_at).getFullYear() }}
                    a las: {{ new Date(event.created_at).getHours() }}:{{ (new Date(event.created_at).getMinutes()).toString().length === 1 ? `0${(new Date(event.created_at).getMinutes()).toString()}` : new Date(event.created_at).getMinutes()}}
                </span>
              </div>
            </template>
          </q-tree>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;" >
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="cancelDialog" >
      <Cancel :affairId="affairId" :typeAffair='typeAffair' @closeDialog="cancelDialog" v-on:reload-table='recargaTabla'/>
    </q-dialog>
  </div>
</template>

<script>
import Pusher from 'pusher-js';
import * as BoxesService from 'src/services/global/BoxesService';
import * as UploadFileService from 'src/services/global/UploadFileService';
import * as TokenService from 'src/services/TokenService';
import History from 'components/global/History';
import * as InternalAffairService from 'src/services/InternalAffairService';
import Cancel from 'components/global/Cancel';
import * as TurnService from 'src/services/TurnService';
import moment from 'moment';

export default {
  components: { History, Cancel },
  mounted() {
    // get initial data from server (1st page)
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
    const pusher = new Pusher('c2b99d6e93b037588e88', { cluster: 'us2' })
    pusher.subscribe('channel-notification')
    pusher.bind('NotificationsEvent', (data) => {
      this.$q.loading.show('Actualizando tabla');
      if (data.type === 'document-editing') {
        this.onRequest({ pagination: this.pagination, filter: undefined })
      }
      this.$q.loading.hide();
    }, this)
  },
  data() {
    return {
      docDialog: false,
      turnLogdata: {},
      historyDialog: false,
      actionsDialog: false,
      officeDialog: false,
      collabCheckDialog: false,
      cancelDialog: false,
      affairId: '',
      num_attached: 0,
      anexess: [],
      gSort: 'desc',
      collabHistoryArray: [],
      data: [],
      form: [],
      visibleColumns: ['destiny', 'subject', 'folio', 'controlfolio', 'document_date', 'priority', 'status', 'actions'],
      loading: false,
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: '',
        sortBy: ''
      },
      search: '',
      columns: [
        { style: 'width: 200px' },
        { name: 'destiny', align: 'center', label: 'Destinatario', sortable: false },
        { name: 'subject', align: 'center', label: 'Asunto', sortable: false },
        { name: 'folio', align: 'center', label: 'Folio', field: 'folio', sortable: false },
        { name: 'controlfolio', align: 'center', label: 'Folio de Control', field: 'controlfolio', sortable: false },
        { name: 'document_date', align: 'center', label: 'Fecha de Creación', field: 'document_date' },
        { name: 'priority', align: 'center', label: 'Prioridad', field: 'priority' },
        { name: 'status', align: 'center', label: 'Estatus', field: 'status' },
        { name: 'actions', align: 'center', label: '', field: 'actions' },
      ],
      src: '',
      typeAffair: '',
    };
  },
  computed: {
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  methods: {
    setDate(date) {
      return moment(date).format('D-M-Y h:mm:ss')
    },
    editOffice(id, affairType) {
      if (affairType === 'Asunto Interno') {
        this.$router.push(`internal-affair/${id}/office/`)
      } else if (affairType === 'Asunto externo de salida') {
        this.$router.push(`reception/${id}/office/`);
      }
    },
    editCollabora(id, affairType) {
      if (affairType === 'Asunto Interno') {
        this.$router.push(`collabora/${id}/edit/`)
      } else if (affairType === 'Asunto externo de salida') {
        // this.$router.push(`collabora-output-affair/${id}/edit/`);
        this.$router.push(`collabora/${id}/edit/`);
      }
    },
    onRequest(props) {
      console.log(props)
      props.pagination.rowsPerPage = props.pagination.rowsPerPage === 0 ? props.pagination.rowsNumber : props.pagination.rowsPerPage
      const { page, rowsPerPage, sortBy } = props.pagination
      const { search } = this
      this.loading = true
      const positionId = window.sessionStorage.getItem('position_id');

      if (sortBy === 'document_date' || sortBy === 'status' || sortBy === 'subject' || sortBy === 'destiny') {
        this.gSort = (this.gSort === 'asc') ? 'desc' : 'asc'
      }
      console.log(sortBy, this.gSort);
      BoxesService.internalOutbox({ params: { page, rowsPerPage, search, sortBy, order: this.gSort, position_id: positionId } }).then((pagination) => {
        this.data = pagination.data
        this.pagination.rowsPerPage = pagination.per_page
        this.pagination.page = pagination.current_page
        this.pagination.rowsNumber = pagination.total
        this.pagination.sortBy = pagination.sortBy
        this.loading = false
      }).catch((err) => {
        console.log(err)
        this.loading = false
      });
    },
    collabHistory(id) {
      this.collabCheckDialog = true;
      this.$q.loading.show();
      this.collabHistoryArray = '';
      InternalAffairService.collabHistory({ affair_status_id: 1 }, id).then((response) => {
        console.log(response.collaborators)
        this.collabHistoryArray = response.collaborators
      }).catch((err) => {
        console.log(err)
      })
      this.$q.loading.hide();
    },
    tracing(id) {
      TurnService.getLog(id).then((data) => {
        this.turnLogdata = data
        this.$q.loading.hide();
      }).catch((err) => {
        this.$q.loading.hide();
        console.log(err)
      })
      this.actionsDialog = true
    },
    history(affairId, typeAffair) {
      this.affairId = affairId
      this.typeAffair = typeAffair
      this.historyDialog = true
    },
    getData(affairId) {
      TokenService.getData(affairId).then((response) => {
        this.data = response
      }).catch((err) => {
        console.log(err)
      })
    },
    openCollabora(id) {
      this.$router.push(`/collabora/${id}/edit`);
    },
    render(id) {
      UploadFileService.showFile(id).then((file) => {
        this.src = window.URL.createObjectURL(new Blob([file.data]));
        this.officeDialog = true;
      }).catch((err) => {
        console.log(err)
      })
    },
    redirectEdit(affairId, affairType) {
      console.log(affairId, affairType);
      if (affairType === 'Asunto Interno') {
        this.$router.push(`internal-affair/${affairId}/edit`)
      } else if (affairType === 'Asunto externo de salida') {
        this.$router.push(`/output-affair/${affairId}/edit`);
      }
    },
    recargaTabla() {
      this.cancelDialog = false
      this.onRequest({ pagination: this.pagination, filter: undefined })
    },
    setStatus(data) {
      const status = data.affair_status_id
      if (data.pending_signs === null && status === 9) {
        return 'Firmado'
      }
      if (status === 8) {
        return 'Cancelado'
      }
      if (data.affair_status === 'Respondido') {
        return 'Contestado'
      }
      return data.affair_status
    },
    AttachedFiles(affairId) {
      this.$router.push(`internal-affair/${affairId}/edit`)
      sessionStorage.removeItem('view_annexes');
      sessionStorage.setItem('view_annexes', 'annexes');
    }
  },
};
</script>

<style>

</style>
