<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-btn
                flat
                round
                color="primary"
                icon="fas fa-arrow-left"
                @click="$router.back()"
              >
                <q-tooltip>Volver</q-tooltip>
              </q-btn>
          <q-icon size="sm" name="far fa-file-alt"/> Catálogo carácter de la información
          <q-btn v-if="can('archive-information-character-create')" class="float-right" round size="sm" @click="$router.push('/archive/InformationCharacter/create')"  outline color="primary" icon="fas fa-plus" />
        </div>
      </q-card-section>
    </q-card>
    <TableCover />
  </div>
</template>

<script>

import TableCover from './Table';

export default {
  components: {
    TableCover,
  }
}
</script>
