<template>
<q-card style="width: 100%">
  <q-item>
    <q-btn
      flat
      round
      color="primary"
      icon="fas fa-arrow-left"
      @click="$router.back()"
    >
      <q-tooltip>Volver</q-tooltip>
    </q-btn>
    <q-item-section avatar>
        <q-icon size="md" name="fas fa-passport"/>
    </q-item-section>
    <q-item-section>
      <q-item-label>Modificar razón de rechazo</q-item-label>
      <q-item-label caption>
        Ingrese los siguientes valores
      </q-item-label>
    </q-item-section>
  </q-item>
  <q-separator />
  <div class="q-pa-sm">
    <q-card-section>
      <div class="row q-col-gutter-sm">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <q-input v-model="form.description" square outlined label="Descripción" maxlength="155"/>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <q-select clearable outlined v-model="form.cat_unit_id" option-value="id" option-label="name" map-options emit-value :options="catalogs.units" label="Unidad" :rules="[$rules.required($t('requiredInput'))]"/>
        </div>
      </div>
    </q-card-section>
    <q-card-actions align="right">
      <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
      <q-btn flat @click="update()" label="Guardar" color="primary"/>
    </q-card-actions>
  </div>
</q-card>
</template>

<script>
import * as DataService from 'src/services/admin/catalogs/RejectionReasonService';
import { notifySuccess, notifyError } from 'src/utils/notify';
import { cleanStr } from 'boot/customFunctions';

export default {
  data() {
    return {
      form: {
      }
    };
  },
  created() {
    const catalogsConfiguration = { units: true, };
    this.$q.loading.show();
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      this.$q.loading.hide();
    });
    const { id } = this.$route.params
    this.$q.loading.show();
    DataService.edit(id).then((data) => {
      this.form = data;
      this.$q.loading.hide();
    }).catch(() => {
      this.$q.loading.hide();
    });
  },
  methods: {
    update() {
      const form = { ...this.form };
      const { id } = this.$route.params
      this.$q.loading.show();
      DataService.update(form, id).then(() => {
        notifySuccess('Se ha actualizado la razón de rechazo correctamente');
        this.$q.loading.hide();
        this.$router.push('/admin/cat/rejectionReasons');
      }).catch((err) => {
        this.$q.loading.hide();
        notifyError(err)
      })
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    descriptionD() {
      return this.form.description
    },
  },
  watch: {
    descriptionD(cad) {
      this.form.description = cleanStr(cad)
    },
  },
};
</script>
