<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-btn
            flat
            round
            color="primary"
            icon="fas fa-arrow-left"
            @click="$router.back()"
          >
            <q-tooltip>Volver</q-tooltip>
          </q-btn>
          <q-icon size="sm" name="fas fa-times-circle"/> Razones de rechazo
          <q-btn v-if="can('rejectReason-create')" class="float-right" round size="sm" @click="$router.push('/admin/cat/rejectionReasons/create')"  outline color="primary" icon="fas fa-plus"/>
        </div>
      </q-card-section>
    </q-card>
    <RejectReasons />
  </div>
</template>

<script>

import RejectReasons from './Table';

export default {
  components: {
    RejectReasons
  },
};
</script>
