<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-btn
            flat
            round
            color="primary"
            icon="fas fa-arrow-left"
            @click="$router.back()"
          >
            <q-tooltip>Volver</q-tooltip>
          </q-btn>
          <q-icon size="sm" name="far fa-list-alt"/> Tipos de documentos
          <q-btn class="float-right" round size="sm" @click="$router.push('/admin/cat/documents/create')" outline color="primary" icon="fas fa-plus"/>
        </div>
      </q-card-section>
    </q-card>
    <Documents />
  </div>
</template>

<script>

import Documents from './Table';

export default {
  components: {
    Documents
  },
  data() {
    return {
      editDialog: false,
    };
  },
  methods: {
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    users: {
      get() {
        return this.$store.state.user.users;
      },
    },
  },
};
</script>
