<template>
  <div v-bind="{ scopedSlots: $scopedSlots }"
    class="orgchartTwo-container"
  >
    <div
      class="orgchartTwo"
    >
      <node-chart :datasource="datasource" :nextID="nextID" :edit="edit">
        <template v-for="slot in Object.keys($scopedSlots)" :slot="slot" slot-scope="scope">
          <slot :name="slot" v-bind="scope"/>
        </template>
      </node-chart>
    </div>
  </div>
</template>

<script>
import NodeChart from './NodeChart'

export default {
  name: 'Container',
  props: {
    edit: {
      type: Boolean,
      required: true
    },
    nextID: {
      type: Object,
      required: false
    },
    datasource: {
      type: Object,
      required: true
    },
  },
  data() {
    return {
      cursorVal: 'default',
      panning: false,
      startX: 0,
      startY: 0,
      transformVal: ''
    }
  },
  components: {
    NodeChart
  },
};
</script>

<style>
.orgchartTwo table {
  border-spacing: 0;
  border-collapse: separate;
}
.orgchartTwo > table:first-child {
  margin: 20px auto;
}
.orgchartTwo td {
  text-align: center;
  vertical-align: top;
  padding: 0;
}
.orgchartTwo .lines:nth-child(3) td {
  box-sizing: border-box;
  height: 20px;
  width: 5px;
}
.orgchartTwo .lines .topLine {
  border-top: 5px solid #B28E5C;
}
.orgchartTwo .lines .rightLine {
  border-right: 2px solid #B28E5C;
  float: none;
  border-radius: 0;
}
.orgchartTwo .lines .leftLine {
  border-left: 3px solid #B28E5C;
  float: none;
  border-radius: 0;
}
.orgchartTwo .lines .downLine {
  background-color: #B28E5C;
  margin: 0 auto;
  height: 20px;
  width: 5px;
  float: none;
}
/* node styling */
.orgchartTwo .node {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 3px;
  border: 2px dashed transparent;
  text-align: center;
  width: 200px;
}
.orgchartTwo .node:hover {
  background-color: #B28E5C;
  transition: 0.5s;
  cursor: default;
  z-index: 20;
}
</style>
