<template>
  <table>
    <caption></caption>
    <tbody>
      <tr>
       <td :colspan="datasource.children && datasource.children.length ? datasource.children.length*2 : null">
        <div class="node" :id="datasource.id" >
          <slot :node-data="datasource">
            <q-card>
              <q-card-section class="bg-primary text-white">
                <div class="text-subtitle2 q-mt-xs">
                  {{ datasource.position.name }}
                </div>
                <q-btn v-if="datasource.id !== 1 && edit && !(datasource.children.length > 0)" class="absolute-top-right" icon="close" flat round dense @click="deleteDialog=true" :size="'sm'"/>
              </q-card-section>
                <q-separator />
              <q-card-section >
                <div v-if="edit">
                  <q-btn class="absolute-top-right" dense flat @click="dialogEdit=true; formEdit=datasource" color="primary" icon="edit" :size="'sm'">
                     <q-tooltip>Editar</q-tooltip>
                  </q-btn>
                </div>
                <div>
                  <q-btn class="absolute-top-left" dense flat @click="infoDialog=true;" color="primary" icon="fas fa-info" :size="'sm'">
                     <q-tooltip>Información</q-tooltip>
                  </q-btn>
                </div>
                <div>
                  {{ datasource.people ? `${datasource.people.name} ${datasource.people.last_name || ''}` : 'Sin asignar' }}
                </div>
                <div v-if="edit">
                  <q-btn class="absolute-bottom-right" dense flat @click="dialogCreate=true" color="primary" icon="far fa-plus-square" :size="'sm'">
                     <q-tooltip>Agregar nodo</q-tooltip>
                  </q-btn>
                </div>
              </q-card-section>
            </q-card>
          </slot>
        </div>
       </td>
      </tr>
      <template v-if="datasource.children && datasource.children.length">
        <tr class="lines">
          <td :colspan="datasource.children.length*2">
            <div class="downLine"></div>
          </td>
        </tr>
        <tr class="lines">
          <td class="rightLine"></td>
          <!-- eslint-disable -->
          <template v-for="n in (datasource.children.length-1)">
            <td class="leftLine topLine" ></td>
            <td class="rightLine topLine"></td>
          </template>
          <td class="leftLine"></td>
        </tr>
        <tr class="nodes">
          <td colspan="2" v-for="child in datasource.children" :key="child.id">
            <node @deleteChild="deleteChild" :datasource="child" :nextID="nextID" :edit="edit">
              <template v-for="slot in Object.keys($scopedSlots)" :slot="slot" slot-scope="scope">
                <slot :name="slot" v-bind="scope"/>
              </template>
            </node>
          </td>
        </tr>
      </template>
    </tbody>
    <q-dialog v-model="dialogCreate" persistent>
      <Create @add="add"/>
    </q-dialog>
    <q-dialog v-model="dialogEdit" persistent>
      <Edit @editNode="editNode" :form="formEdit"/>
    </q-dialog>
    {{ (datasource.unit_acronym) ? datasource.unit_acronym : datasource.acronym }}
    <q-dialog v-model="deleteDialog" persistent>
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row items-center">
          <q-icon name="warning" class="text-red" :size="'lg'"/>
          <span class="q-ml-md text-h6">Eliminar</span>
        </q-card-section>
        <q-separator />
        <q-card-section>
          ¿Esta seguro de eliminar el puesto de la estructura?
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Eliminar" color="primary" @click="deleteOwn()" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="infoDialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row items-center">
          <q-icon name="info" class="text-primary" :size="'lg'"/>
          <span class="q-ml-md text-h6">Información</span>
          <q-space/>
          <q-btn class="float-right" flat v-close-popup icon-right="close">
             <q-tooltip>Cerrar</q-tooltip>
          </q-btn>
        </q-card-section>
        <q-separator />
        <q-card-section align="center">
          <div class="text-h6 q-mt-xs">
           <strong>Puesto:</strong> {{ datasource.position.name }}
          </div>
          <div class="text-body1 q-mt-xs">
           <strong>Titular: </strong> {{ datasource.people ? `${datasource.people.name} ${datasource.people.last_name || ''}` : 'Sin asignar' }}
          </div>
          <div class="text-body1 q-mt-xs">
           <strong>Encargado:</strong> {{ datasource.attendant ? `${datasource.attendant.name} ${datasource.attendant.last_name || ''}` : 'Sin asignar' }}
          </div>
          <div class="text-body1 q-mt-xs" v-for="assistant in datasource.assistant">
           <strong>Asistente:</strong> {{assistant.people.name}} {{assistant.people.last_name}} 
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </table>
</template>

<script>
import * as StructureService from 'src/services/StructureService';
import { notifyAlert, notifySuccess } from 'src/utils/notify';
import Create from '../Create'
import Edit from '../Edit'

export default {

  components: { Create, Edit },
  name: 'node',
  props: {
    edit: Boolean,
    nextID: Object,
    datasource: Object,
  },
  data() {
    return {
      dialogCreate: false,
      dialogEdit: false,
      deleteDialog: false,
      infoDialog: false,
      show: false,
      formEdit: {},
      form: {},
      asistentes: '',
      asistentesCat: ''
    }
  },
  methods: {
    Validation(val) {
      if (val) {
        if (this.datasource.people.name !== 'Sin asignar') {
          this.datasource.people.full_name = `${this.datasource.people.name} ${this.datasource.people.last_name}`
          this.catalogs.availableUsers.push(this.datasource.people)
        }
        this.datasource.people = val
        const index = this.catalogs.availableUsers.findIndex((x) => x.id === val.id);
        this.catalogs.availableUsers.splice(index, 1)
        this.people = ''
        return true
      }
      return false
    },
    add(node) {
      this.dialogCreate = false
      node.id = this.nextID.id
      node.position_id = node.position.id
      node.people_id = node.people.id
      node.attendant_id = node.attendant.id
      node.unit_acronym = node.acronym
      this.datasource.children.push({
        ...node,
        level: this.level + 1,
        children: []
      })
      let index = this.catalogs.availablePosition.findIndex((x) => x.id === node.position_id);
      this.catalogs.availablePosition.splice(index, 1)
      index = this.catalogs.availableUsers.findIndex((x) => x.id === node.people_id);
      this.catalogs.availableUsers.splice(index, 1)
      this.nextID.id += 1
    },
    editNode(node) {
      this.dialogEdit = false
      node.position_id = node.position.id
      node.people_id = ''
      if (node.people) {
        node.people_id = node.people.id
      }
      node.unit_acronym = node.acronym
      this.datasource = node
      console.log(this.datasource)
      let index = this.catalogs.availablePosition.findIndex((x) => x.id === node.position_id);
      this.catalogs.availablePosition.splice(index, 1)
      index = this.catalogs.availableUsers.findIndex((x) => x.id === node.people_id);
      this.catalogs.availableUsers.splice(index, 1)
    },
    deleteOwn() {
      StructureService.destroy(this.datasource.id).then(() => {
        this.catalogs.availablePosition.push(this.datasource.position)
        this.$emit('deleteChild', this.datasource.id)
        if (this.datasource.people.name !== 'Sin asignar') {
          this.datasource.people.full_name = `${this.datasource.people.name} ${this.datasource.people.last_name}`
          this.catalogs.availableUsers.push(this.datasource.people)
        }
        notifySuccess('Puesto eliminado correctamente');
      }).catch((err) => {
        notifyAlert(err.response.data.message);
      })
    },
    deleteChild(id) {
      const index = this.datasource.children.findIndex((x) => x.id === id);
      this.datasource.children.splice(index, 1)
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
    },
  },
};
</script>
