<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-btn
          flat
          round
          color="primary"
          icon="fas fa-arrow-left"
          @click="$router.back()"
        >
          <q-tooltip>Volver</q-tooltip>
        </q-btn>
          <q-icon size="sm" name="fas fa-address-book"/> Roles y Permisos
        </div>
      </q-card-section>
    </q-card>
    <Profiles />
  </div>
</template>

<script>
import Profiles from './Table';

export default {
  components: {
    Profiles
  },
  data() {
    return {
      editDialog: false,
    };
  },
  computed: {
    canCreate: {
      get() {
        return this.canShow('roles-create');
      }
    }
  }
}
</script>
