<template>
  <div>
    <br/>
    <q-table
      :data="data"
      :columns="columns"
      separator="vertical"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      :filter="search"
    >
     <template v-slot:top-right>
        <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props">
            {{ props.row.name }}
          </q-td>
          <q-td key="key" :props="props">
            {{ props.row.key }}
          </q-td>
          <q-td key="actions" :props="props">
            <q-btn-group>
              <q-btn v-if="can('roles-edit')" round size="sm" @click="editProfile(props.row.id)"  color="primary" icon="fas fa-edit"/>
              <q-btn v-if="can('roles-delete')" round size="sm" @click="confirm = true; deleteOption=props.row.id;"  color="negative" icon="fas fa-trash"/>
            </q-btn-group>
          </q-td>
        </q-tr>
      </template>
      <template v-slot:no-data="{ }">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span>
            No se encontraron resultados
          </span>
        </div>
      </template>
    </q-table>
    <q-dialog v-model="confirm" persistent>
        <q-card>
            <q-card-section class="row items-center">
            <span class="q-ml-sm">¿Seguro que desea eliminar este registro?</span>
            </q-card-section>
            <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup/>
            <q-btn flat label="Eliminar" color="red"  @click="deleteProfile(deleteOption);"/>
            </q-card-actions>
        </q-card>
    </q-dialog>
  </div>
</template>

<script>
import * as DataService from 'src/services/admin/catalogs/ProfileService';
import { notifySuccess, notifyError } from 'src/utils/notify'

export default {
  components: {
  },
  async mounted() {
    // get initial data from server (1st page)
    await this.$q.loading.show();
    await this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
    await this.$q.loading.hide();
  },
  data() {
    return {
      data: [],
      deleteOption: null,
      confirm: false,
      loading: false,
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: ''
      },
      search: '',
      separator: 'vertical',
      columns: [
        {
          name: 'name', align: 'center', label: 'Nombre', field: 'name'
        },
        {
          name: 'key', align: 'center', label: 'Llave del perfil', field: 'key'
        },
        {
          name: 'actions', align: 'center', label: 'Acciones', field: 'id'
        },
      ],
    };
  },
  methods: {
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination
      const { search } = this
      DataService.index({ params: { page, rowsPerPage, search } }).then((pagination) => {
        this.data = pagination.data
        this.pagination.rowsPerPage = pagination.per_page
        this.pagination.page = pagination.current_page
        this.pagination.rowsNumber = pagination.total
      }).catch(() => {
        notifyError()
      })
    },
    editProfile(id) {
      this.$router.push(`/admin/profile/${id}/edit`)
    },
    deleteProfile(deleteOption) {
      DataService.destroy(deleteOption).then(() => {
        this.confirm = false;
        this.onRequest({
          pagination: this.pagination,
          filter: undefined
        });
        notifySuccess()
        this.$router.push('/admin/profiles')
      }).catch((err) => {
        this.confirm = false;
        notifyError(err);
      }).finally(() => {
        this.$q.loading.hide();
      })
    },
  },
  computed: {
    canEdit: {
      get() {
        return this.canShow('roles-edit');
      }
    },
    canView: {
      get() {
        return this.canShow('roles-view');
      }
    },
    canDelete: {
      get() {
        return this.canShow('roles-delete');
      }
    }
  }
};
</script>
