<template>
  <q-card>
    <q-item>
      <q-btn
        flat
        round
        color="primary"
        icon="fas fa-arrow-left"
        @click="$router.back()"
      >
        <q-tooltip>Volver</q-tooltip>
      </q-btn>
      <q-item-section avatar>
        <q-icon size="md" name="fas fa-passport"/>
      </q-item-section>
      <q-item-section>
        <q-item-label>Agregar instrucción</q-item-label>
        <q-item-label caption>
          Ingrese los siguientes valores
        </q-item-label>
      </q-item-section>
    </q-item>
    <q-separator/>
    <div class="q-pa-sm">
      <q-card-section>
        <q-form>
        <div class="row q-col-gutter-sm">
          <div class="col-xs-12 col-sm-8 col-md-6">
            <q-input v-model="form.name" square outlined label="Instrucción" />
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6">
            <q-select
            label="Unidad administrativa"
            outlined
            map-options
            emit-value
            v-model="form.unit_id"
            option-value="id"
            option-label="name"
            :options="catalogs.units"
            />
          </div>
        </div>
        </q-form>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
        <q-btn flat @click="store()" label="Guardar" color="primary" />
      </q-card-actions>
    </div>
  </q-card>
</template>

<script>
import * as InstructionService from 'src/services/admin/catalogs/InstructionService';
import { notifySuccess, notifyError } from 'src/utils/notify';
import { cleanStr } from 'boot/customFunctions';

export default {
  data() {
    return {
      form: {
        name: '',
        unit_id: '',
      },
    };
  },
  created() {
    const catalogsConfiguration = { units: true };
    this.$q.loading.show();
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      this.$q.loading.hide();
    });
  },
  methods: {
    store() {
      const form = { ...this.form };
      InstructionService.store(form).then(() => {
        notifySuccess('Se ha creado la instrucción correctamente');
        this.$router.push('/admin/cat/instructions');
      }).catch((err) => {
        notifyError(err)
      })
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    nameD() {
      return this.form.name
    },
  },
  watch: {
    nameD(cad) {
      this.form.name = cleanStr(cad)
    },
  },
};
</script>
