<template>
  <div>
    <q-card class="row q-mb-md justify-between">
      <q-card-actions>
        <q-btn
        flat
        round
        color="primary"
        icon="fas fa-arrow-left"
        @click="$router.back()"
      >
        <q-tooltip>Volver</q-tooltip>
      </q-btn>
        <span class="q-ml-md text-h6">{{ form.folio || 'Folio no generado' }} / {{form.subject}}</span>
      </q-card-actions>
      <q-card-actions>
        <q-btn
          flat
          size="sm"
          @click="render(form.id)"
          icon="fas fa-eye"
          color="primary">
          <q-tooltip>Ver asunto</q-tooltip>
        </q-btn>
        <q-btn
          v-if="(form.affair_status_id > 2 && !form.to_internal.reply && form.affair_status_id != 5)"
          flat
          size="sm"
          @click="$router.push(`/output-affair/${form.id}/reply`)"
          icon="reply"
          color="primary">
          <q-tooltip>Responder</q-tooltip>
        </q-btn>
        <q-btn
          v-if="(form.affair_status_id > 2) && (form.affair_response_id)"
          flat
          size="sm"
          @click="$router.push(`/output-affair/${form.affair_response_id}/edit`)"
          icon="reply"
          color="primary">
          <q-tooltip>Responder</q-tooltip>
        </q-btn>
        <q-btn
          v-if="form.affair_status_id == 1"
          flat
          size="sm"
          @click="editDestiny()"
          icon="group_add"
          color="primary">
          <q-tooltip>Destinatarios</q-tooltip>
        </q-btn>
        <q-btn v-if="form.affair_status_id == 1" flat @click="send()" icon="send" color="primary">
          <q-tooltip>Enviar a los destinatarios</q-tooltip>
        </q-btn>
      </q-card-actions>
    </q-card>
    <q-card>
      <q-tabs
        v-model="tab"
        dense
        active-color="black"
        indicator-color="black"
        align="justify"
        narrow-indicator
        class="text-grey shadow-2"
      >
        <q-tab name="general_information" label="Información general" />
        <q-separator vertical />
        <q-tab name="comments" label="Comentarios" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="general_information" class="q-pa-lg">
          <div class="row q-mb-md relative-position">
            <div class="col-12 col-md-6 col-sm-6">
              <p class="text-weight-bold">De:</p>
              <q-item>
                <q-item-section avatar >
                  <q-avatar size="35px">
                    <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ form.from.entity_name }}</q-item-label>
                  <q-item-label caption>{{ form.from.name }}</q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </div>
          <div class="row q-mb-md">
            <div class="col-12 col-md-6 col-sm-6">
              <p class="text-weight-bold">Para:</p>
              <q-item
                v-for="(user) in form.to"
                :key="user.id">
                <q-item-section avatar >
                  <q-avatar size="35px">
                    <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ user.entity_name }}</q-item-label>
                  <q-item-label caption>{{ user.name }}</q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <div class="col-12 col-md-6 col-sm-6">
              <p class="text-weight-bold">Cc</p>
              <q-item
                v-for="(user) in form.ccp"
                :key="user.id">
                <q-item-section avatar >
                  <q-avatar size="35px">
                    <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ user.entity_name }}</q-item-label>
                  <q-item-label caption>{{ user.name }}</q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </div>
          <q-separator inset />
          <div class="row q-my-md q-pr-xl relative-position">
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Fecha de creación<noframes></noframes></q-item-label>
                <q-item-label>{{ new Date(form.creation_date).getDate() }}/{{ (new Date(form.creation_date).getMonth()+1) }}/{{ new Date(form.creation_date).getFullYear() }}
                  a las: {{ new Date(form.creation_date).getHours() }}:{{ (new Date(form.creation_date).getMinutes()).toString().length === 1 ? `0${(new Date(form.creation_date).getMinutes()).toString()}` : new Date(form.creation_date).getMinutes()}}
                  </q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Fecha del documento</q-item-label>
                <q-item-label>{{ new Date(form.document_date).getDate() }}/{{ (new Date(form.document_date).getMonth()+1) }}/{{ new Date(form.document_date).getFullYear() }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Fecha compromiso</q-item-label>
                <q-item-label>{{ new Date(form.commitment_date).getDate() }}/{{ (new Date(form.commitment_date).getMonth()+1) }}/{{ new Date(form.commitment_date).getFullYear() }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Fecha de envío</q-item-label>
                <q-item-label v-if="form.sent_date">{{ new Date(form.sent_date).getDate() }}/{{ (new Date(form.sent_date).getMonth()+1) }}/{{ new Date(form.sent_date).getFullYear() }}
                </q-item-label>
                <q-item-label v-if="!form.sent_date">El asunto no ha sido enviado
                </q-item-label>
              </q-item-section>
            </q-item>
          </div>
          <div class="row q-my-md q-pr-xl">
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Folio</q-item-label>
                <q-item-label>{{ form.folio || 'Folio no generado' }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Tipo de documento</q-item-label>
                <q-item-label>{{ form.doc_type_name }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold"
                  >Prioridad</q-item-label
                >
                <q-item-label>{{ form.priority_name }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Estatus</q-item-label>
                <q-item-label>{{ form.affair_status }}</q-item-label>
              </q-item-section>
            </q-item>
          </div>
          <div class="q-my-md">
            <q-item class="col-4">
              <q-item-section>
                <q-item-label class="text-weight-bold"
                  >Asunto</q-item-label
                >
                <q-item-label
                  >{{ form.subject }}</q-item-label
                >
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-weight-bold"
                  >Folio/Control Interno</q-item-label
                >
                <q-item-label
                  >{{ form.folio_control }}</q-item-label
                >
              </q-item-section>
            </q-item>
          </div>
          <div class="q-my-md">
            <q-item class="col-12">
              <q-item-section>
                <q-item-label class="text-weight-bold"
                  >Observación</q-item-label
                >
                <q-item-label
                  >{{ form.observation }}</q-item-label
                >
              </q-item-section>
            </q-item>
          </div>
        </q-tab-panel>
        <q-tab-panel v-if="can('document-comment')"  name="comments">
          <Chat />
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
    <q-dialog v-model="destinyDialog" persistent>
      <q-card style="width: 900px; max-width: 80vw;">
        <q-card-section>
          <SendTo
            :toPeople="toPeople"
            :ccpPeople="ccpPeople"
          />
          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Guardar" @click="updateDestiny()" color="primary" />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { notifyError, notifyAlert, notifySuccess } from 'src/utils/notify';
import * as InputDigitalAffairService from 'src/services/InputDigitalAffairService';
import * as UploadFileService from 'src/services/global/UploadFileService';
import * as AffairParticipationService from 'src/services/AffairParticipationService';
import Chat from 'src/components/global/Chat'
import SendTo from 'src/components/global/SendTo';

export default {
  components: { Chat, SendTo },
  data() {
    return {
      tab: 'general_information',
      form: {},
      destinyDialog: false,
      officeDialog: false,
      actionsDialog: false,
      turnDialog: false,
      toPeople: [],
      ccpPeople: [],
      src: null,
    };
  },
  methods: {
    editDestiny() {
      this.toPeople = [...this.form.to_internal]
      this.ccpPeople = [...this.form.ccp_internal]
      this.destinyDialog = true
    },
    updateDestiny() {
      const { id } = this.$route.params;
      if (this.toPeople.length > 0) {
        this.$q.loading.show();
        AffairParticipationService.update({ to: this.toPeople, ccp: this.ccpPeople }, id).then(() => {
          this.reload(id);
        }).catch(() => {
          notifyError();
        }).finally(() => {
          this.destinyDialog = false
          this.$q.loading.hide();
        });
      } else {
        notifyError('Sin destinatraio');
      }
    },
    render(id) {
      UploadFileService.showFile(id).then((file) => {
        this.src = window.URL.createObjectURL(new Blob([file.data]));
        this.officeDialog = true;
      }).catch((err) => {
        console.log(err)
      })
    },
    send() {
      const { id } = this.$route.params;
      if (this.form.to_internal.length > 0) {
        this.$q.loading.show();
        InputDigitalAffairService.update({ affair_status_id: 3 }, id).then(() => {
          notifySuccess();
          this.$q.loading.hide();
          this.$router.push('/outbox');
        }).catch(() => {
          this.$q.loading.hide();
          notifyError();
        })
      } else {
        notifyError('Sin destinatario');
      }
    },
    reload(id) {
      const positionId = window.sessionStorage.getItem('position_id');
      InputDigitalAffairService.edit({ params: { position_id: positionId } }, id).then((data) => {
        this.form = data;
        this.$q.loading.hide();
        notifySuccess();
      }).catch(() => {
        this.$q.loading.hide();
        notifyAlert();
      });
    }
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  created() {
    const catalogsConfiguration = {
      units: true,
    };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        const { id } = this.$route.params
        const positionId = window.sessionStorage.getItem('position_id');
        InputDigitalAffairService.edit({ params: { position_id: positionId } }, id).then((data) => {
          this.form = data;
          this.$q.loading.hide();
        }).catch(() => {
          this.$q.loading.hide();
        });
      });
  }
};
</script>
