<style scoped>
.mayus {
    text-transform: uppercase;
}
</style>
<template>
  <div>
    <!-- <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="engineering" color="primary" text-color="white" />
          <span class="q-ml-sm text-h6">Modulo en Mantenimiento</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog> -->
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-icon size="sm" name="mdi-file-check-outline"/> Recepción de oficios Externos
        </div>
      </q-card-section>
    </q-card>
    <br>
    <q-card>
      <div class="q-pa-sm">
        <q-form>
        <q-card-section>
          <SendTo
            :toPeople="toPeople"
            :ccpPeople="ccpPeople"
          />
          <br/>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <q-form greedy ref="formExternalSender" @submit.prevent="() => {}">
            <q-card-section>
              <div class="row q-col-gutter-sm" >
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <q-select id="RemType" outlined v-model="formExternalSender.sender_type_id"
                            :options="catalogs.cat_sender_types"
                            option-value="id"
                            option-label="name"
                            emit-value
                            :rules="[(val) => !!val || 'Este campo es obligatorio']"
                            map-options label="Seleccione tipo de Remitente"  @input="clearValues()"/>
                </div>
                <!-- Persona Física -->
                <div class="col-xs-11 col-sm-11 col-md-11" v-if="formExternalSender.sender_type_id == 2">
                  <q-select
                    outlined
                    v-model="formExternalSender.fisica"
                    :options="catalogs.external_people"
                    option-value="id"
                    option-label="fullname"
                    label="Personas"
                    map-options
                    emit-value
                  >
                    <template v-slot:no-option>
                      <q-item>
                        <q-item-section class="text-grey">
                          Sin Resultados
                        </q-item-section>
                      </q-item>
                    </template>
                  </q-select>
                </div>
                <div class="q-pa-md q-gutter-sm"  v-if="formExternalSender.sender_type_id == 2">
                  <q-btn padding="xs" color="primary" icon="add" @click="newExternalPeople = true" >
                    <q-tooltip>Registrar Persona</q-tooltip>
                  </q-btn>
                </div>
                <!-- Dependencia -->
                <div class="col-xs-12 col-sm-12 col-md-12"  v-if="formExternalSender.sender_type_id == 3">
                  <div class="row q-col-gutter-sm">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <q-select  class="q-my-sm" outlined v-model="formExternalSender.sender_entity_id"
                        filled
                        use-input
                        input-debounce="0"
                        style="width:250px"
                        @filter="filterFn"
                        :options="optionsEntities"
                        option-value="id"
                        option-label="name"
                        label="Seleccione Dependencia"
                        @input="filterUnits"
                        emit-value
                        map-options
                        @clear="() => {(UnitsOptions = []), (instruction.unit_id = null);}"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']" >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              No hay resultados
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="q-pa-md q-gutter-sm">
                      <q-btn padding="xs" color="primary" icon="add" @click="newDependency = true" >
                        <q-tooltip>Registrar Dependencia</q-tooltip>
                      </q-btn>
                    </div>
                  </div>
                  <br>
                  <div class="row q-col-gutter-sm">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <q-select  class="q-my-sm" outlined v-model="formExternalSender.sender_unit_id"
                        :loading="loadingUnits"
                        :disable="UnitsOptions.length <= 0 || loadingUnits"
                        option-value="id"
                        option-label="name"
                        :options="UnitsOptions"
                        label="Unidad"
                        />
                    </div>
                    <div class="q-pa-md q-gutter-sm">
                      <q-btn padding="xs" color="primary" icon="add" @click="newUnit = true" >
                        <q-tooltip>Registrar Unidad</q-tooltip>
                      </q-btn>
                    </div>
                  </div>
                  <br>
                  <div class="row q-col-gutter-sm">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <q-input  class="q-my-sm" v-model="formExternalSender.sender_position" square outlined
                          :rules="[(val) => !!val || 'Este campo es obligatorio']"
                          label="Puesto" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <!-- <q-select clearable v-model="formExternalSender.sender_responsable_id"
                        :loading="loadingResponsible"
                        :disable="ResponsibleOptions.length <= 0 || loadingResponsible"
                        outlined
                        option-value="id"
                        option-label="full_name"
                        :options="ResponsibleOptions"
                        label="Persona"/> -->
                        <q-input   class="q-my-sm" v-model="formExternalSender.sender_responsable" square outlined
                          :rules="[(val) => !!val || 'Este campo es obligatorio']"
                          label="Persona" />
                    </div>
                  </div>
                </div>
                <!-- Persona Moral -->
                <div class="col-xs-11 col-sm-11 col-md-11" v-if="formExternalSender.sender_type_id == 1">
                  <q-select id="moralPerson"
                            class="q-my-sm"
                    outlined
                    v-model="formExternalSender.moral"
                    label="Empresas"
                    :options="catalogs.external_companies"
                    option-value="id"
                    option-label="bussiness_name"
                    map-options
                    emit-value
                  >
                    <template v-slot:no-option>
                      <q-item>
                        <q-item-section class="text-grey">
                          Sin Resultados
                        </q-item-section>
                      </q-item>
                    </template>
                  </q-select>
                </div>
                <div class="q-pa-md q-gutter-sm"  v-if="formExternalSender.sender_type_id == 1">
                  <q-btn padding="xs" color="primary" icon="add" @click="newExternalCompany = true" >
                    <q-tooltip>Registrar Empresa</q-tooltip>
                  </q-btn>
                </div>
              </div>
            </q-card-section>
          </q-form>
          <q-form ref="reception" greedy @submit.prevent="() => {}">
            <q-card-section>
              <div class="row q-col-gutter-sm" >
                <div class="col-xs-12 col-sm-12 col-md-3">
                  <q-input v-model="reception.folio" square outlined
                          :rules="[(val) => !!val || 'Este campo es obligatorio']"
                          label="Folio del Documento"
                           lazy-rules />
                </div>
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <q-select id="MedRecep" outlined v-model="reception.cat_recep_meds_id"
                              :options="catalogs.cat_recep_meds"
                              option-value="id"
                              option-label="name"
                              emit-value
                              lazy-rules
                              :rules="[(val) => !!val || 'Este campo es obligatorio']"
                              map-options label="Medio de Recepción"
                    />
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-2">
                    <q-select class="spaccing" id="prioRecep" outlined v-model="reception.cat_priorities_id"
                              :options="catalogs.cat_priorities"
                              option-value="id"
                              option-label="name"
                              caption ="description"
                              filled
                              lazy-rules
                              clearable
                              emit-value
                              :rules="[(val) => !!val || 'Este campo es obligatorio']"
                              map-options label="Prioridad"
                              options-selected-class="text-deep-orange"
                    > </q-select>
                  </div>
                    <div class="col-xs-12 col-sm-12 col-md-1">
                      <q-btn color="indigo">
                        ?
                        <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                          <strong>En oficios urgentes tiene 5 días para responderlo</strong>
                          (<q-icon name="keyboard_arrow_up"></q-icon>)
                        </q-tooltip>
                      </q-btn>
                    </div>

                  <div class="col-xs-12 col-sm-12 col-md-3" v-if="reception.cat_recep_meds_id != '3'" >
                    <q-select class="q-my-sm"  id="docTypeRecep" outlined v-model="reception.cat_doc_types_id"
                      :options="catalogs.cat_doc_types"
                      option-value="id"
                      option-label="name"
                      emit-value
                      :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      map-options label="Tipo de documento"
                    />
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <q-input class="q-my-sm" filled v-model="receptionDate"  mask="date" :rules="['date']"
                              label="Fecha de Recepción">
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                            <q-date v-model="receptionDate"  first-day-of-week="0" :options="optionsFnC">
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Cerrar" color="primary" flat />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                  <q-input class="q-my-sm" filled v-model="attentionDate" mask="date" :rules="['date']" label="Fecha de Compromiso">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date v-model="attentionDate" first-day-of-week="0" :options="optionsCommit">
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Cerrar" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <q-input class="q-my-sm" id="timeRecep" filled v-model="reception.reception_time"  mask="time" :rules="[validateTime, 'time']"
                              label="Hora de  Recepción">
                      <template v-slot:append>
                        <q-icon name="access_time" class="cursor-pointer">
                          <q-popup-proxy transition-show="scale" transition-hide="scale">
                            <q-time v-model="reception.reception_time"  :options="optionsFnTime" >
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Cerrar" color="primary" flat />
                              </div>
                            </q-time>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input >
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <q-input class="q-my-sm" filled v-model="documentDate" mask="date" :rules="['date']" label="Fecha del Documento">
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                            <q-date v-model="documentDate" first-day-of-week="0" :options="optionsFn">
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Cerrar" color="primary" flat />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <q-input class="q-my-sm" v-model="reception.subject" square outlined :rules="[(val) => !!val || 'Este campo es obligatorio']" label="Asunto"/>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <q-input class="q-my-sm" square outlined type="textarea"  :rules="[ val => val.length <= 255 || 'La descripcion  debe tener maximo 255 caracteres']" v-model="reception.description" label="Descripción" />
                  </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <q-select class="q-my-sm"
                    label="Palabras clave"
                    outlined
                    v-model="reception.key_words"
                    use-input
                    use-chips
                    multiple
                    hide-dropdown-icon
                    input-debounce="0"
                    new-value-mode="add-unique"
                  />
                </div>

                  <q-select class="q-my-sm"
                    outlined
                    v-model="reception.folio_associated"
                    use-input
                    input-debounce="0"
                    label="Seleccione folio a relacionar"
                    :options="possibleFoliosOptions"
                    option-value="id"
                    option-label="folio"
                    @filter="searchFolio"
                    style="width: 280px"
                  >
                    <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        Sin Resultados
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
            </div>
              <br>
            </q-card-section>
            <q-card-section>
              <DocumentCard :uploadOffice="uploadOffice" :affairId="affairId"/>
            </q-card-section>
            <q-card-section>
              <div class="text-h6">
                <q-separator spaced/>
                <q-icon size="sm" color="primary" name="far fa-comments"/> Comentarios
              </div>
              <br>
              <div class="row q-col-gutter-sm">
                <div bottom-slots class=" col-xs-12 col-sm-11 col-md-11">
                  <Comments
                    @addComment="addComment"
                    :commentary="commentsArray"
                  />
                </div>
                <div class="col-xs-12 col-sm-1 col-md-1">
                  <q-btn v-if="commentsArray.writedComment !== ''" round dense flat @click="addComment()" icon="send" />
                </div>
              </div>
              <q-list>
                <q-item
                  clickable
                  v-ripple
                  v-for="item in items"
                  :key="item.id"
                  :item="item"
                >
                  <q-item-section>
                    <q-item-label>
                      <div class="q-mt-sm q-mb-xs text-subtitle2">
                        {{ user.name }} {{ user.last_name }} {{ user.second_lastname }} / {{ user.position }}
                      </div>
                    </q-item-label>
                    <div class="q-mt-sm q-mb-xs text-subtitle1">
                      <q-chat-message
                        :text="[item.comment]"
                        avatar="~assets/img/user.png"
                        text-color="white"
                        bg-color="secondary"
                      />
                    </div>
                    <q-item-label caption>
                      Enviado: {{ day }}/{{ month }}/{{ year }}
                      a las: {{ hour }}:{{ minutes }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-section>
          </q-form>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat @click="sendExternalAffair()"  label="Guardar" color="primary" />
        </q-card-actions>
        </q-form>
      </div>
    </q-card>
    <q-dialog v-model="newExternalPeople" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none col-md-6">
          <div class="text-h6">Registro Nuevo de Persona</div>
          <q-space />
          <q-btn icon="close" @click="cancelNewExternalPeople()" flat round dense v-close-popup />
        </q-card-section>
        <q-form ref="formexternalpeople" @submit.prevent="() => {}">
        <q-card-section>
          <q-input outlined v-model="formexternalpeople.name" class="q-my-sm"
            :rules="[(val) => !!val || 'Este campo es obligatorio']"
            label="Nombre" />
          <q-input outlined v-model="formexternalpeople.last_name" class="q-my-sm"
            :rules="[(val) => !!val || 'Este campo es obligatorio']"
            label="Apellido Paterno" />
          <q-input outlined v-model="formexternalpeople.second_lastname" class="q-my-sm"
            label="Apellido Materno" />
          <q-input outlined v-model="formexternalpeople.email" type="email" class="q-my-sm"
            :rules="[isValidEmail]"
            label="Email" />
          <q-input outlined v-model="formexternalpeople.phone" type="tel" class="q-my-sm"
            mask="(###) ### - ####"
            label="Telefono" />
        </q-card-section>
        </q-form>
        <q-card-actions align="right">
                <q-btn flat label="Cancelar" @click="cancelNewExternalPeople()" color="primary" v-close-popup />
                <q-btn flat label="Guardar" @click="addNewExternalPeople()" color="primary"/>
              </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="newExternalCompany" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Registro Nuevo de Empresa</div>
          <q-space />
          <q-btn icon="close" @click="cancelNewCompany()" flat round dense v-close-popup />
        </q-card-section>
        <q-form ref="formcompany" @submit.prevent="() => {}">
          <q-card-section>
            <q-input outlined v-model="formcompany.name" class="q-my-sm"
              label="Nombre"
              :rules="[(val) => !!val || 'Este campo es obligatorio']" />
            <q-input outlined v-model="formcompany.bussiness_name" class="q-my-sm"
              label="Razón Social"
              :rules="[(val) => !!val || 'Este campo es obligatorio']" />
            <q-input outlined v-model="formcompany.rfc" class="q-my-sm"
              label="RFC"
              :rules="[isValidRFC]"
              mask="AAA######NNN" />
              <q-input outlined v-model="formcompany.address" class="q-my-sm"
              label="Dirección"
               />
            <q-input outlined v-model="formcompany.email" class="q-my-sm"
              label="Email" type="email"
              :rules="[isValidEmail]" />
            <q-input outlined v-model="formcompany.phone" class="q-my-sm"
              label="Teléfono"
              mask="(###) ### - ####"
             />
          </q-card-section>
        </q-form>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" @click="cancelNewCompany()" color="primary" v-close-popup />
          <q-btn flat label="Guardar" @click="addNewCompany()" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="newDependency" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none col-md-6">
          <div class="text-h6">Registro Nueva Dependencia</div>
          <q-space />
          <q-btn icon="close" @click="cancelNewDependency()" flat round dense v-close-popup />
        </q-card-section>
        <q-form ref="formdependency" @submit.prevent="() => {}">
          <q-card-section>
            <q-input outlined v-model="formdependency.name" class="q-my-sm"
                    label="Nombre"
                    :rules="[(val) => !!val || 'Este campo es obligatorio']" />
            <q-input outlined v-model="formdependency.acronym" class="q-my-sm"
                     label="Acronimo"
                     :rules="[(val) => !!val || 'Este campo es obligatorio']"
                     />
          </q-card-section>
        </q-form>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" @click="cancelNewDependency()" color="primary" v-close-popup />
          <q-btn flat label="Guardar" @click="addNewDependency()" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="newUnit" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Registro Nueva Unidad</div>
          <q-space />
          <q-btn icon="close" @click="cancelNewUnit()" flat round dense v-close-popup />
        </q-card-section>
        <q-form ref="formUnit" @submit.prevent="() => {}">
          <q-card-section>
            <q-select  class="q-my-sm"
                       outlined v-model="formUnit.external_entity_id"
              input-debounce="0"
              @filter="filterFn"
              :options="optionsEntities"
              option-value="id"
              option-label="name"
              label="Seleccione Dependencia"
              :rules="[(val) => !!val || 'Este campo es obligatorio']" >
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">
                    No hay resultados
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
            <q-input outlined v-model="formUnit.name" class="q-my-sm"
                    label="Unidad"
                    :rules="[(val) => !!val || 'Este campo es obligatorio']" />
            <q-input outlined v-model="formUnit.acronym" class="q-my-sm"
                    label="Acronimo"
                    />
          </q-card-section>
        </q-form>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" @click="cancelNewUnit()" color="primary" v-close-popup />
          <q-btn flat label="Guardar" @click="addNewUnit()" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>

const today = new Date();
import * as ExternalAffairReceptionService from 'src/services/receipt/ExternalAffairReceptionService';
import * as CatalogService from 'src/services/admin/CatalogService';
import * as ExternalPeopleService from 'src/services/ExternalPeopleService';
import * as ExternalCompanyService from 'src/services/ExternalCompanyService';
import * as newDependency from 'src/services/admin/catalogs/EntityService';
import * as newUnit from 'src/services/admin/catalogs/UnitService';
import * as ExternalAffairReceptionFromService from 'src/services/receipt/ExternalAffairReceptionFromService';
import * as ExternalSenderService from 'src/services/ExternalSenderService'
import * as ExternalCommentService from 'src/services/receipt/ExternalAffairCommentService';
import * as FolioService from 'src/services/FolioService';
import { notifyError, notifySuccess, notifyAlert } from 'src/utils/notify';
import { cleanStr, enableDate, finalDate, existHoliday } from 'boot/customFunctions';
import SendTo from 'src/components/global/SendTo';
import Comments from './partials/Comments';
import DocumentCard from './partials/DocumentCard';

export default {
  components: { Comments, DocumentCard, SendTo },
  data() {
    return {
      // confirm: false,
      uploadOffice: false,
      affairId: 0,
      formExternalAffair: {
        folio: '',
        subject: '',
        description: '',
        document_date: '',
        attention_date: '',
        reception_date: '',
        reception_time: `${today.getHours()}:${today.getMinutes()}`,
        cat_recep_meds_id: '',
        cat_doc_types_id: '',
        cat_priorities_id: '',
        folio_control: '',
        key_words: [],
      },
      documentDate: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
      attentionDate: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
      receptionDate: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
      people: {
        id: '',
        user: '',
        userId: '',
        participationId: '',
        entity: '',
        unit: '',
        position: '',
        hover: false,
      },
      externalSender: {
        sender_entity_id: null,
        external_sender_id: null,
        fisica: null,
        moral: null,
        sender_type_id: '',
      },
      formcompany: {
        name: '',
        bussiness_name: '',
        rfc: '',
        email: '',
        phone: '',
        address: '',
      },
      formdependency: {
        name: '',
        acronym: '',
      },
      formUnit: {
        external_entity_id: '',
        name: '',
        acronym: '',
      },
      formexternalpeople: {
        name: '',
        last_name: '',
        second_lastname: '',
        email: '',
        phone: '',
      },
      formExternalSender: {
        externalSender: []
      },
      formcomm: {
        comments: [], // items: []
      },
      formpeople: {
        people: [], // items: []
      },
      items: [],
      itemsPeople: [],
      itemsParticipations: [],
      itemId: 0,
      itemPeopleId: 0,
      itemParticipationId: 0,
      itemElement: '',
      UnitsOptions: [],
      InitialUnitsOptions: [],
      loadingUnits: false,
      ResponsibleOptions: [],
      InitialResponsibleOptions: [],
      loadingResponsible: false,
      PositionOptions: [],
      InitialPositionOptions: [],
      loadingPosition: false,
      newEntity: false,
      newExternalCompany: false,
      newExternalPeople: false,
      newDependency: false,
      newUnit: false,
      shape: '',
      model: null,
      externalUsers: false,
      typeDoc: 'one',
      dialogNewInternal: false,
      isShowDialogFile: false,
      file: null,
      isFileShow: false,
      src: null,
      tab: 'to',
      comment: '',
      day: today.getDay(),
      month: today.getMonth(),
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      fabRight: false,
      dialogRoute: false,
      route: '',
      routeOptions: ['Ruta de atención 1', 'Ruta de atención 2', 'Ruta de atención 3'],
      optionsEntities: [],
      toPeople: [],
      ccpPeople: [],
      commentsArray: {
        writedComment: '',
      },
      possibleFolios: [],
      loadingFolios: false,
      possibleFoliosOptions: []
    }
  },
  beforeRouteLeave(to, from, next) {
    const url = to.path
    const expression = 'externalOffice'
    const regex = new RegExp(expression);
    console.log(url.match(regex))
    if (!url.match(regex)) {
      if (!window.confirm('¿Estás seguro de salir?')) {
        return;
      }
    }
    next();
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    config: {
      get() {
        return this.$store.state.config
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    subjectD() {
      return this.reception.subject
    },
    descriptionD() {
      return this.reception.description
    },
    folioControlD() {
      return this.reception.folio_control
    },
    folioD() {
      return this.reception.folio
    },
    peopleNameD() {
      return this.formexternalpeople.name
    },
    peopleLastName() {
      return this.formexternalpeople.last_name
    },
    peopleSecondLastName() {
      return this.formexternalpeople.second_lastname
    },
    companyNameD() {
      return this.formcompany.name
    },
    companyBussinessNameD() {
      return this.formcompany.bussiness_name
    },
    companyAddressD() {
      return this.formcompany.address
    },
    dependencyNameD() {
      return this.formdependency.name
    },
    dependencyAcronymD() {
      return this.formdependency.acronym
    },
    unitNameD() {
      return this.formUnit.name
    },
    unitAcronymD() {
      return this.formUnit.acronym
    }
  },
  created() {
    const positionId = window.sessionStorage.getItem('position_id');
    const catalogsConfiguration = {
      users: true,
      people: true,
      units: true,
      position: true,
      entities: true,
      cat_doc_types: true,
      cat_recep_meds: true,
      cat_priorities: true,
      cat_to_docs: true,
      cat_sender_types: true,
      external_people: true,
      external_companies: true,
      external_entities: true,
      external_units: true,
      cat_holidays: true,
      position_id: positionId,
    };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        const catPriorities = this.catalogs.cat_priorities;
        catPriorities.map((p) => {
          p.description = p.days;
          // remover la propiedad actual
          delete p.days;
          // retornar el nuevo objeto
          return p;
        });
        this.catalogs.cat_priorities = catPriorities
        console.log(catPriorities);
        this.$q.loading.hide();
      }).catch((err) => {
        console.log(err)
      });

    /* this.reception.document_date = `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`;
    this.reception.attention_date = `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`;
    this.reception.reception_date = `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`; */
    this.reception_time = `${today.getHours()}:${today.getMinutes()}`;
    this.uploadOffice = false;
    this.getPossibleFolios();
  },
  beforeCreate() {
    this.$store.commit('reception/reset');
    this.uploadOffice = false;
  },
  watch: {
    documentDate(cad) {
      if (this.validateDate(cad) === false && !this.can('send-Holiday')) {
        this.documentDate = ''
      } else {
        this.documentDate = cad
      }
    },
    attentionDate(cad) {
      if (this.validateDate(cad) === false && !this.can('send-Holiday')) {
        this.attentionDate = ''
      } else {
        this.attentionDate = cad
      }
    },
    receptionDate(cad) {
      this.attentionDate = '';
      if (this.validateDate(cad) === false && !this.can('send-Holiday')) {
        this.receptionDate = ''
      } else {
        this.receptionDate = cad
      }
    },
    subjectD(cad) {
      this.reception.subject = cleanStr(cad)
    },
    descriptionD(cad) {
      this.reception.description = cad
    },
    folioControlD(cad) {
      this.reception.folio_control = cleanStr(cad)
    },
    folioD(cad) {
      this.reception.folio = cleanStr(cad)
    },
    peopleNameD(cad) {
      this.formexternalpeople.name = cleanStr(cad)
    },
    peopleLastName(cad) {
      this.formexternalpeople.last_name = cleanStr(cad)
    },
    peopleSecondLastName(cad) {
      this.formexternalpeople.second_lastname = cleanStr(cad)
    },
    companyNameD(cad) {
      this.formcompany.name = cleanStr(cad)
    },
    companyBussinessNameD(cad) {
      this.formcompany.bussiness_name = cleanStr(cad)
    },
    companyAddressD(cad) {
      this.formcompany.address = cleanStr(cad)
    },
    dependencyNameD(cad) {
      this.formdependency.name = cleanStr(cad)
    },
    dependencyAcronymD(cad) {
      this.formdependency.acronym = cleanStr(cad)
    },
    unitNameD(cad) {
      this.formUnit.name = cleanStr(cad)
    },
    unitAcronymD(cad) {
      this.formUnit.acronym = cleanStr(cad)
    }
  },
  methods: {

    clearValues() {
      console.log('aa')
      // this.formExternalSender.external_sender_id = null;
      // return this.formExternalSender.external_sender_id;
    },
    optionsFnTime(hr) {
      console.log(hr)
      if (hr < 9 || hr > 19) {
        return false
      }
      return true
    },
    validateTime(hr) {
      console.log(hr)
      const [hrs, mins] = hr.split(':')
      const hoursF = `${hrs}.${mins}`
      console.log(mins)
      if (parseFloat(hoursF) >= parseFloat('9.00') && parseFloat(hoursF) <= parseFloat('19.00')) {
        return true
      }
      return false || 'Debe ingresar una hora entre las 9:00 y las 19:00 horas';
    },
    validateDate(cad) {
      const holidays = this.$store.state.catalogs.cat_holidays;
      const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
      const valid = (arr.includes(cad)) ? false : cad
      return valid
    },
    optionsFn(date) {
      const holidays = this.catalogs.cat_holidays;
      date = enableDate(this.user.permissions, holidays, date)
      return date !== false;
    },
    optionsFnC(date) {
      const todayCalendar = new Date(date)
      const todayCommit = new Date()
      const holidays = this.catalogs.cat_holidays;
      // const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
      // date = (arr.includes(date)) ? false : date
      date = enableDate(this.user.permissions, holidays, date)
      return date !== false && todayCalendar <= todayCommit
    },
    optionsCommitexa(date) {
      date = this.receptionDate;
      const initialdate = date;
      const holidays = this.catalogs.cat_holidays;
      let dias = 365;
      if (this.reception.cat_priorities_id === 1) {
        dias = 7
      }
      const endDay = finalDate(date, dias);
      date = enableDate(this.user.permissions, holidays, date)
      // return date !== false && initialdate >= todaydate
      console.log(date)
      console.log(initialdate)
      console.log(endDay)
      return date !== false && date >= initialdate
    },
    optionsCommit(date) {
      const initialdate = this.receptionDate;
      const holidays = this.catalogs.cat_holidays;
      let numberHolidays = 0;
      let dias = 365;
      if (this.reception.cat_priorities_id === 1) {
        numberHolidays = existHoliday(initialdate, holidays);
        dias = 6 + numberHolidays;
      }
      date = enableDate(this.user.permissions, holidays, date)
      console.log(initialdate)
      const endDay = finalDate(initialdate, dias);
      console.log(endDay)
      return date >= initialdate && date <= endDay
    },
    filterFn(val, update) {
      if (val === '') {
        update(() => {
          this.optionsEntities = this.catalogs.external_entities
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.optionsEntities = this.catalogs.entities.filter((v) => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    isValidEmail(val) {
      let regresa = true
      if (val.length !== 0) {
        const emailPattern = /^(?=[a-zA-Z0-9@.%+-]{6,254}$)[a-zA-Z0-9.%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
        regresa = emailPattern.test(val) || 'Debe ingresar un correo válido';
      } else {
        regresa = true
      }
      return regresa;
    },
    isValidRFC(val) {
      let regresa = true
      if (val.length !== 0) {
        val = val.toUpperCase()
        const rfcPattern = /^([A-ZÑ&]{3,4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$/;
        regresa = rfcPattern.test(val) || 'Debe ingresar un RFC válido';
      } else {
        regresa = true
      }
      return regresa;
    },
    addComment() {
      if (this.commentsArray.writedComment !== '') {
        this.items.push({ comment: this.commentsArray.writedComment, id: this.itemId })
        this.commentsArray.writedComment = '';
        this.itemId += 1;
        console.log(this.items);
      }
    },
    sendExternalAffair() {
      /* const receiverCheck = this.itemsParticipations.some((part) => part.participation === 1)
      if (!receiverCheck) {
        notifyError('Sin destinatario')
      } */
      if (!this.can('send-Holiday')) {
        const holidays = this.catalogs.cat_holidays;
        const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
        const validDocDate = arr.includes(this.documentDate)
        const validAttDate = arr.includes(this.attentionDate)
        const validRecDate = arr.includes(this.receptionDate)
        console.log('logaritmo')
        if (validDocDate) {
          notifyAlert('La fecha no es valida');
          this.documentDate = ''
          return
        }
        if (validAttDate) {
          notifyAlert('La fecha no es valida');
          this.attentionDate = ''
          return
        }
        if (validRecDate) {
          notifyAlert('La fecha no es valida');
          this.receptionDate = ''
          return
        }
      }
      if (!this.can('send-Weekend')) {
        const dateObjD = new Date(this.documentDate)
        this.documentDate = (dateObjD.getDay() === 0 || dateObjD.getDay() === 6) ? '' : this.documentDate
        const dateObjA = new Date(this.attentionDate)
        this.attentionDate = (dateObjA.getDay() === 0 || dateObjA.getDay() === 6) ? '' : this.attentionDate
        const dateObjR = new Date(this.receptionDate)
        this.receptionDate = (dateObjR.getDay() === 0 || dateObjR.getDay() === 6) ? '' : this.receptionDate
        if (this.documentDate === '' || this.attentionDate === '' || this.receptionDate === '') {
          notifyAlert('La fecha no es valida');
          return
        }
      }

      this.reception.document_date = this.documentDate
      this.reception.attention_date = this.attentionDate
      this.reception.reception_date = this.receptionDate
      console.log('external_sender_id')
      if (this.formExternalSender.moral !== undefined) {
        this.formExternalSender.external_sender_id = this.formExternalSender.moral
      } else if (this.formExternalSender.fisica !== undefined) {
        this.formExternalSender.external_sender_id = this.formExternalSender.fisica
      }
      this.$refs.reception.validate().then((valid) => {
        if (valid) {
          this.formcomm.comments = this.items;
          this.formcomm.folio = this.reception.folio;
          this.formpeople.people = { to: [...this.toPeople], ccp: [...this.ccpPeople] }
          this.formpeople.receiver_id = this.itemsPeople;
          this.formpeople.participants_id = this.itemsParticipations;
          console.log(this.$store.state.user.information.from_user_id);
          const form = { ...this.reception, ...this.formpeople, comments: this.items, userId: this.$store.state.user.information.from_user_id };
          const formExternalSender = { ...this.formExternalSender };
          this.$q.loading.show();
          ExternalAffairReceptionService.store(form).then((data) => {
            this.uploadOffice = true;
            this.affairId = data.externalAffair.affair_id
            notifySuccess('Se ha agregado el Documento Externo');
            this.$q.loading.show();
            formExternalSender.external_affair_id = data.externalAffair.affair_id;
            ExternalSenderService.store(formExternalSender).then(() => {
              // This is intentional
            }).catch((err) => {
              console.log(err)
              notifyAlert(err.response.data.message);
            })
            // this.$router.push('/externalOffice');
            setTimeout(() => this.$router.push('/externalOffice'), 1000);
          }).catch((err) => {
            notifyAlert(err.response.data.message);
          }).finally(() => {
            this.$q.loading.hide();
            // this.$router.push('/externalOffice');
          })
        } else {
          // this.cat_recep_meds_id.validate()
        }
      });
    },
    addNewExternalPeople() {
      const externalPeople = { ...this.formexternalpeople };
      this.$refs.formexternalpeople.validate().then((valid) => {
        if (valid) {
          ExternalPeopleService.store(externalPeople).then((data) => {
            console.log('EXTERNAL', data);
            notifySuccess('Se ha agregado la persona');
            this.catalogs.external_people.push(data.externalpeople);
            this.formExternalSender.external_people_id = data.externalpeople.id;
            this.newExternalPeople = false;
            this.formexternalpeople = {}
          });
        }
      });
    },
    cancelNewExternalPeople() {
      this.formexternalpeople = {}
    },
    addNewCompany() {
      const externalCompany = { ...this.formcompany };
      this.$refs.formcompany.validate().then((valid) => {
        if (valid) {
          ExternalCompanyService.store(externalCompany).then((data) => {
            this.catalogs.external_companies.push(data.externalcompany);
            this.formExternalSender.external_company_id = data.externalcompany.id;
            this.newExternalCompany = false;
            console.log('COMPANY', data);
            notifySuccess('Se ha agregado la empresa');
            this.formcompany = {}
          });
        }
      });
    },
    cancelNewCompany() {
      this.formcompany = {}
    },
    addNewDependency() {
      const externalDependency = { ...this.formdependency };
      this.$refs.formdependency.validate().then((valid) => {
        if (valid) {
          newDependency.storeExternalDependency(externalDependency).then((data) => {
            this.catalogs.external_entities.push(data.entity);
            this.newDependency = false;
            this.formdependency.name = '';
            this.formdependency.acronym = ''
            console.log('dependency', data, this.catalogs.external_entities);
            notifySuccess('Se ha agregado la dependencia');
            this.formdependency = {}
          });
        }
      });
    },
    cancelNewDependency() {
      this.formdependency = {}
    },
    addNewUnit() {
      const externalUnit = { ...this.formUnit };
      this.$refs.formUnit.validate().then((valid) => {
        if (valid) {
          newUnit.storeExternalUnit(externalUnit).then((data) => {
            this.catalogs.external_units.push(data.unit);
            this.UnitsOptions.push(data.unit);
            this.newUnit = false;
            this.formUnit.external_entity_id = '';
            this.formUnit.name = '';
            this.formUnit.acronym = '';
            console.log('unit', data);
            notifySuccess('Se ha agregado la unidad');
            this.formUnit = {}
          });
        }
      });
    },
    cancelNewUnit() {
      this.formUnit = {}
    },
    saveDraft() {
      const receiverCheck = this.itemsParticipations.some((part) => part.participation === 1)
      if (!receiverCheck) {
        notifyError('Sin destinatario')
      }
      this.$refs.reception.validate().then((valid) => {
        if (valid && receiverCheck) {
          this.formcomm.comments = this.items;
          console.log(this.formcomm.comments);
          this.formcomm.folio = this.reception.folio;
          this.formpeople.people = this.itemsPeople;
          console.log('Peopleform', this.formpeople.people);
          this.formpeople.receiver_id = this.itemsPeople;
          console.log(this.formpeople.receiver_id);
          this.formpeople.participants_id = this.itemsParticipations;
          console.log(this.formpeople.participants_id);
          const form = { ...this.reception };
          const formcomm = { ...this.formcomm };
          const formpeople = { ...this.formpeople };
          const formExternalSender = { ...this.formExternalSender };
          this.$q.loading.show();
          ExternalAffairReceptionService.saveDraft(form).then((data) => {
            this.uploadOffice = true;
            console.log('EXTERNALAFFAIRRECEPTIONDRAFT', data);
            notifySuccess('Guardado como borrador');
            this.$q.loading.show();
            ExternalSenderService.store(formExternalSender).then(() => {
              // This is intentional
            }).catch((err) => {
              console.log(err)
            })
            ExternalAffairReceptionFromService.store(formpeople).then(() => {
              // This is intentional
            }).catch((err) => {
              console.log(err)
            })
            ExternalCommentService.store(formcomm).then(() => {
              // This is intentional
            }).catch((err) => {
              console.log(err)
            })
            this.$router.push('/externalOffice');
          }).catch(() => {
            notifyError();
          }).finally(() => {
            this.$q.loading.hide();
          })
        }
      });
    },
    save() {
      this.date = this.proxyDate
      // this.date = this.receptionDate
    },
    modalClean() {
      this.$store.commit('reception/reset');
    },
    setDocument(document, file) {
      document.file = file;
      this.isShowDialogFile = false;
    },
    showDialog() {
      this.isShowDialogFile = true;
    },
    showDialogFile(file) {
      this.src = `${this.$axios.defaults.baseURL}/api/files/show/pdf/${file.id}`;
      this.isFileShow = true;
    },
    submitReception() {
      this.submitting = true;
      this.$refs.receptionForm.validate().then((valid) => {
        if (valid) {
          const receptionData = { ...this.reception };
          this.$q.loading.show();
          this.$store.dispatch('reception/save', receptionData).then((res) => {
            this.$q.loading.hide();
            if (res.status === 422) {
              this.errors = res.data.errors
              this.hasErrors = true;
              this.submitting = false;
              notifyError();
            } else if (res.data.success) {
              notifySuccess()
              this.$store.commit('reception/reset');
              this.$router.push('/attention-route/create');
            } else {
              this.submitting = false;
              notifyError();
            }
          });
        } else {
          this.submitting = false;
        }
      });
    },
    receptionDraft() {
      this.submitting = true;
      this.$refs.receptionForm.validate().then((valid) => {
        if (valid) {
          const receptionData = { ...this.reception };
          this.$q.loading.show();
          this.$store.dispatch('reception/save', receptionData).then((res) => {
            this.$q.loading.hide();
            if (res.status === 422) {
              this.errors = res.data.errors
              this.hasErrors = true;
              this.submitting = false;
              notifyError();
            } else if (res.data.success) {
              notifySuccess()
              this.$store.commit('reception/reset');
              this.$router.push('/draftsTrades');
            } else {
              this.submitting = false;
              notifyError();
            }
          });
        } else {
          this.submitting = false;
        }
      });
    },
    send() {
      this.$refs.routeForm.validate().then((valid) => {
        if (valid) {
          this.$q.loading.show();
          setTimeout(() => {
            notifySuccess('Se ha enviado correctamente');
            this.$router.push('/');
            this.$q.loading.hide();
          }, 500)
        }
      });
    },
    filterResponsible(position) {
      if (position != null) {
        this.loadingResponsible = true;
        CatalogService.getResponsible(position.id).then((people) => {
          this.InitialResponsibleOptions = people;
          this.ResponsibleOptions = this.InitialResponsibleOptions;
          this.loadingResponsible = false;
        })
      }
    },
    filterPositions(unit) {
      if (unit != null) {
        this.loadingPosition = true;
        CatalogService.getPositions(unit.id).then((position) => {
          this.InitialPositionOptions = position;
          this.PositionOptions = this.InitialPositionOptions;
          this.loadingPosition = false;
        })
      }
    },
    filterUnits(entity) {
      if (entity != null) {
        this.loadingUnits = true;
        /* CatalogService.getUnits(entity).then((unit) => {
          this.InitialUnitsOptions = unit;
          this.UnitsOptions = this.InitialUnitsOptions;
          this.loadingUnits = false;
        }) */
        CatalogService.getExternalUnits(entity).then((unit) => {
          this.InitialUnitsOptions = unit;
          this.UnitsOptions = this.InitialUnitsOptions;
          this.loadingUnits = false;
        })
      }
    },
    /* addComment(commentary) {
      this.$emit('addComment', commentary);
      if (this.commentsArray.writedComment !== '') {
        this.items.push({ comment: this.commentsArray.writedComment })
        this.commentsArray.writedComment = '';
        this.itemId += 1;
      }
    }, */
    addPeople(externalPeople) {
      console.log('itemsPeople length:', this.itemsPeople.length)
      if (this.itemsPeople.length === 0) {
        this.itemsPeople.push({ receiver: externalPeople });
        this.itemPeopleId += 1;
        console.log('itemsPeople length = 0')
      } else if (this.itemsPeople.length > 0) {
        for (let j = 0; j <= this.itemsPeople.length; j += 1) {
          if (externalPeople === this.itemsPeople[j]) {
            this.itemCount += 1;
          }
        }
        if (this.itemCount > 0) {
          notifyError('Destinatario duplicado')
        } else {
          this.itemsPeople.push({ receiver: externalPeople });
          this.itemPeopleId += 1;
        }
      }
    },
    addPeopleCCP(externalPeopleCCP) {
      this.itemsPeople.push({ receiver: externalPeopleCCP });
      this.itemPeopleId += 1;
    },
    addParticipation(externalPeopleParticipation) {
      this.itemsParticipations.push({ participation: externalPeopleParticipation })
      this.itemParticipationId += 1;
    },
    deletePeople(deletePeople) {
      const index = this.itemsPeople.findIndex((x) => x.receiver === deletePeople);
      console.log(deletePeople)
      this.itemsPeople.splice(index, 1)
    },
    deleteParticipation(deleteParticipation) {
      const index = this.itemsParticipations.findIndex((x) => x.participation === deleteParticipation);
      console.log(deleteParticipation)
      this.itemsParticipations.splice(index, 1)
    },
    getPossibleFolios() {
      FolioService.getOutputFolios().then((data) => {
        // console.log(data);
        this.possibleFolios = data.folios;
        this.possibleFoliosOptions = this.possibleFolios;
        this.loadingFolios = false;
      })
    },
    searchFolio(val, update) {
      this.loadingFolios = true;
      const stringOptions = this.possibleFolios
      update(() => {
        const needle = val.toLowerCase()
        this.possibleFoliosOptions = stringOptions.filter((v) => v.folio.toLowerCase().indexOf(needle) > -1)
      })
    },
  },
}

</script>

<style lang="sass" scoped>

.q-my-sm
  margin-bottom : 20px
</style>
