<template>
  <div>
    <q-card>
      <q-card-actions>
        <q-btn
          flat
          round
          color="primary"
          icon="fas fa-arrow-left"
          @click="$router.back()"
        >
          <q-tooltip>Volver</q-tooltip>
        </q-btn>
        <div class="text-h6">
          <span class="q-ml-md text-h6">{{ form.folio || 'Folio no generado' }} / {{form.subject}}</span>
        </div>
      <!-- </q-card-actions> -->
      <!-- Botones Accion -->
      <q-space />
      <!-- <q-card-actions> -->
        <q-btn id="Conclude"
          v-if="form.status_id === 1 && form.turn.status_id != 'read'"
          flat
          @click="saveAndSend()"
          icon="send"
          color="primary">
          <q-tooltip>Finalizar</q-tooltip>
        </q-btn>
        <q-btn
          flat
          size="sm"
          @click="render(form.affair_id)"
          icon="fas fa-eye"
          color="primary">
          <q-tooltip>Ver asunto</q-tooltip>
        </q-btn>
        <q-btn
          flat
          size="sm"
          @click="actionsDialog=true"
          icon="timeline"
          color="primary">
          <q-tooltip>Seguimiento</q-tooltip>
        </q-btn>
        <!-- <q-btn
          v-if="form.reply != null && form.reply_status != 1"
          flat
          @click="goToReply(form.reply)"
          icon="check_box"
          color="primary">
          <q-tooltip>Ver Respuesta</q-tooltip>
        </q-btn> -->
        <q-btn
          v-if="(form.status_id > 2 && form.status_id != 5 && form.turn.status_id != 1 && form.turn.status_id != 'read') && !form.is_sender && form.reply == null"
          flat
          size="sm"
          @click="turnDialog=true"
          icon="forward"
          color="primary">
          <q-tooltip>Turnar</q-tooltip>
        </q-btn>
        <q-btn
          v-if="(form.status_id > 2 && form.turn.status_id == 1) && !form.is_sender"
          flat
          size="sm"
          @click="reject()"
          icon="close"
          color="primary">
          <q-tooltip>Rechazar turno</q-tooltip>
        </q-btn>
        <q-btn
          v-if="(form.status_id > 2 && form.turn.status_id == 1) && !form.is_sender"
          flat
          size="sm"
          @click="accept()"
          icon="check"
          color="primary">
          <q-tooltip>Aceptar turno</q-tooltip>
        </q-btn>
        <q-btn
          v-if="(form.status_id > 2 && form.turn.status_id != 1) && !form.is_sender && form.turn.structure_id != form.participation.structure_id"
          flat
          size="sm"
          @click="backTurn()"
          icon="done_all"
          color="primary">
          <q-tooltip>Terminar turno</q-tooltip>
        </q-btn>
        <q-btn
          v-if="( form.status_id > 2  && form.turn.status_id != 1 && form.status_id != 6 ) && !form.is_sender"
          flat
          size="sm"
          @click="$router.push(`/reception/${form.affair_id}/reply`)"
          icon="reply"
          color="primary">
          <q-tooltip>Responder</q-tooltip>
        </q-btn>
        <q-btn
          v-if="( form.status_id === 6 )"
          size="sm"
          flat @click="preview(form.affair_id)"
          icon="preview"
          color="primary">
          <q-tooltip>Ver Respuesta</q-tooltip>
        </q-btn>
        <q-btn
          v-if="( form.status_id === 6 )"
          size="sm"
          flat @click="previewSigned(form.affair_id)"
          icon="fas fa-file-contract"
          color="primary">
          <q-tooltip>Ver Respuesta firmada </q-tooltip>
        </q-btn>
      </q-card-actions>
      <!--  -->
    </q-card>
    <br>
    <!-- Contenedor -->
      <q-card>
        <q-tabs
          v-model="tab"
          active-color="black"
          indicator-color="black"
          align="justify"
          narrow-indicator
          class="text-grey shadow-2"
        >
          <q-tab name="general_information" label="Información general" />
          <q-separator vertical />
          <q-tab name="annexes" label="Archivos adjuntos">
          <q-badge v-if="num_attached > 1" color="red" text-color="white" floating align="top" style="right: -23px;">
            {{ num_attached}}
          </q-badge>
        </q-tab>
          <q-separator vertical />
          <q-tab name="comments" label="Comentarios" />
        </q-tabs>
        <q-separator />
        <!-- Body Tab -->
        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="general_information" class="q-pa-lg">
            <div class="row q-mb-md relative-position">
              <q-btn class="absolute-top-right" @click="editDestiny()" v-if="form.status_id === 1" flat icon="fas fa-edit" size="sm" color="primary">
                <q-tooltip>Editar destinatarios</q-tooltip>
              </q-btn>
              <div class="col-12 col-md-6 col-sm-6">
                <p class="text-weight-bold">De:</p>
                <q-item>
                  <q-item-section avatar >
                    <q-avatar size="35px">
                      <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
                      <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    <!-- <q-item-label>{{ form.from.position_name }}</q-item-label> -->
                    <!-- {{form.external_sender}} -->
                    <q-item-label>{{ form.external_sender.full_name }}</q-item-label>
                    <q-item-label>{{ form.external_sender.email }}</q-item-label>
                    <q-item-label caption>{{ form.type_sender }}</q-item-label>
                  </q-item-section>
                </q-item>
              </div>
            </div>
            <!-- para -->
            <div class="row q-mb-md">
              <div class="col-12 col-md-6 col-sm-6">
                <p class="text-weight-bold">Para:</p>
                <q-item
                  v-for="(user) in form.to"
                  :key="user.id">
                  <q-item-section avatar >
                    <q-avatar size="35px">
                      <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
                      <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{ user.position_name }}</q-item-label>
                    <q-item-label caption>{{ user.full_name }}</q-item-label>
                  </q-item-section>
                </q-item>
              </div>
              <div class="col-12 col-md-6 col-sm-6">
                <p class="text-weight-bold">Cc</p>
                <q-item
                  v-for="(user) in form.ccp"
                  :key="user.id">
                  <q-item-section avatar >
                    <q-avatar size="35px">
                      <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                    </q-avatar>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{ user.position_name }}</q-item-label>
                    <q-item-label caption>{{ user.full_name }}</q-item-label>
                  </q-item-section>
                </q-item>
              </div>
            </div>
            <q-separator inset />
            <div class="row q-my-md q-pr-xl relative-position">
              <q-btn class="absolute-top-right" @click="editAffair()" v-if="form.status_id === 1" flat icon="fas fa-edit" size="sm" color="primary">
                <q-tooltip>Editar asunto</q-tooltip>
              </q-btn>
              <q-item class="col-3">
                <q-item-section>
                  <q-item-label class="text-weight-bold">Fecha de creación<noframes></noframes></q-item-label>
                  <q-item-label>{{ new Date(form.creation_date).getDate() }}/{{ (new Date(form.creation_date).getMonth()+1) }}/{{ new Date(form.creation_date).getFullYear() }}
                    a las: {{ new Date(form.creation_date).getHours() }}:{{ (new Date(form.creation_date).getMinutes()).toString().length === 1 ? `0${(new Date(form.creation_date).getMinutes()).toString()}` : new Date(form.creation_date).getMinutes()}}
                    </q-item-label>
                </q-item-section>
              </q-item>
              <q-item class="col-3">
                <q-item-section>
                  <q-item-label class="text-weight-bold">Fecha del documento</q-item-label>
                  <q-item-label>{{ new Date(form.document_date).getDate() }}/{{ (new Date(form.document_date).getMonth()+1) }}/{{ new Date(form.document_date).getFullYear() }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item class="col-3">
                <q-item-section>
                  <q-item-label class="text-weight-bold">Fecha de atención</q-item-label>
                  <q-item-label>{{ new Date(form.attention_date).getDate() }}/{{ (new Date(form.attention_date).getMonth()+1) }}/{{ new Date(form.attention_date).getFullYear() }}
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-item class="col-3">
                <q-item-section>
                  <q-item-label class="text-weight-bold">Fecha de envío</q-item-label>
                  <q-item-label v-if="form.reception_date">{{ new Date(form.reception_date).getDate() }}/{{ (new Date(form.reception_date).getMonth()+1) }}/{{ new Date(form.reception_date).getFullYear() }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <div class="row q-my-md q-pr-xl">
              <q-item class="col-3">
                <q-item-section>
                  <q-item-label class="text-weight-bold">Folio</q-item-label>
                  <q-item-label>{{ form.folio || 'Folio no generado' }}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item class="col-3">
                <q-item-section>
                  <q-item-label class="text-weight-bold">Tipo de documento</q-item-label>
                  <q-item-label>{{ form.document_type || 'N/A' }}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item class="col-3">
                <q-item-section>
                  <q-item-label class="text-weight-bold"
                    >Prioridad</q-item-label
                  >
                  <q-item-label>{{ form.priority }}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item class="col-3">
                <q-item-section>
                  <q-item-label class="text-weight-bold">Estatus</q-item-label>
                  <q-item-label>{{ (form.status == 'Enviado' ? 'Recibido' : form.status) }} </q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <div class="row q-my-md q-pr-xl">
              <q-item class="col-3">
                <q-item-section>
                  <q-item-label class="text-weight-bold"
                    >Asunto</q-item-label
                  >
                  <q-item-label
                    >{{ form.subject }}</q-item-label
                  >
                </q-item-section>
              </q-item>
              <q-item class="col-3">
                <q-item-section>
                  <q-item-label class="text-weight-bold"
                    >Folio Asociado</q-item-label
                  >
                  <q-item-label
                    >{{ form.folio_associated || 'N/A' }}</q-item-label
                  >
                </q-item-section>
              </q-item>
              <q-item class="col-3">
                <q-item-section>
                  <q-item-label class="text-weight-bold"
                    >Folio/Control Interno</q-item-label
                  >
                  <q-item-label
                    >{{ form.folio_control }}</q-item-label
                  >
                </q-item-section>
              </q-item>
              <q-item class="col-3">
                <q-item-section>
                  <q-item-label class="text-weight-bold"
                    >Medio de Recepción</q-item-label
                  >
                  <q-item-label
                    >{{ form.reception_med }}</q-item-label
                  >
                </q-item-section>
              </q-item>
            </div>
            <div class="q-my-md">
              <q-item class="col-12">
                <q-item-section>
                  <q-item-label class="text-weight-bold"
                    >Descripción</q-item-label
                  >
                  <q-item-label
                    >{{ form.description }}</q-item-label
                  >
                </q-item-section>
              </q-item>
            </div>
          </q-tab-panel>
            <q-tab-panel v-if="can('document-attach')" name="annexes" class="q-pa-lg">
            <DocumentCard :affairStatusId="form.status_id" :numAttached="num_attached" v-on:sum-attached="sumAttached"/>
          </q-tab-panel>
          <q-tab-panel v-if="can('document-comment')"  name="comments">
            <Chat />
          </q-tab-panel>
        </q-tab-panels>
    </q-card>
    <q-dialog v-model="previewDialog" full-height full-width>
      <q-card style="width: 50vw; overflow-y: hidden">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="previewDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
    <!--  -->
    <q-dialog v-model="destinyDialog" persistent>
      <q-card style="width: 900px; max-width: 80vw;">
        <q-card-section>
          <SendTo
            :toPeople="toPeople"
            :ccpPeople="ccpPeople"
          />
          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Guardar" @click="updateDestiny()" color="primary" />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="affairDialog" persistent>
      <q-card style="width: 900px; max-width: 80vw;">
        <q-card-section class="row items-center">
          <q-icon name="fas fa-edit" color="primary" :size="'lg'"/>
          <span class="q-ml-md text-h6">Editar</span>
        </q-card-section>
        <q-card-section>
          <div class="row q-col-gutter-sm">
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-input  disable outlined v-model="formAffair.document_date" mask="date" :rules="['date']" label="Fecha del Documento">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date v-model="formAffair.document_date" first-day-of-week="0" :options="optionsFn">
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Cerrar" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-input   disable outlined v-model="formAffair.attention_date" mask="date" :rules="['date']" label="Fecha Atención">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date v-model="formAffair.attention_date" first-day-of-week="0" :options="optionsFn">
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Cerrar" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-select   disable outlined v-model="formAffair.cat_priorities_id"
                :options="catalogs.cat_priorities"
                option-value="id"
                option-label="name"
                emit-value
                :rules="[(val) => !!val || 'Este campo es obligatorio']"
                map-options label="Prioridasd"
              >
                <template v-slot:option="scope">
                  <q-item v-bind="scope.itemProps">
                    <q-item-section>
                      <q-item-label>{{ scope.opt.name }}</q-item-label>
                      <q-item-label caption>{{ scope.opt.description }} </q-item-label>
                    </q-item-section>
                  </q-item>
                </template>
                </q-select>
            </div>
            <div class="col-12">
              <q-input
                v-model="formAffair.subject"
                outlined
                label="Asunto"
                maxlength="255"
                :rules="[(val) => !!val || 'Este campo es obligatorio']"
              />
            </div>
            <div class="col-12">
              <q-input
                v-model="formAffair.description"
                outlined
                label="Descripción"
                maxlength="255"
                :rules="[(val) => !!val || 'Este campo es obligatorio']"
              />
            </div>
            <div class="col-6">
                <q-select
                  label="Palabras clave"
                  outlined
                  v-model="formAffair.key_words"
                  use-input
                  use-chips
                  multiple
                  hide-dropdown-icon
                  input-debounce="0"
                  new-value-mode="add-unique"
                />
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Guardar" @click="updateAffair()" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="actionsDialog" >
      <Actions
      :form="this.form"
      />
    </q-dialog>

    <q-dialog v-model="turnDialog" >
      <Turn />
    </q-dialog>

    <q-dialog v-model="rejecTurnDialog" >
      <RejectReason
        :turnId="form.turn.id"
      />
    </q-dialog>
  </div>
</template>

<script>
const today = new Date();
import * as ExternalAffairReceptionService from 'src/services/receipt/ExternalAffairReceptionService';
import * as CatalogService from 'src/services/admin/CatalogService';
import * as ExternalPeopleService from 'src/services/ExternalPeopleService';
import * as ExternalCompanyService from 'src/services/ExternalCompanyService';
import * as ExternalAffairReceptionFromService from 'src/services/receipt/ExternalAffairReceptionFromService';
import * as ExternalSenderService from 'src/services/ExternalSenderService'
import * as ExternalCommentService from 'src/services/receipt/ExternalAffairCommentService';
import * as AffairParticipationService from 'src/services/AffairParticipationService';
import * as TurnService from 'src/services/TurnService';
import * as AttachedFileService from 'src/services/AttachedFileService';
// import * as UploadFileService from 'src/services/global/UploadFileService';
import { notifyError, notifySuccess, notifyAlert } from 'src/utils/notify';
import { cleanStr, enableDate } from 'boot/customFunctions';
// import ExternalPeople from './partials/ExternalPeople.vue';
import Chat from 'src/components/global/Chat'
import Turn from 'src/components/global/Turn';
import SendTo from 'src/components/global/SendTo';
import Actions from 'src/components/global/Actions';
import RejectReason from 'src/components/global/RejectReason';
import DocumentCard from './partials/DocumentCard';

export default {
  components: { Chat, DocumentCard, SendTo, Turn, Actions, RejectReason },
  data() {
    return {
      tab: 'general_information',
      form: {},
      destinyDialog: false,
      affairDialog: false,
      uploadOffice: false,
      actionsDialog: false,
      turnDialog: false,
      rejecTurnDialog: false,
      toPeople: [],
      ccpPeople: [],
      officeDialog: false,
      previewDialog: false,
      formAffair: {
        document_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        attention_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        cat_priorities_id: '',
        subject: '',
        folio_control: '',
        folio: '',
        description: '',
        key_words: [],
      },
      formExternalAffair: {
        folio: '',
        subject: '',
        description: '',
        document_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        attention_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        reception_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        reception_time: '',
        cat_recep_meds_id: '',
        cat_doc_types_id: '',
        cat_priorities_id: '',
        key_words: [],
      },
      people: {
        id: '',
        user: '',
        userId: '',
        participationId: '',
        entity: '',
        unit: '',
        position: '',
        hover: false,
      },
      externalSender: {
        external_people_id: '',
        external_company_id: '',
        sender_entity_id: '',
        sender_type_id: ''
      },
      formcompany: {
        name: '',
        bussiness_name: '',
        rfc: '',
        email: '',
        phone: '',
        adress: '',
      },
      formentity: {
        name: '',
        acronym: '',
      },
      formexternalpeople: {
        name: '',
        last_name: '',
        second_lastname: '',
        email: '',
        phone: '',
      },
      formExternalSender: {
        externalSender: []
      },
      formcomm: {
        comments: [], // items: []
      },
      formpeople: {
        people: [], // items: []
      },
      items: [],
      itemsPeople: [],
      itemsParticipations: [],
      itemId: 0,
      itemPeopleId: 0,
      itemParticipationId: 0,
      itemElement: '',
      UnitsOptions: [],
      InitialUnitsOptions: [],
      loadingUnits: false,
      ResponsibleOptions: [],
      InitialResponsibleOptions: [],
      loadingResponsible: false,
      PositionOptions: [],
      InitialPositionOptions: [],
      loadingPosition: false,
      newEntity: false,
      newExternalCompany: false,
      newExternalPeople: false,
      shape: '',
      model: null,
      externalUsers: false,
      typeDoc: 'one',
      dialogNewInternal: false,
      isShowDialogFile: false,
      file: null,
      isFileShow: false,
      src: null,
      // tab: 'to',
      comment: '',
      day: today.getDay(),
      month: today.getMonth(),
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      fabRight: false,
      dialogRoute: false,
      route: '',
      routeOptions: ['Ruta de atención 1', 'Ruta de atención 2', 'Ruta de atención 3'],
      num_attached: '',
    }
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    config: {
      get() {
        return this.$store.state.config
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    subjectD() {
      return this.formAffair.subject
    },
    descriptionD() {
      return this.formAffair.description
    },
    keyWordsD() {
      return this.formAffair.key_words
    },
    folioControlD() {
      return this.formAffair.folio_control
    },
    folioD() {
      return this.formAffair.folio
    },
  },
  watch: {
    subjectD(cad) {
      this.formAffair.subject = cleanStr(cad)
    },
    descriptionD(cad) {
      this.formAffair.description = cleanStr(cad)
    },
    keyWordsD(cad) {
      this.formAffair.key_words = cleanStr(cad)
    },
    folioControlD(cad) {
      this.formAffair.folio_control = cleanStr(cad)
    },
    folioD(cad) {
      this.formAffair.folio = cleanStr(cad)
    },
  },
  created() {
    const catalogsConfiguration = {
      users: true,
      people: true,
      units: true,
      position: true,
      entities: true,
      cat_recep_meds: true,
      cat_priorities: true,
      cat_to_docs: true,
      cat_sender_types: true,
      external_people: true,
      external_companies: true,
      external_entities: true,
      external_units: true,
      cat_holidays: true,
    };

    const viewAnnexes = window.sessionStorage.getItem('view_annexes')
    this.tab = (viewAnnexes) ? 'annexes' : 'general_information';
    sessionStorage.removeItem('view_annexes');
    const { id } = this.$route.params
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        const pos = parseInt(window.sessionStorage.getItem('position_id'), 10)
        const usrId = parseInt(window.sessionStorage.getItem('from_user_id'), 10)
        console.log(usrId);
        ExternalAffairReceptionService.edit(`${id}_${usrId}_${pos}`).then((data) => {
          // console.log(data);
          this.form = data;
          this.tab = (this.form.file == null) ? 'annexes' : 'general_information';
          if (this.form.file == null) {
            notifyAlert('No se ha adjuntado documento original')
          }
          this.$q.loading.hide();
        }).catch(() => {
          this.$q.loading.hide();
        })
        /* ExternalAffairReceptionFromService.edit(id).then(() => {
          // This is intentional
        }); */
        /* ExternalSenderService.edit(id).then((data) => {
          this.formExternalSender = data;
          this.$q.loading.hide();
        }).catch(() => {
          this.$q.loading.hide();
        }) */
        this.$q.loading.hide();
      });
    AttachedFileService.fileAnnexes(id).then((data) => {
      // this.annexes = data.annexes
      this.num_attached = data.cant
      console.log(data);
      // this.$emit('sum-attached', this.$props.numAttached);
    }).catch((err) => {
      console.log(err)
    })
  },
  beforeCreate() {
    this.$store.commit('reception/reset');
  },
  methods: {
    preview() {
      const idFile = this.form.file_autogenerated_response.id_file_response;
      const typeFile = this.form.file_autogenerated_response.type;
      this.src = `${this.$axios.defaults.baseURL}/api/attached-files/show/${idFile}/${typeFile}`;
      this.previewDialog = true;
    },
    previewSigned(id) {
      ExternalAffairReceptionService.OriginalFileSigned(id).then((res) => {
        console.log(res);
        const fileId = res.annexes.id
        const annexed = res.annexes.annexedType
        if (fileId === null) {
          notifyAlert('No se ha adjuntado documento original firmado');
        } else {
          this.src = `${this.$axios.defaults.baseURL}/api/attached-files/show/${fileId}/${annexed}`;
          this.officeDialog = true;
        }
      }).catch((err) => {
        notifyAlert(err.response.data.message);
      })
    },
    optionsFn(date) {
      const holidays = this.catalogs.cat_holidays;
      date = enableDate(this.user.permissions, holidays, date)
      return date !== false;
    },
    isValidEmail(val) {
      const emailPattern = /^(?=[a-zA-Z0-9@.%+-]{6,254}$)[a-zA-Z0-9.%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || 'Debe ingresar un correo válido';
    },
    updateExternalAffair() {
      const receiverCheck = this.itemsParticipations.some((part) => part.participation === 1)
      if (!receiverCheck) {
        notifyError('Sin destinatario')
      }
      this.$refs.reception.validate().then((valid) => {
        if (valid && receiverCheck) {
          this.formcomm.comments = this.items;
          console.log(this.formcomm.comments);
          this.formcomm.folio = this.reception.folio;
          this.formpeople.people = this.itemsPeople;
          console.log('Peopleform', this.formpeople.people);
          this.formpeople.receiver_id = this.itemsPeople;
          console.log(this.formpeople.receiver_id);
          this.formpeople.participants_id = this.itemsParticipations;
          console.log(this.formpeople.participants_id);
          const form = { ...this.reception };
          const formcomm = { ...this.formcomm };
          const formpeople = { ...this.formpeople };
          const formExternalSender = { ...this.formExternalSender };
          const { id } = this.$route.params;
          this.$q.loading.show();
          ExternalAffairReceptionService.update(form, id).then((data) => {
            this.uploadOffice = true;
            console.log('EXTERNALAFFAIRRECEPTION', data);
            notifySuccess('Se ha agregado el Documento Externo');
            this.$q.loading.show();
            ExternalSenderService.update(formExternalSender, id).then(() => {
              // This is intentional
            }).catch((err) => {
              console.log(err)
            })
            ExternalAffairReceptionFromService.update(formpeople, id).then(() => {
              // This is intentional
            }).catch((err) => {
              console.log(err)
            })
            ExternalCommentService.update(formcomm, id).then(() => {
              // This is intentional
            }).catch((err) => {
              console.log(err)
            })
            this.$router.push('/reception');
          }).catch(() => {
            notifyError();
          }).finally(() => {
            this.$q.loading.hide();
          })
        }
      });
    },
    addNewExternalPeople() {
      const externalPeople = { ...this.formexternalpeople };
      this.$refs.formexternalpeople.validate().then((valid) => {
        if (valid) {
          ExternalPeopleService.store(externalPeople).then((data) => {
            console.log('EXTERNAL', data);
            notifySuccess('Se ha agregado la persona');
            this.catalogs.external_people.push(data.externalpeople);
            this.formExternalSender.external_people_id = data.externalpeople.id;
            this.newExternalPeople = false;
          });
        }
      });
    },
    addNewCompany() {
      const externalCompany = { ...this.formcompany };
      this.$refs.formcompany.validate().then((valid) => {
        if (valid) {
          ExternalCompanyService.store(externalCompany).then((data) => {
            this.catalogs.external_companies.push(data.externalcompany);
            this.formExternalSender.external_company_id = data.externalcompany.id;
            this.newExternalCompany = false;
            console.log('COMPANY', data);
            notifySuccess('Se ha agregado la empresa');
          });
        }
      });
    },
    editDestiny() {
      this.toPeople = [...this.form.to]
      this.ccpPeople = [...this.form.ccp]
      this.destinyDialog = true
    },
    updateDestiny() {
      const { id } = this.$route.params;
      console.log(id, this.toPeople, this.ccpPeople);
      this.$q.loading.show();
      AffairParticipationService.update({ to: this.toPeople, ccp: this.ccpPeople }, id).then(() => {
        this.reload(id);
      }).catch(() => {
        notifyError();
      }).finally(() => {
        this.destinyDialog = false
        this.$q.loading.hide();
      });
    },
    editAffair() {
      this.formAffair.document_date = this.form.document_date
      this.formAffair.attention_date = this.form.attention_date
      this.formAffair.cat_priorities_id = this.form.cat_priorities_id
      this.formAffair.subject = this.form.subject
      this.formAffair.folio_control = this.form.folio_control
      this.formAffair.folio = this.form.folio
      this.formAffair.description = this.form.description
      this.formAffair.key_words = this.form.key_words
      this.affairDialog = true
    },
    close() {
      console.log(true)
      this.previewDialog = false;
    },
    updateAffair() {
      if (!this.can('send-Holiday')) {
        const holidays = this.catalogs.cat_holidays;
        const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
        const validDocDate = arr.includes(this.formAffair.document_date)
        const validAttDate = arr.includes(this.formAffair.attention_date)

        if (validDocDate) {
          notifyAlert('La fecha no es valida');
          this.formAffair.document_date = ''
          return
        }
        if (validAttDate) {
          notifyAlert('La fecha no es valida');
          this.formAffair.attention_date = ''
          return
        }
      }
      if (!this.can('send-Weekend')) {
        const dateObjD = new Date(this.formAffair.document_date)
        this.formAffair.document_date = (dateObjD.getDay() === 0 || dateObjD.getDay() === 6) ? '' : this.formAffair.document_date
        const dateObjC = new Date(this.formAffair.attention_date)
        this.formAffair.attention_date = (dateObjC.getDay() === 0 || dateObjC.getDay() === 6) ? '' : this.formAffair.attention_date
        if (this.formAffair.document_date === '' || this.formAffair.attention_date === '') {
          notifyAlert('La fecha no es valida');
          return
        }
      }
      const { id } = this.$route.params;
      console.log(id, this.formAffair);
      this.$q.loading.show();
      ExternalAffairReceptionService.update({ ...this.formAffair }, id).then(() => {
        this.reload(id);
      }).catch(() => {
        notifyError();
      }).finally(() => {
        this.affairDialog = false
        this.$q.loading.hide();
      });
    },
    saveAndSend() {
      const { id } = this.$route.params;
      // console.log(id);
      ExternalAffairReceptionService.saveInputAffair(id).then(() => {
        this.reload(id);
        setTimeout(() => this.$router.push('/externalOffice'), 100);
      }).catch((err) => {
        notifyAlert(err.response.data.message);
      })
      // setTimeout(() => this.$router.push('/externalOffice'), 100);
    },
    saveDraft() {
      this.$q.loading.show();
      notifySuccess('Se guardo el Oficio correctamente en borradores');
      this.$q.loading.hide();
      this.$router.push('/draftsTrades');
    },
    save() {
      this.date = this.proxyDate
    },
    modalClean() {
      this.$store.commit('reception/reset');
    },
    setDocument(document, file) {
      document.file = file;
      this.isShowDialogFile = false;
    },
    showDialog() {
      this.isShowDialogFile = true;
    },
    showDialogFile(file) {
      this.src = `${this.$axios.defaults.baseURL}/api/files/show/pdf/${file.id}`;
      this.isFileShow = true;
    },
    submitReception() {
      this.submitting = true;
      this.$refs.receptionForm.validate().then((valid) => {
        if (valid) {
          const receptionData = { ...this.reception };
          this.$q.loading.show();
          this.$store.dispatch('reception/save', receptionData).then((res) => {
            this.$q.loading.hide();
            if (res.status === 422) {
              this.errors = res.data.errors
              this.hasErrors = true;
              this.submitting = false;
              notifyError();
            } else if (res.data.success) {
              notifySuccess()
              this.$store.commit('reception/reset');
              this.$router.push('/attention-route/create');
            } else {
              this.submitting = false;
              notifyError();
            }
          });
        } else {
          this.submitting = false;
        }
      });
    },
    receptionDraft() {
      this.submitting = true;
      this.$refs.receptionForm.validate().then((valid) => {
        if (valid) {
          const receptionData = { ...this.reception };
          this.$q.loading.show();
          this.$store.dispatch('reception/save', receptionData).then((res) => {
            this.$q.loading.hide();
            if (res.status === 422) {
              this.errors = res.data.errors
              this.hasErrors = true;
              this.submitting = false;
              notifyError();
            } else if (res.data.success) {
              notifySuccess()
              this.$store.commit('reception/reset');
              this.$router.push('/draftsTrades');
            } else {
              this.submitting = false;
              notifyError();
            }
          });
        } else {
          this.submitting = false;
        }
      });
    },
    send() {
      this.$refs.routeForm.validate().then((valid) => {
        if (valid) {
          this.$q.loading.show();
          setTimeout(() => {
            notifySuccess('Se ha enviado correctamente');
            this.$router.push('/');
            this.$q.loading.hide();
          }, 500)
        }
      });
    },
    filterResponsible(position) {
      if (position != null) {
        this.loadingResponsible = true;
        CatalogService.getResponsible(position.id).then((people) => {
          this.InitialResponsibleOptions = people;
          this.ResponsibleOptions = this.InitialResponsibleOptions;
          this.loadingResponsible = false;
        })
      }
    },
    filterPositions(unit) {
      if (unit != null) {
        this.loadingPosition = true;
        CatalogService.getPositions(unit.id).then((position) => {
          this.InitialPositionOptions = position;
          this.PositionOptions = this.InitialPositionOptions;
          this.loadingPosition = false;
        })
      }
    },
    filterUnits(entity) {
      if (entity != null) {
        this.loadingUnits = true;
        CatalogService.getUnits(entity).then((unit) => {
          this.InitialUnitsOptions = unit;
          this.UnitsOptions = this.InitialUnitsOptions;
          this.loadingUnits = false;
        })
      }
    },
    addComment(commentary) {
      this.$emit('addComment', commentary);
      if (this.commentsArray.writedComment !== '') {
        this.items.push({ comment: this.commentsArray.writedComment })
        this.commentsArray.writedComment = '';
        this.itemId += 1;
      }
    },
    addPeople(externalPeople) {
      console.log('itemsPeople length:', this.itemsPeople.length)
      if (this.itemsPeople.length === 0) {
        this.itemsPeople.push({ receiver: externalPeople });
        this.itemPeopleId += 1;
        console.log('itemsPeople length = 0')
      } else if (this.itemsPeople.length > 0) {
        for (let j = 0; j <= this.itemsPeople.length; j += 1) {
          if (externalPeople === this.itemsPeople[j]) {
            this.itemCount += 1;
          }
        }
        if (this.itemCount > 0) {
          notifyError('Destinatario duplicado')
        } else {
          this.itemsPeople.push({ receiver: externalPeople });
          this.itemPeopleId += 1;
        }
      }
    },
    addPeopleCCP(externalPeopleCCP) {
      this.itemsPeople.push({ receiver: externalPeopleCCP });
      this.itemPeopleId += 1;
    },
    addParticipation(externalPeopleParticipation) {
      this.itemsParticipations.push({ participation: externalPeopleParticipation })
      this.itemParticipationId += 1;
    },
    deletePeople(deletePeople) {
      const index = this.itemsPeople.findIndex((x) => x.receiver === deletePeople);
      console.log(deletePeople)
      this.itemsPeople.splice(index, 1)
    },
    deleteParticipation(deleteParticipation) {
      const index = this.itemsParticipations.findIndex((x) => x.participation === deleteParticipation);
      console.log(deleteParticipation)
      this.itemsParticipations.splice(index, 1)
    },
    reload(id) {
      const pos = parseInt(window.sessionStorage.getItem('position_id'), 10)
      const usrId = parseInt(window.sessionStorage.getItem('from_user_id'), 10)
      ExternalAffairReceptionService.edit(`${id}_${usrId}_${pos}`).then((data) => {
        this.form = data;
        notifySuccess();
      }).catch(() => {
        notifyError();
      });
    },
    render(id) {
      /* UploadFileService.showFile(id, type).then((file) => {
        this.src = window.URL.createObjectURL(new Blob([file.data]));
        this.officeDialog = true;
      }).catch((err) => {
        console.log(err)
      }) */
      ExternalAffairReceptionService.OriginalFile(id).then((res) => {
        console.log(res);
        const fileId = res.annexes.id
        const annexed = res.annexes.annexedType
        if (fileId === null) {
          notifyAlert('No se ha adjuntado documento original');
        } else {
          this.src = `${this.$axios.defaults.baseURL}/api/attached-files/show/${fileId}/${annexed}`;
          this.officeDialog = true;
        }
      }).catch((err) => {
        notifyAlert(err.response.data.message);
      })
    },
    reject() {
      this.rejecTurnDialog = true
    },
    backTurn() {
      this.$q.loading.show();
      const form = { status_id: 3 };
      TurnService.update(form, this.form.turn.id).then(() => {
        notifySuccess()
        this.$router.back()
        this.$q.loading.hide();
      }).catch(() => {
        this.$q.loading.hide();
      })
    },
    accept() {
      this.$q.loading.show();
      const { id } = this.$route.params;
      const form = { status_id: 4 };
      TurnService.update(form, this.form.turn.id).then(() => {
        notifySuccess()
        this.reload(id)
        // window.location.reload()
        this.$q.loading.hide();
      }).catch(() => {
        this.$q.loading.hide();
      })
    },
    goToReply(affairReplyId) {
      this.$router.push(`/output-affair/${affairReplyId}/edit`);
    },
    sumAttached(n) {
      this.num_attached = n;
    },
  },
}
</script>

<style lang="sass" scoped>
.document-card
  width: 100%
  max-width: 130px
</style>
