<template>
  <div class="q-gutter-md">
    <q-card>
      <q-card-section align="center">
        <div class="row">
          <div class="col-11 text-h6">
            <q-icon size="sm" name="far fa-envelope"/> Oficialia de Partes
          </div>
        </div>
      </q-card-section>
    </q-card>
    <Reception/>
  </div>
</template>

<script>

import Reception from './Table';

export default {
  components: {
    Reception,
  },
  data() {
    return {
      id: '',
    }
  },

  methods: {
  }
}
</script>
