<template>
  <div style="width:100%;height:100vh;">
    <q-card class="row q-mb-md justify-between">
      <q-card-actions>
        <q-btn flat @click="$router.push('/outbox')" icon="arrow_back" color="primary">
          <q-tooltip>Regresar</q-tooltip>
        </q-btn>
      </q-card-actions>
      <q-card-actions>
        <q-btn v-if="can('document-attach')" flat @click="docDialog = true" icon="attach_file" color="primary">
          <q-badge v-if="num_attached!==0" color="red" text-color="white" floating>{{ num_attached }}
            </q-badge>
          <q-tooltip>Archivos adjuntos</q-tooltip>
        </q-btn>
        <q-btn v-if="can('document-collaborate')" flat @click="convertCollabora" icon="groups" color="primary">
          <q-tooltip>Documento Colaborativo</q-tooltip>
        </q-btn>
        <q-btn v-if="can('document-sign') && form2.token.isOwner && form2.token.isSender" flat @click="selectFolio()" icon="send" color="primary">
          <q-tooltip>Firmar y enviar</q-tooltip>
        </q-btn>
        <q-btn v-if="can('document-sign')  && form2.token.isOwner && !form2.token.isSender" flat @click="backSender()" icon="subdirectory_arrow_left" color="primary">
          <q-tooltip>Mandar al remitente</q-tooltip>
        </q-btn>
      </q-card-actions>
      </q-card>
      <q-card class="column full-height" >
        <iframe title="collabora" id="collabora-online-viewer" name="collabora-online-viewer" style="width:100%;height:100%;position:absolute;">
        </iframe>
      </q-card>
      <div style="display: none">
        <form enctype="multipart/form-data" method="post" target="collabora-online-viewer" id="collabora-submit-form">
          <input name="access_token" type="hidden" id="access-token"/>
          <input type="submit" value="" />
        </form>
      </div>
      <q-card-actions align="right">
        <q-btn flat label="Reiniciar" @click="$router.push('/collabora/reload')" color="primary" v-close-popup />
      </q-card-actions>
    <q-dialog v-model="docDialog" >
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="row items-center">
          <q-icon name="attach_file" color="primary" :size="'lg'"/>
          <span class="q-ml-md text-h6">Archivos adjuntos</span>
          <q-space />
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
        </q-card-section>
        <q-separator />
        <DocumentCard :affairStatusId="1" :numAttached="num_attached" v-on:sum-attached="sumAttached"/>
      </q-card>
    </q-dialog>
    <q-dialog v-model="folioSelectDialog" persistent>
      <q-card style="width: 1000px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="fas fa-file-signature"/> Seleccione tipo de folio
          </div>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <q-card flat>
            <q-card-section style="height: 60vh" horizontal>
              <q-card-section style="width: 30%">
                <q-radio v-model="folioSelected" val="consecutive" label="Folio consecutivo"/><br/>
                <q-radio v-model="folioSelected" val="reserved" label="Folio reservado"/><br/>
              </q-card-section>
              <q-separator vertical inset/>
              <q-card-section style="width: 70%" class="scroll">
                <div v-if="folioSelected === 'consecutive'" class="text-h6">
                  Consecutivo de la {{ this.unit }}: {{ this.consecutive }}
                </div>
                <q-table
                  v-if="folioSelected === 'reserved'"
                  title="Consecutivos disponibles"
                  :data="dataConsecutives"
                  :columns="columns"
                  row-key="consecutive"
                  separator="vertical"
                  :pagination.sync="paginationConsecutive"
                  :loading="loadingConsecutive"
                  @request="onRequestconsecutive"
                  selection="single"
                  :selected.sync="selectedConsecutive"
                >
                  <template v-slot:no-data="{ }">
                    <div class="full-width row flex-center q-gutter-sm">
                      <q-icon size="2em" name="sentiment_dissatisfied" />
                      <span>
                        No hay consecutivos reservados
                      </span>
                    </div>
                  </template>
                </q-table>
                <q-table
                  v-if="folioSelected === 'bis'"
                  title="Seleccione folio a relacionar"
                  :data="dataBis"
                  :columns="columnsBis"
                  row-key="folio"
                  separator="vertical"
                  :pagination.sync="paginationBis"
                  :loading="loading"
                  @request="onRequestbis"
                  :filter="search"
                  selection="single"
                  :selected.sync="selectedToBis"
                >
                  <template v-slot:no-data="{ }">
                    <div class="full-width row flex-center q-gutter-sm">
                      <q-icon size="2em" name="sentiment_dissatisfied" />
                      <span>
                        No hay documento para realizar un bis
                      </span>
                    </div>
                  </template>
                </q-table>
              </q-card-section>
            </q-card-section>
          </q-card>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="black" v-close-popup />
          <q-btn flat @click="saveFolio()" label="Aceptar" color="black" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="Dialogsignature">
      <q-card>
        <q-card-section class="row items-center">
          <template>
            <div>
              <div class="text-h6">
                <q-icon size="sm" color="primary" name="fas fa-file-signature"/> Ingresar datos para realizar firma electrónica - eFirma
              </div>
              <br/>
              <div class="row q-col-gutter-md">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <q-file
                    v-model="cerFile.files[0]"
                    :rules="[val => !!val || 'Este campo es requerido']"
                    label="Certificado (cer)"
                    outlined
                    accept=".cer"
                    @input="checkCer"
                  >
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>
                  </q-file>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <q-file
                  v-model="keyFile.files[0]"
                  :rules="[val => !!val || 'Este campo es requerido']"
                  label="Clave privada (key)"
                  outlined
                  accept=".key"
                  >
                    <template v-slot:prepend>
                      <q-icon name="attach_file" />
                    </template>
                  </q-file>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <q-input v-model="passwordPrivateKey" outlined :type="isPwd ? 'password' : 'text'">
                    <template v-slot:append>
                      <q-icon
                        :name="isPwd ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        @click="isPwd = !isPwd"
                      />
                    </template>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <q-input v-model="rfc" disable :rules="[val => !!val || 'Este campo es requerido']" square outlined label="RFC"/>
                </div>
              </div>
            </div>
          </template>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="No firmar" @click="noFirmar()" color="primary" />
          <!-- <q-btn flat label="Cancelar" color="primary" v-close-popup/>
          <q-btn @click="signProcess()" label="Aceptar" color="green" /> -->
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>

import * as DataService from 'src/services/TokenService';
// import * as ChecksignService from 'src/services/ChecksignService';
import { notifySuccess, notifyError, notifyAlert } from 'src/utils/notify';
import * as OutputAffairService from 'src/services/OutputAffairService';
import * as FolioService from 'src/services/FolioService'
import * as AttachedFileService from 'src/services/AttachedFileService';
import DocumentCard from 'src/components/internalAffair/partials/DocumentCard.vue';

// const Blowfish = require('egoroof-blowfish');

export default {
  components: {
    DocumentCard,
  },
  data() {
    return {
      num_attached: 0,
      form: {
        scheduled_date: '',
      },
      form2: {
        token: ''
      },
      formFolio: {
        type: '',
        bisId: '',
        reservedId: '',
        folioConsecutiveId: '',
        folio: '',
      },
      docDialog: false,
      dialogscheduleShipment: false,
      folioSelectDialog: false,
      Dialogsignature: false,
      folioSelected: 'consecutive',
      cerFile: {
        files: []
      },
      keyFile: {
        files: []
      },
      passwordPrivateKey: '',
      rfc: '',
      isPwd: true,
      checksignKey: [],
      serial: '',
      folioStructure: '',
      consecutive: '',
      unit: '',
      selectedConsecutive: [],
      selectedToBis: [],
      dataConsecutives: [],
      dataBis: [],
      paginationConsecutive: {
        page: 1,
        rowsPerPage: 4,
        rowsNumber: ''
      },
      loadingConsecutive: false,
      paginationBis: {
        page: 1,
        rowsPerPage: 4,
        rowsNumber: ''
      },
      search: '',
      loadingBis: false,
      separator: 'vertical',
      columns: [
        {
          name: 'consecutive', align: 'center', label: 'Consecutivo', field: 'consecutive'
        },
        {
          name: 'status', align: 'center', label: 'Estatus', field: 'status'
        },
        {
          name: 'reserved_date', align: 'center', label: 'Fecha de reservación', field: 'reserved_date'
        },
      ],
      columnsBis: [
        { name: 'folio', align: 'center', label: 'Folio', field: 'folio', sortable: true },
        { name: 'date', align: 'center', label: 'Fecha', field: 'date', sortable: true },

      ],
      unitAcronym: '',
      entityAcronym: '',
    }
  },
  methods: {
    convertCollabora() {
      const { id } = this.$route.params;
      OutputAffairService.update({ affair_status_id: 2 }, id).then(() => {
        notifySuccess('Documento Colaborativo');
        // this.$router.push(`/collabora-output-affair/${id}/edit`);
        this.$router.push(`/collabora/${id}/edit`);
      }).catch((err) => {
        console.log(err)
        notifyAlert('No se pudo iniciar la colaboración');
      })
    },
    selectFolio() {
      this.$q.loading.show();
      FolioService.getConsecutive().then((data) => {
        this.unit = data.unit_name;
        this.formFolio.folioConsecutiveId = data.folio_consecutive_id;
        this.consecutive = data.consecutive;
        this.folioStructure = data.folio_structure;
        this.unitAcronym = data.acronym
        this.entityAcronym = data.entity
        this.onRequestconsecutive({
          pagination: this.paginationConsecutive,
          filter: undefined
        });
        this.onRequestbis({
          pagination: this.paginationBis,
          filter: undefined
        });
      }).catch((err) => {
        console.log(err)
      }).finally(() => {
        this.$q.loading.hide();
        this.folioSelectDialog = true
      })
    },
    saveFolio() {
      let folio = this.folioStructure
      folio = folio.replace('AÑO', new Date().getFullYear())
      folio = folio.replace('DEPENDENCIA', this.entityAcronym)
      folio = folio.replace('UNIDAD', this.unitAcronym)
      // console.log(folio)
      this.formFolio.type = this.folioSelected
      if (this.folioSelected === 'consecutive') {
        folio = folio.replace('CONSECUTIVO', this.consecutive)
        this.formFolio.folio = folio
        this.folioSelectDialog = false
        this.Dialogsignature = true
      } else if (this.folioSelected === 'reserved') {
        if (this.selectedConsecutive.length === 1) {
          folio = folio.replace('CONSECUTIVO', this.selectedConsecutive[0].consecutive)
          this.formFolio.folio = folio
          this.formFolio.reservedId = this.selectedConsecutive[0].id
          this.folioSelectDialog = false
          this.Dialogsignature = true
        } else {
          notifyAlert('Consecutivo no seleccionado');
        }
      } else if (this.folioSelected === 'bis') {
        if (this.selectedToBis.length === 1) {
          this.formFolio.bisId = this.selectedToBis[0].id
          this.folioSelectDialog = false
          this.Dialogsignature = true
        } else {
          notifyAlert('Consecutivo no seleccionado');
        }
      }
    },
    /* checkCer() {
      const cerData = {
        codigo: '',
        mensaje: '',
        rfc: '',
        serial: '',
      }
      // eslint-disable
      PKI.SAT.FielUtil.leeCertificado(this.cerFile, (errCode, result) => {
        console.log(errCode)
        if (errCode !== 0) {
          cerData.codigo = 400;
          cerData.mensaje = PKI.SAT.FielUtil.obtenMensajeError(errCode);
          console.log(cerData.mensaje)
          return;
        }
        cerData.codigo = 200;
        cerData.rfc = result.getRFC();
        cerData.serial = result.getSerialNumberHex();
        this.rfc = cerData.rfc
        this.serial = cerData.serial
      });
    }, */
    /* signProcess() {
      const { id } = this.$route.params
      this.$q.loading.show('Firmando y enviado el documento');
      const wn = document.getElementById('collabora-online-viewer').contentWindow;
      const message = JSON.stringify({
        MessageId: 'Action_Save',
        SendTime: Date.now(),
        Values: {
          DontTerminateEdit: true,
          DontSaveIfUnmodified: true,
          Notify: false,
          ExtendedData: '',
        }
      })
      wn.postMessage(message, '*')
      let signData = {
        codigo: '',
        mensaje: '',
        chainSigned: '',
      }
      let fielData = {
        key: this.keyFile,
        pass: this.passwordPrivateKey,
        cer: this.cerFile,
        rfc: this.rfc
      }
      ChecksignService.getChecksignKey().then((data) => {
        this.checksignKey = data;
        let idVinculo = Object.values(this.checksignKey)[1].id;
        const ek = Object.values(this.checksignKey)[1].ek;
        const time = Object.values(this.checksignKey)[1].timestamp
        const bf = new Blowfish(ek, Blowfish.MODE.ECB, Blowfish.PADDING.NULL);
        const serialEncoded = bf.encode(this.serial); // serial test
        let serialBase64 = btoa(serialEncoded);
        let cadena = `|| SEMARNAT | ${this.form2.doc_type} | ${this.formFolio.folio} `
        if (this.form2.folio_control) {
          cadena = `${cadena}| ${this.form2.folio_control} `
        }
        cadena = `${cadena}| ${this.form2.position.full_name} | ${this.form2.position.position_name} | ${fielData.rfc} | No. de paginas numPage | ${time} ||`
        PKI.SAT.FielUtil.validaFiel(fielData.key, fielData.pass, fielData.cer,function(errCode, result) {
          if(errCode != 0) {
            signData.codigo = 400;
            signData.mensaje = PKI.SAT.FielUtil.obtenMensajeError(errCode);
            notifyError(signData.mensaje)
            return;
          }

          PKI.SAT.FielUtil.firmaCadena(fielData.key, fielData.pass, cadena, function(errCode, firma) {
            if(errCode != 0) {
              signData.codigo = 400;
              signData.mensaje = PKI.SAT.FielUtil.obtenMensajeError(errCode);
              return;
            }

            signData.codigo = 200;
            signData.mensaje = "Se ha firmado correctamente";
            signData.chainSigned = firma
            let Efirma = firma
            let rfc = fielData.rfc

            ChecksignService.postChecksign({ params: { idVinculo, serialBase64, cadena, Efirma, rfc }}).then((data) => {
              notifySuccess('Documento firmado');
              const positionId = window.sessionStorage.getItem('position_id');
              InternalAffairService.update({ affair_status_id: 3, efirma: firma, cadena: cadena, url: data.checksignResponse.url_verificacion, form_folio: { ...this.formFolio }, position_id: positionId }, id).then(() => {
                notifySuccess('Asunto enviado');
                this.$q.loading.hide();
              }).catch((err) => {
                console.log(err)
                notifyError();
              })
            }).catch((err) => {
              console.log(err)
              notifyError();
            })
          }.bind(this));
        }.bind(this));
        this.Dialogsignature = false
        this.$q.loading.hide();
      }).catch((error) => {
        console.log('There was an error: ', error);
        this.$q.loading.hide();
      }).finally(() => {
        this.$router.push('/')
      });
    }, */
    noFirmar() {
      const { id } = this.$route.params
      this.$q.loading.show('Firmando y enviado el documento');
      const wn = document.getElementById('collabora-online-viewer').contentWindow;
      const message = JSON.stringify({
        MessageId: 'Action_Save',
        SendTime: Date.now(),
        Values: {
          DontTerminateEdit: true,
          DontSaveIfUnmodified: true,
          Notify: false,
          ExtendedData: '',
        }
      })
      wn.postMessage(message, '*')
      const positionId = window.sessionStorage.getItem('position_id');
      OutputAffairService.update({ affair_status_id: 3, form_folio: { ...this.formFolio }, position_id: positionId }, id).then(() => {
        notifySuccess('Asunto enviado');
        this.$q.loading.hide();
      }).catch((err) => {
        console.log(err)
        notifyError();
      })
      this.Dialogsignature = false
      this.$router.push('/')
    },
    backSender() {
      const { id } = this.$route.params;
      this.$q.loading.show();
      const positionId = window.sessionStorage.getItem('position_id');
      DataService.backSender({ position_id: positionId }, id).then(() => {
        notifySuccess();
        this.$router.push('/')
        this.$q.loading.hide();
      }).catch(() => {
        notifyError();
        this.$q.loading.hide();
      })
    },
    onRequestconsecutive(props) {
      const { page, rowsPerPage } = props.pagination
      this.loadingConsecutive = true
      FolioService.consecutiveReserved({ params: { page, rowsPerPage } }).then((pagination) => {
        this.dataConsecutives = pagination.data
        this.paginationConsecutive.rowsPerPage = pagination.per_page
        this.paginationConsecutive.page = pagination.current_page
        this.paginationConsecutive.rowsNumber = pagination.total
        this.loadingConsecutive = false
      }).catch((err) => {
        console.log(err)
        this.loadingConsecutive = false
      })
    },
    onRequestbis(props) {
      const { page, rowsPerPage } = props.pagination
      const { search } = this
      this.loadingBis = true
      FolioService.bis({ params: { page, rowsPerPage, search } }).then((pagination) => {
        this.dataBis = pagination.data
        this.paginationBis.rowsPerPage = pagination.per_page
        this.paginationBis.page = pagination.current_page
        this.paginationBis.rowsNumber = pagination.total
        this.loadingBis = false
      }).catch((err) => {
        console.log(err)
        this.loadingBis = false
      });
    },
    sumAttached(n) {
      this.num_attached = n;
    },
  },
  beforeDestroy() {
    if (this.docModified) {
      const wn = document.getElementById('collabora-online-viewer').contentWindow;
      const message = JSON.stringify({
        MessageId: 'Action_Save',
        SendTime: Date.now(),
        Values: {
          DontTerminateEdit: true,
          DontSaveIfUnmodified: true,
          Notify: false,
          ExtendedData: '',
        }
      })
      wn.postMessage(message, '*')
    }
  },
  created() {
    const { id } = this.$route.params
    this.$q.loading.show();
    DataService.getTokenOutputAffair(id).then((data) => {
      this.form2 = { ...data };
      document.getElementById('access-token').value = this.form2.token.token
      const formElem = document.getElementById('collabora-submit-form');
      formElem.action = `${data.url}WOPISrc=${process.env.COLLAB_BASE_URL}/api/wopi/files/${this.form2.token.file_id}`
      formElem.submit();
      window.addEventListener('message', (e) => {
        const dataCollab = JSON.parse(e.data)
        if (dataCollab.MessageId === 'Doc_ModifiedStatus') {
          this.docModified = dataCollab.Values.Modified
        }
      })
      this.$q.loading.hide();
    }).catch(() => {
      this.$q.loading.hide();
    });
    AttachedFileService.fileAnnexes(id).then((data) => {
      this.num_attached = data.cant
    }).catch((err) => {
      console.log(err)
    })
  },
  mounted() {

  }
}
</script>
