<template>
  <div>
    <q-card class="row q-mb-md justify-between">
      <q-card-actions>
        <q-btn flat @click="$router.back()" icon="arrow_back" color="primary">
          <q-tooltip>Regresar</q-tooltip>
        </q-btn>
        <span class="q-ml-md text-h6">Respuesta a {{ folio }} - {{ subject }}</span>
      </q-card-actions>
      <q-card-actions>
      </q-card-actions>
    </q-card>
    <q-card>
      <div class="q-pa-sm">
        <!-- <q-card-section>
          <SendTo
            :toPeople="toPeople"
            :ccpPeople="ccpPeople"
            :reply="true"
          />
          <br/>
        </q-card-section>
        <q-separator/> -->
        <q-card-section>
          <q-form ref="form" @submit.prevent="() => {}">
            <q-card-section>
              <div class="row q-col-gutter-x-sm q-col-gutter-y-lg">
              <div class="col-12 col-xs-12 col-sm-12 col-md-4">
                <q-select outlined v-model="form.cat_doc_types_id"
                          @input="filterResults($event)"
                          :options="catalogs.cat_doc_types"
                          option-value="id"
                          option-label="name"

                          emit-value
                          :rules="[(val) => !!val || 'Este campo es obligatorio']"
                          map-options
                          label="Tipo de documento"
                />
              </div>
              <div class="col-12 col-xs-12 col-sm-12 col-md-4">
                <q-select outlined v-model="form.template_id"
                          :options="this.filtertemplates"
                          option-value="id"
                          option-label="name"
                          emit-value
                          :rules="[(val) => !!val || 'Este campo es obligatorio']"
                          map-options
                          label="Plantilla de documento"
                />
              </div>
              </div>
              <div class="row q-col-gutter-sm">

                <div class="col-xs-12 col-sm-12 col-md-4">
                  <q-select outlined v-model="form.cat_priorities_id"
                    :options="catalogs.cat_priorities"
                    option-value="id"
                    option-label="name"
                    emit-value
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                    map-options
                    label="Prioridad"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <q-input outlined v-model="form.document_date" mask="date" :rules="['date']" label="Fecha del Documento">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date v-model="form.document_date" first-day-of-week="0" :options="optionsDocuments">
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Cerrar" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <q-input outlined v-model="form.commitment_date" mask="date" :rules="['date']" label="Fecha Compromiso">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date v-model="form.commitment_date" first-day-of-week="0" :options="optionsFn">
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Cerrar" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <!--  -->
                <div class="col-12">
                  <q-select
                    label="Palabras clave"
                    outlined
                    v-model="form.key_words"
                    use-input
                    use-chips
                    multiple
                    hide-dropdown-icon
                    input-debounce="0"
                    new-value-mode="add-unique"
                  />
                </div>
              </div>
              <br>
              <div class="row q-col-gutter-sm">
                <div class="col-xs-12 col-sm-12 col-12">
                  <q-input
                    v-model="form.subject"
                    outlined
                    label="Asunto"
                    maxlength="255"
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                  />
                </div>
                <!-- <div class="col-xs-12 col-sm-2 col-md-2">
                  <q-toggle
                    disable
                    v-model="form.require_response"
                    checked-icon="check"
                    color="green"
                    label="Requiere Respuesta"
                    unchecked-icon="clear"
                  />
                </div> -->
              </div>
              <br>
              <div class="col-12">
                <q-input type="textarea"
                         autogrow
                         filled
                         outlined
                         multiline={true}
                          v-model="form.observation" square  :rules="[(val) => !!val || 'Este campo es obligatorio']" label="Observación"/>
              </div>
              <br>
              <div class="row q-col-gutter-sm">
                <div class="col-xs-12 col-sm-3 col-3">
                  <q-input
                    class="mayus"
                    v-model="form.folio_control"
                    outlined
                    label="Folio/Control Interno"
                    maxlength="255"
                  />
                </div>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="text-h6">
                <q-separator spaced/>
                <q-icon size="sm" color="primary" name="far fa-comments"/> Comentarios
              </div>
              <br>
              <div class="row q-col-gutter-sm">
                <div bottom-slots class=" col-xs-12 col-sm-11 col-md-11">
                  <Comments
                    @addComment="addComment"
                    :commentary="commentsArray"
                  />
                </div>
                <div class="col-xs-12 col-sm-1 col-md-1">
                  <q-btn v-if="commentsArray.writedComment !== ''" round dense flat @click="addComment()" icon="send" />
                </div>
              </div>
              <q-list>
                <q-item
                  clickable
                  v-ripple
                  v-for="item in items"
                  :key="item.id"
                  :item="item"
                >
                  <q-item-section>
                    <q-item-label>
                      <div class="q-mt-sm q-mb-xs text-subtitle2">
                        {{ user.name }} {{ user.last_name }} {{ user.second_lastname }} / {{ user.position }}
                      </div>
                    </q-item-label>
                    <div class="q-mt-sm q-mb-xs text-subtitle1">
                      <q-chat-message
                        :text="[item.comment]"
                        avatar="~assets/img/user.png"
                        text-color="white"
                        bg-color="secondary"
                      />
                    </div>
                    <q-item-label caption>
                      Enviado: {{ day }}/{{ month }}/{{ year }}
                      a las: {{ hour }}:{{ minutes }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-section>
          </q-form>
        </q-card-section>
        <q-card-actions align="right">
          <div v-if="this.existFile">
            <q-btn @click="edit()" flat label="Editar" color="primary" />
          </div>
          <div v-else>
            <q-btn @click="sendAffair()" flat label="Siguiente" color="primary" />
          </div>
        </q-card-actions>
      </div>
    </q-card>
  </div>
</template>

<script>
const today = new Date();
import { notifySuccess, notifyAlert } from 'src/utils/notify';
import { cleanStr, enableDate, existHoliday, finalDate } from 'boot/customFunctions';
import * as ExternalAffairReceptionService from 'src/services/receipt/ExternalAffairReceptionService';
import * as OutputAffairService from 'src/services/OutputAffairService';
// import SendTo from 'src/components/global/SendTo'
// import moment from 'moment';
import Comments from './partials/Comments';

export default {
  components: { Comments, /* SendTo */ },
  data() {
    return {
      form: {
        document_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        commitment_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        cat_doc_types_id: '',
        cat_priorities_id: '',
        subject: '',
        template_id: '',
        require_response: false,
        status_id: 1,
        folio_control: '',
        observation: '',
        key_words: [],
      },
      commentsArray: {
        writedComment: '',
      },
      filtertemplates: [],
      items: [],
      itemId: 0,
      day: today.getDate(),
      month: today.getMonth(),
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      toPeople: [],
      ccpPeople: [],
      folio: '',
      existFile: false,
      subject: '',
      structure_id: '',
      reply_id: '',
    }
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    folioControlD() {
      return this.form.folio_control
    },
    subjectD() {
      return this.form.subject
    },
    observationD() {
      return this.form.observation
    },
  },
  watch: {
    folioControlD(cad) {
      this.form.folio_control = cleanStr(cad)
    },
    subjectD(cad) {
      this.form.subject = cleanStr(cad)
    },
    observationD(cad) {
      this.form.observation = cad
    },
  },
  methods: {
    filterResults(val) {
      const templates = this.catalogs.cat_templates
      this.filtertemplates = []
      this.form.template_id = null
      let key = 0
      for (let i = 0; i < templates.length; i += 1) {
        if (templates[i].cat_doc_types_id === val) {
          this.filtertemplates[key] = templates[i]
          key += 1
        }
      }
    },
    optionsDocuments(date) {
      const holidays = this.catalogs.cat_holidays;
      date = enableDate(this.user.permissions, holidays, date)
      return date !== false;
    },
    optionsFn(date) {
      const initialdate = this.form.document_date;
      const holidays = this.catalogs.cat_holidays;
      let numberHolidays = 0;
      let dias = 365;
      if (this.form.cat_priorities_id === 1) {
        numberHolidays = existHoliday(initialdate, holidays);
        dias = 6 + numberHolidays;
      }
      date = enableDate(this.user.permissions, holidays, date)
      console.log(initialdate)
      const endDay = finalDate(initialdate, dias);
      console.log(endDay)
      return date >= initialdate && date <= endDay
    },
    addComment() {
      if (this.commentsArray.writedComment !== '') {
        this.items.push({ comment: this.commentsArray.writedComment, id: this.itemId })
        this.commentsArray.writedComment = '';
        this.itemId += 1;
      }
    },
    edit() {
      this.$router.push(`/output-affair/${this.reply_id}/office`)
    },
    sendAffair() {
      const { id } = this.$route.params

      if (!this.can('send-Holiday')) {
        const holidays = this.catalogs.cat_holidays;
        const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
        const validDocDate = arr.includes(this.form.document_date.substring(0, 10).replace(/-/g, '/'))
        const validComDate = arr.includes(this.form.commitment_date.substring(0, 10).replace(/-/g, '/'))

        if (validDocDate) {
          notifyAlert('La fecha no es valida');
          this.form.document_date = ''
          return
        }
        if (validComDate) {
          notifyAlert('La fecha no es valida');
          this.form.commitment_date = ''
          return
        }
      }
      if (!this.can('send-Weekend')) {
        const dateObjD = new Date(this.form.document_date)
        this.form.document_date = (dateObjD.getDay() === 0 || dateObjD.getDay() === 6) ? '' : this.form.document_date
        const dateObjC = new Date(this.form.commitment_date)
        this.form.commitment_date = (dateObjC.getDay() === 0 || dateObjC.getDay() === 6) ? '' : this.form.commitment_date
        if (this.form.document_date === '' || this.form.commitment_date === '') {
          notifyAlert('La fecha no es valida');
          return
        }
      }

      this.$refs.form.validate().then((valid) => {
        if (valid) {
          const form = {
            ...this.form,
            comments: this.items,
            is_reply: true,
            structure_id: this.structure_id,
            origin_affair_id: id,
            position_id: window.sessionStorage.getItem('position_id'),
            to_op: true
          };
          this.$q.loading.show(); // descomentar
          // console.log(form)
          OutputAffairService.store(form).then((data) => {
            notifySuccess();
            this.$q.loading.hide();
            console.log(data);
            this.$router.push(`/output-affair/${data.affair.id}/office`);
          }).catch((err) => {
            // console.log(data);
            notifyAlert(err.response.data.message);
            this.$q.loading.hide();
          })
        }
      });
    },
  },
  created() {
    const { id } = this.$route.params
    const positionIdC = window.sessionStorage.getItem('position_id');
    const catalogsConfiguration = {
      units: true,
      position: true,
      cat_doc_types: true,
      cat_templates: true,
      cat_recep_meds: true,
      cat_priorities: true,
      cat_holidays: true,
      position_id: positionIdC,
    };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        const positionId = window.sessionStorage.getItem('position_id');
        ExternalAffairReceptionService.getReplydata({ params: { position_id: positionId } }, id).then((data) => {
          // data.to_reply.position = { id: data.to_reply.position_id }
          // this.toPeople.push(data.to_reply);

          this.folio = data.folio
          this.subject = data.affair_response.subject
          this.form.subject = data.affair_response.subject
          this.form.observation = data.affair_response.observation
          this.form.cat_doc_types_id = data.affair_response.cat_doc_type_id
          this.form.document_date = data.affair_response.document_date
          this.form.commitment_date = data.affair_response.creation_date
          console.log(this.form.document_date)
          console.log(this.form.commitment_date)
          this.reply_id = data.affair_response.id
          if (data.affair_response.template_id !== 0) {
            this.filterResults(data.affair_response.cat_doc_type_id)
            this.form.template_id = data.affair_response.template_id
          }
          if (data.file.id !== 0 || data.file.id !== undefined) {
            this.existFile = true
          } else {
            this.existFile = false
          }
          this.form.cat_priorities_id = data.cat_priorities_id
          // this.form.folio_control = data.folio_control

          this.$q.loading.hide();
        }).catch(() => {
          this.$q.loading.hide();
        });
      });
  },
}

</script>

<style lang="sass" scoped>
 .q-col-gutter-y-lg
    margin-bottom: 20px
</style>
