<template>
  <div>
    <q-table
      :data="data"
      :columns="columns"
      separator="vertical"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      :filter="search"
      :visible-columns="visibleColumns"
    >
      <template v-slot:top-left>
        <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:top-right>
        <q-btn flat round color="primary" icon="refresh" @click="onRequest({
          pagination: pagination,
          filter: undefined
        })"/>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props" style="cursor: pointer">
          <q-td key="destinatary" auto-width @click="edit(props.row.id)">
            <q-item>
              <q-item-section avatar >
                <q-avatar size="35px">
                  <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label style="font-weight: bold">{{ props.row.entity_name }}</q-item-label>
                <q-item-label>{{ props.row.position_name }}</q-item-label>
                <q-item-label caption>{{ props.row.receiver_name + " "  + props.row.last_name + " " + (props.row.second_lastname == null ? " " : props.row.second_lastname) }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-td>
          <q-td key="folio" :props="props">
            {{ props.row.folio }}
          </q-td>
          <q-td key="subject" :props="props">
            {{ props.row.subject }}
          </q-td>
          <q-td key="priority" :props="props">
            {{ props.row.priority }}
          </q-td>
          <q-td key="document_date" :props="props">
            {{ props.row.document_date }}
          </q-td>
          <q-td key="type_sender" :props="props">
            {{ props.row.type_sender }}
          </q-td>
          <q-td key="status" :props="props">
            {{ props.row.status ==='Enviado' ? props.row.status : 'Enviado' }}
          </q-td>
          <q-td key="sender" :props="props">
            {{ props.row.bussiness_name ? props.row.bussiness_name.name : 'Dependencia' }}
          </q-td>
          <q-td key="entity" :props="props">
            {{ props.row.sender_entity_id ? props.row.sender_entity_id.name : 'N/A ' }}
          </q-td>
          <q-td key="actions" :props="props">
            <q-btn-group>
              <q-btn round size="sm" color="primary" icon="info" @click="showInfo(props.row)">
                <q-tooltip>Información y archivos adjuntos</q-tooltip>
              </q-btn>
              <q-btn round size="sm"  @click="edit(props.row.id)" color="primary" icon="edit" v-if="props.row.status == 'Guardado'">
                <q-tooltip>Editar</q-tooltip>
              </q-btn>
            </q-btn-group>
          </q-td>
        </q-tr>
      </template>

      <template v-slot:no-data="{ }">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span>
            No se encontraron resultados
          </span>
        </div>
      </template>
    </q-table>

    <q-dialog v-model="infoDialog" >
      <Info :affair="affair"/>
    </q-dialog>
    <q-dialog v-model="officeDialog" full-height full-width >
      <Office :affairId="affairId"/>
    </q-dialog>
    <q-dialog v-model="chatDialog" >
      <Chat :affairId="affairId"/>
    </q-dialog>
  </div>
</template>

<script>
import * as ExternalAffairService from 'src/services/receipt/ExternalAffairReceptionService';
import Info from 'src/components/reception/partials/Info.vue';

export default {
  components: { Info },
  mounted() {
    // get initial data from server (1st page)
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
  },
  data() {
    return {
      data: [],
      loading: false,
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: ''
      },
      responsable: '',
      search: '',
      separator: 'vertical',
      visibleColumns: ['destinatary', 'folio', 'subject', 'document_date', 'type_sender', 'priority', 'sender', 'status', 'actions'],
      columns: [
        { name: 'addressee', align: 'center', label: 'Destinatario' },
        { name: 'folio', align: 'center', label: 'Folio', field: 'folio' },
        { name: 'subject', align: 'center', label: 'Asunto', field: 'subject' },
        { name: 'priority', align: 'center', label: 'Prioridad', field: 'priority' },
        { name: 'document_date', align: 'center', label: 'Fecha', field: 'document_date' },
        { name: 'type_sender', align: 'center', label: 'Tipo de Remitente', field: 'type_sender' },
        { name: 'status', align: 'center', label: 'Estatus', field: 'status' },
        { name: 'sender', align: 'center', label: 'Empresa', field: 'sender' },
        { name: 'actions', align: 'center', label: 'Acciones', field: 'id' },
      ],
      officeDialog: false,
      infoDialog: false,
      chatDialog: false,
      affairId: '',
      affairResponseid: '',
      turnDialog: false,
      actionsDialog: false,
      src: '',
      turnLog: false,
      turnLogdata: {
        affair: {},
        turns: [{ name: '',
          position_name: '',
          lastname: '',
          second_lastname: ''
        }]
      },
      annexes: [],
      folioResponse: '',
      affair: {},
      confirm: false,
      turn_id: '',
      historyDialog: false,
      affairChainId: '',
    }
  },
  methods: {
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination
      const { search } = this
      this.loading = true
      ExternalAffairService.index({ params: { page, rowsPerPage, search } }).then((pagination) => {
        this.data = pagination.data
        /* eslint no-plusplus: ["error", { "allowForLoopAfterthoughts": true }] */
        for (let i = 0; i <= this.data.length; i++) {
          if (this.data[i].bussiness_name == null) {
            this.data[i].bussiness_name = this.data[i].fullname;
            this.data[i].attentionType = 'Persona';
          } else {
            this.data[i].attentionType = 'Empresa';
          }
        }
        this.pagination.rowsPerPage = pagination.per_page
        this.pagination.page = pagination.current_page
        this.pagination.rowsNumber = pagination.total
        this.loading = false
      }).catch((err) => {
        console.log(err)
        this.loading = false
      })
    },
    showInfo(affair) {
      this.affair = affair
      this.infoDialog = true
    },
    render(id) {
      this.affairId = id
      this.officeDialog = true
    },
    renderChat(id) {
      this.affairId = id
      this.chatDialog = true
    },
    reply(id) {
      this.affairId = id
      this.$router.push(`answer-affair/${id}`);
    },
    edit(id) {
      this.affairId = id
      this.$router.push(`/reception/${id}/edit`);
    }
  },
  computed: {
    canEdit: {
      get() {
        return this.canShow('reception-edit');
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  }
}
</script>
