<template>
  <q-dialog v-model="tableCompanyDialog" full-width>
    <q-card>
      <q-table
        :rows="data"
        :columns="columns"
        separator="vertical"
      >
        <template v-slot:top-right>
          <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>
        <template v-slot:body="props">
          <q-tr :props="props" class="cursor-pointer" @click="$router.push(`/entities/${props.row.name}/view`)">
            <q-td key="name" :props="props">
              {{ props.row.name }}
            </q-td>
            <q-td key="calories" :props="props">
              {{ props.row.calories }}
            </q-td>
            <q-td key="fat" :props="props">
              {{ props.row.fat }}
            </q-td>
            <q-td key="carbs" :props="props">
              {{ props.row.carbs }}
            </q-td>
            <q-td key="protein" :props="props">
              {{ props.row.protein }}
            </q-td>
          </q-tr>
        </template>
        <template v-slot:no-data="{ }">
          <div class="full-width row flex-center q-gutter-sm">
            <q-icon size="2em" name="sentiment_dissatisfied" />
            <span>
                No se encontraron resultados
              </span>
          </div>
        </template>
      </q-table>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: 'TableCompany',
  data() {
    return {
      tableCompanyDialog: false,
      formCompany: {
        name: '',
        rfc: '',
        bussinessName: '',
        phone: '',
        email: ''
      },
      columns: [
        { name: 'name', label: 'Id', align: 'left', field: 'name', sortable: true },
        { name: 'calories', align: 'center', label: 'Entidad/Salida', field: 'calories', sortable: true },
        { name: 'fat', align: 'center', label: 'Entidad/Destino', field: 'fat', sortable: true },
        { name: 'carbs', align: 'center', label: 'Errorres', field: 'carbs' },
        { name: 'protein', align: 'center', label: 'Estatus', field: 'protein' },
      ],
      data: [
        {
          name: '1',
          calories: 'Secretará de Hacienda y Crédito Público',
          fat: 'Instituto Nacional de Estadística y Geografía',
          carbs: 0,
          protein: 'Recibido',
          sodium: 87,
        },
        {
          name: '2',
          calories: 'Secretaría de Relaciones Exteriores',
          fat: 'Secretará de Hacienda y Crédito Público',
          carbs: 3,
          protein: 'Rechazado',
          sodium: 129,
        },
        {
          name: '3',
          calories: 'Instituto Nacional de Estadística y Geografía',
          fat: 'Secretaría de Energía',
          carbs: 0,
          protein: 'Recibido',
          sodium: 337,
        },
        {
          name: '4',
          calories: 'Instituto Nacional de Migración',
          fat: 'Secretaría de Medio Ambiente',
          carbs: 0,
          protein: 'Pendiente',
          sodium: 413,
        },
        {
          name: '5',
          calories: 'Secretaría de Relaciones Exteriores',
          fat: 'Secretaría de Medio Ambiente',
          carbs: 0,
          protein: 'Pendiente',
          sodium: 327,
        },
        {
          name: '6',
          calories: 'Secretaría de Energía',
          fat: 'Instituto Nacional de Estadística y Geografía',
          carbs: 0,
          protein: 'Pendiente',
          sodium: 50,
        },
        {
          name: '7',
          calories: 'Instituto Nacional de Migración',
          fat: 'Secretará de Hacienda y Crédito Público',
          carbs: 0,
          protein: 'Recibido',
          sodium: 38,
        },
        {
          name: '8',
          calories: 'Secretaría de Relaciones Exteriores',
          fat: 'Secretaría de Energía',
          carbs: 2,
          protein: 'Fallido',
          sodium: 562,
        },
        {
          name: '9',
          calories: 'Instituto Nacional de Estadística y Geografía',
          fat: 'Secretaría de Relaciones Exteriores',
          carbs: 0,
          protein: 'Recibido',
          sodium: 326,
        },
        {
          name: '10',
          calories: 'Secretará de Hacienda y Crédito Público',
          fat: 'Secretaría de Energía',
          carbs: 1,
          protein: 'Fallido',
          sodium: 54,
        }
      ],
    }
  },
  methods: {
    changeTable(e) {
      this.tableCompanyDialog = e;
    }
  }
}
</script>
