<template>
  <q-dialog v-model="dialogInstruction" persistent>
    <q-card style="width: 700px; max-width: 80vw;">
      <q-card-section class="row items-center">
        <q-icon name="folder_open" color="primary" :size="'lg'"/>
        <span class="q-ml-md text-h6">Agregar Instrucción</span>
      </q-card-section>
      <q-separator />
      <q-card-section>
        <q-form ref="instructionForm" @submit.prevent="() => {}">
          <div class="row q-col-gutter-md">
            <div  v-if="step_id === 2" class="col-12">
              <q-select
                class="q-mb-sm"
                clearable
                outlined
                v-model="instruction.entities"
                option-value="id"
                option-label="name"
                map-options
                emit-value
                :options="catalogs.entities"
                label="Entidad"
                :rules="[$rules.required($i18n.t('requiredInput'))]"
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-select
                class="q-mb-sm"
                clearable
                outlined
                v-model="instruction.unit"
                option-value="id"
                option-label="name"
                map-options
                :options="catalogs.units"
                label="Unidad administrativa"
                @input="filterPositions"
                @clear="() => {(PositionOptions = []), (instruction.position_id = null);}"
                :rules="[$rules.required($i18n.t('requiredInput'))]"
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-select
                class="q-mb-sm"
                clearable
                :loading="loadingPosition"
                :disable="PositionOptions.length <= 0 || loadingPosition"
                outlined
                v-model="instruction.position_id"
                option-value="positions.id"
                option-label="name"
                map-options
                emit-value
                :options="PositionOptions"
                label="Puesto"
                @input="filterResponsible"
                @clear="() => {(ResponsibleOptions = []), (instruction.people_id = null);}"
                :rules="[$rules.required($i18n.t('requiredInput'))]"
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-select
                class="q-mb-sm"
                clearable
                outlined
                v-model="instruction.instruction_id"
                option-value="id"
                option-label="name"
                map-options
                emit-value
                :options="catalogs.cat_instructions"
                label="Instrucción"
                :rules="[$rules.required($i18n.t('requiredInput'))]"
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <q-select
                clear
                :loading="loadingResponsible"
                :disable="ResponsibleOptions.length <= 0 || loadingResponsible"
                class="q-mb-sm"
                clearable
                outlined
                v-model="instruction.user_id"
                option-value="id"
                option-label="full_name"
                map-options
                emit-value
                :options="ResponsibleOptions"
                label="Responsable"
                :rules="[$rules.required($i18n.t('requiredInput'))]"
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-select
                class="q-mb-sm"
                clearable
                outlined
                v-model="instruction.attention_type_id"
                option-value="id"
                option-label="name"
                map-options
                emit-value
                :options="catalogs.cat_attention_types"
                label="Tipo de atención"
                :rules="[$rules.required($i18n.t('requiredInput'))]"
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-checkbox v-model="instruction.has_privileges" label="Acceso al asunto Original" />
            </div>
          </div>
        </q-form>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="Cancelar" color="primary" @click="closeDialog()"/>
        <q-btn flat label="Agregar" color="primary" @click="newInstruction()"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import * as CatalogService from 'src/services/admin/CatalogService';

export default {
  data() {
    return {
      ResponsibleOptions: [],
      InitialResponsibleOptions: [],
      loadingResponsible: false,
      PositionOptions: [],
      InitialPositionOptions: [],
      loadingPosition: false,
      people: {
        forccp: '',
        unit: '',
        position: '',
        user: '',
        id: '',
        hover: false,
      },
    }
  },
  props: {
    step_id: Number,
    titleStep: Number,
    dialogInstruction: Boolean,
    instruction: Object
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
    },
  },
  methods: {
    filterResponsible(position) {
      if (position != null) {
        this.instruction.people_id = ''
        this.loadingResponsible = true;
        CatalogService.getResponsible(position.id).then((people) => {
          this.InitialResponsibleOptions = people;
          this.ResponsibleOptions = this.InitialResponsibleOptions;
          this.loadingResponsible = false;
        })
      }
    },
    filterPositions(unit) {
      if (unit != null) {
        this.position_id = '';
        this.loadingPosition = true;
        CatalogService.getPositions(unit.id).then((position) => {
          this.InitialPositionOptions = position;
          this.PositionOptions = this.InitialPositionOptions;
          this.loadingPosition = false;
        })
      }
    },
    closeDialog() {
      this.$emit('closeInstruction')
      delete this.instruction.id
      this.instruction.instruction_id = ''
      this.instruction.user_id = ''
      this.instruction.unit = ''
      this.instruction.people_id = ''
      this.instruction.position_id = ''
      this.instruction.attention_type_id = ''
      this.instruction.has_privileges = false
    },
    newInstruction() {
      this.submitting = true;
      this.$refs.instructionForm.validate().then((valid) => {
        if (valid) {
          this.$emit('addInstruction', this.titleStep, this.instruction)
          delete this.instruction.id
          this.instruction.instruction_id = ''
          this.instruction.user_id = ''
          this.instruction.unit = ''
          this.instruction.people_id = ''
          this.instruction.position_id = ''
          this.instruction.attention_type_id = ''
          this.instruction.has_privileges = false
        } else {
          this.submitting = false;
        }
      });
    }
  }
}
</script>
