<template>
  <q-card
    style="height: 100%; width: 20vw;"
    class="q-mr-sm"
  >
    <Instruction
      @addInstruction="addInstruction"
      @closeInstruction="closeInstruction"
      :titleStep="$vnode.key"
      :dialogInstruction="dialogInstruction"
      :instruction="instructionData"
      :step_id="column.step_type_id"
    />
    <q-card-section class="row">
      <div class="text-h6 col-5">
        {{ column.name }}
      </div>
      <div class="text-h6 col-5">
        <q-chip v-if="column.step_type_id == 2" outline square color="red" text-color="white" icon="directions">
          Externo
        </q-chip>
      </div>
      <q-btn class="col-2" icon="close" flat round dense @click="dialogDelete = true"/>
      <q-dialog v-model="dialogDelete" persistent>
        <q-card style="width: 700px; max-width: 80vw;">
          <q-card-section class="row items-center">
            <q-icon name="warning" class="text-red" :size="'lg'"/>
            <span class="q-ml-md text-h6">Eliminar paso</span>
          </q-card-section>
          <q-separator />
          <q-card-section>
            ¿Esta seguro de eliminar el paso con todas sus instrucciones?
          </q-card-section>
          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Eliminar" color="primary" @click="deleteStep()" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
      <q-separator/>
    </q-card-section>
    <q-scroll-area
      :thumb-style="thumbStyle"
      :bar-style="barStyle"
      :style="{ height: heightStep }"
      style="min-height: 100px;"
    >
      <draggable :list="column.tasks" :animation="200" ghost-class="ghost-card" group="tasks" style="min-height: 100px;">
        <q-card
          bordered
          flat
          class="q-ma-sm bg-grey-2"
          v-for="(task) in column.tasks"
          :key="task.id"
        >
          <q-card-section class="q-pr-xs">
            <div class="row q-col-gutter-sm">
              <div class="col-10 text-subtitle1">
                {{ task.instructionName }}
              </div>
              <div class="col-2">
                <q-btn class="float-right" size="sm" flat round dense color="primary" icon="more_vert">
                  <q-menu anchor="top right" self="top left">
                    <q-list style="min-width: 100px">
                      <q-item clickable v-close-popup>
                        <q-item-section @click="instructionData={ ...task }; dialogInstruction = true" >Editar</q-item-section>
                      </q-item>
                      <q-item clickable v-close-popup>
                        <q-item-section @click="deleteInstruction(task.id)">Eliminar</q-item-section>
                      </q-item>
                    </q-list>
                  </q-menu>
                </q-btn>
              </div>
              <br>
              <div class="col-9 text-right text-subtitle2">
                {{ task.username }}
              </div>
              <div class="col-3 text-center">
                <q-avatar size="30px">
                  <img src="../../../assets/img/user.png" alt="">
                </q-avatar>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </draggable>
    </q-scroll-area>
    <q-card-section>
      <div class="row q-mb-md">
        <q-btn class="absolute-center" round size="sm" @click="dialogInstruction = true"  outline color="primary" icon="fas fa-plus" />
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import draggable from 'vuedraggable';
import Instruction from './Instruction';

export default {
  props: {
    column: Object,
  },
  components: {
    draggable,
    Instruction,
  },
  data() {
    return {
      dialogDelete: false,
      dialogInstruction: false,
      instructionData: {
        instruction_id: '',
        user_id: '',
        unit: '',
        attention_type_id: '',
        has_privileges: false,
      },
      thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: '#621132',
        width: '5px',
        opacity: 0.75
      },
      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: '#621132',
        width: '9px',
        opacity: 0.2
      },
      height: '12vh'
    }
  },
  computed: {
    heightStep: {
      get() {
        const customHeight = `${(100 * this.column.tasks.length) + 23}px`
        return this.column.tasks.length > 3 ? '49vh' : customHeight
      }
    }
  },
  methods: {
    addInstruction(titleStep, instruction) {
      this.$emit('addInstruction', titleStep, instruction)
      this.dialogInstruction = false
    },
    closeInstruction() {
      this.dialogInstruction = false
    },
    deleteStep() {
      this.$emit('deleteStep', this.$vnode.key)
    },
    deleteInstruction(id) {
      this.$emit('deleteInstruction', this.$vnode.key, id)
    }
  },
}
</script>
