<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-btn
          flat
          round
          color="primary"
          icon="fas fa-arrow-left"
          @click="$router.back()"
        >
          <q-tooltip>Volver</q-tooltip>
        </q-btn>
          <q-icon size="sm" name="fas fa-briefcase"/> Puestos
          <q-btn v-if="canShow('positions-create')" class="float-right" round size="sm" @click="$router.push('/positions/create')"  outline color="primary" icon="fas fa-plus"/>
        </div>
      </q-card-section>
    </q-card>
    <Positions />
  </div>
</template>

<script>

import Positions from './Table';

export default {
  components: {
    Positions
  },
  data() {
    return {
      editDialog: false,
    };
  },
  methods: {
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    users: {
      get() {
        return this.$store.state.user.users;
      },
    },
  },
};
</script>
