<template>
  <q-card>
    <q-item>
      <q-btn
        flat
        round
        color="primary"
        icon="fas fa-arrow-left"
        @click="$router.back()"
      >
        <q-tooltip>Volver</q-tooltip>
      </q-btn>
      <q-item-section avatar>
        <q-icon size="md" name="fas fa-list-ul"/>
      </q-item-section>
      <q-item-section>
        <q-item-label>Editar dirección collabora</q-item-label>
        <q-item-label caption>
          Ingrese los siguientes valores
        </q-item-label>
      </q-item-section>
    </q-item>
    <q-separator/>
    <div class="q-pa-sm">
      <q-card-section>
        <div class="row q-col-gutter-sm">
          <div class="col-xs-12 col-sm-8 col-md-4">
            <q-input outlined v-model="direction" label="Dirección IP" />
          </div>
          <div class="col-xs-12 col-sm-8 col-md-4">
            <q-input outlined v-model="token" label="API Token" />
          </div>
          <div class="col-xs-12 col-sm-8 col-md-4">
            <q-input outlined v-model="apiUrl" label="API URL" />
          </div>
        </div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
        <q-btn v-if="can('collaboraToken-edit')" flat @click="update()" label="Guardar" color="primary" />
      </q-card-actions>
      <Available/>
    </div>
  </q-card>
</template>

<script>
import * as CollaboraService from 'src/services/admin/catalogs/CollabService';
import Available from 'src/components/centralapi/partials/Available';
import { notifySuccess, notifyError } from 'src/utils/notify'

export default {
  components: { Available },
  data() {
    return {
      direction: '',
      token: '',
      apiUrl: '',
    };
  },
  methods: {
    update() {
      this.$q.loading.show();
      CollaboraService.update({ direction: this.direction, token: this.token, api_url: this.apiUrl }, 1).then(() => {
        notifySuccess('Se ha actualizado la entidad correctamente');
        this.$q.loading.hide();
        this.$router.back()
      }).catch((err) => {
        this.$q.loading.hide();
        notifyError(err)
      })
    },
  },
  created() {
    this.$q.loading.show();
    CollaboraService.edit(1).then((data) => {
      this.direction = data.direction;
      this.token = data.token;
      this.apiUrl = data.api_url;
      this.$q.loading.hide();
    }).catch(() => {
      this.$q.loading.hide();
    })
  },
};
</script>
