<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-icon size="sm" name="fas fa-book-open"/> Catálogos
        </div>
      </q-card-section>
    </q-card>
    <br>
    <div class="row q-col-gutter-sm">

      <div v-if="can('dependency-view')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white">
            <q-item clickable v-ripple  @click.native="$router.push('/admin/settings').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="far fa-building" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Dependencia</div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div v-if="can('units-view')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white"  >
            <q-item clickable v-ripple  @click.native="$router.push('/admin/cat/units').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-project-diagram"  style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Unidades Administrativas</div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div v-if="can('documentType-view')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple   @click.native="$router.push('/admin/cat/documents').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="far fa-list-alt" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Tipos de Documento </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div v-if="can('documentType-view')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple   @click.native="$router.push('/admin/cat/templates').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-clipboard-list" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1"> Plantillas de documento </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

       <div v-if="can('rejectReason-view')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple  @click.native="$router.push('/admin/cat/rejectionReasons').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-times-circle" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Razones de Rechazo </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <!-- <div v-if="can('attentionRute-view')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple  @click.native="$router.push('/attention-route').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-route" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Ruta de Atención </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div> -->

      <div v-if="can('holiday-view')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple  @click.native="$router.push('/admin/cat/holidays').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="far fa-calendar-alt" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Días Festivos </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div v-if="can('instruction-view')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple  @click.native="$router.push('/admin/cat/instructions').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-clipboard-list" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Instrucciones </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div v-if="can('foliosStructure-view')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white">
            <q-item clickable v-ripple  @click.native="$router.push('/admin/cat/folioStructure').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-text-width" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Estructura de folios </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <!-- <div class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple  @click.native="$router.push('/admin/cat/subjectTypes').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-bookmark" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Tipos de Asunto </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div> -->

      <div class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple  @click.native="$router.push('/adminInterface/catalogs/collabora-direction').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-list-ul" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">URL Collabora / API Token </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple  @click.native="$router.push('/admin/cat/external/dependency').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-laptop-house" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Dependencia Externa </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

       <div class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple  @click.native="$router.push('/admin/cat/external/units').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-laptop-house" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Unidades de Dependencias Externas </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple  @click.native="$router.push('/admin/cat/external/people').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-house-user" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Persona Física </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple  @click.native="$router.push('/admin/cat/external/moral').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-user-friends" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Persona Moral </div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

    </div>
  </div>
</template>
