<template>
    <div>
     <q-card>
        <q-item>
          <q-btn
              flat
              round
              color="primary"
              icon="fas fa-arrow-left"
              @click="$router.back()"
            >
              <q-tooltip>Volver</q-tooltip>
            </q-btn>
          <q-item-section avatar>
              <q-icon size="md" name="far fa-folder"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Carátula de Carpeta </q-item-label>
            <q-item-label caption>
              Ingrese los siguientes campos
            </q-item-label>
          </q-item-section>
        </q-item>
      <q-separator />
     </q-card>
     <div class="q-mt-md">
         <q-form>
          <q-card style="width: 100%">
              <q-card-section>
                <div class="row q-col-gutter-sm">
                  <div class="col-xs-12 col-sm-6">
                    <q-select
                    label="Unidad administrativa"
                    outlined
                    map-options
                    emit-value
                    v-model="form.unit_id"
                    option-value="id"
                    option-label="name"
                    :options="catalogs.units"
                    />
                  </div>
                  <div class="col-xs-12 col-sm-8 col-md-6 text-center">
                    <q-select square outlined v-model="form.genArea" label="Área Generadora" :rules="[$rules.required($t('requiredInput'))]"/>
                  </div>
                </div>
              </q-card-section>
             <q-item>
                <q-item-section>
                    <q-item-label align="center">Código de Clasificación</q-item-label>
                </q-item-section>
            </q-item>
            <q-separator />
            <q-card-section>
              <div class="row q-col-gutter-sm">
                <div class="col-xs-12 col-sm-8 col-md-1 text-center">
                  <q-input square outlined disable v-model="user.entity" label="Fondo"/>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-2 text-center">
                  <q-input v-model="form.subfondo" square outlined label="Subfondo (UA)" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-2 text-center">
                  <q-select v-model="form.section" square outlined label="Sección" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-2 text-center">
                  <q-select v-model="form.section" square outlined label="Serie" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-2 text-center">
                  <q-select v-model="form.subsection" square outlined label="Subserie" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-2 text-center">
                  <q-input v-model="form.file" square outlined label="Expediente" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-1 text-center">
                  <q-input v-model="form.fiscalyear" square outlined label="Año Fiscal" />
                </div>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="row q-col-gutter-sm">
                <div class="col-xs-12 col-sm-8 col-md-12 text-center">
                  <q-input v-model="form.fileName" square outlined label="Nombre del Expediente" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 text-center">
                  <q-input v-model="form.uselfulSheets" square outlined label="Hojas útiles" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 text-center">
                  <q-input v-model="form.numberFiles" square outlined label="Número de legajos" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 text-center">
                  <q-input v-model="form.openingDate" square outlined label="Fecha de apertural" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 text-center">
                  <q-input v-model="form.closingDate" square outlined label="Fecha cierre" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 text-center">
                  <q-input v-model="form.documentaryValue1" square outlined label="Valor documental" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 text-center">
                  <q-input v-model="form.documentaryValue2" square outlined label="Valor documental" />
                </div>
              </div>
            </q-card-section>
            <q-card-section>
              <div class="row q-col-gutter-sm">
                <div class="col-xs-12 col-sm-8 col-md-6 text-center">
                  <q-select v-model="form.infoCha" square outlined label="Caracter de la información" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-6 text-center">
                  <q-input v-model="form.classiDate" square outlined label="Fecha de clasificación" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-12 text-center">
                  <q-input v-model="form.legalBasis" square outlined label="Fundamento legal" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-3 text-center">
                  <q-input v-model="form.bookingPeriod" square outlined label="Periodo de reserva" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-3 text-center">
                  <q-select v-model="form.reservExtension" square outlined label="Ampliación del periodo de reserva" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-3 text-center">
                  <q-input v-model="form.declassiDate" square outlined label="Fecha de desclasificación" />
                </div>
                <div class="col-xs-12 col-sm-8 col-md-3 text-center">
                  <q-select v-model="form.yearsNumber" square outlined label="Número de años" />
                </div>
              </div>
            </q-card-section>
            <q-card-actions align="right">
              <q-btn flat @click="$router.back()" label="Cancelar" color="primary" />
              <q-btn v-if="can('dependency-edit')" flat @click="update()" label="Guardar" color="primary"/>
            </q-card-actions>
          </q-card>
         </q-form>
     </div>
    </div>
</template>

<script>

export default {
  data() {
    return {
      form: {
        name: '',
        unit_id: '',
        genArea: '',
        entity: 'CF',
        subfondo: '',
        section: '',
        subsection: '',
        fiscalyear: '',
        fileName: '',
        uselfulSheets: '',
        numberFiles: '',
        openingDate: '',
        closingDate: '',
        documentaryValue1: '',
        documentaryValue2: '',
        infoCha: '',
        classiDate: '',
        legalBasis: '',
        bookingPeriod: '',
        reservExtension: '',
        declassiDate: '',
        yearsNumber: '',
      },
    };
  },
  created() {
    const catalogsConfiguration = { units: true };
    this.$q.loading.show();
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      this.$q.loading.hide();
    });
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  }
};
</script>
