<template>
  <q-card class="q-pa-md">
    <q-card-section>
      <div class="text-h6 text-center">Cambiar contraseña del perfil</div>
    </q-card-section>

    <q-card-section align="center">
      <q-form ref="form" @submit.prevent="() => {}">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <q-input
            outlined
            :type="isPwd ? 'password' : 'text'"
            label="Contraseña"
            :rules="[(val) => !!val || 'Este campo es requerido']"
            v-model="form.password"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
        </div>
      </q-form>
    </q-card-section>

    <q-card-actions align="center">
      <q-btn flat label="Cancelar" color="primary" v-close-popup />
      <q-btn
        flat
        label="Guardar"
        color="primary"
        @click="update(user.user_id)"
        v-close-popup
      />
    </q-card-actions>
  </q-card>
</template>

<script>
import { notifySuccess } from 'src/utils/notify';
import * as UserService from 'src/services/admin/UserService';

export default {
  data() {
    return {
      form: {
        password: '',
      },
      isPwd: true,
      editPassword: false,
    };
  },
  props: {
    editPasswordDialog: Boolean
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val);
      },
    },
    config: {
      get() {
        return this.$store.state.config;
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      },
    },
    user: {
      get() {
        return this.$store.state.user.information;
      },
    },
  },
  created() {
    const catalogsConfiguration = {
      users: true,
      people: true,
      cat_doc_types: true,
      cat_recep_meds: true,
      cat_priorities: true,
      cat_to_docs: true,
    };
    this.$store.commit('reception/reset');
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
  },
  beforeCreate() {
    this.$urlActual = '/profile';
    console.log('urlActual', this.$urlActual);
    this.$store.commit('reception/reset');
    this.active = this.$urlActual;
    console.log('active: ', this.active);
  },
  methods: {
    update(id) {
      const form = { ...this.form };
      UserService.update(form, id)
        .then(() => {
          notifySuccess('Contraseña actualizada correctamente');
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>
