<template>
  <div>
    <q-table
      :data="data"
      :columns="columns"
      separator="vertical"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      :filter="search"
      :visible-columns="visibleColumns"
    >
      <template v-slot:top-left>
        <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
       <template v-slot:top-right>
        <q-btn flat round color="primary" icon="refresh" @click="onRequest({
          pagination: pagination,
          filter: undefined
        })"/>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="position_name" :props="props">
            {{ props.row.position_name }}
          </q-td>
          <q-td key="entitie_name" :props="props">
            {{ props.row.entitie_name }}
          </q-td>
          <q-td key="position_start_date" :props="props" >
            {{ props.row.position_start_date }}
          </q-td>
          <q-td key="position_end_date" :props="props">
            {{ props.row.position_end_date == null ? "En curso" : props.row.position_end_date }}
          </q-td>
          <q-td key="status" :props="props">
            {{ props.row.status == true ? "Activo" :  "Inactivo"}}
          </q-td>
        </q-tr>
      </template>
      <template v-slot:no-data="{ }">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span>
            No se encontraron resultados
          </span>
        </div>
      </template>
    </q-table>
  </div>
</template>

<script>
// import * as StructureService from 'src/services/StructureService';
import * as PeopleService from 'src/services/PeopleService';

export default {
  mounted() {
    // get initial data from server (1st page)
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
    PeopleService.getPeopleAuth().then((response) => {
      this.userData = response.people
      console.log(this.data)
    }).catch((err) => {
      console.log(err)
    })
  },
  data() {
    return {
      userHistoryData: [],
      userData: [],
      data: [],
      loading: false,
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: ''
      },
      responsable: '',
      search: '',
      separator: 'vertical',
      visibleColumns: ['position_name', 'entitie_name', 'position_start_date', 'position_end_date', 'status'],
      columns: [
        { name: 'addressee', align: 'center', label: 'Destinatario', field: 'addressee' },
        { name: 'position_name', align: 'center', label: 'Puesto', field: 'position_name' },
        { name: 'entitie_name', align: 'center', label: 'Dependencia', field: 'entitie_name' },
        { name: 'position_start_date', align: 'center', label: 'Fecha de inicio', field: 'position_start_date' },
        { name: 'position_end_date', align: 'center', label: 'Fecha de finalización', field: 'position_end_date' },
        { name: 'status', align: 'center', label: 'Estatus', field: 'status' },
      ],
    }
  },
  methods: {
    // onRequest(props) {
    //   const { page, rowsPerPage } = props.pagination
    //   const { search } = this
    //   this.loading = true
    //   StructureService.getUserHistory({ params: { page, rowsPerPage, search } }).then((pagination) => {
    //     this.data = pagination.data
    //     /* eslint no-plusplus: ["error", { "allowForLoopAfterthoughts": true }] */
    //     this.pagination.rowsPerPage = pagination.per_page
    //     this.pagination.page = pagination.current_page
    //     this.pagination.rowsNumber = pagination.total
    //     this.loading = false
    //   }).catch((err) => {
    //     console.log(err)
    //     this.loading = false
    //   })
    // },
  },
  computed: {
    user: {
      get() {
        return this.$store.state.user.information;
      },
    },
  }
}
</script>
