<template>
  <div class="q-gutter-md">
    <q-card>
      <q-card-section  align="center">
        <div class="row">
          <div class="col-11 text-h6">
            <q-icon size="sm" name="send"/> Bandeja de Elaborados
          </div>
        </div>
      </q-card-section>
    </q-card>
    <Table/>
  </div>
</template>

<script>

import Table from './Table';

export default {
  components: {
    Table,
  },
  data() {
    return {

    }
  },
  beforeCreate() {
    this.$urlActual = '/outbox';
    console.log('urlActual', this.$urlActual)
  },
}
</script>
