<template>
  <div>
    <q-card>
      <q-card-section>
        <q-tabs
          v-model="tab"
          dense
          active-color="black"
          indicator-color="black"
          align="justify"
          narrow-indicator
          class="text-grey shadow-2"
        >
          <q-tab name="internal" label="Documentos Internos">
            <q-badge v-if="totalInternal != 0" color="red" floating transparent>
            {{totalInternal}}
            </q-badge>
          </q-tab>
          <q-separator vertical />
          <q-tab name="external" label="Documentos Externos" v-if="can('external-view-tables')">
            <q-badge v-if="totalExternal != 0" color="red" floating transparent>
            {{totalInternal}}
            </q-badge>
          </q-tab>
        </q-tabs>

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="internal">
            <InternalAffair />
          </q-tab-panel>

          <q-tab-panel name="external" v-if="can('external-view-tables')">
            <ExternalAffair />
          </q-tab-panel>

        </q-tab-panels>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import ExternalAffair from './partials/ExternalAffair';
import InternalAffair from './partials/InternalAffair';

export default {
  components: { InternalAffair, ExternalAffair },
  data() {
    return {
      tab: 'internal',
      totalInternal: '',
      totalExternal: '',
    }
  },
}
</script>
