<template>
    <div>
     <q-card>
         <q-card-section>
            <div class="text-h6">
              <q-btn
                flat
                round
                color="primary"
                icon="fas fa-arrow-left"
                @click="$router.back()"
              >
                <q-tooltip>Volver</q-tooltip>
              </q-btn>
                <q-icon size="sm" name="fas fa-list-ul"/> Sección y Serie
            </div>
         </q-card-section>
     </q-card>
     <div class="q-mt-md">
         <q-form>
          <q-card style="width: 100%">
            <q-item>
              <q-item-section>
                <q-item-label>Agregar Sección</q-item-label>
                <q-item-label caption>Ingrese los siguientes valores</q-item-label>
              </q-item-section>
            </q-item>
            <q-separator/>
              <q-card-section>
                <div class="row q-col-gutter-sm">
                  <div class="col-xs-12 col-sm-8 col-md-2 text-center">
                    <q-input v-model="form.nameSection" square outlined label="Codigo Sección" :rules="[$rules.required($t('requiredInput'))]"/>
                  </div>
                  <div class="col-xs-12 col-sm-8 col-md-6 text-center">
                    <q-input square outlined v-model="form.codeSection" label="Nombre Sección" :rules="[$rules.required($t('requiredInput'))]"/>
                  </div>
                </div>
              </q-card-section>
             <q-item>
                <q-item-section>
                    <q-item-label>Agregar Series</q-item-label>
                    <q-item-label caption>Ingrese los siguientes valores</q-item-label>
                </q-item-section>
                <q-btn class="float-right" round size="sm" outline color="primary" icon="fas fa-plus" >
                  <q-tooltip>Agregar</q-tooltip>
                </q-btn>
            </q-item>
            <q-separator />
            <q-card-section>
                <div class="row q-col-gutter-sm">
                  <div class="col-xs-12 col-sm-8 col-md-2 text-center">
                    <q-input v-model="form.codeSerie" square outlined label="Código Serie" />
                  </div>
                   <div class="col-xs-12 col-sm-8 col-md-6 text-center">
                    <q-input v-model="form.nameSerie" square outlined label="Descripción Serie" />
                  </div>
                </div>
              </q-card-section>
            <q-card-actions align="right">
              <q-btn flat @click="$router.back()" label="Cancelar" color="primary" />
              <q-btn v-if="can('dependency-edit')" flat @click="update()" label="Guardar" color="primary"/>
            </q-card-actions>
          </q-card>
         </q-form>
     </div>
    </div>
</template>

<script>

export default {
  data() {
    return {
      form: {
        nameSection: '',
        codeSection: '',
        nameSerie: '',
        codeSerie: '',
      },
    }
  },
}
</script>
