<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-btn
                flat
                round
                color="primary"
                icon="fas fa-arrow-left"
                @click="$router.back()"
              >
                <q-tooltip>Volver</q-tooltip>
              </q-btn>
          <q-icon size="sm" name="fas fa-list-ul"/> Sección y Serie
          <q-btn v-if="can('archive-section-create')" class="float-right" round size="sm" @click="$router.push('/archive/section/create')"  outline color="primary" icon="fas fa-plus" />
        </div>
      </q-card-section>
    </q-card>
    <TableSeries />
  </div>
</template>

<script>

import TableSeries from './Table';

export default {
  components: {
    TableSeries,
  }
}
</script>
