<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-icon class="q-mr-sm" name="fas fa-business-time"/>Ruta de atención
        </div>
      </q-card-section>
      <div class="row items-center">
        <q-dialog v-model="dialogStep" persistent>
          <q-card style="width: 700px; max-width: 80vw;">
            <q-card-section class="row items-center">
              <q-icon name="style" color="primary" flat :size="'lg'"/>
              <span class="q-ml-md text-h6">Agregar nuevo paso</span>
            </q-card-section>
            <q-separator />
            <q-card-section>
              <div class="row q-col-gutter-sm">
                <div class="col">
                  <q-input
                    v-model="newStep.name"
                    square
                    outlined
                    maxlength="25"
                    label="Nombre"
                  />
                </div>
                <div class="col">
                  <q-select
                    class="q-mb-sm"
                    outlined
                    v-model="newStep.step_type_id"
                    option-value="id"
                    option-label="name"
                    map-options
                    emit-value
                    :options="catalogs.cat_step_types"
                    label="Tipo de paso"
                    :rules="[$rules.required($i18n.t('requiredInput'))]"
                  />
                </div>
                <div v-if="!lastColumn" class="col-12">
                  <q-checkbox v-model="newStep.is_finisher" label="Paso final" />
                </div>
              </div>
            </q-card-section>
            <q-card-actions align="right">
              <q-btn flat label="Cancelar" color="primary" v-close-popup />
              <q-btn flat label="Agregar" color="primary" @click="addColumn()" v-close-popup/>
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
    </q-card>
    <div class="q-mt-md">
      <q-scroll-area
        horizontal
        :thumb-style="thumbStyle"
        :bar-style="barStyle"
        class="full-window"
      >
        <div class="row no-wrap">
          <Step
            @addInstruction="addInstruction"
            @deleteStep="deleteStep"
            @deleteInstruction="deleteInstruction"
            v-for="column in columns"
            :key="column.order"
            :column="column"
          />
          <q-card
            style="height: 100%; width: 20vw;"
            class="q-mr-sm"
          >
            <q-card-section class="q-pb-none">
              <div class="row q-mb-md">
               <div class="text-h6 col-10 text-opacity">
                Agregar paso
              </div>
                <q-btn class="absolute-rihgt" round size="sm" @click="dialogStep = true; newStep.name = `Paso ${nextIDCol}`"  outline color="primary" icon="fas fa-plus" />
              </div>
            </q-card-section>
          </q-card>
          <Step v-if="lastColumn"
            @addInstruction="addInstruction"
            @deleteStep="deleteStep"
            @deleteInstruction="deleteInstruction"
            :column="lastColumn"
          />
        </div>
      </q-scroll-area>
    </div>
    <q-card-actions align="right">
      <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
      <q-btn flat @click="send()" label="Enviar" color="primary" />
    </q-card-actions>
  </div>
</template>

<script>

import { notifySuccess } from 'src/utils/notify';
import * as AttentionService from 'src/services/AttentionRouteService';
import Step from './partials/Step'

export default {
  components: {
    Step,
  },
  created() {
    const catalogsConfiguration = {
      cat_attention_types: true,
      units: true,
      cat_instructions: true,
      cat_step_types: true,
      users: true,
      people: true,
      position: true,
    };
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
    },
  },
  data() {
    return {
      nextIDTask: 3,
      nextIDCol: 2,
      newStep: {
        name: '',
        is_finisher: false,
        step_type_id: 1,
      },
      dialogStep: false,
      dialogName: false,
      dialogDelete: false,
      columns: [
        {
          order: 1,
          name: 'Paso 1',
          is_finisher: false,
          step_type_id: 1,
          tasks: [
            {
              id: 1,
              instructionName: 'Enviar',
              username: 'Remitente'
            },
          ]
        }
      ],
      thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: '#285C4D',
        width: '5px',
        opacity: 0.75
      },
      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: '#285C4D',
        width: '9px',
        opacity: 0.2
      },
      lastColumn: {
        name: 'Paso final',
        is_finisher: false,
        step_type_id: 1,
        tasks: [
          {
            id: 2,
            instructionName: 'Responder',
            username: 'Destinatario'
          },
        ]
      }
    }
  },
  methods: {
    store() {
      AttentionService.store({ name: this.name, description: this.description, keyWords: this.keyWords, steps: this.columns }).then(() => {
        notifySuccess();
        this.$router.push('/attention-route');
      }).catch((err) => {
        console.log(err)
      })
    },
    deleteStep(id) {
      if (!id) {
        this.lastColumn = ''
      } else {
        this.columns.splice(id - 1, 1)
        this.nextIDCol -= 1
        if (this.columns.length !== id - 1) {
          for (let i = id - 1; i < this.columns.length; i += 1) {
            this.columns[i].order -= 1
          }
        }
      }
    },
    deleteInstruction(colID, id) {
      if (colID) {
        const index = this.columns[colID - 1].tasks.findIndex((x) => x.id === id);
        this.columns[colID - 1].tasks.splice(index, 1)
      } else {
        const index = this.lastColumn.tasks.findIndex((x) => x.id === id);
        this.lastColumn.tasks.splice(index, 1)
      }
    },
    addColumn() {
      if (this.newStep.is_finisher) {
        this.lastColumn = { ...this.newStep, tasks: [] }
      } else {
        this.columns.push({ order: this.nextIDCol, ...this.newStep, tasks: [] })
        this.nextIDCol += 1
      }
      this.newStep.is_finisher = false
      this.newStep.name = ''
      this.newStep.step_type_id = 1
    },
    addInstruction(titleStep, instruction) {
      if (!titleStep) {
        if (instruction.id) {
          const index = this.lastColumn.tasks.findIndex((x) => x.id === instruction.id);
          this.lastColumn.tasks[index] = { ...instruction }
          this.lastColumn.tasks[index].instructionName = this.catalogs.cat_instructions[instruction.instruction_id - 1].name
          this.lastColumn.tasks[index].username = this.catalogs.users[instruction.user_id - 1].username
        } else {
          this.lastColumn.tasks.push(
            {
              ...instruction,
              id: this.nextIDTask,
              instructionName: this.catalogs.cat_instructions[instruction.instruction_id - 1].name,
              username: this.catalogs.users[instruction.user_id - 1].username,
            }
          )
          this.nextIDTask += 1
        }
      } else {
        console.log('check')
        if (instruction.id) {
          const index = this.columns[titleStep - 1].tasks.findIndex((x) => x.id === instruction.id);
          this.columns[titleStep - 1].tasks[index] = { ...instruction }
          this.columns[titleStep - 1].tasks[index].instructionName = this.catalogs.cat_instructions[instruction.instruction_id - 1].name
          this.columns[titleStep - 1].tasks[index].username = this.catalogs.users[instruction.user_id - 1].username
        } else {
          this.columns[titleStep - 1].tasks.push(
            {
              ...instruction,
              id: this.nextIDTask,
              instructionName: this.catalogs.cat_instructions[instruction.instruction_id - 1].name,
              username: this.catalogs.users[instruction.user_id - 1].username,
            }
          )
          this.nextIDTask += 1
        }
      }
    },
    send() {
      this.$refs.routeForm.validate().then((valid) => {
        if (valid) {
          this.$q.loading.show();
          setTimeout(() => {
            notifySuccess('Se ha enviado correctamente');
            this.$router.push('/');
            this.$q.loading.hide();
          }, 500)
        }
      });
    }
  }
}
</script>

<style scoped>
.ghost-card {
  opacity: 0.5;
  background: #F7FAFC;
  border: 1px solid #4299e1;
}
.text-opacity {
  opacity: 0.5;
}
.full-window {
  height: 67vh;
  width: 100%;
}
</style>
