<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-icon size="sm" name="fas fa-route"/> Ruta de atención
          <q-btn class="float-right" round size="sm" @click="$router.push('/attention-route/create')"  outline color="primary" icon="fas fa-plus" />
        </div>
      </q-card-section>
    </q-card>
    <AttentionRoute />
  </div>
</template>

<script>

import AttentionRoute from './Table';

export default {
  components: {
    AttentionRoute,
  }
}
</script>
