<template>
  <div class="q-gutter-md">
     <q-card>
        <q-card-section  align="center">
          <div class="text-h6"  >
              <q-icon size="sm" name="far fa-calendar-alt"/> Agenda
          </div>
        </q-card-section>
     </q-card>
    <q-card>
      <div class="row q-col-gutter-sm">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <q-toolbar class="bg-secondary text-white q-my-md shadow-2">
          <q-btn-group flat class="col-3">
            <q-btn color="white" flat label="Anterior" @click="calendarPrev" />
            <q-btn color="white" flat label="Siguiente" @click="calendarNext" />
          </q-btn-group>
          <q-card-section class="col-xs-12 col-sm-12 col-md-9 text-subtitle2" style="text-align: right;" >
            FECHA DE HOY: {{ day }} / {{ month }} / {{ year }}
          </q-card-section>
          </q-toolbar>
          <q-separator />
          <div>
            <q-calendar
              ref="calendar"
              v-model="selectedDate"
              view="month"
              locale="es"
              animated
              show-work-weeks
              short-weekday-label
              short-month-label
              @click:day2="onClickDay"
            >
              <template #day="{ timestamp }">
                <template v-for="(event, slope) in getDaysDocuments(timestamp.date)">
                  <q-badge
                    :key="slope"
                    style="width: 100%; cursor: pointer; height: 16px; max-height: 16px"
                    :color="event.colorRemaining"
                    :label="event.folio"
                  >
                  </q-badge>
                </template>
              </template>
            </q-calendar>
          </div>
        </div>
        <div class="events col-4 q-pa-xs full-height column justify-start items-start">
          <q-item-section class="full-width bg-blue-grey-4">
            <div class="text-subtitle2" align="center" >
              <q-item-label>Detalle del día</q-item-label>
              <q-item-label class="my-text-caption">Documentos Pendientes</q-item-label>
              <div id="displayOtherDate"></div>
              <div id="displayMoment"></div>
            </div>
          </q-item-section>
          <q-separator />
          <div class="scroll overflow-auto" style="height: 450px; width: 100%;">
            <div v-if="events.length > 0">
              <div v-for="(event, documets) in events" :key="documets" class="col-12 row" style="font-size: 15px; line-height: 20px; min-height: 25px; padding: 5px 2px; white-space: nowrap;">
                <q-card class="col-12 bg-blue-grey-2">
                <div class="col-12 text-h6">
                  <q-icon size="sm" name="far fa-file-alt"/> Folio: {{ event.folio }}
                </div>
                <div class="col-12 text-subtitle2">
                  Fecha compromiso: {{ event.commitmentDate }}
                </div>
                <div class="col-12 text-subtitle2">
                  Fecha de envio: {{ event.oficeDateSend }}
                </div>
                <div class="col-12 text-subtitle1">
                  Remitente: {{ event.sender}}
                </div>
                <!-- <div class="col-12 text-subtitle1" v-if="event.receiver != null">
                  Destinatario: {{ event.receiver}}
                </div> -->
                <div class="col-12 text-subtitle1">
                  Estatus: {{ event.status}}
                </div>
              </q-card>
              </div>
            </div>
            <div v-if="events.length == 0">
              <q-card>
              <div class="text-h6">
                <q-icon size="sm" name="far fa-calendar-check"/>No hay oficios pendientes este día </div>
              </q-card>
            </div>
          </div>
        </div>
      </div>
    </q-card>
  </div>
</template>

<script>

const today = new Date();
const months = ['ENERO', 'FEBRERO', 'MARZO', 'ABRIL', 'MAYO', 'JUNI', 'JULO', 'AGOSTO', 'SEPTIEMBRE', 'OCTUBRE', 'NOVIEMBRE', 'DICIEMBRE'];

import * as AffairReceptionService from 'src/services/receipt/AffairReceptionService';
import moment from 'moment';

moment().format();

function getDaysBetween(element) {
  let daysBetween = '';
  const startdate = moment();
  const endDate = moment(element.commitmentDate);
  daysBetween = endDate.diff(startdate, 'days');
  if (daysBetween >= 0 || daysBetween <= 1) {
    element.colorRemaining = 'red';
    console.log('Rojo');
  }
  if (daysBetween >= 2 && daysBetween <= 4) {
    element.colorRemaining = 'yellow';
    console.log('Amarillo');
  }
  if (daysBetween >= 5) {
    element.colorRemaining = 'green';
    console.log('Verde');
  }
  if (daysBetween < 0) {
    element.colorRemaining = 'grey';
    console.log('Gris');
  }
}

export default {
  data() {
    return {
      formattedDate: '',
      selectedDate: '',
      events: [],
      infoAffairDoc: '',
      folio: '',
      receiver: '',
      oficeDate: '',
      priority: '',
      status: '',
      day: today.getDate(),
      month: months[today.getMonth()],
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      monthTheYear: '',
      allEvents: [],
      allEventsTurns: [],
      allEventsReceiver: [],
    }
  },
  computed: {
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    affair: {
      get() {
        return this.$store.state.affair.information
      }
    }
  },
  beforeMount() {
    AffairReceptionService.scheduleDocument().then((infoAffair) => {
      if (infoAffair.success) {
        infoAffair.affairCreate.forEach((element) => {
          const startDate = new Date(element.oficeDate);
          let endDate = '';
          // eslint-disable-next-line radix
          const noOfDaysToAdd = parseInt(element.priorityDays);
          let count = 0;
          while (count < noOfDaysToAdd) {
            endDate = new Date(startDate.setDate(startDate.getDate() + 1));
            if (endDate.getDay() !== 6 && endDate.getDay() !== 5) {
              // eslint-disable-next-line no-plusplus
              count++;
            }
          }
          element.commitmentDate = endDate.toJSON().slice(0, 10);
        })

        infoAffair.affairsReceiver.forEach((element) => {
          const startDate = new Date(element.oficeDate);
          let endDate = '';
          // eslint-disable-next-line radix
          const noOfDaysToAdd = parseInt(element.priorityDays);
          let count = 0;
          while (count < noOfDaysToAdd) {
            endDate = new Date(startDate.setDate(startDate.getDate() + 1));
            if (endDate.getDay() !== 6 && endDate.getDay() !== 5) {
              // eslint-disable-next-line no-plusplus
              count++;
            }
          }
          element.commitmentDate = endDate.toJSON().slice(0, 10);
        })
        this.allEvents = infoAffair.affairCreate;
        this.allEventsReceiver = infoAffair.affairsReceiver;
      }
    })
  },
  methods: {
    calendarNext() {
      this.$refs.calendar.next()
    },
    calendarPrev() {
      this.$refs.calendar.prev()
    },
    onClickDay(date) {
      console.log(date);
      this.events = [];
      AffairReceptionService.scheduleDocument().then((infoAffair) => {
        if (infoAffair.success) {
          infoAffair.affairCreate.forEach((element) => {
            const startDate = new Date(element.oficeDate);
            let endDate = '';
            // eslint-disable-next-line radix
            const noOfDaysToAdd = parseInt(element.priorityDays);
            let count = 0;
            while (count < noOfDaysToAdd) {
              endDate = new Date(startDate.setDate(startDate.getDate() + 1));
              if (endDate.getDay() !== 6 && endDate.getDay() !== 5) {
                // eslint-disable-next-line no-plusplus
                count++;
              }
            }
            element.commitmentDate = endDate.toJSON().slice(0, 10);
            if (element.commitmentDate === date.scope.timestamp.date) {
              this.events.unshift(element)
            }
          })
          infoAffair.affairsReceiver.forEach((element) => {
            const startDate = new Date(element.oficeDate);
            let endDate = '';
            // eslint-disable-next-line radix
            const noOfDaysToAdd = parseInt(element.priorityDays);
            let count = 0;
            while (count < noOfDaysToAdd) {
              endDate = new Date(startDate.setDate(startDate.getDate() + 1));
              if (endDate.getDay() !== 6 && endDate.getDay() !== 5) {
                // eslint-disable-next-line no-plusplus
                count++;
              }
            }
            element.commitmentDate = endDate.toJSON().slice(0, 10);
            if (element.commitmentDate === date.scope.timestamp.date) {
              this.events.unshift(element)
            }
          })
        }
        console.log(infoAffair);
      })
    },
    getDaysDocuments(dt) {
      const eventDay = [];
      this.allEvents.forEach((element) => {
        if (element.commitmentDate === dt) {
          getDaysBetween(element);
          eventDay.unshift(element)
        }
      })
      this.allEventsReceiver.forEach((element) => {
        if (element.commitmentDate === dt) {
          getDaysBetween(element);
          eventDay.unshift(element)
        }
      })
      return eventDay;
    },
  }
}
</script>
