<template>
  <q-card style="width: 700px; max-width: 80vw; height: 490px;">
    <q-tabs
      v-model="tab"
      dense
      active-color="black"
      indicator-color="black"
      align="justify"
      narrow-indicator
      class="text-grey shadow-2"
    >
      <q-tab name="comments" label="Comentarios" v-if="affairResponseid"/>
      <q-separator vertical />
      <q-tab name="tracking" label="Seguimiento" />
      <q-separator vertical />
      <q-tab name="attached" label="Archivos adjuntos" v-if="affairResponseid"/>
    </q-tabs>

    <q-separator />

    <q-tab-panels v-model="actionTab" animated>
      <q-tab-panel name="comments" v-if="affairResponseid">
        <Chat :affairId="affairResponseid"/>
      </q-tab-panel>

      <q-tab-panel name="tracking" >
        <q-card-section>
          <q-card bordered flat>
            <q-card-section horizontal>
              <q-card-section>
                <div class="text-h6">{{ turnLogdata.affair.folio }}</div>
                <div class="text-subtitle2">{{turnLogdata.affair.position_name}} / {{ turnLogdata.affair.name }} {{ turnLogdata.affair.last_name }} {{ turnLogdata.affair.second_lastname }}</div>
              </q-card-section>

              <q-separator vertical/>

              <q-card-section>
                <div class="text-body1">{{ turnLogdata.affair.subject }}</div>
                <div class="text-caption">
                  Enviado: {{ new Date(turnLogdata.affair.sent_date).getDate() }}/{{ (new Date(turnLogdata.affair.sent_date).getMonth()+1) }}/{{ new Date(turnLogdata.affair.sent_date).getFullYear() }}
                  a las: {{ new Date(turnLogdata.affair.sent_date).getHours() }}:{{ (new Date(turnLogdata.affair.sent_date).getMinutes()).toString().length === 1 ? `0${(new Date(turnLogdata.affair.sent_date).getMinutes()).toString()}` : new Date(turnLogdata.affair.sent_date).getMinutes()}}
                </div>
              </q-card-section>
            </q-card-section>
          </q-card>
        </q-card-section>
        <q-separator />
        <q-card-section style="height: 40vh" class="scroll q-px-xl">
          <q-tree
            :nodes="turnLogdata.turns"
            node-key="label"
            default-expand-all
          >
            <template v-slot:default-header="prop">
              <div class="row items-center">
                <q-icon :name="prop.node.status_id === 3 ? 'done':prop.node.status_id === 2 ? 'pending':prop.node.status_id === 4 ? 'border_color':prop.node.status_id === 1 ? 'contact_support':prop.node.status_id === 5 ? 'block':prop.node.status_id === 6 ? 'cancel':''" color='primary' size="28px" class="q-mr-sm" />
                <div class="text-weight-bold">{{ prop.node.label }}</div>
              </div>
            </template>

            <template v-slot:default-body="prop">
              <div v-for="event in prop.node.events" :key="event.id">
                <span>{{ event.name }}</span>
                <span class="text-caption">
                    : {{ new Date(event.created_at).getDate() }}/{{ (new Date(event.created_at).getMonth()+1) }}/{{ new Date(event.created_at).getFullYear() }}
                    a las: {{ new Date(event.created_at).getHours() }}:{{ (new Date(event.created_at).getMinutes()).toString().length === 1 ? `0${(new Date(event.created_at).getMinutes()).toString()}` : new Date(event.created_at).getMinutes()}}
                </span>
              </div>
            </template>
          </q-tree>
        </q-card-section>
      </q-tab-panel>

      <q-tab-panel name="attached" v-if="affairResponseid">
        <q-card-section>
          <q-card bordered flat>
            <q-card-section style="height: 45vh" class="scroll">
              <q-item v-for="annexe in annexes " :key="annexe.id">
                <q-item-section side>
                  <q-avatar rounded size="48px">
                    <img src="~assets/img/pdf.png" alt=""/>
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{annexe.originalname}}</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <div class="text-grey-8 q-gutter-xs">
                    <q-btn class="gt-xs" size="12px" flat dense round icon="fas fa-eye" @click="renderpdf(annexe.id)"/>
                    <q-btn class="gt-xs" size="12px" flat dense round icon="delete" @click="deleteFile(annexe.id)"/>
                  </div>
                </q-item-section>
              </q-item>
            </q-card-section>
          </q-card>
        </q-card-section>

        <q-separator></q-separator>

        <q-card-section>
          <div class="row">
            <div class="col-10">
              <q-file v-model="annexeFile" outlined use-chips accept=".pdf, .zip, .rar, .odt, .ods, .odp, .doc, .xls, .ppt, .docx, .xlsx, .pptx" label="Acuse" multiple counter>
                <template v-slot:append>
                  <q-btn round dense flat icon="scanner"/>
                </template>
              </q-file>
            </div>
            <div class="col-2">
              <q-btn flat label="Adjuntar" color="primary" @click="addAnnexe()" v-close-popup/>
            </div>
          </div>
        </q-card-section>
      </q-tab-panel>
    </q-tab-panels>
    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-card>
</template>

<script>
import Chat from 'src/components/global/Chat'
import * as UploadFileService from 'src/services/global/UploadFileService';

export default {
  components: { Chat },
  props: {
    affairId: Number,
    affairResponseid: Number,
    turnLogdata: Object,
    folioResponse: String,
  },
  data() {
    return {
      splitterModel: 50,
      selected: 'Karen Hortensia',
      actionTab: 'tracking',
      annexes: [],
      annexeFile: '',
      officeDialog: false,
      src: '',
      simple: [
        {
          label: 'Relax Hotel',
          children: [
            {
              label: 'Food',
              icon: 'restaurant_menu',
              children: [],
              qlkrlwkrjv: 'kjefnk'
            },
            {
              label: 'Room service',
              icon: 'room_service'
            },
            {
              label: 'Room view',
              icon: 'photo'
            }
          ]
        }
      ]
    }
  },
  methods: {
    addAnnexe() {
      const formDataAnexo = new FormData();
      formDataAnexo.append('document', this.annexeFile);
      formDataAnexo.append('module', 'affair');
      formDataAnexo.append('fileType', 'pdf');
      formDataAnexo.append('folio', this.folioResponse);
      this.$q.loading.show();
      UploadFileService.upload(formDataAnexo).then(() => {
        console.log()
        this.$q.notify({
          icon: 'cloud_upload',
          color: 'positive',
          position: 'top-right',
          textColor: 'white',
          message: 'Se ha subido el documento correctamente',
        });
        this.$q.loading.hide();
      }).catch((err) => {
        console.log(err)
        this.$q.loading.hide();
      })
    },
    renderpdf(id) {
      this.src = `${this.$axios.defaults.baseURL}/api/files/show/pdf/${id}`;
      this.officeDialog = true;
    },
    deleteFile(id) {
      UploadFileService.destroy(id).then(() => {
        this.$q.notify('Se ha eliminado el documento correctamente');
        UploadFileService.fileAnnexes(this.affair.id).then((data) => {
          console.log(data)
          this.annexes = data.annexes
        }).catch((err) => {
          console.log(err)
        })
      }).catch((err) => {
        console.log(err)
      })
    }
  },
  created() {
    if (this.folioResponse) {
      UploadFileService.fileAnnexes(this.affairResponseid).then((data) => {
        console.log(data)
        this.annexes = data.annexes
      }).catch((err) => {
        console.log(err)
      })
    }
  }
}
</script>
