<template>
  <div>
    <q-table
      :data="data"
      :columns="columns"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      :filter="search"
      :visible-columns="visibleColumns"
    >
      <template v-slot:top-right>
        <q-btn flat round color="primary" icon="refresh" @click="onRequest({
          pagination: pagination,
          filter: undefined
        })"/>
      </template>

      <template v-slot:top-left>
        <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:body="props" >
        <q-tr :props="props" style="cursor: pointer">
          <q-td key="sender" :props="props" @click="redirectEdit(props.row.id, props.row.affair_type)">
            {{ props.row.sender.length > 20 ? props.row.sender.slice(0,20):props.row.sender }}
          </q-td>
          <q-td key="subject" :props="props" @click="redirectEdit(props.row.id, props.row.affair_type)">
            {{ props.row.subject }}
          </q-td>
          <q-td key="folio" :props="props" @click="redirectEdit(props.row.id, props.row.affair_type)">
            {{ props.row.folio }}
          </q-td>
          <q-td key="sent_date" :props="props" @click="redirectEdit(props.row.id, props.row.affair_type)">
            {{ props.row.sent_date }}
          </q-td>
          <q-td key="status" :props="props" @click="redirectEdit(props.row.id, props.row.affair_type)">
            {{ (props.row.affair_status == 'Respondido' ? 'Contestado' : props.row.affair_status) }}
            <div class="q-ma-sm row justify-between">
              <div class="col justify-center">
                <q-icon
                  name="circle"
                  :class="{
                    'text-deep-purple' : props.row.affair_status == 'Guardado',
                    'text-cyan' : props.row.affair_status === 'Colaborativo',
                    'text-green' : props.row.affair_status === 'Enviado',
                    'text-yellow' : props.row.affair_status === 'Leído',
                    'text-red' : props.row.affair_status === 'Respondido',
                  }"
                />
              </div>
            </div>
          </q-td>
          <q-td auto-width>
            <q-btn-group flat>
              <q-btn flat round size="sm" @click="history(props.row.id, props.row.affair_type)" color="primary" icon="history">
                <q-tooltip>Historia</q-tooltip>
              </q-btn>
              <q-btn v-if="(props.row.affair_status_id === 1)" flat round size="md" @click="editOffice(props.row.id)" color="primary" icon="description">
                <q-tooltip>Editar</q-tooltip>
              </q-btn>
              <q-btn v-if="(props.row.affair_status_id > 2)" flat round size="sm" @click="render(props.row.id, props.row.affair_type, props.row.folio)" color="primary" icon="fas fa-eye">
                <q-tooltip>Ver asunto</q-tooltip>
              </q-btn>
            </q-btn-group>
          </q-td>
        </q-tr>
      </template>
      <template v-slot:no-data="{ }">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span>
            No se encontraron resultados
          </span>
        </div>
      </template>
    </q-table>
    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="historyDialog" >
      <History :affairId="affairId"
              :typeAffair="typeAffair"/>/>
    </q-dialog>
    <q-dialog v-model="actionsDialog" >
      <q-card style="width: 700px; max-width: 80vw; height: 490px;">
        <q-card-section class="row items-center">
          <q-icon name="timeline" color="primary" :size="'lg'"/>
          <span class="q-ml-md text-h6">Seguimiento</span>
          <q-space />
          <q-btn class="items-right" icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section class="scroll q-px-xl">
          <q-tree
            :nodes="turnLogdata.turns"
            node-key="label"
            default-expand-all
          >
            <template v-slot:default-header="prop">
              <div class="row items-center">
                <q-icon :name="prop.node.status_id === 3 ? 'done':prop.node.status_id === 2 ? 'pending':prop.node.status_id === 4 ? 'border_color':prop.node.status_id === 1 ? 'contact_support':prop.node.status_id === 5 ? 'block':prop.node.status_id === 6 ? 'cancel':''" color='primary' size="28px" class="q-mr-sm" />
                <div class="text-weight-bold">{{ prop.node.label }}</div>
              </div>
            </template>

            <template v-slot:default-body="prop">
              <div v-for="event in prop.node.events" :key="event.id">
                <span>{{ event.name }}</span>
                <span class="text-caption">
                    : {{ new Date(event.created_at).getDate() }}/{{ (new Date(event.created_at).getMonth()+1) }}/{{ new Date(event.created_at).getFullYear() }}
                    a las: {{ new Date(event.created_at).getHours() }}:{{ (new Date(event.created_at).getMinutes()).toString().length === 1 ? `0${(new Date(event.created_at).getMinutes()).toString()}` : new Date(event.created_at).getMinutes()}}
                </span>
              </div>
            </template>
          </q-tree>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="confirm">
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar size="md" icon="forward" color="primary" text-color="white" />
          <span class="q-ml-sm">¿Desea aceptar el turnado?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Rechazar" color="primary" @click="reject()" v-close-popup />
          <q-btn flat label="Aceptar" color="primary" @click="accept()" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import * as UploadFileService from 'src/services/global/UploadFileService';
import * as LogBookService from 'src/services/admin/LogBookService';
import * as BoxesService from 'src/services/global/BoxesService';
import History from 'src/components/global/History';
import * as TurnService from 'src/services/TurnService';

export default {
  components: { History },
  mounted() {
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
  },
  data() {
    return {
      actionsDialog: false,
      reload: '',
      responsable: '',
      data: [],
      loading: false,
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: ''
      },
      search: '',
      separator: 'vertical',
      visibleColumns: ['sender', 'subject', 'folio', 'sent_date', 'status', 'actions'],
      columns: [
        { name: 'sender', align: 'center', label: 'Remitente' },
        { name: 'folio', align: 'center', label: 'Folio', field: 'folio', sortable: false },
        { name: 'sent_date', align: 'center', label: 'Fecha de envio', field: 'sent_date', sortable: false },
        { name: 'status', align: 'center', label: 'Estatus', field: 'status', sortable: false },
        { name: 'actions', align: 'center', label: '', field: 'actions' },
      ],
      officeDialog: false,
      affairId: '',
      affairResponseid: '',
      turnDialog: false,
      src: '',
      turnLog: false,
      turnLogdata: {
        affair: {},
        turns: [{ name: '',
          position_name: '',
          lastname: '',
          second_lastname: ''
        }]
      },
      annexes: [],
      infoDialog: false,
      externalAffairInfoDialog: false,
      folioResponse: '',
      affair: {},
      confirm: false,
      turn_id: '',
      historyDialog: false,
      typeAffair: '',
      affairChainId: '',
    }
  },
  methods: {
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination
      const { search } = this
      this.loading = true
      const positionId = window.sessionStorage.getItem('position_id');
      BoxesService.turn({ params: { page, rowsPerPage, search, position_id: positionId } }).then((pagination) => {
        this.data = pagination.data
        this.pagination.rowsPerPage = pagination.per_page
        this.pagination.page = pagination.current_page
        this.pagination.rowsNumber = pagination.total
        this.loading = false
      }).catch((err) => {
        console.log(err)
        this.loading = false
      })
    },
    tracing(id) {
      TurnService.getLog(id).then((data) => {
        this.turnLogdata = data
        this.$q.loading.hide();
      }).catch((err) => {
        this.$q.loading.hide();
        console.log(err)
      })
      this.actionsDialog = true
    },
    history(affairId, type) {
      this.affairId = affairId
      this.historyDialog = true
      this.typeAffair = type
    },
    render(id, affairType, folio) {
      console.log(id, affairType)
      if (affairType === 'Asunto Interno') {
        const data = {}
        data.action = 'read'
        data.detail = `Se ha leido el asunto con folio ${folio}`
        LogBookService.store(data).then((response) => {
          console.log(response)
        }).catch((err) => {
          console.log(err)
        })
        UploadFileService.showFile(id).then((file) => {
          this.src = window.URL.createObjectURL(new Blob([file.data]));
          this.officeDialog = true;
        }).catch((err) => {
          console.log(err)
        })
      } else if (affairType === 'Asunto externo de entrada') {
        const data = {}
        data.action = 'read'
        data.detail = 'Se ha leido el asunto externo'
        LogBookService.store(data).then((response) => {
          console.log(response)
        }).catch((err) => {
          console.log(err)
        })
        UploadFileService.externalShowFile(id).then((file) => {
          this.src = window.URL.createObjectURL(new Blob([file.data]));
          this.officeDialog = true;
        }).catch((err) => {
          console.log(err)
        })
      }
    },
    reply(id) {
      this.affairId = id
      this.$router.push(`answer-affair/${id}`);
    },
    newTurn(id) {
      this.affairId = id
      this.turnDialog = true
    },
    collabora(id) {
      this.$router.push(`/collabora/${id}/edit`)
    },
    showHistory(affairChainId) {
      this.affairChainId = affairChainId
      this.historyDialog = true
    },
    redirectEdit(affairId, affairType) {
      console.log(affairId, affairType);
      if (affairType === 'Asunto Interno') {
        this.$router.push(`internal-affair/${affairId}/edit`)
      } else if (affairType === 'Asunto externo de entrada') {
        this.$router.push(`/reception/${affairId}/edit`);
      }
    }
  },
}
</script>
