<template>
  <q-card style="width: 700px; max-width: 80vw;">
    <q-card-section class="row items-center q-pb-xs">
      <q-icon name="folder_open" color="primary" :size="'lg'"/>
      <span class="q-ml-md text-h6">Turnar</span>
    </q-card-section>
    <q-separator/>
    <q-card-section class="q-pb-none">
      <q-item v-for="turn in listTurn" :key="turn.id">
        <q-item-section avatar >
          <q-avatar size="35px">
            <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
          </q-avatar>
        </q-item-section>
        <q-item-section>
          <q-item-label>{{turn.people_name}} {{ turn.people_lastname }}  {{ turn.people_second_lastname }}</q-item-label>
          <q-item-label caption lines="1">{{ turn.position_name }}</q-item-label>
        </q-item-section>
        <q-item-section side>
          <div class="text-grey-8 q-gutter-xs">
            <q-btn v-if="can('assign-close')" class="gt-xs" size="12px" flat dense round icon="cancel_schedule_send" @click="deleteTurn(turn.id)" v-close-popup>
              <q-tooltip>Cancelar turno</q-tooltip>
            </q-btn>
          </div>
        </q-item-section>
      </q-item>
    </q-card-section>
    <q-card-section>
      <q-form ref="turnForm" @submit.prevent="() => {}" v-for="addTurn in addTurns" :key="addTurn.user_id" class="q-py-xs">
        <q-separator class="q-mb-md"/>
        <div class="row q-col-gutter-md">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <q-select outlined v-model="addTurn.position" class="q-mb-sm"
              :loading="loadingPosition"
              option-value="id"
              option-label="name"
              :options="PositionOptions"
              label="Puesto"
              @input="filterResponsible"
              @clear="() => {(ResponsibleOptions = []), (instruction.people_id = null);}"
              :rules="[$rules.required($i18n.t('requiredInput'))]" />
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <q-select v-model="addTurn.user_id" class="q-mb-sm"
              :loading="loadingResponsible"
              outlined
              option-value="id"
              option-label="full_name"
              map-options
              emit-value
              :options="ResponsibleOptions"
              label="Persona"
              :rules="[$rules.required($i18n.t('requiredInput'))]"
            />
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <q-select
              class="q-mb-sm"
              outlined
              v-model="addTurn.instruction_id"
              option-value="id"
              option-label="name"
              map-options
              emit-value
              :options="catalogs.cat_instructions"
              label="Instrucción"
              :rules="[$rules.required($i18n.t('requiredInput'))]"
            />
          </div>
        </div>
      </q-form>
    </q-card-section>
    <q-card-section class="q-py-none text-center">
      <q-btn dense color="primary" icon="add_box" @click="addNewTurn()"/>
    </q-card-section>
    <q-card-actions align="right">
      <q-btn flat label="Cancelar" color="primary" v-close-popup/>
      <q-btn v-if="can('assign-document')" flat label="Turnar" color="primary" @click="newTurn()" v-close-popup/>
    </q-card-actions>
  </q-card>
</template>

<script>
import * as CatalogService from 'src/services/admin/CatalogService';
import * as TurnService from 'src/services/TurnService';
import { notifySuccess } from 'src/utils/notify';

export default {
  props: {
    affairId: Number,
  },
  data() {
    return {
      ResponsibleOptions: [],
      InitialResponsibleOptions: [],
      loadingResponsible: false,
      PositionOptions: [],
      InitialPositionOptions: [],
      loadingPosition: false,
      turn: {
        user_id: '',
        instruction_id: '',
        affair_id: '',
      },
      entity: '',
      unit: '',
      position: '',
      instruction: {},
      listTurn: [],
      addTurns: [
        {
          unit: '',
          position: '',
          user_id: '',
          instruction_id: '',
        }
      ],
      turnCopy: {
        unit: '',
        position: '',
        user_id: '',
        instruction_id: '',
      }
    }
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  methods: {
    filterResponsible(position) {
      if (position != null) {
        this.turn.user_id = '';
        this.loadingResponsible = true;
        CatalogService.getResponsible(position.id).then((people) => {
          this.InitialResponsibleOptions = people;
          this.ResponsibleOptions = this.InitialResponsibleOptions;
          this.loadingResponsible = false;
        })
      }
    },
    filterPositions() {
      this.position = '';
      this.turn.user_id = '';
      this.loadingPosition = true;
      CatalogService.getPositionsforturn().then((position) => {
        this.InitialPositionOptions = position;
        this.PositionOptions = this.InitialPositionOptions;
        this.loadingPosition = false;
      })
    },
    newTurn() {
      this.$refs.turnForm.at(-1).validate().then((valid) => {
        if (valid) {
          this.$q.loading.show();
          this.$emit('change-tab')
          TurnService.store({ affair_id: this.affairId, turns: this.addTurns }).then(() => {
            notifySuccess();
          }).catch((err) => {
            alert(err)
          }).finally(() => {
            this.$q.loading.hide();
          })
        }
      });
    },
    addNewTurn() {
      this.$refs.turnForm.at(-1).validate().then((valid) => {
        if (valid) {
          this.addTurns.push({ ...this.turnCopy })
        }
      });
    },
    deleteTurn(id) {
      const form = { status_id: 6 };
      this.$q.loading.show();
      TurnService.update(form, id).then(() => {
        TurnService.edit(this.affairId).then((data) => {
          this.listTurn = data
          this.$q.loading.hide();
        }).catch((err) => {
          alert(err)
          this.$q.loading.hide();
        })
        notifySuccess()
      }).catch(() => {
        this.$q.loading.hide();
      })
    }
  },
  created() {
    const catalogsConfiguration = {
      units: true,
      users: true,
      people: true,
      position: true,
    };
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
    TurnService.edit(this.affairId).then((data) => {
      this.listTurn = data
    }).catch((err) => {
      alert(err)
    })
    this.filterPositions()
  },
}
</script>
