<template>
<q-card style="width: 100%">
  <q-item>
    <q-btn
      flat
      round
      color="primary"
      icon="fas fa-arrow-left"
      @click="$router.back()"
    >
      <q-tooltip>Volver</q-tooltip>
    </q-btn>
    <q-item-section avatar>
        <q-icon size="md" name="fas fa-passport"/>
    </q-item-section>
    <q-item-section>
      <q-item-label>Agregar día festivo</q-item-label>
      <q-item-label caption>
        Ingrese los siguientes valores
      </q-item-label>
    </q-item-section>
  </q-item>
  <q-separator />
  <div class="q-pa-sm">
    <q-card-section>
      <q-form ref="form">
        <div class="row q-col-gutter-sm">
          <div class="col-xs-12 col-sm-12 col-md-8">
            <q-input v-model="form.description" square outlined label="Descripción" :rules="[(val) => !!val || 'Este campo es obligatorio']"/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <q-input
              square
              outlined
              v-model="form.holiday_date"
              label="Fecha"
              mask="date"
              :rules="['date']"
              @click="$refs.qDateProxy.show()"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      v-model="form.holiday_date"
                      first-day-of-week="0"
                      :options="optionsFn"
                    >
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Cerrar" color="primary" flat />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
        </div>
      </q-form>
    </q-card-section>
    <q-card-actions align="right">
      <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
      <q-btn flat @click="store()" label="Guardar" color="primary" />
    </q-card-actions>
  </div>
</q-card>
</template>

<script>
const today = new Date();
import * as DataService from 'src/services/admin/catalogs/HolidayService';
import { notifySuccess, notifyError, notifyAlert } from 'src/utils/notify';
import { cleanStr, enableDate } from 'boot/customFunctions';

export default {
  data() {
    return {
      form: {
        holiday_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        description: '',
      },
    };
  },
  computed: {
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    descriptionD() {
      return this.form.description
    },
  },
  watch: {
    descriptionD(cad) {
      this.form.description = cleanStr(cad)
    },
  },
  created() {
    const catalogsConfiguration = {
      cat_holidays: true
    };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      }).catch((err) => {
        console.log(err)
      });
  },
  methods: {
    optionsFn(date) {
      const holidays = this.catalogs.cat_holidays;
      date = enableDate(this.user.permissions, holidays, date)
      return date !== false;
    },
    store() {
      const holidays = this.catalogs.cat_holidays;
      const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
      const validDate = arr.includes(this.form.holiday_date.substring(0, 10).replace(/-/g, '/'))

      if (validDate) {
        notifyAlert('La fecha no es valida, ya que ha sido guardada');
        this.form.holiday_date = ''
        return
      }

      this.$refs.form.validate().then((valid) => {
        if (valid) {
          const form = { ...this.form };
          DataService.store(form).then(() => {
            notifySuccess('Se ha creado el día festivo correctamente');
            this.$router.push('/admin/cat/holidays');
          }).catch((err) => {
            notifyError(err)
          })
        }
      })
    },
  },
};
</script>
