<template>
<q-card style="width: 100%">
  <q-item>
    <q-btn
      flat
      round
      color="primary"
      icon="fas fa-arrow-left"
      @click="$router.back()"
    >
      <q-tooltip>Volver</q-tooltip>
    </q-btn>
    <q-item-section avatar>
        <q-icon size="md" name="fas fa-passport"/>
    </q-item-section>
    <q-item-section>
      <q-item-label>Modificar día festivo</q-item-label>
      <q-item-label caption>
        Ingrese los siguientes valores
      </q-item-label>
    </q-item-section>
  </q-item>
  <q-separator />
  <div class="q-pa-sm">
    <q-card-section>
      <div class="row q-col-gutter-sm">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <q-input
            square
            outlined
            v-model="form.holiday_date"
            label="Fecha"
            mask="date"
            :rules="['date']"
            @click="$refs.qDateProxy.show()"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="form.holiday_date"
                    first-day-of-week="0"
                  >
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Cerrar" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
          <q-input v-model="form.description" square outlined label="Descripción" />
        </div>
      </div>
    </q-card-section>
    <q-card-actions align="right">
      <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
      <q-btn flat @click="update()" label="Guardar" color="primary"/>
    </q-card-actions>
  </div>
</q-card>
</template>

<script>
import * as DataService from 'src/services/admin/catalogs/HolidayService';
import { notifySuccess, notifyError } from 'src/utils/notify';
import { cleanStr } from 'boot/customFunctions';

export default {
  data() {
    return {
      form: {
      }
    };
  },
  created() {
    const { id } = this.$route.params
    this.$q.loading.show();
    DataService.edit(id).then((data) => {
      this.form = data;
      this.$q.loading.hide();
    }).catch(() => {
      this.$q.loading.hide();
    });
  },
  computed: {
    descriptionD() {
      return this.form.description
    },
  },
  watch: {
    descriptionD(cad) {
      this.form.description = cleanStr(cad)
    },
  },
  methods: {
    update() {
      const form = { ...this.form };
      const { id } = this.$route.params
      DataService.update(form, id).then(() => {
        notifySuccess('Se ha actualizado el día festivo correctamente');
        this.$router.push('/admin/cat/holidays');
      }).catch((err) => {
        notifyError(err)
      })
    },
  },
};
</script>
