<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-btn
            flat
            round
            color="primary"
            icon="fas fa-arrow-left"
            @click="$router.back()"
          >
            <q-tooltip>Volver</q-tooltip>
          </q-btn>
          <q-icon size="sm" name="far fa-calendar-alt"/> Días festivos
          <q-btn v-if="can('holiday-create')" class="float-right" round size="sm" @click="$router.push('/admin/cat/holidays/create')"  outline color="primary" icon="fas fa-plus"/>
        </div>
      </q-card-section>
    </q-card>
    <Holidays />
    <!-- <br>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          Configuración
        </div>
        <q-card>
          <q-card-section>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <q-banner rounded class="bg-grey-3">
                <q-item-label> Habilitar envío en fines de semana y días feriados </q-item-label>
              </q-banner>
              <div class="row ">
                  <div class="col-lg-4 q-pa-sm">
                    <q-checkbox
                      left-label
                      v-model="sendWkendHoliday"
                      label= 'Fines de semana'
                      val=""
                    />
                  </div>
                  <div class="col-lg-4 q-pa-sm">
                    <q-checkbox
                      left-label
                      v-model="sendWkendHoliday"
                      label= 'Días feriados'
                      val=""
                    />
                  </div>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </q-card-section>
    </q-card> -->
  </div>
</template>

<script>

import Holidays from './Table';

export default {
  components: {
    Holidays
  },
  data() {
    return {
      sendWkendHoliday: false
    }
  }
};
</script>
