<template>
  <div class="window-height window-width row justify-center items-center">
    <div class="justify-center items-center">
      <div class="row q-col-gutter-sm text-center">
        <q-form ref="forgotForm" class="q-gutter-lg">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div style="width:250px"></div>
            <q-img :src="`${this.$axios.defaults.baseURL}/api/upImage/${1}`" spinner-color="white" width="150"/>
            <!-- <q-img v-if="!config.file_id" src="~assets/logos/infotec.png" width="150"/> -->
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12">
            <q-input for="email" square filled outlined label="Correo electrónico"
                     :rules="[(val) => !!val || 'Este campo es obligatorio', isValidEmail]" v-model="form.email"/>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <q-btn id="login" outline rounded color="primary" @click="submit()" label="Enviar"/>
          </div>
          <q-separator/>
        </q-form>
      </div>
    </div>
  </div>
</template>
<script>
import { QSpinnerFacebook } from 'quasar'
import { notifyAlert, notifySuccess } from 'src/utils/notify';

export default {
  name: 'Forgot',
  data() {
    return {
      form: {
        email: '',
      }
    };
  },
  computed: {
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    config: {
      get() {
        return this.$store.state.config
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      }
    }
  },
  created() {
  },
  methods: {
    isValidEmail(val) {
      const emailPattern = /^(?=[a-zA-Z0-9@.%+-]{6,254}$)[a-zA-Z0-9.%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || 'Debe ingresar un correo válido';
    },
    sendInfo() {
      this.$q.loading.show({
        spinner: QSpinnerFacebook,
        spinnerColor: 'primary',
        spinnerSize: 140,
        backgroundColor: 'black',
        message: 'Enviando...'
      });
    },
    submit() {
      this.$refs.forgotForm.validate().then((valid) => {
        if (valid) {
          const form = { ...this.form };
          this.$store.dispatch('user/forgot', form).then((res) => {
            if (res.success) {
              notifySuccess(res.message);
              this.$router.push('/recovery');
            } else {
              notifyAlert(res.message);
            }
          }).catch((err) => {
            console.log(err)
            notifyAlert('Ocurrio un error al enviar la informacion notifique al administrador del sistema.');
          })
        }
      });
    },
  },
};
</script>
