<template>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 q-mb-md">
      <br>
      <q-card class="q-mx-sm">
        <q-calendar
          v-model="selectedDate"
          view="week-agenda"
          :weekdays="[1,2,3,4,5]"
          locale="es"
          style="height: 285px;"
        >
          <template #day-body="{ timestamp }">
            <template v-for="(agenda) in getAgenda(timestamp)">
              <q-card
                :key="timestamp.date + agenda.folio"
                :label="agenda.folio"
                class="justify-start q-ma-sm"
              >
                <div v-if="agenda.folio" class="text-subtitle2 col-12 q-px-sm">
                  {{ agenda.folio }}
                </div>
                <div class="text-grey-8 q-ma-sm row justify-between">
                  <div class="col justify-end">
                    <q-icon
                      name="circle"
                      :class="{
                        'text-red' : agenda.priority_id === 1,
                        'text-yellow' : agenda.priority_id === 2,
                        'text-green' : agenda.priority_id === 3}"/>
                  </div>
                  <q-btn class="gt-xs q-mb-xs" size="12px" flat dense round icon="fas fa-eye" @click="renderpdf(agenda.id)"/>
                </div>
              </q-card>
            </template>
          </template>
        </q-calendar>
      </q-card>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 q-mb-md">
          <br>
      <q-card>
        <div class="text-center"><strong>Asuntos pendientes por contestar</strong></div>
        <div>
          <apexchart width="100%" height="250px" type="bar" :options="chartOptions" :series="series" ref="realtimeChart"></apexchart>
        </div>
      </q-card>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <q-table
        grid
        :data="data"
        :columns="columns"
        row-key="name"
        hide-header
        hide-bottom
      >
        <template v-slot:item="props">
          <div class="q-pa-xs col-xs-12 col-sm-6 col-md-4">
            <q-card>
              <q-card-section class="text-center" clickable v-ripple @click="redirect()" style="cursor: pointer;">
                <strong>{{ props.row.name }}</strong>
              </q-card-section>
              <q-separator />
              <q-card-section class="flex flex-center">
                <div>{{ props.row.affair }}</div>
              </q-card-section>
            </q-card>
          </div>
        </template>
      </q-table>
    </div>
    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
/* eslint-disable */
import VueApexCharts from 'vue-apexcharts';
import * as StatisticsService from 'src/services/StatisticsService';
import * as UploadFileService from 'src/services/global/UploadFileService';

export default {
  components: {
    apexchart: VueApexCharts,
  },
  data() {
    return {
      selectedDate: '',
      officeDialog: false,
      src: null,
      chartOptions: {
            chart: {
              type: 'bar',
              height: 350
            },
            plotOptions: {
              bar: {
                borderRadius: 4,
              }
            },
            dataLabels: {
              enabled: false
            },
            xaxis: {
              categories: ['Urgente', 'Normal'],
            },
            yaxis: {
              labels: {
                formatter: (val) => {
                  return val.toFixed();
                }
              }
            },
            colors: ['#621132', '#B28E5C'],
          },
      series: [{
        data: [0, 0]
      }],
      data: [],
      columns: [
        { name: 'name', label: 'Name', field: 'name' },
        { name: 'affair', label: 'Asuntos', field: 'affair' }
      ],
      agenda: {
        // value represents day of the week
        1: [
        ],
        2: [
        ],
        3: [
        ],
        4: [
        ],
        5: [
        ]
      }
    }
  },
  created() {
    this.$q.loading.show();
    StatisticsService.getStatistics().then((data) => {

      this.data = [
        { name: 'Total de documentos en la historia', affair: data.affairs_hitorical },
        { name: 'Elaborados por mi', affair: data.affairs_outbox },
        { name: 'Asignados a mi como destinatario', affair: data.affairs_inbox },
        { name: 'Turnados a mi', affair: data.affairs_turn },
        { name: 'Turnados por mi', affair: data.affairs_sent_turn },
      ]
      data.affair_schedule.forEach(element => {
        const day = new Date(element.commitment_date).getDay()
        this.agenda[day + 1].push(element)
      });
      const priorityArray = data.affairs_priority

      priorityArray.forEach(element => {
        this.series[0].data[element.cat_priorities_id - 1] = element.affair_priority
      });
      this.updateSeriesLine()
      this.$q.loading.hide();
    }).catch(() => {
      this.$q.loading.hide();
    });
  },
  methods: {
    redirect() {
    },
    updateSeriesLine() {
      this.$refs.realtimeChart.updateSeries([{
        data: this.series[0].data,
      }], false, true);
    },
    getAgenda (day) {
      return this.agenda[parseInt(day.weekday, 10)]
    },
    renderpdf(id) {
      UploadFileService.showFile(id).then((file) => {
        this.src = window.URL.createObjectURL(new Blob([file.data]));
        this.officeDialog = true;
      }).catch((err) => {
        console.log(err)
      })
    },
  },
}
</script>
