<template>
  <div class="q-gutter-md">
    <q-card>
      <q-card-section  align="center">
        <div class="row">
          <div class="col-11 text-h6">
            <q-icon size="sm" name="analytics"/> Estadísticas
          </div>
        </div>
      </q-card-section>
    </q-card>
    <div>
    <q-card>
      <q-card-section>
        <q-tabs
          v-model="tab"
          dense
          active-color="black"
          indicator-color="black"
          align="justify"
          narrow-indicator
          class="text-grey shadow-2"
        >
          <q-tab name="statistics" label="Mis Estadísticas" />
          <q-separator vertical />
          <q-tab name="unit_statistics" label="Estadísticas de la Unidad" />
        </q-tabs>

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="statistics">
            <Statistics @change-tab="changeTab"/>
          </q-tab-panel>

          <q-tab-panel name="unit_statistics">
            <UnitStatistics />
          </q-tab-panel>
        </q-tab-panels>
      </q-card-section>
    </q-card>
  </div>
  </div>
</template>

<script>

import Statistics from './partials/Statistics';
import UnitStatistics from './partials/UnitStatistics';

export default {
  components: { Statistics, UnitStatistics },
  data() {
    return {
      tab: 'statistics',
    }
  },
  methods: {
    changeTab() {
      this.tab = 'unit_statistics'
    }
  },
}

</script>

<style lang="sass">
.my-menu-link
  color: white
  background: $primary
</style>
