<template>
<div class="window-height window-width row justify-center items-center">
  <div class="justify-center items-center">
    <div class="row q-col-gutter-sm text-center">
      <q-form ref="loginForm" class="q-gutter-lg">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div style="width:250px"></div>
          <q-img :src="`${this.$axios.defaults.baseURL}/api/upImage/${1}`" spinner-color="white" width="150"/>
          <!-- <q-img v-if="!config.file_id" src="~assets/logos/infotec.png" width="150"/> -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <q-input for="username" square filled outlined label="Usuario" :rules="[val => !!val || 'Este campo es requerido']" v-model="credentials.username"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <q-input for="password" square filled :type="isPwd ? 'password' : 'text'"  outlined label="Contraseña"
          :rules="[val => !!val || 'Este campo es requerido']"  v-model="credentials.password">
             <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"/>
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <q-btn id="login" outline rounded color="primary" @click="submit()" label="Acceder" />
        </div>
        <div class="text-subtitle1 q-mt-md q-mb-xs"><router-link to="forgot">¿Olvido su contraseña?</router-link> </div>
      </q-form>
      <q-dialog v-model="newUser" persistent transition-show="scale" transition-hide="scale">
          <q-card style="width: 700px; max-width: 80vw" v-if="rusp == true">
            <q-card-section class="bg-primary text-white" >
              <q-item>
                <q-item-section avatar >
                    <q-icon size="md" name="fab fa-rust"/>
                </q-item-section>
                <q-item-section>
                  <q-item-label>Validación de Registro en el RUSP </q-item-label>
                  <q-item-label caption class="text-white">
                    Ingrese CURP y RFC
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-card-section>
            <div class="q-pa-sm">
              <q-card-section>
                <div class="row q-col-gutter-sm">
                  <div class="col-xs-12 col-sm-12 col-md-6">
                    <q-input class="text-uppercase" v-model="formValid.curp" :rules="[val => !!val || 'Este campo es requerido']" square outlined label="CURP" />
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6">
                    <q-input class="text-uppercase" v-model="formValid.rfc" :rules="[val => !!val || 'Este campo es requerido']" square outlined label="RFC" />
                  </div>
                </div>
              </q-card-section>
              <q-card-actions align="right">
                <q-btn flat v-close-popup label="Cancelar" color="primary" />
                <q-btn flat @click="sendInfo()" label="Comprobar" color="primary" />
              </q-card-actions>
            </div>
          </q-card>
        <q-card style="width: 850px; max-width: 80vw" v-if="recorUser == true">
          <div>
            <q-card-section class="bg-primary text-white" >
              <q-item>
              <q-item-section avatar>
                  <q-icon size="md" name="fas fa-users"/>
              </q-item-section>
              <q-item-section>
                <q-item-label>Registro de Usuarios </q-item-label>
                <q-item-label caption class="text-white">
                  Ingrese los siguientes campos
                </q-item-label>
              </q-item-section>
              </q-item>
            </q-card-section>
            <q-separator />
            <q-card-section>
              <q-form ref="form">
                <div class="row q-col-gutter-sm">
                  <div class="col-xs-12 col-sm-12 col-md-4">
                    <q-input :rules="[val => !!val || 'Este campo es requerido']" v-model="form.username" square outlined label="Usuario" />
                    </div>
                  <div class="col-xs-12 col-sm-12 col-md-4">
                    <q-input :rules="[val => !!val || 'Este campo es requerido']" type="password" v-model="form.password" square outlined label="Contraseña" />
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4">
                    <q-input :rules="[val => !!val || 'Este campo es requerido']" v-model="formp.name" square outlined label="Nombre(s)" />
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4">
                    <q-input :rules="[val => !!val || 'Este campo es requerido']" v-model="formp.last_name" square outlined label="Apellido Paterno" />
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4">
                    <q-input :rules="[val => !!val || 'Este campo es requerido']" v-model="formp.second_lastname" square outlined label="Apellido Materno" />
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4">
                    <q-input :rules="[(val) => !!val || 'Este campo es obligatorio', isValidEmail]"  v-model="formp.email" square outlined label="Correo electrónico"/>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4">
                    <q-input  v-model="formp.phone" square outlined label="Teléfono" mask="(##) #### - ####" />
                  </div>
                </div>
              </q-form>
              </q-card-section>
              <q-card-actions align="right">
                <q-btn flat v-close-popup label="Cancelar" color="primary" />
                <q-btn flat @click="store()" label="Guardar" color="primary" />
              </q-card-actions>
            </div>
        </q-card>
        </q-dialog>
        <q-dialog v-model="validationCurpRfc" noBackdropDismiss>
          <q-card>
            <q-card-section class="bg-green-13 text-white row items-center q-pb-none">
              <div class="text-h6">La información se encuentra validada</div>
            </q-card-section>
            <q-card-section>
              El numero de clave unica es: CLAVEUNICA
            </q-card-section>
            <q-card-actions align="right">
              <q-btn flat label="Continuar" @click="recorUser = true" color="primary" v-close-popup/>
            </q-card-actions>
          </q-card>
        </q-dialog>
        <q-dialog v-model="notValidCurpRfc">
          <q-card>
            <q-card-section class="bg-negative text-white row items-center q-pb-none">
              <div class="text-h6">INFORMACIÓN NO VALIDADA</div>
            </q-card-section>
            <q-card-section>
              Usuario no encontrado en el RUSP
            </q-card-section>
            <q-card-actions align="right">
              <q-btn @click="sendReload()" flat label="Cerrar" v-close-popup  />
            </q-card-actions>
          </q-card>
        </q-dialog>
        <q-dialog v-model="confirm" persistent>
          <q-card>
            <q-card-section class="row items-center">
              <span class="q-ml-sm">{{ message }}</span>
            </q-card-section>

            <q-card-actions align="right">
              <q-btn flat label="Aceptar" color="primary" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>
        <q-dialog v-model="assistants">
          <q-card style="min-width: 400px">
            <q-card-section>
              <div class="text-h6">Elija el puesto</div>
            </q-card-section>
            <q-card-section>
              <q-list bordered separator>
                  <q-item v-for="(item) in bosses" :key="item.id" @click="assitantSession(item.boss_id, item.assistant_id)" clickable v-ripple>
                      <q-item-section avatar>
                          <q-avatar>
                              <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                          </q-avatar>
                      </q-item-section>
                      <q-item-section>{{item.fullname}}</q-item-section>
                      <q-item-section side v-if="item.main==true">
                        <q-icon name="star" color="yellow" />
                      </q-item-section>
                  </q-item>
                  <q-separator />
              </q-list>
            </q-card-section>
            <q-card-actions align="right" class="text-primary">
            </q-card-actions>
          </q-card>
      </q-dialog>
    </div>
  </div>
  <div class="text-caption absolute-bottom-right">v1.10.25 | 18/04/23</div>
</div>
</template>

<script>
import { QSpinnerFacebook } from 'quasar'
import { notifySuccess, notifyAlert } from 'src/utils/notify';
import * as UserService from 'src/services/admin/UserService';
import * as PeopleService from 'src/services/PeopleService';

export default {
  name: 'Login',
  data() {
    return {
      assistants: false,
      bosses: [],
      confirm: false,
      message: '',
      isPwd: true,
      credentials: {
        username: '',
        password: '',
      },
      formValid: {
        curp: '',
        rfc: '',
      },
      form: {
        username: '',
        password: '',
      },
      formp: {
        name: '',
        last_name: '',
        second_lastname: '',
        email: '',
        phone: '',
        position_id: 31,
      },
      newUser: false,
      recorUser: false,
      rusp: true,
      validationCurpRfc: false,
      notValidCurpRfc: false,
      type: ''
    };
  },
  computed: {
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    config: {
      get() {
        return this.$store.state.config
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      }
    }
  },
  created() {
  },
  methods: {
    isValidEmail(val) {
      const emailPattern = /^(?=[a-zA-Z0-9@.%+-]{6,254}$)[a-zA-Z0-9.%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || 'Debe ingresar un correo válido';
    },
    sendInfo() {
      this.$q.loading.show({
        spinner: QSpinnerFacebook,
        spinnerColor: 'primary',
        spinnerSize: 140,
        backgroundColor: 'black',
        message: 'Consultando información en RUSP'
      });
      setTimeout(() => {
        this.$q.loading.hide();
      }, 3000);
      setTimeout(() => {
        this.rusp = false;
        if (this.formValid.curp !== '' || this.formValid.rfc !== '') {
          this.validationCurpRfc = true;
        } else {
          this.notValidCurpRfc = true;
        }
      }, 3000)
    },
    store() {
      this.$refs.form.validate().then((valid) => {
        if (valid) {
          this.$q.loading.show();
          this.formp.username = this.form.username;
          const form = { ...this.form };
          const formp = { ...this.formp };
          UserService.save(form).then(() => {
            PeopleService.save(formp).then(() => {
              notifySuccess('Se ha creado el usuario correctamente');
              this.$q.loading.hide();
              this.recorUser = false;
              window.location.reload();
            })
          }).catch((err) => {
            notifyAlert(err)
            console.log(err);
          })
        }
      })
    },
    sendReload() {
      setTimeout(() => {
        window.location.reload();
      }, 200);
    },
    submit() {
      this.$refs.loginForm.validate().then((valid) => {
        if (valid) {
          this.$q.loading.show();
          const credentials = { ...this.credentials }
          this.$store.dispatch('user/login', credentials).then((res) => {
            this.$q.loading.hide();
            if (res.authenticated) {
              this.$router.push('/');
            } else if (typeof res.flg !== 'undefined') {
              this.assistants = true
              this.bosses = res.bosses
            } else {
              this.message = res.message
              this.confirm = true
            }
          }).catch(() => {
          });
        }
      });
    },
    assitantSession(bossId, userId) {
      this.$q.loading.show();
      const positionIdObj = { boss_id: bossId, user_id: userId, type: 'assistant' }
      window.sessionStorage.clear();
      this.$store.dispatch('user/login', positionIdObj).then((res) => {
        this.$q.loading.hide();
        if (res.authenticated) {
          sessionStorage.removeItem('type');
          if (res.user.is_assistant) {
            this.type = 'assistant'
          }
          sessionStorage.setItem('type', this.type);
          window.location.reload()
          this.$router.push('/');
        } else {
          this.$q.notify({
            icon: 'fas fa-exclamation-circle',
            color: 'negative',
            position: 'top-right',
            textColor: 'white',
            message: 'Ocurrio un error',
          });
        }
      }).catch((err) => {
        console.log(err.response.data.message)
      });
    }
  },
};
</script>
