<template>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 q-mb-md float-right">
      <br />
      <q-card class="q-mx-sm">
        <div class="row justify-center items-center">
          <q-btn flat dense icon="fas fa-arrow-left" @click="calendarPrev">
            <q-tooltip>Anterior</q-tooltip>
          </q-btn>
          <q-separator vertical />
          <q-btn flat v-if="week != maxWeek" dense icon="fas fa-arrow-right" @click="calendarNext">
            <q-tooltip>Siguiente</q-tooltip>
          </q-btn>
        </div>
        <q-separator />
        <q-calendar
          ref="calendar"
          v-model="selectedDate"
          view="week-agenda"
          animated
          transition-prev="slide-right"
          transition-next="slide-left"
          :weekdays="[1, 2, 3, 4, 5]"
          locale="es"
          style="height: 285px"
        >
          <template #day-body="{ timestamp }">
            <template v-for="agenda in getAgenda(timestamp)">
              <q-card
                :key="timestamp.date + agenda.folio"
                :label="agenda.folio"
                class="justify-start q-ma-sm"
              >
                <div v-if="agenda.folio" class="text-subtitle2 col-12 q-px-sm">
                  {{ agenda.folio }}
                </div>
                <div class="text-grey-8 q-ma-sm row justify-between">
                  <div class="col justify-end">
                    <q-icon
                      name="circle"
                      :class="{
                        'text-red': agenda.priority_id === 1,
                        'text-yellow': agenda.priority_id === 2,
                        'text-green': agenda.priority_id === 3,
                      }"
                    />
                  </div>
                  <q-btn
                    class="gt-xs q-mb-xs"
                    size="12px"
                    flat
                    dense
                    round
                    icon="fas fa-eye"
                    @click="renderpdf(agenda.id, agenda.affair_type, agenda.folio)"
                  />
                </div>
              </q-card>
            </template>
          </template>
        </q-calendar>
      </q-card>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 q-mb-md">
      <br />
      <q-card>
        <div class="text-center">
          <strong>Asuntos pendientes por contestar</strong>
        </div>
        <div>
          <apexchart
            width="100%"
            height="250px"
            type="bar"
            :options="chartOptions"
            :series="series"
            ref="realtimeChart"
          ></apexchart>
        </div>
      </q-card>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">
      <q-table
        grid
        :data="data"
        :columns="columns"
        row-key="name"
        hide-header
        hide-bottom
      >
        <template v-slot:item="props">
          <div class="q-pa-xs col-xs-12 col-sm-6 col-md-4">
            <q-card>
              <q-card-section
                class="text-center"
                clickable
                v-ripple
                style="cursor: pointer"
              >
                <strong>{{ props.row.name }}</strong>
              </q-card-section>
              <q-separator />
              <q-card-section class="flex flex-center">
                <div>{{ props.row.affair }}</div>
              </q-card-section>
            </q-card>
          </div>
        </template>
      </q-table>
      <!-- boton excel -->
      <div class="col-xs-12 col-sm-4 col-md-4 q-mb-md float-right">
        <div class="q-pa-md q-gutter-sm">
          <q-btn color="green" icon="description" label="Exportar" @click="Generate()" />
          <!-- <a
              type="button"
              :href="url"
          >
              <q-btn color="green" icon="description" label="Exportar" @click="Generate()" />
          </a> -->
        </div>
      </div>
    </div>
    <q-dialog v-model="officeDialog" full-height full-width>
      <q-card style="width: 50vw; overflow-y: hidden">
        <q-card-section class="full-height">
          <q-btn
            class="float-right"
            flat
            v-close-popup
            icon-right="close"
            label="Cerrar"
          />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  <div class="col-xs-12 col-sm-4 col-md-4 q-mb-md">
    <q-card>
      <div class="text-center">
        <strong>Asuntos urgentes por contestar</strong>
      </div>
      <template v-for="urgent in urgents">
        <q-card style="cursor: pointer;" :key="urgent.id"  class="my-card"  @click="redirectUrgent(urgent.id, urgent.affair_type)">
          <q-card-section class="text-grey-8 q-ma-sm row justify-between" >
            <div class="text-h6">{{ urgent.subject }}</div>
            <q-separator />
            <div class="text-subtitle2">fecha compromiso <br /> {{ urgent.attention_date }}</div>
          </q-card-section>
        </q-card>
      </template>
    </q-card>
  </div>
  </div>
</template>

<script>
/* eslint-disable */
import VueApexCharts from "vue-apexcharts";
import * as StatisticsService from "src/services/StatisticsService";
import * as UploadFileService from "src/services/global/UploadFileService";
import * as LogBookService from 'src/services/admin/LogBookService';
import { date } from 'quasar'

export default {
  components: {
    apexchart: VueApexCharts,
  },
  data() {
    return {
      urgents: [],
      selectedDate: "",
      officeDialog: false,
      src: null,
      chartOptions: {
        chart: {
          type: "bar",
          height: 350,
        },
        plotOptions: {
          bar: {
            borderRadius: 4,
          },
        },
        dataLabels: {
          enabled: false,
        },
        xaxis: {
          categories: ["Urgente", "Normal"],
        },
        yaxis: {
          labels: {
            formatter: (val) => {
              return val.toFixed();
            },
          },
        },
        colors: ["#621132", "#B28E5C"],
      },
      series: [
        {
          name: 'asuntos',
          data: [0, 0, 0],
        },
      ],
      data: [],
      columns: [
        { name: "name", label: "Name", field: "name" },
        { name: "affair", label: "Asuntos", field: "affair" },
      ],
      columnsUrgents: [
        { name: "titulo", label: "Titulo", field: "titulo" },
        { name: "asuntos", label: "Asuntos", field: "asuntos" },
      ],
      agenda: {
        // value represents day of the week
        1: [],
        2: [],
        3: [],
        4: [],
        5: [],
      },
      url: '',
      week: '',
      maxWeek: ''
    };
  },
  created() {
    this.$q.loading.show();
    StatisticsService.getStatistics()
      .then((data) => {
        this.urgents = data.affairs_urgent_priority;
        this.data = [
          {
            name: "Total de documentos en la historia",
            affair: data.affairs_hitorical,
          },
          { name: "Elaborados por mí", affair: data.affairs_outbox },
          {
            name: "Asignados a mí como destinatario",
            affair: data.affairs_inbox,
          },
          { name: "Turnados a mí", affair: data.affairs_turn },
          { name: "Turnados por mí", affair: data.affairs_sent_turn },
        ];
        data.affair_schedule.forEach((element) => {
          const day = new Date(element.commitment_date).getDay();
          this.agenda[day + 1].push(element);
        });
        const priorityArray = data.affairs_priority;
        // console.log(priorityArray);
        priorityArray.forEach((element) => {
          this.series[0].data[element.cat_priorities_id - 1] =
            element.affair_priority;
        });
        this.updateSeriesLine();
        this.maxWeek = data.max_week
        this.$q.loading.hide();
      })
      .catch(() => {
        this.$q.loading.hide();
      });
      const newDate = new Date()
      // this.week = date.getWeekOfYear(newDate)
      this.week = this.ISO8601_week_no(newDate)
  },
  mounted() {
    let temp;
    let x = document.querySelectorAll('span.ellipsis')
    x.forEach((node) => {
      temp = node.textContent
      node.innerHTML = temp.charAt(0).toUpperCase() + temp.slice(1)
    })
  },
  methods: {
    redirectUrgent(affairId, affairType) {
      console.log(affairId);
      //this.$router.push(`/reception/${affairId}/edit`);
      if (affairType === 'Asunto Interno') {
        this.$router.push(`internal-affair/${affairId}/edit`)
      } else if (affairType === 'Asunto externo de entrada') {
        this.$router.push(`/reception/${affairId}/edit`);
      }
    },
    updateSeriesLine() {
      this.$refs.realtimeChart.updateSeries(
        [
          {
            data: this.series[0].data,
          },
        ],
        false,
        true
      );
    },
    getAgenda(day) {
      return this.agenda[parseInt(day.weekday, 10)];
    },
    calendarNext () {
      const positionId = window.sessionStorage.getItem('position_id');
      this.$refs.calendar.next()
      this.week = this.week+1
      this.agenda = {
        1: [],
        2: [],
        3: [],
        4: [],
        5: [],
      };
      StatisticsService.getScheduleByWeek({ params: { positionId } }, this.week)
      .then((data) => {
        data.affair_schedule.forEach((element) => {
          const day = new Date(element.commitment_date).getDay();
          this.agenda[day + 1].push(element);
        });
      })
      .catch(() => {
        this.$q.loading.hide();
      });
    },
    calendarPrev () {
      const positionId = window.sessionStorage.getItem('position_id');
      this.$refs.calendar.prev()
      this.week = this.week-1
      this.agenda = {
        1: [],
        2: [],
        3: [],
        4: [],
        5: [],
      };
      StatisticsService.getScheduleByWeek({ params: { positionId } }, this.week)
      .then((data) => {
        data.affair_schedule.forEach((element) => {
          const day = new Date(element.commitment_date).getDay();
          this.agenda[day + 1].push(element);
        });
      })
      .catch(() => {
        this.$q.loading.hide();
      });
    },
    renderpdf(id, affairType, folio) {

      if (affairType === 'Asunto Interno') {
        const data = {}
        data.action = 'read'
        data.detail = `Se ha leido el asunto con folio ${folio}`
        LogBookService.store(data).then((response) => {
        }).catch((err) => {
          console.log(err)
        })
        UploadFileService.showFile(id).then((file) => {
          this.src = window.URL.createObjectURL(new Blob([file.data]));
          this.officeDialog = true;
        }).catch((err) => {
          console.log(err)
        })
      } else if (affairType === 'Asunto externo de entrada') {
        const data = {}
        data.action = 'read'
        data.detail = 'Se ha leido el asunto externo'
        LogBookService.store(data).then((response) => {
          console.log(response)
        }).catch((err) => {
          console.log(err)
        })
        const positionId = window.sessionStorage.getItem('position_id');
        UploadFileService.externalShowFile({ position_id: positionId }, id).then((file) => {
          this.src = window.URL.createObjectURL(new Blob([file.data]));
          this.officeDialog = true;
        }).catch((err) => {
          console.log(err)
        })
      }
    },
    Generate() {
      // alert(selectedID);
      //console.log(this.$store.state.user.information.position_id)
      StatisticsService.getMemberExport(this.$store.state.user.information.position_id)
        .then((data) => {
          const today = new Date();
          var mes = String(today.getMonth() + 1).padStart(2, '0');
          var dia = String(today.getDate()).padStart(2, '0');
          var fileName = 'Individual_'+today.getFullYear()+'/'+mes+'/'+dia+'.xlsx';
          var fileURL = window.URL.createObjectURL(new Blob([data]));
          var fileLink = document.createElement('a');
          fileLink.href = fileURL;
          fileLink.setAttribute('download', fileName);
          document.body.appendChild(fileLink);
          fileLink.click();
        })
        .catch(() => {
          this.$q.loading.hide();
        });
      /* var uri = window.location.href;
      var route = uri.replace('8080', '8000');
      this.url = route+'api/statistics/getExcelMember/'+ this.$store.state.user.information.position_id; */
    },
    ISO8601_week_no(dt) {
      //console.log(dt);
      var tdt = new Date(dt.valueOf());
      var dayn = (dt.getDay() + 6) % 7;
      tdt.setDate(tdt.getDate() - dayn + 3);
      var firstThursday = tdt.valueOf();
      tdt.setMonth(0, 1);
      if (tdt.getDay() !== 4) {
        tdt.setMonth(0, 1 + ((4 - tdt.getDay()) + 7) % 7);
      }
      return 1 + Math.ceil((firstThursday - tdt) / 604800000);
    }
  },
};
</script>
