<template>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 q-mb-md">
      <br />
      <q-card class="q-mx-sm">
        <div class="row justify-center items-center">
          <q-btn flat dense icon="fas fa-arrow-left" @click="calendarPrev">
            <q-tooltip>Anterior</q-tooltip>
          </q-btn>
          <q-separator vertical />
          <q-btn flat v-if="week != maxWeek" dense icon="fas fa-arrow-right" @click="calendarNext">
            <q-tooltip>Siguiente</q-tooltip>
          </q-btn>
        </div>
        <q-separator />
        <q-calendar
          ref="calendar"
          v-model="selectedDate"
          view="week-agenda"
          nimated
          transition-prev="slide-right"
          transition-next="slide-left"
          :weekdays="[1, 2, 3, 4, 5]"
          locale="es"
          style="height: 285px"
        >
          <template #day-body="{ timestamp }">
            <template v-for="agenda in getAgenda(timestamp)">
              <q-card
                :key="timestamp.date + agenda.folio"
                :label="agenda.folio"
                class="justify-start q-ma-sm"
              >
                <div v-if="agenda.folio" class="text-subtitle2 col-12 q-px-sm">
                  {{ agenda.folio }}
                </div>
                <div class="text-grey-8 q-ma-sm row justify-between">
                  <div class="col justify-end">
                    <q-icon
                      name="circle"
                      :class="{
                        'text-red': agenda.priority_id === 1,
                        'text-yellow': agenda.priority_id === 2,
                        'text-green': agenda.priority_id === 3,
                      }"
                    />
                  </div>
                  <q-btn
                    class="gt-xs q-mb-xs"
                    size="12px"
                    flat
                    dense
                    round
                    icon="fas fa-eye"
                    @click="renderpdf(agenda.id)"
                  />
                </div>
              </q-card>
            </template>
          </template>
        </q-calendar>
      </q-card>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 q-mb-md">
      <br />
      <q-card>
        <div class="text-center">
          <strong>Asuntos pendientes por contestar</strong>
        </div>
        <div>
          <apexchart
            width="100%"
            height="250px"
            type="bar"
            :options="chartOptions"
            :series="series"
            ref="realtimeChart"
          ></apexchart>
        </div>
      </q-card>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <q-table
        grid
        :data="data"
        :columns="columns"
        row-key="name"
        hide-header
        hide-bottom
      >
        <template v-slot:item="props">
          <div class="q-pa-xs col-xs-12 col-sm-6 col-md-4">
            <q-card>
              <q-card-section
                class="text-center"
                clickable
                v-ripple
                @click="redirect()"
                style="cursor: pointer"
              >
                <strong>{{ props.row.name }}</strong>
              </q-card-section>
              <q-separator />
              <q-card-section class="flex flex-center">
                <div>{{ props.row.affair }}</div>
              </q-card-section>
            </q-card>
          </div>
        </template>
      </q-table>
    </div>
    <br />
    <br />
    <div class="q-pa-xs col-xs-12 col-sm-6 col-md-4">
      <q-card>
        <q-list bordered separator>
          <q-item
            v-for="item in memberList"
            :key="item.position_id"
            @click="memberStatistics(item.position_id)"
            clickable
            v-ripple
          >
            <q-item-section avatar>
              <q-avatar>
                <img src="https://cdn.quasar.dev/img/boy-avatar.png" />
              </q-avatar>
            </q-item-section>
            <q-item-section
              >{{ item.name }} {{ item.last_name }}
              {{ item.second_lastname }}</q-item-section
            >
          </q-item>
          <q-separator />
        </q-list>
      </q-card>
    </div>
    <q-space />
    <q-space />
    <!-- boton excel -->
    <div class="col-xs-12 col-sm-4 col-md-4 q-mb-md float-right">
      <div class="q-pa-md q-gutter-sm float-right">
        <q-btn
          v-if="memberList.length !== 0"
          color="green"
          icon="description"
          label="Exportar"
          @click="chooseMember()"
        />
      </div>
    </div>
    <q-dialog v-model="officeDialog" full-height full-width>
      <q-card style="width: 50vw; overflow-y: hidden">
        <q-card-section class="full-height">
          <q-btn
            class="float-right"
            flat
            v-close-popup
            icon-right="close"
            label="Cerrar"
          />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="membersDialog" persistent>
      <q-card style="width: 450px">
        <q-card-section class="q-pb-none">
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="description" /> Usuario
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section class="q-pt-none">
          <!-- Lista -->
          <q-form ref="sendToform">
            <q-select
              clearable
              v-model="selectedMember"
              class="q-mt-lg"
              :options="memberListSel"
              option-value="position_id"
              option-label="fullName"
              :rules="[$rules.required($i18n.t('requiredInput'))]"
            />
          </q-form>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn color="primary" label="Cancelar" @click="Cancel()" />
          <q-btn
            color="primary"
            label="Generar"
            @click="Generate(selectedMember.position_id)"
          />
          <!-- <a
              type="button"
              :href="url"
          >
              <q-btn
                color="primary"
                label="Generar"
                :disable="selectedMember.position_id == undefined"
                @click="Generate(selectedMember.position_id)"
              />
          </a> -->
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
/* eslint-disable */
import VueApexCharts from "vue-apexcharts";
import * as StatisticsService from "src/services/StatisticsService";
import * as UploadFileService from "src/services/global/UploadFileService";
import { date } from 'quasar'

export default {
  components: {
    apexchart: VueApexCharts,
  },
  data() {
    return {
      selectedDate: "",
      officeDialog: false,
      membersDialog: false,
      selectedMember: "",
      colectPositions: "",
      src: null,
      // selectedID: '',
      chartOptions: {
        chart: {
          type: "bar",
          height: 350,
        },
        plotOptions: {
          bar: {
            borderRadius: 4,
          },
        },
        dataLabels: {
          enabled: false,
        },
        xaxis: {
          categories: ["Urgente", "Normal"],
        },
        yaxis: {
          labels: {
            formatter: (val) => {
              return val.toFixed();
            },
          },
        },
        colors: ["#621132", "#B28E5C"],
      },
      series: [
        {
          data: [0, 0, 0],
        },
      ],
      data: [],
      columns: [
        { name: "name", label: "Name", field: "name" },
        { name: "affair", label: "Asuntos", field: "affair" },
      ],
      agenda: {
        // value represents day of the week
        1: [],
        2: [],
        3: [],
        4: [],
        5: [],
      },
      memberList: "",
      memberListSel: [],
      url: "",
      week: '',
      maxWeek: ''
    };
  },
  created() {
    this.$q.loading.show();
    StatisticsService.getUnitStatistics()
      .then((data) => {
        console.log(data);
        this.data = [
          {
            name: "Total de documentos en la historia",
            affair: data.affairs_hitorical,
          },
          { name: "Elaborados por la unidad", affair: data.affairs_outbox },
          {
            name: "Asignados a la unidad como destinatario",
            affair: data.affairs_inbox,
          },
          { name: "Turnados a la unidad", affair: data.affairs_turn },
          { name: "Turnados por la unidad", affair: data.affairs_sent_turn },
        ];
        data.affair_schedule.forEach((element) => {
          const day = new Date(element.commitment_date).getDay();
          this.agenda[day + 1].push(element);
        });
        const priorityArray = data.affairs_priority;
        // console.log(priorityArray);
        priorityArray.forEach((element) => {
          this.series[0].data[element.cat_priorities_id - 1] =
            element.affair_priority;
        });
        this.updateSeriesLine();
        this.maxWeek = data.max_week
        this.$q.loading.hide();
        // console.log(this.$store.state.user.information.position_id);
        // console.log(data.unit_positions);
        this.memberList = data.unit_positions;
        for (const i in this.memberList) {
          if (
            this.memberList[i].position_id ==
            this.$store.state.user.information.position_id
          ) {
            var idx = i;
            //console.log(idx)
          }
          this.memberList[i].fullName =
            this.memberList[i].name +
            " " +
            this.memberList[i].last_name +
            " " +
            this.memberList[i].second_lastname;
          this.colectPositions += this.memberList[i].position_id + "|";
          this.memberListSel.push(this.memberList[i]);
        }
        this.memberList.splice(idx, 1);
        this.memberListSel.splice(idx, 1);
        this.memberListSel.unshift({
          fullName: "Todos",
          position_id: this.colectPositions,
        });
        console.log(this.memberList, this.memberListSel);
      })
      .catch(() => {
        this.$q.loading.hide();
      });
      const newDate = new Date()
      //this.week = date.getWeekOfYear(newDate)
      this.week = this.ISO8601_week_no(newDate)
  },
  methods: {
    redirect() {},
    updateSeriesLine() {
      this.$refs.realtimeChart.updateSeries(
        [
          {
            data: this.series[0].data,
          },
        ],
        false,
        true
      );
    },
    getAgenda(day) {
      return this.agenda[parseInt(day.weekday, 10)];
    },
    calendarNext () {
      const positionId = window.sessionStorage.getItem('position_id');
      this.$refs.calendar.next()
      this.week = this.week+1
      this.agenda = {
        1: [],
        2: [],
        3: [],
        4: [],
        5: [],
      };
      StatisticsService.getUnitScheduleByWeek({ params: { positionId } }, this.week)
      .then((data) => {
        data.affair_schedule.forEach((element) => {
          const day = new Date(element.commitment_date).getDay();
          this.agenda[day + 1].push(element);
        });
      })
      .catch(() => {
        this.$q.loading.hide();
      });
    },
    calendarPrev () {
      const positionId = window.sessionStorage.getItem('position_id');
      this.$refs.calendar.prev()
      this.week = this.week-1
      this.agenda = {
        1: [],
        2: [],
        3: [],
        4: [],
        5: [],
      };
      StatisticsService.getUnitScheduleByWeek({ params: { positionId } }, this.week)
      .then((data) => {
        data.affair_schedule.forEach((element) => {
          const day = new Date(element.commitment_date).getDay();
          this.agenda[day + 1].push(element);
        });
      })
      .catch(() => {
        this.$q.loading.hide();
      });
    },
    renderpdf(id) {
      UploadFileService.showFile(id)
        .then((file) => {
          this.src = window.URL.createObjectURL(new Blob([file.data]));
          this.officeDialog = true;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    memberStatistics(position_id) {
      this.$router.push(`statistics/position/${position_id}`);
    },
    chooseMember() {
      this.membersDialog = true;
    },
    Cancel() {
      this.membersDialog = false;
    },
    Generate(selectedID) {
      /* var uri = window.location.href;
      var route = uri.replace('8080', '8000'); */
      // alert(uri);
      this.$refs.sendToform.validate().then((valid) => {
        // this.url = route+'api/statistics/getExcelMember/'+ selectedID;
        StatisticsService.getMemberExport(selectedID)
          .then((data) => {
            console.log(data);
            const today = new Date();
            var mes = String(today.getMonth() + 1).padStart(2, '0');
            var dia = String(today.getDate()).padStart(2, '0');
            var fileName = 'Unidad_'+today.getFullYear()+'/'+mes+'/'+dia+'.xlsx';
            var fileURL = window.URL.createObjectURL(new Blob([data]));
            var fileLink = document.createElement("a");
            fileLink.href = fileURL;
            fileLink.setAttribute("download", fileName);
            document.body.appendChild(fileLink);
            fileLink.click();
            this.membersDialog = false;
          })
          .catch((err) => {
            console.log(err.response.data.message);
          });
      });
    },
    ISO8601_week_no(dt) {
      //console.log(dt);
      var tdt = new Date(dt.valueOf());
      var dayn = (dt.getDay() + 6) % 7;
      tdt.setDate(tdt.getDate() - dayn + 3);
      var firstThursday = tdt.valueOf();
      tdt.setMonth(0, 1);
      if (tdt.getDay() !== 4) {
        tdt.setMonth(0, 1 + ((4 - tdt.getDay()) + 7) % 7);
      }
      return 1 + Math.ceil((firstThursday - tdt) / 604800000);
    }
  },
};
</script>
