<template>
  <div style="width:100%;height:100vh;">
    <q-card>
      <q-card class="row">
        <q-card-actions>
          <q-btn flat @click="$router.back()" icon="arrow_back" color="primary">
            <q-tooltip>Regresar</q-tooltip>
          </q-btn>
        </q-card-actions>
        <q-card-section>
          <div class="text-h6">
            <q-icon size="sm" name="fas fa-user-shield"/> Propietario del documento: {{ `${owner.people_name} ${owner.last_name} ${owner.second_lastname}` }}
          </div>
        </q-card-section>
      </q-card>
      <q-card v-if="form2.token.isOwner !== true">
        <q-card-section>
          <q-btn flat @click="guestFinishCollab()" icon="fas fa-window-close" color="primary"> Finalizar colaboración
            <q-tooltip>Finalizar colaboración</q-tooltip>
          </q-btn>
        </q-card-section>
      </q-card>
      <q-card-section>
        <div class="text-h6">
          <q-icon size="sm" name="fas fa-handshake"/> Usuarios en colaboración
          <q-btn flat size="sm" class="q-ml-sm float-right" color="primary" @click="newCollaborator()" icon="fas fa-user-plus">
            <q-tooltip>Agregar Colaborador</q-tooltip>
          </q-btn>
          <q-btn  flat class="q-ml-sm float-right" @click="collabHistory()" color="primary" icon="fab fa-slideshare">
          <q-tooltip>Seguimiento</q-tooltip>
        </q-btn>
        </div>
      </q-card-section>
      <q-separator/>
      <q-card-section>
        <div class="col-xs-12 col-sm-12 col-md-12" v-for="(collaborator) in collaboratorsArray" :key="collaborator.id">
          <q-banner rounded class="bg-grey-3">
            <q-item-label>
              <div class="text-subtitle1">
                <!-- <q-avatar size="30px">
                  <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                </q-avatar> -->
                {{
                  `${collaborator.position_name} / ${collaborator.people_name} ${collaborator.last_name} ${collaborator.second_lastname}`
                }}
                <q-btn v-if="form2.token.isOwner || collaborator.parent_id === user.position_id" class="float-right" round size="sm" @click="editPermissions(collaborator)" outline icon="fas fa-edit">
                  <q-tooltip class="bg-accent">Asignar Permisos</q-tooltip>
                </q-btn>
                <q-btn v-if="form2.token.isOwner || collaborator.parent_id === user.position_id" class="float-right" round size="sm" @click="deleteDialog=true; token_id_delete=collaborator.id;" outline icon="fas fa-trash-alt">
                  <q-tooltip class="bg-accent">Eliminar Colaborador</q-tooltip>
                </q-btn>
                <q-btn v-if="collaborator.acceptCollabora === false && form2.token.isOwner" class="float-right" round size="sm" @click="loadingCollaboraDialog=true" outline icon="fas fa-spinner">
                  <q-tooltip class="bg-accent">En Espera del Colaborador</q-tooltip>
                </q-btn>
                <q-btn v-if="!form2.token.isOwner && user.position_id == collaborator.position_id" class="float-right" flat size="sm" @click="showPermissions(collaborator)" color="primary" icon="fas fa-info">
                     <q-tooltip>Permisos asignados</q-tooltip>
                  </q-btn>
              </div>
            </q-item-label>
          </q-banner>
        </div>
      </q-card-section>
    </q-card>
    <q-card class="column full-height" >
      <iframe title="collabora" id="collabora-online-viewer" name="collabora-online-viewer" style="width:100%;height:100%;position:absolute;">
      </iframe>
    </q-card>
    <q-card>
      <q-card-actions align="right">
        <q-btn v-if="form2.token.isOwner" flat @click="finishCollab()" label="Finalizar colaboración" color="primary" />
      </q-card-actions>
    </q-card>
    <div style="display: none">
      <form enctype="multipart/form-data" method="post" target="collabora-online-viewer" id="collabora-submit-form">
        <input name="access_token" type="hidden" id="access-token"/>
        <input type="submit" value="" />
      </form>
    </div>
    <!-- <q-card-actions align="right">
      <q-input
        v-model="post"
        outlined
        label="post"
      />
      <q-input
        v-model="mess"
        outlined
        label="message"
      />
      <q-btn @click="sendMessage" label="Enviar"></q-btn>
    </q-card-actions> -->
    <q-dialog no-backdrop-dismiss no-esc-dismiss v-model="confirmCollaboratorDialog">
      <q-card style="width: 450px">
        <q-card-section class="q-pb-none">
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="far fa-check-square"/> Confirmar Documento Colaborativo
          </div>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <div class="col-12">
            <div class="row">
              <p class="text-center">¿Deseas aceptar la invitación al documento colaborativo?</p> <br />
            </div>
          </div>
          <div class="col-12 right">
            <q-btn @click="confirmCollaborator(true)" label="Aceptar" />
            <q-btn @click="confirmCollaborator(false)" label="Rechazar" />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="deleteDialog">
      <q-card style="width: 450px">
        <q-card-section class="q-pb-none">
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="fas fa-trash-alt"/> Eliminar Colaborador
          </div>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <div class="col-12">
            <div class="row">
              <p>¿Deseas Eliminar este Collaborador?</p>
            </div>
          </div>
          <div class="col-12 left">
            <q-btn @click="deleteCollaborators" v-close-popup color="primary" label="Eliminar Colaborador"/>
            <q-btn label="Cancelar" v-close-popup/>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="permissionsDialog">
      <q-card style="width: 450px">
        <q-card-section class="q-pb-none">
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="far fa-check-square"/> Permisos
          </div>
        </q-card-section>
        <q-separator/>
        <q-card-section>
            <div class="col-12">
              <div class="row">
                <div>
                  <q-checkbox readonly left-label v-model="form.UserCanWrite" label="Editar"/>
                  <q-checkbox readonly left-label v-model="form.HidePrintOption" label="Ocultar opción de impresión"/>
                  <q-checkbox readonly left-label v-model="form.DisablePrint" label="Deshabilitar impresión"/>
                  <q-checkbox readonly left-label v-model="form.HideSaveOption" label="Ocultar opción de guardado"/>
                  <q-checkbox readonly left-label v-model="form.HideExportOption" label="Ocultar opción de exportar"/>
                  <q-checkbox readonly left-label v-model="form.DisableExport" label="Deshabilitar acción de exportar"/>
                  <q-checkbox readonly left-label v-model="form.DisableCopy" label="Deshabilitar opción de copiar"/>
                </div>
              </div>
            </div>
            <q-btn @click="updatePermissions()" color="primary" label="Actualizar permisos" v-close-popup/>
          </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialogPeople">
      <q-card style="width: 500px; max-width: 80vw; height: 490px;">
        <q-card-section class="row items-center">
          <q-icon name="fas fa-user-friends" color="primary" :size="'lg'"/>
          <span class="q-ml-md text-h6">Agregar colaborador</span>
          <q-space />
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
        </q-card-section>
        <q-card-section>
          <q-form
            ref="sendToform"
          >
            <q-select clearable v-model="people.user" class="q-mt-lg"
              :loading="loadingResponsible"
              outlined
              option-value="id"
              option-label="full_name"
              :options="ResponsibleOptions"
              use-input
              hide-selected
              fill-input
              @filter="searchResponsible"
              label="Persona"
              :rules="[$rules.required($i18n.t('requiredInput'))]"
            />
          </q-form>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="far fa-check-square"/> Permisos
          </div>
          <div class="col-12">
            <div class="row">
              <div>
                <q-checkbox left-label v-model="form.UserCanWrite" label="Editar"/>
                <q-checkbox left-label v-model="form.HidePrintOption" label="Ocultar opción de impresión"/>
                <q-checkbox left-label v-model="form.DisablePrint" label="Deshabilitar impresión"/>
                <q-checkbox left-label v-model="form.HideSaveOption" label="Ocultar opción de guardado"/>
                <q-checkbox left-label v-model="form.HideExportOption" label="Ocultar opción de exportar"/>
                <q-checkbox left-label v-model="form.DisableExport" label="Deshabilitar acción de exportar"/>
                <q-checkbox left-label v-model="form.DisableCopy" label="Deshabilitar opción de copiar"/>
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn color="primary" label="Agregar" @click="Add()"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="trace" >
      <q-card style="width: 700px; max-width: 80vw; height: 490px;">
        <q-card-section class="row items-center">
          <q-icon name="timeline" color="primary" :size="'lg'"/>
          <span class="q-ml-md text-h6">Seguimiento Colaborativo</span>
          <q-space />
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
        </q-card-section>
        <q-card-section class="scroll q-px-xl">
          <q-tree
            node-key="id"
            :nodes="collabHistoryArray"
          >
            <template v-slot:default-header="prop">
              <div class="row items-center">
                <div class="text-weight-bold">{{ prop.node.full_name }}
                  <br>
                  <span class="text-caption" :class="(prop.node.deleted_at === null) ? 'text-green' : 'text-red' ">
                  {{ (prop.node.deleted_at === null) ? "Colaborando" : "Finalizado" }}
                  <br>
                  Desde {{prop.node.created_date}} {{ (prop.node.deleted_at === null) ?  '' : `hasta ${setDate(prop.node.deleted_at)}` }}
                  </span>
                </div>
              </div>
            </template>

          </q-tree>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="readonlyDialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row items-center">
          <q-icon name="info" class="text-primary" :size="'lg'"/>
          <span class="q-ml-md text-h6">Información</span>
          <q-space/>
          <q-btn class="float-right" flat v-close-popup icon-right="close">
            <q-tooltip>Cerrar</q-tooltip>
          </q-btn>
        </q-card-section>
        <q-separator />
        <q-card-section align="center">
          <div>
            <q-checkbox left-label v-model="form.UserCanWrite" label="Editar"/>
            <q-checkbox left-label v-model="form.HidePrintOption" label="Ocultar opción de impresión"/>
            <q-checkbox left-label v-model="form.DisablePrint" label="Deshabilitar impresión"/>
            <q-checkbox left-label v-model="form.HideSaveOption" label="Ocultar opción de guardado"/>
            <q-checkbox left-label v-model="form.HideExportOption" label="Ocultar opción de exportar"/>
            <q-checkbox left-label v-model="form.DisableExport" label="Deshabilitar acción de exportar"/>
            <q-checkbox left-label v-model="form.DisableCopy" label="Deshabilitar opción de copiar"/>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
const today = new Date();
import * as TokenService from 'src/services/TokenService';
import * as AffairService from 'src/services/AffairService';
import * as InternalAffairService from 'src/services/InternalAffairService';
import { notifySuccess, notifyAlert } from 'src/utils/notify';
import * as CatalogService from 'src/services/admin/CatalogService';
import moment from 'moment';
// import * as UnitService from 'src/services/admin/catalogs/UnitService';

export default {
  data() {
    return {
      url: '',
      confirmCollaboratorDialog: false,
      dialogPeople: false,
      deleteDialog: false,
      token_id_delete: '',
      day: today.getDate(),
      month: today.getMonth(),
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      ResponsibleOptions: [],
      loadingResponsible: false,
      PositionOptions: [],
      InitialPositionOptions: [],
      UnitsOptions: [],
      InitialUnitsOptions: [],
      loadingPosition: false,
      readonlyDialog: false,
      form2: null,
      collabHistoryArray: [],
      form: {
        UserCanWrite: false,
        HidePrintOption: false,
        DisablePrint: false,
        HideSaveOption: false,
        HideExportOption: false,
        DisableExport: false,
        DisableCopy: false
      },
      people: {
        id: '',
        user: '',
        userId: '',
        unit: '',
        position: '',
        position_id: '',
      },
      permissionsDialog: false,
      collaboratorsArray: [],
      collaboratorsArrayQuery: [],
      owner: {},
      trace: false,
      post: '',
      mess: '',
    }
  },
  methods: {
    sendMessage() {
      const wn = document.getElementById('collabora-online-viewer').contentWindow;
      wn.postMessage(this.mess, this.post)
    },
    setDate(date) {
      return moment(date).format('D-M-Y h:mm:ss')
    },
    confirmCollaborator(accept) {
      if (accept === false) {
        TokenService.destroy(this.form2.token.id).then(() => {
          this.$router.push('/')
        });
      } else {
        TokenService.update({ acceptCollabora: accept }, this.form2.token.id).then(() => {
          window.location.reload();
          // this.$router.go(this.$router.currentRoute)
        }).catch((err) => {
          console.log(err)
        });
      }
    },
    Add() {
      const idArraycollab = this.collaboratorsArray.map((obj) => obj.position_id)
      console.log(idArraycollab, this)
      if (idArraycollab.includes(this.people.user.position_id)) {
        notifyAlert('Ese colaborador ya fue agregado anteriormente');
      } else {
        // console.log(this.people.user)
        const attendant = window.sessionStorage.getItem('is_attendant')
        console.log(attendant)
        this.dialogPeople = false
        this.form.parent = (attendant) ? window.sessionStorage.getItem('position_id') : this.$store.state.user.information.position_id;
        this.form.position_id = this.people.user.position_id;
        this.ResponsibleOptions = '';
        this.people.entity = ''
        this.people.unit = ''
        this.people.position = ''
        this.people.user = ''

        this.form.file_id = this.form2.token.file_id
        this.form.acceptCollabora = false;
        const form = { ...this.form };
        this.$q.loading.show();
        const { id } = this.$route.params
        TokenService.store(form).then(() => {
          notifySuccess('Colaborador asignado correctamente');
          TokenService.getCollaborators(id).then((data2) => {
            this.collaboratorsArray = data2.collaboratorsArray
          }).catch(() => {
            notifyAlert();
          });
        }).catch((err) => {
          console.log(err)
          notifyAlert('Colaborador no asignado');
        }).finally(() => {
          this.$q.loading.hide();
        })
      }
    },
    filterResponsible(position) {
      if (position != null) {
        this.people.position_name = position.name
        this.people.user = '';
        this.people_id = '';
        this.loadingResponsible = true;
        CatalogService.getResponsible(position.id).then((people) => {
          this.InitialResponsibleOptions = people;
          this.ResponsibleOptions = this.InitialResponsibleOptions;
          this.loadingResponsible = false;
        })
      }
    },
    searchResponsible(val, update) {
      const stringOptions = this.InitialResponsibleOptions
      update(() => {
        const needle = val.toLowerCase()
        this.ResponsibleOptions = stringOptions.filter((v) => v.full_name.toLowerCase().indexOf(needle) > -1)
      })
    },
    getAllResponsibles(unit = false) {
      CatalogService.getResponsible(0, false).then((people) => {
        this.InitialResponsibleOptions = people
        this.InitialResponsibleOptions = people.filter((obj) => obj.position_id !== this.$store.state.user.information.position_id)
        this.ResponsibleOptions = this.InitialResponsibleOptions
        if (unit) {
          this.InitialResponsibleOptions = people.filter((obj) => obj.cat_unit_id === unit);
          this.ResponsibleOptions = this.InitialResponsibleOptions
        }
        this.loadingResponsible = false;
      })
    },
    deleteCollaborators() {
      this.$q.loading.show();
      const { id } = this.$route.params
      TokenService.destroy(this.token_id_delete).then(() => {
        TokenService.getCollaborators(id).then((data2) => {
          this.collaboratorsArray = data2.collaboratorsArray
        }).catch(() => {
          notifyAlert();
        });
      }).catch((err) => {
        console.log(err);
        notifyAlert('Ha ocurrido un error al eliminar');
      }).finally(() => {
        this.$q.loading.hide();
      });
    },
    newCollaborator() {
      this.form.UserCanWrite = false
      this.form.HidePrintOption = false
      this.form.DisablePrint = false
      this.form.HideSaveOption = false
      this.form.HideExportOption = false
      this.form.DisableExport = false
      this.form.DisableCopy = false
      this.dialogPeople = true
      this.getAllResponsibles()
    },
    editPermissions(collaborator) {
      this.form = { ...collaborator }
      this.permissionsDialog = true
    },
    showPermissions(collaborator) {
      this.form = { ...collaborator }
      this.readonlyDialog = true
    },
    updatePermissions() {
      this.$q.loading.show();
      const { id } = this.$route.params
      TokenService.update(this.form, this.form.id).then(() => {
        notifySuccess('Permisos actualizados correctamente');
        TokenService.getCollaborators(id).then((data2) => {
          this.collaboratorsArray = data2.collaboratorsArray
        }).catch(() => {
          notifyAlert();
        });
      }).catch((err) => {
        console.log(err)
        notifyAlert('Permisos no actualizados');
      }).finally(() => {
        this.$q.loading.hide();
      })
    },
    finishCollab() {
      this.$q.loading.show();
      const { id } = this.$route.params
      AffairService.finishCollabora({ affair_status_id: 1 }, id).then(() => {
        notifySuccess('Colaboración finalizada');
        this.$q.loading.hide();
        this.$router.push('/outbox')
      }).catch((err) => {
        console.log(err)
        this.$q.loading.hide();
        notifyAlert();
      })
    },
    guestFinishCollab() {
      this.$q.loading.show();
      const { id } = this.$route.params
      InternalAffairService.guestFinishCollab({ affair_status_id: 1 }, id).then(() => {
        notifySuccess('Colaboración finalizada');
        this.$q.loading.hide();
        this.$router.push('/outbox')
      }).catch((err) => {
        console.log(err)
        this.$q.loading.hide();
        notifyAlert();
      })
    },
    collabHistory() {
      this.trace = true
      this.$q.loading.show();
      const { id } = this.$route.params
      InternalAffairService.collabHistory({ affair_status_id: 1 }, id).then((response) => {
        console.log(response.collaborators)
        this.collabHistoryArray = response.collaborators
      }).catch((err) => {
        console.log(err)
      })
      this.$q.loading.hide();
    }
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  created() {
    const catalogsConfiguration = {
      units: true,
      users: true,
      people: true,
    };
    this.getAllResponsibles()
    this.ResponsibleOptions = this.$refs.InitialResponsibleOptions
    this.$q.loading.show();
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      this.$q.loading.hide();
    });
    const { id } = this.$route.params
    this.$q.loading.show();
    TokenService.getToken(id).then((data) => {
      this.form2 = data;
      this.url = data.url;
      if (this.form2.token.acceptCollabora === false) {
        this.confirmCollaboratorDialog = true
      } else {
        TokenService.getCollaborators(id).then((data2) => {
          this.collaboratorsArray = data2.collaboratorsArray
          this.owner = data2.owner
          document.getElementById('access-token').value = this.form2.token.token
          const formElem = document.getElementById('collabora-submit-form');
          formElem.action = `${data.url}WOPISrc=${process.env.COLLAB_BASE_URL}/api/wopi/files/${this.form2.token.file_id}`
          formElem.submit();
        }).catch(() => {
          notifyAlert();
        });
        window.addEventListener('message', (event) => {
          try {
            console.log(`ReceiveMessage: '${event.data}`);
            const msg = JSON.parse(event.data);
            if (!msg) {
              return;
            }
            if (msg.MessageId === 'App_LoadingStatus') {
              if (msg.Values) {
                if (msg.Values.Status === 'Document_Loaded') {
                  console.log('Tell the wopi client that we are ready to receive messages');
                  let iframe = document.getElementById('collabora-online-viewer');
                  iframe = iframe.contentWindow || (iframe.contentDocument.document || iframe.contentDocument);
                  iframe.postMessage(JSON.stringify({ MessageId: 'Host_PostmessageReady' }), '*');
                }
              }
            }
            if (msg.MessageId === 'Doc_ModifiedStatus') {
              this.docModified = msg.Values.Modified
            }
          } catch (err) {
            console.log(err.message)
          }
        })
      }
    }).catch((err) => {
      console.log(err)
    }).finally(() => {
      this.$q.loading.hide();
    });
  },
  beforeDestroy() {
    if (this.docModified) {
      const wn = document.getElementById('collabora-online-viewer').contentWindow;
      const message = JSON.stringify({
        MessageId: 'Action_Save',
        SendTime: Date.now(),
        Values: {
          DontTerminateEdit: true,
          DontSaveIfUnmodified: true,
          Notify: false,
          ExtendedData: '',
        }
      })
      wn.postMessage(message, '*')
    }
  }
}
</script>
