<template>
  <q-card style="width: 700px; max-width: 80vw;">
  <q-card-section class="row items-center">
    <q-icon name="style" color="primary" flat :size="'lg'"/>
    <span class="q-ml-md text-h6">Agregar nueva área</span>
  </q-card-section>
  <q-separator />
  <q-card-section>
    <q-form ref="nodeForm" @submit.prevent="() => {}">
      <div class="row q-col-gutter-md">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <q-select
            outlined
            v-model="form.position"
            option-value="id"
            option-label="name"
            :options="catalogs.availablePosition"
            label="Puesto"
            :rules="[$rules.required($i18n.t('requiredInput'))]"
          />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <q-select
            outlined
            v-model="form.people"
            :options="catalogs.availableUsers"
            option-value="id"
            option-label="full_name"
            label="Titular"
          >
          </q-select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 q-mt-sm">
          <q-select
            outlined
            v-model="form.attendant"
            option-label="full_name"
            option-value="id"
            :options="catalogs.people"
            label="Encargado"
          >
          </q-select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 q-mt-sm">
          <q-input v-model="form.acronym" square outlined upper-case mask="AAAA" label="Nomenclatura del puesto"></q-input>
        </div>
      </div>
      <div class="q-mt-md">
        <q-checkbox v-model="form.side_turn" label="Turnado lateral" />
      </div>
    </q-form>
  </q-card-section>
  <q-card-actions align="right">
    <q-btn flat label="Cancelar" color="primary" v-close-popup />
    <q-btn flat label="Agregar" color="primary" @click="add()"/>
  </q-card-actions>
</q-card>
</template>

<script>

export default {
  data() {
    return {
      form: {
        position: '',
        people: '',
        attendant: '',
        side_turn: false,
      }
    };
  },
  methods: {
    add() {
      this.$refs.nodeForm.validate().then((valid) => {
        if (valid) {
          this.$emit('add', this.form)
        }
      });
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
  },
};
</script>
