<template>
  <q-card style="width: 700px; max-width: 80vw;">
  <q-card-section class="row items-center">
    <q-icon name="style" color="primary" flat :size="'lg'"/>
    <span class="q-ml-md text-h6">Editar nodo</span>
  </q-card-section>
  <q-separator />
  <q-card-section>
    <q-form ref="nodeForm" @submit.prevent="() => {}">
      <div class="row q-col-gutter-md">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <q-select
            outlined
            v-model="form.position"
            option-value="id"
            option-label="name"
            :options="catalogs.availablePosition"
            label="Puesto"
            :rules="[$rules.required($i18n.t('requiredInput'))]"
          />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <q-select
            outlined
            clearable
            v-model="form.people"
            :options="catalogs.availableUsers"
            option-value="id"
            option-label="full_name"
            label="Titular"
          >
          </q-select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 q-mt-sm">
          <q-select
            outlined
            clearable
            v-model="form.attendant_id"
            option-label="full_name"
            option-value="id"
            emit-value
            map-options
            :options="catalogs.people"
            label="Encargado"
          >
          </q-select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 q-mt-sm">
          <q-input v-model="form.acronym" square outlined upper-case mask="AAAA" label="Nomenclatura del puesto"></q-input>
        </div>
      </div>
      <div class="q-mt-md">
        <q-checkbox v-model="form.side_turn" label="Turnado lateral" />
      </div>
    </q-form>
  </q-card-section>
  <q-card-actions align="right">
    <q-btn flat label="Cancelar" color="primary" @click="cancel()" v-close-popup />
    <q-btn flat label="Modificar" color="primary" @click="editNode()" />
  </q-card-actions>
</q-card>
</template>

<script>
import { notifyError } from 'src/utils/notify';

export default {
  props: {
    form: Object,
  },
  data() {
    return {
      peopleId: '',
      positionId: ''
    };
  },
  methods: {
    editNode() {
      this.$refs.nodeForm.validate().then((valid) => {
        if (valid && (this.form.attendant_id || this.form.people)) {
          this.$emit('editNode', this.form)
        } else {
          notifyError('La estructura debe conterner un titular o encargado')
        }
      });
    },
    cancel() {
      let index = this.catalogs.availablePosition.findIndex((x) => x.id === this.positioId);
      this.catalogs.availablePosition.splice(index, 1)
      if (this.peopleId) {
        index = this.catalogs.availableUsers.findIndex((x) => x.id === this.peopleId);
        this.catalogs.availableUsers.splice(index, 1)
      }
    }
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
  },
  created() {
    if (this.form.people) {
      this.form.people.full_name = `${this.form.people.name} ${this.form.people.last_name} ${this.form.people.second_lastname}`
      this.catalogs.availableUsers.push({ ...this.form.people })
      this.peopleId = this.form.people.id
    }
    this.form.attendant.full_name = `${this.form.attendant.name} ${this.form.attendant.last_name} ${this.form.attendant.second_lastname}`
    this.catalogs.availablePosition.push({ ...this.form.position })
    this.positionId = this.form.position.id
  }
};
</script>
