<template>
  <div>
    <q-card>
      <q-card-section>
        <q-form
          ref="registerForm"
          class="q-gutter-lg"
        >
          <q-tabs
            v-model="tab"
            dense
            active-color="black"
            indicator-color="black"
            align="justify"
            narrow-indicator
            class="text-grey shadow-2"
          >
            <q-tab name="graphic" icon="fas fa-network-wired" label="Estructura gráfica" />
            <q-separator vertical />
            <q-tab name="table" icon="fas fa-table" label="Estructura tabla" />
          </q-tabs>

          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="graphic">
              <OrganizationChart @change-tab="changeTab"/>
            </q-tab-panel>

            <q-tab-panel name="table">
              <Users />
            </q-tab-panel>

          </q-tab-panels>
        </q-form>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>

import OrganizationChart from './OrganizationChart';
import Users from './Table.vue'

export default {
  components: {
    OrganizationChart,
    Users
  },
  data() {
    return {
      tab: 'graphic',
    };
  },
  methods: {
    changeTab() {
      this.tab = 'table'
    }
  }
}
</script>
