<template>
  <div>
    <div class="scroll">
      <Chart :datasource="data" :nextID="nextID" :edit="edit"/>
    </div>
    <q-card-actions align="right">
      <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
      <q-btn flat @click="update()" label="Guardar" color="primary" />
    </q-card-actions>
  </div>
</template>

<script>
import { notifyError, notifySuccess } from 'src/utils/notify';
import * as DataService from 'src/services/StructureService';
import Chart from './partials/Chart'

export default {
  components: {
    Chart
  },
  created() {
    this.$q.loading.show();
    DataService.edit(1).then((data) => {
      this.data = data.structure
      this.nextID.id = data.last_id + 1
      this.$q.loading.hide();
    }).catch((err) => {
      console.log(err)
      this.$q.loading.hide();
    });
    const catalogsConfiguration = {
      position: true,
      people: true,
      availableUsers: true,
      availablePosition: true,
    };
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
  },
  data() {
    return {
      data: {},
      edit: true,
      nextID: {
        id: 40
      }
    }
  },
  methods: {
    update() {
      this.$q.loading.show();
      console.log(this.data)
      DataService.update({ ...this.data }, 1)
        .then(() => {
          notifySuccess()
          this.$q.loading.hide();
          this.$router.push('/');
        })
        .catch((e) => {
          console.log(e);
          notifyError()
          this.$q.loading.hide();
        });
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
    },
  },
}
</script>
