<template>
<div>
  <br/>
  <q-table
  :data="data"
  :columns="columns"
  row-key="name"
  separator="vertical"
  :pagination.sync="pagination"
  :loading="loading"
  @request="onRequest"
  :filter="search"
  binary-state-sort
  :visible-columns="visibleColumns"
  >
  <template v-slot:top-left>
  </template>
  <template v-slot:top-right>
  <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
  <template v-slot:append>
  <q-icon name="search" />
  </template>
  </q-input>
  </template>
  <template v-slot:body="props">
  <q-tr :props="props">
  <q-td key="last_name" :props="props">
  {{ props.row.last_name }}
  </q-td>
  <q-td key="second_lastname" :props="props">
  {{ props.row.second_lastname }}
  </q-td>
  <q-td key="name" :props="props">
  {{ props.row.name }}
  </q-td>
  <q-td key="position_name" :props="props">
  {{ props.row.position_name }}
  </q-td>
  <q-td key="actions" :props="props">
  <q-btn-group>
  <q-btn round v-if="can('structure-delete') && props.row.id != 1 && props.row.children == 0" size="sm" @click="confirmDelete = true; deleteOption=props.row.id" color="negative" icon="fas fa-trash" />
  <q-btn round v-if="can('structure-edit')" size="sm" @click="actualizaCatalogo(props.row); idSelected=props.row.id" color="primary" icon="edit" />
  <q-btn round v-if="can('structure-create')" size="sm" @click="dialogCreate=true; idSelected=props.row.id" icon="far fa-plus-square" />
  </q-btn-group>
  </q-td>
  </q-tr>
  </template>
  <template v-slot:no-data="{ }">
  <div class="full-width row flex-center q-gutter-sm">
    <q-icon size="2em" name="sentiment_dissatisfied" />
    <span>
      No se encontraron resultados
    </span>
  </div>
  </template>
  </q-table>
  <q-dialog v-model="confirmDelete" persistent>
  <q-card style="width: 700px; max-width: 80vw;">
  <q-card-section class="row items-center">
  <q-icon name="style" color="primary" icon="far fa-share-nodes" :size="'lg'"/>
  <span class="q-ml-md text-h6">¿Seguro que desea eliminar este registro?</span>
  </q-card-section>
  <q-card-actions align="right">
  <q-btn flat label="Cancelar" color="primary" v-close-popup/>
  <q-btn flat label="Eliminar" color="red"  v-close-popup @click="deleteNode(deleteOption);"/>
  </q-card-actions>
  </q-card>
  </q-dialog>
  <q-dialog v-model="dialogEdit" persistent>
  <q-card  style="width: 700px; max-width: 80vw;">
  <q-card-section class="row items-center">
  <q-icon name="style" color="primary" flat :size="'lg'"/>
  <span class="q-ml-md text-h6">Editar nodo</span>
  </q-card-section>
  <q-separator />
  <q-card-section>
  <q-form ref="nodeFormEdit" @submit.prevent="() => {}">
  <div class="row q-col-gutter-md">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <q-select
      outlined
      v-model="nodeFormEdit.position_id"
      emit-value
      map-options
      option-value="id"
      option-label="name"
      :options="catalogs.availablePosition"
      label="Puesto"
      :rules="[$rules.required($i18n.t('requiredInput'))]"
      />
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <q-select
      outlined
      v-model="nodeFormEdit.people_id"
      emit-value
      map-options
      :options="catalogs.availableUsers"
      option-value="id"
      option-label="full_name"
      label="Titular"
      >
      </q-select>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 q-mt-sm">
      <q-select
      outlined
      v-model="nodeFormEdit.attendant_id"
      emit-value
      map-options
      option-label="full_name"
      option-value="id"
      :options="catalogs.people"
      label="Encargado"
      >
      </q-select>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 q-mt-sm">
      <q-input v-model="nodeFormEdit.acronym" square outlined upper-case mask="AAAA" label="Nomenclatura del puesto"></q-input>
    </div>
  </div>
  <div class="q-mt-md">
    <q-checkbox v-model="nodeFormEdit.side_turn" label="Turnado lateral" />
  </div>
  </q-form>
  </q-card-section>
  <q-card-actions align="right">
  <q-btn flat label="Cancelar" color="primary" @click="cancelEdit()" v-close-popup />
  <q-btn flat label="Modificar" color="primary" @click="editNodeID(idSelected)" />
  </q-card-actions>
  </q-card>
  </q-dialog>
  <q-dialog v-model="dialogCreate" persistent>
  <q-card style="width: 700px; max-width: 80vw;">
  <q-card-section class="row items-center">
  <q-icon name="style" color="primary" flat :size="'lg'"/>
  <span class="q-ml-md text-h6">Agregar nueva área</span>
  </q-card-section>
  <q-separator />
  <q-card-section>
  <q-form ref="nodeFormAdd" @submit.prevent="() => {}">
    <div class="row q-col-gutter-md">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <q-select
        outlined
        v-model="data.position"
        option-value="id"
        option-label="name"
        :options="catalogs.availablePosition"
        label="Puesto"
        :rules="[$rules.required($i18n.t('requiredInput'))]"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <q-select
        outlined
        v-model="data.people"
        :options="catalogs.availableUsers"
        option-value="id"
        option-label="full_name"
        label="Titular"
        >
        </q-select>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 q-mt-sm">
        <q-select
        outlined
        v-model="data.attendant"
        option-label="full_name"
        option-value="id"
        :options="catalogs.people"
        label="Encargado"
        >
        </q-select>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 q-mt-sm">
        <q-input v-model="data.acronym" square outlined upper-case mask="AAAA" label="Nomenclatura del puesto"></q-input>
      </div>
    </div>
  <div class="q-mt-md">
    <q-checkbox v-model="data.side_turn" label="Turnado lateral" />
  </div>
  </q-form>
  </q-card-section>
  <q-card-actions align="right">
  <q-btn flat label="Cancelar" color="primary" v-close-popup />
  <q-btn flat label="Agregar" color="primary" @click="add(idSelected)"/>
  </q-card-actions>
  </q-card>
  </q-dialog>
</div>
</template>

<script>
import { notifyAlert, notifySuccess } from 'src/utils/notify';
import * as StructureService from 'src/services/StructureService';

export default {
  name: 'node',
  props: {
    edit: Boolean,
    nextID: Object,
    datasource: Object,
  },
  created() {
    // const catalogsConfiguration = {
    //   position: true,
    //   people: true,
    //   availableUsers: true,
    //   availablePosition: true,
    // };
    // this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
    //   this.$q.loading.hide();
    // });
  },
  mounted() {
    // get initial data from server (1st page)
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
  },
  data() {
    return {
      data: [],
      formEdit: {},
      position: {},
      attendant: {},
      nodeFormEdit: {},
      form: {
        position: '',
        people: '',
        attendant: '',
        side_turn: false,
        idSelected: '',
      },
      dialogEdit: false,
      dialogCreate: false,
      visibleColumns: ['last_name', 'second_lastname', 'name', 'position_name', 'actions'],
      loading: false,
      deleteOption: '',
      confirmDelete: false,
      pagination: {
        page: 1,
        rowsPerPage: 15,
        rowsNumber: ''
      },
      side_turn: false,
      search: '',
      separator: 'vertical',
      columns: [
        {
          name: 'last_name', align: 'center', label: 'Primer apellido', field: 'last_name', sortable: true
        },
        {
          name: 'second_lastname', align: 'center', label: 'Segundo apellido', field: 'second_lastname', sortable: true
        },
        {
          name: 'name', align: 'center', label: 'Nombre', field: 'name', sortable: true
        },
        {
          name: 'position_name', align: 'center', label: 'Posición', field: 'position_name', sortable: true
        },
        {
          name: 'actions', align: 'center', label: 'Acciones', field: 'id'
        },
      ],
    };
  },
  computed: {
    canEdit: {
      get() { return this.canShow('users-edit') }
    },
    canView: {
      get() { return this.canShow('users-view') }
    },
    canDelete: {
      get() { return this.canShow('users-delete') }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
  },
  methods: {
    actualizaCatalogo(props) {
      this.position.full_name = `${props.name} ${props.last_name} ${props.second_lastname}`
      this.position.name = `${props.name}`
      this.position.lastname = `${props.last_name}`
      this.position.id = props.people_id
      this.catalogs.availableUsers.push({ ...this.position })
      this.attendant.full_name = `${props.name} ${props.last_name} ${props.second_lastname}`
      this.attendant.name = `${props.position_name}`
      this.attendant.lastname = `${props.last_name}`
      this.attendant.id = props.attendant_id
      this.catalogs.availablePosition.push({ ...this.attendant })
      this.nodeFormEdit = props
      this.dialogEdit = true
    },
    editUser(id) {
      this.$router.push(`/admin/users/${id}/edit`)
    },
    deleteNode(id) {
      this.loading = true
      StructureService.destroy(id).then(() => {
        notifySuccess('Puesto eliminado correctamente');
        this.onRequest({ pagination: this.pagination, filter: undefined })
      }).catch((err) => {
        notifyAlert(err.response.data.message);
      })
      this.loading = false
    },
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination
      const { search } = this
      this.loading = true
      StructureService.index({ params: { page, rowsPerPage, search } }).then((pagination) => {
        this.data = pagination.data
        this.data.side_turn = false
        this.pagination.rowsPerPage = pagination.per_page
        this.pagination.page = pagination.current_page
        this.pagination.rowsNumber = pagination.total
      }).catch(() => {
      })
      this.loading = false
    },
    add(id) {
      this.loading = true
      this.$refs.nodeFormAdd.validate().then((valid) => {
        if (valid) {
          this.form.attendant = this.data.attendant
          this.form.people = this.data.people
          this.form.position = this.data.position
          this.form.side_turn = this.data.side_turn
          this.form.acronym = this.data.acronym
          this.form.idSelected = id
          StructureService.store(this.form).then((result) => {
            notifySuccess(result.message)
            this.onRequest({ pagination: this.pagination, filter: undefined })
          }).catch(() => {
            notifyAlert()
          })
          this.dialogCreate = false
          this.loading = false
        }
      });
    },
    cancelEdit() {
      this.catalogs.availableUsers.pop()
      this.catalogs.availablePosition.pop()
    },
    editNodeID(id) {
      this.loading = true
      this.$refs.nodeFormEdit.validate().then((valid) => {
        if (valid) {
          this.form.attendant = this.nodeFormEdit.attendant_id
          this.form.people = this.nodeFormEdit.people_id
          this.form.position = this.nodeFormEdit.position_id
          this.form.side_turn = this.nodeFormEdit.side_turn
          this.form.idSelected = id
          StructureService.updateNode(this.form).then((result) => {
            notifySuccess(result.message)
            this.onRequest({ pagination: this.pagination })
            this.dialogEdit = false
            this.cancelEdit()
          }).catch(() => {
            notifyAlert()
          })
          this.loading = false
        }
      });
    },
  },
};
</script>
