<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-icon size="sm" name="mdi-file-check-outline"/> Recepción de oficios Externos
          <!-- <q-btn class="float-right" round size="sm" @click="$router.push('/reception/create')"  outline color="primary" icon="fas fa-plus" /> -->
        </div>
      </q-card-section>
    </q-card>
    <br>
    <q-card>
      <div class="q-pa-sm">
        <q-card-section>
          <q-form ref="reception" @submit.prevent="() => {}">
            <q-card-section>
              <div class="row q-col-gutter-sm" >
                <div class="col-xs-12 col-sm-12 col-md-4" v-if="reception.cat_doc_types_id != '5'">
                  <q-input v-model="reception.folio" square outlined
                           :rules="[(val) => !!val || 'Este campo es obligatorio']"
                           label="Num. Folio" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8" v-if="reception.cat_doc_types_id != '5'">
                  <q-select outlined v-model="formExternalAffair.typeSend"
                            :options="this.typeSends"
                            option-value="id"
                            option-label="name"
                            emit-value
                            :rules="[(val) => !!val || 'Este campo es obligatorio']"
                            @change="openCompanyDialog"
                            map-options label="Selecciona tipo de Remitente" />
                </div>

                <!--                <div class="col-xs-12 col-sm-12 col-md-7" v-if="reception.cat_doc_types_id != '5'">-->
                <!--                  <q-select outlined v-model="reception.external_entity"-->
                <!--                    :options="catalogs.entities"-->
                <!--                    option-value="id"-->
                <!--                    option-label="name"-->
                <!--                    emit-value-->
                <!--                    :rules="[(val) => !!val || 'Este campo es obligatorio']"-->
                <!--                    map-options label="Selecciona tipo de Remitente" />-->
                <!--                </div>-->
                <!--                <div class="q-pa-md q-gutter-sm"  v-if="reception.cat_doc_types_id != '5'">-->
                <!--                 <q-btn padding="xs" color="primary" icon="add" @click="newEntity = true" >-->
                <!--                   <q-tooltip>Registrar Remitente</q-tooltip>-->
                <!--                 </q-btn>-->
                <!--                </div>-->
                <!-- <div class="col-xs-12 col-sm-12 col-md-4" v-if="reception.cat_doc_types_id != '5'">
                  <q-select outlined v-model="formuser.unit"
                    option-value="id"
                    option-label="name"
                    :options="catalogs.units"
                    label="Unidad"
                    @input="filterPositions"
                    @clear="() => {(PositionOptions = []), (instruction.position_id = null);}"
                    :rules="[$rules.required($i18n.t('requiredInput'))]"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4" v-if="reception.cat_doc_types_id != '5'">
                  <q-select outlined v-model="formuser.position"
                    clearable
                    :loading="loadingPosition"
                    :disable="PositionOptions.length <= 0 || loadingPosition"
                    option-value="id"
                    option-label="name"
                    :options="PositionOptions"
                    label="Puesto"
                    @input="filterResponsible"
                    @clear="() => {(ResponsibleOptions = []), (instruction.people_id = null);}"
                    :rules="[$rules.required($i18n.t('requiredInput'))]" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4" v-if="reception.cat_doc_types_id != '5'">
                  <q-select clearable v-model="formuser.responsable"
                    :loading="loadingResponsible"
                    :disable="ResponsibleOptions.length <= 0 || loadingResponsible"
                    outlined
                    option-value="id"
                    option-label="full_name"
                    :options="ResponsibleOptions"
                    label="Persona"/>
                </div>-->
                <div class="col-xs-12 col-sm-12 col-md-4" v-if="reception.cat_doc_types_id != '5'">
                  <q-select outlined v-model="reception.recep_med_id"
                            :options="catalogs.cat_recep_meds"
                            option-value="id"
                            option-label="name"
                            emit-value
                            :rules="[(val) => !!val || 'Este campo es obligatorio']"
                            map-options label="Medio de Recepción"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4" v-if="reception.cat_doc_types_id != '5'">
                  <q-select outlined v-model="reception.cat_priorities_id"
                            :options="catalogs.cat_priorities"
                            option-value="id"
                            option-label="name"
                            emit-value
                            :rules="[(val) => !!val || 'Este campo es obligatorio']"
                            map-options label="Prioridad"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4" v-if="reception.cat_doc_types_id != '5'">
                  <q-input filled v-model="reception.attention_date" mask="date" :rules="['date']" label="Fecha de Atención">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
<<<<<<< HEAD
                          <q-date first-day-of-week="0" v-model="reception.attention_date">                      <div class="row items-center justify-end">
                            <q-btn v-close-popup label="Close" color="primary" flat />
=======
                          <q-date v-model="reception.attention_date">                      <div class="row items-center justify-end">
                            <q-btn v-close-popup label="Cerrar" color="primary" flat />
>>>>>>> b9a1a90adb17b50ce43c2e2a600e9042a2bdc145
                          </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12" v-if="reception.cat_doc_types_id != '5'">
                  <q-input v-model="reception.subject" square outlined label="Asunto"/>
                </div>
                <div class="col-12">
                  <q-input square outlined type="textarea" v-model="reception.description" label="Descripción" />
                </div>
              </div>
              <div class="row q-col-gutter-sm">
                <div class="col-xs-12 col-sm-12 col-md-3">
                  <q-select outlined v-model="reception.cat_doc_types_id"
                    :options="catalogs.cat_doc_types"
                    option-value="id"
                    option-label="name"
                    emit-value
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                    map-options label="Tipo de documento"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3" v-if="reception.cat_doc_types_id == '5'">
                  <q-input outlined v-model="reception.especDoctype"
                      :rules="[(val) => !!val || 'Este campo es obligatorio']" label="Especifique el tipo" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                  <q-input filled v-model="reception.reception_date"  mask="date" :rules="['date']"
                            label="Fecha de Recepción">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date first-day-of-week="0" v-model="reception.reception_date" >
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Cerrar" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                  <q-input filled v-model="reception.reception_time"  mask="time" :rules="['time']"
                            label="Hora de  Recepción">
                    <template v-slot:append>
                      <q-icon name="access_time" class="cursor-pointer">
                        <q-popup-proxy transition-show="scale" transition-hide="scale">
                          <q-time v-model="reception.reception_time" >
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Cerrar" color="primary" flat />
                            </div>
                          </q-time>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3" v-if="reception.cat_doc_types_id != '5'">
                  <q-input filled v-model="reception.document_date" mask="date" :rules="['date']" label="Fecha del Documento">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date first-day-of-week="0" v-model="reception.document_date">
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Cerrar" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
              </div>
              <br>
            </q-card-section>
            <q-card-section v-if="reception.cat_doc_types_id != '5'">
              <DocumentCard />
            </q-card-section>
            <q-card-section v-if="reception.cat_doc_types_id != '5'">
              <People />
            </q-card-section>
            <q-card-section v-if="reception.cat_doc_types_id != '5'">
              <Comments/>
            </q-card-section>
            <q-card-section v-if="reception.cat_doc_types_id == '5'">
              <div class="text-h6">
              <q-separator spaced/>
                <q-icon size="sm" color="primary" name="mail"/> Destinatario
              </div>
              <div class="row q-col-gutter-sm">
                <div class="col-xs-12 col-sm-12 col-md-4" >
                  <q-select
                    outlined
                    square
                    class="q-my-sm"
                    v-model="reception.unit"
                    option-value="id"
                    option-label="name"
                    :options="catalogs.units"
                    label="Unidad"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4" >
                  <q-select
                    outlined
                    square
                    class="q-my-sm"
                    v-model="reception.position"
                    option-value="id"
                    option-label="name"
                    :options="catalogPosition"
                    label="Puesto"/>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4" >
                  <q-select
                    outlined
                    square
                    class="q-my-sm"
                    v-model="reception.user"
                    option-value="id"
                    option-label="name"
                    :options="catalogUser"
                    label="Persona"/>
                </div>
              </div>
            </q-card-section>
          </q-form>
        </q-card-section>
        <q-card-actions align="right" v-if="reception.cat_doc_types_id == '5'">
          <q-btn flat @click="sendExternalAffair()" label="Enviar" color="primary" v-close-popup />
          <!-- <q-btn flat @click="submitReception()" label="Guardar" color="primary" /> -->
        </q-card-actions>
        <q-card-actions align="right" v-if="reception.cat_doc_types_id != '5'">
          <q-fab
              v-model="fabRight"
              vertical-actions-align="right"
              color="primary"
              glossy
              icon="keyboard_arrow_up"
              label="Acciones"
              direction="up"
            >
            <q-fab-action label-position="left" color="deep-purple-7" @click="saveDraft()" icon="fas fa-pencil-alt" label="Guardar como Borrador" />
            <q-fab-action label-position="left" color="blue-6" @click="dialogRoute=true" icon="fas fa-clipboard-list" label="Asignar ruta de atención" />
            <q-fab-action label-position="left" color="cyan-9" @click="sendExternalAffair()" icon="mail" label="Envio Directo a los Destinatarios" />

          </q-fab>
          <q-dialog v-model="dialogRoute" persistent>
            <q-card>
              <q-card-section class="q-pb-none">
                <div class="text-h6">Ruta de atención</div>
              </q-card-section>
              <q-card-section>
                <q-form ref="routeForm">
                  <q-select
                    v-model="route"
                    :options="routeOptions" />
                </q-form>
              </q-card-section>
              <q-card-actions align="right">
                <q-btn flat label="Cancelar" color="primary" v-close-popup />
                <q-btn flat label="Crear nueva ruta de atención" @click="$router.push('/attention-route/create-to-send');" color="primary"  />
                <q-btn flat label="Enviar" @click="send()" color="positive" />
              </q-card-actions>
            </q-card>
          </q-dialog>
        </q-card-actions>
      </div>
    </q-card>
    <q-dialog v-model="newEntity" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Registro Nuevo de Remitente/Entidad</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-form ref="newEntity" @submit.prevent="() => {}">
        <q-card-section>
          <q-input outlined v-model="formentity.name" class="q-my-sm"
             label="Nombre" />
          <q-input outlined v-model="formentity.acrom" class="q-my-sm"
             label="Acronimo" />
          <q-input outlined v-model="formentity.adress" class="q-my-sm"
             label="Dirección" />
          <q-input outlined v-model="formentity.phone" class="q-my-sm"
             label="Telefono" />
        </q-card-section>
        </q-form>
        <q-card-actions align="right">
                <q-btn flat label="Cancelar" color="primary" v-close-popup />
                <q-btn flat label="Guardar" @click="addNewEntity()" color="primary" v-close-popup/>
              </q-card-actions>
      </q-card>
    </q-dialog>
    <TableCompany></TableCompany>
  </div>
</template>

<script>
const today = new Date();
import * as ExternalAffairReceptionService from 'src/services/receipt/ExternalAffairReceptionService';
import * as CatalogService from 'src/services/admin/CatalogService';
// import * as ExternalAffairReceptionFromService from 'src/services/receipt/ExternalAffairReceptionFromService';
// import * as ExternalFileService from 'src/services/global/ExternalUploadFileService';
// import * as ExternalCommentService from 'src/services/receipt/ExternalAffairCommentService';
import { notifyError, notifySuccess } from 'src/utils/notify';
import TableCompany from 'components/reception/TableCompany';
import Comments from './partials/Comments';
import People from './partials/People';
import DocumentCard from './partials/DocumentCard';

export default {
  components: { TableCompany, Comments, People, DocumentCard },
  data() {
    return {
      formExternalAffair: {
        destinatary: '',
        folio: '',
        document_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        cat_doc_types_id: '',
        cat_priorities_id: '',
        subject: '',
        qeditor: '',
        description: '',
        response: false,
        typeSend: ''
      },
      formuser: {
        unit: '',
        position: '',
        responsable: '',
      },
      formentity: {
        name: '',
        acrom: '',
        adress: '',
        phone: '',

      },
      formcomm: {
        comments: [], // items: []
      },
      formpeople: {
        people: [], // items: []
      },
      typeSends: [
        'Empresa',
        'Persona'
      ],
      ResponsibleOptions: [],
      InitialResponsibleOptions: [],
      loadingResponsible: false,
      PositionOptions: [],
      InitialPositionOptions: [],
      loadingPosition: false,
      newEntity: false,
      shape: '',
      model: null,
      externalUsers: false,
      typeDoc: 'one',
      dialogNewInternal: false,
      isShowDialogFile: false,
      file: null,
      isFileShow: false,
      src: null,
      tab: 'to',
      comment: '',
      day: today.getDay(),
      month: today.getMonth(),
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      fabRight: false,
      dialogRoute: false,
      route: '',
      routeOptions: ['Ruta de atención 1', 'Ruta de atención 2', 'Ruta de atención 3'],
    }
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    config: {
      get() {
        return this.$store.state.config
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  mounted() {
    TableCompany({
      tableCompanyDialog: true
    });
    console.log('HOLA', TableCompany.$data.tableCompanyDialog);
    TableCompany.$data.tableCompanyDialog = true;
    this.$parent.tableCompanyDialog = true;
  },
  created() {
    this.$emit('changeTable', true);
    TableCompany({
      tableCompanyDialog: true
    });
    this.$parent.tableCompanyDialog = true;
    const catalogsConfiguration = {
      users: true,
      people: true,
      units: true,
      position: true,
      entities: true,
      cat_doc_types: true,
      cat_recep_meds: true,
      cat_priorities: true,
      cat_to_docs: true,
    };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
  },
  beforeCreate() {
    this.$store.commit('reception/reset');
  },
  methods: {
    openCompanyDialog() {
      alert('HOLA');
      alert(this.formExternalAffair.typeSend);
      this.$emit('changeTable', true);
      this.tableCompanyDialog = true;
      if (this.formExternalAffair.typeSend === 'Empresa') {
        alert('em');
      } else {
        alert(this.formExternalAffair.typeSend);
      }
    },
    sendExternalAffair() {
      // this.$q.loading.show();
      // notifySuccess('Se envio el Oficio correctamente');
      // this.$q.loading.hide();
      // this.$router.push('/');
      // const formDataAnexo = new FormData();
      // formDataAnexo.append('document', this.anexos);
      // formDataAnexo.append('module', 'affair');
      // formDataAnexo.append('fileType', 'pdf');
      // formDataAnexo.append('folio', this.form.folio);
      // registro de formulario
      // const receiverCheck = this.itemsParticipations.some((part) => part.participation === 1)
      // if (!receiverCheck) {
      //   notifyError('Sin destinatario')
      // }
      this.$refs.reception.validate().then((valid) => {
        if (valid) {
          // this.formcomm.comments = this.items;
          // console.log(this.formcomm.comments);
          // this.formcomm.folio = this.form.folio;
          // this.formpeople.people = this.itemsPeople;
          // console.log('Peopleform', this.formpeople.people);
          // this.formpeople.receiver_id = this.itemsPeople;
          // console.log(this.formpeople.receiver_id);
          // this.formpeople.participants_id = this.itemsParticipations;
          // console.log(this.formpeople.participants_id);
          // this.form.draft = true;
          // this.form.response = this.response;
          const form = { ...this.reception };
          // const formcomm = { ...this.formcomm };
          // const formpeople = { ...this.formpeople };
          this.$q.loading.show();
          ExternalAffairReceptionService.store(form).then((data) => {
            console.log('EXTERNALAFFAIRRECEPTION', data);
            // External People
            // const affairId = data.affair.id
            // this.$q.loading.show();
            // ExternalAffairReceptionFromService.store(formpeople).then(() => {
            //   notifySuccess();
            //   // if (draft) {
            //   //   this.$router.push('/draftsTrades');
            //   // } else {
            //   //   this.$router.push(`/new-Affair/${affairId}/office`)
            //   // }
            // }).catch((err) => {
            //   alert(err)
            // }).finally(() => {
            //   this.$q.loading.hide();
            // })
            // // fin external
            // // registro anexo
            // if (this.affairFile) {
            //   ExternalFileService.upload(formDataAnexo).then((affairFile) => {
            //     this.$emit('uploaded', affairFile);
            //     this.$q.notify({
            //       icon: 'cloud_upload',
            //       color: 'positive',
            //       position: 'top-right',
            //       textColor: 'white',
            //       message: 'Se ha subido el documento correctamente',
            //     });
            //     this.$root.$emit('refresh-ap');
            //     this.$q.loading.hide();
            //   }).catch((err) => {
            //     console.log(err)
            //     this.$q.loading.hide();
            //     notifyError();
            //   })
            // }
            // // comments store
            // ExternalCommentService.store(formcomm).then(() => {
            // }).catch((err) => {
            //   console.log(err)
            // })
          }).catch(() => {
            notifyError();
            this.$q.loading.hide();
          })
        }
      });
    },
    addNewEntity() {
      this.$q.loading.show();
      setTimeout(() => {
        notifySuccess('Se ha agregado la nueva entidad');
        this.$q.loading.hide();
      }, 500)
    },
    saveDraft() {
      this.$q.loading.show();
      notifySuccess('Se guardo el Oficio correctamente en borradores');
      this.$q.loading.hide();
      this.$router.push('/draftsTrades');
    },
    save() {
      this.date = this.proxyDate
    },
    modalClean() {
      this.$store.commit('reception/reset');
    },
    generatePdf() {
      // DataService.get().then(() => {
      //   this.loading = false
      // }).catch((err) => {
      //   console.log(err)
      //   this.loading = false
      // })
    },
    setDocument(document, file) {
      document.file = file;
      this.isShowDialogFile = false;
    },
    showDialog() {
      this.isShowDialogFile = true;
    },
    showDialogFile(file) {
      this.src = `${this.$axios.defaults.baseURL}/api/files/show/pdf/${file.id}`;
      this.isFileShow = true;
    },
    submitReception() {
      this.submitting = true;
      this.$refs.receptionForm.validate().then((valid) => {
        if (valid) {
          const receptionData = { ...this.reception };
          this.$q.loading.show();
          this.$store.dispatch('reception/save', receptionData).then((res) => {
            this.$q.loading.hide();
            if (res.status === 422) {
              this.errors = res.data.errors
              this.hasErrors = true;
              this.submitting = false;
              notifyError();
            } else if (res.data.success) {
              notifySuccess()
              this.$store.commit('reception/reset');
              this.$router.push('/attention-route/create');
            } else {
              this.submitting = false;
              notifyError();
            }
          });
        } else {
          this.submitting = false;
        }
      });
    },
    receptionDraft() {
      this.submitting = true;
      this.$refs.receptionForm.validate().then((valid) => {
        if (valid) {
          const receptionData = { ...this.reception };
          this.$q.loading.show();
          this.$store.dispatch('reception/save', receptionData).then((res) => {
            this.$q.loading.hide();
            if (res.status === 422) {
              this.errors = res.data.errors
              this.hasErrors = true;
              this.submitting = false;
              notifyError();
            } else if (res.data.success) {
              notifySuccess()
              this.$store.commit('reception/reset');
              this.$router.push('/draftsTrades');
            } else {
              this.submitting = false;
              notifyError();
            }
          });
        } else {
          this.submitting = false;
        }
      });
    },
    send() {
      this.$refs.routeForm.validate().then((valid) => {
        if (valid) {
          this.$q.loading.show();
          setTimeout(() => {
            notifySuccess('Se ha enviado correctamente');
            this.$router.push('/');
            this.$q.loading.hide();
          }, 500)
        }
      });
    },
    filterResponsible(position) {
      if (position != null) {
        this.people_id = '';
        this.loadingResponsible = true;
        CatalogService.getResponsible(position.id).then((people) => {
          this.InitialResponsibleOptions = people;
          this.ResponsibleOptions = this.InitialResponsibleOptions;
          this.loadingResponsible = false;
          // this.people.position = '';
        })
      }
    },
    filterPositions(unit) {
      if (unit != null) {
        this.position_id = '';
        this.loadingPosition = true;
        CatalogService.getPositions(unit.id).then((position) => {
          this.InitialPositionOptions = position;
          this.PositionOptions = this.InitialPositionOptions;
          this.loadingPosition = false;
          // this.people.position = '';
        })
      }
    },
  },
}

</script>

<style lang="sass" scoped>
.document-card
  width: 100%
  max-width: 130px
</style>
