<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-icon size="sm" name="mdi-file-check-outline"/> Editar Recepción de oficios Externos
          <!-- <q-btn class="float-right" round size="sm" @click="$router.push('/reception/create')"  outline color="primary" icon="fas fa-plus" /> -->
        </div>
      </q-card-section>
    </q-card>
    <br>
    <q-card>
      <div class="q-pa-sm">
        <q-card-section>
          <ExternalPeople
            @addPeople="addPeople"
            :externalPeople="itemsPeople"
            @addParticipation="addParticipation"
            :externalPeopleParticipation="itemsParticipations"
            @addPeopleCCP="addPeopleCCP"
            :externalPeopleCCP="itemsPeople"
            @deletePeople="deletePeople"
            :deletePeople="itemsPeople"
            @deleteParticipation="deleteParticipation"
            :deleteParticipation="itemsParticipations"
          />
          <br/>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <q-form ref="formExternalSender" @submit.prevent="() => {}">
            <q-card-section>
              <div class="row q-col-gutter-sm" >
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <q-select outlined v-model="formExternalSender.sender_type_id"
                            :options="catalogs.cat_sender_types"
                            option-value="id"
                            option-label="name"
                            emit-value
                            :rules="[(val) => !!val || 'Este campo es obligatorio']"
                            map-options label="Selecciona tipo de Remitente" />
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11" v-if="formExternalSender.sender_type_id == 2">
                  <q-select
                    outlined
                    v-model="formExternalSender.external_people_id"
                    use-input
                    input-debounce="0"
                    behavior="dialog"
                    :options="catalogs.external_people"
                    option-value="id"
                    option-label="fullname"
                    label="Personas"
                    map-options
                    emit-value
                  >
                    <template v-slot:no-option>
                      <q-item>
                        <q-item-section class="text-grey">
                          Sin Resultados
                        </q-item-section>
                      </q-item>
                    </template>
                  </q-select>
                </div>
                <div class="q-pa-md q-gutter-sm"  v-if="formExternalSender.sender_type_id == 2">
                  <q-btn padding="xs" color="primary" icon="add" @click="newExternalPeople = true" >
                    <q-tooltip>Registrar Persona</q-tooltip>
                  </q-btn>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12"  v-if="formExternalSender.sender_type_id == 3">
                  <div class="row q-col-gutter-sm">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <q-select outlined v-model="formExternalSender.sender_entity_id"
                        :options="catalogs.entities"
                        option-value="id"
                        option-label="name"
                        label="Seleccione Dependencia"
                        @input="filterUnits"
                        @clear="() => {(UnitsOptions = []), (instruction.unit_id = null);}"
                        emit-value
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                        map-options />
                        <!-- {{ reception.sender_entity_id }} -->
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5">
                      <q-select outlined v-model="formExternalSender.sender_unit_id"
                        :loading="loadingUnits"
                        :disable="UnitsOptions.length <= 0 || loadingUnits"
                        option-value="id"
                        option-label="name"
                        :options="UnitsOptions"
                        label="Unidad"
                        @input="filterPositions"
                        @clear="() => {(PositionOptions = []), (instruction.position_id = null);}"
                        />
                        <!-- {{ reception.sender_unit_id }} -->
                        <!-- {{ UnitsOptions}} -->
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <q-select outlined v-model="formExternalSender.sender_position_id"
                        clearable
                        :loading="loadingPosition"
                        :disable="PositionOptions.length <= 0 || loadingPosition"
                        option-value="id"
                        option-label="name"
                        :options="PositionOptions"
                        label="Puesto"
                        @input="filterResponsible"
                        @clear="() => {(ResponsibleOptions = []), (instruction.people_id = null);}"
                        />
                        <!-- {{ reception.sender_position_id }} -->
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                      <q-select clearable v-model="formExternalSender.sender_responsable_id"
                        :loading="loadingResponsible"
                        :disable="ResponsibleOptions.length <= 0 || loadingResponsible"
                        outlined
                        option-value="id"
                        option-label="full_name"
                        :options="ResponsibleOptions"
                        label="Persona"/>
                        <!-- {{ reception.sender_responsable_id }} -->
                    </div>
                  </div>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11" v-if="formExternalSender.sender_type_id == 1">
                  <q-select
                    outlined
                    v-model="formExternalSender.external_company_id"
                    use-input
                    input-debounce="0"
                    label="Empresas"
                    behavior="dialog"
                    :options="catalogs.external_companies"
                    option-value="id"
                    option-label="bussiness_name"
                    map-options
                    emit-value
                  >
                    <template v-slot:no-option>
                      <q-item>
                        <q-item-section class="text-grey">
                          Sin Resultados
                        </q-item-section>
                      </q-item>
                    </template>
                  </q-select>
                </div>
                <div class="q-pa-md q-gutter-sm"  v-if="formExternalSender.sender_type_id == 1">
                 <q-btn padding="xs" color="primary" icon="add" @click="newExternalCompany = true" >
                   <q-tooltip>Registrar Empresa</q-tooltip>
                 </q-btn>
                </div>
              </div>
            </q-card-section>
          </q-form>
          <q-form ref="reception" @submit.prevent="() => {}">
            <q-card-section>
              <div class="row q-col-gutter-sm" >
                <div class="col-xs-12 col-sm-12 col-md-4">
                  <q-input v-model="reception.folio" square outlined
                           :rules="[(val) => !!val || 'Este campo es obligatorio']"
                           label="Folio del Documento" />
                </div>
                  <div class="col-xs-12 col-sm-12 col-md-4">
                    <q-select outlined v-model="reception.cat_recep_meds_id"
                              :options="catalogs.cat_recep_meds"
                              option-value="id"
                              option-label="name"
                              emit-value
                              :rules="[(val) => !!val || 'Este campo es obligatorio']"
                              map-options label="Medio de Recepción"
                    />
                    <!-- {{ reception.recep_med_id }} -->
                  </div>
                  <!-- <div class="col-xs-12 col-sm-12 col-md-3" v-if="reception.recep_med_id == '3'">
                    <q-input outlined v-model="reception.especDoctype"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']" label="Especifique el tipo" />
                  </div> -->
                  <div class="col-xs-12 col-sm-12 col-md-4">
                    <q-select outlined v-model="reception.cat_priorities_id"
                              :options="catalogs.cat_priorities"
                              option-value="id"
                              option-label="name"
                              emit-value
                              :rules="[(val) => !!val || 'Este campo es obligatorio']"
                              map-options label="Prioridad"
                    />
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4">
                    <q-input filled v-model="reception.attention_date" mask="date" :rules="['date']" label="Fecha de Atención">
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                            <q-date v-model="reception.attention_date" first-day-of-week="0">
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Cerrar" color="primary" flat />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-3" v-if="reception.cat_recep_meds_id != '3'" >
                    <q-select outlined v-model="reception.cat_doc_types_id"
                      :options="catalogs.cat_doc_types"
                      option-value="id"
                      option-label="name"
                      emit-value
                      :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      map-options label="Tipo de documento"
                    />
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <q-input filled v-model="reception.reception_date"  mask="date" :rules="['date']"
                              label="Fecha de Recepción">
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                            <q-date v-model="reception.reception_date"  first-day-of-week="0">
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Cerrar" color="primary" flat />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <q-input filled v-model="reception.reception_time"  mask="time" :rules="['time']"
                              label="Hora de  Recepción">
                      <template v-slot:append>
                        <q-icon name="access_time" class="cursor-pointer">
                          <q-popup-proxy transition-show="scale" transition-hide="scale">
                            <q-time v-model="reception.reception_time" >
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Cerrar" color="primary" flat />
                              </div>
                            </q-time>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-3">
                    <q-input filled v-model="reception.document_date" mask="date" :rules="['date']" label="Fecha del Documento">
                      <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                            <q-date v-model="reception.document_date" first-day-of-week="0">
                              <div class="row items-center justify-end">
                                <q-btn v-close-popup label="Cerrar" color="primary" flat />
                              </div>
                            </q-date>
                          </q-popup-proxy>
                        </q-icon>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <q-input v-model="reception.subject" square outlined label="Asunto"/>
                  </div>
                  <div class="col-12">
                    <q-input square outlined type="textarea" v-model="reception.description" label="Descripción" />
                  </div>
            </div>
              <br>
            </q-card-section>
            <q-card-section>
              <DocumentCard :uploadOffice="uploadOffice" />
            </q-card-section>
            <q-card-section>
              <Comments/>
            </q-card-section>
          </q-form>
        </q-card-section>
        <!-- <q-card-actions align="right">
          <q-btn flat @click="sendExternalAffair()" label="Enviar" color="primary" v-close-popup />
          <q-btn flat @click="submitReception()" label="Guardar" color="primary" />
        </q-card-actions> -->
        <q-card-actions align="right">
          <q-fab
              v-model="fabRight"
              vertical-actions-align="right"
              color="primary"
              glossy
              icon="keyboard_arrow_up"
              label="Acciones"
              direction="up"
            >
            <q-fab-action label-position="left" color="deep-purple-7" @click="saveDraft()" icon="fas fa-pencil-alt" label="Guardar como Borrador" />
            <q-fab-action label-position="left" color="blue-6" @click="dialogRoute=true" icon="fas fa-clipboard-list" label="Asignar ruta de atención" />
            <q-fab-action label-position="left" color="cyan-9" @click="updateExternalAffair()" icon="mail" label="Envio Directo a los Destinatarios" />

          </q-fab>
          <q-dialog v-model="dialogRoute" persistent>
            <q-card>
              <q-card-section class="q-pb-none">
                <div class="text-h6">Ruta de atención</div>
              </q-card-section>
              <q-card-section>
                <q-form ref="routeForm">
                  <q-select
                    v-model="route"
                    :options="routeOptions" />
                </q-form>
              </q-card-section>
              <q-card-actions align="right">
                <q-btn flat label="Cancelar" color="primary" v-close-popup />
                <q-btn flat label="Crear nueva ruta de atención" @click="$router.push('/attention-route/create-to-send');" color="primary"  />
                <q-btn flat label="Enviar" @click="send()" color="positive" />
              </q-card-actions>
            </q-card>
          </q-dialog>
        </q-card-actions>
      </div>
    </q-card>
    <q-dialog v-model="newExternalPeople" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Registro Nuevo de Persona</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-form ref="formexternalpeople" @submit.prevent="() => {}">
        <q-card-section>
          <q-input outlined v-model="formexternalpeople.name" class="q-my-sm"
             :rules="[(val) => !!val || 'Este campo es obligatorio']"
             label="Nombre" />
          <q-input outlined v-model="formexternalpeople.last_name" class="q-my-sm"
             :rules="[(val) => !!val || 'Este campo es obligatorio']"
             label="Apellido Paterno" />
          <q-input outlined v-model="formexternalpeople.second_lastname" class="q-my-sm"
             :rules="[(val) => !!val || 'Este campo es obligatorio']"
             label="Apellido Materno" />
          <q-input outlined v-model="formexternalpeople.email" type="email" class="q-my-sm"
             :rules="[(val) => !!val || 'Este campo es obligatorio', isValidEmail]"
             label="Email" />
          <q-input outlined v-model="formexternalpeople.phone" type="tel" class="q-my-sm"
             :rules="[(val) => !!val || 'Este campo es obligatorio']"
             mask="(###) ### - ####"
             label="Telefono" />
        </q-card-section>
        </q-form>
        <q-card-actions align="right">
                <q-btn flat label="Cancelar" color="primary" v-close-popup />
                <q-btn flat label="Guardar" @click="addNewExternalPeople()" color="primary"/>
              </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="newExternalCompany" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Registro Nuevo de Empresa</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-form ref="formcompany" @submit.prevent="() => {}">
          <q-card-section>
            <q-input outlined v-model="formcompany.name" class="q-my-sm"
                     label="Nombre"
                     :rules="[(val) => !!val || 'Este campo es obligatorio']" />
            <q-input outlined v-model="formcompany.bussiness_name" class="q-my-sm"
                     label="Razón Social"
                     :rules="[(val) => !!val || 'Este campo es obligatorio']" />
            <q-input outlined v-model="formcompany.rfc" class="q-my-sm"
                     label="RFC"
                     :rules="[(val) => !!val || 'Este campo es obligatorio']" />
                     <q-input outlined v-model="formcompany.adress" class="q-my-sm"
                     label="Dirección"
                     :rules="[(val) => !!val || 'Este campo es obligatorio']" />
            <q-input outlined v-model="formcompany.email" class="q-my-sm"
                     label="Email" type="email"
                     :rules="[(val) => !!val || 'Este campo es obligatorio', isValidEmail]" />
            <q-input outlined v-model="formcompany.phone" class="q-my-sm"
                     label="Telefono"
                     mask="(###) ### - ####"
                     :rules="[(val) => !!val || 'Este campo es obligatorio']" />
          </q-card-section>
        </q-form>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Guardar" @click="addNewCompany()" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
<!--    <TableCompany></TableCompany>-->
  </div>
</template>

<script>
const today = new Date();
import * as ExternalAffairReceptionService from 'src/services/receipt/ExternalAffairReceptionService';
import * as CatalogService from 'src/services/admin/CatalogService';
import * as ExternalPeopleService from 'src/services/ExternalPeopleService';
import * as ExternalCompanyService from 'src/services/ExternalCompanyService';
import * as ExternalAffairReceptionFromService from 'src/services/receipt/ExternalAffairReceptionFromService';
import * as ExternalSenderService from 'src/services/ExternalSenderService'
import * as ExternalCommentService from 'src/services/receipt/ExternalAffairCommentService';
import { notifyError, notifySuccess } from 'src/utils/notify';
import ExternalPeople from './partials/ExternalPeople.vue';
// import TableCompany from 'components/reception/TableCompany';
import Comments from './partials/Comments';
import DocumentCard from './partials/DocumentCard';

export default {
  components: { Comments, DocumentCard, ExternalPeople },
  data() {
    return {
      uploadOffice: false,
      formExternalAffair: {
        folio: '',
        subject: '',
        description: '',
        document_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        attention_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        reception_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        reception_time: '',
        // cat_sender_types_id: '',
        cat_recep_meds_id: '',
        cat_doc_types_id: '',
        cat_priorities_id: '',
        // sender_entity_id: [],
        // sender_unit_id: [],
        // sender_position_id: [],
        // sender_responsable_id: [],
      },
      people: {
        // forccp: '',
        id: '',
        user: '',
        userId: '',
        participationId: '',
        entity: '',
        unit: '',
        position: '',
        // id: '',
        hover: false,
      },
      externalSender: {
        external_people_id: '',
        external_company_id: '',
        sender_entity_id: '',
        sender_type_id: ''
      },
      formcompany: {
        name: '',
        bussiness_name: '',
        rfc: '',
        email: '',
        phone: '',
        adress: '',
      },
      formentity: {
        name: '',
        acronym: '',
      },
      formexternalpeople: {
        name: '',
        last_name: '',
        second_lastname: '',
        email: '',
        phone: '',
      },
      formExternalSender: {
        externalSender: []
      },
      formcomm: {
        comments: [], // items: []
      },
      formpeople: {
        people: [], // items: []
      },
      items: [],
      itemsPeople: [],
      itemsParticipations: [],
      itemId: 0,
      itemPeopleId: 0,
      itemParticipationId: 0,
      itemElement: '',
      UnitsOptions: [],
      InitialUnitsOptions: [],
      loadingUnits: false,
      ResponsibleOptions: [],
      InitialResponsibleOptions: [],
      loadingResponsible: false,
      PositionOptions: [],
      InitialPositionOptions: [],
      loadingPosition: false,
      newEntity: false,
      newExternalCompany: false,
      newExternalPeople: false,
      shape: '',
      model: null,
      externalUsers: false,
      typeDoc: 'one',
      dialogNewInternal: false,
      isShowDialogFile: false,
      file: null,
      isFileShow: false,
      src: null,
      tab: 'to',
      comment: '',
      day: today.getDay(),
      month: today.getMonth(),
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      fabRight: false,
      dialogRoute: false,
      route: '',
      routeOptions: ['Ruta de atención 1', 'Ruta de atención 2', 'Ruta de atención 3'],
    }
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    config: {
      get() {
        return this.$store.state.config
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  created() {
    const catalogsConfiguration = {
      users: true,
      people: true,
      units: true,
      position: true,
      entities: true,
      cat_doc_types: true,
      cat_recep_meds: true,
      cat_priorities: true,
      cat_to_docs: true,
      cat_sender_types: true,
      external_people: true,
      external_companies: true,
    };

    const { id } = this.$route.params
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        ExternalAffairReceptionService.edit(id).then((data) => {
          this.reception = data;
          this.$q.loading.hide();
        }).catch(() => {
          this.$q.loading.hide();
        })
        ExternalAffairReceptionFromService.edit(id);
        ExternalSenderService.edit(id).then((data) => {
          this.formExternalSender = data;
          this.$q.loading.hide();
        }).catch(() => {
          this.$q.loading.hide();
        })
        this.$q.loading.hide();
      });
  },
  beforeCreate() {
    this.$store.commit('reception/reset');
  },
  methods: {
    isValidEmail(val) {
      const emailPattern = /^(?=[a-zA-Z0-9@.%+-]{6,254}$)[a-zA-Z0-9.%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || 'Debe ingresar un correo válido';
    },
    updateExternalAffair() {
      // registro de formulario
      const receiverCheck = this.itemsParticipations.some((part) => part.participation === 1)
      if (!receiverCheck) {
        notifyError('Sin destinatario')
      }
      this.$refs.reception.validate().then((valid) => {
        if (valid && receiverCheck) {
          this.formcomm.comments = this.items;
          console.log(this.formcomm.comments);
          this.formcomm.folio = this.reception.folio;
          this.formpeople.people = this.itemsPeople;
          console.log('Peopleform', this.formpeople.people);
          this.formpeople.receiver_id = this.itemsPeople;
          console.log(this.formpeople.receiver_id);
          this.formpeople.participants_id = this.itemsParticipations;
          console.log(this.formpeople.participants_id);
          const form = { ...this.reception };
          const formcomm = { ...this.formcomm };
          const formpeople = { ...this.formpeople };
          const formExternalSender = { ...this.formExternalSender };
          const { id } = this.$route.params;
          this.$q.loading.show();
          ExternalAffairReceptionService.update(form, id).then((data) => {
            this.uploadOffice = true;
            console.log('EXTERNALAFFAIRRECEPTION', data);
            notifySuccess('Se ha agregado el Documento Externo');
            // External FROMS
            this.$q.loading.show();
            ExternalSenderService.update(formExternalSender, id).then(() => {
            }).catch((err) => {
              console.log(err)
            })
            ExternalAffairReceptionFromService.update(formpeople, id).then(() => {
            }).catch((err) => {
              console.log(err)
            })
            // fin external
            // comments store
            ExternalCommentService.update(formcomm, id).then(() => {
            }).catch((err) => {
              console.log(err)
            })
            this.$router.push('/externalOffice');
          }).catch(() => {
            notifyError();
          }).finally(() => {
            this.$q.loading.hide();
          })
        }
      });
    },
    addNewExternalPeople() {
      // alert('people');
      const externalPeople = { ...this.formexternalpeople };
      this.$refs.formexternalpeople.validate().then((valid) => {
        if (valid) {
          ExternalPeopleService.store(externalPeople).then((data) => {
            console.log('EXTERNAL', data);
            notifySuccess('Se ha agregado la persona');
            this.catalogs.external_people.push(data.externalpeople);
            this.formExternalSender.external_people_id = data.externalpeople.id;
            this.newExternalPeople = false;
          });
        }
      });
    },
    addNewCompany() {
      const externalCompany = { ...this.formcompany };
      this.$refs.formcompany.validate().then((valid) => {
        if (valid) {
          ExternalCompanyService.store(externalCompany).then((data) => {
            this.catalogs.external_companies.push(data.externalcompany);
            this.formExternalSender.external_company_id = data.externalcompany.id;
            this.newExternalCompany = false;
            console.log('COMPANY', data);
            notifySuccess('Se ha agregado la empresa');
          });
        }
      });
    },
    saveDraft() {
      this.$q.loading.show();
      notifySuccess('Se guardo el Oficio correctamente en borradores');
      this.$q.loading.hide();
      this.$router.push('/draftsTrades');
    },
    save() {
      this.date = this.proxyDate
    },
    modalClean() {
      this.$store.commit('reception/reset');
    },
    generatePdf() {
      // DataService.get().then(() => {
      //   this.loading = false
      // }).catch((err) => {
      //   console.log(err)
      //   this.loading = false
      // })
    },
    setDocument(document, file) {
      document.file = file;
      this.isShowDialogFile = false;
    },
    showDialog() {
      this.isShowDialogFile = true;
    },
    showDialogFile(file) {
      this.src = `${this.$axios.defaults.baseURL}/api/files/show/pdf/${file.id}`;
      this.isFileShow = true;
    },
    submitReception() {
      this.submitting = true;
      this.$refs.receptionForm.validate().then((valid) => {
        if (valid) {
          const receptionData = { ...this.reception };
          this.$q.loading.show();
          this.$store.dispatch('reception/save', receptionData).then((res) => {
            this.$q.loading.hide();
            if (res.status === 422) {
              this.errors = res.data.errors
              this.hasErrors = true;
              this.submitting = false;
              notifyError();
            } else if (res.data.success) {
              notifySuccess()
              this.$store.commit('reception/reset');
              this.$router.push('/attention-route/create');
            } else {
              this.submitting = false;
              notifyError();
            }
          });
        } else {
          this.submitting = false;
        }
      });
    },
    receptionDraft() {
      this.submitting = true;
      this.$refs.receptionForm.validate().then((valid) => {
        if (valid) {
          const receptionData = { ...this.reception };
          this.$q.loading.show();
          this.$store.dispatch('reception/save', receptionData).then((res) => {
            this.$q.loading.hide();
            if (res.status === 422) {
              this.errors = res.data.errors
              this.hasErrors = true;
              this.submitting = false;
              notifyError();
            } else if (res.data.success) {
              notifySuccess()
              this.$store.commit('reception/reset');
              this.$router.push('/draftsTrades');
            } else {
              this.submitting = false;
              notifyError();
            }
          });
        } else {
          this.submitting = false;
        }
      });
    },
    send() {
      this.$refs.routeForm.validate().then((valid) => {
        if (valid) {
          this.$q.loading.show();
          setTimeout(() => {
            notifySuccess('Se ha enviado correctamente');
            this.$router.push('/');
            this.$q.loading.hide();
          }, 500)
        }
      });
    },
    filterResponsible(position) {
      if (position != null) {
        // this.people.user = '';
        // this.people_id = '';
        this.loadingResponsible = true;
        CatalogService.getResponsible(position.id).then((people) => {
          this.InitialResponsibleOptions = people;
          this.ResponsibleOptions = this.InitialResponsibleOptions;
          this.loadingResponsible = false;
        })
      }
    },
    filterPositions(unit) {
      if (unit != null) {
        // this.people.position = '';
        // this.people.user = '';
        // this.position_id = '';
        this.loadingPosition = true;
        CatalogService.getPositions(unit.id).then((position) => {
          this.InitialPositionOptions = position;
          this.PositionOptions = this.InitialPositionOptions;
          this.loadingPosition = false;
        })
      }
    },
    filterUnits(entity) {
      if (entity != null) {
        // this.people.unit = '';
        // this.people.position = '';
        // this.people.user = '';
        // this.unit_id = '';
        this.loadingUnits = true;
        CatalogService.getUnits(entity).then((unit) => {
          this.InitialUnitsOptions = unit;
          this.UnitsOptions = this.InitialUnitsOptions;
          this.loadingUnits = false;
        })
      }
    },
    addComment(commentary) {
      this.$emit('addComment', commentary);
      if (this.commentsArray.writedComment !== '') {
        this.items.push({ comment: this.commentsArray.writedComment })
        this.commentsArray.writedComment = '';
        this.itemId += 1;
      }
    },
    addPeople(externalPeople) {
      console.log('itemsPeople length:', this.itemsPeople.length)
      if (this.itemsPeople.length === 0) {
        this.itemsPeople.push({ receiver: externalPeople });
        this.itemPeopleId += 1;
        console.log('itemsPeople length = 0')
      } else if (this.itemsPeople.length > 0) {
        for (let j = 0; j <= this.itemsPeople.length; j += 1) {
          if (externalPeople === this.itemsPeople[j]) {
            this.itemCount += 1;
          }
        }
        if (this.itemCount > 0) {
          notifyError('Destinatario duplicado')
        } else {
          this.itemsPeople.push({ receiver: externalPeople });
          this.itemPeopleId += 1;
        }
      }
    },
    addPeopleCCP(externalPeopleCCP) {
      this.itemsPeople.push({ receiver: externalPeopleCCP });
      this.itemPeopleId += 1;
    },
    addParticipation(externalPeopleParticipation) {
      this.itemsParticipations.push({ participation: externalPeopleParticipation })
      externalPeopleParticipation = '';
      this.itemParticipationId += 1;
    },
    deletePeople(deletePeople) {
      const index = this.itemsPeople.findIndex((x) => x.receiver === deletePeople);
      console.log(deletePeople)
      this.itemsPeople.splice(index, 1)
    },
    deleteParticipation(deleteParticipation) {
      const index = this.itemsParticipations.findIndex((x) => x.participation === deleteParticipation);
      console.log(deleteParticipation)
      this.itemsParticipations.splice(index, 1)
    },
  },
}

</script>

<style lang="sass" scoped>
.document-card
  width: 100%
  max-width: 130px
</style>
