<template>
  <div class="q-gutter-md">
    <q-card>
      <q-card-section>
        <div class="row">
          <div class="col-11 text-h6" align="center">
            <q-icon size="sm" name="far fa-envelope"/> Oficialia de Partes
          </div>
        </div>
      </q-card-section>
    </q-card>
    <Table/>
  </div>
</template>

<script>

import Table from './Table';

export default {
  components: {
    Table,
  },
  data() {
    return {
      id: ''
    }
  },
  methods: {
  }
}
</script>
