<template>
  <div>
    <q-card>
      <q-card-section>
        <q-form
          ref="registerForm"
          class="q-gutter-lg"
        >
          <q-tabs
            v-model="tab"
            dense
            active-color="black"
            indicator-color="black"
            align="justify"
            narrow-indicator
            class="text-grey shadow-2"
          >
            <q-tab name="reception" label="Documentos Externos Físicos">
              <q-badge v-if="totalExternalFisical != 0" color="red" floating transparent>
              {{totalExternalFisical}}
              </q-badge>
            </q-tab>
            <q-separator vertical />
            <q-tab name="external" label="Documentos Externos Dígitales" v-if="can('external-view-tables')">
              <q-badge v-if="totalExternalDigital != 0" color="red" floating transparent>
              {{totalExternalDigital}}
              </q-badge>
            </q-tab>
          </q-tabs>

          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="reception">
              <Reception />
            </q-tab-panel>

            <q-tab-panel name="external" v-if="can('external-view-tables')">
              <ExternalOffice />
            </q-tab-panel>

          </q-tab-panels>
        </q-form>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import * as ExternalOfficeService from 'src/services/receipt/ExternalOfficeReceptionService';
import * as CentralAPIService from 'src/services/CentralAPIService';
import * as UploadFileService from 'src/services/global/UploadFileService';
import ExternalOffice from './partials/ExternalOffice';
import Reception from './partials/Reception';

export default {
  components: { ExternalOffice, Reception },
  mounted() {
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
  },
  data() {
    return {
      tab: 'reception',
      totalExternalFisical: '',
      totalExternalDigital: '',
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: ''
      },
    }
  },
  created() {
    localStorage.setItem('owner_upload', true)
  },
  methods: {
    getEntity() {
      CentralAPIService.getEntities().then((data) => {
        console.log('ENTITIES ', data);
      });
    },
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination
      const { search } = this
      this.loading = true
      ExternalOfficeService.index({ params: { page, rowsPerPage, search } }).then((res) => {
        console.log('externalOffice', res);
        // this.data = res.data
        // this.getEntity();
        // this.loading = false
      }).catch((err) => {
        console.log(err)
        this.loading = false
      })
    },
    render(id) {
      UploadFileService.externalShowFile(id).then((file) => {
        this.src = window.URL.createObjectURL(new Blob([file.data]));
        this.officeDialog = true;
      }).catch((err) => {
        console.log(err)
      })
    },
    renderChat(id) {
      this.affairId = id
      this.chatDialog = true
    },
    reply(id) {
      this.affairId = id
      this.$router.push(`answer-affair/${id}`);
    },
    edit(id) {
      this.affairId = id
      this.$router.push(`/reception/${id}/edit`);
    },
  },
  computed: {
    canEdit: {
      get() {
        return this.canShow('reception-edit');
      }
    }
  }
}
</script>
