<template>
  <div>
    <q-card-section v-if="affairStatusId">
      <q-card bordered flat>
        <q-card-section style="height: 45vh" class="scroll">
          <q-item v-for="annexe in annexes " :key="annexe.id">
            <div class="row q-my-md q-pr-xl" v-if="annexe.annexedType != 'affair_file'">
              <q-item-section side>
                <q-avatar rounded size="48px">
                  <img v-if="annexe.filetype === 'pdf'" src="~assets/img/pdf.png"  alt=""/>
                  <img v-if="annexe.filetype === 'zip'" src="~assets/img/zip.png"  alt=""/>
                  <img v-if="annexe.filetype === 'rar'" src="~assets/img/rar.png"  alt=""/>
                  <img v-if="annexe.filetype === 'doc'" src="~assets/img/word.png"  alt=""/>
                  <img v-if="annexe.filetype === 'xls'" src="~assets/img/excel.png"  alt=""/>
                  <img v-if="annexe.filetype === 'ppt'" src="~assets/img/ppt.png"  alt=""/>
                  <img v-if="annexe.filetype === 'docx'" src="~assets/img/word.png"  alt=""/>
                  <img v-if="annexe.filetype === 'xlsx'" src="~assets/img/excel.png"  alt=""/>
                  <img v-if="annexe.filetype === 'pptx'" src="~assets/img/ppt.png"  alt=""/>
                  <img v-if="annexe.filetype === 'odt'" src="~assets/img/low.png"  alt=""/>
                  <img v-if="annexe.filetype === 'ods'" src="~assets/img/loe.png"  alt=""/>
                  <img v-if="annexe.filetype === 'odp'" src="~assets/img/lop.png"  alt=""/>
                  sds
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  {{annexe.originalname}}
                  <q-badge color="blue">
                    {{annexe.showType}}
                  </q-badge>
                </q-item-label>
              </q-item-section>
              <q-space />
              <q-item-section side>
                <div class="text-grey-8 q-gutter-xs">
                  <q-btn v-if="annexe.filetype === 'pdf'" class="gt-xs" size="12px" flat dense round icon="fas fa-eye" @click="renderpdf(annexe.id, annexe.annexedType)"/>
                  <q-btn  class="gt-xs" size="12px" flat dense round icon="fas fa-download" @click="descargaFile(annexe.id, annexe.originalname)"/>
                  <q-btn v-if="affairStatusId < 3" class="gt-xs" size="12px" flat dense round icon="delete" @click="deleteFile(annexe.id, annexe.annexedType)"/>
                </div>
              </q-item-section>
            </div>
          </q-item>
        </q-card-section>
      </q-card>
    </q-card-section>
    <q-separator></q-separator>
    <q-card-section v-if="owner_upload ==='true' && affairStatusId < 7 || !affairStatusId">
      <div class="text-h6">
        <q-icon size="sm" color="primary" name="fas fa-paperclip"/> Documentos a Subir
      </div>
      <br/>
    <div class="row q-col-gutter-sm">
      <!-- <div class="col-xs-12 col-sm-12 col-md-4">
          <q-file id="Acuse" outlined use-chips v-model="acknowledgment" label="Acuse del documento" counter accept=".pdf, .PDF">
            <template v-slot:append>
                <q-icon name="attach_file" />
            </template>
          </q-file>
        </div>
      -->
        <div class="col-xs-12 col-sm-12 col-md-3">
          <q-file id="Doc" outlined use-chips v-model="affairFile" label="Documento original" counter accept=".pdf, .PDF" >
            <template v-slot:append>
              <q-icon name="attach_file" />
            </template>
          </q-file>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
          <q-file id="Anexed" outlined use-chips accept=".pdf, .zip, .rar, .odt, .ods, .odp, .doc, .xls, .ppt, .docx, .xlsx, .pptx" v-model="annexedFile" label="Archivos Adjuntos" multiple counter :max-total-size="totalMaxSize" @rejected="excedido()">
            <template v-slot:append>
              <q-icon name="attach_file" />
            </template>
          </q-file>
        </div>
      <div  v-if="( affairStatusId === 6 )" class="col-xs-12 col-sm-12 col-md-3">
        <q-file id="Signed" outlined use-chips v-model="signedFile" label="Documento firmado" counter accept=".pdf, .PDF">
          <template v-slot:append>
            <q-icon name="attach_file" />
          </template>
        </q-file>
      </div>
        <q-space />
        <div class="col-2">
          <q-btn v-if="can('document-attach') && (affairStatusId < 3 || affairStatusId)" flat label="Adjuntar" color="primary" @click="addEditFiles()" v-close-popup/>
        </div>
      </div>
    </q-card-section>

    <q-dialog v-model="scannerDialog" full-height persistent>
      <q-card style="width: 700px; max-width: 80vw;" class="full-height">
        <q-card-section style="height: 100%;">
          <q-scroll-area style="height: 80vh;max-height: 90%; max-width: 80vw;" id="scroll-img">
          </q-scroll-area>
          <div class="text-center">
            <q-btn @click="scan">
              Escanear
            </q-btn>
          </div>
        </q-card-section>
        <q-card-actions align="right" class="absolute-bottom">
          <q-btn flat label="Aceptar" color="primary" v-close-popup @click="generatePDF"/>
          <q-btn flat label="Cancelar" color="primary" v-close-popup @click="cancelPDF"/>
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
/* eslint-disable */
import jsPDF from 'jspdf'
import * as ExternalFileService from 'src/services/global/ExternalUploadFileService';
import * as AttachedFileService from 'src/services/AttachedFileService';
import { notifyError, notifyAlert } from 'src/utils/notify';

export default {
  props: { uploadOffice: Boolean, affairId: Number , affairStatusId: Number, numAttached: Number},
  data() {
    return {
      acknowledgment: null,
      affairFile: null,
      signedFile: null,
      annexedFile: [],
      scannerDialog: false,
      numPages: 0,
      target: '',
      annexes: [],
      officeDialog: false,
      totalMaxSize: 10485760,
      src: '',
      owner_upload: localStorage.getItem('owner_upload')
    }
  },
  created() {
    this.maxsize()
    const catalogsConfiguration = {
      units: true,
      position: true,
      cat_doc_types: true,
      cat_recep_meds: true,
      cat_priorities: true,
    };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
    this.folio = this.reception.folio
    //this.affair_id = this.$props.affairId
    if(this.$props.affairStatusId){
      const { id } = this.$route.params;
      this.$q.loading.show();
      this.getFiles(id);
    }
  },
  watch: {
    uploadOffice: function (val, oldval) {
      // console.log(this.reception.folio, val);
      if (val) {
        console.log(val);
        if(this.affairFile) {
          const formDataAffairFile = new FormData();
          formDataAffairFile.append('affair_id', this.$props.affairId);
          formDataAffairFile.append('module', 'affair');
          formDataAffairFile.append('type', 'affair_file');
          formDataAffairFile.append('fileType', 'pdf');
          formDataAffairFile.append('folio', this.reception.folio);
          formDataAffairFile.append('document', this.affairFile);
          ExternalFileService.upload(formDataAffairFile).then((affairFile) => {
            console.log(affairFile);
            if(affairFile == null){
              this.$q.notify({
                icon: 'cloud_upload',
                color: 'warning',
                position: 'top-right',
                textColor: 'white',
                message: 'El tamaño del documento se ha excedido',
              });
              this.$q.loading.hide();
            }
            else {
              this.$q.notify({
                icon: 'cloud_upload',
                color: 'positive',
                position: 'top-right',
                textColor: 'white',
                message: 'Se ha subido el documento correctamente',
              });
            }
          }).catch((err) => {
            // console.log(err)
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'warning',
              position: 'top-right',
              textColor: 'white',
              message: err.response.data.message,
            });
            this.$q.loading.hide();
          })
        }
        if(this.acknowledgment) {
          const formDataAffairFile2 = new FormData();
          formDataAffairFile2.append('affair_id', this.$props.affairId);
          formDataAffairFile2.append('module', 'affair');
          formDataAffairFile2.append('type', 'acknowledgment_file');
          formDataAffairFile2.append('fileType', 'pdf');
          formDataAffairFile2.append('document', this.acknowledgment);
          formDataAffairFile2.append('folio', this.reception.folio);
          ExternalFileService.upload(formDataAffairFile2).then((affairFile) => {
            if(affairFile == null){
              this.$q.notify({
                icon: 'cloud_upload',
                color: 'warning',
                position: 'top-right',
                textColor: 'white',
                message: 'El tamaño del acuse se ha excedido',
              });
              this.$q.loading.hide();
            }
            else {
              this.$q.notify({
                icon: 'cloud_upload',
                color: 'positive',
                position: 'top-right',
                textColor: 'white',
                message: 'Se ha subido el acuse correctamente',
              });
            }
          }).catch((err) => {
            // console.log(err)
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'warning',
              position: 'top-right',
              textColor: 'white',
              message: err.response.data.message,
            });
            this.$q.loading.hide();
          })
        }
        if(this.signedFile) {
          const formDataAffairFile4 = new FormData();
          formDataAffairFile4.append('affair_id', this.$props.affairId);
          formDataAffairFile4.append('module', 'affair');
          formDataAffairFile4.append('type', 'asignedFile_file');
          formDataAffairFile4.append('fileType', 'pdf');
          formDataAffairFile4.append('document', this.asignedFile);
          formDataAffairFile4.append('folio', this.reception.folio);
          ExternalFileService.upload(formDataAffairFile4).then((affairFile) => {
            if(affairFile == null){
              this.$q.notify({
                icon: 'cloud_upload',
                color: 'warning',
                position: 'top-right',
                textColor: 'white',
                message: 'El tamaño del archivo firmado se ha excedido',
              });
              this.$q.loading.hide();
            }
            else {
              this.$q.notify({
                icon: 'cloud_upload',
                color: 'positive',
                position: 'top-right',
                textColor: 'white',
                message: 'Se ha subido el archivo firmado correctamente',
              });
            }
          }).catch((err) => {
            // console.log(err)
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'warning',
              position: 'top-right',
              textColor: 'white',
              message: err.response.data.message,
            });
            this.$q.loading.hide();
          })
        }
        if(this.annexedFile.length > 0) {
          const formDataAffairFile3 = new FormData();
          formDataAffairFile3.append('affair_id', this.$props.affairId);
          formDataAffairFile3.append('module', 'affair');
          formDataAffairFile3.append('type', 'attached_file');
          formDataAffairFile3.append('fileType', 'pdf');
          // formDataAffairFile3.append('document', this.annexedFile);
          if (this.annexedFile.length > 0) {
            for (let i = 0; i < this.annexedFile.length; i++) {
              formDataAffairFile3.append('document[' + i + ']', this.annexedFile[i])
            }
          }
          formDataAffairFile3.append('folio', this.reception.folio);
          ExternalFileService.upload(formDataAffairFile3).then((affairFile) => {
            if(affairFile == null){
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'warning',
              position: 'top-right',
              textColor: 'white',
              message: 'El tamaño total de los archivos se ha excedido',
            });
            this.$q.loading.hide();
          }
          else{
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'positive',
              position: 'top-right',
              textColor: 'white',
              message: 'Se han subido los anexos correctamente',
            });
          }
          }).catch((err) => {
            console.log(err)
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'warning',
              position: 'top-right',
              textColor: 'white',
              message: err.response.data.message,
            });
            this.$q.loading.hide();
          })
        }
      }
    }
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  methods: {
    getFiles(id) {
      this.annexes = [];
      AttachedFileService.fileAnnexes(id).then((data) => {
        console.log(data.annexes)
        this.annexes = data.annexes
      }).catch((err) => {
        console.log(err)
      })
      this.$q.loading.hide();
    },
    scan() {
      /* eslint-disable */
      ws.send("1100");
      this.numPages = toPDF.length
    },
    generatePDF() {
      const doc = new jsPDF('p', 'pt', 'letter')
      console.log(toPDF)
      let sizePDF = toPDF.length - 1
      toPDF.forEach((img, index) => {
        doc.addImage(img, 'JPEG', 0, 0, 610, 800)
        if (sizePDF > index) {
          doc.addPage()
        }
      })
      if (this.target === 'acknowledgment') {
        this.acknowledgment = new File([doc.output('blob')], 'acuse.pdf')
      } else if (this.target === 'affairFile') {
        this.affairFile = new File([doc.output('blob')], 'asunto.pdf')
      } else if (this.target === 'annexedFile') {
        this.annexedFile = new File([doc.output('blob')], 'anexo.pdf')
      }else if (this.target === 'signedFile') {
        this.signedFile = new File([doc.output('blob')], 'signed.pdf')
      }
      toPDF = []
    },
    cancelPDF() {
      toPDF = []
      this.scannerDialog = false
    },
    addEditFiles() {
      const { id } = this.$route.params;
      this.$q.loading.show();
      //console.log(id);
      if(this.affairFile) {
        const formDataAffairFile = new FormData();
        formDataAffairFile.append('affair_id', id);
        formDataAffairFile.append('module', 'affair');
        formDataAffairFile.append('type', 'affair_file');
        formDataAffairFile.append('fileType', 'pdf');
        // formDataAffairFile.append('folio', this.reception.folio);
        formDataAffairFile.append('document', this.affairFile);
        ExternalFileService.upload(formDataAffairFile).then((affairFile) => {
          if(affairFile == null){
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'warning',
              position: 'top-right',
              textColor: 'white',
              message: 'El tamaño del archivo se ha excedido',
            });
            this.$q.loading.hide();
          }
          else {
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'positive',
              position: 'top-right',
              textColor: 'white',
              message: 'Se ha subido el documento correctamente',
            });
            this.getFiles(id);
            this.updateCantFiles(id);
          }
          this.affairFile = null;
        }).catch((err) => {
          // console.log(err)
          this.$q.notify({
            icon: 'cloud_upload',
            color: 'warning',
            position: 'top-right',
            textColor: 'white',
            message: err.response.data.message,
          });
          this.$q.loading.hide();
        })
      }
      console.log(this.signedFile);
      if(this.signedFile) {
        const formDataAffairFile5 = new FormData();
        formDataAffairFile5.append('affair_id', id);
        formDataAffairFile5.append('affair_signed', true);
        formDataAffairFile5.append('module', 'affair');
        formDataAffairFile5.append('type', 'affair_file');
        formDataAffairFile5.append('fileType', 'pdf');
        formDataAffairFile5.append('document', this.signedFile);
        // formDataAffairFile2.append('folio', this.reception.folio);
        ExternalFileService.upload(formDataAffairFile5).then((affairFile) => {
          console.log(affairFile);
          if(affairFile == null){
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'warning',
              position: 'top-right',
              textColor: 'white',
              message: 'El tamaño del archivo se ha excedido',
            });
            this.$q.loading.hide();
          }
          else {
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'positive',
              position: 'top-right',
              textColor: 'white',
              message: 'Se ha subido el acuse correctamente',
            });
            this.getFiles(id);
            this.updateCantFiles(id);
          }
          this.signedFile = null;
        }).catch((err) => {
          // console.log(err)
          this.$q.notify({
            icon: 'cloud_upload',
            color: 'warning',
            position: 'top-right',
            textColor: 'white',
            message: err.response.data.message,
          });
          this.$q.loading.hide();
        })
      }
      if(this.acknowledgment) {
        const formDataAffairFile2 = new FormData();
        formDataAffairFile2.append('affair_id', id);
        formDataAffairFile2.append('module', 'affair');
        formDataAffairFile2.append('type', 'acknowledgment_file');
        formDataAffairFile2.append('fileType', 'pdf');
        formDataAffairFile2.append('document', this.acknowledgment);
        // formDataAffairFile2.append('folio', this.reception.folio);
        ExternalFileService.upload(formDataAffairFile2).then((affairFile) => {
          console.log(affairFile);
          if(affairFile == null){
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'warning',
              position: 'top-right',
              textColor: 'white',
              message: 'El tamaño del archivo se ha excedido',
            });
            this.$q.loading.hide();
          }
          else {
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'positive',
              position: 'top-right',
              textColor: 'white',
              message: 'Se ha subido el acuse correctamente',
            });
            this.getFiles(id);
            this.updateCantFiles(id);
          }
          this.acknowledgment = null;
        }).catch((err) => {
          // console.log(err)
          this.$q.notify({
            icon: 'cloud_upload',
            color: 'warning',
            position: 'top-right',
            textColor: 'white',
            message: err.response.data.message,
          });
          this.$q.loading.hide();
        })
      }
      if(this.annexedFile.length > 0) {
        const formDataAffairFile3 = new FormData();
        formDataAffairFile3.append('affair_id', id);
        formDataAffairFile3.append('module', 'affair');
        formDataAffairFile3.append('type', 'attached_file');
        formDataAffairFile3.append('fileType', 'pdf');
        // formDataAffairFile3.append('document', this.annexedFile);
        if (this.annexedFile.length > 0) {
          for (let i = 0; i < this.annexedFile.length; i++) {
            formDataAffairFile3.append('document[' + i + ']', this.annexedFile[i])
          }
        }
        // formDataAffairFile3.append('folio', this.reception.folio);
        ExternalFileService.upload(formDataAffairFile3).then((affairFile) => {
          if(affairFile == null){
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'warning',
              position: 'top-right',
              textColor: 'white',
              message: 'El tamaño total de los archivos se ha excedido',
            });
            this.$q.loading.hide();
          }
          else{
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'positive',
              position: 'top-right',
              textColor: 'white',
              message: 'Se han subido los anexos correctamente',
            });
            this.getFiles(id);
            this.updateCantFiles(id);
          }
          this.annexedFile = null;
        }).catch((err) => {
          // console.log(err)
          this.$q.notify({
            icon: 'cloud_upload',
            color: 'warning',
            position: 'top-right',
            textColor: 'white',
            message: err.response.data.message,
          });
          this.$q.loading.hide();
        })
      }
      else {
        this.$q.loading.hide();
      }
      /* AttachedFileService.fileAnnexes(id).then((data) => {
        console.log(data);
        this.annexes = data.annexes
        //this.$props.numAttached = data.cant
        this.$emit('sum-attached', data.cant);
      }).catch((err) => {
        console.log(err)
      }) */
    },
    renderpdf(id, type) {
      console.log(id,type);
      this.src = `${this.$axios.defaults.baseURL}/api/attached-files/show/${id}/${type}`;
      this.officeDialog = true;
    },
    deleteFile(fileId, annexedType) {
      const { id } = this.$route.params;
      console.log(id, fileId, annexedType);
      this.$q.loading.show();
      var obj = {affair_id:id, file_id:fileId, type_file:annexedType}
      AttachedFileService.destroyInputAffairFile(obj).then(() => {
        this.$q.notify('Se ha eliminado el documento correctamente');
        AttachedFileService.fileAnnexes(id).then((data) => {
          this.annexes = data.annexes
          //this.$props.numAttached = data.cant
          this.$emit('sum-attached', data.cant);
        }).catch((err) => {
          console.log(err)
        })
      }).catch((err) => {
        console.log(err)
      }).finally(() => {
        this.$q.loading.hide();
      })
    },
    onRejected (rejectedEntries) {
      // Notify plugin needs to be installed
      // https://quasar.dev/quasar-plugins/notify#Installation
      this.$q.notify({
        type: 'negative',
        message: `${rejectedEntries.length} Archivos(s) exceden el tamaño permitido`
      })
    },
    descargaFile(id, name) {
      console.log(id)
      this.$q.loading.show();
      AttachedFileService.getCompresedFile(id).then((data) => {
        // console.log(data, type);
        // const fileName = `${name} .${type}`;
        const fileName = name;
        const fileURL = window.URL.createObjectURL(new Blob([data]));
        const fileLink = document.createElement('a');
        fileLink.href = fileURL;
        fileLink.setAttribute('download', fileName);
        document.body.appendChild(fileLink);
        fileLink.click();
        this.$q.loading.hide();
      }).catch((err) => {
        console.log(err)
      })
    },
    maxsize() {
      const size = this.user.permissions.filter((obj) => obj === 'document-attached-50mb')
      const maxsize = size.length > 0 ? '52428800' : '10485760'
      this.totalMaxSize = maxsize
    },
    excedido() {
      const msg = (this.totalMaxSize === '52428800') ? 'Peso maximo excedido, 50MB como maximo' : 'Peso maximo excedido, 10MB como maximo'
      notifyAlert(msg)
    },
    updateCantFiles(id) {
      AttachedFileService.fileAnnexes(id).then((data) => {
        console.log(data);
        this.annexes = data.annexes
        //this.$props.numAttached = data.cant
        this.$emit('sum-attached', data.cant);
      }).catch((err) => {
        console.log(err)
      })
    }
  }
}
</script>
