<template>
  <div>
    <div class="row q-col-gutter-sm">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <q-card flat>
          <div class="text-h6">
            <q-btn class="float-right" round size="sm" @click="dialogPeople=true" outline color="primary" icon="fas fa-plus"/>
          </div>
          <div class="row q-col-gutter-sm q-mt-sm">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="text-h6 q-ml-md">
                <q-icon size="sm" color="primary" name="mail"/> Enviar a
              </div>
              <!-- {{ forUser }} -->
              <div
                class="row q-col-gutter-sm q-mt-sm items-center"
                v-for="(user) in forUser"
                :key="user.id">
                <div class="col-10">
                  <div class="row">
                    <div class="col-3 text-center" @mouseover="user.hover = true">
                      <q-avatar size="30px">
                        <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                      </q-avatar>
                    </div>
                    <div class="col-7 text-subtitle1">
                      {{ `${user.position} / ${user.user}` }}
                    </div>
                  </div>
                  <q-menu
                    v-model="user.hover"
                    max-width="350px"
                    anchor="center middle"
                    self="center middle">
                    <q-item>
                      <q-item-section>
                        <div class="row items-center q-my-sm">
                          <div class="col-4" @mouseleave="user.hover = false">
                            <q-avatar size="52px">
                              <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                            </q-avatar>
                          </div>
                          <div class="col-8 text-weight-bolder">
                            {{ `${user.position} / ${user.user}` }}
                          </div>
                        </div>
                        <div class="text-weight-medium q-my-sm">
                          {{ user.unit }}
                        </div>
                        <div>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam eos, distinctio omnis perspiciatis corrupti, modi inventore atque unde doloribus eius ipsa sint ipsam deserunt, dolore in architecto temporibus est culpa.
                        </div>
                      </q-item-section>
                    </q-item>
                  </q-menu>
                </div>
                <q-btn round dense flat icon="close" @click="Delete(user.id)"/>
              </div>
            </div>
          </div>
          <q-dialog v-model="dialogPeople">
            <q-card style="width: 450px">
              <q-card-section class="q-pb-none">
                <div class="text-h6">
                  <q-icon size="sm" color="primary" name="mail"/> Agregar destino
                </div>
              </q-card-section>
              <q-separator/>
              <q-card-section>
                <q-select outlined v-model="people.entity"
                  class="q-my-sm"
                  :options="catalogs.entities"
                  option-value="id"
                  option-label="name"
                  label="Seleccione Entidad"
                  @input="filterUnits"
                  @clear="() => {(UnitsOptions = []), (instruction.unit_id = null);}"
                  emit-value
                  :rules="[(val) => !!val || 'Este campo es obligatorio']"
                  map-options />
                <br/>
                <q-select outlined v-model="people.unit" class="q-my-sm"
                  :loading="loadingUnits"
                  option-value="id"
                  option-label="name"
                  :options="UnitsOptions"
                  label="Unidad"
                  @input="filterPositions"
                  @clear="() => {(PositionOptions = []), (instruction.position_id = null);}"
                  :rules="[$rules.required($i18n.t('requiredInput'))]"/>
                <br/>
                <q-select outlined v-model="people.position" class="q-my-sm"
                  clearable
                  :loading="loadingPosition"
                  option-value="id"
                  option-label="name"
                  :options="PositionOptions"
                  label="Puesto"
                  @input="filterResponsible"
                  @clear="() => {(ResponsibleOptions = []), (instruction.people_id = null);}"
                  :rules="[$rules.required($i18n.t('requiredInput'))]" />
                <br/>
                <q-select clearable v-model="people.user" class="q-my-sm"
                  :loading="loadingResponsible"
                  outlined
                  option-value="id"
                  option-label="full_name"
                  :options="ResponsibleOptions"
                  label="Persona"/>
                <q-btn
                  v-if="(people.user != '')
                  || (people.entity != '' & people.unit != '' & people.position != '' & ResponsibleOptions == '')
                  || (people.entity != '' & people.unit != '' & PositionOptions == '' & ResponsibleOptions == '')"
                  color="primary"
                  label="Agregar"
                  @click="Add()"
                  v-close-popup/>
              </q-card-section>
            </q-card>
          </q-dialog>
        </q-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <q-card flat>
          <div class="text-h6">
            <q-btn class="float-right" round size="sm" @click="dialogPeopleCcp=true" outline color="primary" icon="fas fa-plus"/>
          </div>
          <div class="row q-col-gutter-sm q-mt-sm">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="text-h6 q-ml-md">
                <q-icon size="sm" color="primary" name="fas fa-copy"/> Con copia para
              </div>
              <div
                class="row q-col-gutter-sm q-mt-sm items-center"
                v-for="(user) in ccp"
                :key="user.id">
                <div class="col-10">
                  <div class="row">
                    <div class="col-3 text-center" @mouseover="user.hover = true">
                      <q-avatar size="30px">
                        <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                      </q-avatar>
                    </div>
                    <div class="col-7 text-subtitle1">
                      {{ `${user.position} / ${user.user}` }}
                    </div>
                  </div>
                  <q-menu
                    v-model="user.hover"
                    max-width="350px"
                    anchor="center middle"
                    self="center middle">
                    <q-item>
                      <q-item-section>
                        <div class="row items-center q-my-sm">
                          <div class="col-4" @mouseleave="user.hover = false">
                            <q-avatar size="52px">
                              <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                            </q-avatar>
                          </div>
                          <div class="col-8 text-weight-bolder">
                            {{ `${user.position} / ${user.user}` }}
                          </div>
                        </div>
                        <div class="text-weight-medium q-my-sm">
                          {{ user.unit }}
                        </div>
                        <div>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam eos, distinctio omnis perspiciatis corrupti, modi inventore atque unde doloribus eius ipsa sint ipsam deserunt, dolore in architecto temporibus est culpa.
                        </div>
                      </q-item-section>
                    </q-item>
                  </q-menu>
                </div>
                <q-btn round dense flat icon="close" @click="DeleteCcp(user.id)"/>
              </div>
            </div>
          </div>
          <q-dialog v-model="dialogPeopleCcp">
            <q-card  style="width: 450px">
              <q-card-section class="q-pb-none">
                <div class="text-h6">
                  <q-icon size="sm" color="primary" name="fas fa-copy"/> Agregar destino para copia
                </div>
              </q-card-section>
              <q-separator/>
              <q-card-section>
                <q-select outlined v-model="people.entity"
                    class="q-my-sm"
                    :options="catalogs.entities"
                    option-value="id"
                    option-label="name"
                    label="Seleccione Entidad"
                    @input="filterUnits"
                    @clear="() => {(UnitsOptions = []), (instruction.unit_id = null);}"
                    emit-value
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                    map-options />
                    <br/>
                  <q-select outlined v-model="people.unit" class="q-my-sm"
                    :loading="loadingUnits"
                    :disable="UnitsOptions.length <= 0 || loadingUnits"
                    option-value="id"
                    option-label="name"
                    :options="UnitsOptions"
                    label="Unidad"
                    @input="filterPositions"
                    @clear="() => {(PositionOptions = []), (instruction.position_id = null);}"
                    :rules="[$rules.required($i18n.t('requiredInput'))]"/>
                    <br/>
                  <q-select outlined v-model="people.position" class="q-my-sm"
                    clearable
                    :loading="loadingPosition"
                    :disable="PositionOptions.length <= 0 || loadingPosition"
                    option-value="id"
                    option-label="name"
                    :options="PositionOptions"
                    label="Puesto"
                    @input="filterResponsible"
                    @clear="() => {(ResponsibleOptions = []), (instruction.people_id = null);}"
                    :rules="[$rules.required($i18n.t('requiredInput'))]" />
                    <br/>
                  <q-select clearable v-model="people.user" class="q-my-sm"
                    :loading="loadingResponsible"
                    :disable="ResponsibleOptions.length <= 0 || loadingResponsible"
                    outlined
                    option-value="id"
                    option-label="full_name"
                    :options="ResponsibleOptions"
                    label="Persona"/>
                <q-btn
                  v-if="(people.user != '')
                  || (people.entity != '' & people.unit != '' & people.position != '' & ResponsibleOptions == '')
                  || (people.entity != '' & people.unit != '' & PositionOptions == '' & ResponsibleOptions == '')"
                  color="primary"
                  label="Agregar"
                  @click="AddCcp()"
                  v-close-popup/>
              </q-card-section>
            </q-card>
          </q-dialog>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
import * as CatalogService from 'src/services/admin/CatalogService';

export default {
  data() {
    return {
      ResponsibleOptions: [],
      InitialResponsibleOptions: [],
      loadingResponsible: false,
      PositionOptions: [],
      InitialPositionOptions: [],
      loadingPosition: false,
      UnitsOptions: [],
      InitialUnitsOptions: [],
      loadingUnits: false,
      dialogPeople: false,
      dialogPeopleCcp: false,
      people: {
        id: '',
        user: '',
        userId: '',
        participationId: '',
        entity: '',
        unit: '',
        position: '',
        hover: false,
      },
      receiverToDelete: '',
      participationToDelete: '',
      responsable: '',
      forUser: [],
      forExternalPeople: [],
      ccp: [],
      id: 1,
      idCcp: 1,
    }
  },
  props: {
    externalPeople: Array,
    externalPeopleCCP: Array,
    externalPeopleParticipation: Array,
    deletePeople: Array,
    deleteParticipation: Array
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  methods: {
    Add() {
      this.people.id = this.id
      this.people.unit = this.people.unit.name
      this.people.position = this.people.position.name
      this.people.userId = this.people.user.id
      this.people.user = this.people.user.full_name
      this.people.participationId = 1
      this.forUser.push({ ...this.people })
      this.$emit('addPeople', this.people.userId);
      this.$emit('addParticipation', this.people.participationId);
      // this.dialogPeople = false
      this.UnitsOptions = [];
      this.PositionOptions = [];
      this.ResponsibleOptions = [];
      this.people.entity = ''
      this.people.unit = ''
      this.people.position = ''
      this.people.userId = ''
      this.people.user = ''
      this.people.participationId = '';
      this.id += 1
    },
    AddCcp() {
      this.people.id = this.id
      this.people.unit = this.people.unit.name
      this.people.position = this.people.position.name
      this.people.userId = this.people.user.id
      this.people.user = this.people.user.full_name
      this.people.participationId = 2;
      this.ccp.push({ ...this.people })
      this.$emit('addPeopleCCP', this.people.userId);
      this.$emit('addParticipation', this.people.participationId);
      this.dialogPeopleCcp = false
      this.UnitsOptions = [];
      this.PositionOptions = [];
      this.ResponsibleOptions = [];
      this.people.entity = ''
      this.people.unit = ''
      this.people.position = ''
      this.people.userId = ''
      this.people.user = ''
      this.people.participationId = '';
      this.id += 1
    },
    Delete(id) {
      if (id >= 1) {
        const index = this.forUser.findIndex((x) => x.id === id);
        console.log(this.forUser[0].userId)
        console.log(this.forUser[0].participationId)
        this.receiverToDelete = this.forUser[0].userId;
        this.participationToDelete = this.forUser[0].participationId;
        this.forUser.splice(index, 1)
        this.id -= 1
        this.$emit('deletePeople', this.receiverToDelete)
        this.$emit('deleteParticipation', this.participationToDelete)
        this.receiverToDelete = '';
        this.participationToDelete = '';
      }
    },
    DeleteCcp(id) {
      if (id >= 1) {
        const index = this.ccp.findIndex((x) => x.id === id);
        console.log(this.ccp[0].userId)
        console.log(this.ccp[0].participationId)
        this.receiverToDelete = this.ccp[0].userId;
        this.participationToDelete = this.ccp[0].participationId;
        this.ccp.splice(index, 1)
        this.id -= 1
        this.$emit('deletePeople', this.receiverToDelete)
        this.$emit('deleteParticipation', this.participationToDelete)
        this.receiverToDelete = '';
        this.participationToDelete = '';
      }
    },
    filterResponsible(position) {
      if (position != null) {
        this.people.user = '';
        this.people_id = '';
        this.loadingResponsible = true;
        CatalogService.getResponsible(position.id).then((people) => {
          this.InitialResponsibleOptions = people;
          this.ResponsibleOptions = this.InitialResponsibleOptions;
          this.loadingResponsible = false;
        })
      }
    },
    filterPositions(unit) {
      if (unit != null) {
        this.people.position = '';
        this.people.user = '';
        this.position_id = '';
        this.loadingPosition = true;
        CatalogService.getPositions(unit.id).then((position) => {
          this.InitialPositionOptions = position;
          this.PositionOptions = this.InitialPositionOptions;
          this.loadingPosition = false;
        })
      }
    },
    filterUnits(entity) {
      if (entity != null) {
        this.people.unit = '';
        this.people.position = '';
        this.people.user = '';
        this.unit_id = '';
        this.loadingUnits = true;
        CatalogService.getUnits(entity).then((unit) => {
          this.InitialUnitsOptions = unit;
          this.UnitsOptions = this.InitialUnitsOptions;
          this.loadingUnits = false;
        })
      }
    },
  }
}
</script>
