<template>
  <div class="q-gutter-md">
    <q-card>
      <q-card-section  align="center">
        <div class="row">
          <div class="col-11 text-h6">
            <q-icon size="sm" name="inbox"/> Bandeja de Asignados
          </div>
        </div>
      </q-card-section>
    </q-card>
    <Inbox/>
  </div>
</template>

<script>

import Inbox from './Table';

export default {
  components: {
    Inbox,
  },
}
</script>
