<template>
  <div>
    <q-card>
      <q-card-section>
        <q-tabs
          v-model="tab"
          dense
          active-color="black"
          indicator-color="black"
          align="justify"
          narrow-indicator
          class="text-grey shadow-2"
        >
          <q-tab name="assigned" label="Documentos Asignados">
            <q-badge v-if="totalAsig != 0" color="red" floating transparent>
            {{totalAsig}}
            </q-badge>
          </q-tab>
          <q-separator vertical />
          <q-tab name="turn_by_me" label="Documentos Turnados">
            <q-badge v-if="totalTurn != 0" color="red" floating transparent>
            {{totalTurn}}
            </q-badge>
          </q-tab>
        </q-tabs>

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="assigned">
            <Assigned @change-tab="changeTab"/>
          </q-tab-panel>

          <q-tab-panel name="turn_by_me">
            <TurnByMe />
          </q-tab-panel>
        </q-tab-panels>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import Assigned from './partials/Assigned';
import TurnByMe from './partials/TurnByMe';

export default {
  components: { Assigned, TurnByMe },
  data() {
    return {
      tab: 'assigned',
      totalAsig: '',
      totalTurn: '',
    }
  },
  created() {
    localStorage.setItem('owner_upload', false)
  },
  methods: {
    changeTab() {
      this.tab = 'turn_by_me'
    }
  },
}
</script>
