<template>
<div>
  <q-form ref="positionsForm" @submit.prevent="() => {}">
    <q-card style="width: 100%">
      <q-item>
        <q-btn
          flat
          round
          color="primary"
          icon="fas fa-arrow-left"
          @click="$router.back()"
        >
          <q-tooltip>Volver</q-tooltip>
        </q-btn>
        <q-item-section avatar>
            <q-icon size="md" name="people_alt"/>
        </q-item-section>
        <q-item-section>
          <q-item-label>Asistentes de: {{form.structure.boss}}</q-item-label>
        </q-item-section>
      </q-item>
      <q-separator />
      <div class="q-pa-sm">
        <q-card-section v-if="form.assistants.length > 0">
          <q-card v-for="assistant in form.assistants" :key="assistant.id" class="row q-col-gutter-sm q-mt-md q-py-md q-ml-md items-center">
            <div class="col-10">
              <div class="row">
                <div class="col-7 text-subtitle1">
                  {{ assistant.full_name }}
                </div>
              </div>
            </div>
            <q-btn-group>
              <q-btn round size="sm" @click="permissionsAssistant(assistant.assistant_id)" color="warning" icon="fas fa-user-lock"/>
              <q-btn round dense flat icon="close" @click="deleteAssistant(assistant.id)"/>
            </q-btn-group>
          </q-card>
        </q-card-section>
        <q-card-section>
          <q-form
            ref="sendToform"
          >
          <div class="row q-col-gutter-md">
            <div class="col-xs-12 col-sm-12 col-md-11">
              <q-select clearable v-model="formAssistantId"
                outlined
                option-value="id"
                option-label="full_name"
                map-options
                emit-value
                label="Asistente"
                :options="catalogs.people_assistants"
                :rules="[$rules.required($i18n.t('requiredInput'))]"
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1">
              <q-btn  @click="save()" label="Agregar" color="primary" />
            </div>
          </div>
          </q-form>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
          <q-btn flat @click="$router.back()" label="Guardar" color="primary" />
        </q-card-actions>
      </div>
    </q-card>
  </q-form>
</div>
</template>

<script>
import * as DataService from 'src/services/admin/AssistantService';
import { notifySuccess, notifyError } from 'src/utils/notify'

export default {
  data() {
    return {
      disabled: true,
      form: {
      },
      formAssistantId: '',
      asistentes: '',
      asistentesCat: ''
    };
  },
  created() {
    const catalogsConfiguration = { people_assistants: true };
    this.$q.loading.show();
    const { id } = this.$route.params
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      this.getAssistants(id)
    });
  },
  methods: {
    save() {
      this.$refs.sendToform.validate().then((valid) => {
        if (valid) {
          const form = { user_id: this.formAssistantId, boss_id: this.form.structure.id }
          this.$q.loading.show()
          DataService.store(form).then(() => {
            notifySuccess()
            const { id } = this.$route.params
            this.$q.loading.hide()
            this.getAssistants(id)
            this.formAssistantId = null
            // this.$router.push('/admin/assistants')
          }).catch(() => {
            this.$q.loading.hide()
            notifyError()
          })
        }
      })
    },
    deleteAssistant(id) {
      this.$q.loading.show()
      DataService.destroy(id).then(() => {
        notifySuccess()
        this.$q.loading.hide()
        window.location.reload()
      }).catch(() => {
        this.$q.loading.hide()
        notifyError()
      })
    },
    permissionsAssistant(id) {
      this.$router.push(`/admin/assistants/${id}/permission`)
    },
    getAssistants(id) {
      this.asistentes = []
      DataService.edit(id).then((data) => {
        this.form = data;
        this.$q.loading.hide();
        this.asistentes = this.form.assistants;
        this.asistentesCat = this.$store.state.catalogs.people_assistants;
        for (let i = 0; i < this.asistentesCat.length; i += 1) {
          for (let j = 0; j < this.asistentes.length; j += 1) {
            if (this.asistentesCat[i].id === this.asistentes[j].assistant_id) {
              const idx = i;
              this.$store.state.catalogs.people_assistants.splice(idx, 1);
            }
          }
        }
        for (let k = 0; k < this.$store.state.catalogs.people_assistants.length; k += 1) {
          if (this.$store.state.catalogs.people_assistants[k].id === this.form.structure.id) {
            const idxS = k;
            this.$store.state.catalogs.people_assistants.splice(idxS, 1);
          }
        }
      }).catch((err) => {
        console.log(err)
        this.$q.loading.hide();
      });
    }
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
};
</script>
