<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-btn
          flat
          round
          color="primary"
          icon="fas fa-arrow-left"
          @click="$router.back()"
        >
          <q-tooltip>Volver</q-tooltip>
        </q-btn>
          <q-icon size="sm" name="people_alt"/> Asistentes
        </div>
      </q-card-section>
    </q-card>
    <Table />
  </div>
</template>

<script>

import Table from './Table';

export default {
  components: {
    Table
  },
};
</script>
