<template>
  <div>
    <br />
    <q-table
      :data="data"
      :columns="columns"
      row-key="name"
      separator="vertical"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      :filter="search"
      binary-state-sort
      :visible-columns="visibleColumns"
    >
      <template v-slot:top-left> </template>
      <template v-slot:top-right>
        <q-input
          borderless
          dense
          debounce="400"
          v-model="search"
          placeholder="Buscar"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="last_name" :props="props">
            {{ props.row.last_name }}
          </q-td>
          <q-td key="second_lastname" :props="props">
            {{ props.row.second_lastname }}
          </q-td>
          <q-td key="name" :props="props">
            {{ props.row.name }}
          </q-td>
          <q-td key="position_name" :props="props">
            {{ props.row.position_name }}
          </q-td>
          <q-td key="actions" :props="props">
            <q-btn-group>
              <q-btn round v-if="can('assistant-edit')" size="sm" @click="edit(props.row.id)" color="primary" icon="edit"
              />
            </q-btn-group>
          </q-td>
        </q-tr>
      </template>
      <template v-slot:no-data="{}">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span> No se encontraron resultados </span>
        </div>
      </template>
    </q-table>
  </div>
</template>

<script>
import * as StructureService from 'src/services/StructureService';

export default {
  mounted() {
    this.onRequest({
      pagination: this.pagination,
      filter: undefined,
    });
  },
  data() {
    return {
      data: [],
      visibleColumns: [
        'last_name',
        'second_lastname',
        'name',
        'position_name',
        'actions',
      ],
      loading: false,
      pagination: {
        page: 1,
        rowsPerPage: 15,
        rowsNumber: '',
      },
      search: '',
      separator: 'vertical',
      columns: [
        {
          name: 'last_name',
          align: 'center',
          label: 'Primer apellido',
          field: 'last_name',
          sortable: true,
        },
        {
          name: 'second_lastname',
          align: 'center',
          label: 'Segundo apellido',
          field: 'second_lastname',
          sortable: true,
        },
        {
          name: 'name',
          align: 'center',
          label: 'Nombre',
          field: 'name',
          sortable: true,
        },
        {
          name: 'position_name',
          align: 'center',
          label: 'Posición',
          field: 'position_name',
          sortable: true,
        },
        {
          name: 'actions',
          align: 'center',
          label: 'Acciones',
          field: 'id',
        },
      ],
    };
  },
  methods: {
    edit(id) {
      this.$router.push(`/admin/assistants/${id}/edit`);
    },
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination;
      const { search } = this;
      this.loading = true;
      StructureService.index({ params: { page, rowsPerPage, search } })
        .then((pagination) => {
          this.data = pagination.data;
          console.log('data', this.data);
          this.pagination.rowsPerPage = pagination.per_page;
          this.pagination.page = pagination.current_page;
          this.pagination.rowsNumber = pagination.total;
        })
        .catch(() => {});
      this.loading = false;
    },
  },
};
</script>
