<template>
<q-card style="width: 100%">
  <q-item>
    <q-item-section avatar>
        <q-icon size="md" name="fas fa-users"/>
    </q-item-section>
    <q-item-section>
      <q-item-label>Registro de Tipo de Asunto </q-item-label>
      <q-item-label caption>
        Ingrese los siguientes campos
      </q-item-label>
    </q-item-section>
  </q-item>
  <q-separator />
  <div class="q-pa-sm">
    <q-card-section>
      <q-form ref="form" @submit.prevent="() => {}">
        <div class="row q-col-gutter-sm">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <q-select
              clearable
              outlined
              v-model="form.unit_id"
              option-value="id"
              option-label="name"
              emit-value
              map-options
              :options="catalogs.units" label="Seleccione Unidad Administrativa" />
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <q-input v-model="form.subjectType" square outlined label="Tipo de Asunto" />
          </div>
        </div>
      </q-form>
    </q-card-section>
    <q-card-actions align="right">
      <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
      <q-btn flat @click="update()" label="Guardar" color="primary" />
    </q-card-actions>
  </div>
</q-card>
</template>

<script>

import * as DataService from 'src/services/admin/catalogs/SubjectTypeService';
import { notifySuccess, notifyError } from 'src/utils/notify'

export default {
  data() {
    return {
      form: {
        unit_id: [],
        subjectType: '',
      },
    };
  },
  created() {
    const catalogsConfiguration = { units: true };
    const { id } = this.$route.params
    this.$q.loading.show();
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      DataService.edit(id).then((data) => {
        this.form = data;
        this.$q.loading.hide();
      }).catch(() => {
        this.$q.loading.hide();
      })
      this.$q.loading.hide();
    });
  },
  methods: {
    update() {
      const form = { ...this.form };
      const { id } = this.$route.params
      DataService.update(form, id).then(() => {
        notifySuccess('Se ha actualizado el documento correctamente');
        this.$router.push('/admin/cat/subjectTypes');
      }).catch((err) => {
        notifyError(err)
      })
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
  },
};
</script>
