<template>
  <div>
    <br/>
    <q-table
      :data="data"
      :columns="columns"
      separator="vertical"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      :filter="search"
    >
     <template v-slot:top-right>
        <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="subjectType" :props="props">
            {{ props.row.subjectType }}
          </q-td>
          <q-td key="unit_id" :props="props">
            {{ props.row.unit.name }}
          </q-td>
          <q-td key="actions" :props="props">
            <q-btn-group>
              <q-btn round size="sm" @click="editSubject(props.row.id)"  color="primary" icon="fas fa-edit" />
              <q-btn round size="sm" @click="deleteSubject(props.row.id)"  color="negative" icon="fas fa-trash" />
            </q-btn-group>
          </q-td>
        </q-tr>
      </template>
      <template v-slot:no-data="{ }">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span>
            No se encontraron resultados
          </span>
        </div>
      </template>
    </q-table>
  </div>
</template>

<script>
import * as SubjectTypeService from 'src/services/admin/catalogs/SubjectTypeService';
import { notifyError, notifySuccess } from 'src/utils/notify';

export default {
  components: {
  },
  mounted() {
    // get initial data from server (1st page)
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
  },
  data() {
    return {
      data: [],
      loading: false,
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: ''
      },
      search: '',
      separator: 'vertical',
      columns: [
        {
          name: 'subjectType', align: 'center', label: 'Tipo de Asunto', field: 'subjectType'
        },
        {
          name: 'unit_id', align: 'center', label: 'Unidad Administrativa', field: 'unit_id'
        },
        {
          name: 'actions', align: 'center', label: 'Acciones', field: 'id'
        },
      ],
    };
  },
  computed: {
    canEdit: {
      get() { return this.canShow('subjectTypes-edit') }
    },
    canView: {
      get() { return this.canShow('subjectTypes-view') }
    },
    canDelete: {
      get() { return this.canShow('subjectTypes-delete') }
    },
  },
  methods: {
    editSubject(id) {
      this.$router.push(`/admin/cat/subjectTypes/${id}/edit`)
    },
    deleteSubject(id) {
      SubjectTypeService.destroy(id).then(() => {
        this.confirm = false
        this.onRequest({
          pagination: this.pagination,
          filter: undefined
        })
        notifySuccess()
        this.$router.push('/admin/cat/subjectTypes')
      }).catch((err) => {
        this.confirm = false
        notifyError(err)
      }).finally(() => {
        this.$q.loading.hide()
      })
    },
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination
      const { search } = this
      this.loading = true
      SubjectTypeService.index({ params: { page, rowsPerPage, search } }).then((subject) => {
        this.data = subject.data
        this.pagination.subject = subject.per_page
        this.pagination.page = subject.current_page
        this.pagination.rowsNumber = subject.total
        this.loading = false
      }).catch((err) => {
        console.log(err)
        this.loading = false
      })
    },
  },
};
</script>
