<template>
  <q-card>
    <q-item>
      <q-item-section avatar>
        <q-icon size="md" name="fas fa-passport"/>
      </q-item-section>
      <q-item-section>
        <q-item-label>Agregar entidad</q-item-label>
        <q-item-label caption>
          Ingrese los siguientes valores
        </q-item-label>
      </q-item-section>
    </q-item>
    <q-separator/>
    <div class="q-pa-sm">
      <q-card-section>
        <div class="row q-col-gutter-sm">
          <div class="col-xs-12 col-sm-8 col-md-8">
            <q-input v-model="form.name" square outlined label="Nombre" />
          </div>
          <div class="col-xs-12 col-sm-8 col-md-4">
            <q-input outlined v-model="form.acronym" label="Acrónimo" />
          </div>
        </div>
        <br/>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
        <q-btn flat @click="store()" label="Guardar" color="primary" />
      </q-card-actions>
    </div>
  </q-card>
</template>

<script>
import * as EntityService from 'src/services/admin/catalogs/EntityService';
import { notifySuccess, notifyError } from 'src/utils/notify'

export default {
  data() {
    return {
      form: {
        name: '',
        acronym: '',
      },
      form2: {
        clasification_id: [],
        is_link_entity: false,
      }
    };
  },
  created() {
    const catalogsConfiguration = { units: true, cat_clasifications: true };
    this.$q.loading.show();
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      this.$q.loading.hide();
    });
  },
  methods: {
    store() {
      const form = { ...this.form };
      EntityService.store(form).then(() => {
        notifySuccess('Se ha creado la entidad correctamente');
        this.$router.push('/admin/cat/entities');
      }).catch((err) => {
        notifyError(err)
      })
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
  },
}

</script>
