<template>
  <q-card>
    <q-item>
      <q-item-section avatar>
        <q-icon size="md" name="fas fa-passport"/>
      </q-item-section>
      <q-item-section>
        <q-item-label>Editar entidad</q-item-label>
        <q-item-label caption>
          Ingrese los siguientes valores
        </q-item-label>
      </q-item-section>
    </q-item>
    <q-separator/>
    <div class="q-pa-sm">
      <q-card-section>
        <div class="row q-col-gutter-sm">
          <div class="col-xs-12 col-sm-8 col-md-7 text-center">
            <q-input v-model="form.name" square outlined label="Nombre" />
            <br>
            <q-input outlined v-model="form.acronym" label="Acrónimo" />
          </div>
        </div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
        <q-btn flat @click="update()" label="Guardar" color="primary" />
      </q-card-actions>
    </div>
  </q-card>
</template>

<script>
import * as EntityService from 'src/services/admin/catalogs/EntityService';
import { notifySuccess, notifyError } from 'src/utils/notify'

export default {
  data() {
    return {
      form: {
        name: '',
        acronym: '',
      },
    };
  },
  created() {
    const catalogsConfiguration = { units: true, cat_clasifications: true };
    this.$q.loading.show();
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      EntityService.edit(1).then((data) => {
        this.form = data;
        data.units.forEach((obj) => {
          this.form.unit_id.push(obj.unit.id);
        });
        this.$q.loading.hide();
      }).catch(() => {
        this.$q.loading.hide();
      })
    });
  },
  methods: {
    update() {
      this.$q.loading.show();
      const form = { ...this.form };
      EntityService.update(form, 1).then(() => {
        notifySuccess('Se ha actualizado la entidad correctamente');
        this.$q.loading.hide();
        this.$router.back()
      }).catch((err) => {
        this.$q.loading.hide();
        notifyError(err)
      })
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    }
  },
};
</script>
