<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-icon size="sm" name="fas fa-passport"/> Administración / Catálogos / Entidades
          <q-btn class="float-right" round size="sm" @click="$router.push('/admin/cat/entities/create')"  outline color="primary" icon="fas fa-plus" v-if="canShow('catalogs-create')"/>
        </div>
      </q-card-section>
    </q-card>
    <Entities />
  </div>
</template>

<script>
import Entities from './Table';

export default {
  components: {
    Entities,
  },
};
</script>
