<template>
<q-card style="width: 100%">
  <q-item>
    <q-btn
      flat
      round
      color="primary"
      icon="fas fa-arrow-left"
      @click="$router.back()"
    >
      <q-tooltip>Volver</q-tooltip>
    </q-btn>
    <q-item-section avatar>
        <q-icon size="md" name="fas fa-clipboard-list"/>
    </q-item-section>
    <q-item-section>
      <q-item-label>Catálogo área generadora</q-item-label>
      <q-item-label caption>
        Ingrese los siguientes valores
      </q-item-label>
    </q-item-section>
  </q-item>
  <q-separator />
  <div class="q-pa-sm">
    <q-card-section>
      <div class="row q-col-gutter-sm">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <q-input v-model="subserie" square outlined label="Nombre Área" />
        </div>
      </div>
    </q-card-section>
    <q-card-actions align="right">
      <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
      <q-btn flat @click="store()" label="Guardar" color="primary" />
    </q-card-actions>
  </div>
</q-card>
</template>

<script>
export default {
  data() {
    return {
      subserie: '',
      serie: null,
      options: [
        'Serie1', 'Serie2', 'Serie3', 'Serie4', 'Serie5'
      ]
    }
  }
}
</script>
