<template>
  <div>
    <q-card-section>
      <q-form
        ref="registerForm"
        class="q-gutter-lg"
      >
        <q-tabs
          v-model="tab"
          dense
          active-color="black"
          indicator-color="black"
          align="justify"
          narrow-indicator
          class="text-grey shadow-2"
        >
          <q-tab name="answer" label="Responder" />
          <q-separator vertical />
          <q-tab name="reject" label="Rechazar" />
        </q-tabs>

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="answer">
            <q-form ref="form" @submit.prevent="() => {}">
              <div class="q-pa-sm">
                <q-card-section>
                  <div>
                    <q-btn glossy rounded size="sm" class="q-ml-sm float-right" @click="render(file_id)"  color="primary" icon="fas fa-eye">
                      <q-tooltip>Visualizar Documento </q-tooltip>
                    </q-btn>
                  </div>
                  <div class="text-h6">
                    <q-icon size="sm" color="primary" name="fas fa-reply"/> Respuesta
                  </div>
                  <q-separator spaced/>
                  <div class="row q-col-gutter-sm">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <q-input filled v-model="form.document_date" mask="date" :rules="['date']" label="Fecha de respuesta">
                        <template v-slot:append>
                          <q-icon name="event" class="cursor-pointer">
                            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                              <q-date v-model="form.document_date" first-day-of-week="0">
                                <div class="row items-center justify-end">
                                  <q-btn v-close-popup label="Cerrar" color="primary" flat />
                                </div>
                              </q-date>
                            </q-popup-proxy>
                          </q-icon>
                        </template>
                      </q-input>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <q-input v-model="form.folio_origin" square outlined label="Folio de origen" disable />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <q-input v-if="route == false" v-model="users.nameTo" square outlined label="En respuesta a" disable />
                      <q-input v-if="route == true" outlined v-model="attentionRoute" label="Ruta de atención" disable />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <q-select outlined v-model="form.cat_priorities_id"
                                :options="catalogs.cat_priorities"
                                option-value="id"
                                option-label="name"
                                emit-value
                                :rules="[(val) => !!val || 'Este campo es obligatorio']"
                                map-options
                                label="Prioridad"
                      />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <q-select outlined v-model="form.cat_doc_types_id"
                                :options="catalogs.cat_doc_types"
                                option-value="id"
                                option-label="name"
                                emit-value
                                :rules="[(val) => !!val || 'Este campo es obligatorio']"
                                map-options
                                label="Tipo de documento"
                      />
                    </div>
                  </div>
                  <br/>
                  <q-input v-model="form.subject" square outlined label="Asunto (Opcional)"/>
                </q-card-section>
                <q-card-actions align="right">
                  <q-btn flat @click="$router.push('/inbox'), viewInfo = true" label="Cancelar" color="primary" v-close-popup />
                  <q-btn flat @click="sendAffair()" label="Siguiente" color="primary" />
                </q-card-actions>
              </div>
            </q-form>
          </q-tab-panel>

          <q-tab-panel name="reject">
            <q-form ref="formRejection" @submit.prevent="() => {}">
              <div class="q-pa-sm">
                <q-card-section>
                  <div>
                    <q-btn glossy rounded size="sm" class="q-ml-sm float-right" @click="render(file_id)"  color="primary" icon="fas fa-eye">
                      <q-tooltip>Visualizar Documento</q-tooltip>
                    </q-btn>
                  </div>
                  <div class="text-h6">
                    <q-icon size="sm" color="primary" name="fas fa-times"/> Rechazar Documento
                  </div>
                  <q-separator spaced/>
                  <div class="row q-col-gutter-sm">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <q-input v-model="form.folio_origin" square outlined label="Folio de origen" disable />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <q-input v-if="route == false" v-model="users.nameTo" square outlined label="Documento rechazado a" disable />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <q-select label="Motivo" :rules="[(val) => !!val || 'Este campo es obligatorio']" outlined map-options emit-value v-model="formRejection.cat_rejection_reason_id" option-value="id" option-label="description" :options="catalogs.cat_rejection_reasons" clearable/>
                    </div>
                  </div>
                  <br/>
                  <q-input outlined clearable v-model="rejection_reason" label="Razón de rechazo" />
                </q-card-section>
                <q-card-actions align="right">
                  <q-btn flat @click="$router.push('/inbox'), viewInfo = true" label="Cancelar" color="primary" v-close-popup />
                  <q-btn flat @click="rejectAffair()" label="Rechazar" color="primary" />
                </q-card-actions>
              </div>
            </q-form>
          </q-tab-panel>
        </q-tab-panels>
      </q-form>
    </q-card-section>
    <br>
    <q-dialog v-model="isFileShow" full-height full-width >
      <q-card style="width: 50vw;">
        <q-card-section class="full-height">
          <q-pdfviewer
            v-model="isFileShow"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="officeDialog" full-height full-width >
      <Office :affairId="affairId"/>
    </q-dialog>
  </div>
</template>

<script>
const today = new Date();
import { notifySuccess, notifyAlert } from 'src/utils/notify';
import * as AffairReceptionService from 'src/services/receipt/AffairReceptionService';
import * as AffairReceptionFromService from 'src/services/receipt/AffairReceptionFromService';
import * as RejectedAffairService from 'src/services/RejectedAffairService';
import * as UploadFileService from 'src/services/global/UploadFileService';
import Office from './partials/Office.vue';

export default {
  props: {
    affairId: Number
  },
  components: { Office },
  data() {
    return {
      form: {
        destinatary: '',
        folio: '',
        document_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        cat_doc_types_id: '',
        cat_priorities_id: '',
        subject: '',
        folio_origin: '',
        cat_rejection_reason_id: '',
        status_id: 1,
        affair_origin_id: ''
      },
      formRejection: {
        cat_rejection_reason_id: '',
      },
      commentsArray: {
        writedComment: '',
      },
      peopleArray: {
        responsable: '',
      },
      formcomm: {
        comments: [],
      },
      formpeople: {
        // people: [],
      },
      affair_origin_id: '',
      receiverId: {
        position: {
          id: ''
        }
      },
      items: [],
      itemsPeople: [],
      itemsParticipations: [],
      itemId: 0,
      itemPeopleId: 0,
      itemParticipationId: 0,
      itemElement: '',
      anexos: null,
      day: today.getDate(),
      month: today.getMonth(),
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      fabRight: false,
      src: null,
      newFolio: '',
      route: false,
      answer: true,
      view: false,
      viewInfo: false,
      reject: false,
      delegate: false,
      rejection_reason: '',
      outgoing_rejection: false,
      subject_origin: '',
      users: {
        name: 'Karen Hortensia Gutiérrez Torres',
        nameTo: ''
      },
      requiresAnswer: false,
      isFileShow: false,
      officeDialog: false,
      folioGenerate: '',
      tab: 'answer',
      file_id: '',
    }
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    config: {
      get() {
        return this.$store.state.config
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  created() {
    this.file_id = this.$route.params.id
    const positionId = window.sessionStorage.getItem('position_id');
    const catalogsConfiguration = {
      users: true,
      people: true,
      units: true,
      position: true,
      entities: true,
      cat_doc_types: true,
      cat_recep_meds: true,
      cat_priorities: true,
      cat_to_docs: true,
      position_id: positionId,
      cat_rejection_reasons: true
    };
    const { id } = this.$route.params
    this.affairId = id;
    this.affair_origin_id = id;
    AffairReceptionService.edit(id).then((data) => {
      this.form.affair_origin_id = data.id
      this.form.folio_origin = data.folio;
      this.receiverId.position.id = data.position_id;
      this.subject_origin = data.subject;
      this.users.nameTo = data.full_name;
    });
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
  },
  methods: {
    submitAnswer() {
      this.$q.loading.show();
      notifySuccess('Respuesta de Documento enviada correctamente');
      this.$q.loading.hide();
      this.$router.push('/');
    },
    sendAffair() {
      this.$refs.form.validate().then((valid) => {
        if (valid) {
          this.formpeople.receiver_id = this.receiverId;
          this.formpeople.participants_id = 1;
          const form = { ...this.form };
          const formpeople = { to: [{ ...this.receiverId }], ccp: [] };
          this.$q.loading.show();
          AffairReceptionService.generateFolio().then((lastFolio) => {
            this.folioStructure = lastFolio.folioStructure.folio_structure;
            console.log('folioStructure: ', this.folioStructure);
            this.folioGenerate = this.folioStructure.replace('AÑO', '2021');
            this.folioGenerate = this.folioGenerate.replace('DEPENDENCIA', 'INFOTEC');
            this.folioGenerate = this.folioGenerate.replace('UNIDAD', 'DE');
            this.affairLastId = lastFolio.affairId.last + 1;
            this.folioGenerate = this.folioGenerate.replace('CONSECUTIVO', this.affairLastId);
            console.log('folioGenerate: ', this.folioGenerate);
            // form.folio = `Folio-${lastFolio.affairId.lastId + 1}-2021`;
            form.folio = this.folioGenerate;
            AffairReceptionService.store(form).then((data) => {
              this.folioGenerate = form.folio;
              const affairId = data.affair.id
              const formDataResponse = new FormData();
              formDataResponse.append('folio_origin', this.form.folio_origin);
              formDataResponse.append('folio_response', this.folioGenerate);
              this.$q.loading.show();
              AffairReceptionFromService.store({ formpeople, affairId }).then(() => {
                this.generateFolio = true;
                setTimeout(() => {
                  this.$router.push(`/new-Affair/${affairId}/office`)
                }, 2000)
              }).catch((err) => {
                alert(err)
              }).finally(() => {
                this.$q.loading.hide();
              })
            }).catch(() => {
              notifyAlert();
              this.$q.loading.hide();
            })
          })
        } else {
          console.log('dentro de if(valif)')
        }
      });
    },
    rejectAffair() {
      const { id } = this.$route.params;
      const formRejectedAffair = new FormData();
      formRejectedAffair.append('description', this.rejection_reason);
      formRejectedAffair.append('cat_rejection_reason_id', this.formRejection.cat_rejection_reason_id);
      formRejectedAffair.append('affair_reception_id', id);
      this.$refs.formRejection.validate().then((valid) => {
        if (valid) {
          this.$q.loading.show();
          AffairReceptionService.update({ status_id: 6 }, id).then((data) => {
            console.log('UPDATE REJECT AFFAIR ', data);
          });
          RejectedAffairService.store(formRejectedAffair).then(() => {
            notifySuccess('Documento rechazado con éxito');
            this.$q.loading.hide();
            this.$router.push('/');
          }).catch((err) => {
            notifyAlert(err);
          }).finally(() => {
            this.$q.loading.hide();
          });
        } else {
          console.log('dentro de if(valif)')
        }
      })
    },
    renderPDF(id) {
      this.src = `${this.$axios.defaults.baseURL}/api/files/${id}/show/template`;
      this.isFileShow = true;
    },
    render(id) {
      UploadFileService.showFile(id).then((file) => {
        this.src = window.URL.createObjectURL(new Blob([file.data]));
        this.isFileShow = true;
      }).catch((err) => {
        console.log(err)
      })
    },
  }
}
</script>
