<template>
  <div>
    <q-card-section>
      <q-btn glossy rounded size="sm" class="q-ml-sm float-right" @click="delegate = true, answer = false, reject = false, viewInfo = false" color="primary" icon="fas fa-directions">
        <q-tooltip>Delegar</q-tooltip>
      </q-btn>
      <q-btn glossy rounded size="sm" class="q-ml-sm float-right" @click="reject = true, answer = false, delegate = false, viewInfo = false" color="primary" icon="fas fa-times">
        <q-tooltip>Rechazar</q-tooltip>
      </q-btn>
      <q-btn glossy rounded size="sm" class="q-ml-sm float-right" @click="trace = true" color="primary" icon="timeline">
        <q-tooltip>Seguimiento</q-tooltip>
      </q-btn>
      <q-btn glossy rounded size="sm" class="q-ml-sm float-right" @click="viewInfo = false, answer = true, reject = false, delegate = false" color="primary" icon="fas fa-reply">
        <q-tooltip>Responder</q-tooltip>
      </q-btn>
      <q-btn glossy rounded size="sm" class="q-ml-sm float-right" @click="render(affairId)"  color="primary" icon="fas fa-eye">
        <q-tooltip>Visualizar Documento</q-tooltip>
      </q-btn>
    </q-card-section>
    <br>
    <q-card>
      <!-- RESPUESTA DE OFICIO -->
      <q-form ref="form" @submit.prevent="() => {}">
      <div class="q-pa-sm" v-if="answer == true">
        <q-card-section>
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="fas fa-reply"/> Respuesta
          </div>
          <q-separator spaced/>
          <div class="row q-col-gutter-sm">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-input filled v-model="date" mask="date" :rules="['date']" label="Fecha de respuesta">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date v-model="date" first-day-of-week="0" disable>
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Cerrar" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-input v-model="form.folio_origin" square outlined label="Folio de origen" disable />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-input v-if="route == false" v-model="users.nameTo" square outlined label="En respuesta a" disable />
              <q-input v-if="route == true" outlined v-model="attentionRoute" label="Ruta de atención" disable />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-input disable outlined v-model="form.folio" :rules="[(val) => !!val || 'Este campo es obligatorio']" label="Folio de respuesta" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-select outlined v-model="form.cat_priorities_id"
                        :options="catalogs.cat_priorities"
                        option-value="id"
                        option-label="name"
                        emit-value
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                        map-options
                        label="Prioridad"
              />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-select outlined v-model="form.cat_doc_types_id"
                        :options="catalogs.cat_doc_types"
                        option-value="id"
                        option-label="name"
                        emit-value
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                        map-options
                        label="Tipo de documento"
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <q-input v-model="form.subject" square outlined label="Asunto (Opcional)"/>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat @click="$router.push('/inbox'), viewInfo = true" label="Cancelar" color="primary" v-close-popup />
          <q-btn flat @click="sendAffair(false)" label="Enviar" color="primary" />
        </q-card-actions>
      </div>
      </q-form>
      <!-- RECHAZO DE OFICIO -->
      <div class="q-pa-sm" v-if="reject == true">
        <q-card-section>
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="fas fa-times"/> Rechazar Documento
          </div>
          <q-separator spaced/>
          <div class="row q-col-gutter-sm">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-input v-model="form.folio_origin" square outlined label="Folio de origen" disable />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-input v-if="route == false" v-model="users.nameTo" square outlined label="Documento rechazado a" disable />
            </div>
          </div>
          <br/>
          <q-input outlined clearable v-model="rejection_reason" label="Razón de rechazo" />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat @click="$router.push('/inbox'), viewInfo = true" label="Cancelar" color="primary" v-close-popup />
          <q-btn flat @click="rejectAffair()" label="Rechazar" color="primary" />
        </q-card-actions>
      </div>
      <q-separator/>
      <!-- DELEGACIÓN DE OFICIO (VOLANTES) -->
      <div class="q-pa-sm" v-if="delegate == true">
        <Delegate/>
        <q-card-actions align="right">
          <q-btn flat @click="delegate = false, viewInfo = true" label="Cancelar volante" color="primary" v-close-popup />
        </q-card-actions>
      </div>
      <q-dialog v-model="view" full-height>
        <div style="min-width: 65vw;" ref="viewer"></div>
      </q-dialog>
    </q-card>
    <q-dialog v-model="trace">
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section class="q-pb-none">
          <div class="text-h6">Seguimiento del Documento</div>
        </q-card-section>
        <q-card-section class="absolute-top-right">
          <q-select
            v-model="step"
            map-options
            emit-value
            option-label="name"
            option-value="id"
            outlined
            :options="routeOptions"
            :rules="[(val) => !!val || 'Este campo es obligatorio']" />
        </q-card-section>
        <q-stepper
          v-model="step"
          ref="stepper"
          color="primary"
          vertical
        >
          <q-step
            :name="1"
            title="Envio de oficio"
            caption="Enviado: 07/06/2021"
            icon="send"
            :done="step > 1"
          >
            <q-stepper-navigation class="row">
              <div class="col-3 text-center">
                <q-avatar size="50px">
                  <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                </q-avatar>
              </div>
              <div class="col-7 text-subtitle1 q-ml-sm">
                Persona 1/Puesto 1
              </div>
            </q-stepper-navigation>
          </q-step>

          <q-step
            :name="2"
            title="Instrucción 1"
            caption="Recibido: 07/06/2021"
            icon="assignment"
            :done="step > 2"
          >
            <q-stepper-navigation class="row">
              <div class="col-3 text-center">
                <q-avatar size="50px">
                  <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                </q-avatar>
              </div>
              <div class="col-7 text-subtitle1 q-ml-sm">
                Persona 2/Puesto 2
              </div>
            </q-stepper-navigation>
          </q-step>

          <q-step
            :name="3"
            title="Instrucción 2"
            caption="Pendiente"
            icon="assignment"
            :done="step > 3"
          >
            <q-stepper-navigation class="row">
              <div class="col-3 text-center">
                <q-avatar size="50px">
                  <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                </q-avatar>
              </div>
              <div class="col-7 text-subtitle1 q-ml-sm">
                Persona 3/Puesto 3
              </div>
            </q-stepper-navigation>
          </q-step>

          <q-step
            :name="4"
            title="instrucción 3"
            caption="Pendiente"
            icon="assignment"
            :done="step > 3"
          >
            <q-stepper-navigation class="row">
              <div class="col-3 text-center">
                <q-avatar size="50px">
                  <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                </q-avatar>
              </div>
              <div class="col-7 text-subtitle1 q-ml-sm">
                Persona 3/Puesto 3
              </div>
            </q-stepper-navigation>
          </q-step>
        </q-stepper>
      </q-card>
    </q-dialog>
    <q-dialog v-model="isFileShow" full-height >
      <q-card style="width: 50vw;">
        <q-card-section class="full-height">
          <q-pdfviewer
            v-model="isFileShow"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="officeDialog" full-height full-width >
      <Office :affairId="affairId"/>
    </q-dialog>
  </div>
</template>

<script>
const today = new Date();
import { notifySuccess } from 'src/utils/notify';
import * as AffairReceptionService from 'src/services/receipt/AffairReceptionService';
import * as AffairReceptionResponseService from 'src/services/receipt/AffairReceptionResponseService';
import * as PeopleService from 'src/services/PeopleService';
import * as RejectedAffairService from 'src/services/RejectedAffairService';
import Delegate from './Delegate.vue';
import Office from './partials/Office.vue';

export default {
  props: {
    affairId: Number
  },
  components: { Office, Delegate },
  data() {
    return {
      form: {
        destinatary: '',
        folio: '',
        document_date: '',
        cat_doc_types_id: '',
        cat_priorities_id: '',
        subject: '',
        qeditor: '',
        descripcion: '',
        folio_origin: '',
        response: true
      },
      commentsArray: {
        writedComment: '',
      },
      peopleArray: {
        responsable: '',
      },
      formcomm: {
        comments: [],
      },
      formpeople: {
        // people: [],
      },
      receiverId: 0,
      items: [],
      itemsPeople: [],
      itemsParticipations: [],
      itemId: 0,
      itemPeopleId: 0,
      itemParticipationId: 0,
      itemElement: '',
      anexos: null,
      day: today.getDate(),
      month: today.getMonth(),
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      fabRight: false,
      src: null,
      step: 1,
      routeOptions: [
        {
          id: 1,
          name: 'Ruta de atención 1'
        },
        {
          id: 2,
          name: 'Ruta de atención 2'
        },
        {
          id: 3,
          name: 'Ruta de atención 3'
        }
      ],
      trace: false,
      originFolio: 'DE-02-2233',
      date: '2021/06/04',
      newFolio: '',
      defaultAnswer: 'En respuesta al oficio N° DE-02-2233, ',
      attentionRoute: 'Atención de oficio de proyectos',
      route: false,
      answer: true,
      view: false,
      viewInfo: false,
      reject: false,
      delegate: false,
      rejection_reason: '',
      outgoing_rejection: false,
      subject_origin: '',
      users: {
        name: 'Karen Hortensia Gutiérrez Torres',
        nameTo: ''
      },
      requiresAnswer: false,
      isFileShow: false,
      officeDialog: false,
    }
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    config: {
      get() {
        return this.$store.state.config
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  created() {
    console.log('affairId', this.affairId);
    const catalogsConfiguration = {
      users: true,
      people: true,
      units: true,
      position: true,
      entities: true,
      cat_doc_types: true,
      cat_recep_meds: true,
      cat_priorities: true,
      cat_to_docs: true,
    };
    const { id } = this.$route.params
    this.affairId = id;
    console.log('affairId', id);
    AffairReceptionService.edit(id).then((data) => {
      AffairReceptionResponseService.getAffairResponseByFolioResponse(data.folio).then((dataResponse) => {
        this.form.folio = dataResponse.folio_response;
      });
      AffairReceptionService.getAffairReceptionByFolio(data.folio).then((dataAffair) => {
        this.form.subject = dataAffair.subject;
        this.form.cat_doc_types_id = dataAffair.cat_doc_types_id;
        this.form.cat_priorities_id = dataAffair.cat_priorities_id;
      });
      console.log('AFFAIR ', data);
      console.log('FOLIO ', data.folio);
      this.form.folio_origin = data.folio;
      this.receiverId = data.user_id;
      this.subject_origin = data.subject;
      this.itemsPeople.push({ receiver: data.user_id });
      PeopleService.edit(data.user_id).then((dataPeople) => {
        this.users.nameTo = `${dataPeople.name} ${dataPeople.last_name}  ${dataPeople.second_lastname}`;
      });
    });
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
  },
  methods: {
    submitAnswer() {
      this.$q.loading.show();
      notifySuccess('Respuesta de oficio enviada correctamente');
      this.$q.loading.hide();
      this.$router.push('/');
    },
    sendAffair(draft) {
      const { id } = this.$route.params;
      this.form.response = true;
      this.$refs.form.validate().then((valid) => {
        if (valid) {
          console.log(this.formpeople.people);
          this.formpeople.receiver_id = this.receiverId;
          console.log(this.formpeople.receiver_id);
          this.formpeople.participants_id = 1;
          console.log(this.formpeople.participants_id);
          this.form.draft = false;
          const form = { ...this.form };
          this.$q.loading.show();
          this.$router.push(`/new-Affair/${id}/office`);
          AffairReceptionService.update(form, id).then((data) => {
            // External People
            const affairId = data.affair.id
            console.log('AFFAIRID ', affairId);
            const formDataResponse = new FormData();
            formDataResponse.append('folio_origin', this.form.folio_origin);
            formDataResponse.append('folio_response', this.form.folio);
            if (draft) {
              this.$router.push('/draftsTrades');
            } else {
              this.$router.push(`/new-Affair/${id}/office`);
            }
            this.$q.loading.show();
            this.$q.loading.hide();
          }).catch(() => {
            this.$q.loading.hide();
          })
        }
      });
    },
    rejectAffair() {
      this.$q.loading.show();
      const { id } = this.$route.params;
      this.affairId = id;
      this.outgoing_rejection = true;
      console.log('receiver_id: ', this.receiverId)
      console.log('affairId: ', this.affairId)
      console.log('folio_origin: ', this.form.folio_origin)
      console.log('rejection_reason: ', this.rejection_reason)
      console.log('outgoing_rejection: ', this.outgoing_rejection)
      console.log('subject_origin: ', this.subject_origin)
      const formRejectedAffair = new FormData();
      formRejectedAffair.append('receiver_id', this.receiverId);
      formRejectedAffair.append('rejected_affair_id', this.affairId);
      formRejectedAffair.append('folio_origin', this.form.folio_origin);
      formRejectedAffair.append('subject_origin', this.subject_origin);
      formRejectedAffair.append('rejection_reason', this.rejection_reason);
      formRejectedAffair.append('outgoing_rejection', this.outgoing_rejection);
      RejectedAffairService.store(formRejectedAffair).then(() => {
        notifySuccess('Oficio rechazado con éxito');
        this.$q.loading.hide();
        this.$router.push('/');
      }).catch((err) => {
        alert(err)
      }).finally(() => {
        this.$q.loading.hide();
      })
    },
    renderPDF() {
      this.src = `${this.$axios.defaults.baseURL}/api/files/1/show/template`;
      this.isFileShow = true;
    },
    render(id) {
      this.affairId = id
      this.officeDialog = true
    },
  }
}
</script>
