<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-icon size="sm" name="fas fa-archive"/> Archivo
        </div>
      </q-card-section>
    </q-card>
    <br>
    <div class="row q-col-gutter-sm">

      <div v-if="can('archive-cover')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white">
            <q-item clickable v-ripple  @click.native="$router.push('/archive/CoverCatalog').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="far fa-folder" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Carátula de carpetas</div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div v-if="can('archive-section')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white"  >
            <q-item clickable v-ripple  @click.native="$router.push('/archive/section').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-list-ul"  style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Sección y Serie</div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div v-if="can('archive-subseries')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white" >
            <q-item clickable v-ripple   @click.native="$router.push('/archive/subseries').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="far fa-list-alt" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Subserie</div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

       <div v-if="can('archive-generating-area')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white">
            <q-item clickable v-ripple  @click.native="$router.push('/archive/GeneratingArea').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-clipboard-list" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Catálogo área generadora</div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

      <div v-if="can('archive-information-character')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white">
            <q-item clickable v-ripple  @click.native="$router.push('/archive/InformationCharacter').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="far fa-file-alt" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Catálogo carácter de la información</div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

       <div v-if="can('dependency-view')" class="col-xs-12 col-sm-6 col-md-3">
        <q-card class="my-card bg-secondary">
          <q-card-section class="text-white">
            <q-item clickable v-ripple  @click.native="$router.push('/archive/FolderQuery').catch(err => {})">
              <q-item-section avatar>
                <q-avatar>
                  <q-icon class="q-ml-none" right name="fas fa-folder" style="font-size: 20px;"/>
                </q-avatar>
              </q-item-section>
              <q-item-section >
                <div class="text-subtitle1">Consulta de Carpeta</div>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>

    </div>
  </div>
</template>
