<template>
  <div>
    <q-card class="q-mb-sm">
      <q-card-section>
        <div class="text-h6">
          <q-icon size="sm" name="mdi-file-plus-outline"/> Generación de Documentos Externos
        </div>
      </q-card-section>
    </q-card>
    <q-card>
      <div class="q-pa-sm">
        <q-card-section>
          <q-expansion-item
            expand-separator
            icon="settings_input_antenna"
            :label="itemOne"
            class="text-h6"
            caption="API Central"
          >
            <SendTo
              :toPeople="form.to"
              :ccpPeople="form.ccp"
            />
            <br>
          </q-expansion-item>
          <q-expansion-item
            expand-separator
            icon="print"
            :label="itemTwo"
            class="text-h6"
            caption="Oficialia de partes"
          >
            <q-tabs
              v-model="tab"
              dense
              active-color="primary"
              indicator-color="primary"
              align="justify"
              narrow-indicator
            >
              <q-tab name="to" label="Enviar a" />
              <q-tab name="ccp" label="Con copia" />
            </q-tabs>

            <q-separator />

            <q-tab-panels v-model="tab" animated>
              <q-tab-panel name="to">
                <q-form ref="formReceiver" @submit.prevent="() => {}">
                  <div class="row q-col-gutter-x-sm q-col-gutter-y-lg">
                    <div class="col-12 q-mt-md">
                      <q-select id="RemType" outlined v-model="formExternalSender.sender_type_id"
                        :options="catalogs.cat_sender_types"
                        option-value="id"
                        option-label="name"
                        emit-value
                        map-options label="Seleccione tipo de Destinatario"
                        @input="clearTo"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      />
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-11" v-if="formExternalSender.sender_type_id == 2">
                      <q-select
                        outlined
                        v-model="formExternalSender.external_participant_id"
                        :options="catalogs.external_people"
                        option-value="id"
                        option-label="fullname"
                        label="Personas"
                        map-options
                        emit-value
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              Sin Resultados
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="col-1" v-if="formExternalSender.sender_type_id == 2">
                      <q-btn color="primary" icon="add" @click="newExternalPeople = true" >
                        <q-tooltip>Registrar Persona</q-tooltip>
                      </q-btn>
                    </div>
                    <div class="col-11" v-if="formExternalSender.sender_type_id == 3">
                      <q-select outlined v-model="formExternalSender.sender_entity_id"
                        use-input
                        input-debounce="0"
                        style="width 250px"
                        @filter="filterFn"
                        :options="optionsEntities"
                        option-value="id"
                        option-label="name"
                        label="Seleccione Dependencia"
                        @input="filterUnits"
                        emit-value
                        map-options
                        @clear="() => {(UnitsOptions = []), (instruction.unit_id = null);}"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']" >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              No hay resultados
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="col-1" v-if="formExternalSender.sender_type_id == 3">
                      <q-btn color="primary" icon="add" @click="newDependency = true" >
                        <q-tooltip>Registrar Dependencia</q-tooltip>
                      </q-btn>
                    </div>
                    <div class="col-11" v-if="formExternalSender.sender_type_id == 3">
                      <q-select outlined v-model="formExternalSender.sender_unit_id"
                        :loading="loadingUnits"
                        option-value="id"
                        option-label="name"
                        :options="UnitsOptions"
                        label="Unidad"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                        />
                    </div>
                    <div class="col-1" v-if="formExternalSender.sender_type_id == 3">
                      <q-btn color="primary" icon="add" @click="newUnit = true" >
                        <q-tooltip>Registrar Unidad</q-tooltip>
                      </q-btn>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6" v-if="formExternalSender.sender_type_id == 3">
                        <q-input v-model="formExternalSender.sender_responsable" outlined
                          :rules="[(val) => !!val || 'Este campo es obligatorio']"
                          label="Persona" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6" v-if="formExternalSender.sender_type_id == 3">
                        <q-input v-model="formExternalSender.sender_position" outlined
                          :rules="[(val) => !!val || 'Este campo es obligatorio']"
                          label="Puesto" />
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-11" v-if="formExternalSender.sender_type_id == 1">
                      <q-select id="moralPerson"
                        outlined
                        v-model="formExternalSender.external_participant_id"
                        label="Empresas"
                        :options="catalogs.external_companies"
                        option-value="id"
                        option-label="bussiness_name"
                        map-options
                        emit-value
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              Sin Resultados
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="col-1"  v-if="formExternalSender.sender_type_id == 1">
                      <q-btn color="primary" icon="add" @click="newExternalCompany = true" >
                        <q-tooltip>Registrar Empresa</q-tooltip>
                      </q-btn>
                    </div>
                  </div>
                </q-form>
                <q-btn class="q-mt-md" @click="addToprint()" flat label="Agregar" color="primary" v-if="formExternalSender.sender_type_id"/>
                <q-list bordered padding class="q-mt-md">
                  <q-item-label header>Para:</q-item-label>
                  <q-item v-for="receiver in form.to_print" :key="receiver.id">
                    <q-item-section avatar v-if="receiver.sender_type_id === 1">
                      <q-icon color="primary" text-color="white" name="business" />
                    </q-item-section>
                    <q-item-section avatar v-if="receiver.sender_type_id === 2">
                      <q-icon color="primary" text-color="white" name="account_circle" />
                    </q-item-section>
                    <q-item-section avatar v-if="receiver.sender_type_id === 3">
                      <q-icon color="primary" text-color="white" name="maps_home_work" />
                    </q-item-section>
                    <q-item-section v-if="receiver.sender_type_id === 1">
                      <q-item-label>{{ catalogs.external_companies.find(x => x.id === receiver.external_participant_id).name }}</q-item-label>
                      <q-item-label caption>{{ catalogs.external_companies.find(x => x.id === receiver.external_participant_id).bussiness_name }}</q-item-label>
                    </q-item-section>
                    <q-item-section v-if="receiver.sender_type_id === 2">
                      <q-item-label>{{ catalogs.external_people.find(x => x.id === receiver.external_participant_id).fullname }}</q-item-label>
                    </q-item-section>
                    <q-item-section v-if="receiver.sender_type_id === 3">
                      <q-item-label>{{ receiver.sender_responsable }} / {{ receiver.sender_position }}</q-item-label>
                      <q-item-label caption>{{ catalogs.external_entities.find(x => x.id === receiver.sender_entity_id).name }} / {{ receiver.sender_unit_id.name }}</q-item-label>
                    </q-item-section>
                    <q-item-section side top>
                      <q-item-label caption>{{ catalogs.cat_sender_types.find(x => x.id === receiver.sender_type_id).name }}</q-item-label>
                    </q-item-section>
                    <q-btn round dense flat icon="close" @click="Delete(receiver.id)"/>
                  </q-item>
                </q-list>
              </q-tab-panel>
            </q-tab-panels>
            <q-tab-panels v-model="tab">
              <q-tab-panel name="ccp">
                <q-form ref="formReceiverccp" @submit.prevent="() => {}">
                  <div class="row q-col-gutter-x-sm q-col-gutter-y-lg">
                    <div class="col-12 q-mt-md">
                      <q-select id="RemType" outlined v-model="formExternalSenderccp.sender_type_id"
                        :options="catalogs.cat_sender_types"
                        option-value="id"
                        option-label="name"
                        emit-value
                        map-options label="Seleccione tipo de Destinatario"
                        @input="clearCcp"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      />
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-11" v-if="formExternalSenderccp.sender_type_id == 2">
                      <q-select
                        outlined
                        v-model="formExternalSenderccp.external_participant_id"
                        :options="catalogs.external_people"
                        option-value="id"
                        option-label="fullname"
                        label="Personas"
                        map-options
                        emit-value
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              Sin Resultados
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="col-1" v-if="formExternalSenderccp.sender_type_id == 2">
                      <q-btn color="primary" icon="add" @click="newExternalPeople = true" >
                        <q-tooltip>Registrar Persona</q-tooltip>
                      </q-btn>
                    </div>
                    <div class="col-11" v-if="formExternalSenderccp.sender_type_id == 3">
                      <q-select outlined v-model="formExternalSenderccp.sender_entity_id"
                        use-input
                        input-debounce="0"
                        style="width 250px"
                        @filter="filterFn"
                        :options="optionsEntities"
                        option-value="id"
                        option-label="name"
                        label="Seleccione Dependencia"
                        @input="filterUnits"
                        emit-value
                        map-options
                        @clear="() => {(UnitsOptions = []), (instruction.unit_id = null);}"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']" >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              No hay resultados
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="col-1" v-if="formExternalSenderccp.sender_type_id == 3">
                      <q-btn color="primary" icon="add" @click="newDependency = true" >
                        <q-tooltip>Registrar Dependencia</q-tooltip>
                      </q-btn>
                    </div>
                    <div class="col-11" v-if="formExternalSenderccp.sender_type_id == 3">
                      <q-select outlined v-model="formExternalSenderccp.sender_unit_id"
                        :loading="loadingUnits"
                        option-value="id"
                        option-label="name"
                        :options="UnitsOptions"
                        label="Unidad"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                        />
                    </div>
                    <div class="col-1" v-if="formExternalSenderccp.sender_type_id == 3">
                      <q-btn color="primary" icon="add" @click="newUnit = true" >
                        <q-tooltip>Registrar Unidad</q-tooltip>
                      </q-btn>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6" v-if="formExternalSenderccp.sender_type_id == 3">
                        <q-input v-model="formExternalSenderccp.sender_responsable" outlined
                          :rules="[(val) => !!val || 'Este campo es obligatorio']"
                          label="Persona" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6" v-if="formExternalSenderccp.sender_type_id == 3">
                        <q-input v-model="formExternalSenderccp.sender_position" outlined
                          :rules="[(val) => !!val || 'Este campo es obligatorio']"
                          label="Puesto" />
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-11" v-if="formExternalSenderccp.sender_type_id == 1">
                      <q-select id="moralPerson"
                        outlined
                        v-model="formExternalSenderccp.external_participant_id"
                        label="Empresas"
                        :options="catalogs.external_companies"
                        option-value="id"
                        option-label="bussiness_name"
                        map-options
                        emit-value
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              Sin Resultados
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="col-1"  v-if="formExternalSenderccp.sender_type_id == 1">
                      <q-btn color="primary" icon="add" @click="newExternalCompany = true" >
                        <q-tooltip>Registrar Empresa</q-tooltip>
                      </q-btn>
                    </div>
                  </div>
                </q-form>
                <q-btn class="q-mt-md" @click="addToccpprint()" flat label="Agregar" color="primary" v-if="formExternalSenderccp.sender_type_id"/>
                <q-list bordered padding class="q-mt-md">
                  <q-item-label header>Ccp:</q-item-label>
                  <q-item v-for="receiver in form.ccp_print" :key="receiver.id">
                    <q-item-section avatar v-if="receiver.sender_type_id === 1">
                      <q-icon color="primary" text-color="white" name="business" />
                    </q-item-section>
                    <q-item-section avatar v-if="receiver.sender_type_id === 2">
                      <q-icon color="primary" text-color="white" name="account_circle" />
                    </q-item-section>
                    <q-item-section avatar v-if="receiver.sender_type_id === 3">
                      <q-icon color="primary" text-color="white" name="maps_home_work" />
                    </q-item-section>
                    <q-item-section v-if="receiver.sender_type_id === 1">
                      <q-item-label>{{ catalogs.external_companies.find(x => x.id === receiver.external_participant_id).name }}</q-item-label>
                      <q-item-label caption>{{ catalogs.external_companies.find(x => x.id === receiver.external_participant_id).bussiness_name }}</q-item-label>
                    </q-item-section>
                    <q-item-section v-if="receiver.sender_type_id === 2">
                      <q-item-label>{{ catalogs.external_people.find(x => x.id === receiver.external_participant_id).fullname }}</q-item-label>
                    </q-item-section>
                    <q-item-section v-if="receiver.sender_type_id === 3">
                      <q-item-label>{{ receiver.sender_responsable }} / {{ receiver.sender_position }}</q-item-label>
                      <q-item-label caption>{{ catalogs.external_entities.find(x => x.id === receiver.sender_entity_id).name }} / {{ receiver.sender_unit_id.name }}</q-item-label>
                    </q-item-section>
                    <q-item-section side top>
                      <q-item-label caption>{{ catalogs.cat_sender_types.find(x => x.id === receiver.sender_type_id).name }}</q-item-label>
                    </q-item-section>
                    <q-btn round dense flat icon="close" @click="DeleteCcp(receiver.id)"/>
                  </q-item>
                </q-list>
              </q-tab-panel>
            </q-tab-panels>
          </q-expansion-item>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <q-form ref="form" @submit.prevent="() => {}">
            <q-card-section>
              <div class="row q-col-gutter-md">
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <q-select outlined v-model="form.template_id"
                    :options="catalogs.cat_templates"
                    option-value="id"
                    option-label="name"
                    emit-value
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                    map-options label="Tipo de documento"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <q-select outlined v-model="form.cat_priorities_id"
                    :options="catalogs.cat_external_priorities"
                    option-value="id"
                    option-label="name"
                    emit-value
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                    map-options label="Prioridad"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <q-input outlined v-model="docummnetDate" mask="date" :rules="['date']" label="Fecha del Oficio">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date v-model="docummnetDate" first-day-of-week="0" :options="optionsFn">
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Cerrar" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <q-input outlined v-model="commitmentDate" mask="date" :rules="['date']" label="Fecha Compromiso">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date v-model="commitmentDate" first-day-of-week="0" :options="optionsCommit">
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Cerrar" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col-12">
                  <q-select
                    label="Palabras clave"
                    outlined
                    v-model="form.key_words"
                    use-input
                    use-chips
                    multiple
                    hide-dropdown-icon
                    input-debounce="0"
                    new-value-mode="add-unique"
                  />
                </div>
                <div class="col-12">
                  <q-input v-model="form.subject" square outlined :rules="[(val) => !!val || 'Este campo es obligatorio']" label="Asunto"/>
                </div>
                <div class="col-12">
                  <q-input type="textarea" v-model="form.observation" square outlined :rules="[(val) => !!val || 'Este campo es obligatorio']" label="Observación"/>
                </div>
              </div>
            </q-card-section>
          </q-form>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn v-if="can('external-view-generate')" @click="sendAffair()" flat label="Siguiente" color="primary" />
        </q-card-actions>
      </div>
    </q-card>
    <Available/>
    <q-dialog v-model="newExternalPeople" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Registro Nuevo de Persona</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-form ref="formexternalpeople" @submit.prevent="() => {}">
          <q-card-section>
            <q-input outlined v-model="formexternalpeople.name" class="q-my-sm"
              :rules="[(val) => !!val || 'Este campo es obligatorio']"
              label="Nombre" />
            <q-input outlined v-model="formexternalpeople.last_name" class="q-my-sm"
              :rules="[(val) => !!val || 'Este campo es obligatorio']"
              label="Apellido Paterno" />
            <q-input outlined v-model="formexternalpeople.second_lastname" class="q-my-sm"
              :rules="[(val) => !!val || 'Este campo es obligatorio']"
              label="Apellido Materno" />
            <q-input outlined v-model="formexternalpeople.email" type="email" class="q-my-sm"
              :rules="[(val) => !!val || 'Este campo es obligatorio', isValidEmail]"
              label="Email" />
            <q-input outlined v-model="formexternalpeople.phone" type="tel" class="q-my-sm"
              :rules="[(val) => !!val || 'Este campo es obligatorio']"
              mask="(###) ### - ####"
              label="Telefono" />
          </q-card-section>
        </q-form>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Guardar" @click="addNewExternalPeople()" color="primary"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="newExternalCompany" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Registro Nuevo de Empresa</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-form ref="formcompany" @submit.prevent="() => {}">
          <q-card-section>
            <q-input outlined v-model="formcompany.name" class="q-my-sm"
              label="Nombre"
              :rules="[(val) => !!val || 'Este campo es obligatorio']" />
            <q-input outlined v-model="formcompany.bussiness_name" class="q-my-sm"
              label="Razón Social"
              :rules="[(val) => !!val || 'Este campo es obligatorio']" />
            <q-input outlined v-model="formcompany.rfc" class="q-my-sm"
              label="RFC"
                :rules="[val => !!val || 'Este campo es requerido', val => val.length === 12 || 'El RFC debe tener 13 caracteres']"
              mask="AAA######NNN" />
            <q-input outlined v-model="formcompany.address" class="q-my-sm"
              label="Dirección"
              :rules="[(val) => !!val || 'Este campo es obligatorio']" />
            <q-input outlined v-model="formcompany.email" class="q-my-sm"
              label="Email" type="email"
              :rules="[(val) => !!val || 'Este campo es obligatorio', isValidEmail]" />
            <q-input outlined v-model="formcompany.phone" class="q-my-sm"
              label="Teléfono"
              mask="(###) ### - ####"
              :rules="[(val) => !!val || 'Este campo es obligatorio']" />
          </q-card-section>
        </q-form>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Guardar" @click="addNewCompany()" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="newDependency" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Registro Nueva Dependencia</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-form ref="formdependency" @submit.prevent="() => {}">
          <q-card-section>
            <q-input outlined v-model="formdependency.name" class="q-my-sm"
              label="Nombre"
              :rules="[(val) => !!val || 'Este campo es obligatorio']" />
            <q-input outlined v-model="formdependency.acronym" class="q-my-sm"
              label="Acronimo"
              :rules="[(val) => !!val || 'Este campo es obligatorio']" />
          </q-card-section>
        </q-form>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Guardar" @click="addNewDependency()" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="newUnit" persistent>
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Registro Nueva Unidad</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-form ref="formUnit" @submit.prevent="() => {}">
          <q-card-section>
            <q-select outlined v-model="formUnit.external_entity_id"
              input-debounce="0"
              @filter="filterFn"
              :options="optionsEntities"
              option-value="id"
              option-label="name"
              label="Seleccione Dependencia"
              :rules="[(val) => !!val || 'Este campo es obligatorio']" >
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">
                    No hay resultados
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
            <q-input outlined v-model="formUnit.name" class="q-my-sm"
              label="Unidad"
              :rules="[(val) => !!val || 'Este campo es obligatorio']" />
            <q-input outlined v-model="formUnit.acronym" class="q-my-sm"
              label="Acronimo"
              :rules="[(val) => !!val || 'Este campo es obligatorio']" />
          </q-card-section>
        </q-form>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Guardar" @click="addNewUnit()" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>

const today = new Date();
import moment from 'moment';
import * as CatalogService from 'src/services/admin/CatalogService';
import * as ExternalPeopleService from 'src/services/ExternalPeopleService';
import * as ExternalCompanyService from 'src/services/ExternalCompanyService';
import * as newDependency from 'src/services/admin/catalogs/EntityService';
import * as newUnit from 'src/services/admin/catalogs/UnitService';
import * as OutputAffairService from 'src/services/OutputAffairService';
import { notifyError, notifySuccess, notifyAlert } from 'src/utils/notify';
import { cleanStr, enableDate } from 'boot/customFunctions';
import Available from 'src/components/centralapi/partials/Available';
import SendTo from './partials/SendTo.vue';

export default {
  components: { SendTo, Available },
  data() {
    return {
      form: {
        template_id: '',
        cat_priorities_id: '',
        document_date: '',
        commitment_date: '',
        key_words: [],
        subject: '',
        observation: '',
        to: [],
        ccp: [],
        to_print: [],
        ccp_print: [],
      },
      day: today.getDate(),
      month: today.getMonth(),
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      formcompany: {
        name: '',
        bussiness_name: '',
        rfc: '',
        email: '',
        phone: '',
        address: '',
      },
      formdependency: {
        name: '',
        acronym: '',
      },
      formUnit: {
        external_entity_id: '',
        name: '',
        acronym: '',
      },
      formexternalpeople: {
        name: '',
        last_name: '',
        second_lastname: '',
        email: '',
        phone: '',
      },
      formExternalSenderccp: {},
      formExternalSender: {},
      optionsEntities: [],
      UnitsOptions: [],
      InitialUnitsOptions: [],
      loadingUnits: false,
      newExternalCompany: false,
      newExternalPeople: false,
      newDependency: false,
      newUnit: false,
      idReceiver: 1,
      tab: 'to',
      holidaysArr: [],
      docummnetDate: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
      commitmentDate: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
    }
  },
  beforeRouteLeave(to, from, next) {
    const url = to.path
    const expression = 'output-affair/([^ ]*)/office'
    const regex = new RegExp(expression);
    console.log(url.match(regex))
    if (!url.match(regex)) {
      if (!window.confirm('¿Estás seguro de salir?')) {
        return;
      }
    }
    next();
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    /* eslint-disable */
    itemOne: function() {
      return `Destinatarios Digitales: ${this.form.to.length + this.form.ccp.length}`
    },
    itemTwo: function() {
      return `Destinatarios físicos: ${this.form.to_print.length}`
    },
    subjectD() {
      return this.form.subject
    },
    observationD() {
      return this.form.observation
    },
    peopleNameD() {
      return this.formexternalpeople.name
    },
    peopleLastName() {
      return this.formexternalpeople.last_name
    },
    peopleSecondLastName() {
      return this.formexternalpeople.second_lastname
    },
    companyNameD() {
      return this.formcompany.name
    },
    companyBussinessNameD() {
      return this.formcompany.bussiness_name
    },
    companyAddressD() {
      return this.formcompany.address
    },
    dependencyNameD() {
      return this.formdependency.name
    },
    dependencyAcronymD() {
      return this.formdependency.acronym
    }
  },
  created() {
    const positionId = window.sessionStorage.getItem('position_id');
    const catalogsConfiguration = {
      //cat_external_doc_types: true,
      cat_external_priorities: true,
      cat_external_entities: true,
      cat_sender_types: true,
      external_people: true,
      external_companies: true,
      external_entities: true,
      external_units: true,
      cat_holidays: true,
      cat_templates: true,
      position_id: positionId,
    };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
  },
  watch: {
    docummnetDate(cad) {
      if (this.validateDate(cad) === false && !this.can('send-Holiday')) {
        this.docummnetDate = ''
      } else {
        this.docummnetDate = cad
      }
    },
    commitmentDate(cad) {
      if (this.validateDate(cad) === false && !this.can('send-Holiday')) {
        this.commitmentDate = ''
      } else {
        this.commitmentDate = cad
      }
    },
    subjectD(cad) {
      this.form.subject = cleanStr(cad)
    },
    observationD(cad) {
      this.form.observation = cad
    },
    peopleNameD(cad) {
      this.formexternalpeople.name = cleanStr(cad)
    },
    peopleLastName(cad) {
      this.formexternalpeople.last_name = cleanStr(cad)
    },
    peopleSecondLastName(cad) {
      this.formexternalpeople.second_lastname = cleanStr(cad)
    },
    companyNameD(cad) {
      this.formcompany.name = cleanStr(cad)
    },
    companyBussinessNameD(cad) {
      this.formcompany.bussiness_name = cleanStr(cad)
    },
    companyAddressD(cad) {
      this.formcompany.address = cleanStr(cad)
    },
    dependencyNameD(cad) {
      this.formdependency.name = cleanStr(cad)
    },
    dependencyAcronymD(cad) {
      this.formdependency.acronym = cleanStr(cad)
    }
  },
  methods: {
    validateDate(cad) {
      const holidays = this.$store.state.catalogs.cat_holidays;
      const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
      const valid = (arr.includes(cad)) ? false : cad
      return valid
    },
    optionsFn(date) {
      const holidays = this.catalogs.cat_holidays;
      date = enableDate(this.user.permissions, holidays, date)
      return date !== false;
    },
    optionsCommit(date) {
      const todayCalendar = new Date(date)
      const todayCommit = new Date()
       console.log('aqui arma ')
      const holidays = this.catalogs.cat_holidays;
      const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
      date = (arr.includes(date)) ? false : date
      return date !== false && todayCalendar >= todayCommit
    },
    sendAffair() {
      let daysDiff = '';
      if (!this.can('send-Holiday')) {
        const holidays = this.catalogs.cat_holidays;
        const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
        const validDocDate = arr.includes(this.docummnetDate)
        const validComDate = arr.includes(this.commitmentDate)
        if (validDocDate) {
          notifyAlert('La fecha no es valida');
          this.docummnetDate = ''
          return
        }
        if (validComDate) {
          notifyAlert('La fecha no es valida');
          this.commitmentDate = ''
          return
        }
      }
      if (!this.can('send-Weekend')) {
        const dateObjD = new Date(this.docummnetDate)
        this.docummnetDate = (dateObjD.getDay() === 0 || dateObjD.getDay() === 6) ? '' : this.docummnetDate
        const dateObjC = new Date(this.commitmentDate)
        this.commitmentDate = (dateObjC.getDay() === 0 || dateObjC.getDay() === 6) ? '' : this.commitmentDate
        if (this.docummnetDate === '' || this.commitmentDate === '') {
          notifyAlert('La fecha no es valida');
          return
        }
      }

      this.form.document_date = this.docummnetDate;
      this.form.commitment_date = this.commitmentDate;
      const docDate = moment(this.form.document_date);
      const comDate = moment(this.form.commitment_date);

      daysDiff = comDate.diff(docDate, 'days');

      if (daysDiff > 0) {
        notifyAlert('La fecha de compromiso debe ser igual o mayor a la del documento')
        return
      }
      const receiverCheck = this.form.to.length > 0
      const receiverChecktwo = this.form.to_print.length > 0
      if (!receiverCheck && !receiverChecktwo) {
        notifyAlert('Sin destinatario')
        return
      }
      this.$refs.form.validate().then((valid) => {
        if (valid) {
          const form = { ...this.form,
            position_id: window.sessionStorage.getItem('position_id')
          };
          this.$q.loading.show();
          OutputAffairService.store(form).then((data) => {
            console.log(data);
            this.$router.push(`/output-affair/${data.affair.id}/office`);
            this.$q.loading.hide();
          }).catch(() => {
            this.$q.loading.hide();
          })
        }
      });
    },
    clearTo() {
      const type = this.formExternalSender.sender_type_id
      this.formExternalSender = { sender_type_id: type }
    },
    clearCcp() {
      const type = this.formExternalSenderccp.sender_type_id
      this.formExternalSenderccp = { sender_type_id: type }
    },
    addToprint() {
      this.$refs.formReceiver.validate().then((valid) => {
        if (valid) {
          const idArrayto = this.form.to_print.map((obj) => {
            if (obj.sender_type_id == 1 || obj.sender_type_id == 2) {
              return obj.external_participant_id
            }
            return 0
          })
          const idArrayccp = this.form.ccp_print.map((obj) => {
            if (obj.sender_type_id == 1 || obj.sender_type_id == 2) {
              return obj.external_participant_id
            }
            return 0
          })
          if (idArrayto.includes(this.formExternalSender.external_participant_id) || idArrayccp.includes(this.formExternalSender.external_participant_id)) {
            notifyError('Usuario repetido')
          } else {
            this.form.to_print.push({ ...this.formExternalSender, id: this.idReceiver })
            this.idReceiver += 1
          }
        }
      }).then(() => {
        this.formExternalSender = { sender_type_id: '' }
        this.$refs.formReceiver.reset()
      });
    },
    addToccpprint() {
      this.$refs.formReceiverccp.validate().then((valid) => {
        if (valid) {
          const idArrayto = this.form.to_print.map((obj) => {
            if (obj.sender_type_id == 1 || obj.sender_type_id == 2) {
              return obj.external_participant_id
            }
            return 0
          })
          const idArrayccp = this.form.ccp_print.map((obj) => {
            if (obj.sender_type_id == 1 || obj.sender_type_id == 2) {
              return obj.external_participant_id
            }
            return 0
          })
          if (idArrayto.includes(this.formExternalSenderccp.external_participant_id) || idArrayccp.includes(this.formExternalSenderccp.external_participant_id)) {
            notifyError('Usuario repetido')
          } else {
            this.form.ccp_print.push({ ...this.formExternalSenderccp, id: this.idReceiver })
            this.idReceiver += 1
          }
        }
      }).then(() => {
        this.formExternalSenderccp = { sender_type_id: '' }
        this.$refs.formReceiverccp.reset()
      });
    },
    Delete(id) {
      if (id >= 1) {
        const index = this.form.to_print.findIndex((x) => x.id === id);
        this.form.to_print.splice(index, 1)
        this.id -= 1
      }
    },
    DeleteCcp(id) {
      if (id >= 1) {
        const index = this.ccpPeople.findIndex((x) => x.id === id);
        this.ccpPeople.splice(index, 1)
        this.id -= 1
      }
    },
    filterUnits(entity) {
      if (entity != null) {
        this.loadingUnits = true;
        CatalogService.getExternalUnits(entity).then((unit) => {
          this.InitialUnitsOptions = unit;
          this.UnitsOptions = this.InitialUnitsOptions;
          this.loadingUnits = false;
        })
      }
    },
    addNewExternalPeople() {
      const externalPeople = { ...this.formexternalpeople };
      this.$refs.formexternalpeople.validate().then((valid) => {
        if (valid) {
          ExternalPeopleService.store(externalPeople).then((data) => {
            console.log('EXTERNAL', data);
            notifySuccess('Se ha agregado la persona');
            this.catalogs.external_people.push(data.externalpeople);
            this.formExternalSender.external_people_id = data.externalpeople.id;
            this.newExternalPeople = false;
            this.formexternalpeople = {}
          });
        }
      });
    },
    addNewCompany() {
      const externalCompany = { ...this.formcompany };
      this.$refs.formcompany.validate().then((valid) => {
        if (valid) {
          ExternalCompanyService.store(externalCompany).then((data) => {
            this.catalogs.external_companies.push(data.externalcompany);
            this.formExternalSender.external_company_id = data.externalcompany.id;
            this.newExternalCompany = false;
            console.log('COMPANY', data);
            notifySuccess('Se ha agregado la empresa');
            this.formcompany = {}
          });
        }
      });
    },
    addNewDependency() {
      const externalDependency = { ...this.formdependency };
      this.$refs.formdependency.validate().then((valid) => {
        if (valid) {
          newDependency.storeExternalDependency(externalDependency).then((data) => {
            this.catalogs.external_entities.push(data.entity);
            this.newDependency = false;
            this.formdependency.name = '';
            this.formdependency.acronym = ''
            console.log('dependency', data, this.catalogs.external_entities);
            notifySuccess('Se ha agregado la dependencia');
          });
        }
      });
    },
    addNewUnit() {
      const externalUnit = { ...this.formUnit };
      this.$refs.formUnit.validate().then((valid) => {
        if (valid) {
          newUnit.storeExternalUnit(externalUnit).then((data) => {
            this.catalogs.external_units.push(data.unit);
            this.UnitsOptions.push(data.unit);
            this.newUnit = false;
            this.formUnit.external_entity_id = '';
            this.formUnit.name = '';
            this.formUnit.acronym = '';
            console.log('unit', data);
            notifySuccess('Se ha agregado la unidad');
          });
        }
      });
    },
    filterFn(val, update) {
      if (val === '') {
        update(() => {
          this.optionsEntities = this.catalogs.external_entities
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.optionsEntities = this.catalogs.entities.filter((v) => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    isValidEmail(val) {
      const emailPattern = /^(?=[a-zA-Z0-9@.%+-]{6,254}$)[a-zA-Z0-9.%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || 'Debe ingresar un correo válido';
    },
  },
}

</script>

<style lang="sass" scoped>
.document-card
  width: 100%
  max-width: 130px
</style>
