  <template>
  <div>
    <q-card class="row q-mb-md justify-between">
      <q-card-actions>
        <q-btn
          flat
          round
          color="primary"
          icon="fas fa-arrow-left"
          @click="$router.back()"
        >
          <q-tooltip>Volver</q-tooltip>
        </q-btn>
        <span class="q-ml-md text-h6">{{ form.folio || 'Folio no generado' }} / {{form.subject}}</span>
      </q-card-actions>
      <q-card-actions>
        <q-btn
          v-if="form.affair_status_id === 1"
          flat
          @click="$router.push(`/output-affair/${form.id}/office`)"
          icon="description"
          color="primary">
          <q-tooltip>Editar documento</q-tooltip>
        </q-btn>
        <q-btn
          v-if="form.affair_status_id === 1"
          flat
          @click="convertCollabora()"
          icon="groups"
          color="primary">
          <q-tooltip>Documento Colaborativo</q-tooltip>
        </q-btn>
        <q-btn
          v-if="form.affair_status_id === 2"
          flat
          @click="$router.push(`/collabora/${form.id}/edit`)"
          icon="groups"
          color="primary">
          <q-tooltip>Documento Colaborativo</q-tooltip>
        </q-btn>
        <q-btn
          v-if="form.affair_status_id > 2"
          flat
          size="sm"
          @click="render(form.id)"
          icon="fas fa-eye"
          color="primary">
          <q-tooltip>Ver asunto</q-tooltip>
        </q-btn>
        <!-- <q-btn
          v-if="form.affair_status_id ==5 && form.is_sender"
          flat
          size="sm"
          @click="toHistorical()"
          icon="inventory"
          color="primary">
          <q-tooltip>Mandar a historico</q-tooltip>
        </q-btn> -->
      </q-card-actions>
    </q-card>
    <q-card>
      <q-tabs
        v-model="tab"
        dense
        active-color="black"
        indicator-color="black"
        align="justify"
        narrow-indicator
        class="text-grey shadow-2"
      >
        <q-tab name="general_information" label="Información general" />
        <q-separator vertical />
        <q-tab name="annexes" label="Archivos adjuntos">
          <q-badge color="red" text-color="white" floating align="top" style="right: -23px;">
            {{ num_attached }}
          </q-badge>
        </q-tab>
        <q-separator vertical />
        <q-tab name="comments" label="Comentarios" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="general_information" class="q-pa-lg">
          <div class="row q-mb-md relative-position">
            <q-btn class="absolute-top-right" @click="editDestiny()" v-if="form.affair_status_id === 1" flat icon="fas fa-edit" size="sm" color="primary">
              <q-tooltip>Editar destinatarios</q-tooltip>
            </q-btn>
            <div class="col-12 col-md-6 col-sm-6">
              <p class="text-weight-bold">De:</p>
              <q-item>
                <q-item-section avatar >
                  <q-avatar size="35px">
                    <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ form.from.position_name }}</q-item-label>
                  <q-item-label caption>{{ form.from.full_name }}</q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </div>
          <div class="row q-mb-md">
            <div class="col-12 col-md-6 col-sm-6">
              <p class="text-weight-bold">Para:</p>
              <q-item
                v-for="(user) in form.to"
                :key="user.id">
                <q-item-section avatar >
                  <q-avatar size="35px">
                    <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
                    <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ user.entity_name }}</q-item-label>
                  <q-item-label caption>{{ user.name }}</q-item-label>
                </q-item-section>
              </q-item>
              <q-item
                v-for="(user) in form.to_print"
                :key="user.id">
                <q-item-section avatar>
                  <q-icon color="primary" :name="user.sender_type_id === 1 ? 'business' : user.sender_type_id === 2 ? 'account_circle' : user.sender_type_id === 3 ? 'maps_home_work' : ''" />
                </q-item-section>
                <q-item-section v-if="user.sender_type_id === 1">
                  <q-item-label>{{ user.business_name }}</q-item-label>
                  <q-item-label>{{ user.company_name }}</q-item-label>
                  <q-item-label caption>Persona Moral</q-item-label>
                </q-item-section>
                <q-item-section v-if="user.sender_type_id === 2">
                  <q-item-label>{{ user.name }} {{user.last_name}} {{user.second_lastname}}</q-item-label>
                  <q-item-label>{{ user.email }}</q-item-label>
                  <q-item-label caption>Persona Fisica</q-item-label>
                </q-item-section>
                <q-item-section v-if="user.sender_type_id === 3">
                  <q-item-label>{{ user.external_name }} / {{ user.external_position }}</q-item-label>
                  <q-item-label>{{ user.entity_name }} / {{ user.unit_name }}</q-item-label>
                  <q-item-label caption>Dependencia</q-item-label>
                </q-item-section>
              </q-item>
            </div>
            <div class="col-12 col-md-6 col-sm-6">
              <p class="text-weight-bold">Cc:</p>
              <q-item
                v-for="(user) in form.ccp_print"
                :key="user.id">
                <q-item-section avatar>
                  <q-icon color="primary" :name="user.sender_type_id === 1 ? 'business' : user.sender_type_id === 2 ? 'account_circle' : user.sender_type_id === 3 ? 'maps_home_work' : ''" />
                </q-item-section>
                <q-item-section v-if="user.sender_type_id === 1">
                  <q-item-label>{{ user.business_name }}</q-item-label>
                  <q-item-label>{{ user.company_name }}</q-item-label>
                  <q-item-label caption>Persona Moral</q-item-label>
                </q-item-section>
                <q-item-section v-if="user.sender_type_id === 2">
                  <q-item-label>{{ user.name }} {{user.last_name}} {{user.second_lastname}}</q-item-label>
                  <q-item-label>{{ user.email }}</q-item-label>
                  <q-item-label caption>Persona Fisica</q-item-label>
                </q-item-section>
                <q-item-section v-if="user.sender_type_id === 3">
                  <q-item-label>{{ user.external_name }} / {{ user.external_position }}</q-item-label>
                  <q-item-label>{{ user.entity_name }} / {{ user.unit_name }}</q-item-label>
                  <q-item-label caption>Dependencia</q-item-label>
                </q-item-section>
              </q-item>
            </div>
          </div>
          <q-separator inset />
          <div class="row q-my-md q-pr-xl relative-position">
            <q-btn class="absolute-top-right" @click="editAffair()" v-if="form.affair_status_id === 1" flat icon="fas fa-edit" size="sm" color="primary">
              <q-tooltip>Editar asunto</q-tooltip>
            </q-btn>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Fecha de creación<noframes></noframes></q-item-label>
                <q-item-label>{{ new Date(form.creation_date).getDate() }}/{{ (new Date(form.creation_date).getMonth()+1) }}/{{ new Date(form.creation_date).getFullYear() }}
                  a las: {{ new Date(form.creation_date).getHours() }}:{{ (new Date(form.creation_date).getMinutes()).toString().length === 1 ? `0${(new Date(form.creation_date).getMinutes()).toString()}` : new Date(form.creation_date).getMinutes()}}
                  </q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Fecha del documento</q-item-label>
                <q-item-label>{{ new Date(form.document_date).getDate() }}/{{ (new Date(form.document_date).getMonth()+1) }}/{{ new Date(form.document_date).getFullYear() }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Fecha compromiso</q-item-label>
                <q-item-label>{{ new Date(form.commitment_date).getDate() }}/{{ (new Date(form.commitment_date).getMonth()+1) }}/{{ new Date(form.commitment_date).getFullYear() }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Fecha de envío</q-item-label>
                <q-item-label v-if="form.sent_date">{{ new Date(form.sent_date).getDate() }}/{{ (new Date(form.sent_date).getMonth()+1) }}/{{ new Date(form.sent_date).getFullYear() }}
                </q-item-label>
                <q-item-label v-if="!form.sent_date">El asunto no ha sido enviado
                </q-item-label>
              </q-item-section>
            </q-item>
          </div>
          <div class="row q-my-md q-pr-xl">
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Folio</q-item-label>
                <q-item-label>{{ form.folio || 'Folio no generado' }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Tipo de documento</q-item-label>
                <q-item-label>{{ form.doc_type_name }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold"
                  >Prioridad</q-item-label
                >
                <q-item-label>{{ form.priority_name }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item class="col-3">
              <q-item-section>
                <q-item-label class="text-weight-bold">Estatus</q-item-label>
                <q-item-label>{{ form.affair_status }}</q-item-label>
              </q-item-section>
            </q-item>
          </div>
          <div class="q-my-md">
            <q-item class="col-4">
              <q-item-section>
                <q-item-label class="text-weight-bold"
                  >Asunto</q-item-label
                >
                <q-item-label
                  >{{ form.subject }}</q-item-label
                >
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-weight-bold"
                  >Folio/Control Interno</q-item-label
                >
                <q-item-label
                  >{{ form.folio_control }}</q-item-label
                >
              </q-item-section>
            </q-item>
          </div>
          <div class="q-my-md">
            <q-item class="col-12">
              <q-item-section>
                <q-item-label class="text-weight-bold">Palabras clave</q-item-label>
                <q-item-label>{{ form.key_words.join(", ") }}</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label class="text-weight-bold"
                  >Observación</q-item-label
                >
                <q-item-label
                  >{{ form.observation }}</q-item-label
                >
              </q-item-section>
            </q-item>
          </div>
        </q-tab-panel>
        <q-tab-panel v-if="can('document-attach')" name="annexes" class="q-pa-lg">
          <DocumentCard :affairStatusId="form.affair_status_id" :numAttached="num_attached" v-on:sum-attached="sumAttached"/>
        </q-tab-panel>
        <q-tab-panel v-if="can('document-comment')"  name="comments">
          <Chat />
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
    <q-dialog v-model="destinyDialog" persistent>
      <q-card style="width: 900px; max-width: 80vw;">
        <q-card-section>
          <SendTo
            :toPeople="toPeople"
            :ccpPeople="ccpPeople"
          />
          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Guardar" @click="updateDestiny()" color="primary" />
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="affairDialog" persistent>
      <q-card style="width: 900px; max-width: 80vw;">
        <q-card-section class="row items-center">
          <q-icon name="fas fa-edit" color="primary" :size="'lg'"/>
          <span class="q-ml-md text-h6">Editar</span>
        </q-card-section>
        <q-card-section>
          <div class="row q-col-gutter-sm">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-input outlined v-model="formAffair.document_date" mask="date" :rules="['date']" label="Fecha del Documento">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date v-model="formAffair.document_date" first-day-of-week="0" :options="optionsFn">
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Cerrar" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-input outlined v-model="formAffair.commitment_date" mask="date" :rules="['date']" label="Fecha Compromiso">
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date v-model="formAffair.commitment_date" first-day-of-week="0" :options="optionsFn">
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Cerrar" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-select outlined v-model="formAffair.cat_priorities_id"
                :options="catalogs.cat_external_priorities"
                option-value="id"
                option-label="name"
                emit-value
                :rules="[(val) => !!val || 'Este campo es obligatorio']"
                map-options
                label="Prioridad"
              />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-input
                v-model="formAffair.folio_control"
                outlined
                label="Folio/control Interno"
                maxlength="255"
              />
            </div>
            <div class="col-12">
              <q-select
                label="Palabras clave"
                :readonly="readonly"
                outlined
                v-model="formAffair.key_words"
                use-input
                use-chips
                multiple
                hide-dropdown-icon
                input-debounce="0"
                new-value-mode="add-unique"
              />
            </div>
            <div class="col-12">
              <q-input
                v-model="formAffair.subject"
                outlined
                label="Asunto"
                maxlength="255"
                :rules="[(val) => !!val || 'Este campo es obligatorio']"
              />
            </div>
            <div class="col-12">
              <q-input
                v-model="formAffair.observation"
                outlined
                label="Observación"
                maxlength="255"
                :rules="[(val) => !!val || 'Este campo es obligatorio']"
              />
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Guardar" @click="updateAffair()" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { notifySuccess, notifyError, notifyAlert } from 'src/utils/notify';
import { cleanStr } from 'boot/customFunctions';
import * as OutputAffairService from 'src/services/OutputAffairService';
import * as AffairDigitalParticipantService from 'src/services/AffairDigitalParticipantService';
import * as UploadFileService from 'src/services/global/UploadFileService';
import Chat from 'src/components/global/Chat'
import DocumentCard from 'src/components/internalAffair/partials/DocumentCard';
import SendTo from './partials/SendTo';

export default {
  components: { SendTo, Chat, DocumentCard },
  data() {
    return {
      tab: 'general_information',
      form: {},
      destinyDialog: false,
      affairDialog: false,
      officeDialog: false,
      actionsDialog: false,
      turnDialog: false,
      toPeople: [],
      ccpPeople: [],
      formAffair: {
        document_date: '',
        commitment_date: '',
        cat_priorities_id: '',
        subject: '',
        folio_control: '',
        observation: '',
        key_words: []
      },
      src: null,
      num_attached: '',
    };
  },
  methods: {
    optionsFn(date) {
      const holidays = this.catalogs.cat_holidays;
      const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
      date = (arr.includes(date)) ? false : date
      if (date !== false) {
        const dateObj = new Date(date)
        date = (dateObj.getDay() === 0 || dateObj.getDay() === 6) ? false : date
      }
      return date !== false;
    },
    convertCollabora() {
      const { id } = this.$route.params;
      this.$q.loading.show();
      OutputAffairService.update({ affair_status_id: 2 }, id).then(() => {
        notifySuccess('Documento Colaborativo');
        this.$q.loading.hide();
        this.$router.push(`/collabora/${id}/edit`);
      }).catch(() => {
        this.$q.loading.hide();
        notifyError();
      })
    },
    editDestiny() {
      this.toPeople = [...this.form.to]
      this.ccpPeople = [...this.form.ccp]
      this.destinyDialog = true
    },
    updateDestiny() {
      const { id } = this.$route.params;
      if (this.toPeople.length > 0) {
        this.$q.loading.show();
        AffairDigitalParticipantService.update({ to: this.toPeople, ccp: this.ccpPeople }, id).then(() => {
          console.log('check')
          this.reload(id);
        }).catch(() => {
          notifyError();
        }).finally(() => {
          this.destinyDialog = false
          this.$q.loading.hide();
        });
      } else {
        notifyError('Sin destinatraio');
      }
    },
    editAffair() {
      this.formAffair.document_date = this.form.document_date
      this.formAffair.commitment_date = this.form.commitment_date
      this.formAffair.cat_priorities_id = this.form.cat_priorities_id
      this.formAffair.subject = this.form.subject
      this.formAffair.folio_control = this.form.folio_control
      this.formAffair.observation = this.form.observation
      this.formAffair.key_words = this.form.key_words
      this.formAffair.position_id = window.sessionStorage.getItem('position_id');
      this.affairDialog = true
    },
    updateAffair() {
      const holidays = this.catalogs.cat_holidays;
      const arr = holidays.map((obj) => obj.holiday_date.replace(/-/g, '/'))
      const validDocDate = arr.includes(this.formAffair.document_date.substring(0, 10).replace(/-/g, '/'))
      const validComDate = arr.includes(this.formAffair.commitment_date.substring(0, 10).replace(/-/g, '/'))

      if (validDocDate) {
        notifyAlert('La fecha no es valida, ya que es un día feriado');
        this.formAffair.document_date = ''
        return
      }
      if (validComDate) {
        notifyAlert('La fecha no es valida, ya que es un día feriado');
        this.formAffair.commitment_date = ''
        return
      }

      const { id } = this.$route.params;
      this.$q.loading.show();
      OutputAffairService.update({ ...this.formAffair }, id).then(() => {
        this.reload(id);
      }).catch((err) => {
        notifyAlert(err.response.data.message);
      }).finally(() => {
        this.affairDialog = false
        this.$q.loading.hide();
      });
    },
    // toHistorical() {
    //   const { id } = this.$route.params;
    //   this.$q.loading.show();
    //   OutputAffairService.toHistorical({}, id).then(() => {
    //     this.$router.back();
    //     this.$q.loading.hide();
    //   }).catch(() => {
    //     notifyError();
    //     this.$q.loading.hide();
    //   })
    // },
    render(id) {
      UploadFileService.showFile(id).then((file) => {
        this.src = window.URL.createObjectURL(new Blob([file.data]));
        this.officeDialog = true;
      }).catch((err) => {
        console.log(err)
      })
    },
    reload(id) {
      const positionId = window.sessionStorage.getItem('position_id');
      OutputAffairService.edit({ params: { position_id: positionId } }, id).then((data) => {
        this.form = data;
        notifySuccess();
      }).catch(() => {
        notifyError();
      });
    },
    sumAttached(n) {
      this.num_attached = n;
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    folioControlD() {
      return this.formAffair.folio_control
    },
    subjectD() {
      return this.formAffair.subject
    },
    observationD() {
      return this.formAffair.observation
    }
  },
  watch: {
    folioControlD(cad) {
      this.formAffair.folio_control = cleanStr(cad)
    },
    subjectD(cad) {
      this.formAffair.subject = cleanStr(cad)
    },
    observationD(cad) {
      this.formAffair.observation = cad
    }
  },
  created() {
    const { id } = this.$route.params
    const positionId = window.sessionStorage.getItem('position_id');
    const catalogsConfiguration = {
      cat_external_doc_types: true,
      cat_external_priorities: true,
      cat_external_entities: true,
      cat_holidays: true,
      position_id: positionId,
    };
    const viewAnnexes = window.sessionStorage.getItem('view_annexes')
    this.tab = (viewAnnexes) ? 'annexes' : 'general_information';
    sessionStorage.removeItem('view_annexes');
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        OutputAffairService.edit({ params: { position_id: positionId } }, id).then((data) => {
          this.form = data;
          this.$q.loading.hide();
        }).catch(() => {
          this.$q.loading.hide();
        });
      });
  }
};
</script>
