<template>
  <div style="width:100%;height:100vh;">
    <q-card class="row q-mb-md justify-between">
      <q-card-actions>
        <q-btn flat @click="$router.push('/outbox')" icon="arrow_back" color="primary">
          <q-tooltip>Regresar</q-tooltip>
        </q-btn>
      </q-card-actions>
      <q-card-actions>
        <q-btn
          v-if="can('document-attach')"
          flat
          @click="docDialog = true"
          icon="attach_file"
          color="primary"
        >
          <q-badge
            v-if="num_attached !== 0"
            color="red"
            text-color="white"
            floating
            >{{ num_attached }}
          </q-badge>
          <q-tooltip>Archivos adjuntos</q-tooltip>
        </q-btn>
        <q-btn
          v-if="can('document-collaborate')"
          flat
          @click="convertCollabora"
          icon="groups"
          color="primary">
          <q-tooltip>Documento Colaborativo</q-tooltip>
        </q-btn>
        <q-btn
          v-if="can('document-sign') && form2.token.isOwner && form2.token.isSender"
          flat
          @click="selectFolio()"
          icon="send"
          color="primary">
          <q-tooltip>Firmar y enviar</q-tooltip>
        </q-btn>
        <q-btn v-if="can('document-sign')  && form2.token.isOwner && !form2.token.isSender" flat @click="backSender()" icon="subdirectory_arrow_left" color="primary">
          <q-tooltip>Mandar al remitente</q-tooltip>
        </q-btn>
      </q-card-actions>
    </q-card>
    <q-card class="column full-height" >
      <iframe title="collabora" id="collabora-online-viewer" name="collabora-online-viewer" style="width:100%;height:100%;position:absolute;">
      </iframe>
    </q-card>
    <div style="display: none">
      <form enctype="multipart/form-data" method="post" target="collabora-online-viewer" id="collabora-submit-form">
        <input name="access_token" type="hidden" id="access-token"/>
        <input type="submit" value="" />
      </form>
    </div>
    <q-card-actions align="right">
    </q-card-actions>
    <DigitalSignature :mostrar="Dialogsignature" :form2="form2" :formFolio="formFolio" :affairType="'output'"/>
    <Autograph :mostrar="DialogsignatureAutograph" :form2="form2" :formFolio="formFolio" :affairType="'output'"/>
    <q-dialog v-model="folioSelectDialog" persistent>
      <q-card style="width: 1000px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="fas fa-file-signature"/> Seleccione tipo de folio
          </div>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <q-card flat>
            <q-card-section style="height: 60vh" horizontal>
              <q-card-section  style="width: 30%" vertical>
                <q-card-section vertical>
                  <q-radio v-model="folioSelected" val="consecutive" label="Folio consecutivo"/><br/>
                  <q-radio v-model="folioSelected" val="reserved" label="Folio reservado"/><br/>
                  <q-radio v-model="folioSelected" val="bis" label="Folio BIS"/><br/>
                </q-card-section>
                <br>
                <q-card-section   vertical>
                  <q-radio v-model="typeSelectedSignature" val="autografa" label="Firma autografa"/><br/>
                  <q-radio v-model="typeSelectedSignature" val="efirma" label="Efirma"/><br/>
                </q-card-section>
              </q-card-section>
              <q-separator vertical inset/>
              <q-card-section style="width: 70%" class="scroll">
                <div v-if="folioSelected === 'consecutive'" class="text-h6">
                  Consecutivo de la {{ this.unit }}: {{ this.consecutive }}
                </div>
                <q-table
                  v-if="folioSelected === 'reserved'"
                  title="Consecutivos disponibles"
                  :data="dataConsecutives"
                  :columns="columns"
                  row-key="consecutive"
                  separator="vertical"
                  :pagination.sync="paginationConsecutive"
                  :loading="loadingConsecutive"
                  @request="onRequestconsecutive"
                  selection="single"
                  :selected.sync="selectedConsecutive"
                >
                  <template v-slot:no-data="{ }">
                    <div class="full-width row flex-center q-gutter-sm">
                      <q-icon size="2em" name="sentiment_dissatisfied" />
                      <span>
                        No hay consecutivos reservados
                      </span>
                    </div>
                  </template>
                </q-table>
                <q-table
                  v-if="folioSelected === 'bis'"
                  title="Seleccione folio a relacionar"
                  :data="dataBis"
                  :columns="columnsBis"
                  row-key="folio"
                  separator="vertical"
                  :pagination.sync="paginationBis"
                  :loading="loadingBis"
                  @request="onRequestbis"
                  :filter="search"
                  selection="single"
                  :selected.sync="selectedToBis"
                >
                <template v-slot:top-right>
                  <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
                    <template v-slot:append>
                      <q-icon name="search" />
                    </template>
                  </q-input>
                </template>
                  <template v-slot:no-data="{ }">
                    <div class="full-width row flex-center q-gutter-sm">
                      <q-icon size="2em" name="sentiment_dissatisfied" />
                      <span>
                        No hay oficio para realizar un bis
                      </span>
                    </div>
                  </template>
                </q-table>
              </q-card-section>
            </q-card-section>
          </q-card>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="black" v-close-popup />
          <q-btn flat @click="saveFolio()" label="Aceptar" color="black" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="docDialog">
      <q-card style="width: 700px; max-width: 80vw">
        <q-card-section class="row items-center">
          <q-icon name="attach_file" color="primary" :size="'lg'" />
          <span class="q-ml-md text-h6">Archivos adjuntos</span>
          <q-space />
          <q-btn
            class="float-right"
            flat
            v-close-popup
            icon-right="close"
            label="Cerrar"
          />
        </q-card-section>
        <q-separator />
        <DocumentCard
          :affairStatusId="1"
          :numAttached="num_attached"
          v-on:sum-attached="sumAttached"
        />
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialogscheduleShipment" persistent>
      <q-card>
        <q-card-section class="bg-primary text-white row items-center q-pb-none">
          <q-avatar icon="fas fa-clock" color="primary" text-color="white" />
          <span class="text-h6">Programar Envío</span>
        </q-card-section>
        <q-card-section align="center">
          <q-form ref="form" @submit.prevent="() => {}">
          <div class="text-body1" >Por favor ingrese la fecha y hora del envío</div>
          <br>
            <q-input :rules="[val => !!val || 'Este campo es requerido']"
                      filled v-model="form.scheduled_date">
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-date v-model="form.scheduled_date" mask="YYYY-MM-DD HH:mm" first-day-of-week="0">
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Cerrar" color="primary" flat />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>

              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-time v-model="form.scheduled_date" mask="YYYY-MM-DD HH:mm" format24h>
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Cerrar" color="primary" flat />
                      </div>
                    </q-time>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </q-form>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="black" v-close-popup />
          <q-btn flat @click="scheduleShipment()" label="Aceptar" color="black" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>

import * as DataService from 'src/services/TokenService';
import * as OutputAffairService from 'src/services/OutputAffairService';
import { notifySuccess, /* notifyError, */ notifyAlert } from 'src/utils/notify';
import * as FolioService from 'src/services/FolioService'
import * as AttachedFileService from 'src/services/AttachedFileService';
import DigitalSignature from 'src/components/global/DigitalSignature';
import Autograph from 'src/components/global/AutographSignature';
import DocumentCard from 'src/components/internalAffair/partials/DocumentCard';

export default {
  components: {
    DocumentCard, DigitalSignature, Autograph
  },
  computed: {
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    folioBis() {
      return this.selectedToBis.folio
    }
  },
  data() {
    return {
      num_attached: 0,
      form: {
        scheduled_date: '',
      },
      form2: {
        token: ''
      },
      formFolio: {
        type: '',
        bisId: '',
        reservedId: '',
        folioConsecutiveId: '',
        folio: '',
        consecutive: false
      },
      docDialog: false,
      dialogscheduleShipment: false,
      folioSelectDialog: false,
      Dialogsignature: false,
      DialogsignatureAutograph: false,
      folioSelected: 'consecutive',
      typeSelectedSignature: 'autografa',
      cerFile: {
        files: []
      },
      keyFile: {
        files: []
      },
      passwordPrivateKey: '',
      rfc: '',
      isPwd: true,
      checksignKey: [],
      serial: '',
      folioStructure: '',
      consecutive: '',
      unit: '',
      selectedConsecutive: [],
      selectedToBis: [],
      dataConsecutives: [],
      dataBis: [],
      paginationConsecutive: {
        page: 1,
        rowsPerPage: 4,
        rowsNumber: ''
      },
      loadingConsecutive: false,
      paginationBis: {
        page: 1,
        rowsPerPage: 4,
        rowsNumber: ''
      },
      search: '',
      loadingBis: false,
      separator: 'vertical',
      columns: [
        {
          name: 'consecutive', align: 'center', label: 'Consecutivo', field: 'consecutive'
        },
        {
          name: 'status', align: 'center', label: 'Estatus', field: 'status'
        },
        {
          name: 'reserved_date', align: 'center', label: 'Fecha de reservación', field: 'reserved_date'
        },
      ],
      columnsBis: [
        { name: 'folio', align: 'center', label: 'Folio', field: 'folio', sortable: true },
        { name: 'date', align: 'center', label: 'Fecha', field: 'date', sortable: true },

      ],
      unitAcronym: '',
      entityAcronym: '',
      docAcronym: '',
    }
  },
  methods: {
    convertCollabora() {
      const { id } = this.$route.params;
      this.$q.loading.show();
      OutputAffairService.update({ affair_status_id: 2 }, id).then(() => {
        notifySuccess('Documento Colaborativo');
        this.$q.loading.hide();
        this.$router.push(`/collabora/${id}/edit`);
      }).catch(() => {
        this.$q.loading.hide();
        notifyAlert('No se pudo iniciar la colaboración');
      })
    },
    selectFolio() {
      this.$q.loading.show();
      const positionId = window.sessionStorage.getItem('position_id');
      const templateId = this.form2.template_id
      const docTypeId = this.form2.doc_type_id
      let iframe = document.getElementById('collabora-online-viewer');
      iframe = iframe.contentWindow || iframe.contentDocument.document || iframe.contentDocument;
      iframe.postMessage(
        JSON.stringify({
          MessageId: 'Action_Save',
          Values: {
            DontTerminateEdit: false,
            DontSaveIfUnmodified: true,
            Notify: true,
            ExtendedData: '',
          },
        }),
        '*'
      );
      FolioService.getConsecutive({ params: { position_id: positionId, template_id: templateId, doc_type_id: docTypeId } }).then((data) => {
        this.unit = data.unit_name;
        this.formFolio.folioConsecutiveId = data.folio_consecutive_id;
        this.consecutive = data.consecutive;
        this.folioStructure = data.folio_structure;
        this.unitAcronym = data.acronym
        this.entityAcronym = data.entity
        this.onRequestconsecutive({
          pagination: this.paginationConsecutive,
          filter: undefined
        });
        this.onRequestbis({
          pagination: this.paginationBis,
          filter: undefined
        });
      }).catch((err) => {
        console.log(err)
      }).finally(() => {
        this.$q.loading.hide();
        this.folioSelectDialog = true
      })
    },
    saveFolio() {
      let folio = this.folioStructure
      folio = folio.replace('AÑO', new Date().getFullYear())
      folio = folio.replace('DEPENDENCIA', this.entityAcronym)
      folio = folio.replace('UNIDAD', this.unitAcronym)
      this.formFolio.type = this.folioSelected
      if (this.folioSelected === 'consecutive') {
        folio = folio.replace('CONSECUTIVO', this.consecutive)
        this.formFolio.folio = folio
        this.formFolio.consecutive = this.consecutive
        if (this.typeSelectedSignature === 'autografa') {
          console.log('here')
          this.Dialogsignature = false
          this.DialogsignatureAutograph = true
        } else {
          this.DialogsignatureAutograph = false
          this.Dialogsignature = true
        }
      } else if (this.folioSelected === 'reserved') {
        if (this.selectedConsecutive.length === 1) {
          folio = folio.replace('CONSECUTIVO', this.selectedConsecutive[0].consecutive)
          this.formFolio.folio = folio
          this.formFolio.reservedId = this.selectedConsecutive[0].id
          this.folioSelectDialog = false
          if (this.typeSelectedSignature === 'autografa') {
            console.log('here')
            this.Dialogsignature = false
            this.DialogsignatureAutograph = true
          } else {
            this.DialogsignatureAutograph = false
            this.Dialogsignature = true
          }
        } else {
          notifyAlert('Consecutivo no seleccionado');
        }
      } else if (this.folioSelected === 'bis') {
        // console.log(this.selectedToBis);
        if (this.selectedToBis.length === 1) {
          this.formFolio.bisId = this.selectedToBis[0].id
          if (this.typeSelectedSignature === 'autografa') {
            console.log('here')
            this.Dialogsignature = false
            this.DialogsignatureAutograph = true
          } else {
            this.DialogsignatureAutograph = false
            this.Dialogsignature = true
          }
        } else {
          notifyAlert('Consecutivo no seleccionado');
        }
      }
    },
    checkCer() {
      const cerData = {
        codigo: '',
        mensaje: '',
        rfc: '',
        serial: '',
      }
      /* eslint-disable */
      PKI.SAT.FielUtil.leeCertificado(this.cerFile, (errCode, result) => {
        console.log(errCode)
        if (errCode !== 0) {
          cerData.codigo = 400;
          cerData.mensaje = PKI.SAT.FielUtil.obtenMensajeError(errCode);
          console.log(cerData.mensaje)
          return;
        }
        cerData.codigo = 200;
        cerData.rfc = result.getRFC();
        cerData.serial = result.getSerialNumberHex();
        this.rfc = cerData.rfc
        this.serial = cerData.serial
      });
    },
    signProcess() {
    },
    noFirmar() {
      const { id } = this.$route.params
      this.$q.loading.show('Firmando y enviado el documento');
      const positionId = window.sessionStorage.getItem('position_id');
      OutputAffairService.update({ affair_status_id: 3,  form_folio: { ...this.formFolio }, position_id: positionId }, id).then((response) => {
        if (response.success) {
          notifySuccess('Asunto enviado');
          this.$router.push('/outbox')
        }
      }).catch((err) => {
        console.log(err)
        notifyAlert(err.response.data.message);
        this.Dialogsignature = false
      })
      this.$q.loading.hide();
    },
    backSender() {
      const { id } = this.$route.params;
      this.$q.loading.show();
      DataService.backSender({}, id).then(() =>{
        notifySuccess();
        this.$router.push('/')
        this.$q.loading.hide();
      }).catch(() => {
        notifyAlert();
        this.$q.loading.hide();
      })
    },
    signatureType() {

    },
    onRequestconsecutive(props) {
      const { page, rowsPerPage } = props.pagination
      const positionId = window.sessionStorage.getItem('position_id');
      const docTypeId = this.form2.doc_type_id
      this.loadingConsecutive = true
      FolioService.consecutiveReserved({ params: { page, rowsPerPage, position_id: positionId, doc_type_id: docTypeId } }).then((pagination) => {
        this.dataConsecutives = pagination.data
        this.paginationConsecutive.rowsPerPage = pagination.per_page
        this.paginationConsecutive.page = pagination.current_page
        this.paginationConsecutive.rowsNumber = pagination.total
        this.loadingConsecutive = false
      }).catch((err) => {
        console.log(err)
        this.loadingConsecutive = false
      })
    },
    onRequestbis(props) {
      const { page, rowsPerPage } = props.pagination
      const { search } = this
      const positionId = window.sessionStorage.getItem('position_id');
      const docTypeId = this.form2.doc_type_id
      this.loadingBis = true
      FolioService.bis({ params: { page, rowsPerPage, search, position_id: positionId, doc_type_id: docTypeId } }).then((pagination) => {
        console.log(pagination)
        this.dataBis = pagination.data
        this.folioBisOptions = pagination.data
        this.paginationBis.rowsPerPage = pagination.per_page
        this.paginationBis.page = pagination.current_page
        this.paginationBis.rowsNumber = pagination.total
        this.loadingBis = false
      }).catch((err) => {
        console.log(err)
        this.loadingBis = false
      });
    },
    sumAttached(n) {
      this.num_attached = n;
    },
  },
  beforeDestroy () {
    if (this.docModified) {
      const wn = document.getElementById('collabora-online-viewer').contentWindow;
      const message = JSON.stringify({
        MessageId: 'Action_Save',
        SendTime: Date.now(),
        Values: {
          DontTerminateEdit: true,
          DontSaveIfUnmodified: true,
          Notify: false,
          ExtendedData: '',
        }
      })
      wn.postMessage(message, '*')
    }
  },
  created() {
    const { id } = this.$route.params
    this.$q.loading.show();
    DataService.getTokenOutputAffair(id).then((data) => {
      this.form2 = { ...data };
      document.getElementById('access-token').value = this.form2.token.token
      const formElem = document.getElementById('collabora-submit-form');
      formElem.action = `${data.url}WOPISrc=${process.env.COLLAB_BASE_URL}/api/wopi/files/${this.form2.token.file_id}`
      formElem.submit();
      window.addEventListener("message", (event) => {
          try {
            let msg = JSON.parse(event.data);
            console.log("ReceiveMessage: " + event);
            if (!msg) {
              return;
            }
            if (msg.MessageId == "App_LoadingStatus") {
              if (msg.Values) {
                if (msg.Values.Status == "Document_Loaded") {
                  console.log(
                    "Tell the wopi client that we are ready to receive messages"
                  );
                  let iframe = document.getElementById(
                    "collabora-online-viewer"
                  );
                  iframe =
                    iframe.contentWindow ||
                    iframe.contentDocument.document ||
                    iframe.contentDocument;
                  iframe.postMessage(
                    JSON.stringify({ MessageId: "Host_PostmessageReady" }),
                    "*"
                  );
                }
              }
            }
            if (msg.MessageId === "Doc_ModifiedStatus") {
              this.docModified = msg.Values.Modified;
            }
            if (msg.MessageId === "Views_List") {
              console.log(this.firstcheck);
              if (msg.Values.length > 1 && this.firstcheck) {
                let iframe = document.getElementById("collabora-online-viewer");
                iframe = iframe.contentWindow || iframe.contentDocument.document || iframe.contentDocument;
                iframe.postMessage(
                  JSON.stringify({
                    MessageId: "Action_Close",
                  }),
                  "*"
                );
                this.saveDialog = true;
              }
              this.firstcheck = false;
            }
          } catch (err) {
            console.log(err.message);
          }
        });
      this.$q.loading.hide();
    }).catch(() => {
      this.$q.loading.hide();
    });
    AttachedFileService.fileAnnexes(id)
      .then((data) => {
        this.num_attached = data.cant;
        console.log(data);
      })
      .catch((err) => {
        console.log(err);
      });
  },
}
</script>
