<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-icon size="sm" name="mdi-file-plus-outline"/>
          <span class="q-ml-md text-h6">Respuesta a - {{ subject }}</span>
        </div>
      </q-card-section>
    </q-card>
    <q-card>
      <div class="q-pa-sm">
        <q-card-section>
          <q-expansion-item
            expand-separator
            icon="settings_input_antenna"
            :label="itemOne"
            class="text-h6"
            caption="API Central"
          >
            <SendTo
              :toPeople="form.to"
              :ccpPeople="form.ccp"
              :reply="true"
            />
            <br>
          </q-expansion-item>
          <q-expansion-item
            expand-separator
            icon="print"
            :label="itemTwo"
            class="text-h6"
            caption="Oficialia de partes"
          >
            <q-tabs
              v-model="tab"
              dense
              active-color="primary"
              indicator-color="primary"
              align="justify"
              narrow-indicator
            >
              <q-tab name="to" label="Enviar a" />
              <q-tab name="ccp" label="Con copia" />
            </q-tabs>

            <q-separator />

            <q-tab-panels v-model="tab" animated>
              <q-tab-panel name="to">
                <q-form ref="formReceiver" @submit.prevent="() => {}">
                  <div class="row q-col-gutter-x-sm q-col-gutter-y-lg">
                    <div class="col-12 q-mt-md">
                      <q-select id="RemType" outlined v-model="formExternalSender.sender_type_id"
                        :options="catalogs.cat_sender_types"
                        option-value="id"
                        option-label="name"
                        emit-value
                        map-options label="Seleccione tipo de Destinatario"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      />
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-11" v-if="formExternalSender.sender_type_id == 2">
                      <q-select
                        outlined
                        v-model="formExternalSender.external_participant_id"
                        :options="catalogs.external_people"
                        option-value="id"
                        option-label="fullname"
                        label="Personas"
                        map-options
                        emit-value
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              Sin Resultados
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="col-1" v-if="formExternalSender.sender_type_id == 2">
                      <q-btn color="primary" icon="add" @click="newExternalPeople = true" >
                        <q-tooltip>Registrar Persona</q-tooltip>
                      </q-btn>
                    </div>
                    <div class="col-11" v-if="formExternalSender.sender_type_id == 3">
                      <q-select outlined v-model="formExternalSender.sender_entity_id"
                        use-input
                        input-debounce="0"
                        style="width 250px"
                        @filter="filterFn"
                        :options="optionsEntities"
                        option-value="id"
                        option-label="name"
                        label="Seleccione Dependencia"
                        @input="filterUnits"
                        emit-value
                        map-options
                        @clear="() => {(UnitsOptions = []), (instruction.unit_id = null);}"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']" >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              No hay resultados
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="col-1" v-if="formExternalSender.sender_type_id == 3">
                      <q-btn color="primary" icon="add" @click="newDependency = true" >
                        <q-tooltip>Registrar Dependencia</q-tooltip>
                      </q-btn>
                    </div>
                    <div class="col-11" v-if="formExternalSender.sender_type_id == 3">
                      <q-select outlined v-model="formExternalSender.sender_unit_id"
                        :loading="loadingUnits"
                        option-value="id"
                        option-label="name"
                        :options="UnitsOptions"
                        label="Unidad"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                        />
                    </div>
                    <div class="col-1" v-if="formExternalSender.sender_type_id == 3">
                      <q-btn color="primary" icon="add" @click="newUnit = true" >
                        <q-tooltip>Registrar Unidad</q-tooltip>
                      </q-btn>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6" v-if="formExternalSender.sender_type_id == 3">
                        <q-input v-model="formExternalSender.sender_responsable" outlined
                          :rules="[(val) => !!val || 'Este campo es obligatorio']"
                          label="Persona" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6" v-if="formExternalSender.sender_type_id == 3">
                        <q-input v-model="formExternalSender.sender_position" outlined
                          :rules="[(val) => !!val || 'Este campo es obligatorio']"
                          label="Puesto" />
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-11" v-if="formExternalSender.sender_type_id == 1">
                      <q-select id="moralPerson"
                        outlined
                        v-model="formExternalSender.external_participant_id"
                        label="Empresas"
                        :options="catalogs.external_companies"
                        option-value="id"
                        option-label="bussiness_name"
                        map-options
                        emit-value
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              Sin Resultados
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="col-1"  v-if="formExternalSender.sender_type_id == 1">
                      <q-btn color="primary" icon="add" @click="newExternalCompany = true" >
                        <q-tooltip>Registrar Empresa</q-tooltip>
                      </q-btn>
                    </div>
                  </div>
                </q-form>
                <q-btn class="q-mt-md" @click="addToprint()" flat label="Agregar" color="primary" v-if="formExternalSender.sender_type_id"/>
                <q-list bordered padding class="q-mt-md">
                  <q-item-label header>Para:</q-item-label>
                  <q-item v-for="receiver in form.to_print" :key="receiver.id">
                    <q-item-section avatar v-if="receiver.sender_type_id === 1">
                      <q-icon color="primary" text-color="white" name="business" />
                    </q-item-section>
                    <q-item-section avatar v-if="receiver.sender_type_id === 2">
                      <q-icon color="primary" text-color="white" name="account_circle" />
                    </q-item-section>
                    <q-item-section avatar v-if="receiver.sender_type_id === 3">
                      <q-icon color="primary" text-color="white" name="maps_home_work" />
                    </q-item-section>
                    <q-item-section v-if="receiver.sender_type_id === 1">
                      <q-item-label>{{ catalogs.external_companies.find(x => x.id === receiver.external_participant_id).name }}</q-item-label>
                      <q-item-label caption>{{ catalogs.external_companies.find(x => x.id === receiver.external_participant_id).bussiness_name }}</q-item-label>
                    </q-item-section>
                    <q-item-section v-if="receiver.sender_type_id === 2">
                      <q-item-label>{{ catalogs.external_people.find(x => x.id === receiver.external_participant_id).fullname }}</q-item-label>
                    </q-item-section>
                    <q-item-section v-if="receiver.sender_type_id === 3">
                      <q-item-label>{{ receiver.sender_responsable }} / {{ receiver.sender_position }}</q-item-label>
                      <q-item-label caption>{{ catalogs.external_entities.find(x => x.id === receiver.sender_entity_id).name }} / {{ receiver.sender_unit_id.name }}</q-item-label>
                    </q-item-section>
                    <q-item-section side top>
                      <q-item-label caption>{{ catalogs.cat_sender_types.find(x => x.id === receiver.sender_type_id).name }}</q-item-label>
                    </q-item-section>
                    <q-btn round dense flat icon="close" @click="Delete(receiver.id)"/>
                  </q-item>
                </q-list>
              </q-tab-panel>
            </q-tab-panels>
            <q-tab-panels v-model="tab">
              <q-tab-panel name="ccp">
                <q-form ref="formReceiverccp" @submit.prevent="() => {}">
                  <div class="row q-col-gutter-x-sm q-col-gutter-y-lg">
                    <div class="col-12 q-mt-md">
                      <q-select id="RemType" outlined v-model="formExternalSenderccp.sender_type_id"
                        :options="catalogs.cat_sender_types"
                        option-value="id"
                        option-label="name"
                        emit-value
                        map-options label="Seleccione tipo de Destinatario"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      />
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-11" v-if="formExternalSenderccp.sender_type_id == 2">
                      <q-select
                        outlined
                        v-model="formExternalSenderccp.external_participant_id"
                        :options="catalogs.external_people"
                        option-value="id"
                        option-label="fullname"
                        label="Personas"
                        map-options
                        emit-value
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              Sin Resultados
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="col-1" v-if="formExternalSenderccp.sender_type_id == 2">
                      <q-btn color="primary" icon="add" @click="newExternalPeople = true" >
                        <q-tooltip>Registrar Persona</q-tooltip>
                      </q-btn>
                    </div>
                    <div class="col-11" v-if="formExternalSenderccp.sender_type_id == 3">
                      <q-select outlined v-model="formExternalSenderccp.sender_entity_id"
                        use-input
                        input-debounce="0"
                        style="width 250px"
                        @filter="filterFn"
                        :options="optionsEntities"
                        option-value="id"
                        option-label="name"
                        label="Seleccione Dependencia"
                        @input="filterUnits"
                        emit-value
                        map-options
                        @clear="() => {(UnitsOptions = []), (instruction.unit_id = null);}"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']" >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              No hay resultados
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="col-1" v-if="formExternalSenderccp.sender_type_id == 3">
                      <q-btn color="primary" icon="add" @click="newDependency = true" >
                        <q-tooltip>Registrar Dependencia</q-tooltip>
                      </q-btn>
                    </div>
                    <div class="col-11" v-if="formExternalSenderccp.sender_type_id == 3">
                      <q-select outlined v-model="formExternalSenderccp.sender_unit_id"
                        :loading="loadingUnits"
                        option-value="id"
                        option-label="name"
                        :options="UnitsOptions"
                        label="Unidad"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                        />
                    </div>
                    <div class="col-1" v-if="formExternalSenderccp.sender_type_id == 3">
                      <q-btn color="primary" icon="add" @click="newUnit = true" >
                        <q-tooltip>Registrar Unidad</q-tooltip>
                      </q-btn>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6" v-if="formExternalSenderccp.sender_type_id == 3">
                        <q-input v-model="formExternalSenderccp.sender_responsable" outlined
                          :rules="[(val) => !!val || 'Este campo es obligatorio']"
                          label="Persona" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6" v-if="formExternalSenderccp.sender_type_id == 3">
                        <q-input v-model="formExternalSenderccp.sender_position" outlined
                          :rules="[(val) => !!val || 'Este campo es obligatorio']"
                          label="Puesto" />
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-11" v-if="formExternalSenderccp.sender_type_id == 1">
                      <q-select id="moralPerson"
                        outlined
                        v-model="formExternalSenderccp.external_participant_id"
                        label="Empresas"
                        :options="catalogs.external_companies"
                        option-value="id"
                        option-label="bussiness_name"
                        map-options
                        emit-value
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      >
                        <template v-slot:no-option>
                          <q-item>
                            <q-item-section class="text-grey">
                              Sin Resultados
                            </q-item-section>
                          </q-item>
                        </template>
                      </q-select>
                    </div>
                    <div class="col-1"  v-if="formExternalSenderccp.sender_type_id == 1">
                      <q-btn color="primary" icon="add" @click="newExternalCompany = true" >
                        <q-tooltip>Registrar Empresa</q-tooltip>
                      </q-btn>
                    </div>
                  </div>
                </q-form>
                <q-btn class="q-mt-md" @click="addToccpprint()" flat label="Agregar" color="primary" v-if="formExternalSenderccp.sender_type_id"/>
                <q-list bordered padding class="q-mt-md">
                  <q-item-label header>Ccp:</q-item-label>
                  <q-item v-for="receiver in form.ccp_print" :key="receiver.id">
                    <q-item-section avatar v-if="receiver.sender_type_id === 1">
                      <q-icon color="primary" text-color="white" name="business" />
                    </q-item-section>
                    <q-item-section avatar v-if="receiver.sender_type_id === 2">
                      <q-icon color="primary" text-color="white" name="account_circle" />
                    </q-item-section>
                    <q-item-section avatar v-if="receiver.sender_type_id === 3">
                      <q-icon color="primary" text-color="white" name="maps_home_work" />
                    </q-item-section>
                    <q-item-section v-if="receiver.sender_type_id === 1">
                      <q-item-label>{{ catalogs.external_companies.find(x => x.id === receiver.external_participant_id).name }}</q-item-label>
                      <q-item-label caption>{{ catalogs.external_companies.find(x => x.id === receiver.external_participant_id).bussiness_name }}</q-item-label>
                    </q-item-section>
                    <q-item-section v-if="receiver.sender_type_id === 2">
                      <q-item-label>{{ catalogs.external_people.find(x => x.id === receiver.external_participant_id).fullname }}</q-item-label>
                    </q-item-section>
                    <q-item-section v-if="receiver.sender_type_id === 3">
                      <q-item-label>{{ receiver.sender_responsable }} / {{ receiver.sender_position }}</q-item-label>
                      <q-item-label caption>{{ catalogs.external_entities.find(x => x.id === receiver.sender_entity_id).name }} / {{ receiver.sender_unit_id.name }}</q-item-label>
                    </q-item-section>
                    <q-item-section side top>
                      <q-item-label caption>{{ catalogs.cat_sender_types.find(x => x.id === receiver.sender_type_id).name }}</q-item-label>
                    </q-item-section>
                    <q-btn round dense flat icon="close" @click="DeleteCcp(receiver.id)"/>
                  </q-item>
                </q-list>
              </q-tab-panel>
            </q-tab-panels>
          </q-expansion-item>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <q-form ref="form" @submit.prevent="() => {}">
            <q-card-section>
              <div class="row q-col-gutter-md">
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <q-select outlined v-model="form.cat_doc_types_id"
                    :options="catalogs.cat_external_doc_types"
                    option-value="id"
                    option-label="name"
                    emit-value
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                    map-options label="Tipo de documento"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <q-select outlined v-model="form.cat_priorities_id"
                    :options="catalogs.cat_external_priorities"
                    option-value="id"
                    option-label="name"
                    emit-value
                    :rules="[(val) => !!val || 'Este campo es obligatorio']"
                    map-options label="Prioridad"
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <q-input outlined v-model="form.document_date" mask="date" :rules="['date']" label="Fecha del Oficio">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date v-model="form.document_date" first-day-of-week="0">
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Cerrar" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                  <q-input outlined v-model="form.commitment_date" mask="date" :rules="['date']" label="Fecha Compromiso">
                    <template v-slot:append>
                      <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                          <q-date v-model="form.commitment_date" first-day-of-week="0">
                            <div class="row items-center justify-end">
                              <q-btn v-close-popup label="Cerrar" color="primary" flat />
                            </div>
                          </q-date>
                        </q-popup-proxy>
                      </q-icon>
                    </template>
                  </q-input>
                </div>
                <div class="col-12">
                  <q-select
                    label="Palabras clave"
                    outlined
                    v-model="form.key_words"
                    use-input
                    use-chips
                    multiple
                    hide-dropdown-icon
                    input-debounce="0"
                    new-value-mode="add-unique"
                  />
                </div>
                <div class="col-12">
                  <q-input v-model="form.subject" square outlined :rules="[(val) => !!val || 'Este campo es obligatorio']" label="Asunto"/>
                </div>
                <div class="col-12">
                  <q-input type="textarea" v-model="form.observation" square outlined :rules="[(val) => !!val || 'Este campo es obligatorio']" label="Observación"/>
                </div>
              </div>
            </q-card-section>
          </q-form>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn @click="sendAffair()" flat label="Siguiente" color="primary" />
        </q-card-actions>
      </div>
    </q-card>
  </div>
</template>

<script>
const today = new Date();
import { notifyError } from 'src/utils/notify';
import * as OutputAffairService from 'src/services/OutputAffairService';
import * as InputDigitalAffairService from 'src/services/InputDigitalAffairService';
import SendTo from 'src/components/outputAffair/partials/SendTo.vue';

export default {
  components: { SendTo },
  data() {
    return {
      form: {
        cat_doc_types_id: '',
        cat_priorities_id: '',
        document_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        commitment_date: `${today.getFullYear()}/${String(today.getMonth() + 1).padStart(2, '0')}/${String(today.getDate()).padStart(2, '0')}`,
        key_words: [],
        subject: '',
        observation: '',
        to: [],
        ccp: [],
        to_print: [],
        ccp_print: [],
        is_reply: true,
      },
      day: today.getDate(),
      month: today.getMonth(),
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      formcompany: {
        name: '',
        bussiness_name: '',
        rfc: '',
        email: '',
        phone: '',
        address: '',
      },
      formdependency: {
        name: '',
        acronym: '',
      },
      formUnit: {
        external_entity_id: '',
        name: '',
        acronym: '',
      },
      formexternalpeople: {
        name: '',
        last_name: '',
        second_lastname: '',
        email: '',
        phone: '',
      },
      formExternalSenderccp: {},
      formExternalSender: {},
      optionsEntities: [],
      UnitsOptions: [],
      InitialUnitsOptions: [],
      loadingUnits: false,
      newExternalCompany: false,
      newExternalPeople: false,
      newDependency: false,
      newUnit: false,
      idReceiver: 1,
      tab: 'to',
      subject: '',
    }
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    /* eslint-disable */
    itemOne: function() {
      return `Destinatarios Digitales: ${this.form.to.length + this.form.ccp.length}`
    },
    itemTwo: function() {
      return `Destinatarios físicos: ${this.form.to_print.length}`
    }
  },
  created() {
    const { id } = this.$route.params
    const positionId = window.sessionStorage.getItem('position_id');
    const catalogsConfiguration = {
      cat_external_doc_types: true,
      cat_external_priorities: true,
      cat_external_entities: true,
      cat_sender_types: true,
      external_people: true,
      external_companies: true,
      external_entities: true,
      external_units: true,
      position_id: positionId,
    };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
    InputDigitalAffairService.getReplydata({ params: { position_id: positionId } }, id).then((data) => {
      this.form.to.push(data.to_reply);
      this.subject = data.subject
      this.form.subject = data.subject
      this.structure_id = data.participation.structure_id
      this.$q.loading.hide();
    }).catch(() => {
      this.$q.loading.hide();
      notifyError();
    })
  },
  methods: {
    sendAffair() {
      const { id } = this.$route.params
      const receiverCheck = this.form.to.length > 0
      if (!receiverCheck) {
        notifyError('Sin destinatario')
      }
      this.$refs.form.validate().then((valid) => {
        if (valid && receiverCheck) {
          const form = { ...this.form,
            is_reply: true,
            structure_id: this.structure_id,
            origin_affair_id: id,
            position_id: window.sessionStorage.getItem('position_id')
          };
          this.$q.loading.show();
          OutputAffairService.store(form).then((data) => {
            this.$router.push(`/output-affair/${data.affair.id}/office`);
            this.$q.loading.hide();
          }).catch(() => {
            notifyError()
            this.$q.loading.hide();
          })
        }
      });
    },
  },
}

</script>

<style lang="sass" scoped>
.document-card
  width: 100%
  max-width: 130px
</style>
