<template>
    <div>
     <q-card>
         <q-card-section>
            <div class="text-h6">
              <q-btn
                flat
                round
                color="primary"
                icon="fas fa-arrow-left"
                @click="$router.back()"
              >
                <q-tooltip>Volver</q-tooltip>
              </q-btn>
                <q-icon size="sm" name="fas fa-cogs"/> Configuración Dependencia
            </div>
         </q-card-section>
     </q-card>
     <div class="q-mt-md">
         <q-form ref="settingsForm" @submit.prevent="() => {}">
          <q-card style="width: 100%">
            <q-item>
              <q-item-section avatar>
                <q-icon size="md" name="far fa-building"/>
              </q-item-section>
              <q-item-section>
                <q-item-label>Editar dependencia</q-item-label>
                <q-item-label caption>
                  Ingrese los siguientes valores
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-separator/>
              <q-card-section>
                <div class="row q-col-gutter-sm">
                  <div class="col-xs-12 col-sm-8 col-md-8 text-center">
                    <q-input v-model="form.name" square outlined label="Nombre" maxlength="155" />
                  </div>
                  <div class="col-xs-12 col-sm-8 col-md-4 text-center">
                    <q-input square outlined v-model="form.acronym" label="Acrónimo" maxlength="10"/>
                  </div>
                </div>
              </q-card-section>
             <q-item>
              <q-item-section avatar>
                <q-icon size="md" name="far fa-images"/>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>Logotipo del sistema</q-item-label>
                      <q-item-label caption>Modifique el logotipo del sistema</q-item-label>
                    </q-item-section>
            </q-item>
            <q-separator />
            <div class="q-pa-md">
              <div class="row">
                <div class="col-lg-12">
                        <q-avatar id="avatar" size="100px">
                              <q-btn @click="showUploadImageDialog = true" round size="sm" color="secondary" class="avatar-btn absolute all-pointer-events cursor-pointer"  icon="fas fa-pen"  style="top: -10px; left: 0px;z-index:9" v-if="canEdit"/>
                              <q-img :src="`${this.$axios.defaults.baseURL}/api/upImage/${1}`" spinner-color="white"/>
                              <!-- <q-img v-if="!config.file_id" src="~assets/img/noImage.jpg" style="width:80px;height:80px;"/> -->
                          </q-avatar>
                    </div>
              </div>
            </div>
            <q-card-actions align="right">
              <q-btn flat @click="$router.push('/')" label="Cancelar" color="primary" />
              <q-btn v-if="can('dependency-edit')" flat @click="update()" label="Guardar" color="primary"/>
            </q-card-actions>
          </q-card>
         </q-form>
     </div>
      <q-dialog v-model="showUploadImageDialog">
        <UploadImage v-on:uploaded="(file) => setImage(file)" module="entity" fileType="img" />
      </q-dialog>
    </div>
</template>

<script>
import UploadImage from 'src/components/global/UploadImage'
import * as EntityService from 'src/services/admin/catalogs/EntityService';
import * as DataService from 'src/services/admin/config/ConfigService'
import { notifyError, notifySuccess } from 'src/utils/notify';
import { cleanStr } from 'boot/customFunctions';

export default {
  components: { UploadImage },
  data() {
    return {
      form: {
        name: '',
        acronym: '',
      },
      showUploadImageDialog: false,
    }
  },
  computed: {
    config: {
      get() {
        return this.$store.state.config;
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      }
    },
    canEdit: {
      get() {
        return this.canShow('settings-edit');
      }
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    nameD() {
      return this.form.name
    },
    acronymD() {
      return this.form.acronym
    }
  },
  mounted() {
    this.loadConfiguration()
  },
  created() {
    const catalogsConfiguration = { units: true, cat_clasifications: true };
    const { id } = 1;
    this.$q.loading.show();
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      EntityService.edit(id).then((data) => {
        this.form = data;
        data.units.forEach((obj) => {
          this.form.unit_id.push(obj.unit.id);
        });
        this.$q.loading.hide();
      }).catch(() => {
        this.$q.loading.hide();
      })
      this.$q.loading.hide();
    });
  },
  watch: {
    nameD(cad) {
      this.form.name = cleanStr(cad)
    },
    acronymD(cad) {
      this.form.acronym = cleanStr(cad)
    }
  },
  methods: {
    update() {
      const form = { ...this.form };
      const id = 1;
      EntityService.update(form, id).then(() => {
        notifySuccess('Se ha actualizado la entidad correctamente');
        this.$router.push('/admininterface/catalogs')
      }).catch((err) => {
        notifyError(err)
      })
    },
    setImage(file) {
      this.isShowDialogFile = false;
      this.config.file_id = file.id
    },
    loadConfiguration() {
      DataService.edit().then((response) => {
        this.config = response
      })
    },
  },
}
</script>
