<template>
  <div>
    <q-card>
      <q-card-section align="center">
        <div class="text-h6">
          <q-icon
            class="q-ml-none"
            right
            name="fas fa-hand-point-up"
            style="font-size: 20px"
          />
          Reservar folios: {{ unit_name }}
        </div>
      </q-card-section>
    </q-card>
    <br />
    <q-card>
      <div class="text-h5 row items-center justify-center">
        Número de folio actual: {{ this.consecutive }}
      </div>
      <br />
      <q-form ref="form" @submit.prevent="() => {}">
        <div class="row q-col-gutter-sm items-center justify-center">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <q-select
              label="Tipo de documento"
              outlined
              map-options
              emit-value
              v-model="cat_doc_types_id"
              option-value="id"
              option-label="name"
              :options="catalogs.cat_doc_types"
              :rules="[$rules.required($i18n.t('requiredInput'))]"
              @input="getConsecutive"
            />
          </div>
        </div>
        <br>
        <div class="row q-col-gutter-sm items-center justify-center">
          <div class="col-xs-12 col-sm-8 col-md-2 text-subtitle1">
            Número de folio inicial:
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <q-input
              v-model="initialConsecutive"
              type="number"
              square
              outlined
              min="1"
              style="max-width: 200px"
              :rules="[(val) => val > 0 || 'Solo números mayores a 1']"
            />
          </div>
          <div class="col-xs-12 col-sm-8 col-md-2 text-subtitle1">
            Número de folio final:
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
            <q-input
              v-model="finalConsecutive"
              type="number"
              square
              outlined
              style="max-width: 200px"
              min="1"
              :rules="[(val) => val > 0 || 'Solo números mayores a 1']"
            />
          </div>
        </div>
      </q-form>
      <div class="row justify-center">
        <div>
          <q-btn
            class="full-width glossy"
            label="Reservar"
            color="primary"
            @click="DialogConfirmReserve = true"
            :disabled="isDisabled"
          >
          </q-btn>
        </div>
      </div>
      <br />
    </q-card>
    <br />
    <q-separator />
    <q-card>
      <q-table
        :data="data"
        :columns="columns"
        separator="vertical"
        :pagination.sync="pagination"
        :loading="loading"
        @request="onRequest"
        :filter="search"
      >
        <template v-slot:top-right>
          <q-btn
            flat
            round
            color="primary"
            icon="refresh"
            @click="
              onRequest({
                pagination: pagination,
                filter: undefined,
              })
            "
          />
        </template>

        <template v-slot:top-left>
          <q-input
            borderless
            dense
            debounce="400"
            v-model="search"
            placeholder="Buscar"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="consecutive" :props="props">
              {{ props.row.consecutive ? props.row.consecutive : 'N/A ' }}
            </q-td>
            <q-td key="status" :props="props">
              {{ props.row.status }}
            </q-td>
            <q-td key="reserved_date" :props="props">
              {{ props.row.reserved_date }}
            </q-td>
            <q-td key="actions" :props="props">
              <q-btn-group>
                <q-btn
                  v-if="props.row.status === 'Cancelado'"
                  round
                  size="sm"
                  @click="restore(props.row.consecutive)"
                  color="green"
                  icon="fas fa-trash-restore"
                >
                  <q-tooltip>Reactivar</q-tooltip>
                </q-btn>
                <q-btn
                  v-if="props.row.status === 'Sin utilizar'"
                  round
                  size="sm"
                  @click="deleteConsecutive(props.row.consecutive)"
                  color="negative"
                  icon="fas fa-trash"
                >
                  <q-tooltip>Cancelar</q-tooltip>
                </q-btn>
              </q-btn-group>
            </q-td>
          </q-tr>
        </template>
        <template v-slot:no-data="{}">
          <div class="full-width row flex-center q-gutter-sm">
            <q-icon size="2em" name="sentiment_dissatisfied" />
            <span> No se encontraron resultados </span>
          </div>
        </template>
      </q-table>
    </q-card>
    <q-dialog v-model="DialogConfirmReserve">
      <q-card>
        <q-card-section class="row items-center">
          <template>
            <div>
              <div class="text-h6">Reservación de folios</div>
              <p></p>
              <p>¿Estás seguro de que deseas reservar los siguientes folios?</p>
              <p>{{ this.initialConsecutive }} a {{ this.finalConsecutive }}</p>
            </div>
          </template>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn
            @click="reserve(), (DialogConfirmReserve = false)"
            label="Aceptar"
            color="green"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { notifyError, notifySuccess, notifyAlert } from 'src/utils/notify';
import * as FolioService from 'src/services/FolioService';

export default {
  components: {},
  created() {
    const catalogsConfiguration = { units: true, cat_doc_types: true };
    this.$q.loading.show();
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      this.$q.loading.hide();
    });
  },
  /* mounted() {
    const positionId = window.sessionStorage.getItem('position_id');
    FolioService.getConsecutive({ params: { position_id: positionId } })
      .then((data) => {
        this.temp = data;
        this.folioConsecutiveId = data.folio_consecutive_id;
        this.consecutive = data.consecutive;
        this.initialConsecutive = data.consecutive;
        this.finalConsecutive = data.consecutive;
        this.unit_name = data.unit_name;
      })
      .catch((err) => {
        console.log(err);
      });
    this.onRequest({
      pagination: this.pagination,
      filter: undefined,
    });
  }, */
  data() {
    return {
      data: [],
      temp: [],
      loading: false,
      DialogConfirmReserve: false,
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: '',
      },
      search: '',
      separator: 'vertical',
      columns: [
        {
          name: 'consecutive',
          align: 'center',
          label: 'Consecutivo',
          field: 'consecutive',
        },
        {
          name: 'status',
          align: 'center',
          label: 'Estatus',
          field: 'status',
        },
        {
          name: 'reserved_date',
          align: 'center',
          label: 'Fecha de reservación',
          field: 'reserved_date',
        },
      ],
      number: '',
      folioConsecutiveId: '',
      consecutive: '',
      initialConsecutive: '',
      finalConsecutive: '',
      storeResponse: '',
      unit_name: '',
      isDisabled: false,
      cat_doc_types_id: '',
    };
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    canEdit: {
      get() {
        return this.canShow('catalogs-edit');
      },
    },
    canView: {
      get() {
        return this.canShow('catalogs-view');
      },
    },
    canDelete: {
      get() {
        return this.canShow('catalogs-delete');
      },
    },
  },
  methods: {
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination;
      const { search } = this;
      const positionId = window.sessionStorage.getItem('position_id');
      this.loading = true;
      FolioService.getReserve({
        params: { page, rowsPerPage, search, position_id: positionId, doc_type_id: this.cat_doc_types_id },
      })
        .then((pagination) => {
          this.data = pagination.data;
          this.pagination.rowsPerPage = pagination.per_page;
          this.pagination.page = pagination.current_page;
          this.pagination.rowsNumber = pagination.total;
          this.loading = false;
        })
        .catch((err) => {
          console.log(err);
          this.loading = false;
        });
    },
    getConsecutive(docTypeId) {
      const positionId = window.sessionStorage.getItem('position_id');
      FolioService.getConsecutive({ params: { position_id: positionId, doc_type_id: docTypeId } })
        .then((data) => {
          this.temp = data;
          this.folioConsecutiveId = data.folio_consecutive_id;
          this.consecutive = data.consecutive;
          this.initialConsecutive = data.consecutive;
          this.finalConsecutive = data.consecutive;
          this.unit_name = data.unit_name;
        })
        .catch((err) => {
          console.log(err);
        });
      this.onRequest({
        pagination: this.pagination,
        filter: undefined,
      });
    },
    reserve() {
      this.$q.loading.show();
      this.isDisabled = true;
      const positionId = window.sessionStorage.getItem('position_id');
      this.$refs.form.validate().then((valid) => {
        if (valid) {
          if (parseInt(this.finalConsecutive, 10) >= parseInt(this.initialConsecutive, 10) && parseInt(this.initialConsecutive, 10) >= parseInt(this.consecutive, 10)) {
            FolioService.reserve({
              folioConsecutiveId: this.folioConsecutiveId,
              initialConsecutive: this.initialConsecutive,
              finalConsecutive: this.finalConsecutive,
              position_id: positionId,
              doc_type_id: this.cat_doc_types_id
            })
              .then((data) => {
                this.storeResponse = data;
                this.consecutive = data.new_consecutive;
                this.initialConsecutive = data.new_consecutive;
                this.finalConsecutive = data.new_consecutive;
                if (this.storeResponse.message === 'valor duplicado') {
                  notifyAlert('Números consectivos no disponibles');
                  this.initialConsecutive = this.consecutive;
                  this.finalConsecutive = this.consecutive;
                  FolioService.getConsecutive({
                    params: { position_id: positionId, doc_type_id: this.cat_doc_types_id },
                  })
                    .then((dataI) => {
                      this.temp = data;
                      this.folioConsecutiveId = dataI.folio_consecutive_id;
                      this.consecutive = dataI.consecutive;
                      this.initialConsecutive = dataI.consecutive;
                      this.finalConsecutive = dataI.consecutive;
                      this.unit_name = dataI.unit_name;
                    })
                    .catch((err) => {
                      console.log(err);
                    });
                  this.onRequest({
                    pagination: this.pagination,
                    filter: undefined,
                  });
                } else {
                  notifySuccess('Consecutivos reservados correctamente');
                  this.onRequest({
                    pagination: this.pagination,
                    filter: undefined,
                  });
                }
              })
              .catch((err) => {
                notifyError(err);
              });
          } else if (this.initialConsecutive < this.consecutive) {
            notifyAlert(
              'El consecutivo inicial debe ser mayor o igual al número de folio actual'
            );
          } else if (this.finalConsecutive < this.initialConsecutive) {
            notifyAlert(
              'El consecutivo final debe ser mayor o igual al consecutivo inicial'
            );
          } else {
            notifyAlert('No se pueden reservar los consecutivos correctamente');
          }
          setTimeout((this.isDisabled = false), 10000);
        } else {
          notifyAlert('Ingresa número valido');
          setTimeout((this.isDisabled = false), 10000);
        }
        this.initialConsecutive = this.consecutive;
        this.finalConsecutive = this.consecutive;
        this.$q.loading.hide();
      });
    },
    deleteConsecutive(consecutive) {
      FolioService.update(consecutive)
        .then(() => {
          this.confirm = false;
          this.onRequest({
            pagination: this.pagination,
            filter: undefined,
          });
          notifySuccess('Cancelación de reservación exitosa');
        })
        .catch((err) => {
          this.confirm = false;
          notifyError(err);
        })
        .finally(() => {
          this.$q.loading.hide();
        });
    },
    restore(consecutive) {
      FolioService.update(consecutive)
        .then(() => {
          this.confirm = false;
          this.onRequest({
            pagination: this.pagination,
            filter: undefined,
          });
          notifySuccess('Reactivación exitosa de consecutivo cancelado');
        })
        .catch((err) => {
          this.confirm = false;
          notifyError(err);
        })
        .finally(() => {
          this.$q.loading.hide();
        });
    },
  },
};
</script>
