<template>
  <section>
    <div class="text-h6">
      <q-separator spaced/>
      <q-icon size="sm" color="primary" name="far fa-comments"/> Comentarios
    </div>
    <br>
    <div class=" col-xs-12 col-sm-6 col-md-3">
      <q-input rounded filled clearable bottom-slots v-model="writedComment" label="Comentarios">
        <template v-slot:before>
          <q-avatar>
            <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
                        <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
          </q-avatar>
        </template>
        <template v-slot:after>
          <q-btn v-if="writedComment !== ''" round dense flat @click="addComment()" icon="send" />
        </template>
      </q-input>
    </div>
    <div class="q-mt-sm q-mb-xs top-right">
      <q-card-section>
        <q-list>
          <q-item
            clickable
            v-ripple
            v-for="item in items"
            :key="item.order"
            :item="item"
          >
            <q-item-section>
              <q-item-label>
                <div class="q-mt-sm q-mb-xs text-subtitle2">
                  {{ user.name }} {{ user.last_name }} {{ user.second_lastname }} / {{ user.position }}
                </div>
              </q-item-label>
              <div class="q-mt-sm q-mb-xs text-subtitle1">
                <q-chat-message
                  :text="[item.order]"
                  avatar="~assets/img/user.png"
                  text-color="white"
                  bg-color="secondary"
                />
              </div>
              <q-item-label caption>
                Enviado: {{ day }}/{{ month }}/{{ year }}
                a las: {{ hour }}:{{ minutes }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
    </div>
  </section>
</template>

<script>
const today = new Date();

export default {
  data() {
    return {
      comment: '',
      writedComment: '',
      day: today.getDate(),
      month: today.getMonth() + 1,
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      seconds: today.getSeconds(),
      items: [],
      itemId: 0,
      itemElement: '',
    }
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    user: {
      get() {
        return this.$store.state.user.information;
        // return this.$store.state.user.infoPeople;
      }
    },
  },
  methods: {
    addComment() {
      if (this.writedComment !== '') {
        this.reception.comment = this.writedComment;
        this.items.push({ order: this.reception.comment })
        this.writedComment = '';
        this.itemId += 1;
      }
    },
  }
}
</script>
