<template>
  <div>
    <div class="text-h6">
      <q-icon size="sm" color="primary" name="fas fa-paperclip"/> Adjuntar archivos
    </div>
    <br/>
    <div class="row q-col-gutter-sm">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <q-file outlined use-chips v-model="acknowledgment" label="Acuse">
          <template v-slot:append>
            <q-btn round dense flat icon="scanner" @click="scannerDialog=true;target='acknowledgment'"/>
          </template>
        </q-file>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <q-file outlined use-chips v-model="affairFile" label="Oficio">
          <template v-slot:append>
            <q-btn round dense flat icon="scanner" @click="scannerDialog=true;target='affairFile'"/>
          </template>
        </q-file>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <q-file outlined use-chips v-model="annexedFile" label="Anexos">
          <template v-slot:append>
            <q-btn round dense flat icon="scanner" @click="scannerDialog=true;target='annexedFile'"/>
          </template>
        </q-file>
      </div>
    </div>
    <q-dialog v-model="scannerDialog" full-height persistent>
      <q-card style="width: 700px; max-width: 80vw;" class="full-height">
        <q-card-section style="height: 100%;">
          <q-scroll-area style="height: 80vh;max-height: 90%; max-width: 80vw;" id="scroll-img">
          </q-scroll-area>
          <div class="text-center">
            <q-btn @click="scan">
              Escanear
            </q-btn>
          </div>
        </q-card-section>
        <q-card-actions align="right" class="absolute-bottom">
          <q-btn flat label="Aceptar" color="primary" v-close-popup @click="generatePDF"/>
          <q-btn flat label="Cancelar" color="primary" v-close-popup @click="cancelPDF"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
/* eslint-disable */
import jsPDF from 'jspdf'
import * as ExternalFileService from 'src/services/global/ExternalUploadFileService';
import { notifyError } from 'src/utils/notify';

export default {
  props: { uploadOffice: Boolean },
  data() {
    return {
      acknowledgment: null,
      affairFile: null,
      annexedFile: null,
      scannerDialog: false,
      numPages: 0,
      target: ''
    }
  },
  created() {
    this.folio = this.reception.folio
  },
  watch: {
    uploadOffice: function (val, oldval) {
      if (val) {
      // registro OFICIO
        if(this.affairFile) {
          const formDataAffairFile = new FormData();
          formDataAffairFile.append('module', 'affair');
          formDataAffairFile.append('fileType', 'pdf');
          formDataAffairFile.append('folio', this.reception.folio);
          formDataAffairFile.append('document', this.affairFile);
          ExternalFileService.upload(formDataAffairFile).then((affairFile) => {
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'positive',
              position: 'top-right',
              textColor: 'white',
              message: 'Se ha subido el oficio correctamente',
            });
          }).catch((err) => {
            console.log(err)
            notifyError();
          })
        }
        if(this.acknowledgment) {
          const formDataAffairFile2 = new FormData();
          formDataAffairFile2.append('module', 'affair');
          formDataAffairFile2.append('fileType', 'pdf');
          formDataAffairFile2.append('document', this.acknowledgment);
          formDataAffairFile2.append('folio', this.reception.folio);
          ExternalFileService.upload(formDataAffairFile2).then((affairFile) => {
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'positive',
              position: 'top-right',
              textColor: 'white',
              message: 'Se ha subido el acuse correctamente',
            });
          }).catch((err) => {
            console.log(err)
            notifyError();
          })
        }
        if(this.annexedFile) {
          const formDataAffairFile3 = new FormData();
          formDataAffairFile3.append('module', 'affair');
          formDataAffairFile3.append('fileType', 'pdf');
          formDataAffairFile3.append('document', this.annexedFile);
          formDataAffairFile3.append('folio', this.reception.folio);
          ExternalFileService.upload(formDataAffairFile3).then((affairFile) => {
            this.$q.notify({
              icon: 'cloud_upload',
              color: 'positive',
              position: 'top-right',
              textColor: 'white',
              message: 'Se ha subido el anexo correctamente',
            });
          }).catch((err) => {
            console.log(err)
            notifyError();
          })
        }
      }
    }
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
  },
  methods: {
    scan() {
      /* eslint-disable */
      ws.send("1100");
      this.numPages = toPDF.length
    },
    generatePDF() {
      const doc = new jsPDF('p', 'pt', 'letter')
      console.log(toPDF)
      let sizePDF = toPDF.length - 1
      toPDF.forEach((img, index) => {
        doc.addImage(img, 'JPEG', 0, 0, 610, 800)
        if (sizePDF > index) {
          doc.addPage()
        }
      })
      if (this.target === 'acknowledgment') {
        this.acknowledgment = new File([doc.output('blob')], 'acuse.pdf')
      } else if (this.target === 'affairFile') {
        this.affairFile = new File([doc.output('blob')], 'asunto.pdf')
      } else if (this.target === 'annexedFile') {
        this.annexedFile = new File([doc.output('blob')], 'anexo.pdf')
      }
      toPDF = []
    },
    cancelPDF() {
      toPDF = []
      this.scannerDialog = false 
    }
  }
}
</script>
