<template>
  <div>
    <q-table
      :data="data"
      :columns="columns"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      :filter="search"
      :visible-columns="visibleColumns"
    >
      <template v-slot:top-right>
        <q-btn flat round color="primary" icon="refresh" @click="onRequest({
          pagination: pagination,
          filter: undefined
        })"/>
      </template>

      <template v-slot:top-left>
        <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:body="props" >
        <q-tr :props="props" style="cursor: pointer">
          <q-td key="subject" :props="props" @click="$router.push(`input-digital-affair/${props.row.id}/edit`)">
            {{ props.row.subject }}
          </q-td>
          <q-td key="folio" :props="props" @click="$router.push(`input-digital-affair/${props.row.id}/edit`)">
            {{ props.row.folio }}
          </q-td>
          <q-td key="document_date" :props="props" @click="$router.push(`input-digital-affair/${props.row.id}/edit`)">
            {{ props.row.created_date }}
          </q-td>
          <q-td key="status" :props="props" @click="$router.push(`input-digital-affair/${props.row.id}/edit`)">
          <q-item>
          <q-item-section>
            {{ props.row.affair_status }}
            <div class="q-ma-sm row justify-between">
              <div class="col justify-center">
                <q-icon
                  name="circle"
                  :class="{
                    'text-deep-purple' : props.row.affair_status == 'Guardado',
                    'text-cyan' : props.row.affair_status === 'Colaborativo',
                    'text-green' : props.row.affair_status === 'Enviado',
                    'text-yellow' : props.row.affair_status === 'Leído',
                    'text-red' : props.row.affair_status === 'Respondido',
                  }"
                />
              </div>
            </div>
          </q-item-section>
          </q-item>
          </q-td>
          <q-td auto-width>
            <q-btn-group flat>
              <q-btn flat round size="sm" @click="history(props.row.id, props.row.affair_type)" color="primary" icon="history">
                <q-tooltip>Historia</q-tooltip>
              </q-btn>
              <q-btn flat round size="sm" @click="render(props.row.id)" color="primary" icon="fas fa-eye">
                <q-tooltip>Ver asunto</q-tooltip>
              </q-btn>
            </q-btn-group>
          </q-td>
        </q-tr>
      </template>
      <template v-slot:no-data="{ }">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span>
            No se encontraron resultados
          </span>
        </div>
      </template>
    </q-table>
    <q-dialog v-model="historyDialog" >
      <History :affairId="affairId"
        :typeAffair="typeAffair"/>
    </q-dialog>
    <q-dialog v-model="actionsDialog" >
      <q-card style="width: 700px; max-width: 80vw; height: 490px;">
        <q-card-section class="row items-center">
          <q-icon name="timeline" color="primary" :size="'lg'"/>
          <span class="q-ml-md text-h6">Seguimiento</span>
          <q-space />
          <q-btn class="items-right" icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section class="scroll q-px-xl">
          <q-tree
            :nodes="turnLogdata.turns"
            node-key="label"
            default-expand-all
          >
            <template v-slot:default-header="prop">
              <div class="row items-center">
                <q-icon :name="prop.node.status_id === 3 ? 'done':prop.node.status_id === 2 ? 'pending':prop.node.status_id === 4 ? 'border_color':prop.node.status_id === 1 ? 'contact_support':prop.node.status_id === 5 ? 'block':prop.node.status_id === 6 ? 'cancel':''" color='primary' size="28px" class="q-mr-sm" />
                <div class="text-weight-bold">{{ prop.node.label }}</div>
              </div>
            </template>

            <template v-slot:default-body="prop">
              <div v-for="event in prop.node.events" :key="event.id">
                <span>{{ event.name }}</span>
                <span class="text-caption">
                    : {{ new Date(event.created_at).getDate() }}/{{ (new Date(event.created_at).getMonth()+1) }}/{{ new Date(event.created_at).getFullYear() }}
                    a las: {{ new Date(event.created_at).getHours() }}:{{ (new Date(event.created_at).getMinutes()).toString().length === 1 ? `0${(new Date(event.created_at).getMinutes()).toString()}` : new Date(event.created_at).getMinutes()}}
                </span>
              </div>
            </template>
          </q-tree>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;" >
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import * as BoxesService from 'src/services/global/BoxesService';
import * as UploadFileService from 'src/services/global/UploadFileService';
import History from 'components/global/History';
import * as TurnService from 'src/services/TurnService';

export default {
  components: { History },
  mounted() {
    // get initial data from server (1st page)
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
  },
  data() {
    return {
      officeDialog: false,
      historyDialog: false,
      turnLogdata: {},
      affairId: '',
      data: [],
      visibleColumns: ['subject', 'folio', 'document_date', 'status', 'actions'],
      loading: false,
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: ''
      },
      search: '',
      columns: [
        { name: 'subject', align: 'center', label: 'Asunto' },
        { name: 'folio', align: 'center', label: 'Folio', field: 'folio', sortable: false },
        { name: 'document_date', align: 'center', label: 'Fecha de Creación', field: 'document_date', sortable: false },
        { name: 'status', align: 'center', label: 'Estatus', field: 'status', sortable: false },
        { name: 'actions', align: 'center', label: '', field: 'actions' },
      ],
      src: '',
      typeAffair: '',
      actionsDialog: false,
    };
  },
  methods: {
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination
      const { search } = this
      this.loading = true
      const positionId = window.sessionStorage.getItem('position_id');
      BoxesService.externalDigitalInbox({ params: { page, rowsPerPage, search, position_id: positionId } }).then((pagination) => {
        this.data = pagination.data
        this.pagination.rowsPerPage = pagination.per_page
        this.pagination.page = pagination.current_page
        this.pagination.rowsNumber = pagination.total
        this.loading = false
      }).catch((err) => {
        console.log(err)
        this.loading = false
      });
    },
    tracing(id) {
      TurnService.getLog(id).then((data) => {
        this.turnLogdata = data
        this.$q.loading.hide();
      }).catch((err) => {
        this.$q.loading.hide();
        console.log(err)
      })
      this.actionsDialog = true
    },
    render(id) {
      UploadFileService.showFile(id).then((file) => {
        this.src = window.URL.createObjectURL(new Blob([file.data]));
        this.officeDialog = true;
      }).catch((err) => {
        console.log(err)
      })
    },
    history(affairId, type) {
      this.affairId = affairId
      this.historyDialog = true
      this.typeAffair = type
    },
  },
};
</script>

<style>

</style>
