<template>
  <div>
    <div class="text-h6">
    <q-separator spaced/>
      <q-icon size="sm" color="primary" name="mail"/> Destinatarios
      <q-btn class="float-right" round size="sm" @click="dialogPeople=true" outline color="primary" icon="fas fa-plus"/>
    </div>
    <q-separator spaced />
    <div class="row q-col-gutter-sm q-mt-sm">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="text-h6 q-ml-md">Para</div>
        <div
          class="row q-col-gutter-sm q-mt-sm items-center"
          v-for="(user) in forUser"
          :key="user.id">
          <div
            class="col-10">
            <div class="row">
              <div class="col-3 text-center"
                @mouseover="user.hover = true">
                <q-avatar size="30px">
                  <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
                        <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                </q-avatar>
              </div>
              <div class="col-7 text-subtitle1">
                {{ `${user.position.name}/${user.user.name}` }}
              </div>
            </div>
            <q-menu
              v-model="user.hover"
              max-width="350px"
              anchor="center middle"
              self="center middle"
              @mouseleave="user.hover = false">
              <q-item>
                <q-item-section>
                  <div class="row items-center q-my-sm">
                    <div class="col-4">
                      <q-avatar size="52px">
                        <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
                        <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                      </q-avatar>
                    </div>
                    <div class="col-8 text-h6">
                      {{ `${user.position.name}/${user.user.name}` }}
                    </div>
                  </div>
                  <div class="text-subtitle2 q-my-sm">
                    {{ user.unit.name }}
                  </div>
                  <div>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam eos, distinctio omnis perspiciatis corrupti, modi inventore atque unde doloribus eius ipsa sint ipsam deserunt, dolore in architecto temporibus est culpa.
                  </div>
                </q-item-section>
              </q-item>
            </q-menu>
          </div>
          <q-btn class="col-2" round flat icon="close" @click="Delete(user.forccp, user.id)"/>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="text-h6 q-ml-md">Ccp</div>
        <div
          class="row q-col-gutter-sm q-mt-sm items-center"
          v-for="(user) in ccp"
          :key="user.id">
          <div
            class="col-10">
            <div class="row">
              <div class="col-3 text-center"
                @mouseover="user.hover = true">
                <q-avatar size="30px">
                  <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
                        <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                </q-avatar>
              </div>
              <div class="col-7 text-subtitle1">
                {{ `${user.position.name}/${user.user.name}` }}
              </div>
            </div>
            <q-menu
              v-model="user.hover"
              max-width="350px"
              anchor="center middle"
              self="center middle"
              @mouseleave="user.hover = false">
              <q-item>
                <q-item-section>
                  <div class="row items-center q-my-sm">
                    <div class="col-4">
                      <q-avatar size="52px">
                        <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
                        <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                      </q-avatar>
                    </div>
                    <div class="col-8 text-h6">
                      {{ `${user.position.name}/${user.user.name}` }}
                    </div>
                  </div>
                  <div class="text-subtitle2 q-my-sm">
                    {{ user.unit.name }}
                  </div>
                  <div>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam eos, distinctio omnis perspiciatis corrupti, modi inventore atque unde doloribus eius ipsa sint ipsam deserunt, dolore in architecto temporibus est culpa.
                  </div>
                </q-item-section>
              </q-item>
            </q-menu>
          </div>
          <q-btn class="col-2" round flat icon="close" @click="Delete(user.forccp, user.id)"/>
        </div>
      </div>
    </div>
    <q-dialog v-model="dialogPeople">
      <q-card style="width: 450px">
        <q-card-section class="q-pb-none">
          <div class="text-h6">Agregar persona</div>
        </q-card-section>
        <q-card-section>
          <q-select
            outlined
            square
            class="q-my-sm"
            v-model="people.forccp"
            label="Para/Cpp"
            option-value="id"
            option-label="name"
            :options="catalogForcpp"/>
          <q-select
            outlined
            square
            class="q-my-sm"
            v-model="people.unit"
            option-value="id"
            option-label="name"
            :options="catalogs.units"
            label="Unidad"/>
          <q-select
            outlined
            square
            class="q-my-sm"
            v-model="people.position"
            option-value="id"
            option-label="name"
            :options="catalogPosition"
            label="Puesto"/>
          <q-select
            outlined
            square
            class="q-my-sm"
            v-model="people.user"
            option-value="id"
            option-label="name"
            :options="catalogUser"
            label="Persona"/>
          <q-btn color="primary" label="Agregar" @click="Add()" v-close-popup/>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialogPeople: false,
      catalogForcpp: [
        { id: 1, name: 'Para' },
        { id: 2, name: 'Ccp' }
      ],
      people: {
        forccp: '',
        unit: '',
        position: '',
        user: '',
        id: '',
        hover: false,
      },
      /* catalogPosition: [
        { id: 1, name: 'Puesto1' },
        { id: 2, name: 'Puesto2' },
        { id: 3, name: 'Puesto3' },
      ],
      catalogUser: [
        { id: 1, name: 'Usuario1' },
        { id: 2, name: 'Usuario2' },
        { id: 3, name: 'Usuario3' },
      ], */
      forUser: [],
      ccp: [],
      id: 1,
    }
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  created() {
    const catalogsConfiguration = {
      users: true,
      people: true,
      units: true,
      position: true,
      entities: true,
      cat_doc_types: true,
      cat_recep_meds: true,
      cat_priorities: true,
      cat_to_docs: true,
    };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
  },
  methods: {
    Add() {
      this.people.id = this.id
      if (this.people.forccp.id === 1) {
        this.forUser.push({ ...this.people })
      } else if (this.people.forccp.id === 2) {
        this.ccp.push({ ...this.people })
      }
      this.people.forccp = ''
      this.people.unit = ''
      this.people.position = ''
      this.people.user = ''
      this.id += 1
    },
    Delete(forccp, id) {
      if (forccp.id === 1) {
        const index = this.forUser.findIndex((x) => x.id === id);
        this.forUser.splice(index, 1)
      } else if (forccp.id === 2) {
        const index = this.ccp.findIndex((x) => x.id === id);
        this.ccp.splice(index, 1)
      }
    }
  }
}
</script>
