<template>
  <div>
    <q-table
      :data="data"
      :columns="columns"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      :filter="search"
      :visible-columns="visibleColumns"
      wrap-cells
    >

      <template v-slot:top-left>
        <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:top-right>
        <q-btn flat round color="primary" icon="refresh" @click="onRequest({
          pagination: pagination,
          filter: undefined
        })"/>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props" style="cursor: pointer">
          <q-td key="sender" :props="props" @click="edit(props.row.affair_id)">
            <!-- {{ props.row.external_sender.full_name.length > 20 ? props.row.external_sender.full_name.slice(0,20):props.row.external_sender.full_name }} -->
            {{ props.row.external_sender.full_name }}
          </q-td>
          <q-td key="subject" :props="props" @click="edit(props.row.affair_id)">
            {{ props.row.subject }}
          </q-td>
          <q-td key="folio" :props="props" @click="edit(props.row.affair_id)">
            {{ props.row.folio }}
          </q-td>
          <q-td key="document_date" :props="props" @click="edit(props.row.affair_id)">
            {{ props.row.creation_date.slice(0, -3)  }}
          </q-td>
          <q-td key="type_sender" :props="props" @click="edit(props.row.affair_id)">
            {{ props.row.type_sender }}
          </q-td>
          <q-td key="status" :props="props" @click="edit(props.row.affair_id)">
            {{ (props.row.status == 'Respondido' ? 'Contestado' : props.row.status) }}
            <div class="q-ma-sm row justify-between">
              <div class="col justify-center">
                <q-icon
                  name="circle"
                  :class="{
                    'text-deep-purple' : props.row.status == 'Guardado',
                    'text-cyan' : props.row.status === 'Colaborativo',
                    'text-green' : props.row.status === 'Enviado',
                    'text-yellow' : props.row.status === 'Leído',
                    'text-amber' : props.row.status === 'Respondido',
                  }"
                />
              </div>
            </div>
          </q-td>
          <q-td key="actions" :props="props">
            <q-btn-group flat>
              <q-btn flat round size="sm" @click="history(props.row.affair_id, props.row.affair_type)" color="primary" icon="history">
                <q-tooltip>Historia</q-tooltip>
              </q-btn>
              <q-btn flat round size="sm" @click="cancelDialog=true, affairId = props.row.affair_id, typeAffair = props.row.affair_type" color="primary" icon="fas fa-ban">
                <q-tooltip>Cancelar</q-tooltip>
              </q-btn>
              <q-btn
                flat round size="sm"
                @click="AttachedFiles(props.row.affair_id)"
                icon="attach_file"
                color="primary"
              >
                <q-badge
                  v-if="props.row.total_attached.cant > 1"
                  color="red"
                  text-color="white"
                  floating
                  >{{ ( props.row.total_attached.cant > 0) ? props.row.total_attached.cant  : 0 }}
                </q-badge>
                <q-tooltip>Archivos adjuntos</q-tooltip>
              </q-btn>
            </q-btn-group>
          </q-td>
        </q-tr>
      </template>
      <template v-slot:no-data="{ }">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span>
            No se encontraron resultados
          </span>
        </div>
      </template>
    </q-table>
    <q-dialog v-model="officeDialog" full-height full-width >
      <Office :affairId="affairId"/>
    </q-dialog>
    <q-dialog v-model="chatDialog" >
      <Chat :affairId="affairId"/>
    </q-dialog>
    <q-dialog v-model="historyDialog" >
      <History :affairId="affairId"
              :typeAffair="typeAffair"/>
    </q-dialog>
    <q-dialog v-model="cancelDialog" >
      <Cancel :affairId="affairId" :typeAffair='typeAffair' v-on:reload-table='recargaTabla'/>
    </q-dialog>
  </div>
</template>

<script>
import * as ExternalAffairService from 'src/services/receipt/ExternalAffairReceptionService';
import History from 'src/components/global/History';
import Cancel from 'src/components/global/Cancel';

export default {
  components: { History, Cancel },
  mounted() {
    this.onRequest({
      pagination: this.pagination,
      filter: undefined
    })
  },
  data() {
    return {
      data: [],
      loading: false,
      gSort: 'desc',
      fromUserId: this.$store.state.user.information.from_user_id,
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: '',
        sortBy: ''
      },
      responsable: '',
      search: '',
      separator: 'vertical',
      visibleColumns: ['sender', 'folio', 'subject', 'document_date', 'type_sender', 'status', 'actions'],
      columns: [
        { name: 'sender', align: 'center', label: 'Remitente', field: 'external_sender', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
        { name: 'subject', align: 'center', label: 'Asunto', field: 'subject', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
        { name: 'folio', align: 'center', label: 'Folio', field: 'folio', sortable: false },
        { name: 'document_date', align: 'center', label: 'Fecha de Creación', field: 'document_date', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
        { name: 'type_sender', align: 'center', label: 'Tipo de Remitente', field: 'type_sender', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
        { name: 'status', align: 'center', label: 'Estatus', field: 'status', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
        { name: 'actions', align: 'center', label: 'Acciones', field: 'id' },
      ],
      officeDialog: false,
      affairId: '',
      chatDialog: false,
      typeAffair: '',
      historyDialog: false,
      cancelDialog: false,
    }
  },
  methods: {
    onRequest(props) {
      const { page, rowsPerPage, sortBy } = props.pagination
      const { search } = this
      this.loading = true
      if (sortBy === 'document_date' || sortBy === 'status' || sortBy === 'subject' || sortBy === 'type_sender' || sortBy === 'sender') {
        this.gSort = (this.gSort === 'asc') ? 'desc' : 'asc'
      }
      console.log(sortBy, this.gSort);
      ExternalAffairService.index({ params: { page, rowsPerPage, search, sortBy, order: this.gSort, andUserId: this.fromUserId } }).then((pagination) => {
        this.data = pagination.data
        this.pagination.rowsPerPage = pagination.per_page
        this.pagination.page = pagination.current_page
        this.pagination.rowsNumber = pagination.total
        this.pagination.sortBy = pagination.sortBy
        this.loading = false
      }).catch((err) => {
        console.log(err)
        this.loading = false
      })
    },
    render(id) {
      this.affairId = id
      this.officeDialog = true
    },
    renderChat(id) {
      this.affairId = id
      this.chatDialog = true
    },
    reply(id) {
      this.affairId = id
      this.$router.push(`answer-affair/${id}`);
    },
    edit(id) {
      this.affairId = id
      this.$router.push(`/reception/${id}/edit`);
    },
    history(affairId, type) {
      this.affairId = affairId
      this.historyDialog = true
      this.typeAffair = type
    },
    AttachedFiles(id) {
      this.affairId = id
      this.$router.push(`reception/${id}/edit`)
      sessionStorage.removeItem('view_annexes');
      sessionStorage.setItem('view_annexes', 'annexes');
    },
    recargaTabla() {
      this.cancelDialog = false
      this.affair_status_id = 9
      console.log(this.pagination)
      this.onRequest({
        pagination: this.pagination,
        filter: undefined
      })
    },
  },
  computed: {
    canEdit: {
      get() {
        return this.canShow('reception-edit');
      }
    }
  }
}
</script>
