<template>
  <q-layout view="hHh Lpr lFf" class="shadow-2 rounded-borders">
    <q-header elevated  height-hint="64">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-item  clickable @click="$router.push('/'), url = false, active = '/'"
        :active="active === '/'">
          <q-avatar size="40px"  >
            <q-img :src="`${this.$axios.defaults.baseURL}/api/upImage/${1}`" spinner-color="white"/>
          </q-avatar>
        </q-item>
        <q-toolbar-title class="pointer" @click="$router.push('/'), url = false, active = '/'"
        :active="active === '/'">
         {{ config.title }}
        </q-toolbar-title>
        <span v-if="can('search-global')" class="q-mr-xl">
          <SearchMenu />
        </span>
        <span>
          <div v-if="user.is_mirrow == false && user.is_assistant == false">
            {{ '¡Bienvenido' }} {{user.name}}{{'!'}}
          </div>
          <div v-if="user.is_mirrow == true || user.is_assistant == true">
            {{ '¡Bienvenido' }} {{user.name_label}}{{'!'}}
          </div>
          <div v-if="user.is_mirrow || user.is_assistant" style="font-size: 12px">
            Asistente/Ayudante
          </div>
          <!-- <div v-if="user.is_assistant" style="font-size: 12px">
            Asistente/Ayudante
          </div> -->
          <div v-if="!user.is_assistant && !user.is_mirrow && user.position_id == position_session_id" style="font-size: 12px">
            Titular
          </div>
          <div v-if="user.position_id != position_session_id && type == ''" style="font-size: 12px">
            Encargado
          </div>
        </span>
        <div class="q-pl-md q-gutter-sm row  items-center">
           <q-btn dense flat color="white" icon="add" no-caps label="Nuevo" class="q-ml-sm q-px-md">
          <q-menu>
            <q-list dense class="text-grey-8" style="min-width: 100px">
              <q-item v-if="can('document-generate')" @click="$router.push('/internal-affair/create'), url = false, active = '/outbox'" clickable v-close-popup :active="active === '/outbox'">
               <q-item-section avatar>
                  <q-icon color="primary" name="mdi-file-plus-outline" />
                </q-item-section>
                <q-item-section> Generar Documento Interno</q-item-section>
              </q-item>
              <q-item v-if="can('external-view')" @click="$router.push('/output-affair/create'), url = false, active = '/outbox'" clickable v-close-popup :active="active === '/outbox'">
               <q-item-section avatar>
                  <q-icon color="primary" name="fas fa-file-upload" />
                </q-item-section>
                <q-item-section> Generar Documento Externo</q-item-section>
              </q-item>
              <q-item v-if="can('oficialia-view')" @click="$router.push('/reception/create'), url = false, active = '/externalOffice'" clickable v-close-popup :active="active === '/inbox'">
               <q-item-section avatar>
                  <q-icon color="primary" name="mdi-file-check-outline" />
                </q-item-section>
                <q-item-section> Recepción de Documento</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
        <!-- <q-btn @click="refresh()"
          round dense flat size="sm" icon="fas fa-sync-alt">
          <q-tooltip>Limpiar Cache</q-tooltip>
        </q-btn> -->
        <q-btn round dense flat size="14px" icon="info" @click="chart=true" >
          <q-tooltip>Organigrama</q-tooltip>
        </q-btn>
          <q-dialog v-model="chart" full-width>
            <q-card>
              <q-card-section class="q-pb-xs">
                <div class="text-h6">Organigrama
                  <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
                </div>
              </q-card-section>
              <q-separator />
              <q-card-section style="max-height: 75vh" class="scroll q-mx-sm">
                <OrganizationChart />
              </q-card-section>
              <q-separator />
              <q-card-actions align="right">
                <q-btn flat label="OK" color="primary" v-close-popup />
              </q-card-actions>
            </q-card>
          </q-dialog>
          <q-btn id="config" v-if="can('config-menu') || user.profile == 'Administrador'"
                @click="$router.push('/admininterface'), url = true, active ='/adminMenu'"
                round dense flat size="14px" icon="fas fa-cogs"
                :active="active === '/adminMenu'"
                active-class="my-menu-link">
            <q-tooltip>Configuración</q-tooltip>
          </q-btn>
          <q-btn round dense flat icon="notifications" @click="nNotify=0" >
            <q-badge v-if="nNotify!==0" color="red" text-color="white" floating>{{ nNotify }}
            </q-badge>
            <q-tooltip>Notificationes</q-tooltip>
            <Noty :notifyArray="notifyArray"/>
          </q-btn>
          <q-btn id="profile" round flat>
            <q-avatar id="avatar" size="26px">
              <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
            </q-avatar>
            <q-tooltip>{{user.name}} {{user.last_name}} / {{ (user.is_mirrow) ? user.position : position_session_name}}</q-tooltip>
            <q-menu>
              <div class="row no-wrap q-pa-md">
                <div class="column">
                   <q-avatar id="avatar" size="75px">
                    <q-btn round size="sm" @click="isShowDialogFile = true" color="secondary" class="avatar-btn absolute all-pointer-events cursor-pointer"  icon="fas fa-pen"  style="top: -10px; left: 0px;z-index:9"/>
                    <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
                    <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:80px;height:80px;"/>
                  </q-avatar>
                  <br/>
                  <q-btn id="logout" color="primary" label="Cerrar Sesión" push size="sm" v-close-popup @click="IsCloseSession = true;" />
                  <br>
                  <q-btn v-if="(user.assistants.length != 0 && user.is_assistant == false && user.is_mirrow == false)" color="secondary" label="Cuenta Espejo" push size="sm" v-close-popup @click="assistants = true;" />
                  <br>
                  <q-btn v-if="(user.position_list && user.position_list.length > 1 && user.is_assistant == false && user.is_mirrow == false)" color="secondary" label="Cambiar Puesto" push size="sm" v-close-popup @click="positions = true;" />
                </div>
                <q-separator vertical inset class="q-mx-lg" />
                <div class="column">
                  <!-- <pre>{{user}}</pre> -->
                  <div v-if="!position_full_name || position_full_name === ''" class="text-subtitle1 q-mt-md q-mb-xs">{{user.name}} {{user.last_name}} {{ user.second_lastname }}</div>
                  <div v-if="position_full_name !== ''" class="text-subtitle1 q-mt-md q-mb-xs">{{position_full_name}}</div>
                  <q-separator class="q-mb-md"/>
                  <!-- <div class="text-subtitle2" v-if="user.position_id != position_session_id">Encargado:</div> -->
                  <div class="text-subtitle2 q-mb-xs">{{ (user.is_mirrow) ? user.position : position_session_name}} - {{ user.entity }}</div>
                  <div class="text-subtitle q-mb-xs">{{user.profile}}</div>
                  <div v-if="!position_email || position_email === ''" class="text-subtitle q-mb-xs">{{user.email}}</div>
                  <div v-if="position_email !== ''" class="text-subtitle q-mb-xs">{{position_email}}</div>
                </div>
              </div>
            </q-menu>
          </q-btn>
        </div>
      </q-toolbar>
      <q-separator size="4px" color="secondary"></q-separator>
    </q-header>
    <hr/>
    <q-separator size="4px" color="secondary"></q-separator>
    <q-drawer v-model="leftDrawerOpen"
      show-if-above
      :width="240"
      :breakpoint="1100"
      bordered
      content-class="bg-white-9 text-black"
      id="sidebar"
      >
      <q-list v-if="url == false" dense class="menu-list" >
        <q-item v-if="user.profile == 'Asistente'"
          active-class="assistant"
          :active="actives"
          >
          <q-item-section avatar>
            <q-avatar>
              <q-icon class="q-ml-none" right name="fas fa-hands-helping" />
            </q-avatar>
          </q-item-section>
          <q-item-section >Cuenta de Asistente</q-item-section>
        </q-item>

        <q-item v-if="can('mainMenu')"
          clickable
          v-ripple
          @click.native="$router.push('/').catch(err => {}), active = '/'"
          :active="active === '/'"
          active-class="my-menu-link"
          >
          <q-item-section avatar>
            <q-avatar>
              <q-icon class="q-ml-none" right name="home" />
            </q-avatar>
          </q-item-section>
          <q-item-section id="irInicio">Principal</q-item-section>
        </q-item>

        <q-item v-if="can('internal-box') && user.position"
          clickable
          v-ripple
          @click.native="$router.push('/outbox').catch(err => {}), active = '/outbox'"
          :active="active === '/outbox'"
          active-class="my-menu-link"
          >
          <q-item-section avatar>
            <q-avatar>
              <q-icon class="q-ml-none" right name="send" />
            </q-avatar>
          </q-item-section>
          <q-item-section >Bandeja de Elaborados</q-item-section>
        </q-item>

        <q-item v-if="can('assigned-box') && user.position"
          clickable
          v-ripple
          @click.native="$router.push('/inbox').catch(err => {}), active = '/inbox'"
          :active="active === '/inbox'"
          active-class="my-menu-link"
          >
          <q-item-section avatar>
            <q-avatar>
              <q-icon class="q-ml-none" right name="inbox" />
            </q-avatar>
          </q-item-section>
          <q-item-section  @click="nNotifyReceived=0" >Bandeja de Asignados
            <q-badge v-if="nNotifyReceived!==0 " color="red" text-color="white" floating>{{ nNotifyReceived }}
            </q-badge>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          v-ripple
          @click.native="$router.push('/externalOffice').catch(err => {}), active = '/externalOffice'"
          :active="active === '/externalOffice'"
          active-class="my-menu-link"
          v-if="can('oficialia-view')"
          >
          <q-item-section avatar>
            <q-avatar>
              <q-icon class="q-ml-none" right name="far fa-envelope" />
            </q-avatar>
          </q-item-section>
          <q-item-section >Oficialia de Partes</q-item-section>
        </q-item>
        <q-separator/>
        <!-- <q-item
          clickable
          v-ripple
          @click.native="$router.push('/Calendar').catch(err => {}), active = '/Calendar'"
          :active="active === '/Calendar'"
          active-class="my-menu-link"
          >
          <q-item-section avatar>
            <q-avatar>
              <q-icon class="q-ml-none" right name="far fa-calendar-alt" />
            </q-avatar>
          </q-item-section>
          <q-item-section id="irCalendario">Agenda
          </q-item-section>
        </q-item>-->

        <q-item v-if="can('historical-box')"
          clickable
          v-ripple
          @click.native="$router.push('/historical').catch(err => {}), active = '/historical'"
          :active="active === '/historical'"
          active-class="my-menu-link"
          >
          <q-item-section avatar>
            <q-avatar>
              <q-icon class="q-ml-none" right name="fab fa-leanpub" />
            </q-avatar>
          </q-item-section>
          <q-item-section >Histórico</q-item-section>
        </q-item>

        <q-item v-if="can('profile')"
          clickable
          v-ripple
          @click.native="$router.push('/profile').catch(err => {}), active = '/profile'"
          :active="active === '/profile'"
          active-class="my-menu-link"
          >
          <q-item-section avatar>
            <q-avatar>
              <q-icon class="q-ml-none" right name="far fa-id-card" />
            </q-avatar>
          </q-item-section>
          <q-item-section >Mi Perfil</q-item-section>
        </q-item>

       <q-item v-if="can('folio-reserve')"
         clickable
         v-ripple
         @click.native="$router.push('/foliosReserve').catch(err => {}), active = '/foliosReserve'"
         :active="active === '/foliosReserve'"
         active-class="my-menu-link"
       >
         <q-item-section avatar>
           <q-avatar>
             <q-icon class="q-ml-none" right name="fas fa-hand-point-up" />
           </q-avatar>
         </q-item-section>
         <q-item-section >Reservar folios</q-item-section>
       </q-item>

       <q-item
         v-if="can('archive')"
         clickable
         v-ripple
         @click.native="$router.push('/archive').catch(err => {}), active = '/archive'"
         :active="active === '/archive'"
         active-class="my-menu-link"
       >
         <q-item-section avatar>
           <q-avatar>
             <q-icon class="q-ml-none" right name="fas fa-archive" />
           </q-avatar>
         </q-item-section>
         <q-item-section >Archivo</q-item-section>
       </q-item>

        <q-item
          clickable
          v-ripple
          @click.native="$router.push('/helpPage').catch(err => {}), active = '/help'"
          :active="active === '/help'"
          class="absolute-bottom"
        >
          <q-item-section avatar>
            <q-avatar>
              <q-icon class="q-ml-none" right name="far fa-question-circle" />
            </q-avatar>
          </q-item-section>
          <q-item-section > Ayuda</q-item-section>
            <div class="text-caption absolute-bottom-right">v1.10.25</div>
        </q-item>
      </q-list>

      <q-list v-if="url == true"  dense class="admin-list">
        <q-item clickable v-ripple  @click.native="$router.push('/admininterface').catch(err => {}),  active = '/adminMenu'"
          :active="active === '/adminMenu'"
          active-class="my-menu-link">
          <q-item-section avatar>
            <q-avatar>
              <q-icon class="q-ml-none" right name="fas fa-home"/>
            </q-avatar>
          </q-item-section>
          <q-item-section >
            <div>Menú Principal </div>
          </q-item-section>
        </q-item>
        <q-separator/>
        <q-item v-if="can('user-menu')" clickable v-ripple  @click.native="$router.push('/admininterface/users').catch(err => {}), active = '/users'"
          :active="active === '/users'"
          active-class="my-menu-link">
          <q-item-section avatar>
            <q-avatar>
              <q-icon class="q-ml-none" right name="fas fa-users"/>
            </q-avatar>
          </q-item-section>
          <q-item-section >
            <div>Usuarios </div>
          </q-item-section>
        </q-item>
        <q-item v-if="can('catalog-menu')" clickable v-ripple  @click.native="$router.push('/admininterface/catalogs').catch(err => {}),  active = '/catalogs'"
          :active="active === '/catalogs'"
          active-class="my-menu-link">
          <q-item-section avatar>
            <q-avatar>
              <q-icon class="q-ml-none" right name="fas fa-book-open"/>
            </q-avatar>
          </q-item-section>
          <q-item-section >
            <div>Catálogos </div>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          v-ripple
          @click.native="$router.push('/centralapi').catch(err => {}), active = '/centralapi'"
          :active="active === '/centralapi'"
          active-class="my-menu-link"
        >
          <q-item-section avatar>
            <q-avatar>
              <q-icon class="q-ml-none" right name="fas fa-satellite-dish" />
            </q-avatar>
          </q-item-section>
          <q-item-section >API Central</q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-page-container class="q-pa-sm q-ma-md" style="padding-top: 35px;">
      <router-view />
    </q-page-container>
    <q-dialog v-model="IsCloseSession">
      <q-card style="min-width: 400px">
        <q-card-section>
          <div class="text-h6">¿Seguro desea cerrar sesión?</div>
        </q-card-section>
        <q-card-section>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cancelar" v-close-popup />
          <q-btn flat label="Cerrar Sesión" @click="logout()" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="assistants">
      <q-card style="min-width: 400px">
        <q-card-section>
          <div class="text-h6">Elija la cuenta</div>
        </q-card-section>
        <q-card-section>
          <q-list bordered separator>
                <q-item v-for="(item) in user.assistants" :key="item.id" @click="changeSession(item.id)" clickable v-ripple>
                    <q-item-section avatar>
                        <q-avatar>
                            <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                        </q-avatar>
                    </q-item-section>
                    <q-item-section>{{item.username}}</q-item-section>
                </q-item>
                <q-separator />
            </q-list>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="positions">
      <q-card style="min-width: 400px">
        <q-card-section>
          <div class="text-h6">Elija el puesto</div>
        </q-card-section>
        <q-card-section>
          <q-list bordered separator>
                <q-item v-for="(item) in user.position_list" :key="item.id" @click="changePosition(item.id, item.name)" clickable v-ripple>
                    <q-item-section avatar>
                        <q-avatar>
                            <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                        </q-avatar>
                    </q-item-section>
                    <q-item-section>{{item.name}}</q-item-section>
                    <q-item-section side v-if="item.main==true">
                      <q-icon name="star" color="yellow" />
                    </q-item-section>
                </q-item>
                <q-separator />
            </q-list>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
        </q-card-actions>
      </q-card>
    </q-dialog>

     <q-dialog v-model="isShowDialogFile">
      <UploadImage v-on:uploaded="(file) => setImage(file)" module="user_img" fileType="img" />
    </q-dialog>

  </q-layout>
</template>

<script>
// import { colors } from 'quasar'
import Pusher from 'pusher-js';
import UploadImage from 'components/global/UploadImage';
import * as RecepService from 'src/services/receipt/AffairReceptionService';
import * as NotificationService from 'src/services/notificationService';
import * as CatalogService from 'src/services/admin/CatalogService';
import * as StructureService from 'src/services/StructureService'
import { notifySuccess/* , notifyError */ } from 'src/utils/notify';
import { version } from '../../package.json';
import SearchMenu from './SearchMenu';
import Noty from './Notifications';
// import * as DataService from '../services/admin/config/ConfigService';
import OrganizationChart from './OrganizationChart';

export default {
  name: 'MainLayout',
  components: {
    UploadImage,
    OrganizationChart,
    SearchMenu,
    Noty
  },
  data() {
    return {
      responsableName: '',
      url: false,
      formsearch: {
        folioNumber: '',
        affair: '',
        docType: '',
        priority: '',
        proxyDate: '',
      },
      isShowDialogFile: false,
      chart: false,
      newAffair: '',
      recepcionAffair: '',
      actives: '',
      active: '/',
      IsCloseSession: false,
      version,
      leftDrawerOpen: false,
      nNotify: 0,
      nNotifyReceived: 0,
      nNotifydocCollab: 0,
      notifyArray: [],
      notifyArrayReceived: [],
      notifydocCollab: [],
      username: '',
      id: '',
      assistants: false,
      positions: false,
      type: ''
    };
  },
  mounted() {
    if (!this.user.name) {
      this.$q.loading.show();
      this.$store.dispatch('user/refreshInformation').then((res) => {
        if (res) {
          this.$router.push('/');
        }
      }).finally(() => {
        this.$q.loading.hide();
      });
    }
  },
  created() {
    const type = sessionStorage.getItem('type')
    CatalogService.getUserInfo(0, type).then((res) => {
      this.id = res.position_id
      this.getNotifications()
    })
    this.subscribe()
  },
  methods: {
    setImage(file) {
      this.isShowDialogFile = false;
      const form = { file_id: file.id };
      this.$store.dispatch('user/setFileUser', form);
    },
    updateProxy() {
      this.proxyDate = this.date
    },
    save() {
      this.date = this.proxyDate
    },
    modalClean() {
      this.$store.commit('reception/reset');
    },
    generatePdf() {
      RecepService.get().then(() => {
        this.loading = false
      }).catch((err) => {
        console.log(err)
        this.loading = false
      })
    },
    logout() {
      this.$q.loading.show();
      sessionStorage.removeItem('grp_token');
      sessionStorage.removeItem('grp_token_expiration');
      sessionStorage.clear();
      localStorage.removeItem('username');
      this.$store.dispatch('user/clearInformation', this.user.user_id).then(() => {
        window.location.reload()
        this.$router.push('/login');
      }).finally(() => {
        this.$q.loading.hide();
      });
    },
    subscribe() {
      const pusher = new Pusher('c2b99d6e93b037588e88', { cluster: 'us2' })
      Pusher.logToConsole = false;
      const url = this.$route.path
      pusher.subscribe('channel-notification')
      pusher.bind('NotificationsEvent', (data) => {
        if (data.destination === this.user.position_id) {
          this.nNotify += this.nNotify + 1
          notifySuccess(data.message);
          this.getNotifications()
          if (data.type === 'collaboration finished') {
            const expression = '(collabora/)([^ ]*)(/edit)'
            const regex = new RegExp(expression);
            if (url.match(regex)) {
              this.$router.push('/')
            }
          }
          if (data.type === 'affair canceled') {
            this.$router.push('/')
          }
        }
      }, this)
    },
    getNotifications() {
      NotificationService.getNotification(this.id).then((data) => {
        this.notifyArray = data.notifications;
      }).catch((err) => {
        console.log(err)
      })
    },
    // refresh() {
    //   notifySuccess('Limpiando cache de la aplicación')
    //   setTimeout(() => window.location.reload(), 500);
    // },
    changePosition(positionId, positionName) {
      if (positionId !== parseInt(window.sessionStorage.getItem('position_id'), 10)) {
        this.$q.loading.show();
        sessionStorage.removeItem('position_id');
        sessionStorage.removeItem('position_name');
        sessionStorage.removeItem('full_name_label');
        sessionStorage.removeItem('email_label');
        sessionStorage.removeItem('is_attendant');
        sessionStorage.setItem('position_id', positionId);
        sessionStorage.setItem('position_name', positionName);
        sessionStorage.setItem('full_name_label', '');
        sessionStorage.setItem('email_label', '');
        sessionStorage.setItem('is_attendant', false);
        const positionObj = { position_id: positionId, user_id: this.user.user_id }
        StructureService.getLabelsToAttendant(positionObj).then((data) => {
          if (data.posittion !== null) {
            sessionStorage.removeItem('is_attendant');
            sessionStorage.removeItem('full_name_label');
            sessionStorage.removeItem('email_label');
            sessionStorage.setItem('full_name_label', data.position.full_name);
            sessionStorage.setItem('email_label', data.position.email);
            sessionStorage.setItem('is_attendant', true);
          } /* else {
            sessionStorage.removeItem('full_name_label');
            sessionStorage.setItem('full_name_label', '');
            sessionStorage.removeItem('email_label');
            sessionStorage.setItem('email_label', '');
          } */
        })
        // window.location.reload();
        setTimeout(() => window.location.reload(), 1000);
        // setTimeout(() => this.$router.push('/'), 500);
        this.$q.loading.hide();
      }
      this.positions = false
    },
    changeSession(positionId) {
      this.$q.loading.show();
      const positionIdObj = { boss_id: positionId, user_id: this.user.user_id }
      window.sessionStorage.clear();
      this.$store.dispatch('user/login', positionIdObj).then((res) => {
        this.$q.loading.hide();
        if (res.authenticated) {
          this.assistants = false;
          this.$router.push('/');
          sessionStorage.removeItem('type');
          if (res.user.is_mirrow) {
            this.type = 'mirror'
          }
          sessionStorage.setItem('type', this.type);
          // window.location.reload()
        } else {
          this.$q.notify({
            icon: 'fas fa-exclamation-circle',
            color: 'negative',
            position: 'top-right',
            textColor: 'white',
            message: 'Ocurrio un error',
          });
        }
      }).catch((err) => {
        console.log(err.response.data.message)
      });
    }
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    position_session_id: () => parseInt(window.sessionStorage.getItem('position_id'), 10),
    position_session_name: () => window.sessionStorage.getItem('position_name'),
    position_full_name: () => window.sessionStorage.getItem('full_name_label'),
    position_email: () => window.sessionStorage.getItem('email_label'),
    config: {
      get() {
        return this.$store.state.config
      },
      set(val) {
        this.$store.commit('config/updateConfig', val);
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
};
</script>

<style lang="sass">
.my-menu-link
  color: white
  background: $primary
.assistant
  color: white
  background: $secondary
</style>
