<template>
    <q-menu>
      <q-list bordered class="rounded-borders" style="width: 400px">
        <q-item-label header>Notificaciones</q-item-label>
        <q-item v-for="(noti) in notifyArray" :key="noti.id" clickable v-ripple @click="render(noti.type, noti.document_id, noti.affair_id)">
          <q-item-section avatar>
            <q-avatar>
              <img src="https://cdn.quasar.dev/img/avatar4.jpg" alt="">
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label lines="1"> <span class="text-weight-medium">{{noti.affair.affair_type.name}}</span>/<span>{{noti.type}}</span> </q-item-label>
            <q-item-label caption lines="5">
              <span class="text-weight-bold"> De: {{ (noti.from.people != '' && noti.from.people != null) ? noti.from.people : 'Dependencia externa' }}</span>
              <br>
              <span class="text-weight-medium"> Asunto: {{ noti.affair.subject }} </span><br>
              <span class="text-weight-medium"> Folio: {{ (noti.affair.affair_folio) ? noti.affair.affair_folio.folio : ''}} </span><br>
              <!-- <span class="text-weight-medium"> Folio Control: {{ (noti.affair.affair_internal.folio_control) ? noti.affair.affair_internal.folio_control : ''}} </span> -->
            </q-item-label>
          </q-item-section>
        </q-item>
        <q-dialog v-model="officeDialog" full-height full-width>
          <q-card style="width: 50vw; overflow-y: hidden;">
            <q-card-section class="full-height">
              <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
              <q-pdfviewer
                v-model="officeDialog"
                :src="src"
                type="pdfjs"
                content-class="fit container"
                inner-content-class="fit container"
              />
            </q-card-section>
          </q-card>
        </q-dialog>
      </q-list>
    </q-menu>
</template>
<script>
// import * as UploadFileService from 'src/services/global/UploadFileService';

export default {
  props: {
    notifyArray: Array,
  },
  data() {
    return {
      reportSection: ['reports-view', 'reports-view-saved'],
      systemSection: ['customField-view'], // TODO: add permission for config
      providerSection: ['providers-view',
        'pspReview-view',
        'clients-view',
        'projects-view',
        'memo-view',
        'contracts-view',
        'payments-view',
        'pspPaymentConsult-view',
        'pspApReview-view',
        'pspBinnacle-view',
        'pspBinnacle-view',
      ],
      src: '',
      officeDialog: false,
    }
  },
  methods: {
    canShowSection(section) {
      return this.canShowAny(section)
    },
    render(type, documentId, affairId) {
      const url = this.$route.path
      const expression = '(internal-affair/)([^ ]*)(/edit)'
      const regex = new RegExp(expression);
      if (type === 'Asunto asignado' || type === 'Asunto colaborativo' || type === 'Colaboración iniciada' || type === 'Asunto leido') {
        this.$router.push(`/internal-affair/${affairId}/edit`)
        if (url.match(regex)) {
          window.location.reload()
        }
        // window.location.href = `/internal-affair/${documentId}/edit`;
        // UploadFileService.showFile(affairId).then((file) => {
        //   this.src = window.URL.createObjectURL(new Blob([file.data]));
        //   this.officeDialog = true;
        // }).catch((err) => {
        //   this.$router.replace('internal-affair/3/edit')
        //   console.log(err)
        // })
      }
      if (type === 'Oficio externo recibido') {
        this.$router.push(`/input-digital-affair/${affairId}/edit`)
      }
    }
  }
};
</script>
