<template>
  <div>
    <Chart :datasource="data" :edit="edit"/>
  </div>
</template>

<script>
import * as DataService from 'src/services/StructureService';
import Chart from '../components/structure/partials/Chart'

export default {
  components: {
    Chart,
  },
  beforeCreate() {
    this.$q.loading.show();
    DataService.edit(1).then((data) => {
      this.data = data.structure
      this.$q.loading.hide();
    }).catch((err) => {
      console.log(err)
      this.$q.loading.hide();
    });
  },
  data() {
    return {
      data: {},
      edit: false,
    }
  },
}
</script>
