<template>
  <div>
    <q-input v-if="can('search-global')" debounce="1000" @input="searchInfo()"
      style="width: 300px"
      class="GPL__toolbar-input"
      dark dense standout
      v-model="search"
      input-class="text-left"
      placeholder="Buscar..."
    >
      <template v-slot:append>
        <q-icon v-if="search === ''" name="search" />
        <q-icon v-else name="clear" class="cursor-pointer" @click="search = ''" />
      </template>
    </q-input>

    <template>
      <div v-if="search" class="scroll overflow-auto" style="position: fixed; z-index: 10000; width: 300px; height: 300px;">
        <q-card v-if="search !== ''">
          <q-list dense class="result-list text-black" bordered padding>
            <div v-if="infoResults.length > 0">
              <q-item v-for="(result, id) in infoResults" :key="id"
              active-class="my-menu-link"
              v-ripple
            >
          <q-item-section>
            <q-item-label lines="1"> <span class="text-weight-medium">{{result.affair_type}}</span>
            </q-item-label>
            <q-item-label caption lines="5">
              <span class="text-weight-medium"> Asunto: {{result.subject}} </span><br>
              <span class="text-weight-medium"> Folio: {{result.folio}} </span><br>
              <span class="text-weight-medium" v-if="result.folio_control != ''"> Folio Control: {{ result.folio_control }} </span>
            </q-item-label>
          </q-item-section>
          <q-item-section side>
              <q-btn  flat size="sm" @click="detail(result.id, result.affair_type), search = ''" icon="fas fa-list" color="primary">
                  <q-tooltip>Ver detalles</q-tooltip>
                </q-btn>
                <q-btn flat size="sm" @click="render(result.id)" icon="fas fa-eye" color="primary">
                  <q-tooltip>Ver documento</q-tooltip>
                </q-btn>
            </q-item-section>
            </q-item>
            </div>
            <div v-if="infoResults.length == 0">
              <div class="text-subtitle2" align="center">
                <q-icon size="sm" name="sentiment_dissatisfied"/>No hay resultados </div>
            </div>
          </q-list>
        </q-card>
      </div>
    </template>
        <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>

import * as AffairReceptionService from 'src/services/receipt/AffairReceptionService';
import * as InputDigitalAffairService from 'src/services/InputDigitalAffairService';
// import * as ExternalOfficeService from 'src/services/receipt/ExternalOfficeReceptionService';
import * as UploadFileService from 'src/services/global/UploadFileService';
import * as BoxesService from 'src/services/global/BoxesService';

export default {
  data() {
    return {
      src: '',
      officeDialog: false,
      infoResults: [],
      search: '',
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: ''
      },
    }
  },
  computed: {
    filtrado: {
      get() {
        return this.search
      },
      set(value) {
        value = value.toLowerCase();
        console.log(value);
      }
    }
  },
  methods: {
    searchInfo() {
      this.infoResults = [];
      // Bandeja de elaborados
      AffairReceptionService.index({ params: { rowsPerPage: this.pagination.rowsPerPage, search: this.search } }).then((results) => {
        results.data.forEach((element) => {
          this.infoResults.push(element);
        });
      }).catch((err) => {
        console.log(err)
        this.loading = false
      });
      // Bandeja de asignados
      // AffairReceptionService.inbox({ params: { rowsPerPage: this.pagination.rowsPerPage, search: this.search } }).then((results) => {
      //   results.data.forEach((element) => {
      //     this.infoResults.push(element);
      //   });
      //   console.log(results);
      // }).catch((err) => {
      //   console.log(err)
      //   this.loading = false
      // });
      // // Turnados
      // AffairReceptionService.turn({ params: { rowsPerPage: this.pagination.rowsPerPage, search: this.search } }).then((results) => {
      //   results.data.forEach((element) => {
      //     this.infoResults.push(element);
      //   });
      //   console.log(results);
      // }).catch((err) => {
      //   console.log(err)
      //   this.loading = false
      // });
      // // Historico
      // AffairReceptionService.inboxHistory({ params: { rowsPerPage: this.pagination.rowsPerPage, search: this.search } }).then((results) => {
      //   results.data.forEach((element) => {
      //     this.infoResults.push(element);
      //   });
      //   console.log(results);
      // }).catch((err) => {
      //   console.log(err)
      //   this.loading = false
      // });
      // Oficialia de Partes
      const positionId = window.sessionStorage.getItem('position_id');
      BoxesService.externalOutbox({ params: { rowsPerPage: this.pagination.rowsPerPage, search: this.search, position_id: positionId } }).then((results) => {
        results.data.forEach((element) => {
          this.infoResults.push(element);
        });
      }).catch((err) => {
        console.log(err)
        this.loading = false
      });
      BoxesService.assigned({ params: { rowsPerPage: this.pagination.rowsPerPage, search: this.search, position_id: positionId } }).then((results) => {
        results.data.forEach((element) => {
          this.infoResults.push(element);
        });
      }).catch((err) => {
        console.log(err)
        this.loading = false
      });
      InputDigitalAffairService.globalsearch({ params: { rowsPerPage: this.pagination.rowsPerPage, search: this.search } }).then((results) => {
        console.log(results)
        results.data.forEach((element) => {
          console.log(element)
          this.infoResults.push(element);
        });
      }).catch((err) => {
        console.log(err)
        this.loading = false
      });
      // Oficios externos
      // ExternalOfficeService.index({ params: { rowsPerPage: this.pagination.rowsPerPage, search: this.search } }).then((results) => {
      //   results.data.forEach((element) => {
      //     this.infoResults.push(element);
      //   });
      //   console.log(results);
      // }).catch((err) => {
      //   console.log(err)
      //   this.loading = false
      // });
    },
    render(id) {
      UploadFileService.showFile(id).then((file) => {
        this.src = window.URL.createObjectURL(new Blob([file.data]));
        this.officeDialog = true;
      }).catch((err) => {
        console.log(err)
      })
    },
    detail(id, type) {
      const url = this.$route.path
      if (type === 'Asunto Interno') {
        const expression = '(internal-affair/)([^ ]*)(/edit)'
        const regex = new RegExp(expression);
        this.$router.push(`/internal-affair/${id}/edit`)
        if (url.match(regex)) {
          window.location.reload()
        }
      } else if (type === 'Asunto externo digital de entrada') {
        const expression = '(input-digital-affair/)([^ ]*)(/edit)'
        const regex = new RegExp(expression);
        this.$router.push(`/input-digital-affair/${id}/edit`)
        if (url.match(regex)) {
          window.location.reload()
        }
      } else if (type === 'Asunto externo de entrada') {
        const expression = '(reception/)([^ ]*)(/edit)'
        const regex = new RegExp(expression);
        this.$router.push(`/reception/${id}/edit`)
        if (url.match(regex)) {
          window.location.reload()
        }
      }
      this.officeDialog = true;
    },
  }
}
</script>
