<template>
  <div class="q-gutter-md">
    <q-card>
      <q-card-section>
        <div class="row">
           <q-btn
            flat
            round
            color="primary"
            icon="fas fa-arrow-left"
            @click="$router.push('/helpPage')"
          >
            <q-tooltip>Volver</q-tooltip>
          </q-btn>
          <div class="col-10 text-h6 flex items-center" v-html="helpElements.title"></div>
        </div>
      </q-card-section>
    </q-card>
    <q-card v-if="helpElements.description != null">
      <q-card-section>
        <div class="text-body1" v-html="helpElements.description"></div>
      </q-card-section>
    </q-card>
    <q-card>
      <q-tabs
        v-model="tab"
        dense
        active-color="black"
        indicator-color="black"
        align="justify"
        narrow-indicator
        class="text-grey shadow-2"
      >
        <q-tab
          v-for="helpElementSection in helpElementSections"
          :key="helpElementSection.id"
          :name="helpElementSection.name"
          :label="helpElementSection.name"
          @click="obtainSectionId(helpElementSection.id)"
        />
      </q-tabs>
      <q-separator />
      <q-tab-panels
        v-model="tab"
        animated
        swipeable
        vertical
        transition-prev="jump-up"
        transition-next="jump-up"
      >
        <q-tab-panel
          v-for="helpElementSection in helpElementSections"
          :key="helpElementSection.id"
          :name="helpElementSection.name"
        >
          <div class="text-h5 q-mb-md">{{ helpElementSection.title }}</div>
          <div v-html="helpElementSection.description"></div>
          <div class="text-center q-mt-lg" v-if="helpSectionImage != ''">
            <img
              :src="src"
              alt=""
              v-for="image in helpSectionImage"
              :key="image.id"
              style="max-width: 800px"
            />
          </div>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </div>
</template>

<script>
import * as HelpModuleService from 'src/services/admin/catalogs/HelpModuleService';
import { notifyError } from 'src/utils/notify';

export default {
  data() {
    return {
      helpElements: [],
      helpElementSections: {},
      helpSectionImage: [],
      sectionId: '',
      imageId: '',
      tab: '',
      src: '',
    };
  },
  created() {
    const { id } = this.$route.params;
    // const { otherId } = this.helpSectionImage[i].id;
    // const { sectionId } = this.sectionId;
    this.$q.loading.show();
    HelpModuleService.getHelpElements(id)
      .then((helpElements) => {
        this.helpElements = helpElements;
        this.$q.loading.hide();
      })
      .catch(() => {
        notifyError();
        this.$q.loading.hide();
      });
    HelpModuleService.getHelpElementSections(id)
      .then((helpElementSections) => {
        this.helpElementSections = helpElementSections;
        this.$q.loading.hide();
      })
      .catch(() => {
        notifyError();
        this.$q.loading.hide();
      });
  },
  methods: {
    obtainSectionId(id) {
      this.sectionId = id;
      this.$q.loading.show();
      HelpModuleService.getHelpSectionImage(id)
        .then((helpSectionImage) => {
          this.helpSectionImage = helpSectionImage;
          this.imageId = helpSectionImage[0].id;
          this.$q.loading.show();
          this.src = `${this.$axios.defaults.baseURL}/api/helpModules/image/${this.imageId}`;
        })
        .catch(() => {
          this.$q.loading.hide();
        })
        .finally(() => {
          this.$q.loading.hide();
        });
      console.log(id);
    },
  },
};
</script>
<style lang="scss" scoped>
.texto-justificado {
  text-align: justify;
}
</style>
