<template>
  <div class="q-gutter-md">
    <q-card
      style="background: radial-gradient(circle, #d8d8d8 0%, #a4a4a4 100%)"
    >
      <q-card-section align="center">
        <div class="text-h5 text-black">Centro de Ayuda</div>
      </q-card-section>
      <!-- <q-card-section align="center">
        <SearchHelp />
      </q-card-section> -->
    </q-card>
    <!--New content-->
    <div class="fit row justify-evenly q-col-gutter-sm">
      <div
        class="self-stretch col-xs-12 col-sm-6 col-md-6 "
        style="overflow: auto"
        v-for="helpModule in helpModules"
        :key="helpModule.id"
      >
        <q-card class="my-card" flat bordered>
          <q-item>
            <q-item-section align="center">
              <q-item-label>
                <div class="text-h6">
                  {{ helpModule.name }}
                </div>
              </q-item-label>
            </q-item-section>
          </q-item>

          <q-separator />

          <q-card-section horizontal>
            <q-card-section>
              <q-list
                dense
                padding
                class="rounded-borders"
              >
                <q-item
                v-for="element in helpModule.elements"
                :key="element.id"
                  clickable
                  @click="edit(element.id)"
                  v-ripple
                >
                  <q-item-section avatar>
                    <q-icon
                      size="12px"
                      color="black"
                      name="fas fa-angle-double-right"
                    />
                  </q-item-section>
                  <q-item-section>{{ element.title }}</q-item-section>
                </q-item>
              </q-list>
            </q-card-section>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
import * as HelpModuleService from 'src/services/admin/catalogs/HelpModuleService';
import { notifyError } from 'src/utils/notify';
// import SearchHelp from './searchHelp';

export default {
  components: {
    // SearchHelp
  },
  data() {
    return {
      text: '',
      elementId: '',
      helpModules: [],
    };
  },
  created() {
    const { search } = this
    this.$q.loading.show();
    HelpModuleService.index({ params: { search } })
      .then((data) => {
        this.helpModules = data.helpModules;
        this.$q.loading.hide();
      })
      .catch(() => {
        notifyError();
        this.$q.loading.hide();
      });
  },
  methods: {
    edit(id) {
      this.elementId = id;
      this.$router.push(`/helpPage/${id}/helpElement`);
    },
    alertElementId(id) {
      alert(id)
    }
  }
};
</script>

<style lang="scss" scoped>
.texto-justificado {
  text-align: justify;
}

.alinear {
  justify-self: stretch;
}
</style>
