<template>
  <div>
    <div  style="max-width: 500px">
      <q-input debounce="600" @input="searchInfo()"
      style="width: 500px"
      class="GPL__toolbar-input"
      outlined rounded
      bg-color="white"
      v-model="search"
      input-class="text-left"
      placeholder="¿En qué te podemos ayudar?"
    >
      <template v-slot:append>
        <q-icon v-if="search === ''" name="search" />
        <q-icon v-else name="clear" class="cursor-pointer" @click="search = ''" />
      </template>
    </q-input>

      <template>
      <div class="q-gutter-y-md column scroll overflow-auto" style="position: fixed; z-index:99; width: 500px; height: 300px;">
        <q-card v-if="search !== ''">
          <q-list dense class="result-list text-black" bordered padding>
            <div v-if="infoResults.length > 0">
              <q-item dense v-for="(result, id) in infoResults" :key="id"
              @click="edit(result.id)"
              clickable
              v-ripple
              active-class="my-menu-link"
            >
              <q-item-section avatar>
              <q-avatar>
                <q-icon class="q-ml-none" right name="far fa-question-circle"/>
              </q-avatar>
              </q-item-section>
              <q-item-section>
                <div v-if="result.name > 0 || result.title == null">
                  <div class="text-subtitle2 q-mt-md q-mb-xs"> {{result.name}} </div>
                </div>
                <div v-if="result.title > 0 || result.name == null " >
                  <div class="text-subtitle2 q-mt-md q-mb-xs"> {{result.title}} </div>
                </div>
              </q-item-section>
            </q-item>
            </div>
            <div v-if="infoResults.length == 0">
              <div class="text-subtitle2" align="center">
                <q-icon size="sm" name="sentiment_dissatisfied"/>No hay resultados </div>
            </div>
          </q-list>
        </q-card>
      </div>
    </template>
    </div>
  </div>
</template>

<script>
// import * as HelpModuleService from 'src/services/admin/catalogs/HelpModuleService';
import * as HelpElementService from 'src/services/admin/catalogs/HelpElementService';

export default {
  data() {
    return {
      infoResults: [],
      search: '',
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: ''
      },
    }
  },
  computed: {
    filtro: {
      get() {
        return this.search
      },
      set(value) {
        this.search = value.toLowerCase()
      }
    }
  },
  methods: {
    searchInfo() {
      this.infoResults = [];
      console.log(this.search);
      // HelpModuleService.index({ params: { rowsPerPage: this.pagination.rowsPerPage, search: this.search } }).then((results) => {
      //   results.helpModules.forEach((element) => {
      //     this.infoResults.push(element);
      //   });
      //   console.log(results);
      // }).catch((err) => {
      //   console.log(err)
      //   this.loading = false
      // });
      HelpElementService.index({ params: { rowsPerPage: this.pagination.rowsPerPage, search: this.search } }).then((results) => {
        results.helpElement.forEach((element) => {
          this.infoResults.push(element);
        });
        console.log(results);
      }).catch((err) => {
        console.log(err)
        this.loading = false
      });
    },
    edit(id) {
      this.elementId = id;
      this.$router.push(`/helpPage/${id}/helpElement`);
    },
    alertElementId(id) {
      alert(id)
    },
  }
}
</script>
