<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-btn
          flat
          round
          color="primary"
          icon="fas fa-arrow-left"
          @click="$router.back()"
        >
          <q-tooltip>Volver</q-tooltip>
        </q-btn>
          <q-icon size="sm" name="fas fa-book"/> Bitacora de usuarios
        </div>
      </q-card-section>
    </q-card>
    <Users />
  </div>
</template>

<script>

import Users from './Table';

export default {
  components: {
    Users
  },
  data() {
    return {
      editDialog: false,
    };
  },
  methods: {
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    users: {
      get() {
        return this.$store.state.user.users;
      },
    },
  },
};
</script>
