<template>
  <div>
    <br/>
    <q-table
      :data="data"
      :columns="columns"
      row-key="name"
      separator="vertical"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      :filter="search"
      binary-state-sort
      :visible-columns="visibleColumns"
    >

      <template v-slot:top>
        <q-input borderless dense debounce="400" v-model="search" placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-space />
        <q-select
          style="min-width: 150px"
          dense
          clearable
          outlined
          v-model="unit_id"
          option-value="id"
          option-label="name"
          map-options
          emit-value
          :options="catalogs.units"
          label="Unidad"/>
        <q-space />
        <q-btn flat round color="primary" icon="refresh" @click="onRequest({
          pagination: pagination,
          filter: undefined
          })"/>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props" >
          <q-td key="last_name" :props="props">
            {{ props.row.last_name }}
          </q-td>
          <q-td key="second_lastname" :props="props">
            {{ props.row.second_lastname }}
          </q-td>
          <q-td key="name" :props="props">
            {{ props.row.name }}
          </q-td>
          <q-td key="accion" :props="props">
            {{ props.row.accion }}
          </q-td>
          <q-td key="detail" :props="props">
            {{ props.row.detail }}
          </q-td>
          <q-td key="fecha" :props="props">
            {{ props.row.fecha }}
          </q-td>
        </q-tr>
      </template>
      <template v-slot:no-data="{ }">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span>
            No se encontraron resultados
          </span>
        </div>
      </template>
    </q-table>
    <q-dialog v-model="confirmDelete" persistent>
      <q-card>
        <q-card-section class="row items-center">
            <span class="q-ml-sm">¿Seguro que desea eliminar este registro?</span>
            </q-card-section>
            <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup/>
            <q-btn flat label="Eliminar" color="red"  v-close-popup @click="deleteUser(deleteOption);"/>
            </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
// import { notifyError, notifySuccess } from 'src/utils/notify';
import * as LogBookService from 'src/services/admin/LogBookService';

export default {
  components: {
  },
  created() {
    const catalogsConfiguration = { units: true };
    this.$q.loading.show();
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      this.onRequest({
        pagination: this.pagination,
        filter: undefined
      })
      this.$q.loading.hide();
    }).catch(() => {
      this.$q.loading.hide();
    });
  },
  data() {
    return {
      data: [],
      unit_id: '',
      visibleColumns: ['last_name', 'second_lastname', 'name', 'accion', 'detail', 'fecha'],
      loading: false,
      deleteOption: '',
      confirmDelete: false,
      pagination: {
        page: 1,
        rowsPerPage: 6,
        rowsNumber: ''
      },
      sortable: 'asc',
      search: '',
      separator: 'vertical',
      columns: [
        {
          name: 'last_name', align: 'center', label: 'Primer apellido', field: 'last_name', sortable: false
        },
        {
          name: 'second_lastname', align: 'center', label: 'Segundo apellido', field: 'second_lastname', sortable: false
        },
        {
          name: 'name', align: 'center', label: 'Nombre', field: 'name', sortable: false
        },
        {
          name: 'accion', align: 'center', label: 'Acción', field: 'accion', sortable: false
        },
        {
          name: 'detail', align: 'center', label: 'Detalle', field: 'detail', sortable: false
        },
        {
          name: 'fecha', align: 'center', label: 'Fecha', field: 'fecha', sortable: false
        },
      ],
    };
  },
  computed: {
    canEdit: {
      get() { return this.canShow('users-edit') }
    },
    canView: {
      get() { return this.canShow('users-view') }
    },
    canDelete: {
      get() { return this.canShow('users-delete') }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
  },
  methods: {
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination
      const { search } = this
      const { sortable } = this
      this.loading = true
      LogBookService.index({ params: { page, rowsPerPage, search, sortable } }).then((pagination) => {
        this.data = pagination.data
        this.pagination.rowsPerPage = pagination.per_page
        this.pagination.page = pagination.current_page
        this.pagination.rowsNumber = pagination.total
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    },
  },
};
</script>
