<template>
  <q-card style="width: 100%">
    <q-item>
      <q-btn
        flat
        round
        color="primary"
        icon="fas fa-arrow-left"
        @click="$router.back()"
      >
        <q-tooltip>Volver</q-tooltip>
      </q-btn>
      <q-item-section avatar>
          <q-icon size="md" name="fas fa-project-diagram"/>
      </q-item-section>
      <q-item-section>
        <q-item-label>Agregar unidad</q-item-label>
        <q-item-label caption>Ingrese los siguientes valores</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator />
    <div class="q-pa-sm">
      <q-card-section>
        <q-form ref="form" @submit.prevent="() => {}" class="q-gutter-lg">
          <div class="row q-col-gutter-sm">
            <div class="col-xs-12 col-sm-12 col-md-3">
              <q-input square outlined disable v-model="user.entity" label="Entidad"/>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-input :rules="[$rules.required($i18n.t('requiredInput'))]" v-model="form.name" square outlined label="Nombre" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
              <q-input :rules="[$rules.required($i18n.t('requiredInput'))]" v-model="form.acronym" square outlined label="Acrónimo" />
            </div>
          </div>
        </q-form>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
        <q-btn flat @click="store()" label="Guardar" color="primary" />
      </q-card-actions>
    </div>
  </q-card>
</template>

<script>

import * as DataService from 'src/services/admin/catalogs/UnitService';
import { notifySuccess } from 'src/utils/notify';
import { cleanStr } from 'boot/customFunctions';

export default {
  data() {
    return {
      form: {
        entity_id: '',
        name: '',
        acronym: '',
        code: '',
        nomenclature: '',
      },
      options: [
        '1', '2', '3', '4'
      ]
    };
  },
  created() {
    const catalogsConfiguration = { units: true };
    this.$q.loading.show();
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      this.$q.loading.hide();
    });
  },
  methods: {
    store() {
      this.$refs.form.validate().then((valid) => {
        if (valid) {
          const form = { ...this.form };
          form.entity_id = this.user.entity_id;
          this.$q.loading.show();
          DataService.store(form).then(() => {
            notifySuccess();
            this.$router.push('/admin/cat/units');
          }).catch((err) => {
            alert(err)
          }).finally(() => {
            this.$q.loading.hide();
          })
        } else {
          this.submitting = false;
        }
      });
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    nameD() {
      return this.form.name
    },
    acronymD() {
      return this.form.acronym
    }
  },
  watch: {
    nameD(cad) {
      this.form.name = cleanStr(cad)
    },
    acronymD(cad) {
      this.form.acronym = cleanStr(cad)
    }
  },
}
</script>
