<template>
  <q-card style="width: 100%">
    <q-item>
      <q-btn
        flat
        round
        color="primary"
        icon="fas fa-arrow-left"
        @click="$router.back()"
      >
        <q-tooltip>Volver</q-tooltip>
      </q-btn>
      <q-item-section avatar>
          <q-icon size="md" name="fas fa-project-diagram"/>
      </q-item-section>
      <q-item-section>
        <q-item-label>Agregar unidad</q-item-label>
        <q-item-label caption>Ingrese los siguientes valores</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator />
    <div class="q-pa-sm">
      <q-card-section>
        <q-form ref="form" @submit.prevent="() => {}" class="q-gutter-lg">
          <div class="row q-col-gutter-sm">
            <div class="col-xs-12 col-sm-12 col-md-3">
              <q-input square outlined disable v-model="user.entity" label="Entidad"/>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-input :rules="[$rules.required($i18n.t('requiredInput'))]" v-model="form.name" maxlength="155" square outlined label="Nombre" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
              <q-input :rules="[$rules.required($i18n.t('requiredInput'))]" v-model="form.acronym" maxlength="10" square outlined label="Acrónimo" />
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-3">
              <q-input :rules="[$rules.required($i18n.t('requiredInput'))]" v-model="form.code" square outlined label="Código" />
            </div> -->
            <!-- <div class="col-xs-12 col-sm-12 col-md-4">
              <q-input v-model="form.nomenclature" square outlined label="Nomenclatura" />
            </div> -->
            <!-- <div class="col-xs-12 col-sm-12 col-md-6">
              <q-select clearable outlined v-model="form.admin_id" option-value="id" option-label="name" map-options emit-value :options="catalogs.unit_position" label="Administrador" :disable="disabled"/>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-6">
              <q-select clearable outlined v-model="form.parent_unit_id" option-value="id" option-label="name" map-options emit-value :options="catalogs.units" label="Unidad Padre"/>
            </div>
          </div>
        </q-form>
      </q-card-section>
    <q-card-actions align="right">
      <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
      <q-btn flat @click="update()" label="Guardar" color="primary" />
    </q-card-actions>
  </div>
</q-card>
</template>

<script>
import { notifySuccess } from 'src/utils/notify';
import { cleanStr } from 'boot/customFunctions';
import * as DataService from 'src/services/admin/catalogs/UnitService';

export default {
  data() {
    return {
      cantEdit: true,
      form: {
        entity_id: '',
        name: '',
        acronym: '',
        code: '',
        nomenclature: '',
        // admin_id: '',
        parentUnit_id: '',
      },
      initialUnits: []
    };
  },
  created() {
    const idUnit = this.$route.params.id;
    const catalogsConfiguration = { units: true, unit_position: true, id_unit: idUnit };
    const { id } = this.$route.params
    this.$q.loading.show();
    this.cantEdit = !this.canShow('catalogs-edit')
    this.$store.dispatch('catalogs/setCatalogs', { params: catalogsConfiguration }).then(() => {
      DataService.edit(id).then((data) => {
        this.form = data;
        this.$q.loading.hide();
      }).catch(() => {
        this.$q.loading.hide();
      })
      this.$q.loading.hide();
    });
    // this.initialUnits = this.catalogs.units.filter((obj) => obj.id !== this.$route.params.id)
    // console.log(typeof (this.$route.params.id))
    /* const fn = this.catalogs.units.length
    for (let i = 0; i <= fn; i += 1) {
      if (this.catalogs.units[i].id === this.$route.params.id) {
        const idx = i;
        console.log(this.catalogs.units[idx]);
        this.catalogs.units.splice(idx, 1);
      }
    } */
  },
  methods: {
    update() {
      const form = { ...this.form };
      const { id } = this.$route.params
      this.$refs.form.validate().then((valid) => {
        if (valid) {
          this.$q.loading.show();
          DataService.update(form, id).then(() => {
            notifySuccess();
            this.$q.loading.hide();
            this.$router.push('/admin/cat/units');
          }).catch((err) => {
            this.$q.loading.hide();
            alert(err)
          })
        } else {
          this.submitting = false;
        }
      });
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
    canEdit() {
      return !this.cantEdit;
    },
    nameD() {
      return this.form.name
    },
    acronymD() {
      return this.form.acronym
    }
  },
  watch: {
    nameD(cad) {
      this.form.name = cleanStr(cad)
    },
    acronymD(cad) {
      this.form.acronym = cleanStr(cad)
    }
  },
}
</script>
