<template>
  <div>
    <br />
    <q-table
      :data="data"
      :columns="columns"
      separator="vertical"
      :pagination.sync="pagination"
      :loading="loading"
      @request="onRequest"
      :filter="search"
      :visible-columns="visibleColumns"
    >
      <template v-slot:top-left>
        <q-select
          v-model="visibleColumns"
          multiple
          outlined
          dense
          options-dense
          :display-value="$q.lang.table.columns"
          emit-value
          map-options
          :options="columns"
          option-value="name"
          options-cover
          style="min-width: 150px"
        />
      </template>
      <template v-slot:top-right>
        <q-input
          borderless
          dense
          debounce="400"
          v-model="search"
          placeholder="Buscar"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="name" :props="props">
            {{ props.row.name }}
          </q-td>
          <q-td key="acronym" :props="props">
            {{ props.row.acronym }}
          </q-td>
          <!-- <q-td key="code" :props="props">
            {{ props.row.code }}
          </q-td>
          <q-td key="nomenclature" :props="props">
            {{ props.row.nomenclature }}
          </q-td> -->
          <q-td key="actions" :props="props">
            <q-btn-group>
              <q-btn
                v-if="can('units-edit')"
                round
                size="sm"
                @click="edit(props.row.id)"
                color="primary"
                icon="fas fa-edit"
              />
              <!-- <q-btn v-if="can('units-delete')" round size="sm" @click="confirm = true; deleteOption=props.row.id;"  color="negative" icon="fas fa-trash"/> -->
            </q-btn-group>
          </q-td>
        </q-tr>
      </template>
      <template v-slot:no-data="{}">
        <div class="full-width row flex-center q-gutter-sm">
          <q-icon size="2em" name="sentiment_dissatisfied" />
          <span> No se encontraron resultados </span>
        </div>
      </template>
    </q-table>
    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">¿Seguro que desea eliminar este registro?</span>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn
            flat
            label="Eliminar"
            color="red"
            @click="destroy(deleteOption)"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { notifySuccess, notifyAlert } from 'src/utils/notify';
import * as DataService from 'src/services/admin/catalogs/UnitService';

export default {
  components: {},
  mounted() {
    // get initial data from server (1st page)
    this.onRequest({
      pagination: this.pagination,
      filter: undefined,
    });
  },
  data() {
    return {
      deleteOption: '',
      confirm: false,
      data: [],
      loading: false,
      pagination: {
        page: 1,
        rowsPerPage: 5,
        rowsNumber: '',
      },
      search: '',
      separator: 'vertical',
      visibleColumns: ['name', 'acronym', 'code', 'nomenclature', 'actions'],
      columns: [
        {
          name: 'name',
          align: 'center',
          label: 'Nombre',
          field: 'name',
        },
        {
          name: 'acronym',
          align: 'center',
          label: 'Acrónimo',
          field: 'acronym',
        },
        /* {
          name: 'code', align: 'center', label: 'Código', field: 'code'
        },
        {
          name: 'nomenclature', align: 'center', label: 'Nomenclatura', field: 'nomenclature'
        }, */
        {
          name: 'actions',
          align: 'center',
          label: 'Acciones',
          field: 'id',
        },
      ],
    };
  },
  computed: {
    canEdit: {
      get() {
        return this.canShow('catalogs-edit');
      },
    },
    canView: {
      get() {
        return this.canShow('catalogs-view');
      },
    },
    canDelete: {
      get() {
        return this.canShow('catalogs-delete');
      },
    },
  },
  methods: {
    edit(id) {
      this.$router.push(`/admin/cat/units/${id}/edit`);
    },
    destroy(id) {
      DataService.destroy(id)
        .then(() => {
          this.confirm = false;
          this.onRequest({
            pagination: this.pagination,
            filter: undefined,
          });
          notifySuccess();
          this.$router.push('/admin/cat/units');
        })
        .catch((err) => {
          this.confirm = false;
          notifyAlert(err);
        })
        .finally(() => {
          this.$q.loading.hide();
        });
    },
    onRequest(props) {
      props.pagination.rowsPerPage = props.pagination.rowsPerPage === 0 ? props.pagination.rowsNumber : props.pagination.rowsPerPage
      const { page, rowsPerPage } = props.pagination
      const { search } = this
      this.loading = true
      DataService.index({ params: { page, rowsPerPage, search } }).then((pagination) => {
        this.data = pagination.data
        this.pagination.rowsPerPage = pagination.per_page
        this.pagination.page = pagination.current_page
        this.pagination.rowsNumber = pagination.total
        this.loading = false
      }).catch((err) => {
        console.log(err)
        this.loading = false
      })
    },
  },
};
</script>
