<template>
  <div>
    <div class="row q-col-gutter-sm">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <q-card flat>
          <div class="text-h6">
            <q-btn class="float-right" round size="sm" @click="dialogPeople=true; optionDialog='to'" outline color="primary" icon="fas fa-plus"/>
          </div>
          <div class="row q-col-gutter-sm q-mt-sm">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="text-h6 q-ml-md">
                <q-icon size="sm" color="primary" name="mail"/> Enviar a
              </div>
              <div
                class="row q-col-gutter-sm q-mt-sm items-center"
                v-for="(receiver, index) in toPeople"
                :key="receiver.id">
                <div class="col-10">
                  <div class="row">
                    <div class="col-3 text-center">
                      <q-avatar size="30px">
                        <q-img src="~assets/img/user.png" style="width:30px;height:30px;"/>
                      </q-avatar>
                    </div>
                    <div class="col-7 text-subtitle1">
                      {{ `${receiver.entity_name} / ${receiver.name}` }}
                    </div>
                  </div>
                </div>
                <q-btn round dense flat icon="close" v-if="(index !== 0 && reply) || (!reply)" @click="Delete(receiver.id)"/>
              </div>
            </div>
          </div>
        </q-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <q-card flat>
          <div class="text-h6">
            <q-btn class="float-right" round size="sm" @click="dialogPeople=true;optionDialog='cpp'" outline color="primary" icon="fas fa-plus"/>
          </div>
          <div class="row q-col-gutter-sm q-mt-sm">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="text-h6 q-ml-md">
                <q-icon size="sm" color="primary" name="fas fa-copy"/> Con copia para
              </div>
              <div
                class="row q-col-gutter-sm q-mt-sm items-center"
                v-for="(user) in ccpPeople"
                :key="user.id">
                <div class="col-10">
                  <div class="row">
                    <div class="col-3 text-center">
                      <q-avatar size="30px">
                        <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
                        <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                      </q-avatar>
                    </div>
                    <div class="col-7 text-subtitle1">
                      {{ `${user.entity_name} / ${user.name}` }}
                    </div>
                  </div>
                </div>
                <q-btn round dense flat icon="close" @click="DeleteCcp(user.id)"/>
              </div>
            </div>
          </div>
        </q-card>
      </div>
    </div>
    <q-dialog v-model="dialogPeople" persistent>
      <q-card style="width: 450px">
        <q-card-section class="q-pb-none">
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="mail"/> Agregar destino
          </div>
        </q-card-section>
        <q-separator/>
        <q-card-section class="q-pt-none">
          <q-form
            ref="sendToform"
          >
            <q-select outlined v-model="entity"
              class="q-mt-lg"
              :options="catalogs.cat_external_entities"
              option-value="id,name"
              option-label="name"
              label="Seleccione Entidad"
              emit-value
              :rules="[$rules.required($i18n.t('requiredInput'))]"
              map-options />
            <br/>
            <q-input
              v-model="destiny.name"
              outlined
              label="Nombre destinatario"
              :rules="[$rules.required($i18n.t('requiredInput'))]"
            />
          </q-form>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn color="primary" label="Cancelar" v-close-popup/>
          <q-btn color="primary" label="Agregar" @click="Add()"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>

export default {
  name: 'SendTo',
  props: {
    toPeople: Array,
    ccpPeople: Array,
    reply: Boolean,
  },
  data() {
    return {
      destiny: {
        id: 0,
        entity_id: '',
        entity_name: '',
        name: '',
      },
      entity: '',
      dialogPeople: false
    }
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  methods: {
    Add() {
      this.$refs.sendToform.validate().then((valid) => {
        const option = this.optionDialog
        this.destiny.id = parseInt(this.destiny.id, 10)
        this.destiny.id += 1
        this.destiny.entity_id = this.entity.id
        this.destiny.entity_name = this.entity.name
        if (valid) {
          if (option === 'to') {
            this.toPeople.push({ ...this.destiny })
          } else if (option === 'cpp') {
            this.ccpPeople.push({ ...this.destiny })
          }
          this.submitting = false;
          this.dialogPeople = false
          this.destiny.entity_id = '';
          this.destiny.entity_name = '';
          this.destiny.name = '';
          this.entity = '';
        }
      })
    },
    Delete(id) {
      if (id >= 1) {
        const index = this.toPeople.findIndex((x) => x.id === id);
        this.toPeople.splice(index, 1)
        this.id -= 1
      }
    },
    DeleteCcp(id) {
      if (id >= 1) {
        const index = this.ccpPeople.findIndex((x) => x.id === id);
        this.ccpPeople.splice(index, 1)
        this.id -= 1
      }
    },
  },
}
</script>
