<template>
<q-card style="width: 100%">
  <q-item>
    <q-item-section avatar>
        <q-icon size="md" name="fas fa-users"/>
    </q-item-section>
    <q-item-section>
      <q-item-label>Registro de Prioridad </q-item-label>
      <q-item-label caption>
        Ingrese los siguientes campos
      </q-item-label>
    </q-item-section>
  </q-item>
  <q-separator />
  <div class="q-pa-sm">
    <q-card-section>
      <q-form ref="form" @submit.prevent="() => {}">
        <div class="row q-col-gutter-sm">
          <div class="col-xs-12 col-sm-12 col-md-6">
          <q-input v-model="form.name" square outlined label="Tipo de Prioridad" />
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <q-input type="number" v-model.number="form.days" square outlined label="Días de atención" />
          </div>
        </div>
      </q-form>
    </q-card-section>
    <q-card-actions align="right">
      <q-btn flat @click="$router.back()" label="Cancelar" color="primary" v-close-popup />
      <q-btn flat @click="updatePriority()" label="Guardar" color="primary" />
    </q-card-actions>
  </div>
</q-card>
</template>

<script>
import { notifySuccess, notifyAlert } from 'src/utils/notify';
import * as PriorityService from 'src/services/admin/catalogs/PriorityService';

export default {
  data() {
    return {
      form: {
        name: '',
        days: '',
      },
    };
  },
  created() {
    const { id } = this.$route.params
    this.$q.loading.show();
    PriorityService.edit(id).then((data) => {
      this.form = data;
      this.$q.loading.hide();
    }).catch(() => {
      this.$q.loading.hide();
    })
    this.$q.loading.hide();
  },
  methods: {
    updatePriority() {
      const form = { ...this.form };
      const { id } = this.$route.params
      PriorityService.update(form, id).then(() => {
        notifySuccess('Se ha actualizado la prioridad correctamente');
        this.$router.push('/admin/cat/priorities');
      }).catch((err) => {
        notifyAlert(err);
        console.log(err)
      })
    },
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
  },
};
</script>
