<template>
  <section>
    <div class=" col-xs-12 col-sm-6 col-md-3">
      <q-input rounded filled clearable bottom-slots v-model="commentary.writedComment" label="Comentarios">
        <template v-slot:before>
          <q-avatar>
            <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
          </q-avatar>
        </template>
      </q-input>
    </div>
  </section>
</template>

<script>
const today = new Date();

export default {
  data() {
    return {
      comment: '',
      day: today.getDate(),
      month: today.getMonth() + 1,
      year: today.getFullYear(),
      hour: today.getHours(),
      minutes: today.getMinutes(),
      seconds: today.getSeconds(),
      items: [],
      itemId: 0,
      itemElement: '',
    }
  },
  props: {
    commentary: Object,
  },
  computed: {
    reception: {
      get() {
        return this.$store.state.reception;
      },
      set(val) {
        this.$store.commit('reception/updateReception', val);
      },
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  methods: {
    addCommentary() {
      this.commentary.writedComment = this.comment;
    }
  }
}
</script>
