<template>
  <div class="q-gutter-md">
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-btn
            flat
            round
            color="primary"
            icon="fas fa-arrow-left"
            @click="$router.back()"
          >
            <q-tooltip>Volver</q-tooltip>
          </q-btn>
          <q-icon
            class="q-ml-none"
            right
            name="fas fa-text-width"
            style="font-size: 20px"
          />
          Estructura de folios / {{ this.unit }}
        </div>
      </q-card-section>
    </q-card>
    <div>
      <q-card>
        <q-separator color="primary" />
        <q-card-section v-if="this.data != ''" class="bg-grey-3">
          <div class="text-subtitle2 row justify-center">
            Estructura actual: {{ this.data }}
          </div>
        </q-card-section>
        <q-separator color="primary" />
        <q-card-section style="height: 10vh">
          <div
            v-if="this.folio_structure === ''"
            class="text-h5 text-grey-5 text-left"
          >
            ESTRUCTURA
          </div>
          <div class="text-h5 text-left">{{ folio_structure }}</div>
        </q-card-section>
        <q-separator color="primary" />
        <q-card-section class="bg-grey-3">
          <div class="row q-col-gutter-sm">
            <div class="col-12 text-h6 row justify-center">PRINCIPALES</div>
            <div class="col-1"></div>
            <div class="col-2">
              <q-btn
                class="full-width glossy"
                rounded
                color="white"
                text-color="black"
                @click="btnAccion('DEPENDENCIA')"
                :disable="dependenciaBtn === true"
              >
                DEPENDENCIA
              </q-btn>
            </div>
            <div class="col-2">
              <q-btn
                class="full-width glossy"
                rounded
                color="white"
                text-color="black"
                @click="btnAccion('UNIDAD')"
                :disable="unidadBtn === true"
              >
                UNIDAD
              </q-btn>
            </div>
            <div class="col-2">
              <q-btn
                class="full-width glossy"
                rounded
                color="white"
                text-color="black"
                @click="btnAccion('CONSECUTIVO')"
                :disable="consecutivoBtn === true"
              >
                CONSECUTIVO
              </q-btn>
            </div>
            <div class="col-2">
              <q-btn
                class="full-width glossy"
                rounded
                color="white"
                text-color="black"
                @click="btnAccion('AÑO')"
                :disable="anioBtn === true"
              >
                AÑO
              </q-btn>
            </div>
            <div class="col-2">
              <q-btn
                class="full-width glossy"
                rounded
                color="white"
                text-color="black"
                @click="btnAccion('DOCUMENTO')"
                :disable="docBtn === true"
              >
                DOCUMENTO
              </q-btn>
            </div>
            <!-- <div class="col-2">
              <q-btn
                class="full-width glossy"
                rounded
                color="white"
                text-color="black"
                @click="btnAccion('CONSECUTIVO_DOCUMENTO')"
                :disable="consecutiveDocBtn === true"
              >
                CONSECUTIVO DOCUMENTO
              </q-btn>
            </div> -->
            <div class="col-12 text-h6 row justify-center">SEPARADORES</div>
            <div
              v-for="(separator, index) in botones"
              :key="index"
              class="col-3"
            >
              <q-btn
                class="full-width text-h6 glossy"
                rounded
                color="white"
                text-color="black"
                @click="btnAccion(separator)"
              >
                {{ separator }}
              </q-btn>
            </div>
          </div>
          <br />
        </q-card-section>
      </q-card>
      <br />
      <div class="row justify-end q-col-gutter-sm">
        <div>
          <q-btn
            class="full-width glossy"
            align="right"
            label="Limpiar"
            color="white"
            text-color="black"
            @click="clean()"
          >
          </q-btn>
        </div>
        <div>
          <q-btn
            v-if="can('foliosStructure-edit')"
            class="right full-width glossy"
            align="right"
            label="Guardar"
            color="primary"
            @click="store()"
          >
          </q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { notifySuccess, notifyError, notifyAlert } from 'src/utils/notify';
import * as FolioStructureService from 'src/services/admin/catalogs/FolioStructureService';

export default {
  data() {
    return {
      botones: ['/', '.', '-', '_'],
      btnResultado: '',
      arrayCalculos: '',
      resultado: '',
      actual: '',
      isNumber: '',
      folio_structure: '',
      dependenciaBtn: false,
      unidadBtn: false,
      consecutivoBtn: false,
      anioBtn: false,
      docBtn: false,
      consecutiveDocBtn: false,
      separatorAlert: false,
      data: '',
      unit: '',
    };
  },
  created() {
    const { search } = this;
    const { id } = this.$route.params;
    this.loading = true;
    FolioStructureService.index({ params: { search, id } })
      .then((data) => {
        this.data = data.folio_structure;
        this.unit = data.name;
      })
      .catch((err) => {
        console.log(err);
        this.loading = false;
      });
  },
  methods: {
    onRequest(props) {
      const { page, rowsPerPage } = props.pagination;
      const { search } = this;
      this.loading = true;
      FolioStructureService.index({ params: { page, rowsPerPage, search } })
        .then((pagination) => {
          this.data = pagination.data;
          this.pagination.rowsPerPage = pagination.per_page;
          this.pagination.page = pagination.current_page;
          this.pagination.rowsNumber = pagination.total;
          this.loading = false;
        })
        .catch((err) => {
          console.log(err);
          this.loading = false;
        });
    },
    btnAccion(valor) {
      this.actual = valor;
      this.folio_structure += valor;
      if (valor === 'DEPENDENCIA') {
        this.dependenciaBtn = true;
      } else if (valor === 'UNIDAD') {
        this.unidadBtn = true;
      } else if (valor === 'CONSECUTIVO') {
        this.consecutivoBtn = true;
      } else if (valor === 'AÑO') {
        this.anioBtn = true;
      } else if (valor === 'DOCUMENTO') {
        this.docBtn = true;
      } else if (valor === 'CONSECUTIVO_DOCUMENTO') {
        this.consecutiveDocBtn = true;
      }
    },
    clean() {
      this.folio_structure = '';
      this.dependenciaBtn = false;
      this.unidadBtn = false;
      this.consecutivoBtn = false;
      this.anioBtn = false;
      this.docBtn = false;
      this.consecutiveDocBtn = false;
      this.separatorAlert = false;
    },
    store() {
      const { id } = this.$route.params;
      if (this.folio_structure !== '') {
        FolioStructureService.store({
          folio_structure: this.folio_structure,
          unit_id: id,
        })
          .then(() => {
            notifySuccess('Estructura de folio guardada correctamente');
            this.$router.push('/admin/cat/folioStructure');
          })
          .catch((err) => {
            notifyError(err);
          });
      } else {
        notifyAlert('Ninguna estructura generada');
      }
    },
  },
};
</script>
