<template>
  <div class="q-gutter-md">
    <q-card>
      <q-card-section>
        <div class="text-h6">
          <q-btn
            flat
            round
            color="primary"
            icon="fas fa-arrow-left"
            @click="$router.back()"
          >
            <q-tooltip>Volver</q-tooltip>
          </q-btn>
          <q-icon
            class="q-ml-none"
            right
            name="fas fa-text-width"
            style="font-size: 20px"
          />
          Estructura de folios
        </div>
      </q-card-section>
    </q-card>
    <!-- Tabla de Unidades -->
    <Units />
  </div>
</template>

<script>
import Units from './Table';

export default {
  components: {
    Units,
  },
};
</script>
