<template>
  <q-card style="width: 700px; max-width: 80vw; height: 500px; max-height:65vw">
    <q-card-section class="bg-primary text-white row items-center">
      <q-icon name="fas fa-stamp" color="secondary" :size="'lg'"/>
      <span class="q-ml-md text-h6">Acuse de recibo</span>
    </q-card-section>
    <q-separator/>
    <q-card-section>
      <q-card bordered flat class="bg-grey-4">
        <q-card-section horizontal>
          <q-card-section>
            <div class="text-h6">{{ acuseInfo.folio }}</div>
            <div class="text-subtitle2">{{ acuseInfo.position_name }} / {{ acuseInfo.people_name }} {{ acuseInfo.last_name }} {{ acuseInfo.second_lastname }}</div>
          </q-card-section>

          <q-separator vertical inset/>

          <q-card-section>
            <div class="text-body2 q-mb-sm">Prioridad de envío: {{ acuseInfo.priority }}</div>
            <div class="text-body2">Estatus: {{ acuseInfo.affair_status_name }}</div>
          </q-card-section>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <div class="text-h6">Asunto:</div>
          <div class="text-body1"> {{ acuseInfo.subject }}</div>
            <div class="text-caption">
              Enviado: {{ new Date(acuseInfo.date_send).getDate() }}/{{ (new Date(acuseInfo.date_send).getMonth()+1) }}/{{ new Date(acuseInfo.date_send).getFullYear() }}
              a las: {{ new Date(acuseInfo.date_send).getHours() }}:{{ (new Date(acuseInfo.date_send).getMinutes()).toString().length === 1 ? `0${(new Date(acuseInfo.date_send).getMinutes()).toString()}` : new Date(acuseInfo.date_send).getMinutes()}} hrs
            </div>
        </q-card-section>
        <q-separator/>
        <!-- <q-card-section>
          <div v-for="receivers in history" :key="receivers">
            <div v-if="receivers.receiver.length > 0" class="text-h6">Leído por:</div>
            <q-list separator>
              <q-item v-for="(receiver,index) in receivers.receiver.slice(0, receivers.receiver.length)" :key="receiver">
                <q-item-section v-if="receivers.receiver[index].affair_seen === acuseInfo.id && receivers.receiver[index].seen_date != null ">
                  <q-item-label class="text-subtitle2">{{ receivers.receiver[index].receiver_name }} {{ receivers.receiver[index].receiver_lastname }} {{ receivers.receiver[index].receiver_second_lastname }}</q-item-label>
                  <q-item-label class="text-caption">{{ receivers.receiver[index].position_name }}</q-item-label>
                  <q-item-label class="text-caption">
                    Leído: {{ new Date(receivers.receiver[index].seen_date).getDate() }}/{{ new Date(receivers.receiver[index].seen_date).getMonth()+1 }}/{{ new Date(receivers.receiver[index].seen_date).getFullYear() }}
                    a las: {{ new Date(receivers.receiver[index].seen_date).getHours() }}:{{ new Date(receivers.receiver[index].seen_date).getMinutes() }} hrs
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-card-section> -->
      </q-card>
    </q-card-section>

    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-card>
</template>

<script>
import * as AffairReceptionResponseService from 'src/services/receipt/AffairReceptionResponseService';

export default {
  props: {
    acuseInfo: Object,
  },
  data() {
    return {
      history: [],
      actionTab: 'info',
      officeDialog: false,
      src: '',
    }
  },
  methods: {
    renderpdf(id) {
      this.src = `${this.$axios.defaults.baseURL}/api/files/show/pdf/${id}`;
      this.officeDialog = true;
    },
  },
  created() {
    console.log('acuseInfo: ', this.acuseInfo.affairs_chain)
    AffairReceptionResponseService.getAffairChain(this.acuseInfo.affairs_chain).then((data) => {
      this.history = data
    })
  },
}
</script>
