<template>
  <q-dialog v-model="mostrar">
    <q-card>
      <q-card-section class="row items-center">
        <template>
          <div>
            <div class="text-h6">
              <q-icon
                size="sm"
                color="primary"
                name="fas fa-file-signature"
              />
              Oficio a enviar {{ this.formFolio.folio }}
            </div>
            <br/>
            <div class="row q-col-gutter-md">
            </div>
          </div>
        </template>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="Cancelar" color="primary" v-close-popup/>
        <q-btn @click="signProcess()" label="Aceptar" color="green"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { notifySuccess, notifyAlert } from 'src/utils/notify';
import * as InternalAffairService from 'src/services/InternalAffairService';
import * as OutputAffairService from 'src/services/OutputAffairService';

export default {
  props: {
    mostrar: Boolean,
    form2: Object,
    formFolio: Object,
    affairType: String
  },
  data() {
    return {
      cerFile: {
        files: [],
      },
      keyFile: {
        files: [],
      },
      isPwd: true,
      passwordPrivateKey: '',
      rfc: '',
    }
  },
  computed: {
    user: {
      get() {
        return this.$store.state.user.information;
      },
    },
  },
  created() {
  },
  methods: {
    checkCer() {
      const cerData = {
        codigo: '',
        mensaje: '',
        rfc: '',
        serial: '',
      };
      /* eslint-disable */
      PKI.SAT.FielUtil.leeCertificado(this.cerFile, (errCode, result) => {
        console.log(errCode);
        if (errCode !== 0) {
          cerData.codigo = 400;
          cerData.mensaje = PKI.SAT.FielUtil.obtenMensajeError(errCode);
          console.log(cerData.mensaje);
          return;
        }
        let name = result.getSubjectString().substring(1);
        this.name = name.substring(name.indexOf('=') + 1, name.indexOf('/'));
        cerData.codigo = 200;
        cerData.rfc = result.getRFC();
        cerData.serial = result.getSerialNumberHex();
        this.rfc = cerData.rfc;
        this.serial = cerData.serial;
      });
    },
    signProcess() {
      const positionId = window.sessionStorage.getItem("position_id");
      const {id} = this.$route.params;
      this.$q.loading.show({message: 'Validando folio'});
      const type = this.form2.senders >= 1 ? 'toSign' : false;
      let iframe = document.getElementById('collabora-online-viewer');
      iframe = iframe.contentWindow || iframe.contentDocument.document || iframe.contentDocument;
      console.log(this.form2.doc_type_id);
      iframe.postMessage(
        JSON.stringify({
          MessageId: 'Action_Save',
          Values: {
            DontTerminateEdit: false,
            DontSaveIfUnmodified: true,
            Notify: true,
            ExtendedData: '',
          },
        }),
        "*"
      );
      let signData = {
        codigo: '',
        mensaje: '',
        chainSigned: '',
      };
      let fielData = {
        key: this.keyFile,
        pass: this.passwordPrivateKey,
        cer: this.cerFile,
        rfc: this.rfc,
      };
          if (this.affairType == 'internal') {
            InternalAffairService.update({
                type: type,
                affair_status_id: 3,
                form_folio: {...this.formFolio},
                autographSignature: true,
                position_id: positionId,
                doc_type_id: this.form2.doc_type_id
              },
              id
            ).then(() => {

              notifySuccess("Asunto enviado");
              this.$router.push("/outbox");
              this.$q.loading.hide();
            })
              .catch((err) => {
                this.$q.loading.hide();
                notifyAlert(err.response.data.message);
                if (err.response.data.type === 'cancelled') {
                  this.$router.push("/outbox");
                }
              });
          }
          if (this.affairType == 'output') {
            OutputAffairService.update({
              affair_status_id: 3,
              autographSignature: true,
              form_folio: {...this.formFolio},
              position_id: positionId,
              doc_type_id: this.form2.doc_type_id
            }, id).then(() => {
              this.$q.loading.show({message: 'Enviando documento.'});
              notifySuccess("Asunto enviado");
              this.$router.push("/outbox");
              this.$q.loading.hide();
            }).catch((err) => {
              this.$q.loading.hide();
              notifyAlert(err.response.data.message);
            });
          }
          this.DialogsignatureAutograph = false;
        }
  }
}
</script>
