<template>
  <q-card style="width: 800px; max-width: 80vw;">
    <q-form ref="form" @submit.prevent="() => {}">
      <q-card-section class="bg-primary text-white row items-center row items-center">
        <q-icon name="fas fa-ban" color="secondary" :size="'lg'"/>
        <q-space/>
        <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar"/>
      </q-card-section>
      <q-separator/>
      <q-card-section>
        <div class="">
          <q-card flat bordered>
            <q-card-section horizontal>
              <q-card-section class="q-pt-xs">
                <q-card flat bordered v-if="originAffair">
                  <div v-if=" originAffair.folio == null ">
                    <div class="text-subtitle2 q-mt-sm q-mb-xs">
                      <q-icon size="sm" name="far fa-file-alt"/>
                      Folio: Aún no se genera el Folio
                    </div>
                    <div class="text-text-body2 q-mt-sm q-mb-xs">Tipo de documento: {{
                        originAffair.doc_type_name
                      }}
                    </div>
                    <div class="text-text-body2 q-mt-sm q-mb-xs">Folio de control: {{
                        originAffair.folio_control
                      }}
                    </div>
                    <div class="text-text-body2 q-mt-sm q-mb-xs">Prioridad: {{ originAffair.priority_name }}</div>
                  </div>
                  <div v-if=" originAffair.id != null ">
                    <div class="text-subtitle2 q-mt-sm q-mb-xs">
                      <q-icon size="sm" name="far fa-file-alt"/>
                      Folio: {{ originAffair.folio }}
                    </div>
                    <div class="text-text-body2 q-mt-sm q-mb-xs">Tipo de documento: {{
                        originAffair.doc_type_name
                      }}
                    </div>
                    <div class="text-text-body2 q-mt-sm q-mb-xs">Folio de control: {{
                        originAffair.folio_control
                      }}
                    </div>
                    <div class="text-text-body2 q-mt-sm q-mb-xs">Prioridad: {{ originAffair.priority_name }}</div>
                  </div>

                  <q-separator/>
                  <q-card-section class="q-pt-xs">
                    <div class="text-subtitle2 q-mt-sm q-mb-xs">Fecha del documento: {{ originAffair.creation_date }}
                    </div>
                  </q-card-section>
                </q-card>
              </q-card-section>
              <q-card-section class="q-pt-xs">
                <q-card flat v-if="originAffair">
                  <div>
                    <h5 class="text-text-body2 q-mt-sm q-mb-xs">¿Estas seguro que deseas cancelar el asunto?</h5>
                    <div class="text-text-body2 q-mt-sm q-mb-xs">Motivo</div>
                    <div class="col-xs-11 col-sm-10 col-10">
                      <q-input
                        v-model="form.motive"
                        outlined
                        label="Asunto"
                        maxlength="255"
                        :rules="[(val) => !!val || 'Este campo es obligatorio']"
                      />
                    </div>
                  </div>
                </q-card>
              </q-card-section>
            </q-card-section>
            <q-separator/>
          </q-card>
        </div>
      </q-card-section>
    </q-form>
    <q-card-actions class="float-right">
      <q-btn @click="cancelAffair()" label="Si, cancelar"/>
      <q-btn v-close-popup label="Regresar"/>
    </q-card-actions>
  </q-card>
</template>

<script>
import * as InternalAffairService from 'src/services/InternalAffairService';
import { notifySuccess, notifyAlert } from 'src/utils/notify';
import * as ExternalAffairReceptionService from 'src/services/receipt/ExternalAffairReceptionService';

export default {
  props: {
    affairId: Number,
    typeAffair: String
  },
  data() {
    return {
      originAffair: {},
      replyAffair: {},
      officeDialog: false,
      replys: [],
      form: [],
      src: '',
      pending: ''
    }
  },
  created() {
    console.log(this.typeAffair);
    if (this.typeAffair === 'Asunto Interno') {
      InternalAffairService.getHistory(this.affairId).then((data) => {
        this.originAffair = data.affair_reply
      })
    } else if (this.typeAffair === 'Asunto externo de entrada') {
      ExternalAffairReceptionService.getHistory(this.affairId).then((data) => {
        this.originAffair = data.affair_reply
      })
    }
  },
  methods: {
    cancelAffair() {
      this.$refs.form.validate().then((valid) => {
        console.log(valid)
        if (valid) {
          if (this.typeAffair === 'Asunto Interno') {
            InternalAffairService.getHistory(this.affairId).then((data) => {
              this.cancelDialog = false
              const sended = data.replys.filter((obj) => obj.affair_status_id === 3)
              if (data.replys && sended.length > 0) {
                notifyAlert('No podemos cancelar el asunto, ya cuenta con al menos una respuesta')
              } else {
                const positionId = window.sessionStorage.getItem('position_id');
                const form = {
                  ...this.form,
                  affair_status_id: 9,
                  position_id: positionId
                };
                InternalAffairService.update(form, this.affairId).then((response) => {
                  notifySuccess('Documento cancelado')
                  if (response.success) {
                    this.$emit('reload-table', true)
                  }
                }).catch((err) => {
                  console.log(err)
                })
              }
            })
          } else if (this.typeAffair === 'Asunto externo de entrada') {
            ExternalAffairReceptionService.getHistory(this.affairId).then(() => {
              this.cancelDialog = false
              const positionId = window.sessionStorage.getItem('position_id');
              const form = {
                ...this.form,
                affair_status_id: 9,
                position_id: positionId,
                to_cancel: true
              };
              ExternalAffairReceptionService.update(form, this.affairId).then((response) => {
                if (response.success) {
                  notifySuccess('Documento cancelado')
                  this.$emit('reload-table', true)
                } else {
                  notifyAlert('Documento no cancelado')
                }
              }).catch((err) => {
                notifyAlert('Ocurrio un error al intentar cancelar el oficio')
                console.log(err)
              });
            })
          }
        } else {
          notifyAlert('Ingresa un motivo para poder cancelar')
        }
      });
    },
  }
}
</script>
