<template >
  <div>
    <q-card-section style="height: 50vh" class="scroll">
      <q-list>
        <q-item
          clickable
          v-ripple
          v-for="item in data"
          :key="item.comment.id"
        >
          <q-item-section>
            <q-item-label>
              <div class="q-mt-sm q-mb-xs text-subtitle2">
                {{ item.name }} {{ item.last_name }} {{ item.second_lastname }} / {{ item.position_name }}
              </div>
            </q-item-label>
            <div class="q-mt-sm q-mb-xs text-subtitle1">
              <q-chat-message
                :text="[item.comment]"
                avatar="~assets/img/user.png"
                text-color="white"
                bg-color="secondary"
              />
            </div>
            <q-item-label caption>
              Enviado: {{ new Date(item.created_at).getDate() }}/{{ (new Date(item.created_at).getMonth()+1) }}/{{ new Date(item.created_at).getFullYear() }}
              a las: {{ new Date(item.created_at).getHours() }}:{{ (new Date(item.created_at).getMinutes()).toString().length === 1 ? `0${(new Date(item.created_at).getMinutes()).toString()}` : new Date(item.created_at).getMinutes()}}
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <div class="row q-col-gutter-sm">
        <div bottom-slots class=" col-xs-12 col-sm-11 col-md-11">
          <q-input @keydown.enter.prevent="addComment()" rounded filled clearable bottom-slots v-model="comment" label="Comentarios">
            <template v-slot:before>
              <q-avatar>
                <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
              <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
              </q-avatar>
            </template>
          </q-input>
        </div>
        <div class=" col-xs-12 col-sm-1 col-md-1">
          <q-btn round dense flat  icon="send" @click="addComment()"/>
        </div>
      </div>
    </q-card-section>
  </div>
</template>

<script>
import * as Dataservice from 'src/services/receipt/AffairCommentService';
import { notifyAlert } from 'src/utils/notify';

export default {
  data() {
    return {
      data: [],
      comment: '',
      id: 50,
    }
  },
  methods: {
    addComment() {
      if (this.comment) {
        const messageComment = this.comment
        this.comment = ''
        const { id } = this.$route.params;
        this.$q.loading.show();
        Dataservice.addComment({ affair: id, comment: messageComment }).then(() => {
          Dataservice.index({ params: { id } }).then((comments) => {
            this.data = comments
          }).catch((err) => {
            console.log(err)
          })
        }).catch((error) => {
          notifyAlert(error.response.data.message)
        }).finally(() => {
          this.$q.loading.hide();
        })
      }
    }
  },
  created() {
    const { id } = this.$route.params;
    this.$q.loading.show();
    Dataservice.index({ params: { id } }).then((comments) => {
      this.data = comments
    }).catch((err) => {
      console.log(err)
    }).finally(() => {
      this.$q.loading.hide();
    })
  },
  computed: {
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  }
}
</script>
