<template>
  <q-dialog v-model="mostrar">
    <q-card>
      <q-card-section class="row items-center">
        <template>
          <div>
            <div class="text-h6">
              <q-icon
              size="sm"
              color="primary"
              name="fas fa-file-signature"
              />
              Ingresar datos para realizar firma electrónica - eFirma
            </div>
            <br />
            <div class="row q-col-gutter-md">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <q-file
                v-model="cerFile.files[0]"
                :rules="[(val) => !!val || 'Este campo es requerido']"
                label="Certificado (cer)"
                outlined
                accept=".cer"
                @input="checkCer"
                >
                <template v-slot:prepend>
                  <q-icon name="attach_file" />
                </template>
              </q-file>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <q-file
              v-model="keyFile.files[0]"
              :rules="[(val) => !!val || 'Este campo es requerido']"
              label="Clave privada (key)"
              outlined
              accept=".key"
              >
              <template v-slot:prepend>
                <q-icon name="attach_file" />
              </template>
            </q-file>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <q-input
            v-model="passwordPrivateKey"
            outlined
            :type="isPwd ? 'password' : 'text'"
            >
            <template v-slot:append>
              <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <q-input
          v-model="rfc"
          disable
          :rules="[(val) => !!val || 'Este campo es requerido']"
          square
          outlined
          label="RFC"
          />
        </div>
      </div>
    </div>
  </template>
</q-card-section>
<q-card-actions align="right">
  <q-btn flat label="Cancelar" color="primary" v-close-popup />
  <q-btn @click="signProcess()" label="Aceptar" color="green" />
</q-card-actions>
</q-card>
</q-dialog>
</template>

<script>
import { notifySuccess, notifyError, notifyAlert } from 'src/utils/notify';
import * as ChecksignService from 'src/services/ChecksignService';
import * as InternalAffairService from 'src/services/InternalAffairService';
import * as OutputAffairService from 'src/services/OutputAffairService';

const Blowfish = require('egoroof-blowfish');

export default {
  props: {
    mostrar: Boolean,
    form2: Object,
    formFolio: Object,
    affairType: String
  },
  data() {
    return {
      cerFile: {
        files: [],
      },
      keyFile: {
        files: [],
      },
      isPwd: true,
      passwordPrivateKey: '',
      rfc: '',
    }
  },
  computed: {
    user: {
      get() {
        return this.$store.state.user.information;
      },
    },
  },
  created() {
  },
  methods: {
    checkCer() {
      const cerData = {
        codigo: '',
        mensaje: '',
        rfc: '',
        serial: '',
      };
      /* eslint-disable */
      PKI.SAT.FielUtil.leeCertificado(this.cerFile, (errCode, result) => {
        console.log(errCode);
        if (errCode !== 0) {
          cerData.codigo = 400;
          cerData.mensaje = PKI.SAT.FielUtil.obtenMensajeError(errCode);
          console.log(cerData.mensaje);
          return;
        }
        let name = result.getSubjectString().substring(1);
        this.name = name.substring(name.indexOf('=') + 1, name.indexOf('/'));
        cerData.codigo = 200;
        cerData.rfc = result.getRFC();
        cerData.serial = result.getSerialNumberHex();
        this.rfc = cerData.rfc;
        this.serial = cerData.serial;
      });
    },
    signProcess() {
      /* if (this.rfc != this.user.rfc) {
        notifyAlert('El rfc de la efirma no coincide con el del remitente');
        return
      } */
      const { id } = this.$route.params;
      this.$q.loading.show({ message: 'Validando credenciales' });
      const type = this.form2.senders >= 1 ? 'toSign' : false;
      let iframe = document.getElementById('collabora-online-viewer');
      iframe = iframe.contentWindow || iframe.contentDocument.document || iframe.contentDocument;
      iframe.postMessage(
        JSON.stringify({
          MessageId: 'Action_Save',
          Values: {
            DontTerminateEdit: false,
            DontSaveIfUnmodified: true,
            Notify: true,
            ExtendedData: '',
          },
        }),
        "*"
      );
      let signData = {
        codigo: '',
        mensaje: '',
        chainSigned: '',
      };
      let fielData = {
        key: this.keyFile,
        pass: this.passwordPrivateKey,
        cer: this.cerFile,
        rfc: this.rfc,
      };
      ChecksignService.getChecksignKey()
        .then((data) => {
          this.checksignKey = data;
          let idVinculo = Object.values(this.checksignKey)[1].id;
          const ek = Object.values(this.checksignKey)[1].ek;
          const time = Object.values(this.checksignKey)[1].timestamp;
          const bf = new Blowfish(ek, Blowfish.MODE.ECB, Blowfish.PADDING.NULL);
          const serialEncoded = bf.encode(this.serial); // serial test
          let serialBase64 = btoa(serialEncoded);
          let cadena = `|| ${this.form2.entity} | ${this.form2.doc_type} | ${this.formFolio.folio} `;
          if (this.form2.folio_control) {
            cadena = `${cadena}| ${this.form2.folio_control} `;
          }
          cadena = `${cadena}| ${this.name} | ${this.form2.position.position_name} | ${fielData.rfc} | No. de paginas numPage | ${this.form2.document_date} ||`;
          PKI.SAT.FielUtil.validaFiel(
            fielData.key,
            fielData.pass,
            fielData.cer,
            function (errCode, result) {
              if (errCode != 0) {
                signData.codigo = 400;
                signData.mensaje = PKI.SAT.FielUtil.obtenMensajeError(errCode);
                notifyAlert(signData.mensaje);
                this.$q.loading.hide();
                return;
              }

              PKI.SAT.FielUtil.firmaCadena(
                fielData.key,
                fielData.pass,
                cadena,
                function (errCode, firma) {
                  if (errCode != 0) {
                    signData.codigo = 400;
                    signData.mensaje =
                      PKI.SAT.FielUtil.obtenMensajeError(errCode);
                    this.$q.loading.hide();
                    return;
                  }

                  signData.codigo = 200;
                  signData.mensaje = "Se ha firmado correctamente";
                  signData.chainSigned = firma;
                  let Efirma = firma;
                  let rfc = fielData.rfc;

                  ChecksignService.postChecksign({params: { idVinculo, serialBase64, cadena, Efirma, rfc }, })
                    .then((data) => {
                      const positionId = window.sessionStorage.getItem("position_id");
                      this.$q.loading.show({ message: 'Firmando y enviando documento.' });
                      if (this.affairType == 'internal') {
                        InternalAffairService.update({
                          type: type,
                          affair_status_id: 3,
                          efirma: firma,
                          cadena: cadena,
                          url: data.checksignResponse.url_verificacion,
                          form_folio: { ...this.formFolio },
                          position_id: positionId,
                          doc_type_id: this.form2.doc_type_id
                        },
                        id
                      ).then(() => {
                          notifySuccess("Documento firmado");
                          notifySuccess("Asunto enviado");
                          this.$router.push("/outbox");
                          this.$q.loading.hide();
                        })
                        .catch((err) => {
                          this.$q.loading.hide();
                          notifyAlert(err.response.data.message);
                          if (err.response.data.type==='cancelled') {
                            this.$router.push("/outbox");
                          }
                        });
                      }
                      if (this.affairType == 'output') {
                        OutputAffairService.update({
                          affair_status_id: 3,
                          efirma: firma,
                          cadena: cadena,
                          url: data.checksignResponse.url_verificacion,
                          form_folio: { ...this.formFolio },
                          position_id: positionId ,
                          doc_type_id: this.form2.doc_type_id
                        },id).then(() => {
                          notifySuccess("Documento firmado");
                          this.$q.loading.show({ message: 'Firmando y enviando documento.' });
                          notifySuccess("Asunto enviado");
                          this.$router.push("/outbox");
                          this.$q.loading.hide();
                        })
                        .catch((err) => {
                          this.$q.loading.hide();
                          notifyAlert(err.response.data.message);
                        });
                      }
                    })
                    .catch((err) => {
                      console.log(err);
                      this.$q.loading.hide();
                      notifyError("El servidor de validación de la firma electrónica(Gobierno Digital), esta tardando en responder. Por favor espere unos minutos para volver a intentarlo 1001");
                    });
                }.bind(this)
              );
            }.bind(this)
          );
          this.Dialogsignature = false;
        })
        .catch((error) => {
          console.log("There was an error: ", error);
          this.$q.loading.hide();
          notifyError("El servidor de validación de la firma electrónica(Gobierno Digital), esta tardando en responder. Por favor espere unos minutos para volver a intentarlo 1002");
        })
        .finally(() => {
        });
    },
  }
}
</script>
