<template>
  <q-card style="width: 700px; max-width: 80vw; height: 500px; max-height:65h">
    <q-tabs
      v-model="tab"
      dense
      active-color="black"
      indicator-color="black"
      align="justify"
      narrow-indicator
      class="text-grey shadow-2"
    >
      <q-tab name="info" label="información general" />
      <q-separator vertical />
      <q-tab v-if="affair.annexes.length > 0" name="attached" label="Archivos adjuntos" />
    </q-tabs>

    <q-separator />

    <q-tab-panels v-model="actionTab" animated>
      <q-tab-panel name="info" >
        <q-card-section>
          <q-card bordered flat class="bg-grey-4">
            <q-card-section horizontal>
              <q-card-section>
                <div class="text-h6">{{ affair.folio }}</div>
                <div class="text-subtitle2">{{ affair.position_name }}</div>
                <div class="text-subtitle2">{{ affair.people_name }} {{ affair.last_name }} {{ affair.second_lastname }}</div>
              </q-card-section>

              <q-separator vertical inset/>

              <q-card-section>
                <div class="text-body2 q-mb-sm">Prioridad: {{ affair.priority }}</div>
                <div class="text-body2 q-mb-sm">Tipo de documento: {{ affair.document_type }}</div>
                <div class="text-body2 q-mb-sm">Medio de recepcion: {{ affair.reception_type }}</div>
              </q-card-section>
            </q-card-section>
            <q-separator/>
            <q-card-section>
                <div class="text-caption q-mb-sm">Asunto: {{ affair.subject }}</div>
                 <div class="text-caption q-mb-sm">Descripción: {{ affair.description }}</div>
                <div class="text-caption q-mb-sm">
                  Enviado: {{ new Date(affair.date_send).getDate() }}/{{ (new Date(affair.date_send).getMonth()+1) }}/{{ new Date(affair.date_send).getFullYear() }}
                  a las: {{ new Date(affair.date_send).getHours() }}:{{ (new Date(affair.date_send).getMinutes()).toString().length === 1 ? `0${(new Date(affair.date_send).getMinutes()).toString()}` : new Date(affair.date_send).getMinutes()}}
                </div>
                <div class="text-caption q-mb-sm">Fecha de compromiso: {{ affair.attention_date }}</div>
                <div class="text-caption q-mb-sm">Fecha de recepcion: {{ affair.reception_date }}</div>
                <div class="text-caption q-mb-sm">Hora de recepcion: {{ affair.reception_time }}</div>
                <div class="text-caption q-mb-sm">Fecha del documento:{{ affair.document_date }}</div>
            </q-card-section>
            <q-separator/>
            <q-card-section style="height: 35vh" class="scroll">
              <div v-if="affair.to">
                <div class="text-body1">Para:</div>
                <q-list separator>
                  <q-item clickable v-ripple v-for="to in affair.to" :key="to.id">
                    <q-item-section>
                      <q-item-label>{{ to.name }} {{ to.last_name }} {{ to.second_lastname }}</q-item-label>
                      <q-item-label caption>{{ to.position_name }}</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
              <div v-if="affair.ccp && affair.ccp.length > 0">
                <div class="text-body1">Ccp:</div>
                <q-list separator>
                  <q-item clickable v-ripple v-for="ccp in affair.ccp" :key="ccp.id">
                    <q-item-section>
                      <q-item-label>{{ ccp.name }} {{ ccp.last_name }} {{ ccp.second_lastname }}</q-item-label>
                      <q-item-label caption>{{ ccp.position_name }}</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
            </q-card-section>
          </q-card>
        </q-card-section>
      </q-tab-panel>

      <q-tab-panel name="attached">
        <q-card-section>
          <q-card bordered flat>
            <q-card-section style="height: 55vh" class="scroll">
              <q-item clickable v-ripple v-for="annexe in affair.annexes" :key="annexe.id" @click="renderpdf(annexe.id)">
                <q-item-section side>
                  <q-avatar rounded size="48px">
                    <img src="~assets/img/pdf.png" />
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{annexe.originalname}}</q-item-label>
                </q-item-section>
              </q-item>
            </q-card-section>
          </q-card>
        </q-card-section>
      </q-tab-panel>
    </q-tab-panels>
    <q-dialog v-model="officeDialog" full-height full-width>
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-card>
</template>

<script>

export default {
  props: {
    affair: Object,
  },
  data() {
    return {
      actionTab: 'info',
      officeDialog: false,
      src: '',
    }
  },
  methods: {
    renderpdf(id) {
      this.src = `${this.$axios.defaults.baseURL}/api/externalFiles/show/pdf/${id}`;
      this.officeDialog = true;
    },
  },
}
</script>
