<template>
  <q-card style="width: 800px; max-width: 80vw;">
    <q-card-section class="bg-primary text-white row items-center row items-center">
      <q-icon name="fas fa-history" color="secondary" :size="'lg'"/>
      <span class="q-ml-md text-h6">Historia</span>
      <q-space />
      <q-btn class="items-right" icon="close" flat round dense v-close-popup />
    </q-card-section>
    <q-separator />
    <q-card-section>
      <div class="row items-center justify-between">

        <q-card  flat bordered v-if="originAffair">
          <q-card-section horizontal>
            <q-card-section class="q-pt-xs">
              <div v-if=" originAffair.folio == null ">
                <div class="text-subtitle2 q-mt-sm q-mb-xs">
                  <q-icon size="sm" name="far fa-file-alt"/> Folio: Aún no se genera el Folio
                </div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Tipo de documento: {{ originAffair.doc_type_name }}</div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Folio de control: {{ originAffair.folio_control }}</div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Prioridad: {{ originAffair.priority_name }}</div>
              </div>
              <div v-if=" originAffair.folio != null ">
                <div class="text-subtitle2 q-mt-sm q-mb-xs">
                  <q-icon size="sm" name="far fa-file-alt"/> Folio: {{ originAffair.folio }}
                </div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Tipo de documento: {{ originAffair.doc_type_name }}</div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Folio de control: {{ originAffair.folio_control }}</div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Prioridad: {{ originAffair.priority_name }}</div>
              </div>
            </q-card-section>
          </q-card-section>

          <q-separator />
            <q-card-section class="q-pt-xs">
              <div class="text-subtitle2 q-mt-sm q-mb-xs">Fecha del documento: {{originAffair.creation_date}}</div>
            </q-card-section>
        </q-card>

        <q-card flat v-if="originAffair">
          <q-icon name="east" color="secondary" :size="'xl'"/>
        </q-card>

        <q-card  flat bordered v-if="replyAffair">
          <q-card-section horizontal>
            <q-card-section class="q-pt-xs">
              <div v-if=" replyAffair.folio == null ">
               <div class="text-subtitle2 q-mt-sm q-mb-xs">
                  <q-icon size="sm" name="far fa-file-alt"/> Folio: Aún no se genera el Folio
                </div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Tipo de documento: {{ replyAffair.doc_type_name }}</div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Folio de control: {{ replyAffair.folio_control }}</div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Prioridad: {{ replyAffair.priority_name }}</div>
              </div>
              <div v-if=" replyAffair.folio != null ">
                <div class="text-subtitle2 q-mt-sm q-mb-xs">
                  <q-icon size="sm" name="far fa-file-alt"/> Folio: {{ replyAffair.folio }}
                </div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Tipo de documento: {{ replyAffair.doc_type_name }}</div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Folio de control: {{ replyAffair.folio_control }}</div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Prioridad: {{ replyAffair.priority_name }}</div>
              </div>
            </q-card-section>
          </q-card-section>
          <q-separator />
            <q-card-section class="q-pt-xs">
              <div class="text-subtitle2 q-mt-sm q-mb-xs">Fecha del documento: {{replyAffair.creation_date}}</div>
            </q-card-section>
        </q-card>
        <q-card  flat v-if="replyAffair.affair_status_id === 8">
          <q-card-section horizontal>
            <q-card-section class="q-pt-xs">
              <q-card  flat>
                  <q-card-section class="q-pt-xs">
                    <div class="text-title2 q-mt-sm q-mb-xs text-red" color="red"><h5>DOCUMENTO CANCELADO</h5></div>
                  </q-card-section>
              </q-card>
            </q-card-section>
          </q-card-section>
          <q-card-section class="q-pt-xs">
              <div class="text-subtitle2 q-mt-sm q-mb-xs">Motivo: <br>{{replyAffair.motive}}</div>
          </q-card-section>
        </q-card>

        <q-card flat v-if="replyAffair.affair_origin_bis">
          <q-icon name="east" color="secondary" :size="'xl'"/>
        </q-card>

        <q-card  flat bordered v-if="replyAffair.affair_origin_bis" @click="redirectOriginBis(replyAffair.affair_origin_bis.id)">
          <q-card-section class="q-pt-xs">
            <div class="text-subtitle2 q-mt-sm q-mb-xs">Documento de origen</div>
          </q-card-section>
          <q-separator />
          <q-card-section horizontal>
            <q-card-section class="q-pt-xs">
              <div v-if=" replyAffair.folio != null ">
                <div class="text-subtitle2 q-mt-sm q-mb-xs">
                  <q-icon size="sm" name="far fa-file-alt"/> Folio: {{ replyAffair.affair_origin_bis.folio }}
                </div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Tipo de documento: {{ replyAffair.affair_origin_bis.doc_type_name }}</div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Folio de control: {{ replyAffair.affair_origin_bis.folio_control }}</div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Prioridad: {{ replyAffair.affair_origin_bis.priority_name }}</div>
              </div>
            </q-card-section>
          </q-card-section>
          <q-separator />
            <q-card-section class="q-pt-xs">
              <div class="text-subtitle2 q-mt-sm q-mb-xs">Fecha del documento: {{replyAffair.affair_origin_bis.creation_date}}</div>
            </q-card-section>
        </q-card>

      </div>
    </q-card-section>
    <q-card-section>
      <div class="text-h6">
        Respuestas Faltan {{ pending }} respuesta(s)
      </div>
      <q-card-section v-if="replys == []" class="q-pt-xs">
        <div class="text-subtitle2 q-mt-sm q-mb-xs">
          <q-icon size="sm" name="sentiment_dissatisfied"/> Aún no se generan respuestas para este documento.
        </div>
      </q-card-section>
    </q-card-section>
    <q-card-section v-if="replys">
      <q-card v-for="reply in replys" :key="reply.id" class="q-mb-md" flat bordered clickable @click="redirectEdit(reply.id)" style="cursor: pointer">
        <q-card-section>
          <div class="text-subtitle2 q-mt-sm q-mb-xs">
                  <q-icon size="sm" name="far fa-file-alt"/> Folio: {{ reply.folio | 'Folio no generado' }}
                </div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Tipo de documento: {{ reply.doc_type_name }}</div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Folio de control: {{ reply.subject }}</div>
                <div class="text-text-body2 q-mt-sm q-mb-xs">Prioridad: {{ reply.priority_name }}</div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <div class="text-subtitle2 q-mt-sm q-mb-xs">Fecha de Envio: {{reply.sent_date}}</div>
        </q-card-section>
      </q-card>
    </q-card-section>
    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-card>
</template>

<script>
import * as InternalAffairService from 'src/services/InternalAffairService';
import * as UploadFileService from 'src/services/global/UploadFileService';
import * as ExternalAffairReceptionService from 'src/services/receipt/ExternalAffairReceptionService';
import * as InputDigitalAffairService from 'src/services/InputDigitalAffairService';
import * as OutputAffairService from 'src/services/OutputAffairService';

export default {
  props: {
    affairId: Number,
    typeAffair: String
  },
  data() {
    return {
      originAffair: {},
      replyAffair: {},
      officeDialog: false,
      replys: [],
      src: '',
      pending: ''
    }
  },
  methods: {
    renderpdf(id) {
      UploadFileService.showFile(id).then((file) => {
        this.src = window.URL.createObjectURL(new Blob([file.data]));
        this.officeDialog = true;
      }).catch((err) => {
        console.log(err)
      })
    },
    redirectEdit(affairId) {
      const url = this.$route.path
      const expression = '(internal-affair/)([^ ]*)(/edit)'
      const regex = new RegExp(expression);
      if (this.typeAffair === 'Asunto Interno') {
        this.$router.push(`/internal-affair/${affairId}/edit`)
      } else if (this.typeAffair === 'Asunto externo de entrada') {
        this.$router.push(`/output-affair/${affairId}/edit`);
      } else if (this.typeAffair === 'Asunto externo digital de salida') {
        this.$router.push(`input-digital-affair/${affairId}/edit`)
      }
      if (url.match(regex)) {
        window.location.reload()
      }
    },
    redirectOriginBis(affairId) {
      const url = this.$route.path
      const expression = '(internal-affair/)([^ ]*)(/edit)'
      const regex = new RegExp(expression);
      if (this.typeAffair === 'Asunto Interno') {
        this.$router.push(`/internal-affair/${affairId}/edit`)
      } else if (this.typeAffair === 'Asunto externo de entrada') {
        this.$router.push(`/output-affair/${affairId}/edit`);
      } /* else if (affairType === 'Asunto externo digital de entrada') {
        this.$router.push(`input-digital-affair/${affairId}/edit`)
      } */
      if (url.match(regex)) {
        window.location.reload()
      }
    }
  },
  created() {
    // console.log(this.typeAffair);
    if (this.typeAffair === 'Asunto Interno') {
      InternalAffairService.getHistory(this.affairId).then((data) => {
        this.originAffair = data.affair_origin
        this.replyAffair = data.affair_reply
        this.replys = data.replys
        this.pending = data.pending
      })
    } else if (this.typeAffair === 'Asunto externo de entrada') {
      ExternalAffairReceptionService.getHistory(this.affairId).then((data) => {
        this.originAffair = data.affair_origin
        this.replyAffair = data.affair_reply
        this.replys = data.replys
        this.pending = data.pending
      })
    } else if (this.typeAffair === 'Asunto externo digital de entrada') {
      InputDigitalAffairService.getHistory(this.affairId).then((data) => {
        this.originAffair = data.affair_origin
        this.replyAffair = data.affair_reply
        this.replys = data.replys
        this.pending = data.pending
      })
    } else if (this.typeAffair === 'Asunto externo de salida') {
      OutputAffairService.getHistory(this.affairId).then((data) => {
        this.originAffair = data.affair_origin
        this.replyAffair = data.affair_reply
        this.replys = data.replys
        this.pending = data.pending
      })
    }
  },
}
</script>
