<template>
  <q-card style="width: 700px; max-width: 80vw; height: 500px;">
    <q-card-section>
      <q-card bordered flat>
        <q-card-section horizontal>
          <q-card-section>
            <div class="text-h6">{{ rejectedAffair.folio }}</div>
            <div class="text-subtitle2">{{ rejectedAffair.position_name }} / {{ rejectedAffair.people_name }} {{ rejectedAffair.last_name }} {{ rejectedAffair.second_lastname }}</div>
          </q-card-section>

          <q-separator vertical/>

          <q-card-section>
            <div class="text-body1 q-mb-sm">Prioridad de envío: {{ rejectedAffair.priority }}</div>
            <div class="text-body1">Estatus: {{ rejectedAffair.affair_status_name }}</div>
          </q-card-section>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <div class="text-h6">Asunto:</div>
          <div class="text-body1"> {{ rejectedAffair.subject }}</div>
            <div class="text-caption">
              Enviado: {{ new Date(rejectedAffair.date_send).getDate() }}/{{ (new Date(rejectedAffair.date_send).getMonth()+1) }}/{{ new Date(rejectedAffair.date_send).getFullYear() }}
              a las: {{ new Date(rejectedAffair.date_send).getHours() }}:{{ (new Date(rejectedAffair.date_send).getMinutes()).toString().length === 1 ? `0${(new Date(rejectedAffair.date_send).getMinutes()).toString()}` : new Date(rejectedAffair.date_send).getMinutes()}} hrs
            </div>
        </q-card-section>
        <q-separator/>
        <q-card-section class="scroll">
          <div v-if="rejectedAffair.to">
            <div class="text-h6">Rechazado por:</div>
            <q-list separator>
              <q-item clickable v-ripple v-for="to in rejectedAffair.to" :key="to.id">
                <q-item-section>
                  <q-item-label>{{ to.name }} {{ to.last_name }} {{ to.second_lastname }}</q-item-label>
                  <q-item-label caption>{{ to.position_name }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
          <div v-if="rejectedAffair.ccp && rejectedAffair.ccp.length > 0">
            <div class="text-body1">Ccp:</div>
            <q-list separator>
              <q-item clickable v-ripple v-for="ccp in rejectedAffair.ccp" :key="ccp.id">
                <q-item-section>
                  <q-item-label>{{ ccp.name }} {{ ccp.last_name }} {{ ccp.second_lastname }}</q-item-label>
                  <q-item-label caption>{{ ccp.position_name }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-card-section>
        <q-separator/>
        <q-card-section horizontal>
          <q-card-section>
            <div class="text-h6">Motivo de rechazo</div>
            <div class="text-body1">{{ rejectedAffair.cat_rejection_reason }}</div>
            <div class="text-caption">
              Rechazado: {{ new Date(rejectedAffair.rejection_date).getDate() }}/{{ new Date(rejectedAffair.rejection_date).getMonth()+1 }}/{{ new Date(rejectedAffair.rejection_date).getFullYear() }}
              a las: {{ new Date(rejectedAffair.rejection_date).getHours() }}:{{ new Date(rejectedAffair.rejection_date).getMinutes() }} hrs
            </div>
          </q-card-section>
          <q-separator vertical/>
          <q-card-section v-if="rejectedAffair.rejection_reason !== null">
            <div class="text-h6">Descripción de rechazo</div>
            {{ rejectedAffair.rejection_reason }}
          </q-card-section>

          <q-card-section v-else>
            <div class="text-h6">Sin detalles de rechazo</div>
          </q-card-section>
        </q-card-section>
      </q-card>
    </q-card-section>

    <q-dialog v-model="officeDialog" full-height full-width >
      <q-card style="width: 50vw; overflow-y: hidden;">
        <q-card-section class="full-height">
          <q-btn class="float-right" flat v-close-popup icon-right="close" label="Cerrar" />
          <q-pdfviewer
            v-model="officeDialog"
            :src="src"
            type="pdfjs"
            content-class="fit container"
            inner-content-class="fit container"
          />
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-card>
</template>

<script>
export default {
  props: {
    rejectedAffair: Object,
  },
  data() {
    return {
      actionTab: 'info',
      officeDialog: false,
      src: '',
    }
  },
  methods: {
    renderpdf(id) {
      this.src = `${this.$axios.defaults.baseURL}/api/files/show/pdf/${id}`;
      this.officeDialog = true;
    },
  },
}
</script>
