<template>
  <q-card style="width: 700px; max-width: 80vw">
    <q-card-section class="row items-center q-pb-xs">
      <q-icon name="block" color="primary" :size="'lg'" />
      <span class="q-ml-md text-h6">Razón de rechazo</span>
      <q-space />
      <q-btn
        class="float-right"
        flat
        v-close-popup
        icon-right="close"
        label="Cerrar"
      />
    </q-card-section>
    <q-separator />
    <q-card-section>
      <q-form ref="form" @submit.prevent="() => {}">
        <q-select clearable class="q-mg-lt" outlined label="Razón"
          :options="catalogs.cat_rejection_reasons"
          option-label="description"
          option-value="id"
          v-model="reason_id"
          map-options
          :rules="[(val) => !!val || 'Este campo es obligatorio']"
        />
      </q-form>
    </q-card-section>
    <q-card-actions align="right">
      <q-btn color="primary" label="Cancelar" v-close-popup />
      <q-btn color="primary" label="Aceptar" @click="reject()" />
    </q-card-actions>
  </q-card>
</template>

<script>

import { notifySuccess, notifyAlert } from 'src/utils/notify';
import * as TurnService from 'src/services/TurnService';

export default {
  props: {
    turnId: Number
  },

  data() {
    return {
      reason_id: ''
    }
  },
  created() {
    const catalogsConfiguration = { cat_rejection_reasons: true };
    this.$q.loading.show();
    this.$store
      .dispatch('catalogs/setCatalogs', { params: catalogsConfiguration })
      .then(() => {
        this.$q.loading.hide();
      });
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  methods: {
    reject() {
      const form = { status_id: 5, reject_reason_id: this.reason_id.id };
      this.$refs.form.validate().then((valid) => {
        if (valid) {
          this.$q.loading.show();
          TurnService.update(form, this.$props.turnId).then(() => {
            notifySuccess()
            this.$router.back()
            this.$q.loading.hide();
          }).catch(() => {
            this.$q.loading.hide();
            notifyAlert()
          })
        }
      })
    },
  }
}
</script>
