<template>
  <div>
    <!-- {{from}} -->
    <div class="row q-col-gutter-sm">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <q-card flat>
          <div class="text-h6">
            <q-btn class="float-right" round size="sm" @click="dialogPeople=true;optionDialog='to'" outline color="primary" icon="fas fa-plus"/>
          </div>
          <div class="row q-col-gutter-sm q-mt-sm">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="text-h6 q-ml-md">
                <q-icon size="sm" color="primary" name="mail"/> Enviar a
              </div>
              <q-card
                flat
                bordered
                class="row q-col-gutter-sm q-mt-md q-py-md q-ml-md items-center"
                v-for="(user, index) in toPeople"
                :key="user.id">
                <div class="col-10">
                  <div class="row">
                    <div class="col-2 text-center" @mouseover="user.hover = true">
                      <q-avatar size="30px">
                        <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
                        <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                      </q-avatar>
                    </div>
                    <div class="col-10 text-subtitle1">
                      {{ `${user.full_name} / ${user.unit}` }}
                    </div>
                  </div>
                </div>
                <q-btn round dense flat icon="close" v-if="(index !== 0 && reply) || (!reply)" @click="Delete(user.id)"/>
              </q-card>
            </div>
          </div>
        </q-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <q-card flat>
          <div class="text-h6">
            <q-btn class="float-right" round size="sm" @click="dialogPeople=true;optionDialog='cpp'" outline color="primary" icon="fas fa-plus"/>
          </div>
          <div class="row q-col-gutter-sm q-mt-sm">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="text-h6 q-ml-md">
                <q-icon size="sm" color="primary" name="fas fa-copy"/> Con copia para
              </div>
              <q-card
                flat
                bordered
                class="row q-col-gutter-sm q-mt-md q-py-md q-ml-md items-center"
                v-for="(user) in ccpPeople"
                :key="user.id">
                <div class="col-10">
                  <div class="row">
                    <div class="col-3 text-center" @mouseover="user.hover = true">
                      <q-avatar size="30px">
                        <q-img v-if="user.file_id" :src="`${this.$axios.defaults.baseURL}/api/files/image/${user.file_id}?w=150&h=150`" spinner-color="white"/>
                        <q-img v-if="!user.file_id" src="~assets/img/user.png" style="width:30px;height:30px;"/>
                      </q-avatar>
                    </div>
                    <div class="col-7 text-subtitle1">
                      {{ `${user.full_name} / ${user.unit}` }}
                    </div>
                  </div>
                </div>
                <q-btn round dense flat icon="close" @click="DeleteCcp(user.id)"/>
              </q-card>
            </div>
          </div>
        </q-card>
      </div>
    </div>
    <q-dialog v-model="dialogPeople" persistent>
      <q-card style="width: 450px">
        <q-card-section class="q-pb-none">
          <div class="text-h6">
            <q-icon size="sm" color="primary" name="mail"/> Agregar destino
          </div>
        </q-card-section>
        <q-separator/>
        <q-card-section class="q-pt-none">
          <q-form
            ref="sendToform"
          >
            <!-- <q-select clearable outlined v-model="people.unit" class="q-mt-lg"
              option-value="id"
              option-label="name"
              :options="UnitsOptions"
              use-input
              hide-selected
              fill-input
              label="Unidad"
              @filter="searchUnit"
              @input="filterPositions"
              @clear="() => {(PositionOptions = []), (people.user = null);}"
              :rules="[$rules.required($i18n.t('requiredInput'))]"/> -->
            <q-select id="addressee" clearable v-model="people.user" class="q-mt-lg"
              :loading="loadingResponsible"
              outlined
              option-value="id"
              option-label="full_name"
              :options="ResponsibleOptions"
              use-input
              hide-selected
              fill-input
              label="Persona"
              @filter="searchResponsible"
              @input="people.position_id == people.user.position_id"
              :rules="[$rules.required($i18n.t('requiredInput'))]"
            />
          </q-form>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn color="primary" label="Cancelar" @click="Cancel()"/>
          <q-btn color="primary" @click="Add()">{{ nameButton }}</q-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { notifyError, notifySuccess } from 'src/utils/notify';
import * as CatalogService from 'src/services/admin/CatalogService';
// import * as UnitService from 'src/services/admin/catalogs/UnitService';

export default {
  name: 'SendTo',
  props: {
    toPeople: Array,
    ccpPeople: Array,
    reply: Boolean,
    from: String
  },
  data() {
    return {
      submitting: false,
      ResponsibleOptions: [],
      loadingResponsible: false,
      PositionOptions: [],
      InitialPositionOptions: [],
      loadingPosition: false,
      UnitsOptions: [],
      InitialUnitsOptions: [],
      loadingUnits: false,
      dialogPeople: false,
      optionDialog: '',
      nameButton: 'Agregar',
      people: {
        id: '',
        user: '',
        full_name: '',
        entity: '',
        unit: '',
        position_name: '',
        position_id: '',
        hover: false,
        position: '',
      },
    }
  },
  computed: {
    catalogs: {
      get() {
        return this.$store.state.catalogs;
      },
      set(val) {
        this.$store.commit('catalogs/setCatalogs', val)
      }
    },
    user: {
      get() {
        return this.$store.state.user.information;
      }
    },
  },
  created() {
    this.getAllResponsibles()
    this.ResponsibleOptions = this.$refs.InitialResponsibleOptions
  },
  methods: {
    Add() {
      this.$refs.sendToform.validate().then((valid) => {
        const idArrayto = this.toPeople.map((obj) => obj.id)
        const idArrayccp = this.ccpPeople.map((obj) => obj.id)
        const option = this.optionDialog
        console.log(this.people.user)
        this.people.id = this.people.user.id
        this.people.full_name = this.people.user.full_name
        this.people.position_id = (this.people.position.id) ? this.people.position.id : this.people.user.position_id
        const unitName = this.catalogs.units.find((unidad) => unidad.id === this.people.user.cat_unit_id);
        this.people.unit = unitName.name
        if (valid) {
          if (idArrayto.includes(this.people.id) || idArrayccp.includes(this.people.id)) {
            notifyError('Usuario repetido')
          } else if (option === 'to') {
            this.toPeople.push({ ...this.people })
            notifySuccess('Usuario agregado correctamente')
            this.nameButton = 'Agregar otro'
          } else if (option === 'cpp') {
            this.ccpPeople.push({ ...this.people })
            notifySuccess('Usuario con copia agregado correctamente')
            this.nameButton = 'Agregar otro cpp'
          }
          this.submitting = false;
          this.people.entity = ''
          this.people.unit = ''
          this.people.user = ''
          this.people.id = ''
          this.people.position = ''
          this.people.position_id = ''
        }
      })
    },
    Cancel() {
      this.dialogPeople = false
      this.nameButton = 'Agregar'
      this.getAllResponsibles()
      this.ResponsibleOptions = this.$refs.InitialResponsibleOptions
      this.people.entity = ''
      this.people.unit = ''
      this.people.user = ''
      this.people.id = ''
      this.people.position = ''
    },
    Delete(id) {
      // console.log(id);
      if (id >= 1) {
        const index = this.toPeople.findIndex((x) => x.id === id);
        this.toPeople.splice(index, 1)
        this.id -= 1
      }
    },
    DeleteCcp(id) {
      if (id >= 1) {
        const index = this.ccpPeople.findIndex((x) => x.id === id);
        this.ccpPeople.splice(index, 1)
        this.id -= 1
      }
    },
    searchResponsible(val, update) {
      const stringOptions = this.InitialResponsibleOptions
      update(() => {
        const needle = val.toLowerCase()
        this.ResponsibleOptions = stringOptions.filter((v) => v.full_name.toLowerCase().indexOf(needle) > -1)
      })
    },
    getAllResponsibles() {
      CatalogService.getResponsible(0).then((people) => {
        this.InitialResponsibleOptions = people
        // console.log(this.InitialResponsibleOptions);
        const id = this.toPeople.map((obj) => obj.position_id).pop()
        const positionId = parseInt(window.sessionStorage.getItem('position_id'), 10);
        if (this.$route.params.id !== undefined) {
          this.InitialResponsibleOptions = people.filter((obj) => obj.position_id !== id)
          if (this.$props.from === 'replyInternalAffair') {
            this.InitialResponsibleOptions = people.filter((obj) => obj.position_id !== positionId)
          }
          this.ResponsibleOptions = this.InitialResponsibleOptions
          return
        }
        if (this.$props.from === 'internalAffair') {
          this.InitialResponsibleOptions = people.filter((obj) => obj.position_id !== positionId)
          // console.log(this.InitialResponsibleOptions)
        }
        // console.log(this.ResponsibleOptions);
        this.ResponsibleOptions = this.InitialResponsibleOptions
        this.loadingResponsible = false;
      })
    },
  },
}
</script>
